<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="applicable-device" content="pc" />
<meta name="location" content="province={dede:global.cfg_province/};city={dede:global.cfg_city/}" />
<title>{dede:global.cfg_webname/}</title>
<script language="JavaScript" type="text/javascript" src="/js/uadirect.js"></script>
<meta http-equiv="mobile-agent" content="format=html5;url={dede:global.cfg_waphost/}/" />
<meta name="mobile-agent" content="format=xhtml;url={dede:global.cfg_waphost/}" />
<meta name="description" content="{dede:global.cfg_description/}" />
<meta name="keywords" content="{dede:global.cfg_keywords/}" />
<link href="{dede:global.cfg_templets_skin/}/static/css/global.css" rel="stylesheet" />
<script type="text/javascript" src="{dede:global.cfg_templets_skin/}/static/js/MSClass.js"></script>
<link rel="canonical" href="{dede:global.cfg_basehost/}">
</head>
<body>
{dede:include file='head.htm'/}
<div id="wrap">
  <div class="main">
    <div class="left">
    <div class="pro-list">
        <div class="pro-list-t"></div>
        <div class="pro-list-box">
        <ul>
            {dede:channel type='son' row='6'}
            <li><a href="[field:typelink/]">[field:typename/]</a></li>
            {/dede:channel}
        </ul>
        </div>
    </div>
    <div class="cl10"></div>
    <div class="contact">
        <div class="contact-t"></div>
        <div class="contact-box"> 电    话：{dede:global.cfg_tel/}<br />
        传  真：{dede:global.cfg_fax/}<br />
        QQ在线：{dede:global.cfg_qq/}<br />
        邮  箱：{dede:global.cfg_email/}<br />
        </div>
    </div>
    </div>
    <div class="news">
    <div class="news-t"><span class="more"><a href="{dede:type typeid='3'}[field:typelink/]{/dede:type}" class="more"></a></span></div>
    <div class="news-box">
        <ul>
        {dede:arclist row='7' typeid='3' titlelen='60'}
        <li><span class="date">[field:pubdate function="date('Y-m-d',@me)"/]</span><a href="[field:arcurl/]" title="[field:fulltitle/]">[field:title/]</a></li>
        {/dede:arclist}
        </ul>
    </div>
    </div>
    <div class="hdp">
    <div class="hdp-t"></div>
    <div class="hdp-box">
        <OBJECT
            codeBase=http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0 height=200 width=205 classid=clsid:D27CDB6E-AE6D-11cf-96B8-444553540000>
            <PARAM NAME="movie" VALUE="{dede:global.cfg_templets_skin/}/static/swf/Flvplayer.swf?vcastr_file={dede:global.cfg_templets_skin/}/static/swf/video.flv&amp;IsAutoPlay=0">
            <PARAM NAME="quality" VALUE="high">
            <PARAM NAME="allowFullScreen" VALUE="true">
            <PARAM NAME="IsAutoPlay" VALUE="1">
            <PARAM NAME="PLAY" VALUE="false">
            <embed src="{dede:global.cfg_templets_skin/}/static/swf/Flvplayer.swf?vcastr_file={dede:global.cfg_templets_skin/}/static/swf/video.flv&IsAutoPlay=0" width="205" height="200" allowfullscreen="true" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash"></embed>
        </OBJECT>
    </div>
    </div>
    <div class="about">
    <div class="about-t"><span class="more"><a href="{dede:type typeid='1'}[field:typelink/]{/dede:type}" class="more"></a></span></div>
    <div class="about-box"> <img src="{dede:global.cfg_templets_skin/}/static/images/pic.jpg" />{dede:global.cfg_about/} </div>
    </div>
    <div class="show">
    <div class="show-box">
        <div class="show-t"><span class="more"><a href="{dede:type typeid='2'}[field:typelink/]{/dede:type}" class="more"></a></span></div>
        <div ID="MarqueeDiv2" style="width:625px;overflow:hidden;float:left; margin:10px 0 0 10px;_margin:10px 0 0 5px;">
        <TABLE style="WIDTH:625px; BORDER-COLLAPSE: collapse;display:inline;" cellSpacing=0 cellPadding=0 align=center border=0>
            <TBODY>
            <TR> {dede:arclist row='10'}
                <td><a href="[field:arcurl/]" title="[field:fulltitle/]" style="width:155px; height:150px; display:block; font-size:12px; text-align:center; margin-left:10px;"><img src="[field:litpic/]" width="153px" height="120px" style="border:1px solid #CCC; padding:1px; " /><br />
                [field:title/]</a></td>
                {/dede:arclist} </TR>
            </TBODY>
        </TABLE>
        </div>
    </div>
    </div>
  </div>
</div>
</div>
<div class="cl10"></div>
<div class="foot">
<b>友情链接：</b>
{dede:flink row='24'}[field:link/] {/dede:flink}<Br />
技术支持： 建议在1440*900分辨率下观看 效果更佳<Br />
  {dede:global.cfg_beian/}　电话：{dede:global.cfg_tel/}　地址：</div>

<script type="text/javascript">
var MarqueeDiv2Control=new Marquee("MarqueeDiv2");  //箭头控制滚动方向、加速及鼠标拖动实例
MarqueeDiv2Control.Direction="left";
MarqueeDiv2Control.Step=1;
MarqueeDiv2Control.Width=960;
MarqueeDiv2Control.Height=300;
MarqueeDiv2Control.Timer=20;
MarqueeDiv2Control.ScrollStep=1;//若为-1则禁止鼠标控制实例
MarqueeDiv2Control.Start();
function right() {
    MarqueeDiv2Control.Direction=3;
}
function left() {
    MarqueeDiv2Control.Direction=2;
}
</script>
</body>
</html>
