<div class="left">
  <div class="pro-list">
    <div class="pro-list-t"></div>
    <div class="pro-list-box">
      <ul>
        {dede:channel type='son' typeid='2'}
        <li><a href="[field:typelink/]">[field:typename/]</a></li>
        {/dede:channel}
      </ul>
    </div>
  </div>
  <div class="cl10"></div>
  <div class="contact">
    <div class="contact-t"></div>
    <div class="contact-box"> 电    话：{dede:global.cfg_tel/}<br />
      传    真：{dede:global.cfg_fax/}<br />
      QQ在线：{dede:global.cfg_qq/}<br />
      邮    箱：{dede:global.cfg_email/}<br />
    </div>
  </div>
</div>
