<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="applicable-device" content="pc">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{dede:field.title/}_{dede:global.cfg_titlelast/}</title>
<meta name="keywords" content="{dede:field name='keywords'/}" />
<meta name="description" content="{dede:field name='description' function='html2text(@me)'/}" />
<link href="{dede:global.cfg_templets_skin/}/static/css/global.css" rel="stylesheet" />
</head>
<body>
{dede:include file='head.htm'/}
<div id="wrap" >
  <div class="main"> {dede:include file='left.htm'/}
    <div class="all">
      <div class="all-t"><img src="{dede:global.cfg_templets_skin/}/static/images/show_{dede:field.typeid function="GetTopId(@me)"/}.jpg" /></div>
      <div class="all-top"></div>
      <div class="all-box">
        <div class="product-box">
          <ul>
          	{dede:list pagesize='9' titlelen='42'}
            <li><a href="[field:arcurl/]" title="[field:fulltitle/]"><img src="[field:litpic/]" alt="[field:fulltitle/]"  width="220" height="180" /></a><br />
              <a href="[field:arcurl/]">[field:title/]</a></li>
            {/dede:list}
          </ul>
        </div>
        <div class="page"><ul>{dede:pagelist listitem="info,index,end,pre,next,pageno,option" listsize="5"/}</ul></div>
      </div>
      <div class="all-bottom"></div>
    </div>
  </div>
</div>
<div class="cl10"></div>
{dede:include file='foot.htm'/}
</div>
</div>
</body>
</html>
