<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="applicable-device" content="pc">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{dede:field.title/}_{dede:global.cfg_titlelast/}</title>
<meta name="keywords" content="{dede:field name='keywords'/}" />
<meta name="description" content="{dede:field name='description' function='html2text(@me)'/}" />
<link href="{dede:global.cfg_templets_skin/}/static/css/global.css" rel="stylesheet" />
<script type="text/javascript" src="{dede:global.cfg_templets_skin/}/static/js/jquery.js"></script>
<script>
function checkForm()
{
	if($('#name').val()=='')
	{
		alert('提示：请输入联系人姓名！');
		return false;
	}
	if($('#telephone').val()=='')
	{
		alert('提示：请输入您的电话号码！');
		return false;
	}
	if($('#address').val()=='')
	{
		alert('提示：请输入您的地址信息！');
		return false;
	}
	if($('#content').val()=='')
	{
		alert('提示：请输入您的留言内容！');
		return false;
	}
	if($('#vdcode').val()=='')
	{
		alert('提示：请输入验证码！');
		return false;
	}
	return true;
}
</script>
</head>
<body >
{dede:include file='head.htm'/}
<div id="wrap">
  <div class="main"> {dede:include file='left.htm'/}
    <div class="all">
      <div class="all-t"><img src="{dede:global.cfg_templets_skin/}/static/images/about_{dede:field.typeid function="GetTopId(@me)"/}.jpg" /></div>
      <div class="all-top"></div>
      <div class="all-box">
        <ul class="G_ul">
          <form action="{dede:global.cfg_cmspath/}/plus/feed.php" method="post" name="myForm" onsubmit="return checkForm();">
            <input type="hidden" name="typeid" value="{dede:field.typeid/}" />
            <li class="borderLi">
              <label for="name">姓　　名：</label>
              <input type="text" name="name" id="name" class="G_InputText" />
              <span class="red">*</span> </li>
            <li class="borderLi">
              <label for="telephone">电　　话：</label>
              <input type="text" name="telephone" id="telephone" class="G_InputText" />
              <span class="red">*</span> </li>
            <li class="borderLi">
              <label for="address">地　　址：</label>
              <input type="text" name="address" id="address" class="G_InputText" />
              <span class="red">*</span> </li>
            <li class="borderLi">
              <label for="email">邮　　箱：</label>
              <input type="text" name="email" id="email" class="G_InputText" />
            </li>
            <li class="borderLi">
              <label for="content">留言内容：</label>
              <textarea name="content" id="content" class="G_textarea"></textarea>
              <span class="red">*</span> </li>
            <li class="borderLi">
              <label for="checkCode">验 证 码：</label>
              <input type="text" name="validate" id="vdcode" style="width:45px; height:16px; border:1px solid #dedede; margin-left:7px;text-transform:uppercase;" />
              <img id="vdimgck" align="absmiddle" onClick="this.src=this.src+'?'" style="cursor: pointer;" alt="看不清？点击更换" src="../include/vdimgck.php"/>
              * </li>
            <li style="text-align:center;">
              <input type="submit" name="submit" value="提交" class="G_botton" style="margin-right:7px;" />
              <input type="reset" value="重填" class="G_botton" />
            </li>
          </form>
        </ul>
        <dl class="G_tips">
          <dt style="color:#f00;">☆ 留言须知</dt>
          <dd>·尊重网上道德，遵守中华人民共和国的各项有关法律法规</dd>
          <dd>·本网站管理人员有权保留或删除留言中的任意内容</dd>
          <dd>·我公司有权在网站内转载或引用您的留言</dd>
          <dd>·承担一切因您的行为而直接或间接导致的民事或刑事法律责任</dd>
          <dd>·参与本留言即表明您已经阅读并接受上述条款</dd>
        </dl>
      </div>
      <div class="all-bottom"></div>
    </div>
  </div>
</div>
<div class="cl10"></div>
{dede:include file='foot.htm'/}
</body>
</html>
