/*
Theme ID: ecms189
Author: 墨鱼移植
Author QQ：48444431
Author Email：48444431@qq.com
Author URL: http://www.moyublog.com/
*/
/*初始化样式*/
* {-webkit-tap-highlight-color:transparent;}
article, aside, details, figcaption, figure, footer, header, main, nav, section {display:block;}
div,html,body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, select, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {margin:0; padding:0;}
body {background-color:#fff; color:#333; font:16px/1.75em Arial,"Microsoft Yahei","Lucida Grande"; overflow-x:hidden; width:100%;/*设置宽度*/}
table {background-color: transparent; border-spacing: 0; border-collapse: collapse; font-size:16px; width:100%; border-top:1px solid #ddd; border-left:1px solid #ddd; box-sizing: border-box;}
table th {background-color:#f8f8f8; text-align:center; box-sizing: border-box;}
table td, table th{padding:10px;border:1px solid #ddd; box-sizing: border-box;}

button, select, input, textarea{background:none; border:none; border-radius:0; -webkit-border-radius:0; color:#333; outline:none; -webkit-appearance:none;}
input:focus { outline: none;}
textarea{resize:none;}

a {text-decoration:none; outline:none; color:#333;}
a:focus {outline:none; -moz-outline:none;}
a:hover {color:#004280;}
a img {border:none;}
li {list-style:none;}

/*全局样式*/
.inner {width:1440px; margin:0 auto;}
.clear{ clear:both; height:0px; overflow:hidden;}
.thumbnail {position:relative; overflow: hidden;}
.thumbnail a {display:block; position:relative; overflow:hidden; padding-bottom:75%;}
.thumbnail img {display:block; position:absolute; left:0; top:0; width:100%; height:100%;}
.postbottom {margin-bottom:15px;}
/*广告样式*/
.ggcode {margin-bottom:3%;}
.ggcode a {display:block; overflow:hidden;}
.ggcode img {display:block; width:auto; max-width:100%; height:auto;}
/*404页面*/
.error .title {font-size:36px; font-weight:normal; text-align:center; line-height: 1.35em; margin-bottom:3.5%;}
.error .warning {text-align:center; font-size:28px; margin-bottom:5%; line-height: 1.75em; border-bottom:1px solid #eee; padding-bottom:5%;}
.error .boxtitle {text-align:center;}
.error .boxtitle:after {left:50%; margin-left:-6px;}
/*全站头部*/
.header {height:80px; background-color:#057; width:100%; position:fixed; left:0; top:0; z-index: 8; border-bottom:1px solid #f6f6f6;}
.header .inner {position:relative;}
.blank {height:80px; width:100%;}
/*logo*/
.logo {float:left; padding:20px 0;}
.logo a {display:block; width:190px; height:40px; overflow: hidden; background:no-repeat left center; background-size:contain; text-indent:-9999em;}
/*nav*/
.nav {float:right;}
.nav li {float:left; color:#fff; font-size:18px; padding:0 25px; position:relative;}
.nav li a {display:block; line-height: 80px; color:#fff; position:relative;}
.nav li a:after {content:''; display:block; width:100%; height:3px; background-color:#eee; position:absolute; left:0; bottom:0; display:none;}
.nav li.cur > a:after, .nav li.on > a:after {display:block;}
.nav .active :after{content: '';display: block;width: 100%;height: 3px;background-color: #eee;position: absolute;left: 0;bottom: 0;}
.nav li em {display:none;}
.nav li ul {position:absolute; left:50%; top:100%; width:120px; margin-left:-60px; background-color:#057; text-align:center; display:none; border:1px solid #f6f6f6; border-top:none;}
.nav li ul.show {display:block;}
.nav li li {padding:0; float:none; font-size:16px;}
.nav li li a {line-height: 24px; padding:8px 5px;}
.nav li li a:hover:after {display:none;}

/*顶部搜索*/
.search {float:right; padding:20px 0; position:relative;}

.search .btn {width:40px; height:40px; cursor:pointer; font-size:18px; text-align:center; line-height: 40px; color:#fff;}
.searchForm {position:absolute; right:0; top:105%; background-color:#fff; width:250px; padding:10px 40px 10px 10px; display:none; border:1px solid #f6f6f6;}
.searchForm .submit {display:block; width:45px; height:35px; float:right; position:absolute; right:0; top:10px; cursor:pointer; font-size:18px; color:#999; text-align:center;}
.searchForm .text {background-color:#f8f8f8; color:#333; height:35px; line-height: normal; width:96%;  padding:0 2%; -webkit-appearance:none; font-size:14px;}
/*顶部用户*/
.usercp {float:right; padding:20px 0; position:relative;}
.usercp .btn {width:40px; height:40px; cursor:pointer; font-size:18px; text-align:center; line-height: 40px; }
.usercp .btn a{color:#fff;}
/*轮播图*/
.slides .item {background:no-repeat center center; background-size:cover; padding-bottom:34.375%; position:relative;}
.slides .item a {display:block; position:absolute; left:0; top:0; width:100%; height:100%; text-indent:-9999em;}
.slides .owl-dots {position:absolute; left:50%; bottom:5%; font-size:0; line-height: normal; transform:translateX(-50%);}
.slides .owl-dots button {display:inline-block; margin:0 5px;}
.slides .owl-dots span {display:block; width:20px; height:4px; background-color:#fff;}
.slides .owl-dots .active span {background-color:#057;}
.slides .load {padding-bottom:34.375%; background-color:#f9f9f9; position:relative;}
.slides .load span {display:block; position:absolute; left:0; top:50%; width:100%; transform:translateY(-50%); font-size:36px; line-height:1.125em; color:#999; text-align:center;}
/*全站底部*/
.footer {background-color:#f8f8f8; padding:3% 0;}
.footer .inner {overflow: hidden; }
.pagelist {float:right;}
.pagelist ul {overflow: hidden;}
.pagelist li {float:left; padding-right:29px; font-size:14px; position:relative; line-height: 28px;}
.pagelist li:after {content:''; display:block; width:1px; height:14px; background-color:#ccc; position:absolute; right:14px; top:50%; margin-top:-7px;}
.pagelist li:last-child:after {display: none;}
.pagelist li a {color:#666;}
.pagelist li a:hover {color:#004280;}
.copyright {float:left; font-size:14px; color:#666;}
.copyright a {color:#666;}
/*首页*/
.hmTitle {border-bottom:1px solid #e4e4e4; padding-bottom:15px; position:relative; margin-bottom:30px;}
.hmTitle:after {content:''; display:block; width:10px; height:10px; border-right:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4; transform:rotate(45deg); position:absolute; left:2em; bottom:-6px; background-color:#fff; z-index:2;}
.hmTitle .title {font-size:20px; font-weight:normal; color:#222; float:left;}
.hmTitle span {float:right; font-size:16px; text-transform:uppercase;}
.hmTitle span a {display:block; color:#666;}
/*首页置标推荐*/
.hmTop {margin-bottom:1%;}
.hmTop .inner {overflow:hidden;}
.hmTop h2 {font-size:22px; font-weight:normal; color:#555; text-align:center; color:#222; border-bottom:1px solid #e4e4e4; padding-bottom:15px; position:relative; margin-bottom:30px;}
.hmTop h2:after {content:''; display:block; width:10px; height:10px; border-right:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4; transform:rotate(45deg); position:absolute; left:50%; bottom:-6px; margin-left:-6px; background-color:#fff; z-index:2;}
.hmTop ul {overflow:hidden; width:102%;}
.hmTop li {width:14.666%; padding-right:2%; float:left;}
.hmTop li .thumbnail {margin-bottom:15px;}
.hmTop li h3 {font-weight:normal; font-size:16px; text-align:center; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
/*首页分类*/
.hmBox {overflow:hidden;}
.hmBox .box {width:105%; overflow:hidden;}
.hmCat {float:left; width:45%; padding-right:5%; padding-bottom:3%;}
.hmCat ul {clear:both; overflow:hidden;}
.hmCat li {overflow: hidden; clear: both; margin-bottom:15px; padding-bottom:15px; border-bottom:1px solid #eee;}
.hmCat li .thumbnail {float:left; width:130px;}
.hmCat li .info {margin-left:150px;}
.hmCat li h3 {font-size:18px; font-weight:normal; white-space: nowrap; overflow: hidden; text-overflow:ellipsis; line-height: 28px;}
.hmCat li time {display:block; font-size:14px; color:#999; margin-bottom:5px;}
.hmCat li p {font-size:16px; color:#555; line-height: 1.75em; white-space: nowrap; overflow: hidden; text-overflow:ellipsis;}
/*友情链接*/
.links ul {overflow: hidden;}
.links li {float:left; font-size:14px; color:#999; padding-right:33px; line-height: 30px; position:relative;}
.links li:after {content:''; display:block; width:1px; height:14px; background-color:#ccc; position:absolute; right:16px; top:50%; margin-top:-7px;}
.links li:last-child:after {display: none;}
.links li a {color:#999;}
.links li a:hover {color:#000;}
/*内页*/
.wrapper {padding:35px 0; overflow:hidden;}

/*内页模幅*/
.banner {background:no-repeat center center; background-size:cover; padding-bottom:26%; overflow: hidden;}

/*内页二级菜单*/

.breadcrumb {background-color:#f9f9f9; line-height: 1.75em; padding:10px 0; font-size:12px; color:#888; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.breadcrumb a {color:#888; padding:2px 0;}
.breadcrumb a:hover {color:#004280;}
.breadcrumb span {color:#000; padding:2px 0;}

/*内页分页*/
.pagenavi {font-size:0; line-height: normal; text-align:center; padding-top:10px;}
.pagenavi a, .pagenavi span.now-page {display:inline-block; font-size:14px; color:#999; background-color:#fff; margin:2px 2.5px; height:27px; line-height: 28px; padding:0 10px; border-radius:3px;}
.pagenavi a:hover, .pagenavi span.now-page {background-color:#999; color:#fff;}

/*新闻列表*/
.newsitem {overflow: hidden; margin-bottom:2.43%; border-bottom:1px dashed #eee; padding-bottom:2.43%;}
.newsitem .thumbnail {float:left; width:250px;}
.newsitem .info {margin-left:270px; overflow: hidden;}
.newsitem h2 {font-weight:normal; font-size:24px; line-height: 1.35em; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-bottom:5px;}
.newsitem h2 a {color:#333;}
.newsitem h2 a:hover {color:#004280;}
.newsitem time {font-size:14px; display: block; color:#888; margin-bottom:5px;}
.newsitem p {font-size:16px; line-height: 1.75em; height:7em; overflow:hidden; color:#555; word-break:break-all;}

/*详情页*/
.details .title {font-size:32px; text-align: center; line-height: 1.35em; margin-bottom:2.43%;}
.details .meta {text-align:center; font-size:0; line-height: normal; border-bottom:1px solid #eee; padding-bottom:1.5%; margin-bottom:2.43%;}
.details .meta span {font-size:14px; color:#888; padding:0 15px;}
.details .meta a {color:#888;}

/*详情内容*/
.entry {font-size:18px; line-height: 1.75em; color:#333; word-break:break-all;margin-top: 10px;}
.entry p, .entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6 {margin-bottom:2.43%; word-break: break-all;}
.entry ul, .entry ol {margin-bottom:2.43%; word-break: break-all; margin-left:2em;}
.entry p img {margin-left:-2em;}
.entry img {max-width:100%; height:auto;}
.entry ul li {list-style:outside disc none; margin-left:1em;}
.entry ol li {list-style:outside decimal none; margin-left:1em;}
.entry blockquote {margin:0 2em 2.43%; padding:2.43% 2.43% 0; font-style:italic; overflow: hidden; color:#555; border:1px dashed #eee; background-color:#f9f9f9; border-radius:3px;}
.entry hr {border:none; border-bottom:1px solid #999; margin-bottom:2.43%;}
.entry li p {text-indent:0; display:inline;}
/*标签*/
.tags {overflow: hidden; font-size:16px; color:#000; padding:10px 0; margin-bottom:2.43%;}
.tags a {color:#000; margin-left:15px;}

/*上下篇文章*/
.postnavi {overflow: hidden; padding:5px 0; margin-bottom:2.43%; color:#000;}
.postnavi div {padding:5px 0;}
.postnavi a {color:#333;}
.postnavi a:hover {color:#000;}
/*详情页模块标题*/
.boxtitle {font-size:22px; font-weight:normal; color:#555; color:#222; border-bottom:1px solid #e4e4e4; padding-bottom:15px; position:relative; margin-bottom:30px;}
.boxtitle:after {content:''; display:block; width:10px; height:10px; border-right:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4; transform:rotate(45deg); position:absolute; left:1.5em; bottom:-6px; background-color:#fff; z-index:2;}
/*相关推荐*/
.related {margin-bottom:2.43%; overflow:hidden;}
.related ul {overflow:hidden; width:102%;}
.related li {width:23%; padding-right:2%; float:left;}
.related li .thumbnail {margin-bottom:15px;}
.related li h4 {font-weight:normal; font-size:16px; text-align:center; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
/*评论留言*/
.commentlist {overflow: hidden; margin-bottom:2.43%;}
.commentlist li {overflow: hidden; margin-bottom:2.43%; padding-bottom:2.43%; border-bottom:1px solid #eee;}
.commentlist .avatar {float:left; width:60px; height:60px; border-radius:5px; overflow: hidden;}
.commentlist .avatar img {display:block; width:100%; height:100%;}
.commentlist .info {margin-left:80px; overflow: hidden;}
.commentlist .name {font-size:16px; font-weight:bold; line-height: 1.35em; color:#333;}
.commentlist time {display:block; color:#999; font-size:12px; line-height: 1.5em;}
.commentlist .replay {font-size:12px; font-weight:bold; color:#000;}
.commentlist .text {padding:5px 0; font-size:16px; color:#555; word-break:break-all;}
.commentlist li li {margin:2.43% 0 0 2%; padding-bottom:0; border-bottom:none;}

/*评论框*/
#comment .item {overflow: hidden; margin-bottom:15px; position:relative;}
#comment label {display:block; float:left; height:40px; line-height: 40px; font-size:16px;}
#comment label i {font-style:normal; color:#f00;}
#comment .input {margin-left:80px; overflow: hidden; border:1px solid #e4e4e4; border-radius:5px;}
#comment .text, #comment textarea {width:98%; height:20px; line-height: normal; padding:10px 1%; font-size:16px; font-family: 'Microsoft Yahei'; -webkit-appearance:none;}
#comment textarea {height:150px; resize: none;}
#comment .submit {float:right; color:#fff; background-color:#555; border-radius:5px; height:45px; width:150px; font-size:16px; cursor:pointer;}
#comment .submit:hover {opacity:.9;}
#comment .verify {position:relative;}
#comment .verify .input {margin-right:126px;}
#comment .verify img {display:block; position:absolute; right:0; top:0; height:100%; width:auto; cursor:pointer; border-radius:2px;}
/*两栏*/
.main {float:left; width:75%;}
.sidebar {width:21%; float:right;}
.widget {margin-bottom:11.6%; overflow: hidden;}
.widget .hmTitle h3 {float:none;}
.widget li {overflow: hidden;}
.widget .text {border-bottom:1px solid #eee; padding:15px 0 15px 15px; font-size:16px; position:relative;}
.widget .text:before {content:''; display:block; width:6px; height:6px; background-color:#aaa; border-radius:50%; position:absolute; left:0; top:26px;}
.widget .text a {display: block; color:#333; word-break: break-all;}
.widget .text a:hover {color:#004280;}
.widget .text time {display:block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size:12px; color:#999;}

.widget .pic {padding:15px 0; border-bottom:1px solid #eee;}
.widget .pic .thumbnail {float:left; width:100px; padding-top:5px;}
.widget .pic p {margin-left:110px; overflow: hidden;}
.widget .pic a {display:block; font-size:16px; line-height: 1.75em; max-height:5.25em; overflow: hidden;}

.divTags ul {overflow: hidden;}
.divTags li {float:left; padding:0 5px 5px 0;}
.divTags li a {display:block; background-color:#f9f9f9; border-radius:3px; padding:2px 10px; color:#fff; font-size:12px;}
.divTags li a:hover {opacity:.8;}

.divTags li:nth-child(8n-7) a {background-color:#8A9B0F;}
.divTags li:nth-child(8n-6) a {background-color:#EB6841;}
.divTags li:nth-child(8n-5) a {background-color:#3FB8AF; }
.divTags li:nth-child(8n-4) a {background-color:#FE4365; }
.divTags li:nth-child(8n-3) a {background-color:#FC9D9A; }
.divTags li:nth-child(8n-2) a {background-color:#EDC951; }
.divTags li:nth-child(8n-1) a {background-color:#C8C8A9; }
.divTags li:nth-child(8n) a {background-color:#83AF9B; }
.divTags li:first-child a {background-color:#E1474D; }
.divTags li:last-child a {background-color:#3299BB; }
/*广告相关*/
.home_gg{margin-bottom: 1%;}
.pcd_ad{display:block;}
.mbd_ad{ display:none}
@media(max-width:768px) {
.pcd_ad{display:none !important;}
.mbd_ad{display:block !important;}

}

@media only screen and (max-width:1536px) {
	/*全局样式*/
	.inner {width:93.75%;}
}
@media only screen and (max-width:1280px) {
	/*1280px全站头部*/
	.header, .blank {height:60px;}
	/*1280pxlogo*/
	.logo {padding:15px 0;}
	.logo a {width:143px; height:30px;}
	/*1280pxnavBtn*/
	.navBtn {width:25px; position:relative; float:right; height:40px; padding:10px 0; cursor:pointer;}
	.navBtn span {display:block; width:100%; height:3px; background-color:#fff; position:absolute; top:50%; left:0; margin-top:-1.5px;}
	.navBtn span:before, .navBtn span:after {content:''; display:block; width:100%; height:3px; background-color:#fff; position:absolute; left:0; top:-9px; transition:transform .3s; transition:transform .3s;}
	.navBtn span:after {top:auto; bottom:-9px;}
	.navBtn.open span {height:0;}
	.navBtn.open span:before {transform:rotate(45deg); top:0;}
	.navBtn.open span:after {transform:rotate(-45deg); bottom:auto; top:0;}
	/*1280px顶部导航*/
	.nav {position:fixed; right:-200px; top:60px; height:100%; width:200px; background-color:#057; overflow-y:auto; transition:right .3s; -webkit-overflow-scrolling:touch; border-top:1px solid #f6f6f6;}
	.nav.open {right:0;}
	.nav ul {padding-bottom:81px;}
	.nav li {float:none; padding:0;}
	.nav li a {line-height: 26px; padding:12px 2em 12px 1.5em; white-space: nowrap; overflow:hidden; text-overflow:ellipsis;}
	.nav li.cur > a:after, .nav li.on > a:after {display:none;}
	.nav li.cur > a {background-color:#f8f8f8;}
	.nav li ul {position:static; left:auto; top:auto; width:auto; margin-left:0; background-color:transparent; text-align:left; border:none; padding-bottom:0;}
	.nav li ul.show {display:none;}
	.nav li ul.open {display:block;}
	.nav li li a {line-height:26px; padding:12px 1.5em 12px 2.5em;}
	.nav li li a:hover {background-color:transparent;}
	.nav li em {position:absolute; right:0; top:12px; width:2em; height:26px; display:block; cursor:pointer;}
	
	.nav li em:before {content:''; display:block; width:9px; height:9px;  border-right:1px solid #666; border-bottom:1px solid #666; transition:transform .3s; position:absolute; left:50%; top:50%; margin-top:-6px; margin-left:-5px;}
	.nav li em.open:before {transform:rotate(45deg);}
	/*1280px顶部搜索*/
	.search {padding:10px 0 10px 20px;}
	.search .btn {font-size:24px;}
	.usercp {padding:10px 0 10px 20px;}
	.usercp .btn {font-size:24px;}
	/*1280px首页新闻*/
	.hmCat li .thumbnail {width:100px;}
	.hmCat li .info {margin-left:110px;}
	.hmCat li h3 {font-size:16px; line-height: 24px;}
	.hmCat li time {margin-bottom:0;}
	.hmCat li p {font-size:14px;}
	/*1280px两栏*/
	.main {width:70%;}
	.sidebar {width:26%;}
}
@media only screen and (max-width:960px) {
	/*960px 首页置标推荐*/
	.hmTop ul {width:103%;}
	.hmTop li {width:31%; padding-bottom:15px;}
	.hmTop li .thumbnail {margin-bottom:5px;}	
	/*960px详情页*/
	.details .title {font-size:24px;}
	/*960px两栏*/
	.main {width:auto; float:none; margin-bottom:25px;}
	.sidebar {width:auto; float:none;}
	.widget {margin-bottom:25px;}
}
@media only screen and (max-width:768px) {
	/*广告样式*/
	.ggcode {margin-bottom:20px;}
	/*首页*/
	.hmTitle {padding-bottom:10px; margin-bottom:20px;}
	.hmTitle .title {font-size:18px;}
	/*768px 首页置标推荐*/
	.hmTop {margin-bottom:5px;}
	.hmTop h2 {font-size:20px; margin-bottom:20px; padding-bottom:10px;}
	.hmTop ul {width:104%;}
	.hmTop li {width:46%; padding-right:4%; padding-bottom:10px;}
	.hmTop li .thumbnail {margin-bottom:10px;}
	/*768px首页新闻*/
	.hmBox .box {width:auto;}
	.hmCat {float:none; width:auto; padding-right:0;}
	.hmCat li {margin-bottom:10px; padding-bottom:10px;}
	.hmCat li .thumbnail {width:100px;}
	.hmCat li .info {margin-left:110px;}
	.hmCat li h3 {white-space: normal; max-height:48px;}
	.hmCat li p {display:none;}
	/*768px全站底部*/
	.pagelist {float:none; padding:5px 0;}
	.pagelist ul {font-size: 0; text-align:center; line-height: normal;}
	.pagelist li {float:none; display:inline-block; padding:0 15px;}
	.pagelist li:after {right:0;}
	.copyright {float:none; text-align:center;}
	/*768px全站头部*/
	.header, .blank {height:50px;}
	/*768pxlogo*/
	.logo a {width:95px; height:20px;}
	/*768pxnavBtn*/
	.navBtn {height:30px;}
	/*768px顶部导航*/
	.nav {top:50px;}
	.nav ul {padding-bottom:51px;}
	/*768px顶部搜索*/
	.search {padding-left:15px;}
	.search .btn {height:30px; line-height: 30px;}
	.usercp {padding-left:15px;}
	.usercp .btn {height:30px; line-height: 30px;}
	/*768px轮播图*/
	.slides .owl-dots {bottom:15px;}	
	/*内页*/
	.wrapper {padding:25px 0;}	
	/*768px新闻列表*/
	.newsitem {margin-bottom:10px; padding-bottom:10px;}
	.newsitem .thumbnail {width:110px;}
	.newsitem .info {margin-left:120px;}
	.newsitem h2 {font-size:16px; white-space: normal;}
	.newsitem time {margin-bottom:0;}
	.newsitem p {display:none;}
	/*768px 详情页模块标题*/
	.boxtitle {font-size:18px; padding-bottom:10px; margin-bottom:20px;}
	/*768px 详情页*/
	.details .title {font-size:18px; margin-bottom:15px;}
	.details .meta {padding-bottom:10px; margin-bottom:20px;}
	/*768px详情内容*/
	.entry {font-size:16px;}
	.entry p, .entry ul, .entry ol, .entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6, .entry hr, .postnavi, .related {margin-bottom:10px;}
	.entry blockquote {margin-bottom:20px; padding:20px 20px 0;}
	/*768px标签*/
	.tags {padding:0; font-size:14px; margin-bottom:10px; color:#888;}
	.tags a {color:#888;}
	/*768px 相关推荐*/
	.related ul {width:105%;}
	.related li {width:45%; padding-right:5%; padding-bottom:10px;}
	/*768px评论留言*/
	.commentlist {margin-bottom:20px;}
	.commentlist li {margin-bottom:15px; padding-bottom:10px;}
	.commentlist .avatar {width:30px; height:30px;}
	.commentlist .info {margin-left:40px;}
	.commentlist .name {font-size:14px; margin-bottom:5px;}
	.commentlist .replay a {color:#999;}
	.commentlist .text {font-size:14px; line-height: 1.75em;}
	.commentlist li li {margin-top:15px;}
	/*768px评论框*/
	#comment label {font-size:14px; height:35px; line-height: 35px;}
	#comment .input {margin-left:50px;}
	#comment .text, #comment textarea {padding:7.5px 2%; width:96%; font-size:14px;}
	#comment textarea {height:90px;}
	#comment .submit {font-size:14px; height:37px; width:100px;}
	#comment .verify .input {margin-right:111px;}
	/*768px404页面*/
	.error .title {font-size:24px; margin-bottom:15px;}
	.error .warning {font-size:20px; margin-bottom:25px; padding-bottom:25px;}
	/*768px两栏*/
	.widget .text {padding:10px 0 10px 15px;}
	.widget .text:before {top:22px;}	
	.widget .pic {padding:10px 0;}	
}

.meihua_1 {
	display: block;
	margin-top: 10px;
	padding: 5px 10px;
	background-color: #ea4c89;
	color: #FFF;
	font-weight: bold;
	font-size: 18px;
	font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.meihua_2 {
	background-color: #fff;
	margin-bottom: 20px;
	box-shadow: 0 1px 2px rgba(15,39,65,0.1);
	font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.meihua_2 .meihua_2_1 {
	height: auto;
	overflow: hidden;
	background-color: #FFF;
	border: 1px solid #DDDDDD;
	border-width: 1px 1px 1px 1px;
	padding: 20px;
}
.meihua_2 .meihua_2_1 p {
	margin: 5px auto!important;
}
.meihua_2 .meihua_2_1 .meihua_btn {
float: left;
    border: 1px solid #8a8a8a;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    padding-left: 40px;
    margin: 10px 10px 0 0;
    overflow: hidden;
    border-radius: 2px;
	background: url(../images/30.png) no-repeat 5px 3px #4abd96;
    border: 1px solid #4abd96;
    color: #FFF;
    text-decoration: none;    padding-right: 10px;
}
.meihua_2 .meihua_2_1 .meihua_btn i {
	margin-right: 5px
}
.meihua_2 .meihua_2_1 .meihua_btn:hover {
	background-color: #3169b0
}
.video {
position: relative;
padding-bottom: 56.25%;
height: 0;
overflow: hidden;
}
.video iframe,
.video object,
.video embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.short-btn {
    float: left;
    border: 1px solid #8a8a8a;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    padding-left: 40px;
    margin: 10px 10px 0 0;
    overflow: hidden;
    border-radius: 2px;
    background: url(../images/10.png) no-repeat 5px 3px #4abd96;
    border: 1px solid #4abd96;
    text-decoration: none;color: #FFF!important;padding-right: 10px;text-decoration: none; 
}
.short-btn:hover {
	background-color: #3169b0
}
