<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="applicable-device" content="pc">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{dede:field.title/}-{dede:global.cfg_titlelast/}</title>
<meta name="keywords" content="{dede:field name='keywords'/}" />
<meta name="description" content="{dede:field name='description' function='html2text(@me)'/}" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
<link href="{dede:global.cfg_templets_skin/}/reezee/lib/style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" type="text/javascript" src="{dede:global.cfg_templets_skin/}/reezee/lib/png.js"></script>
</head>
<body>
<div id="wrapper">
    {dede:include filename="head.htm"/}
    <div id="main">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td id="left" cms:type="image" style="background:url({dede:global.cfg_templets_skin/}/reezee/images/left_botbj.jpg) no-repeat left bottom;">
                <div id="left_top">
                    <div class="submenu">
                            <div class="submenu_title">
<h2>{dede:type}
[field:id runphp=yes]
    $tsql = new DedeSql(false);
    $typelink2 = '';
    $tsql->SetQuery("Select i.typedir,i.id,i.typename From #@__arctype t left join #@__arctype i on i.id=t.reid where t.id='@me'");
    $tsql->Execute('t');
    while($row = $tsql->GetArray('t',MYSQL_ASSOC))
    {
    $typelink2 .= "<a href='".$row['typedir']."'>".$row['typename']."</a>";
    }
    @me=str_replace("{cmspath}","",$typelink2);
[/field:id]
{/dede:type}
</h2>
                    </div>
                        <div class="submenu_list">
                            <dl>
                    {dede:channel type='son' row='8'}
                        <dt><a href='[field:typelink/]'>[field:typename/]</a> </dt>
                    {/dede:channel}
                            </dl>
                        </div>
                    </div>
                    <div class="search">
    <Form action="{dede:field name='phpurl'/}/search.php" name="searchForm" METHOD="post" target="_blank">
    <div class="search_title">站内搜索<span>Search</span></div>
    <input type="text" name="keyword" id="search-keyword" class="input"/>
    <br /><input type="submit" class="but" value="立即搜索"/>
    </Form>
</div>
                </div>
            </td>
            <td id="right">
                <div class="title2">{dede:field name='typename'/}<span>List</span></div>
<div class="place">您现在的位置：{dede:field name='position'/}</div>
                <div class="title3"><h2>{dede:field name='typename'/}<span></span></h2></div>
                <div class="content">
                    <blockquote>
                    <h1>{dede:field.title/}</h1>
                    <h6>来源：{dede:field.source/}&nbsp;&nbsp;&nbsp;&nbsp;作者：{dede:global.cfg_basehost/}&nbsp;&nbsp;&nbsp;&nbsp;发布时间：{dede:field.pubdate function="MyDate('Y-m-d H:i',@me)"/}&nbsp;&nbsp;&nbsp;&nbsp;浏览量：<script src="{dede:field name='phpurl'/}/count.php?view=yes&aid={dede:field name='id'/}&mid={dede:field name='mid'/}" type='text/javascript' language="javascript"></script>次</h6>
                    <div class="detail" style="overflow:hidden; width:670px;">{dede:field.body/}
文章《{dede:field.title/}》原创来自：<a href="{dede:global.cfg_basehost/}">{dede:global.cfg_indexname/}</a>
                    <p>与《{dede:field.title/}》相关文章：</p>
                    {dede:likearticle row='5' titlelen='70'}
                    <p>➟<a href="[field:arcurl/]">[field:title/]</p>
                    {/dede:likearticle}
                    </div>

                    </blockquote>
                </div>
            </div>
            </td>
        </tr>
        </table>
    </div>
    {dede:include filename="footer.htm"/}
</div>
</body>
</html>
