	<div id="header">
	<div style="position:relative; left:0; top:0; border-bottom:1px solid #fff;">
		<div class="logo" style="position:absolute; top:0; left:0px; z-index:100;">
		<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="1002" height="193">
			<param name="movie" value="{dede:global.cfg_templets_skin/}/reezee/images/font.swf" />
			<param name="quality" value="high" />
			<param name="wmode" value="transparent" />
			<embed src="{dede:global.cfg_templets_skin/}/reezee/images/font.swf" width="1002" height="193" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent"></embed>
		</object>
		</div>
		<div><img src="{dede:global.cfg_templets_skin/}/reezee/images/channel/bgimg0100.jpg" width="1002" height="193" /></div>
	<div style="position:absolute; left:0; top:0">
		<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="1002" height="193">
		<param name="movie" value="{dede:global.cfg_templets_skin/}/reezee/images/GH_LIKEGREEN_e.swf" />
		<param name="quality" value="high" />
		<param name="wmode" value="transparent">
		<embed src="{dede:global.cfg_templets_skin/}/reezee/images/GH_LIKEGREEN_e.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="1002" height="193" wmode="transparent"></embed>
	</object>
	</div>
	</div>
		<div class="top">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td width="210">
					<div class="time" id="time"></div>
				</td>
				<td>
					<div class="menu">
						<ul>
						<li><a href="/" target="">首&nbsp;&nbsp;页</a></li>
	{dede:channel type='top' currentstyle="<li class='current' ><a href='~typelink~' ~rel~>~typename~</a></li>"}
	<li><a href='[field:typeurl/]'>[field:typename/]</a></li>
	{/dede:channel}
						<h6 class="clear"></h6>
						</ul>
					</div>
				</td>
			</tr>
			</table>
		</div>
  </div>
<script language="javascript" type="text/javascript">
	window.onload=function (){
		setInterval("document.getElementById('time').innerHTML=new Date().toLocaleString()",1000);
	}
</script>
