<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="applicable-device" content="pc" />
<meta name="location" content="province={dede:global.cfg_province/};city={dede:global.cfg_city/}" />
<title>{dede:global.cfg_webname/}</title>
<script language="JavaScript" type="text/javascript" src="/js/uadirect.js"></script>
<meta http-equiv="mobile-agent" content="format=html5;url={dede:global.cfg_waphost/}/" />
<meta name="mobile-agent" content="format=xhtml;url={dede:global.cfg_waphost/}" />
<meta name="description" content="{dede:global.cfg_description/}" />
<meta name="keywords" content="{dede:global.cfg_keywords/}" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
<script language="javascript" src="{dede:global.cfg_templets_skin/}/reezee/lib/ospodcommon.js?0"></script>
<link href="{dede:global.cfg_templets_skin/}/reezee/lib/style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" type="text/javascript" src="{dede:global.cfg_templets_skin/}/reezee/lib/png.js"></script>
<style type="text/css">
<!--
.STYLE1 {color: #FF0000}
-->
</style>
<link rel="canonical" href="{dede:global.cfg_basehost/}">
</head>
<body>
<div id="wrapper">
    {dede:include filename="head.htm"/}
    <div id="main">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td id="left" cms:type="image" style="background:url({dede:global.cfg_templets_skin/}/reezee/images/left_botbj.jpg) no-repeat left bottom;">
                <div id="left_top">
                    <div class="inews">
                        <div class="inews_title" cms:id="te_contactus,0"><h2>联系我们</h2></div>
                        <div class="icontact_detail" cms:id="te_contactus,137">
                        <p><strong>电话:&nbsp;</strong>13922352985 (邓总)<br />
<strong>传真:</strong>&nbsp;0799-3454011 <br />
<strong>Mail:</strong>&nbsp;<a href="mailto:sale@abc.com">jxtaihua@126.com</a> <br />
<strong>地址：</strong>{dede:global.cfg_indexname/}<br />
                        <span class="STYLE1">注：广告勿扰！谢谢合作！</span></p>
                        </div>
                    </div>
                    <div class="iproduct">
                        <div class="iproduct_title"><h2>产品目录<span>PRODUCTS</span></h2></div>
                        <div class="iproduct_list">
                    {dede:channel typeid='9' type='son' row='8'}
                        <a href='[field:typelink/]'>[field:typename/]</a>
                    {/dede:channel}
                        </div>
                    </div>
                </div>
            </td>
            <td id="right">
                <div class="icompany">
                    <div class="icompany_title">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="22%" class="c1"><h2>{dede:global.cfg_indexname/}公司简介<span>Company</span></h2></td>
                            <td width="71%" class="c2">&nbsp;</td>
                            <td width="7%"><a href="{dede:type typeid='1'}[field:typelink/]{/dede:type}" target=""><img src="{dede:global.cfg_templets_skin/}/reezee/images/more.jpg" width="45" height="17" /></a></td>
                        </tr>
                        </table>
                    </div>
                    <div class="icompany_detail">
                        <a href="#" target=""><img src="{dede:global.cfg_templets_skin/}/reezee/images/channel/icompany.jpg"  width="129" height="140" /></a>
                        <div>{dede:global.cfg_about/}</div>
                    </div>
                    <h6 class="clear"></h6>
                </div>
                <div class="ipro">
                    <div class="ipro_title">产品中心<span>Product</span></div>
                    <div class="ipro_list">
                        <div id="scrollImg1">
                                    <table border="0" cellpadding="0" cellspacing="0" class="tt">
                                    <tr>
                                    {dede:arclist typeid='1' row='12' imgwidth='100' imgheight='100'}
                                        <td style="padding:0 10px;" align="center" valign="top">
                                        <div class="dd">[field:imglink/]</div>
                                            <span><a href="[field:arcurl/]">[field:title/]</a></span>
                                        </td>
                                    {/dede:arclist}
                                    </tr>
                                    </table>
                        </div>
                    </div>
                </div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="48%" valign="top">
                    <div class="condition">
                        <div class="title"><a href="#" target="">更多</a><h2>技术中心<span>Knowledge</span></h2></div>
                        <div class="inews_list">
                            <ul>
                    {dede:arclist typeid='2' row='5'}
                    <li><a href="[field:arcurl/]">[field:title/]</a> </li>
                    {/dede:arclist}
                            </ul>
                        </div>
                    </div>
                    </td>
                    <td width="23">&nbsp;</td>
                    <td valign="top">
                    <div class="condition">
                        <div class="title" cms:id="te_news,0"><a href="#" target="">更多</a><h2>公司动态<span>News</span></h2></div>
                        <div class="inews_list">
                            <ul>
                    {dede:arclist typeid='3' row='5'}
                    <li><a href="[field:arcurl/]">[field:title/]</a> </li>
                    {/dede:arclist}
                            </ul>
                        </div>
                    </div>
                    </td>
                </tr>
                </table>
            </td>
        </tr>
        </table>
    </div>
    {dede:include filename="footer.htm"/}
    <div id="flink"><ul><li><strong>友情链接：</strong></li>
{dede:flink row='24'}<li>[field:link/]</li>{/dede:flink}
<!--links_start-->
<!--links_end-->
    </ul></div>
</div>
<SCRIPT LANGUAGE="JavaScript">
    <!--
    //element用于滚动的容器ID；spd 滚动速度1-50；type滚动方式1：向上；2：向下；3：向左；4：向右；
    //function Marquee(elm,width,height,spd,type,wspace){
        var marquee= new Marquee("scrollImg1", "670" , "145" , 20 , 3 , "0");
    //-->
</SCRIPT>
</body>
</html>
