<div class="header">
  <div class="headh">
	<!--in header top-->
	<div class="footh">
	<div class="chen"><a href="/">中文</a>|<a href="#" target="_blank">EN</a></div>
	<div class="logoh"> <a href="/"><img src="{dede:global.cfg_templets_skin/}/skin/images/logo.png" style="margin-top:25px;"></a> </div>
	<!--logo-->
	<div class="nav">
		<ul>
		<li class="tab1"><a href="/">网站首页</a></li>
		{dede:channelartlist typeid='top'}
		<li class="tab2 drop-menu-effect"><a href="{dede:field name='typeurl'/}" class="s-navli">{dede:field name='typename'/}</a>
			<ul class="submenu">
			{dede:channel type='son' noself='yes'}
			<li><a href="[field:typeurl/]">[field:typename/]</a></li>
			{/dede:channel}
			</ul>
		</li>
		{/dede:channelartlist}
		</ul>
	</div>
	<!--nav二级菜单导航-->
	</div>
  </div>
</div>
