<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="applicable-device" content="pc">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<TITLE>{dede:field.seotitle/}_{dede:global.cfg_titlelast/}</TITLE>
<meta name="keywords" content="{dede:field.keywords/}" />
<meta name="description" content="{dede:field.description function='html2text(@me)'/}" />
<link rel="stylesheet" type="text/css" href="{dede:global.cfg_templets_skin/}/style/css/style.css" />
<script type="text/javascript" src="{dede:global.cfg_templets_skin/}/style/js/jQuery1.7.2.js" ></script>
<script type="text/javascript" src="{dede:global.cfg_templets_skin/}/style/js/dropdown.js"></script>
<script type="text/javascript" src="{dede:global.cfg_templets_skin/}/style/js/hd2.js"></script>
<script type="text/javascript">
function postform(){
	var name=document.formWrite.name;
	var email=document.formWrite.email;
	var phone=document.formWrite.phone;
	var address=document.formWrite.address;

	if (name.value==""){
		alert("姓名不能为空！");
		name.focus();
		return false;
		}
	if (phone.value==""){
		alert("电话不能为空！");
		phone.focus();
		return false;
		}
	if (email.value==""){
		alert("email不能为空！");
		email.focus();
		return false;
		}
	if (address.value==""){
		alert("地址不能为空！");
		address.focus();
		return false;
		}

}
</script>
</head>
<body>
{dede:include filename="head.htm"/}

<div class="mn">
  <div class="indexmn">
    {dede:include filename="left.htm"/}
    <div class="in5">
      <div class="neir"><span>当前位置：{dede:field name='position'/}</span><strong>{dede:field name='typename'/}</strong></div>
      <div class="list03b">
        <div class=contact-xmtj>
        <form action="/plus/diy.php" enctype="multipart/form-data" method="post">
          <input type="hidden" name="action" value="post" />
          <input type="hidden" name="diyid" value="1" />
          <input type="hidden" name="do" value="2" />
          <TABLE border=0 cellSpacing=0 cellPadding=0 width=650 sizcache="14"
  sizset="31">
            <TBODY sizcache="14" sizset="31">
              <TR>
                <TD style="PADDING-TOP: 2px" height=35 vAlign=top width=36>姓名</TD>
                <TD height=35 vAlign=top><INPUT id=name class=name2 name=name>
                  <SPAN
      style="COLOR: red">&nbsp;&nbsp;*</SPAN></TD>
              </TR>
              <TR>
                <TD style="PADDING-TOP: 2px" height=35 vAlign=top width=36>手机</TD>
                <TD height=35 vAlign=top><INPUT id=phone class=name2 name=phone>
                  <SPAN
      style="COLOR: red">&nbsp;&nbsp;*</SPAN></TD>
              </TR>
              <TR>
                <TD style="PADDING-TOP: 2px" height=35 vAlign=top width=36>邮箱</TD>
                <TD height=35 vAlign=top><INPUT id=email class=name2 name=email>
                  <SPAN
      style="COLOR: red">&nbsp;&nbsp;*</SPAN></TD>
              </TR>
              <TR>
                <TD style="PADDING-TOP: 2px" height=35 vAlign=top width=36>地址</TD>
                <TD height=35 vAlign=top><INPUT id=address class=name2 name=address>
                  <SPAN
      style="COLOR: red">&nbsp;&nbsp;*</SPAN></TD>
              </TR>
              <TR>
                <TD style="PADDING-TOP: 2px" height=35 vAlign=top width=36>内容</TD>
                <TD><TEXTAREA id=liuyan class=con name=liuyan></TEXTAREA></TD>
              </TR>
              <TR sizcache="14" sizset="31">
                <TD>&nbsp;</TD>
                <TD height=50 vAlign=center sizcache="14" sizset="31"><input type="hidden" name="dede_fields" value="name,text;phone,text;email,text;liuyan,multitext;address,text" />
                  <input type="hidden" name="dede_fieldshash" value="95eefa0a6965c0ea361233f29688dcb0" />
                  <INPUT class=button1 value=确认提交 type=submit>
                  <INPUT class=button2 onclick=input() value=取消提交 type=button>
                  <A style="FLOAT: right" href="mailto:{dede:global.cfg_mail/}">邮箱链接：{dede:global.cfg_mail/}</A></TD>
              </TR>
            </TBODY>
          </TABLE>
        </FORM>
      </div>
      </div>
    </div>
    <div style="clear:both"></div>
  </div>
</div>
{dede:include filename="foot.htm"/}
</body>
</html>
