<div class="in1">
  <div class="in1dh"><strong>{dede:field name='typename'/}</strong></div>
  <div class="in1b">
    <ul>
      <ul>
        {dede:channel type='son'}
        <li><a href='[field:typelink/]' class="zm"><span>[field:typename/]</span></a></li>
        {/dede:channel}
      </ul>
    </ul>
  </div>
  <div class="in1lxfs"><strong>联系方式</strong></div>
  <div class="in1lxfsb"> 联系电话：{dede:global.cfg_tel/} <br />
    联系传真：{dede:global.cfg_fax/}<br />
    电子邮箱：{dede:global.cfg_mail/}<br />
    联系地址：{dede:global.cfg_address/} </div>
</div>
