<div class="head">
    	<div class="top">
        	<div class="logo"><h1><a href="{dede:global.cfg_basehost/}">{dede:global.cfg_indexname/}</a></h1></div></div>
    	<div class="menu">
        	<ul>
            	<li><a href="/">网站首页</a></li>  {dede:channel type='top' row='10'}
                <li><a href='[field:typeurl/]'>[field:typename/]</a></li>{/dede:channel}
            </ul>
        </div>
        <div class="banner"><img src="{dede:global.cfg_templets_skin/}/images/img01.jpg" width="1002" height="322"  alt="{dede:global.cfg_titlelast/}"/></div>
 </div>
