body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; } 
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; } 
h1, h2, h3, h4, h5, h6{ font-size:100%; } 
address, cite, dfn, em, var { font-style:normal; } 
code, kbd, pre, samp { font-family:couriernew, courier, monospace; } 
small{ font-size:12px; } 
ul, ol { list-style:none; } 
a { text-decoration:none; } 
a:hover { text-decoration:underline; } 
sup { vertical-align:text-top; } 
sub{ vertical-align:text-bottom; } 
legend { color:#000; } 
fieldset, img { border:0; } 
button, input, select, textarea { font-size:100%; } 
table { border-collapse:collapse; border-spacing:0;}
a:hover{
	text-decoration: none;
}

.text-overflow-one{
    overflow: hidden;    
    text-overflow:ellipsis;    
    white-space: nowrap;
}
.text-overflow-two{
    display: -webkit-box;    
    -webkit-box-orient: vertical;    
    -webkit-line-clamp: 2;    
    overflow: hidden;
}
.text-overflow-three{
    display: -webkit-box;    
    -webkit-box-orient: vertical;    
    -webkit-line-clamp: 3;    
    overflow: hidden;
}

/* pc */
@media screen and (min-width: 1201px) {
    .layout{
		box-sizing: border-box;
    	width: 1200px;
		margin: 0 auto;
    }
}

/* mobile phone */
@media screen and (max-width: 1200px) {
    .layout{
    	width: 100%;
		padding: 0 12px;
		box-sizing: border-box;
    }
}
