@charset "utf-8";
/* css */
* { margin: 0; padding: 0 }
body { font: 15px "Microsoft YaHei", Arial, Helvetica, sans- serif; color: #333; line-height: 1.5; background: #fff }
img { border: 0; display: block }
ul, li { list-style: none; }
a { text-decoration: none; color: #000; }
a:hover { color: #000; text-decoration: none; }
.clear { clear: both; width: 100%; overflow: hidden; }
.clearblank { clear: both; width: 100%; overflow: hidden; height: 20px }
.fl { float: left!important; }
.fr { float: right!important; }
.box { width: 1140px; overflow: hidden; margin: auto; }
.fafafa { background: #fafafa }
.font18 { font-size: 18px }
.mt50 { width: 100%; height: 50px; }
/*header*/
header { width: 100%; background: #fff;-webkit-box-shadow: 0px 5px 9px 1px rgba(144, 161, 180, 0.2);
    box-shadow: 0px 5px 9px 1px rgba(144, 161, 180, 0.2);
    -moz-box-shadow: 0px 5px 9px 1px rgba(144, 161, 180, 0.2); }
.header-navigation { position: fixed; top: 33px; width: 100%; background: #fff; text-align: center; border-bottom: 1px solid #ddd; box-shadow: 0 1px 1px rgba(0,0,0,.04); z-index: 9999; }
/* Slide transitions */
.slideUp { -webkit-transform: translateY(-100px); -ms-transform: translateY(-100px); -o-transform: translateY(-100px); transform: translateY(-100px); -webkit-transition: transform .5s ease-out; -o-transition: transform .5s ease-out; transition: transform .5s ease-out; }
.slideDown { -webkit-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); transform: translateY(0); -webkit-transition: transform .5s ease-out; -o-transition: transform .5s ease-out; transition: transform .5s ease-out; }
.top {background: #fafafa;overflow: hidden;border-bottom: 1px solid #f2f2f2;}
.topline { position: relative; }
.showdline {top: -10px;position: relative;width: 100%;height: 10px;clear: both;-webkit-box-shadow: -5px 5px 10px -2px rgba(64, 87, 191, 0.07), 5px 5px 10px -2px rgba(64, 87, 191, 0.07);-moz-box-shadow: -5px 5px 10px -2px rgba(64, 87, 191, 0.07), 5px 5px 10px -2px rgba(64, 87, 191, 0.07);-ms-box-shadow: -5px 5px 10px -2px rgba(64, 87, 191, 0.07), 5px 5px 10px -2px rgba(64, 87, 191, 0.07);-o-box-shadow: -5px 5px 10px -2px rgba(64, 87, 191, 0.07), 5px 5px 10px -2px rgba(64, 87, 191, 0.07);box-shadow: -5px 5px 10px -2px rgba(64, 87, 191, 0.07), 5px 5px 10px -2px rgba(64, 87, 191, 0.07);}
/*gdnotice*/
.gdnotice {width: 50%;float: left;height: 22px;line-height: 22px;overflow: hidden;background-size: 16px;padding: 2px 0;}
.noticTipTxt {height: 26px;line-height: 22px;overflow: hidden;margin: 0 0 0 22px;}
.noticTipTxt li { height: 22px; line-height: 22px; }
.noticTipTxt a {color: #666;font-size: 12px;text-decoration: none;height: 22px;overflow: hidden;display: block;}
.noticTipTxt a:hover { color: #ff7300; }
/*search*/
.searchbox { position: absolute; right: 180px; }
.search_bar {position: relative;width: 0%;min-width: 30px;height: 26px;float: right;overflow: hidden;-webkit-transition: width 0.3s;-moz-transition: width 0.3s;transition: width 0.3s;-webkit-backface-visibility: hidden;}
.search_bar .input {position: absolute;top: 0;right: 0;border: none;outline: none;height: 25px;line-height: 25px;z-index: 10;font-size: 12px;color: #333;background: none;}
.search_ico, .search_btn {width: 20px;height: 30px;display: block;position: absolute;right: 0;top: 0;padding: 0;margin: 0;line-height: 30px;cursor: pointer;}
.search_ico { z-index: 90; }
.search_open { width: 260px; display: inline-block; }
.search_open.search_bar .input {border-bottom: #c7c6c6 1px solid;width: 260px;text-indent: 1em;}
.search_ico span { position: relative; top: 5px; }
.search_ico span:before {content: ' ';position: absolute;width: 11px;height: 11px;border: 1px solid #ff6700;border-radius: 10px;}
.search_ico span::after {content: ' ';position: absolute;width: 10px;height: 2px;background: #ff6700;border-radius: 5px 0 0 5px;-webkit-transform: rotate(225deg);-moz-transform: rotate(225deg);-ms-transform: rotate(225deg);-o-transform: rotate(225deg);transform: rotate(225deg);}
.search_ico span:before { top: 0; left: 0; }
.search_ico span:after {right: -19px;top: 13px;}
.search_text {position: absolute;right: 150px;line-height: 26px;font-size: 12px;color: #888;}
.tell {position: absolute;right: 0;line-height: 26px;width: 130px;text-align: right;color: #ff6700;}
.tell:before {content: "";left: 0;background: url(/skin/custom/images/tell.png) no-repeat;background-size: 26px;right: 0;top: 2px;position: absolute;width: 30px;height: 30px;}
/*topnav*/
.topnav { margin: auto; width: 1140px; }
.topnav:before{    display: table;content: " ";}
.topnav:after{content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.logo {float: left;margin-top: 0;}
.logo img {height: 58px;margin-top: 10px;}
/*nav*/
nav {float: right;text-align: center;margin-top: 0; width:900px;}
#starlist li { position: relative; display: inline; float: left; font-size: 16px; margin-left: 5px; width:160px;text-align:center }
#starlist li i { display: block; font-style: normal; color: #777; font-size: 14px; }
#starlist li a { display: inline; float: left; padding: 15px 0px; text-align:center; width:100%}
#starlist li a:hover, #starlist #selected, .selected > a, #starlist li:hover { color: #ffffff; background: #ff6801; }
#starlist #selected i { color: #fff }
#starlist li:hover a, #starlist li:hover i { color: #ffffff }
#starlist ul.sub { width: 160px; padding: 10px 0; position: absolute; left: 0; top: 75px; background: #ffffff; display: none; z-index: 9; box-shadow: 0 3px 14px 0 rgba(199,209,215,.4); }
#starlist ul.sub li { height: 40px !important; line-height: 40px !important; width: 100%; margin-left: 0; }
#starlist ul.sub li a { padding: 0; color: #000; text-align: center; width: 100%; display: block; }
#starlist ul.sub li:hover a { background: none; color: #fff; }
#starlist li:hover ul.sub { display: block; }

#starlist ul.sub:before { content: ""; height: 15px; width: 15px; background-color: #fff; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); border-left: 0; border-bottom: 0; position: absolute; top: -8px; left: 42%; border-top: 1px solid #eee; border-right: 1px solid #eee; }


#mnavh { display: none; margin: 5px 0 0 0; width: 24px; height: 40px; float: right; text-align: center; padding: 0 10px; position: absolute; right: 10px; top: 0; }
.navicon { display: block; position: relative; width: 26px; height: 3px; background-color: #333; margin-top: 20px; }
.navicon:before, .navicon:after { content: ''; display: block; width: 26px; height: 3px; position: absolute; background: #333; -webkit-transition-property: margin, -webkit-transform; transition-property: margin, -webkit-transform; transition-property: margin, transform; transition-property: margin, transform, -webkit-transform; -webkit-transition-duration: 300ms; transition-duration: 300ms; }
.navicon:before { margin-top: -8px; }
.navicon:after { margin-top: 8px; }
.open .navicon { background: none }
.open .navicon:before { margin-top: 0; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.open .navicon:after { margin-top: 0; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
.open .navicon:before, .open .navicon:after { content: ''; display: block; width: 26px; height: 3px; position: absolute; background: #333; }

ul.sub.subopen {
    height: 100%;
    overflow: hidden;
    padding: 0 !important;
    display: block !important;
}

/*banner*/
.swiper-container { width: 100%; height: 100%; }
.swiper-slide { text-align: center; font-size: 18px; background: #fff; /* Center slide text vertically */ display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; }
.swiper-slide img { width: 100% }
.pcbanner { }
.mbanner { display: none }
/*home_text*/
.home_text ul { margin: 20px 0; overflow: hidden; }
.home_text ul li { width: 20%; float: left; padding: 10px 0; }
.home_text ul li:nth-child(6) { display: none }
.home_text ul li i { height: 100px; font-style: normal; display: block; padding: 10px 20px; margin: 0 10px; border-radius: 5px; border-left: #ff6801 2px solid; box-shadow: #e8e8e8 2px 2px 10px; }
.home_text ul li h2 { font-size: 16px; margin-bottom: 10px; color: #ff6801; }
.home_text ul li p { color: #888 }
.home_text ul li:nth-child(1) i { }
.home_text ul li:nth-child(1) h2, .home_text ul li:nth-child(1) p {  }
.home_text ul li i:hover { background: #ff6801; box-shadow: #c5c5c5 2px 2px 10px; }
.home_text ul li i:hover h2, .home_text ul li i:hover p { color: #fff }
h2.t_tilte { text-align: center; color: #ff6801; font-size: 20px; padding: 30px 0 0; }
span.t_en { text-align: center; display: block; color: #999; margin: 10px 0; }
p.t_info { text-align: center; color: #999; padding-bottom: 30px; }
.t_line { width: 70%; height: 1px; background: #eee; display: block; margin: 0 auto 10px }
.t_line span { display: block; background: #ff6801; width: 60px; height: 3px; margin: auto; }
.renqun { width: 20%; float: left; color: #888; }
.renqun h3 { font-size: 16px; font-weight: bold; margin: 0 0 20px; color: #333; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.renqun p { font-size: 14px; margin: 0 0 15px 0; height: 42px; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2; }
.renqun ul { height: 120px; }
.renqun ul li { color: #666; background: url(/skin/custom/images/li_g.png) no-repeat left center; background-size: 16px; padding-left: 20px; line-height: 26px; }
.renqun section { margin: 8px; background: #fff; padding: 20px 10px 10px; box-shadow: #e8e8e8 2px 2px 10px; -moz-transition: all .5s ease; -webkit-transition: all .5s ease; -ms-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; transition: all 0.5s; }
.renqun section a { display: block; text-align: center; line-height: 40px; margin-top: 30px; color: #fff; }
.renqun section:hover { box-shadow: #c5c5c5 2px 2px 10px; }
.syrq_n1 { background: #ff6857 }
.syrq_n2 { background: #fbc713 }
.syrq_n3 { background: #05c387 }
.syrq_n4 { background: #01babf }
.syrq_n5 { background: #7953e6 }
.syrq { padding-bottom: 40px }
.liucheng { padding-bottom: 40px }
.liucheng li { width: 33.333%; float: left; }
.liucheng li section { margin: 10px; box-shadow: #e8e8e8 2px 2px 10px; padding: 20px 30px 40px; -moz-transition: all .5s ease; -webkit-transition: all .5s ease; -ms-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; transition: all 0.5s; }
.liucheng li h3 { font-size: 18px; margin-bottom: 16px; padding-left: 45px; height: 34px; line-height: 34px; }
.liucheng li p { color: #666; }
.liucheng li:nth-child(1) h3 { background: url(/skin/custom/images/lc01.png) no-repeat; background-size: 32px }
.liucheng li:nth-child(2) h3 { background: url(/skin/custom/images/lc02.png) no-repeat; background-size: 32px }
.liucheng li:nth-child(3) h3 { background: url(/skin/custom/images/lc03.png) no-repeat; background-size: 32px }
.liucheng li:nth-child(4) h3 { background: url(/skin/custom/images/lc04.png) no-repeat; background-size: 32px }
.liucheng li:nth-child(5) h3 { background: url(/skin/custom/images/lc05.png) no-repeat; background-size: 32px }
.liucheng li:nth-child(6) h3 { background: url(/skin/custom/images/lc06.png) no-repeat; background-size: 32px }
.liucheng li section:hover { box-shadow: #c5c5c5 2px 2px 10px; }
.feiyong_pic li { width: 25%; display: block; float: left; margin-bottom: 30px; }
.feiyong_pic li section { text-align: center; margin: 20px 40px; }
.feiyong_pic li h3 { font-size: 18px; color: #ff6825; margin: 20px 0; }
.feiyong_pic li p { font-size: 14px; color: #888; height: 42px; overflow: hidden; }
.feiyong_pic i { display: block; background: #ff6825; width: 130px; margin: auto; padding: 33px 0; border-radius: 50%; }
.feiyong_pic i img { margin: auto }
/**/
.youshi_pic li { width: 20%; display: block; float: left; margin-bottom: 30px; }
.youshi_pic li section { text-align: center; margin: 20px 30px; }
.youshi_pic li h3 { font-size: 18px; margin: 10px 0; }
.youshi_pic li p { font-size: 14px; color: #888; height: 42px; overflow: hidden; }
.youshi_pic li:nth-child(6) { display: none }
.youshi_pic i { display: block; background: #fff; width: 130px; margin: auto; padding: 10px 0; }
.youshi_pic i img { margin: auto }
.anli { padding-bottom: 40px; }
.anli_news { overflow: hidden; margin-bottom: 40px }
.anli_tuijian { width: 27%; float: left; overflow: hidden; background: #fff; padding: 10px; box-shadow: #e8e8e8 2px 2px 10px; margin: 10px 0 0 0; -moz-transition: all .5s ease; -webkit-transition: all .5s ease; -ms-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }
.anli_tuijian:hover { box-shadow: #c5c5c5 2px 2px 10px; }
.anli_tuijian i { display: block; overflow: hidden; height: 196px; width: 308px; }
.anli_tuijian img { width: 100%; height: 196px; }
.anli_tuijian p { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 18px; margin: 8px 0; }
.anli_tuijian span { color: #999; font-size: 14px; line-height: 24px; height: 72px; overflow: hidden; display: block; }
.anli_newstime { width: 70%; float: right; overflow: hidden; }
.anli_newstime li { width: 50%; float: left; overflow: hidden; }
.anli_newstime li a { display: block; overflow: hidden; margin: 10px; padding: 15px; background: #fff; box-shadow: #e8e8e8 2px 2px 10px; -moz-transition: all .5s ease; -webkit-transition: all .5s ease; -ms-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }
.anli_newstime li a:hover { box-shadow: #c5c5c5 2px 2px 10px; }
.anli_newstime li img { float: left; margin-right: 10px; width: 63px; height: 63px; }
.anli_newstime p { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-bottom: 5px; }
.anli_newstime span { text-overflow: ellipsis; line-height: 20px; height: 40px; color: #999; font-size: 14px; overflow: hidden; display: block; }
a.more { width: 160px; height: 40px; line-height: 40px; display: block; margin: auto; text-align: center; background: #ff6801; color: #fff; border-radius: 20px; }
a.more:hover { background: #ff832f }
.yiyuan { overflow: hidden; margin-bottom: 40px }
.yiyuan_pic ul { overflow: hidden; }
.yiyuan_pic ul li { display: inline-block; width: 16%; overflow: hidden; text-align: center; }
.yiyuan_pic ul li a { color: #666; margin: 10px 5px; padding-top: 10px; height: 100px; line-height: 100px; font-size: 18px; display: block; background: #fff; box-shadow: #e8e8e8 0px 2px 5px; -moz-transition: all .5s ease; -webkit-transition: all .5s ease; -ms-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }
.yiyuan_pic ul li a:hover { box-shadow: #c5c5c5 0 1px 5px; }
.yiyuan_pic ul li img { width: 100%; }
.yiyuan_title { width: 20px; display: block; text-align: center; padding: 12px; background: #ff663a; color: #fff; float: left; margin-top: 10px; margin-right: 10px; }
.news { padding-bottom: 30px }
.news_left { overflow: hidden; width: 50%; float: left }


.news_left ul { overflow: hidden; margin-top: 10px; font-size: 14px; }
.news_left li { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; margin: 17px 0; }
.news_left li span { color: #999; margin-right: 20px; }
.news_left li a { color: #666 }
.news_left li a:hover { color: #000 }


.news_left section { overflow: hidden }
.news_left section h3 { font-size: 16px; color: #666; font-weight: normal; margin-top: 16px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.news_left section span { overflow: hidden; display: block; color: #999; font-size: 12px; }
.news_left section p { overflow: hidden; color: #999; margin-top: 20px; line-height: 22px; height: 44px; font-size: 14px }
.news_right { overflow: hidden; width: 50%; float: right }
.news_right ul { overflow: hidden; margin-top: 10px; font-size: 14px; }
.news_right li { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; margin: 17px 0; }
.news_right li span { color: #999; margin-right: 20px; }
.news_right li a { color: #666 }
.news_right li a:hover { color: #000 }
.contact { background: url(/skin/custom/images/logobg.jpg) repeat-x; height: 273px; overflow: hidden }
.zixun { margin-top: 80px !important }
.contact_box { width: 440px; margin: 30px auto; }
.contact_rexian { background: url(/skin/custom/images/tellbg.png) no-repeat left center; padding-left: 60px; float: left; margin-right: 40px; }
.contact_rexian p:nth-child(2) { font-size: 12px; color: #999; }
.contact_other { float: left; }
.contact_other ul li { float: left; border: #8a8a8a 1px solid; border-radius: 50%; margin: 0 10px; }
.contact_other ul li a { width: 44px; height: 44px; display: block; overflow: hidden }
.contact_other ul li:nth-child(1) a { background: url(/skin/custom/images/zx01.png) no-repeat center; background-size: 32px; }
.contact_other ul li:nth-child(2) a { background: url(/skin/custom/images/zx02.png) no-repeat center; background-size: 32px; }
.contact_other ul li:nth-child(3) a { background: url(/skin/custom/images/zx03.png) no-repeat center; background-size: 32px; }
.contact_other ul li:nth-child(1):hover, .contact_other ul li:nth-child(2):hover, .contact_other ul li:nth-child(3):hover { background: #ff6738; border: #ff6738 1px solid; }
.contact_other ul li:nth-child(1):hover a { background: url(/skin/custom/images/zx01a.png) no-repeat center; background-size: 32px; }
.contact_other ul li:nth-child(2):hover a { background: url(/skin/custom/images/zx02a.png) no-repeat center; background-size: 32px; }
.contact_other ul li:nth-child(3):hover a { background: url(/skin/custom/images/zx03a.png) no-repeat center; background-size: 32px; }
.contact_other ul li:nth-child(2) { position: relative }
.contact_other ul li:nth-child(2) span { width: 140px; overflow: hidden; display: none; position: absolute; bottom: 50px; left: -50px; box-shadow: #e8e8e8 0px 2px 5px; }
.contact_other ul li:nth-child(2):hover a span { display: block; }
.contact_weixin { width: 100%; }
footer { background: #fefefe; padding: 60px 0; }
.yiyuan { background: #fefefe; padding: 60px 0; }


.footer_info {width: 360px;float: left;font-size: 14px;margin-right: 40px;}
.footer_nav { float: left; width: 400px; }
.footer_nav_list { width: 25%; float: left; font-size: 14px; margin-top: 20px; }
.footer_nav_list ul { }
.footer_nav_list h2 { font-size: 14px; margin-bottom: 20px; }
.footer_nav_list li { line-height: 26px }
.footer_nav_list li a { color: #888 }
.footer_nav_list li:hover a { color: #000 }
.footer_logo { margin-bottom: 20px; display: block; }
.footer_logo img { height: 66px; }
.footer_lxfs_list {overflow: hidden;margin-top: 5px;}
.footer_lxfs_list li {margin-right: 5px;display: block;overflow: hidden;float: left;}
.footer_lxfs_list li a {display: inline-block;float: left;border: #c8c8c8 1px solid;line-height: 24px;width: 60px;text-align: center;border-radius: 20px;font-size: 12px;color: #888;}
.footer_lxfs_list li:nth-child(1) a, .footer_lxfs_list li:hover a { background: #fa6500; color: #fff; border: #fa6500 1px solid }
.footer_lxfs h2 { font-size: 14px; margin-bottom: 20px; }
.footer_lxfs { margin-top: 20px; float: right; }
.footer_lxfs p { font-size: 14px; line-height: 26px; color: #888; }
.copyright { font-size: 12px; line-height: 26px; background-color: #f3f2f2; color: #797979; text-align: center; }
.sidefloat { position: fixed; right: 20px; bottom: 24%; z-index: 9 }
.sidefloat li { width: 50px; height: 50px; margin-bottom: 1px; position: relative; }
.side_zd { display: block; width: 40px; height: 40px; }
.sidefloat li span { display: none; position: absolute; right: 50px; line-height: 50px; background: #ff6801; color: #fff; text-indent: 0.2em; }
.sidefloat li span img { width: 140px }
.side_top { background: url(/skin/custom/images/top.png) no-repeat center #ff6801; background-size: 32px; }
.side_tell { background: url(/skin/custom/images/zx01a.png) no-repeat center #ff6801; background-size: 32px; }
.side_weixin { background: url(/skin/custom/images/zx02a.png) no-repeat center #ff6801; background-size: 32px; }
.side_qq { background: url(/skin/custom/images/zx03a.png) no-repeat center #ff6801; background-size: 32px; }
.sidefloat li:hover span { display: block }
.side_text { padding: 0 10px }
.side_tell a, .side_qq a { color: #fff }
.case { margin-bottom: 50px }
h2.t_tilte_about { text-align: center; font-size: 24px; }
p.anli_nav.place {padding-left: 10px;}
.place { font-size: 14px; }
.place i { padding: 0 10px; font-style: normal; font-weight: bold; color: #ff6801; }
.case_list, .zixun_list { width: 68%; float: left; overflow: hidden; margin-top: 20px }
.case_list ul { overflow: hidden }
.case_list li { width: 50%; float: left; overflow: hidden; }
.case_list li a { display: block; overflow: hidden; margin: 10px; padding: 15px; background: #fff; box-shadow: #e8e8e8 2px 2px 10px; -moz-transition: all .5s ease; -webkit-transition: all .5s ease; -ms-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }
.case_list li a:hover { box-shadow: #c5c5c5 2px 2px 10px; }
.case_list li img { float: left; margin-right: 10px; width: 63px; height: 63px; }
.case_list p { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-bottom: 5px; }
.case_list span { text-overflow: ellipsis; line-height: 20px; height: 40px; color: #999; font-size: 14px; overflow: hidden; display: block; }
.sidebar { width: 30%; float: right; }
.sidebg { box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.1); border: 1px solid #f1f7fb; margin-right: 20px; }
.sidebar_nav { margin-top: 28px; padding: 30px; }
.sidebar_nav p { padding: 10px 25px; position: relative; background-color: #ff6801; color: #fff; text-align: center; border-radius: 20px; margin-bottom: 30px; }
.sidebar_nav h2 { padding-left: 17px; color: #ff6801; font-size: 16px; margin-bottom: 10px; position: relative; }
.sidebar_nav h2:before { position: absolute; content: ""; background: #ff6801; width: 2px; height: 24px; left: 0; bottom: 0; }
.sidebar_nav ul { margin-bottom: 20px; overflow: hidden; }
.sidebar_nav ul li { float: left; width: 50%; margin-bottom: 10px; text-align: center; }
.sidebar_nav ul li a { border: #e6e6e6 1px solid; display: block; padding: 5px 10px; margin: 0 8px; border-radius: 20px; font-size: 14px; }
.sidebar_nav ul li:hover a { background-color: #ff6801; color: #fff; border: #ff6801 1px solid; }
.sidebar_nav_02 { margin-bottom: 50px }
.sidebar_nav_02 ul { margin-bottom: 20px; overflow: hidden; padding: 20px }
.sidebar_nav_02 ul li { float: left; width: 50%; margin-bottom: 10px; text-align: center; }
.sidebar_nav_02 ul li a { border: #e6e6e6 1px solid; display: block; padding: 5px 10px; margin: 0 8px; border-radius: 20px; font-size: 14px; }
.sidebar_nav_02 ul li:hover a { background-color: #ff6801; color: #fff; border: #ff6801 1px solid; }
/*pagelist*/
.pagelist { text-align: center; color: #666; width: 100%; clear: both; margin: 30px 0 10px; }
.pagelist a { color: #666; margin: 0 5px 10px; padding: 5px 10px; background: #F7F7F7; display: inline-block; }
.pagelist a:nth-child(1) { display: none }
.pagelist a:hover, .pagelist > b { color: #FFF; background: #ff6801; }
.pagelist > b { padding: 5px 10px; }
a.curPage { color: #ffffff; font-weight: bold; background: #000; }
.guanyu_text { width: 65%; float: left; }
.guanyu_text h2 { color: #333b55; line-height: 1.4; font-weight: 500; font-size: 28px; padding: 10px 0 30px 0; border-bottom: #f2f7fb 1px solid; }
.guanyu_content p { margin: 20px 0; font-size: 16px; color: #2f3340; line-height: 1.8; }
.guanyu_content { padding: 15px 0; overflow: hidden; }
.side_title { color: #333b55; font-size: 1.25rem; font-weight: 500; padding: 30px; position: relative; }
.side_title:after { position: absolute; content: ""; background: #ff6801; width: 40px; height: 2px; bottom: 16px; left: 30px; -moz-transition: all .5s ease; -webkit-transition: all .5s ease; -ms-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }
.sidebg:hover h2:after { width: 80% }
.guanzhu img { width: 70%; margin: 0 auto 30px; }
.guanzhu { margin-bottom: 50px; }
.side_lianxi ul { padding: 0 30px 30px; }
.side_lianxi li { line-height: 40px; }
.side_lianxi li:nth-child(4) { margin-bottom: 40px }
.hospital_nav { margin-top: 30px; text-align: center; border-bottom: #e7e7e7 1px solid; padding-bottom: 10px; }
.hospital_nav a:hover { color: #ff6801; }
#nav_active { color: #ff6801; font-weight: bold; display: block; position: relative; padding: 0 20px; }
#nav_active:after { content: ""; position: absolute; bottom: -10px; left: 0; width: 100%; height: 3px; background: #ff6801; }
#nav_active:before { content: ""; position: absolute; bottom: -20px; left: 50px; width: 0; height: 0; border-right: 10px solid transparent; border-left: 10px solid transparent; border-top: 10px solid #ff6801; }
.hospital_nav li { display: inline-block; font-size: 20px; margin: 0 20px; }
.hospital_list { overflow: hidden; margin: 30px 0 50px; }
.hospital_list ul li { display: block; float: left; width: 260px; overflow: hidden; text-align: center; margin: 10px; padding-bottom: 30px; border: 1px solid #f1f7fb; box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.1); -moz-transition: all .5s ease; -webkit-transition: all .5s ease; -ms-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }
.hospital_list ul li a { color: #666; padding-top: 10px; line-height: 100px; font-size: 18px; display: block; }
.hospital_list ul li:hover { box-shadow: #c5c5c5 2px 2px 10px; }
.hospital_list ul li img { margin: auto; }
.hospital_list li p { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.zixun_list ul { padding-right: 40px; overflow: hidden }
.zixun_list li { border-bottom: 1px solid #f1f7fb; padding: 20px 0; overflow: hidden }
.zixun_list li a { color: #333b55; }
.zixun_list h2 { font-size: 20px; font-weight: normal; margin-bottom: 20px; }
.zixun_list p { font-size: 14px; color: #62656d; margin-bottom: 20px }
.zixun_list span { font-size: 12px; color: #9d9fa9 }
.news_list { padding: 0 30px 50px 30px }
.news_list li { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; line-height: 44px; border-bottom: #f7f7f7 1px solid }
.news_list li a { color: #323c55 }
.tuijian { overflow: hidden; margin-bottom: 50px }
h1.con_title { color: #333b55; line-height: 1.4; font-size: 26px; font-weight: normal; margin: 30px 0 20px; }
.newsview_content { width: 65%; float: left; }
.con_time { color: #999; font-size: 14px; margin-bottom: 30px; display: block }
.content { border-top: #f2f7fb 1px solid; padding: 30px 20px 30px 0; font-size: 16px; color: #2f3340; line-height: 1.8; position: relative }
.content p { margin-bottom: 20px; }
.content img { max-width: 100%; margin: 10px auto; height: auto !important; }
.endpic { margin: 50px 0; padding: 30px; position: relative; }
.endpic h2 { color: #333b55; line-height: 1.4; font-weight: normal; font-size: 22px; margin-bottom: 20px }
.endpic ul li { list-style-type: circle; color: #9d9fa9; margin-left: 20px; line-height: 26px; }
img.end_weixin { width: 120px; position: absolute; right: 30px; top: 20px; }
.content.hide { height: auto; overflow: hidden; }
.content .spread { position: absolute; left: 0; bottom: 0; z-index: 3; width: 100%; height: 200px; background: -webkit-gradient(linear, 0 top, 0 bottom, from(rgba(255,255,255,0)), to(#fff)); font-size: 20px; line-height: 30px; text-align: center; cursor: pointer; color: #ca0c16; }
.content .spread span { display: block; border: #ff6801 1px solid; width: 70%; margin: auto; border-radius: 3px; line-height: 46px; background: #fff; margin-top: 152px; position: relative; color: #ff6801; }
.content .spread span:after { background: url(/skin/custom/images/icon_jt_x.png) no-repeat; content: ""; display: inline-block; width: 18px; height: 12px; vertical-align: middle; background-size: 18px; margin-left: 5px; }
.footerbar { position: fixed; z-index: 999; left: 0; bottom: 0; width: 100%; height: 40px; font-size: 0; text-align: center; color: #666; background: #fa6500; display: none; }
.footerbar ul { }
.footerbar ul li { float: left; width: 25%; }
.footerbar ul li a { display: block; overflow: hidden; width: 100%; height: 40px; border-left: #f18a44 1px solid; }
.footerbar li:nth-child(1) a { background: url(/skin/custom/images/zx01a.png) no-repeat center; background-size: 22px; border: none; }
.footerbar li:nth-child(2) a { background: url(/skin/custom/images/zx02a.png) no-repeat center; background-size: 22px; position: relative }
.footerbar li:nth-child(3) a { background: url(/skin/custom/images/zx03a.png) no-repeat center; background-size: 22px; }
.footerbar li:nth-child(4) a { background: url(/skin/custom/images/top.png) no-repeat center; background-size: 22px; }
#weixin_num { display: none }
.wxopen { bottom: 40px; }
.side_lianxi.sidebg { margin-bottom: 40px; }
.footer_info p {color: #888;padding-left: 10px;font-size: 13px;padding-right: 30px;line-height: 22px;}
.diggit { display: block; width: 160px; margin: 20px auto; background: #ff6801; color: #fff; box-shadow: 1px 2px 6px 0px rgba(0,0,0,.2); border-radius: 3px; line-height: 40px; text-align: center; }
.diggit a { color: #fff }
.sideqq { display: none }
.mfooter{display:none}
.guanyu_content img{max-width:100% !important; height:auto !important}




.tabbox{width:1247px;margin:0 auto; color:#323232; font-family:"微软雅黑"; font-size:14px; margin-bottom:40px}
.tabbox .hd{width:1240px; margin:0 auto}
.tabbox .hd i{display: inline-block;float: left;height: 21px;background: #0250A3 none repeat scroll 0% 0%;margin-top: 4px;margin-right: 5px;}

.tabbox .hd ul li{display: block; width:176px; height:78px; margin:0 4px;color:#000;border: 2px solid #000;text-decoration: none;float:left; font-size:16px;cursor:pointer; border:2px solid #F8F4F1;}
.tabbox .hd ul li span{width:80px; height:74px; float:left;}
.tabbox .hd ul li p{padding-left:5px; float:left;word-wrap:break-word; width: 90px;font-size: 12px; font-weight:normal}

.tabbox .hd ul li.on{ color:#01BBE2; font-weight:600; border:2px solid #3CF;}
.tabbox .bd { width:1247px}
.tabbox .bd ul{ width:1247px; margin:0 auto; margin-top:18px}
.tabbox .bd ul .fdyy{width:1247px; height:380px;  margin:0 auto;}
.tabbox .bd ul .fdyy .fd_pic img{border:1px solid #e6e6e6; width:255px; height:194px;}
figure{margin:0;padding:0;position:relative;display:block;cursor:pointer;overflow:hidden;}
figure:hover figcaption{-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);filter:alpha(opacity=100);opacity:1;-webkit-transform:rotate(0);-moz-transform:rotate(0);-o-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0);top:0;}
.filtr-container{ width:390px; height:260px; float:left;}
.filtr-container figcaption{-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);filter:alpha(opacity=0);opacity:0;position:absolute;height:100%;width:100%;top:-100%;background:rgba(0,0,0,.5);color:#fff;-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-o-transition:all .2s ease;-ms-transition:all .2s ease;transition:all .2s ease;-webkit-transition-delay:.2s;-moz-transition-delay:.2s;-o-transition-delay:.2s;-ms-transition-delay:.2s;transition-delay:.2s;}
figcaption h3{font-weight:700;font-size:30px;color:#FFF;padding-top:75px; text-align:center;-webkit-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s;-ms-transition:all .5s;transition:all .5s;-webkit-transition-delay:1s;-moz-transition-delay:1s;-o-transition-delay:1s;-ms-transition-delay:1s;transition-delay:1s;}
figure:hover h3{left:0;font-size:30px;}
figcaption a{color:#fff;border:2px solid #fff;padding:4px 10px;text-decoration:none;}
figcaption a:hover{color:#4f5856;background:#fff;}
/********end合作医院********/


.person li {width:1177px; height: 379px;  float: left; position: relative; margin-bottom:30px;  }
.person li dt{ width:310px; height:379px;  float:left;}
.person li dd{ width:805px; height:376px;  float:left; margin-left:30px;/*border-top:1px solid #d7d7d7; border-right:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;*/}
.person li dd h3{ font-size:32px;  line-height:30px; color:#fcad6b; padding-top:10px;padding-left:10px; margin-bottom:10px; }
.person li dd h3 small{ font-size:20px; font-weight:normal; border-left:4px solid #fcad6b; padding:5px 0 2px; padding-left:10px;}
.person li dd p{ height:90px; padding:0 12px 0 12px; line-height:30px; color:#4d4c4c; font-size:16px; text-indent:0;}
.person li dd p big{ background:#4d4c4c; color:#fff; border-radius:14px; -moz-border-radius:14px; -ms-border-radius:14px; -o-border-radius:14px; -webkit-border-radius:14px; padding:2px 13px; font-size:16px; margin-right:5px;}
.person li dd span{ display:block; padding-left:32px; color:#ec505e; height:110px;}
.person li dd span big{ display:block; float:left; line-height:38px; width:278px; padding-left:22px;}
.person li dd .an{ text-align:center; }
.an img{padding-top:5px;}
.person li dd .an a{ height:24px; line-height:24px; padding:10px 18px; border-radius:22px; -moz-border-radius:22px; -ms-border-radius:22px; -o-border-radius:22px; -webkit-border-radius:22px; font-size:18px; color:#fff; margin:0 10px; float:left; width:120px; margin-top:30px;}
.person li dd .an a.a1{ background:#81bb0e; margin-left:25%;}
.person li dd .an a.a2{ background:#fcad6b;}
.person li dd .an a img{ margin-right:8px; float:left;}
.expert { position: relative; width: 100%; height: 100%; }



.yiyuan{ display:block}






