.banner{background:url(../images/banner-bg.jpg);padding-bottom:80px}
.banner .container .text-intro{padding-top:40px}
.banner .btn-zdy:first-child{margin-right:30px}
@media (max-width: 992px)
{
  .banner .pic{display:none}
  .banner .container .text-intro{padding-top:20px}
  .banner {display:block;background:none;padding-top:0px;padding-bottom:30px;text-align:center;background-color:rgba(0,0,0,0.9)}
  .banner h2{font-size:22px}
  .banner h5{font-size:14px}
  .banner h7{font-size:14px}
}

.app-box{padding-top:50px}
.tem-box{padding:30px 15px;background:#EDEDED url(../images/mbbg.jpg) no-repeat center center;width:100%}
.tem-box .module-box{padding:30px 0px}
.news-box{padding:30px 15px;background:#F5F5F5 url(../images/newsbg.jpg) no-repeat center top;}


.module-advantage{padding-top:30px}
.module-advantage .adv{background: url(../images/soft-adv-item.png) no-repeat left center;width:156px;height:154px;margin:0px auto;transition:all ease-in-out 0.4s}
.module-advantage .adv-2{background-position-x:-170px}
.module-advantage .adv-3{background-position-x:-340px}
.module-advantage .adv-4{background-position-x:-510px}
.module-advantage .adv-5{background-position-x:-680px}
.module-advantage .adv-6{background-position-x:-850px}
.module-advantage h4{font-size:2rem;}
.module-advantage h6{font-weight:normal;font-size:15px;color:#808080;padding:2rem 1rem}
.module-advantage .item{}
.module-advantage .item:hover .adv{transform: scale(1.2); -webkit-transform: scale(1.2); -moz-transform: scale(1.2); -o-transform: scale(1.2); -ms-transform: scale(1.2);}



.app-con{position:relative;background:#f4f4f4;padding:5rem 3rem}
.icon{position:absolute;bottom:0rem;right:1rem}
.icon img{transition:transform 0.5s ease-in-out;transform-origin: bottom;backface-visibility:hidden;}
.app-con:hover .icon img{transform:rotateY(360deg); }

.application{padding-top:1rem}
.application .appli{overflow:hidden;}
.application .app-con{margin:1rem 0rem;}

.application .tit{font-size:2rem;font-weight:bold}
.application .brief{color:#666;max-width:250px;margin:1rem 0;}
.application .more{font-size:1.5rem;color:#156fda;}
.application .more:hover{text-decoration:underline #156fda;}

.application .app-con:hover .more,.application .more:hover{text-decoration:underline #156fda;}

@media screen and (max-width:700px)
{
    .application .icon  img{max-width:70px;}
}



.tem-box .temp-list .slide{height:300px;background-color:#fff;overflow:hidden}
.tem-box .temp-list .slide img{transition:all ease-in-out 0.3s;vertical-align:middel}

@media (min-width:993px) {
.tem-box .temp-list .slide:hover img {
        transform: scale(1.2)
    }
}
.tem-box .pic-control{padding-top:30px}
.tem-box .pic-control .fa{margin-right:10px;cursor:pointer}
.tem-box .pic-control .fa:hover{color:#156fda}



.module-service{padding-bottom:0px}
.module-service .service-content{max-width:600px}
.module-service .sub_ser_li .ser_tit{font-size:38px;line-height:40px;color:#000;margin-top:3rem;}
.module-service .sub_ser_li .ser_com{line-height:30px;font-size:18px;color:#666;margin:1rem 0}
.module-service .sub_ser_li .ser_sj{position:relative;border-bottom:1px solid #ddd;padding:15px 0}
.module-service .sub_ser_li .ser_sj .ser_sj_pic{position:absolute;right:5px;top:10px;}
.module-service .sub_ser_li .ser_sj .ser_sj_sj{}
.module-service .sub_ser_li .ser_sj .ser_sj_sj span.s1{font-size:30px;color:#076bdd;line-height:50px;vertical-align:middle;}
.module-service .sub_ser_li .ser_sj .ser_sj_sj span.s2{font-size:18px;color:#666;line-height:50px;margin-left:10px;vertical-align:middle;}



.newtitbg1{background:url(../images/news1.jpg) no-repeat center center;background-size:100% auto}
.newtitbg2{background:url(../images/news2.jpg) no-repeat center center;background-size:100% auto}
.newtitbg3{background:url(../images/news3.jpg) no-repeat center center;background-size:100% auto}
.home_news_tit{padding:3rem 0 3rem 1rem;color:#FFF;margin-bottom:.5rem}
.home_news_tit .tit1{font-size:2rem;line-height:160%;}
.home_news_tit .tit1 a{color:#FFF;font-size:1.6rem;font-weight:bold}
.home_news_tit .tit2{font-size:1.6rem;}



.web-footer{margin-top:0px}