
.news-small-banner{background:url(../images/newsBanner.jpg) no-repeat;width:100%;height:175px;}
.news-content-box .content a{color:blue;text-decoration:underline}
.seo-content-box{padding-top:10px}
.seo-content-box .title{text-align:left}
.seo-content-box .content{padding-top:10px}
.relativeNews{padding-top:0px}
.seo-content-box .tags{padding:5px;}
.seo-content-box .tags .fa{color:#999}
.seo-content-box .tags a{font-size:13px;color:#999}
.seo-content-box .tags a:hover{color:#ccc}

.tit-intro-list .item{padding-bottom:40px;}
.tit-intro-list .item span{display:block}
.tit-intro-list .item .date{float:left;width:90px;height:80px;padding:10px;background-color:#EBEDEF;color:#666;line-height:30px;text-align:center;font-size:13px;font-family: Microsoft YaHei;}
.tit-intro-list .item .date .day{font-size:32px;}
.tit-intro-list .item .con{float:right;width:calc(100% - 120px);}
.tit-intro-list .item .con a{font-size:16px;display:block;vertical-align:top;padding-bottom:10px;}
.tit-intro-list .item .con span{color:#999}
.tit-intro-list .item:hover .date{background-color:#0154BA;color:#fff}
.tit-intro-list .item:hover a{color:#0154BA}

.relativeNews .item .con{height:80px;overflow:hidden}



.relativeTemplates {padding-top: 20px;}
.relativeTemplates .sign,.relativeNews .sign{font-size:16px;line-height:2;padding:0px 0px 20px}
.template-more-box {margin-bottom:40px}
.template-more-box .template-card{box-shadow:rgba(0,0,0,0.2) 0px 2px 5px;padding:0px;border-radius:5px;overflow:hidden}
.template-more-box .template-card .head-bar{height:25px;background-color:#EBEDEF;text-align:left;padding-left:10px}
.template-more-box .template-card .head-bar .fa{font-size:8px;color:#FEFEFE}
.template-more-box  a.image-box{display:block;height:300px;overflow:hidden}
.template-more-box  a.image-box img{width:100%;transition:all ease-in-out 0.5s}
.template-more-box  a.image-box:hover img{width:100%;transform:scale(1.2)}
.template-more-box .template-tit{line-height:2.5;padding:10px 0px;text-align:center}