html{font-family: sans-serif;/* 1*/-ms-text-size-adjust: 100%;/* 2*/-webkit-text-size-adjust: 100%;/* 2*/-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
body{margin: 0;text-align:left;font-size: 14px;background:#eaeaea;font-family:arial,"Microsoft YaHei","\5fae\8f6f\96c5\9ed1"}
article,aside,details,
/* 1*/figcaption,figure,footer,header,main,
/* 2*/menu,nav,section,summary{/* 1*/display: block;}
audio,canvas,progress,video{display: inline-block;}
audio:not([controls]){display: none;height: 0;}
progress{vertical-align: baseline;}
template,
/* 1*/[hidden]{display: none;}
a{background-color: transparent;/* 1*/-webkit-text-decoration-skip: objects;/* 2*/}
a:active,a:hover{outline-width: 0;}
button, input, select, textarea, a{outline:none;}
abbr[title]{border-bottom: none;/* 1*/text-decoration: underline;/* 2*/text-decoration: underline dotted;/* 2*/}
b,strong{font-weight: inherit;}
b,strong{font-weight: bolder;}
dfn{font-style: italic;}
h1{font-size: 2em;margin: 0.67em 0;}
mark{background-color: #ff0;color: #000;}
small{font-size: 80%;}
sub,sup{font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}
sub{bottom: -0.25em;}
sup{top: -0.5em;}
img{border-style: none;}
svg:not(:root){overflow: hidden;}
code,kbd,pre,samp{font-family: monospace, monospace;/* 1*/font-size: 1em;/* 2*/}
figure{margin: 1em 40px;}
hr{box-sizing: content-box;/* 1*/height: 0;/* 1*/overflow: visible;/* 2*/}
button,input,select,textarea{font: inherit;/* 1*/margin: 0;/* 2*/}
optgroup{font-weight: bold;}
button,input{/* 1*/overflow: visible;}
button,select{/* 1*/text-transform: none;}
button,html [type="button"],
/* 1*/[type="reset"],[type="submit"]{-webkit-appearance: button;/* 2*/}
button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style: none;padding: 0;}
button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline: 1px dotted ButtonText;}
fieldset{border:0;margin: 0 2px;padding: 0.35em 0.625em 0.75em;}
legend{box-sizing: border-box;/* 1*/color: inherit;/* 2*/display: table;/* 1*/max-width: 100%;/* 1*/padding: 0;/* 3*/white-space: normal;/* 1*/}
textarea{overflow: auto;}
[type="checkbox"],[type="radio"]{box-sizing: border-box;/* 1*/padding: 0;/* 2*/}
[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height: auto;}
[type="search"]{-webkit-appearance: textfield;/* 1*/outline-offset: -2px;/* 2*/}
[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{-webkit-appearance: none;}
::-webkit-input-placeholder{color: inherit;opacity: 0.54;}
::-webkit-file-upload-button{-webkit-appearance: button;/* 1*/font: inherit;/* 2*/}
.clearfix{*zoom:1}
.clearfix:before,.clearfix:after{display:table;line-height:0;content:""}
.clearfix:after{clear:both}
p{margin: 0;}
img{width:auto\9;height:auto;max-width:100%;vertical-align:middle;border:0;-ms-interpolation-mode:bicubic}
ul,ol,dl,h1,h2,h3,h4,h5,h6,dt,dd{margin:0;padding:0}
ul li,ol li{list-style:none}
.f-fl,.f-lifl li,.f-dlfl dt,.f-dlfl dd{float:left;display:inline}
.f-fr{float:right;display:inline}
a,a:visited{text-decoration:none;color:#2a2a2a;}
a:hover{transition:color 160ms ease 0s, background-color 200ms ease 0s, border-color 160ms ease 0s, transform 500ms ease 0s;cursor: pointer;}
em{font-style:normal;}
.main-bg{background-color: #fff;box-shadow: 0px 1px 3px #ccc;}
.nav{height: 16px;line-height: 16px;font-size: 14px;font-weight: normal;color: #333;padding: 14px 0 11px;}
.nav span{float: left;width: 16px;height: 16px;background: url(../images/ku-icon.png) no-repeat; margin:0px 10px 0 0 ;}
.nav a:hover{color:#f60}
.box-1200{width:1200px;height:auto;margin:auto;display:block;}
.x-margin15{margin-top:15px;}
.top-full{width:100%;height:30px;background:#424242;display:block;overflow:hidden}
.top-full p{height:30px;line-height:30px;font-size:12px;font-weight:normal;color:#fff;font-family:serif;overflow:hidden}
.top-full p a{padding:0 10px;color:#fff;}
.top-full p a:hover{text-decoration:none;color: #f77}
.nav-full{width:100%;height:90px;padding:8px 0 0;background:#fff;border-bottom:1px solid #dedede;display:block;}
.nav-full .u-logo{width:240px;height:auto;margin-top:11px;overflow:hidden}
.nav-full .u-logo:hover img{-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;-o-transition:all 0.5s ease-in-out;transform:scale(1);-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);}
.nav-full .tip{width: 286px;height: 38px;margin: 19px 0 0 12px;background:url(../images/tip001.png) no-repeat 0 0;}
.nav-full .x-nav{width:auto;height:auto;margin:7px 0 0 20px;overflow:hidden}
.nav-full .x-nav li{float:left;margin:0 0 0 30px;float:left;display:inline;}
.nav-full .x-nav li a{width:auto;height:33px;line-height:33px;font-size:16px;font-weight:normal;color:#333;padding:0 10px;text-decoration:none;display:block;overflow:hidden;}
.nav-full .x-nav li a:hover{background:#4a8992;color:#fff;}
.nav-full #topForm{width:512px;height: 40px;display:block;border:2px solid #4a8992;margin:0;position:relative;zoom:1;top: 19px}
.nav-full #topForm .schsel{width:70px;height:37px;float:left;border-right:1px solid #cfcfcf;background:#fafafa;}
.nav-full #topForm .schsel .schsel-now #headSlected{cursor:pointer;width:70px;height:37px;line-height:37px;display:block;font-size:12px;font-weight:normal;color:#676767;text-indent:18px;background:url(../images/search_icn.jpg) no-repeat 52px 17px;}
.nav-full #topForm .schsel #headSel{width:70px;height:auto;background:#fff;display:block;margin:0;position:absolute;left:2px;top:37px;zoom:1;z-index:250}
.nav-full #topForm .schsel #headSel li{width:70px;height:40px;display:block;overflow:hidden;}
.nav-full #topForm .schsel #headSel li a{width:70px;height:40px;line-height:40px;text-align:center;font-size:12px;font-weight:normal;color:#000;background:#fafafa;margin:0;display:block;overflow:hidden}
.nav-full #topForm .schsel #headSel li a:hover{background:#000;color:#fff}
.nav-full #topForm dl{width:50px;height:auto;display:block;overflow:hidden;position:absolute;left:0;top:0;font-size:14px;}
.nav-full #topForm dl dt{width:100%;height:40px;line-height:40px;background:#f5f5f5;color:#555;text-indent:13px;display:block;overflow:hidden;cursor:pointer;position:relative;zoom:1}
.nav-full #topForm dl dt i{border-left:4px solid transparent;border-right:4px solid transparent;border-top:4px solid #A7A7A7;display:block;overflow:hidden;position:absolute;right:10px;top:15px;}
.nav-full #topForm dl dt img{width: 50px;height:auto;    position: absolute;left: 0;top: -4px;}
.nav-full #topForm dl dd{width:100%;height:40px;line-height:40px;background:#f5f5f5;color:#555;text-align:center;display:none;overflow:hidden;cursor:pointer}
.nav-full #topForm dl dd:hover{background-color: #e3e3e3}
.nav-full #topForm .keyword_input{width:369px;height: 40px;line-height: 40px;font-size:14px;float:left;border:0;overflow:hidden;padding:0;margin:0 0 0 60px;display:inline;text-indent:4px;}
.nav-full #topForm .schbtn{width:73px;height: 40px;line-height: 40px;float:right;background:#4a8992;border:0;font-size:14px;font-weight:normal;color:#fff;text-align:center;font-family: "Microsoft YaHei";}
.nav-full #topForm .schbtn:hover{background:#4a8992;}
.navlist{width:100%;height:45px;line-height:45px;background-color:#4a8992;box-shadow: 0px 4px 4px #d0d0d0;}
.navlist ul li{float:left;width:133px;text-align:center;font-size:16px;color:#fff;}
.navlist ul li a{display:block;font-size:18px;color:#fff;font-family: Microsoft YaHei}
.navlist ul li.hover,.navlist ul li a:hover,.navlist ul li.x-txzq a:hover,#hamburgermenu .current{background-color:#cc0000;}
.navlist ul li.x-txzq a{background:url() no-repeat 98px 1px;}
.count{padding:10px 20px; background:#fff; margin-top:15px;}
.count span{margin-right: 15px;}
.count span b{padding-right: 5px; color:#ff0000;}
.count span.data{ float:right;margin-right: 0;font-weight:700;}
.imdome{overflow:hidden;width:380px;height:300px;position:relative;margin:20px;}
.imdome .dome-top{position:absolute;height:6px;z-index:999;bottom: 15px;right: 15px;}
.imdome .dome-top ul li{height:6px;width:14px;float:left;background:#fff;margin-right:6px;cursor:pointer;filter: alpha(opacity=50);-moz-opacity: 0.5;-khtml-opacity: 0.5;opacity: 0.5;text-indent:-9999px;}
.imdome .dome-top ul li.x-hover{background:#f70;filter: alpha(opacity=80);-moz-opacity: 0.8;-khtml-opacity: 0.8;opacity: 0.8;}
.imdome .dome-top ul li.m-hover {
    background: #f70;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}
.imdome .dome-bd{overflow:hidden;width:100%;height:300px;}
.imdome .dome-bd ul li{height:300px;width:100%;overflow:hidden;float:left;position:relative;}
.imdome .dome-bd ul li.bq-list{width:100%;height:300px;}
.imdome .dome-bd ul li.bq-list img{width:100%;height:298px;border: 1px solid #f3f3f3;}
.imdome .dome-bd ul li a:hover strong{color:#f60}
.imdome .dome-bd ul li img{height:300px;width:100%;}
.imdome .dome-bd ul li strong{position:absolute;left:0px;bottom:0px;display:block;height:36px;line-height:36px;color:#fff;z-index:99;width:280px;padding-left:20px;overflow:hidden;font-weight:normal;}
.imdome .dome-bd ul li em{display: block;width: 380px;height:36px;background: #000;filter: alpha(opacity=50);-moz-opacity: 0.5;-khtml-opacity: 0.5;opacity: 0.5;position: absolute;left: 0px;bottom: 0px;z-index:9}
.topcms{overflow:hidden;width:420px;height:300px;padding:20px 20px 0 0;}
.topcms .topcms-name{height:30px;line-height:30px;overflow:hidden;}
.topcms .topcms-name a{font-size:16px;font-weight:bold;color: #333;}
.topcms .topcms-box{color: #999;line-height:24px;height:75px;font-size:12px;}
.topcms .topcms-box a{color:#4a8992;font-size:12px;}
.topcms a:hover{color:#4a8992;}
.topcms ul{border-top:1px dotted #cccccc;margin-top:13px;padding-top:7px;}
.topcms ul li{background: url(../images/cpk-ico.png) no-repeat -295px -281px;height:30px;line-height:30px;margin-top: 3px;overflow:hidden}
.topcms ul li a{color:#555555;padding-left:12px;}
.rank{overflow:hidden;width:285px;height:325px;padding:15px 20px 0 20px;}
.x-tith4{height: 24px;line-height: 24px;font-size: 18px;color: #333;text-indent: 15px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.x-tith4 i{width: 5px;height: 24px;background: #4a8992;float: left;}
.x-tith4 span{float: right;font-weight: normal;font-size: 14px;display: block;height: 24px;line-height: 24px;}
.x-tith4 span.u-more{cursor: pointer;float: right;margin: 0 0px 0 0;display: inline;overflow: hidden;line-height:24px;}
.x-tith4 span.u-more a{line-height:24px;width: auto;height: 24px;color:#888;display:inherit;font-size:12px;}
.x-tith4 span.u-more a:hover{color:#f80;}
.x-tith4 span a{display: block;width: 38px;height: 15px;}
.x-tith4 span b{color: red;font-size: 16px;padding: 0px 5px;}
.dome-title{overflow:hidden;}
.title-li ul li{float: left;text-align: center;height: 24px;line-height: 24px;font-size: 16px;font-weight: bold;cursor: pointer;background: url(../images/lbl_bg.png) no-repeat left center;padding-right: 3px;padding-left: 16px;color:#333;}
.title-li ul li:first-child{background: none;}
.title-li ul li.m-hover{color: #904C3F;}
.title-li ul li.x-hover{color: #904C3F;}
.rank-bd{overflow:hidden;}
.rank-li{overflow:hidden;}
.rank-li ul li{overflow:hidden;height:20px;line-height:20px;margin-top:15px;}
.rank-li ul li span{display:block;width:20px;height:20px;text-align:center;line-height:20px;color:#666;float:left;background:#eeeeee}
.rank-li ul li:nth-child(1) span{background:#ff3c3c;color:#fff;}
.rank-li ul li:nth-child(2) span{background:#f60;color:#fff;}
.rank-li ul li:nth-child(3) span{background:#ffc033;color:#fff;}
.rank-li ul li a{display:block;float:left;padding-left:12px;width:245px;color:#555555;}
.rank-li ul li a:hover{color: #4a8992;}
.headimg{padding:15px 20px 3px 20px;width:1160px;}
.x-tith4 span.u-link{overflow:hidden;float:right;height: 26px;}
.x-tith4 span.u-link a{display: inline-block;width: auto;height: 26px;border-radius: 5px;line-height: 26px;text-align: center;margin-right: 10px;text-indent:0px;color: #aaa;padding:0 3px;}
.x-tith4 span.u-link a:hover{background-color: #f77;color: #fff;}
.headimdome{margin-top:15px;position:relative;}
.headimdome b{position:absolute;overflow:hidden;width: 46px;height: 72px;top: 50px;cursor: pointer;background:url(../images/gxicoimg.png) no-repeat;}
.headimdome b.x-prev-page{left:-75px;background-position: 0 -115px;}
.headimdome b.x-next-page{right:-75px;background-position: 0 -290px;}
.content{overflow:hidden;}
.content ul li{margin: 0 16px 15px 0;width: 180px;overflow: hidden;height: 174px;float:left;}
.content ul li a{font-size: 14px;width: 180px;display: block;color:#555555;}
.content ul li a:hover{color: #4a8992;}
.content ul li a img{width: 180px;height: 130px;display: block;margin: 0 0 5px}
.tags-btn{overflow:hidden;margin-top:15px;}
.tags-btn a{background:#e0e0e0;color:#fff;height:26px;width:75px;text-align:center;line-height:26px;display:block;float:left;margin: 5px 5px 5px 7px;border-radius:2px;}
.tags-btn a.m-hover{background:#4a8992;}
.tags-btn a:hover{background:#4a8992}

.tags-btns{overflow:hidden; float:left;margin-left:10px;}
.tags-btns a{background:#aaa;color:#fff;height:26px!important;width:auto!important;text-align:center;line-height:26px;display:block;float:left;margin: 5px 5px 5px 7px;border-radius:2px;padding:0 8px; font-size:12px;}
.tags-btns a:hover{background:#4a8992}

.cms-box{overflow:hidden;margin-right:15px;width:350px;padding:15px 20px;}
.cms-box p.cmslist-btn{overflow:hidden;margin-top:10px;width:100%;height:90px;border-top: 1px dotted #ddd;padding-top: 15px;}
.cms-box p.cmslist-btn img{width:110px; height:90px;margin-right:10px;}


.cms-box p.cmslist-btn span{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 230px;display: block;}
.cms-box p.cmslist-btn u{float:left;width: 230px;line-height:20px;display: block;font-size:12px;color:#999;text-decoration:none;padding-top:7px;}
.cms-box p.cmslist-btn a.thumbnail{color:#333;text-align:left;line-height:25px;display:block;float:left;border-radius:2px;width: 110px;height: 90px;margin-right: 10px;}
.cms-box p.cmslist-btn u a{float:none;display:initial;color:#4a8992;}
.cms-box p.cmslist-btn a.x-hover{background:#4a8992;}
.cms-box p.cmslist-btn a:hover{color:#4a8992}
.cms-box ul{border-top:1px dotted #ddd;margin-top:15px;padding-top:10px;}
.cms-box ul li{height:38px;line-height:38px;overflow:hidden;background:url(../images/gxicoimg.png) no-repeat 0px -405px;padding-left:16px;}
.cms-box ul li a{color:#666666;}
.cms-box ul li a:hover{color:#4a8992;}
.cms-last{margin-right:0px;}


.game-box{overflow:hidden;margin-right:15px;width:248.75px;padding:15px 20px;}
.game-box p.game-btn{overflow:hidden;margin-top:10px;width:100%;height:70px;border-top: 1px dotted #ddd;padding-top: 15px;}
.game-box p.game-btn span{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 100%;display: block;}
.game-box p.game-btn u{float:left;width: 100%;line-height:20px;display: block;font-size:12px;color:#999;text-decoration:none;padding-top:5px;}
.game-box p.game-btn a{color:#333;text-align:left;line-height:25px;display:block;float:left;border-radius:2px;}
.game-box p.game-btn u a{float:none;display:initial;color:#4a8992;}
.game-box p.game-btn a.x-hover{background:#4a8992;}
.game-box p.game-btn a:hover{color:#4a8992}
.game-box ul{border-top:1px dotted #ddd;margin-top:15px;padding-top:10px;}
.game-box ul li{height:38px;line-height:38px;overflow:hidden;background:url(../images/gxicoimg.png) no-repeat 0px -405px;padding-left:16px;}
.game-box ul li a{color:#666666;}
.game-box ul li a:hover{color:#4a8992;}
.gametags-btn{overflow:hidden;margin-top:15px;}
.gametags-btn a{background:#e0e0e0;color:#fff;height:26px;width:66px;text-align:center;line-height:26px;display:block;float:left;margin: 5px 5px 5px 7px;border-radius:2px;padding:0 2px;}
.gametags-btn a.m-hover{background:#4a8992;}
.gametags-btn a:hover{background:#4a8992}
.game-last{margin-right:0px;}
.imbox{padding:15px 19px 15px 20px;width:1161px;}
.imcontent{overflow:hidden;margin-top:15px;border-top: 1px solid #eaeaea;border-left: 1px solid #eaeaea;}
.imcontent ul li{overflow:hidden;float: left;}
.imcontent ul li a{width: 207px;height: 141px;padding: 12px;border-right: 1px solid #eaeaea;border-bottom: 1px solid #eaeaea;float: left;display: inline;overflow: hidden;position: relative;zoom: 1;}
.imcontent ul li a img{width: 200px;height: 140px;margin: auto;display: block;overflow: hidden;}
.imcontent ul li:hover a strong{display:block;}
.imcontent ul li a strong{width:180px;height: 52px;padding: 22px 10px 0px 10px;background: url(../images/gxicoimg.png) repeat-x 0 -456px;display: block;overflow: hidden;position: absolute;left:16px;bottom:13px;display:none;font-weight:normal;color:#fff;}
.imcontent ul li a strong em{height:44px;line-height: 22px;text-align: center;display:block;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.skinbox{padding:15px 19px 15px 20px;width:1161px;}
.skinbox .imcontent ul li a{height: auto;}
.hot-cont{overflow:hidden;padding:15px 20px;width:1160px;}
.hot-cont ul{margin-top:5px;overflow:hidden;clear:both;}
.hot-cont ul li{float:left;}
.hot-cont ul li a{width: 166px;height: 28px;line-height: 28px;font-size: 14px;font-weight: normal;color: #999999;text-align: center;background: #fff;border: 1px solid #eee;border-radius: 4px;float: left;margin: 10px 0 0 12px;display: inline;overflow: hidden;padding:0px 6px;}
.hot-cont ul li a:hover{color:#4a8992;border:1px solid #4a8992;}
.skin-dome b.x-prev-page{top:50px;}
.skin-dome b.x-next-page{top:50px;}
.tags ul li a{width:90px;margin: 10px 0 0 11px;}
.head-class{overflow:hidden;padding:15px 20px 10px 20px;width:1160px;}
.class-top{overflow:hidden;padding-bottom:10px;}
.class-top span{position:relative;float:left;height:36px;width:120px;background:#4a8992;color:#fff;line-height:36px;text-align:center;display:block;font-size:16px;}
.class-top span i{position:absolute;width:5px;height:10px;background:url(../images/gxicoimg.png) no-repeat 0px -555px;display:block;right:-5px;top:13px;}
.class-top a{display:block;float:left;border-radius: 4px;background:#f2f2f2;color:#909090;padding:0px 14px;height:26px;line-height:26px;margin:5px 0px 0px 18px;font-size: 14px;}
.class-top a:hover,.class-top .thisclass{background:#cc0000;color:#fff;}
.class-bottom p{overflow:hidden;}
.class-bottom span{float:left;color:#555555;height:26px;line-height:26px;display:block;margin-top: 10px;}
.class-bottom .f-fr span{margin-top:10px;}
.class-bottom .f-fr a{margin-top:10px;}
.class-bottom .f-fr a p{margin-top:0px;}
.class-bottom a{float:left;color:#999999;height:26px;line-height:26px;display:block;margin-left:8px;padding:0px 13px;margin-top:10px;}
.class-bottom a:hover{background:#4a8992;color:#fff;border-radius: 4px;}
.cont-box{overflow:hidden;padding:15px 20px 15px 22px;width:1158px;}
.tit-name{height:35px;border-bottom:1px solid #e9e9e9;position:relative;}
.tit-name em{display:block;float:left;width:auto;color:#fff;height:35px;line-height:35px;font-size: 18px;background:#4a8992;padding:0 15px 0 15px;font-weight: bold;}
.tit-name em h1{font-size: 18px;color: #fff;padding: 0px;margin: 0px;display: inline-block;text-indent: 0px;}
.tit-name i{position:absolute;left:0;width:7px;height:44px;top:0px;}
.tit-name i::after{content: "";width: 0;height: 0;border-top: 10px solid #4a8992;border-left: 10px solid transparent;position:absolute;left:0;bottom:0;}
.tit-name span{cursor: pointer;width: 38px;height: 15px;float: right;margin:11px 10px 0 0;display: inline;overflow: hidden;background: url(../images/icobox.png) no-repeat -4px -510px;}
.tit-name span:hover{background:url(../images/icobox.png) no-repeat -163px -510px;}
.tit-name a{display: block;width: 38px;height: 15px;}
.tbox dt{display:block;width:auto;color:#fff;height:35px;line-height:35px;font-size: 18px;background:#008033;padding:0 15px 0 5px;font-weight: bold;}
.tbox dt strong{font-size: 18px;color: #fff;padding: 0px;margin: 0px;display: inline-block;text-indent: 0px;}
.tbox a{display: block;width: 38px;height: 15px;}
.tbox li span{float:left;margin-right:10px;color:#f80;}
.x-cont-cms{overflow:hidden;padding-top:15px;}
.x-cont-tx{overflow:hidden;padding-top:0px;}
.x-cont-tx .x-cont-right{padding-top:15px;}
.x-cont-tx .x-cont-img ul{padding-top:2px;overflow:hidden;}
.x-cont-tx .x-cont-img ul li{margin:19px 13px 1px 0px;}
.x-cont-left{overflow:hidden;width:820px;}
.x-cont-left .u-cont-top{position:relative;overflow:hidden;height:120px;padding-left:180px;}
.x-cont-left .u-cont-top .u-cont-img{position:absolute;width:160px;height:120px;overflow:hidden;left:0px;top:0px}
.x-cont-left .u-cont-top .u-cont-img img{width:160px;height:120px;}
.x-cont-left .u-cont-top .u-cont-name{height:35px;line-height:35px;overflow:hidden;font-size: 16px;font-weight: bold;color:#4a8992;display:block;}
.x-cont-left .u-cont-top .u-cont-name:hover{color:red;}
.x-cont-left .u-cont-top p{font-size:12px;line-height:24px;overflow:hidden;color:#999999;height:54px;margin-top:8px;}
.x-cont-left .u-cont-top em{width: auto;height: 16px;line-height: 16px;font-size: 12px;font-weight: normal;color: #999;text-indent: 22px;margin:6px 38px 0 0;float: left;display: inline;overflow: hidden;position: relative;zoom: 1;font-style: normal;}
.x-cont-left .u-cont-top em i{width: 16px;height: 16px;background: url(../images/cpk-ico.png) no-repeat -284px -59px;display: block;overflow: hidden;position: absolute;left: 0;top: 0;}
.x-cont-left .u-cont-top em b{width: 16px;height: 16px;background: url(../images/cpk-ico.png) no-repeat -284px -124px;display: block;overflow: hidden;position: absolute;left: 0;top: 0;}
.x-cont-left .u-cont-bottom{overflow:hidden;}
.x-cont-left .u-cont-bottom ul{margin-top:10px;overflow:hidden;border-top: 1px dashed #ddd;}
.x-cont-left .u-cont-bottom ul li{float:left;overflow:hidden;height:35px;line-height:35px;background:url(../images/cpk-ico.png) no-repeat -295px -278px;width:410px;}
.x-cont-left .u-cont-bottom ul li a{float:left;padding-left:12px;color: #555555;display:block;width:310px;height:35px;overflow:hidden;}
.x-cont-left .u-cont-bottom ul li em{;padding-left:0;width: auto;height:35px;line-height: 35px;font-size: 12px;font-weight: normal;color: #999;float: right;margin: 0 15px 0 0;display: block;overflow: hidden;}
.x-cont-left .u-cont-bottom ul li .u-like{background:url(../images/cpk-ico.png) no-repeat -284px -116px;padding-right:0px;}
.x-cont-left .u-cont-bottom ul li a:hover{color:#4a8992}
.x-cont-right{width:320px;overflow:hidden;}
.x-cont-right h4.x-tith4{font-size:16px;}
.x-cont-right ul li a{width:285px;}
.x-float-nav{position:fixed;width: 95px;height: auto;position: fixed;left: 50%;top: 350px;_position: absolute;margin: 0 0 0 660px;display: block;overflow: hidden;}
.x-float-nav ul li{height:32px;width:95px;background:#fafafa;color:#666666;text-align:center;line-height:32px;margin-bottom:15px;box-shadow:0px 1px 2px #ddd;cursor:pointer;}
.x-float-nav ul li.x-hover{background:#4a8992;color:#fff;}
.x-float-nav ul li:hover{background:#4a8992;color:#fff;}
.x-cont-img{overflow:hidden;width: 831px;}
.x-cont-img ul li{width: 125px;height: 156px;float: left;margin:9px 13px 4px 0px;display: inline;overflow: hidden;}
.x-cont-img ul li a{width: 100%;height: auto;margin: 0;display: block;overflow: hidden;}
.x-cont-img ul li a img{width: 100%;height: 125px;display: block;overflow: hidden;-webkit-transition: .2s linear;-moz-transition: .2s linear;transition: .2s linear;}
.x-cont-img ul li a strong{width: 100%;height: 20px;line-height: 20px;font-size: 14px;font-weight: normal;color: #555;text-align: center;margin: 6px 0 0 0;display: block;overflow: hidden;}
.x-cont-img ul li a img:hover{-webkit-transform: scale(1.05);-moz-transform: scale(1.05);transform: scale(1.05);}
.x-cont-img ul li a:hover strong{color: #4a8992}
.content-bq ul li a img{overflow:hidden;height:176px;width:176px;border:2px solid #f5f5f5}
.content-bq ul li a:hover img{border:2px solid #4a8992;}
.x-contbq-img{overflow:hidden;width: 831px;}
.x-contbq-img ul li{width: 125px;height: 156px;float: left;margin:9px 13px 4px 0px;display: inline;overflow: hidden;}
.x-contbq-img ul li a{width: 100%;height: auto;margin: 0;display: block;overflow: hidden;}
.x-contbq-img ul li a img{width:121px;height: 121px;display: block;overflow: hidden;border:2px solid #f5f5f5;}
.x-contbq-img ul li a strong{width: 100%;height: 20px;line-height: 20px;font-size: 14px;font-weight: normal;color: #555;text-align: center;margin: 6px 0 0 0;display: block;overflow: hidden;}
.x-contbq-img ul li a:hover strong{color: #4a8992}
.x-contbq-img ul li a:hover img{border:2px solid #4a8992;}
.content-pf ul li{height:306px;}
.content-pf ul li a img{width:180px;height:263px;}
.x-contpf-img ul li{margin: 0 16px 2px 0;width: 192px;overflow: hidden;float: left;}
.x-contpf-img ul li a{display:block;}
.x-contpf-img ul li a img{height:276px;width:188px;border:2px solid #f5f5f5;}
.x-contpf-img ul li a strong{width: 100%;height: 20px;line-height: 20px;font-size: 14px;font-weight: normal;color: #555;text-align: center;margin: 6px 0 0 0;display: block;overflow: hidden;}
.x-contpf-img ul li a:hover strong{color: #4a8992}
.x-contpf-img ul li a:hover img{border:2px solid #4a8992;}
.gxlist-cms{overflow: hidden;padding: 15px 20px 15px 22px;width: 1158px;}
.gxlist-cms .tit-name em{width:auto;text-indent: 0;padding-right: 13px;}
.gxlist-cms ul{overflow:hidden;margin-top:15px;}
.gxlist-cms ul.select-img li{overflow:hidden;float:left;width:183px;margin: 0 5px 0px 5px;position:relative;}
.gxlist-cms ul.select-img li img{width:100%;height:144px;-webkit-transition: .2s linear;-moz-transition: .2s linear;transition: .2s linear;}
.gxlist-cms ul.select-img li:hover img{-webkit-transform: scale(1.05);-moz-transform: scale(1.05);transform: scale(1.05);}
.gxlist-cms ul.select-img li strong{position:absolute;bottom:0px;left:0px;background: rgba(255,255,255,0.7);height:32px;line-height:32px;overflow:hidden;color:#333;font-weight:normal;padding:0px;width:100%;text-align:center;}
.gxlist-cms ul.select-img li:hover strong{color:#fff;background: rgba(255,85,85,1);}
.gxlist-cms ul.select-font li{float:left;height:35px;line-height:35px;overflow:hidden;width:386px;background: url(../images/cpk-ico.png) no-repeat -295px -278px;}
.gxlist-cms ul.select-font li a{padding-left: 12px;float:left;color: #555555;display: block;width:280px;height: 35px;overflow: hidden;}
.gxlist-cms ul.select-font li em{width: auto;height: 35px;line-height: 35px;font-size: 12px;font-weight: normal;color: #999;float: right;margin: 0 15px 0 0;display: block;overflow: hidden;padding-left:0;}
.gxlist-cms ul.select-font li .u-like{background:url(../images/cpk-ico.png) no-repeat -284px -116px;padding-right:0px;}
.gxlist-cms ul.select-font li a:hover{color: #4a8992;}
.gxlist-box{overflow: hidden;width:1200px;}
.gxlist-left{width:863px;padding: 15px 0px 0px 22px;}
.left-title h4{margin-right:20px;}
.left-title em{width:auto;text-indent: 0;padding-right: 13px;}
ul.gxlist-article{padding:8px 20px 0px 5px;overflow:hidden;}
ul.gxlist-article li em{color:#666; float:right;}
ul.gxlist-article .page{margin:15px 0px;}
ul.gxlist-article li{border-bottom: 1px dashed #eee;overflow:hidden;height:42px;line-height:42px;}
ul.gxlist-article li strong{overflow:hidden;display:block;float:left;color: #ff9002;font-weight:normal;display:block;}
.articleinfo li,.articleinfo h4,.articleinfo ul,.articleinfo h3{display: none;}
ul.gxlist-article li i{width: 1px;height: 12px;background: #eee;float: left;display:block;overflow: hidden;margin:14px 15px 0 15px;}
ul.gxlist-article li a{display:block;float:left;overflow:hidden;color: #555;width:500px;height:40px;}
ul.gxlist-article li p{float:right;height:40px;color:#888;}
ul.gxlist-article li p span{display:block;float:left;background:url(../images/gxicoimg.png) no-repeat;padding-left:25px;}
ul.gxlist-article li p span.u-like{background-position:0px -726px;color:#4a8992;padding-right:10px;width: 40px;}
ul.gxlist-article li p span.u-date{background-position:0px -663px;color: #999;}
ul.gxlist-article li a:hover{color:#4a8992;}
.page{clear:both;overflow:hidden;}
.page .tspage .tsp_nav i{font-style: normal;}
.gxlist-right{width:300px;overflow:hidden;}
.gxlist-right .x-right-tj{overflow:hidden;}
.gxlist-right .x-right-tj .x-tith4{padding:15px 20px 0px 20px;}
ul.x-tj-top{overflow:hidden;margin-top:15px;}
.x-right-tj ul.x-tj-border li a img{width:118px;height: 118px;border: 1px solid #f3f3f3;}
ul.x-tj-top li{position: relative;width: 120px;float:left;height: 120px;;margin: 0 0 10px 20px;overflow: hidden;}
ul.x-tj-top li a img{width: 120px;height: 120px;}
ul.x-pf-content li{height: 178px;}
ul.x-pf-content li a img{width: 120px;height: 178px;}
ul.x-tj-top li a p{position: absolute;left: 0;bottom: 0;width: 100%;height:26px;line-height: 26px;text-align: center;background-color: rgba(50,50,50,0.6);*background-color: #333;color: #fff;}
ul.x-tj-top li a:hover p{background-color:rgba(255,120,120,0.8);*background-color:#f77;}
ul.x-tj-bottom{overflow:hidden;padding:0px 20px 10px;}
ul.x-tj-margin{overflow:hidden;padding:10px 20px;}
ul.x-tj-bottom li{border-left: 1px #f5f5f5 solid;padding-left: 18px;position: relative;}
ul.x-tj-bottom li p{height: 32px;line-height:32px;font-size: 14px;overflow: hidden;}
ul.x-tj-bottom li b{width: 7px;height: 7px;position: absolute;left: -4px;top: 13px;background: url(../images/ullidian.gif) left -7px;}
ul.x-tj-bottom li a{color: #555555;}
ul.x-tj-bottom li a:hover{color: #4a8992;}
.x-right-rank{padding:15px 20px;overflow:hidden;}
.x-right-rank ul{margin-top:10px;}
.x-right-rank li a{display: block;height:34px;line-height: 34px;overflow: hidden;font-size: 14px;color: #555555;}
.x-right-rank li a em{float: left;width: 20px;height: 20px;line-height: 20px;text-align: center;background-color: #aaa;color:#fff;font-size: 12px;margin:7px 7px 0 0 ;}
.x-right-rank li:nth-child(1) a em{background-color: #ff3c3c;}
.x-right-rank li:nth-child(2) a em{background-color: #f60;}
.x-right-rank li:nth-child(3) a em{background-color: #ffc033;}
.x-right-rank li a:hover{color: #4a8992;}
ul.gxlist-imgbox{padding-top:15px;overflow: hidden;}
ul.gxlist-imgbox li{width: 199px;height: auto;background: #fafafa;float: left;margin:0px 13px 15px 2px;display:block;overflow: hidden;padding-bottom: 8px;}
.gxlist-left ul.gxlist-pf li img{width:199px;height:289px;}
ul.gxlist-imgbox li img{width:100%;height:199px;}
.gxlist-left ul.pf li img{width:100%;height:289px;}
ul.gxlist-imgbox li strong{height: 20px;line-height: 20px;font-size: 14px;font-weight: normal;color: #555;text-align: center;float: left;margin:1px 0 5px 0;padding:0px 6px;display: inline;overflow: hidden;}
ul.gxlist-imgbox li b{width: 60px;height: 20px;line-height: 20px;font-size: 12px;font-weight: normal;color: #fa3467;text-indent: 20px;background: url(../images/gxicoimg.png) no-repeat 0px -738px;float: left;margin:2px 0 0 14px;display: inline;overflow: hidden;}
ul.gxlist-imgbox li em{width: auto;height: 20px;line-height: 20px;font-size: 12px;font-weight: normal;color: #999;text-indent: 22px;background: url(../images/gxicoimg.png) no-repeat 0px -673px;float: left;margin:2px 0 0 24px;display: inline;overflow: hidden;}
ul.gxlist-imgbox li:hover{box-shadow:0px 0px 3px #4a8992;}
ul.gxlist-imgbox li:hover strong{color:#4a8992}
.gxlist-cms ul.select-bq li{border: 2px solid #f5f5f5;width:179px;height:179px;}
.gxlist-cms ul.select-bq li img{max-width:179px;max-height:179px;}
.gxlist-cms ul.select-bq li a{width:179px;height:179px;display:block;vertical-align: middle;text-align: center;display: table-cell;}
.gxlist-cms ul.select-bq li:hover{border: 2px solid #4a8992;}
ul.gxlist-bqbox li{width:199px;}
ul.gxlist-bqbox li i{display:block;vertical-align: middle;text-align: center;display: table-cell;width: 195px;height:195px;border: 2px solid #fafafa;border-bottom:0px;background:#fff;}
ul.gxlist-bqbox li img{width:195px;height:auto;}
.comment h4{padding:15px 20px 5px 20px;overflow:hidden;}
.gx-detail{width:885px;overflow:hidden;}
.view{padding: 0 20px;overflow:hidden;}
.view p{position: relative;line-height: 28px;text-align:left!important;margin: 12px 0;font-size: 14px;color: #555;}
.view p strong a{color: rgb(255, 0, 0);}
.view p a{/*color: #ff9900;text-decoration: underline;*/color: #555;}
.view p a li{list-style:none}
.poin{background: #fff; padding: 10px 0px 10px 22px;}
.articleinfo{line-height: 36px; color: #333;padding-top:15px; font-size:16px;}
.articleinfo h2{font-size: 18px; line-height: 40px;}
.articleinfo img {width: 60%;display: block; margin: 0 auto; margin-bottom:15px;}
.cont-detail{overflow:hidden;padding:20px 20px 10px 20px;position: relative;}
.cont-detail h1{font-size: 25px;text-align: center;font-family: "Microsoft yahei";font-weight: normal;color: #4a8992;line-height: 50px;padding: 10px 0px 0;height:50px;overflow: hidden;}
.cont-detail p.x-xinxi{text-align:center;color: #999;border-bottom: 1px #ddd dashed;overflow:hidden;padding-bottom:15px;margin-top:5px;}
.cont-detail p.x-xinxi-width{padding-right: 180px;}
.cont-detail p.x-xinxi span{margin: 0 10px;}
.cont-detail p.x-xinxi span i{font-style:normal;}
.cont-detail p.x-xinxi span a.gotopl{overflow:hidden;background:url(../images/gxicoimg.png) no-repeat 0px -813px;padding-left:21px;color:#4a8992}
.cont-detail p.x-xinxi span a:hover{color:red;}
.daodu{line-height:28px;margin:15px 20px 0;border: 1px #e9e9e9 solid;padding: 10px;font-size: 14px;color: #266889;background: #f7f7f7;}
.m_chuchu{padding:10px 0;text-align:right;}
.m_chuchu span{margin: 0 8px;}
.m_chuchu a:hover{color:#F00}
.m_ssxx{border-top: 1px dashed #ddd;font-size: 14px;line-height: 200%;padding:12px 10px 5px 10px;margin-top:10px;overflow:hidden;}
.m_ssxx p{float:right;overflow:hidden;width: 50%;height: 30px;line-height: 30px;text-align:right;}
.m_ssxx p:nth-child(1){float:left;text-align: left;}
.m_ssxx p span{color: #266889;}
.m_ssxx p a{color:#555}
.m_ssxx p a:hover{color:#F00}
.cont-xg{overflow:hidden;padding:15px 20px;}
.cont-xg ul{margin-top:6px;overflow:hidden;}
.cont-xg ul li{float:left;overflow:hidden;width:50%;height:36px;line-height:36px;background:url(../images/x-fl-classico.png) no-repeat -8px -112px;}
.cont-xg ul li a{color:#555;padding-left:16px;display:block;width:380px;height:36px;}
.cont-xg ul li a:hover{color:#4a8992;}
.picview{padding:10px 20px 15px 20px;overflow: hidden;}
.picview p{text-align: center;float: left;width: 23%;padding: 1%;margin: 0px;}
.picview p:last-child{clear: both;width: 100%;height: auto;line-height: 26px;font-size: 14px;font-weight: normal;color: #666;margin: 0;padding: 5px 1.2% 0;display: block;overflow: hidden;text-align:left;}
.x-touxiang{}
.x-touxiang .cont .x-imgtxt{clear:both;width: 100%;height: auto;line-height:26px;font-size: 14px;font-weight: normal;color: #666;margin: 12px 0 0 0;padding: 0 13px;display: block;overflow: hidden;}
.x-touxiang img{border-radius: 6px;}
.x-tabimg{overflow: hidden;width: 220px;position: absolute;top:74px;right: 42px;}
.x-tabimg .immenu{border-radius:4px;background: #f2f2f2;}
.x-tabimg .immenu a{display: block;float: left;height:26px;line-height: 26px;padding: 0px 12px;color: #909090;}
.x-tabimg a.x-hover{background: #4a8992;color: #fff;border-radius:4px;}
.cont-tx{overflow:hidden;padding:15px 0px 5px 20px;}
.cont-tx ul{overflow:hidden;margin-top:15px;}
.cont-tx ul li{float:left;width:200px;margin:0px 14px 17px 1px;}
.cont-tx ul li a{display:block;overflow:hidden;}
.cont-tx ul li a img{width:200px;height:200px;}
.cont-tx ul li strong{font-weight:normal;height:38px;color: #666;overflow:hidden;display:block;}
.cont-tx ul li:hover strong{color:#4a8992}
#u-name{font-weight:bold;}
body.none{overflow-x: hidden;overflow-y: hidden;display: block;}
.lb_wrap{display:none;}
.lightbox_bg{background: #000;filter: alpha(opacity=70);opacity: .7;position:fixed;left: 0;top: 0;width: 100%;height: 100%;z-index:999;}
.lightbox{position:fixed;left:0;top:50%;width:100%;z-index:9991;text-align:center;}
.lightbox p{position:absolute;height:51px;width:51px;top:50%;left:0;z-index:9992;margin-top:-30.5px;cursor:pointer;}
.lightbox p.next{left:auto;background:url(../images/Tright.png) no-repeat;right:100px;}
.lightbox p.prev{background:url(../images/Tleft.png) no-repeat;left:100px;}
.lightbox a.imgsrc{position: absolute;bottom:-180px;left: 50%;width:98px;margin-left:-43px;text-align: center;height:32px;line-height: 32px;border-radius: 4px;border: 1px solid #fff;color: #fff;}
.bibox{width:1200px;height:auto;background:#fff;margin:14px auto 0;padding:0 0 15px 0;box-shadow:1px 1px 6px #ccc;border-radius:12px;display:block;overflow:hidden;position:relative;zoom:1}
.bibox h1{width:100%;height:30px;line-height:30px;font-size:24px;font-weight:400;color:#333;font-family:arial,"Microsoft YaHei","\5fae\8f6f\96c5\9ed1";text-indent:35px;margin:25px 0 0 0;display:block;overflow:hidden}
.bibox .bdsharebuttonbox{position:absolute;right:18px;top:18px;}
.bibox ul{width:1155px;height:auto;margin:15px auto 0px;display:block;overflow:hidden;}
.bibox ul li{width:165px;float:left;display:inline;overflow:hidden;}
.bibox ul li a{color: #666;font-size:14px;line-height: 34px;width: 110px;text-align: center;border-radius:4px;display:block;overflow:hidden;margin:10px auto;background: #f2f2f2;}
.bibox ul li a:hover{background:#4a8992;color:#fff;}
.bibox ul li b{width:24px;height:13px;background:url(../images/newhead-icon.png) no-repeat 0 -142px;float:left;margin:0;display:inline;overflow:hidden}
.bibox ul .x-solid{width:906px;height:2px;border-top:1px dashed #E5E5E5;float:left;margin:11px 0 0 32px;display:inline;overflow:hidden;}
.bibox ul b{width:1155px;height: 2px;border-top: 1px dashed #E5E5E5;float: left;margin: 11px 0 5px 0px;display: inline;overflow: hidden;}
#accessoryURL{text-align: center;margin-top: 20px;}
#accessoryURL textarea{margin: 0 auto}
#accessoryURL a{padding: 6px 15px;line-height: 20px;text-decoration: none;background-color: #0af;display: inline-block;color: #fff;border-bottom: 3px solid #0097e2;margin:10px auto 5px ;}
#accessoryURL a:hover{background-color: #0097e2;}
#accessoryURL p{font-weight: bold;}
/
.float{width:60px;height:auto;position:fixed;bottom:10px;left:50%;cursor:pointer;margin-left:610px;z-index:100;}
.float a{width:100%;height:60px;margin:1px 0 0 0;display:block;overflow:hidden;}
.float #x-top-back{height:0px;background:url(../images/gotopb.gif) no-repeat;-webkit-transition: all 0.2s;-moz-transition: all 0.2s;-o-transition: all 0.2s;transition: all 0.2;float:left;display:block;overflow:hidden}
.float #x-top-back:hover{background-position:-60px 0;}
.page{margin-bottom:20px;overflow: hidden;}
.page .tspage{height: auto;margin: 5px 0 5px;background: none;line-height: 26px;}
.page .tspage .tsp_count,.tsp_change{display: none;}
.page .tspage .tsp_nav{text-align: center;}
.page .tspage .tsp_nav i{display: inline-block;padding: 0 15px;background-color: #fbfbfb;color: #999;border: 1px solid #e7e7e7;border-radius: 3px;}
.page .tspage .tsp_nav b{display: inline-block;padding: 0 15px;background-color: #4a8992;color: #fff;border: 1px solid #4a8992;border-radius: 3px;}
.page .tspage .tsp_nav a{display: inline-block;padding: 0 15px;background-color: #fbfbfb;border: 1px solid #e7e7e7;border-radius: 3px;color: #666;margin: 3px;}
.page .tspage .tsp_nav .thisclass{background-color: #4a8992;color: #fff;}
.page .tspage .tsp_nav a.tsp_more,.page .tspage .tsp_nav a.tsp_next,.page .tspage .tsp_nav a.tsp_end,.page .tspage .tsp_nav a.tsp_home,.page .tspage .tsp_nav a.tsp_prev{padding: 0;border:none;}
.page .tspage .tsp_nav a:hover{background: #4a8992;color: #fff;border: 1px solid #4a8992;}
.page .tspage .tsp_nav a.tsp_more:hover i{background: #4a8992;color: #fff;border: none;}
.page .tspage .tsp_nav a.tsp_next:hover i{background: #4a8992;color: #fff;border: none;}
.page .tspage .tsp_nav a.tsp_end:hover i{background: #4a8992;color: #fff;border: none;}
.page .tspage .tsp_nav a.tsp_home:hover i{background: #4a8992;color: #fff;border: none;}
.page .tspage .tsp_nav a.tsp_prev:hover i{background: #4a8992;color: #fff;border: none;}
.new-foot{overflow:hidden;margin-top:20px;}
.new-footcont{overflow:hidden;padding:10px 0 20px 0;}
.new-footcont p{color: #999;text-align:center;font-family: simsun;font-size:12px;margin-top:10px;height: 24px;line-height: 24px;}
.new-footcont p img{margin:-1px 6px 4px 0px}
.new-footcont p a{font-family: simsun;color: #999;text-align: center;margin: 0 4px;font-size:12px;}
.new-footcont p a:hover{color: #FF4939;}
.new-footcont p b{color: #999}
.menubtn{display:none;}

.links{color: #999;font-size: 13px;}
.links a{line-height: 24px; font-size: 13px; color:#999;margin:0 5px;}
@media (max-width: 768px){

.link{margin-top: 10px!important;}
#navbar {
  max-width: 1000px;
  margin: 0 auto;
}

.menubtn {
 
  position: absolute; 
  z-index: 102;
  color: #274a61;
  right:10px;
  text-decoration: none;
  font-size: 0em;
  line-height: 0em;
  top: 15px;
  display:block;
  padding: 15px;
  background-image: url('../images/hamburger.png');
  background-position: 50% 50%;
  background-size: 25px 25px;
  background-repeat: no-repeat;
}
.menubtn:hover, .openmenu .menubtn {
  color: #bdd43e;
  background-image: url('../images/hamburger-active.png');
  position:fixed;
  z-index:103;
}

/** toggle menu **/
body.openmenu {
  position: fixed;
  overflow: hidden;
}

#pgcontainer {
  padding: 45px 0;
  margin: 0;
}

.overlay {
  position: fixed;
  z-index: 99;
  background-color: rgba(0,0,0,0.5);
  bottom: 0;
  right: 0;
  left: 0;
}

.openmenu .overlay {
  top: 0;
}
.hiden{display: none;}
.jzlist{margin-top:10px!important;}
.articleinfo{padding:10px;font-size: 14px;}
#hamburgermenu {
  height: 100%;
  width: 0;
  background: #373737;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  overflow: hidden;
  -webkit-box-shadow: 3px 0 7px rgba(0,0,0,0.55);
  -moz-box-shadow: 3px 0 7px rgba(0,0,0,0.55);
  box-shadow: 3px 0 7px rgba(0,0,0,0.55);
}
#hamburgermenu ul {
  margin-top: 45px;
  z-index: 101;
  overflow-y: auto;
  overflow-x: hidden;
}
#hamburgermenu ul li {
  display: block;
}
#hamburgermenu ul li a {
  display: block;
  min-width: 130px;
  padding: 18px 8px;
  color: #cdcdcd;
  font-size: 1.45em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
#hamburgermenu li a:hover {
  color: #fff;
  background: #2c2c2c;
}


.nav-full{height:60px;padding:0;}
.nav-full .u-logo{width:160px;}
.nav-full .u-logo img{width:auto; height:40px;}
.navlist{height:0; line-height:24px; overflow:hidden; background-color:#fff;}
.navlist ul li{line-height:40px; border-bottom:1px dashed #ddd; width:90%;margin-left:5%;}
.navlist ul li a{font-size:15px;}
.banners{margin-bottom:10px!important;}
.box-1200{width:98%;padding:0; }
.topcms,.rank,.headimg,.imbox,.skinbox,.tags-btns,.x-cont-right {display:none;}
.nav-full #topForm{width: 99%;margin:0 auto 18px auto; background: #fff;top:15px;}
.nav-full #topForm .keyword_input{width: 65%;margin:0 0 0 50px;}
.nav-full #topForm .schbtn{width: 20%;}
.cont-box,.hot-cont{padding:0;}
.f-fl{width:100%; overflow:hidden;}
.imdome{width:100%; height:240px;margin:0;}
.imdome .dome-bd{width:100%; height:240px;}
.imdome .dome-bd ul li{ height:240px;}
.imdome .dome-bd ul li img{width:100%; height:240px;}
.imdome .dome-bd ul li em{width:100%;}
.imdome .dome-bd ul li strong{width:70%;}
.cms-box,.game-box{margin:0 0 10px 0;padding:0;}
.x-margin15{margin:0 auto; }
.x-tith4,.tags-btn{padding:10px;}
.cms-box p.cmslist-btn{padding:15px 10px 0 10px;}
.cms-box p.cmslist-btn img{ float:left;}
.cms-box p.cmslist-btn span,.cms-box p.cmslist-btn u{width:65%; float:left;}
.cms-box p.cmslist-btn u{display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; overflow: hidden;}
.cms-box ul,.game-box ul{padding:1%}
.tags-btn{margin:0;}
.cms-box ul,.u-cont-bottom ul{padding:10px;}
.tags-btn a{width:24%;margin:.5%; font-size:12px;}
.gametags-btn{margin:0;}
.gametags-btn a{width:30.333%;margin:1%; font-size:12px;}
.cms-box p.cmslist-btn a{ float:none;}
.cms-box ul li{line-height:30px; height:30px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.hot-cont ul li{width:48%;margin:1%;}
.hot-cont ul li a{width:100%;margin:0;padding:0;}
.new-footcont p{height:auto;}
.x-cont-left .u-cont-bottom ul{width:98%;padding:1%;}
.x-cont-left .u-cont-bottom ul li{width:100%;}
.x-cont-left .u-cont-bottom ul li a{width:80%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.x-cont-left .u-cont-bottom ul li em{margin:0 5px 0 0;}
.x-cont-left .u-cont-top .u-cont-name{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.x-cont-left .u-cont-top p{padding-right:5px;}
.cont-box{margin-bottom:10px;}
.class-top span{width:100%; position:inherit;}

.class-top a{padding:0; text-align:center;width:31%;margin:1.1%;}

.gxlist-right,.gxlist-cms,ul.gxlist-article li strong,ul.gxlist-article li i{display:none;}
.gxlist-left{padding:0;}
ul.gxlist-article li a{padding-left: 5px;width:80%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
ul.gxlist-article li p span.u-like{padding-right:0;}
.cont-detail h1{height:auto;line-height:26px; font-size:16px;}
.cont-detail{padding:0; }
.m_ssxx p{width:100%; float:left; text-align:left;}
.cont-xg ul li{width:100%;}
.cont-xg{padding:15px 0;}
.cont-xg ul li a{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width:90%;}
.class-top span i{display:none;}
.count{overflow: hidden;margin-bottom: 15px;padding:10px 2px;}
.count span{width: 33.33333%; float: left;margin-right:0; text-align:center;}
.ttbox{margin-top:10px;display: block;}
.ttbox .headimdome,.ttbox .imcontent{margin-top:0;}
.ttbox .imcontent ul li a{padding:0;margin:1% 0;}
.ttbox .imcontent ul li a,.ttbox .imcontent ul li img{height:200px;}
.ttbox .imcontent ul li a strong,.ttbox .imcontent ul li a img,.ttbox .imcontent ul li a,.ttbox .imcontent ul li{width:100%;}
.ttbox  .imcontent ul li a strong{display: block;left:0;padding:10px 0;margin:1%;width:98%; height:auto;}
.ttbox .imcontent ul li a strong em{height: auto;}
}

@media only screen and (max-width: 1200px){
  .wrapper{width:98%;}
  .thumbs img.mip-fill-content{height:140px;}
  .sidebar,.header_menu{display:none !important}
  .header{height:48px}
  .header #header_main{position:relative}
  .header .wrapper{display:block;text-align:center;height:48px;width:100%}
  .header .wrapper .btn{display:block;position:absolute;top:12px;background:none;border:none;z-index:999}
  .header .wrapper .btn.user i.close,.header .wrapper .btn.menu i.close{display:none;color:#f00}
  .header .wrapper .btn.user.active i.close,.header .wrapper .btn.menu.active i.close{display:block}
  .header .wrapper .btn.user.active .icon,.header .wrapper .btn.menu.active .icon{display:none}
  .header .wrapper .btn.menu{left:12px;font-size:20px;}
  .header .wrapper .btn.menu i{color:#666;}
  .header .wrapper .btn.login,.header .wrapper .btn.user{right:12px;font-size:20px;}
  .header .wrapper .btn.hide{display:none}
  .header .wrapper a.logo{margin:8px auto;display:inline-block}
  .header .wrapper a.logo img{margin-right:auto;height:32px}
  .m_menu{top:0;bottom:0;right:0;left:0;z-index:120;padding-top:50px;height:100%;font-size:14px;text-align:left;overflow-y:auto}
  .m_menu ul.menu>li{-webkit-transition:ease-in-out 0.1s;transition:ease-in-out 0.1s;-webkit-animation-delay:0.1s;animation-delay:0.1s}
  .m_menu ul.ul-subcates>li,.m_menu>ul>li{opacity:1;visibility:visible;margin-top:0}
  .m_menu ul.menu{border-bottom:1px rgba(255,255,255,0.1) solid}
  .m_menu ul.menu li{position:relative;border-top:1px rgba(255,255,255,0.1) solid}
  .m_menu ul.menu li a{color:#999;display:block;padding:8px 20px}
  .m_menu ul.menu li .ul-subcates{display:block;margin-left:20px;border-top:1px rgba(255,255,255,0.1) solid}
  .m_menu ul.menu li .ul-subcates>li:first-child{border-top:0}
  .m_menu ul.menu li span.menu_btn{position:absolute;top:0;right:0;height:40px;width:40px;text-align:right;z-index:2;border-left:1px rgba(255,255,255,0.1) solid;cursor:pointer}
  .m_menu ul.menu li span.menu_btn:before,.m_menu ul.menu li span.menu_btn:after{width:15px;height:1px;position:absolute;content:'';background-color:#999;top:20px;left:12px}
  .m_menu ul.menu li span.menu_btn:after{transform:rotate(90deg);-ms-transform:rotate(90deg);-moz-transform:rotate(90deg);-webkit-transform:rotate(90deg);-o-transform:rotate(90deg)}
  .m_menu ul.menu li span.menu_btn:before,.m_menu ul.menu li span.menu_btn.active:after{background-color:#fff}
  .m_menu ul.menu li span.menu_btn:after{transform:rotate(0deg);-ms-transform:rotate(0deg);-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg);-o-transform:rotate(0deg)}
  .m_menu ul.menu li.li-subcate span.menu_btn:before,.m_menu ul.menu li.li-subcate span.menu_btn:after{color:#fff}
  .m_menu ul.menu li>a,.m_menu ul.menu li.current-menu-parent>a,.m_menu ul.menu li.current-menu-item>a{color:#fff}
  .m_menu ul.menu li:hover{background-color:rgba(0,0,0,0.2)}
  .m_menu ul.menu li:hover>a{color:#fff}
  .m_menu ul.menu li:hover>span.menu_btn:before,.m_menu ul.menu li:hover>span.menu_btn:after{color:#fff}
  .footer{margin:20px 0 50px}
  .footer .wrapper{display:block;text-align:center}
  .footer .wrapper .right{display:none}
  .footer_menu ul.menu{display:block}
  .footer_menu ul.menu li{display:inline-block}
  .side_btn{bottom:60px;right:10px}
  .crumbs_img{height:220px}
  .crumbs_img .crumbs_con h1{margin-bottom:4px}
  .mobile_btn{display:block;position:fixed;z-index:98;bottom:0;right:0;left:0;text-align:center;background-color:#fff;border-top:1px #eee solid;padding:0}
  .mobile_btn ul{margin-right:0;display:-moz-flex;display:-ms-flex;display:-o-flex;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
  .mobile_btn ul li{min-width:20%;padding:0}
  .mobile_btn ul li:last-child{border-right:none}
  .mobile_btn ul li.wechat a i{width:17px;height:17px}
  .mobile_btn ul li a{font-size:12px;display:block}
  .mobile_btn ul li a i,.mobile_btn ul li button i{height:18px;font-size:14px;display:block;margin:auto}
  .mobile_btn ul li a:hover i,.mobile_btn ul li button:hover i{color:#004FCB}
  .mobile_btn ul li a.cart{position:relative}
  .mobile_btn ul li a.cart span.cart-contents{font-size:10px;position:absolute;top:-4px;left:50%;margin-left:4px;width:14px;height:14px;line-height:14px;display:block;color:#fff;background-color:#232323;border-radius:100%}
  ul#link-home li{width:20%}
  ul#link-home li:nth-last-child(-n+8){margin-bottom:20px}
  #youku_video{height:480px !important}
  .content .content_left{width:100%;margin-right:0}
  .content_post .youku_post_video{height:360px !important}    
  .all_user_list ul.layout_ul li.layout_li.other{width:100%}
  .author_tabs{padding-left:0}
  .author_tabs .nav_move{display:none}    
  .product_sift{padding:12px 12px 0}
  .product_sift .sift_li{display:block;padding:0;margin-bottom:12px;position:relative}
  .product_sift .sift_li ul li{margin:0 12px 12px 0}
  .product_sift .sift_li h4{display:block;width:100%;text-align:left;margin:0 0 8px;float:none}
  .product_sift .sift_li a.more{position:absolute;top:0;right:0;margin-right:0}
  .topic_all ul.layout_ul,.topic_list ul.layout_ul{margin-right:0}
  .topic_all ul.layout_ul li.layout_li,.topic_list ul.layout_ul li.layout_li{padding-right:0;width:100%}
  .topic_all ul.layout_ul li.layout_li:nth-last-child(2),.topic_all ul.layout_ul li.layout_li:nth-last-child(3),.topic_all ul.layout_ul li.layout_li:nth-last-child(4),.topic_list ul.layout_ul li.layout_li:nth-last-child(2),.topic_list ul.layout_ul li.layout_li:nth-last-child(3),.topic_list ul.layout_ul li.layout_li:nth-last-child(4){padding-bottom:20px}
  .topic_all ul.layout_ul .ias-noneleft,.topic_all ul.layout_ul .ias-spinner a,.topic_all ul.layout_ul .ias-trigger a,.topic_list ul.layout_ul .ias-noneleft,.topic_list ul.layout_ul .ias-spinner a,.topic_list ul.layout_ul .ias-trigger a{margin:0}    
}
.lightbox {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9991;
  text-align: center;
}