<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta name="applicable-device" content="pc">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{dede:field.title/}_{dede:global.cfg_titlelast/}</title>
<meta name="keywords" content="{dede:field.keywords/}" />
<meta name="description" content="{dede:field.description function='html2text(@me)'/}" />
<link href="{dede:global.cfg_templets_skin/}/css/css.1.1.css" rel="stylesheet" type="text/css">
<link href="{dede:global.cfg_templets_skin/}/css/css.1.2.css" rel="stylesheet" type="text/css">
<style type="text/css">
.w .left.l .left1.mt15 .c_con table {
	font-size: 14px;
}
</style>
<script language="javascript" src="{dede:global.cfg_templets_skin/}/js/jquery1.42.min.js"></script>
<script language="javascript" src="{dede:global.cfg_templets_skin/}/js/slide.js"></script>
</head>
<body>
 {dede:include filename="head.htm"/}
<div class="bannerbg" style="background:url({dede:global.cfg_templets_skin/}/style/201601291618343251.jpg) no-repeat center;"> </div>
<div class="bgb"></div>
<div class="h0"></div>
<div class="w">
  <div class="left l"> <div class="left1">
  <div class="cntxt">
    <h2>技术中心</h2>
    <p>Technical</p>
    </div>
  <div class="h0"></div>
  <ul class="left_menu ">


       {dede:channel typeid='13,13' type='son' noself='yes'}
    <li>
    <a title="[field:typename/]" href="[field:typelink/]">[field:typename/]</a>
    </li>
    {/dede:channel}

  </ul>
</div>
<!-- left1 end-->
<div class="left1 mt15">
  <div class="c_tit">联系我们 Contact</div>
  <div class="c_con">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tbody><tr>
        <th colspan="2" align="left">客服服务热线：</th>
      </tr>
      <tr>
        <td>联系电话：</td>
        <td>{dede:global.cfg_dh/}</td>
      </tr>
      <tr>
        <td colspan="2">邮箱：{dede:global.cfg_yx/}</td>
      </tr>
      <tr>
        <td colspan="2">地址：{dede:global.cfg_dz/}</td>
      </tr>
    </tbody></table>
  </div>
</div>
</div>
  <!-- left end -->
  <div class="right r">
    <div class="column"> 当前位置：{dede:field name='position'/} </div>
    <!-- column end -->
    <div class="zcont">
      <h1 class="znewstit">{dede:field.title/} </h1>
      <div class="author">作者：{dede:field.writer/} &nbsp;&nbsp; 发布于：{dede:field name='pubdate' function='strftime("%Y年%m月%d日 %H时%M分%S秒","@me")' /} &nbsp;&nbsp; </div>
      <div id="info"><p style="color: rgb(75, 72, 72); font-family: Verdana; font-size: 12px; line-height: 22px; white-space: normal;"><span style="font-size:12px"><span style="font-family:Verdana">

      {dede:field.body/}

      </div>
      <!--info end -->
      <div class="news_url">  </div>
      <!--news_url end -->
      <div class="page_pn">
        <div class="prev">{dede:prenext get='pre'/}</div>
        <div class="next">{dede:prenext get='next'/}</div>
      </div>
      <!--page_pn end -->

      <!--guess_like end -->

    </div>
    <!--zcont end -->
  </div>
  <!--rihgt end -->
</div>
<!--main end -->
{dede:include filename="foot.htm"/}
</body></html>
