#w_center1 {
    float: left;
    width: 444px;
    overflow: hidden;
    padding-left: 10px;
}

#f_imgDiv {
    width: 442px;
    height: 234px;
    overflow: hidden;
    border: solid 1px #DCD3B2;
    filter: progid DXImageTransform.Microsoft.Fade(Overlap=1.00);
}

#f_infoDiv {
    width: 100%;
    top: -33px;
    position: relative;
}

#f_buttonDiv {
    width: 80px;
    height: 24px;
    overflow: hidden;
    text-align: left;
    top: 8px;
    right: 4px;
    position: absolute;
    z-index: 2;
}

#f_buttonDiv .bg {
    width: 16px;
    height: 16px;
    float: left;
    margin-left: 3px;
    display: inline;
}

#f_buttonDiv .bg a {
    width: 16px;
    height: 16px;
    line-height: 16px;
    float: right;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
}

#f_buttonDiv .bg a:link,
#f_buttonDiv a:visited,
#f_buttonDiv a:active {
    background: url(../../index.htm)/*tpa=http://www.lyzxc.com/style/images/focus_2.gif*/;
    color: #fff;
}

#f_buttonDiv .bg a:hover {
    color: #ddd;
}

#f_buttonDiv .bg a.on:link,
#f_buttonDiv a.on:visited,
#f_buttonDiv a.on:active,
#f_buttonDiv a.on:hover {
    background: url(../../index.htm)/*tpa=http://www.lyzxc.com/style/images/focus_1.gif*/;
    color: #fff;
}

.zxyd {
    background: url(../../index.htm)/*tpa=http://www.lyzxc.com/style/images/index_a_10.gif*/;
    height: 318px;
    overflow: hidden;
}

.zxyd .list {
    float: left;
    padding: 60px 0 0 25px;
}

.zxyd .list li {
    width: 210px;
    background: none;
    height: 27px;
}

.zxyd .list li a {
    width: 200px;
}

.zxzx {
    border: solid 1px #006ABD;
    background: #AEDBFE;
    padding: 1px;
    height: 122px;
    overflow: hidden
}

.zxzx .bj {
    background: url(../../index.htm)/*tpa=http://www.lyzxc.com/style/images/index_b_15.gif*/ repeat-x;
    height: 111px;
    overflow: hidden;
    padding: 11px 0 0 5px;
}

.zxzx img {
    margin-left: 12px;
}

.tjyd .css_p {
    padding: 0px 10px;
    height: 206px;
}

.tjyd .css_p strong {
    font-family: "黑体";
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    margin-top: 10px;
}

.tjyd .css_p strong a {
    color: #080808;
}

.tjyd .css_p p {
    margin-top: 5px;
}

.tjyd .css_p .red {
    color: #D33809;
}

.tjyd .css_p .list {
    margin-top: 10px;
}

.tjyd .css_p .list li {
    width: 200px;
}

.tjyd .css_p .list li a {
    width: 190px;
}

.tjyd .css_p .list_img {
    margin-top: 12px;
}

.zjyy {
    overflow: hidden;
    background: url(../../index.htm)/*tpa=http://www.lyzxc.com/style/images/index_a_12.gif*/;
    height: 454px;
}

.zjyy span {
    height: 48px;
    display: block;
    overflow: hidden;
}

.zjyy span a {
    float: left;
    width: 160px;
    height: 35px;
    margin-left: 50px;
}

.zjyy .css_p {
    background: url(../../index.htm)/*tpa=http://www.lyzxc.com/style/images/index_b_16.gif*/;
    width: 231px;
    height: 144px;
    margin: 10px auto 0;
    padding: 5px;
}

.zjyy .css_p img {
    float: left;
    margin: 5px 10px 0 3px;
}

.zjyy .css_p p {
    height: 134px;
    overflow: hidden;
    color: #585858;
    line-height: 20px;
}

.zjyy ul {
    margin-top: 10px;
    height: 40px;
    overflow: hidden;
    padding-left: 30px;
}

.zjyy ul li {
    float: left;
    padding-left: 10px;
}

.zjyy .p_css ul li img {
    border: 0px;
    padding: 0px;
}

.jkkx {
    background: #fff url(../../index.htm)/*tpa=http://www.lyzxc.com/style/images/index_a_48.gif*/ top left no-repeat;
    height: 150px;
    overflow: hidden;
    width: 241px;
    margin: 0px auto;
    padding-top: 40px;
}

.jkkx ul {
    padding: 0;
    height: 130px;
}

.jkkx ul li {
    line-height: 25px;
    border-bottom: 1px #ccc dashed;
    background: url(index_a_51.gif)/*tpa=http://www.lyzxc.com/style/images/index_a_51.gif*/ center left no-repeat;
    width: 220px;
}

.jkkx ul li a {
    font-size: 14px;
}

#layout14 {
    margin: 10px;
    height: 130px;
}

#layout14 samp {
    font-family: "宋体";
    color: #D33809;
}

#layout14 span {
    font-family: "宋体";
    padding-left: 10px;
    display: inline;
}

.zz {
    padding-left: 10px;
}

.qwzj {
    background: url(../../index.htm)/*tpa=http://www.lyzxc.com/style/images/index_a_22.gif*/;
    height: 270px;
    overflow: hidden;
}

.qwzj .qw {
    height: 65px;
    overflow: hidden;
    display: block;
}

.qwzj .qw a {
    float: left;
    width: 390px;
    height: 35px;
    margin: 10px 0 0 298px;
}

.qwzj_2 {
    padding: 0px 32px;
}

.qwzj_2 .css_p {
    overflow: hidden;
    margin-top: 5px;
    background: #fff;
    width: 264px;
    border: solid 1px #fff;
    height: 134px;
    padding: 15px;
    margin-right: 15px;
}

.qwzj_2 .css_p img {
    float: left;
    margin-right: 10px;
}

.qwzj_2 .css_p p {
    word-break: break-all;
    white-space: normal;
    color: #585858;
    margin-top: 5px;
}

.qwzj_2 .css_p span {
    display: block;
    margin-top: 10px;
}

.m1000 {
    width: 750px;
}

.w_1000 {
    width: 1100px;
}

.bdf {
    float: left;
    width: 351px;
    overflow: hidden;
    margin-right: 10px;
}

.bdf .zjwd_a {
    background: url(index_a_26.gif)/*tpa=http://www.lyzxc.com/style/images/index_a_26.gif*/;
    line-height: 30px;
}

.bdf .zjwd_a,
.bdf .zjwd_a a {
    color: #FFFFFF;
}

.bdf .zjwd_a strong {
    padding-left: 0px;
}

.bdf .css_p {
    padding: 12px 10px 0;
    height: 260px;
}

.bdf .css_p img {
    float: left;
    margin: 4px 9px 0 0;
}

.bdf .css_p strong {
    text-align: left;
}

.bdf .css_p .list {
    margin-top: 7px;
    float: left;
    width: 320px;
}

.bdf .css_p .list li {
    width: 310px;
}

.zjwd_b .list {

}

.zjwd_b .list li a {
    width: 220px;
}

.zjwd_b .list li {
    width: 220px;
    line-height: 28px;
    line-height: 28px;
}

.zjwd_b span {
    display: block;
    text-align: center;
    margin-top: 15px;
}

.hzqt .border,
.zjwd .border {
    padding: 1px;
    width: 254px;
}

.hzqt .css_p,
.zjwd .zjwd_b {
    padding: 12px 10px 0;
    height: 183px;
    background: #ECEEF0;
}

.hzqt .list {
    margin-top: 7px;
}

.hzqt .list li {
    width: 220px;
}

.hzqt .list li a {
    width: 220px;
}

.kfhz {
    background: url(../../index.htm)/*tpa=http://www.lyzxc.com/style/images/index_a_50.gif*/ left top no-repeat;
    height: 460px;
    overflow: hidden;
}

.kfhz .qw {
    height: 80px;
    overflow: hidden;
    display: block;
}

.kfhz .qw a {
    float: left;
    width: 753px;
    height: 45px;
    margin: 12px 0 0 113px;
}

.kfhz .qwzj_2 {
    padding-left: 32px;
    width: 1100px;
}

.kfhz .qwzj_2 .css_p {
    overflow: hidden;
    margin-top: 25px;
    border: solid 1px #E0E0E0;
    background: #fff;
    width: 192px;
    height: 320px;
    padding: 5px 14px;
    margin-right: 10px;
    float: left;
}

.kfhz .qwzj_2 .css_p strong {
    width: 180px;
    padding-left: 2px;
    text-align: center;
    margin-top: 10px;
    display: block;
}

.kfhz .qwzj_2 .css_p span {
    display: block;
    margin-top: 10px;
    overflow: hidden;
}

.kfhz .qwzj_2 .css_p p {
    word-break: break-all;
    white-space: normal;
    color: #585858;
    border-bottom: dotted 1px #ccc;
    padding-bottom: 10px;
}

.kfhz .qwzj_2 .list {
    margin-top: 10px;
}

.kfhz .qwzj_2 .listli {
    width: 170px;
}

.kfhz .qwzj_2 .list li a {
    width: 170px;
}

.hzjg {
    background: url(../../index.htm)/*tpa=http://www.lyzxc.com/style/images/index_b_178.gif*/;
    height: 207px;
    overflow: hidden;
}

.hzjg ul {
    padding: 78px 0 0 15px;
}

.hzjg ul li {
    float: left;
    margin-left: 10px;
}

.yqlj {
    background: url(../../index.htm)/*tpa=http://www.lyzxc.com/style/images/index_b_19.gif*/;
    height: 97px;
    overflow: hidden;
}

.yqlj .yq {
    width: 89px;
    height: 37px;
    float: left;
    margin: 35px 0 0 15px;
}

.yqlj span {
    float: left;
    width: 830px;
    padding: 10px 0 0 20px;
    line-height: 24px;
    overflow: hidden;
}

.yqlj span a {
    margin-right: 15px;
    font-size: 12px;
    background: url(index_a_51.gif)/*tpa=http://www.lyzxc.com/style/images/index_a_51.gif*/ center left no-repeat;
    padding-left: 10px;
}

.rmcx span {
    background: url(../../index.htm)/*tpa=http://www.lyzxc.com/style/images/index_a_64.gif*/;
    height: 36px;
    line-height: 36px;
    font-weight: bold;
    color: #fff;
    padding-left: 10px;
    display: block;
}

.rmcx .border {
    padding: 10px;
    height: 195px;
    overflow: hidden;
}

.rmcx ul li {
    border-bottom: dotted 1px #C8C8C8;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}

.rmcx ul li b {
    background: url(../../index.htm)/*tpa=http://www.lyzxc.com/style/images/index_a_67.gif*/ center left no-repeat;
    padding-left: 10px;
    color: #004880;
}

.rmcx ul li b a {
    color: #004880;
}
