/* CSS Document */

* {
    margin: 0px;
    padding: 0px;
}

html {
    background: #D4DCE3;
}

body {
    font-size: 14px;
    color: #6F6F6F;
}

a {
    color: #585858;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border: 0px;
}

li {
    list-style: none;
}

.list {
    overflow: hidden;
}

.list li {
    background: url(index_a_51.gif)/*tpa=http://www.lyzxc.com/style/images/index_a_51.gif*/ center left no-repeat;
    padding-left: 10px;
    text-align: right;
    height: 24px;
    line-height: 24px;
    float: left;
}

.list li a {
    *white-space: nowrap;
    white-space: nowrap\9;
    overflow: hidden;
    height: 24px;
    line-height: 24px;
    text-overflow: ellipsis;
    float: left;
    text-align: left;
}

.css_p {
    line-height: 24px;
    overflow: hidden;
}

.css_p strong {
    display: block;
    height: 24px;
    overflow: hidden;
    line-height: 24px;
    color: #C63407;
}

.css_p strong a {
    color: #C63407;
}

.css_p p {
    color: #9A9999;
}

.clr {
    width: 0px;
    height: 0px;
    clear: both;
    overflow: hidden;
}

.red {
    color: #C63407;
}

.m10 {
    margin-top: 10px;
}

.m10 .border {
    margin-top: 1px;
}

.border {
    border: solid 1px #E0E0E0;
}

#head,
#wap {
    width: 980px;
    padding: 0px 10px;
    background: #fff;
    overflow: hidden;
    margin: 0px auto;
}

#w_left1 {
    float: left;
    width: 258px;
    overflow: hidden;
}

#w_right1 {
    float: right;
    width: 258px;
    overflow: hidden;
}

#w_left2 {
    float: left;
    width: 712px;
    overflow: hidden;
}

.he_1 {
    background: url(../../index.htm)/*tpa=http://www.lyzxc.com/style/images/index_a_02.gif*/;
    height: 89px;
    overflow: hidden;
}

.he_1 .logo {
    float: left;
    width: 357px;
    height: 50px;
    margin: 18px 0 0 10px;
}

.he_1 .djzx {
    float: right;
    width: 124px;
    height: 50px;
    margin: 20px 10px 0 0px;
}

.he_2 {
    background: url(index_a_05.jpg)/*tpa=http://www.lyzxc.com/style/images/index_a_05.jpg*/;
    height: 276px;
    overflow: hidden;
    margin-top: 1px;
}

.he_2 a {
    display: block;
    width: 980px;
    height: 276px;
}

.he_3 {
    background: url(index_a_06.gif)/*tpa=http://www.lyzxc.com/style/images/index_a_06.gif*/ left top no-repeat;
    height: 52px;
    overflow: hidden;
}

.he_3 ul {
    padding-left: 17px;
}

.he_3 ul li {
    float: left;
    font-weight: bold;
}

.he_3 ul li a {
    color: #D8EEFF;
    width: 75px;
    height: 52px;
    text-align: center;
    line-height: 52px;
    float: left;
}

.he_3 .kjy_a11,
.he_3 .kjy_a12,
.he_3 .kjy_a13,
.he_3 .kjy_a14,
.he_3 .kjy_a15,
.he_3 .kjy_a16,
.he_3 .kjy_a17,
.he_3 .kjy_a18,
.he_3 .kjy_a19,
.he_3 .kjy_a110,
.he_3 .kjy_a111 {
    background: url(index_b_04.gif)/*tpa=http://www.lyzxc.com/style/images/index_b_04.gif*/ center top no-repeat;
    color: #010101;
}

.he_3 .kjy_a12,
.he_3 .kjy12 {
    margin-left: 6px;
}

.he_3 .kjy_a14 {
    margin-left: 2px;
}

.he_3 .kjy14 {
    margin-left: 2px;
}

.he_3 .kjy15 {
    margin-left: 2px;
}

.he_3 .kjy_a15,
.he_3 .kjy111,
.he_3 .kjy_a111 {
    margin-left: 2px;
}

.he_3 .kjy16 {
    margin-left: 2px;
    width: 85px;
}

.he_3 .kjy_a16 {
    margin-left: 2px;
    width: 85px;
    background: url() center top no-repeat;
}

.he_3 .kjy17 {
    margin-left: 5px;
    width: 85px;
}

.he_3 .kjy_a17 {
    margin-left: 5px;
    width: 85px;
    background: url() center top no-repeat;
}

.he_3 .kjy18 {
    margin-left: 7px;
    width: 85px;
}

.he_3 .kjy_a18 {
    margin-left: 7px;
    width: 85px;
    background: url() center top no-repeat;
}

.he_3 .kjy19 {
    margin-left: 2px;
    width: 120px;
}

.he_3 .kjy_a19 {
    margin-left: 2px;
    width: 120px;
    background: url(../../index.htm)/*tpa=http://www.lyzxc.com/style/images/index_b_05.gif*/ center top no-repeat;
}

.he_3 .kjy110 {
    margin-left: 4px;
    width: 85px;
    margin-right: 2px;
}

.he_3 .kjy_a110 {
    margin-left: 4px;
    width: 85px;
    background: url() center top no-repeat;
    margin-right: 2px;
}

.he_3 ul li a:hover {
    text-decoration: none;
}

.he_4 {
    background: url(../../index.htm)/*tpa=http://www.lyzxc.com/style/images/index_a_08.gif*/ repeat-x;
    height: 46px;
    overflow: hidden;
    padding: 0px 8px;
}

.he_4 span {
    float: right;
    height: 46px;
    line-height: 46px;
    color: #7C7C7C;
    padding-left: 18px;
}

.he_4 span a {
    margin: 0px 5px;
    color: #7C7C7C;
}

.he_4 ul {
    float: left;
    width: 300px;
    margin-top: 10px;
    padding-left: 130px;
}

.he_4 ul li {
    float: left;
}

.he_4 ul .inpr1 {
    width: 210px;
    height: 23px;
    border: 0;
    line-height: 23px;
    background: #fff;
    margin-right: 10px;
    font-size: 14px;
}

.he_4 ul .inpr2 {
    background: none;
    ;
    width: 73px;
    height: 23px;
    border: 0px;
    cursor: pointer;
}

.zjwd_a {
    background: url(index_a_29.gif)/*tpa=http://www.lyzxc.com/style/images/index_a_29.gif*/;
    overflow: hidden;
    height: 34px;
    line-height: 34px;
    padding: 0px 10px;
}

.zjwd_a strong {
    float: left;
    padding-left: 20px;
}

.zjwd_a span {
    float: right;
    margin-top: 12px;
}

.zjwd_a,
.zjwd_a a {
    color: #EFECD8;
}

.jcwd_b {
    padding: 0px 10px;
    height: 362px;
    overflow: hidden;
    width: 236px;
}

.jcwd_b .css_p {
    background: url() left 5px no-repeat;
    padding-left: 40px;
    margin-top: 10px;
}

.jcwd_b .css_p strong {
    color: #D33809;
    font-weight: normal;
}

.jcwd_b .css_p strong a {
    color: #D33809;
}

.jcwd_b .css_p p {
    text-indent: 0px;
    margin-top: 3px;
    color: #6F6F6F;
}

.jcwd_b .list {
    margin-top: 10px;
}

.jcwd_b .list li {
    width: 230px;
}

.jcwd_b .list li a {
    width: 230px;
}

.jcwd .jcwd_b .list li {
    width: 230px;
    line-height: 28px;
    line-height: 28px;
}

.jcwd .jcwd_b span {
    display: block;
    text-align: center;
    margin-top: 10px;
}

.zjtd_2 {
    border: solid 1px #DFDFDF;
    margin-top: 1px;
    padding: 10px;
    height: 294px;
    overflow: hidden;
}

.zjtd_2 .css_p {
    overflow: hidden;
    border-bottom: dotted 1px #B3B3B3;
    margin-top: 1px;
    height: 125px;
    margin-bottom: 10px;
}

.zjtd_2 .css_p img {
    float: left;
    margin-right: 10px;
}

.zjtd_2 .css_p p {
    line-height: 20px;
    word-break: break-all;
    white-space: normal;
    color: #585858;
}

.zjtd_2 .css_p span {
    display: block;
    font-weight: bold;
    margin-top: 2px;
}

.zjtd_2 .css_p span img {
    margin-right: 0px;
    margin-left: 2px;
}

#bottom {
    background: #fff url(index_a_73.gif)/*tpa=http://www.lyzxc.com/style/images/index_a_73.gif*/ 0px 10px no-repeat;

    overflow: hidden;
    width: 1000px;
    margin: 0px auto;
}

#bottom span {
    height: 57px;
    display: block;
    line-height: 77px;
    color: #004880;
    text-align: center;
}

#bottom span a {
    color: #004880;
    margin: 0px 3px;
}

#bottom ul {
    padding: 30px 0 0 30px;
}

#bottom ul li {
    color: #fff;
    line-height: 30px;
    text-align: center;
}

#bottom ul li a {
    color: #fff;
}

.hj_a {
    height: 36px;
    overflow: hidden;
    background: url(../../index.htm)/*tpa=http://www.lyzxc.com/style/images/index_b_17.gif*/;
}

.hj_a ul {
    overflow: hidden;
    float: left;
}

.hj_a ul li {
    float: left;
    margin-right: 1px;
}

.hj_a ul li a {
    float: left;
    background: url(../../index.htm)/*tpa=http://www.lyzxc.com/style/images/index_a_56.gif*/;
    width: 104px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    font-weight: bold;
    text-align: center;
    color: #004880;
}

.hj_a ul li .kjy_a {
    background: url(../../index.htm)/*tpa=http://www.lyzxc.com/style/images/index_a_54.gif*/;
    color: #FFFFFF;
}

.hj_a span {
    float: right;
    margin: 12px 10px 0 0;
}

.hj_a ul li a:hover {
    text-decoration: none;
}

.hjry .border {
    height: 150px;
    overflow: hidden;
    padding: 18px 0 0 35px;
    float: left;
    width: 820px;
    border-top: 0px;
    background: url(../../index.htm)/*tpa=http://www.lyzxc.com/style/images/index_a_61.gif*/ 13px 70px no-repeat;
    width: 943px;
}

.hjry_a {
    height: 170px;
    overflow: hidden;
}

.hjry_a img {
    margin-right: 15px;
}
