<div class="contact">
  <div class="ititle">
    <p>联系我们</p>
    <font>contact us</font> </div>
  <ul class="main contactul">
    <li> <img src="{dede:global.cfg_templets_skin/}/style/images/con1.png"/>
      <p>地址：{dede:global.cfg_webname/}</p>
    </li>
    <li> <img src="{dede:global.cfg_templets_skin/}/style/images/con2.png"/>
      <p>电话：13922352985</p>
    </li>
    <li> <a href="#"><img src="{dede:global.cfg_templets_skin/}/style/images/con3.png"/>
      <p>点击图标在线留言，我们会及时回复</p>
      </a> </li>
  </ul>
</div>
<div class="foot">
  <div class="main"> <span class="fl">&nbsp;&nbsp;ICP备案编号：<a href="http://www.miitbeian.gov.cn/" title="" target="_blank">{dede:global.cfg_beian/}</a> </span>
    <div class="share">

      <!-- Baidu Button BEGIN -->

      <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare"> <span class="bds_more" style="line-height:16px;">分享到：</span> <a class="bds_qzone"></a> <a class="bds_tsina"></a> <a class="bds_tqq"></a> <a class="bds_renren"></a> <a class="shareCount"></a> </div>
      <script type="text/javascript" id="bdshare_js" data="type=tools" ></script>
      <script type="text/javascript" id="bdshell_js"></script>
      <script type="text/javascript">

            document.getElementById("bdshell_js").src = "http://share.baidu.com/static/js/shell_v2.js?cdnversion=" + new Date().getHours();

        </script>

      <!-- Baidu Button END -->

    </div>

  </div>
</div>
