<div class="fixed"> <a href="#" title="留言" class="barbook"></a> <a href="javascript:;" title="二维码" class="codepic"></a> <a href="javascript:;" title="返回顶部" class="backup"></a>
  <div> <img src="{dede:global.cfg_templets_skin/}/style/images/qrcode.png" alt="" class="code"> </div>
</div>
<div class="header">
  <div class="main"> <a href="/" title="" class="logo"><img src="{dede:global.cfg_templets_skin/}/style/images/logo.png" alt=""/></a>
    <div class="headerr">
      <div class="ishare">
        <div class="bdsharebuttonbox"> <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a> </div>
        <script>

      window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];

      </script>
      </div>
      <div class="search">
        <form name="formsearch" action="/plus/search.php" method="post">
          <input type="text" class="text" name="q" id="kws" value="请输入搜索关键词"/>
          <input type="submit" title="搜索" class="button" value=""/>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="banner vbanner">
  <div class="menu">
    <ul class="main">
      <li><a title="网站首页" href="/" {dede:field name=typeid runphp="yes"}(@me=="")? @me=" class='cur' ":@me="";{/dede:field}>网站首页</a> </li>
      {dede:channel type='top' row='7' currentstyle="<li><a class='cur' href='~typelink~' ~rel~>~typename~</a></li>"}
      <li><a href="[field:typeurl/]" title="[field:typename/]">[field:typename/]</a> </li>
      {/dede:channel}
    </ul>
  </div>
  <div class="main_content">
    <div class="nf_hp_kv js_nf_hp_kv">
      <div class="window js_window">
        <div class="kv_item" style="display: block; background-image: url({dede:global.cfg_templets_skin/}/style/images/banner.jpg); background-position: 50% 0%;"></div>
      </div>
    </div>
  </div>
  <div class="btn_prev js_btn_prev"><a href="javascript:;"><</a></div>
  <div class="btn_next js_btn_next"><a href="javascript:;">></a></div>
  <div class="js_nav">
    <ul>
    </ul>
  </div>
</div>
