<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
<meta content="yes" name="apple-mobile-web-app-capable"/>
<meta content="telephone=no" name="format-detection"/>
<meta name="Author" content="adminbuy.cn"/>
<title>{dede:field.title/}_{dede:global.cfg_webname/}</title>
<meta name="description" content="{dede:global.cfg_description/}" />
<meta name="keywords" content="{dede:global.cfg_keywords/}" />
<link rel="stylesheet" type="text/css" href="{dede:global.cfg_templets_skin/}/style/m/css/master.css"/>
<link rel="stylesheet" type="text/css" href="{dede:global.cfg_templets_skin/}/style/m/css/subpage.css"/>
<link rel="stylesheet" type="text/css" href="{dede:global.cfg_templets_skin/}/style/m/css/child_vip.css"/>
<script type="text/javascript" src="{dede:global.cfg_templets_skin/}/style/m/js/jquery.js"></script>
<style>
.head {
	background: #000
}
.foot {
	background: #000
}
.nav {
	background: #000
}
.nav_color {
	background: #000
}
</style>
<script type="text/javascript" src="{dede:global.cfg_templets_skin/}/style/m/js/nav.js"></script>
<script type="text/javascript" src="{dede:global.cfg_templets_skin/}/style/m/js/cart_icon.js"></script>
<script type="text/javascript" src="{dede:global.cfg_templets_skin/}/style/m/js/form.js"></script>
<script>
	$(document).ready(function() {
        $('#baidu-book').click(function(){
			if($('#xm').val()==0){
				alert('请输入姓名');
				return false;
				}
			if($('#sj').val()==0){
				alert('请输入手机');
				return false;
				}
			if($('#yx').val()==0){
				alert('请输入邮箱');
				return false;
				}
			if($('#zt').val()==0){
				alert('请输入主题');
				return false;
				}
			if($('#nr').val()==0){
				alert('请输入内容');
				return false;
				}
			})
    });
</script>
</head>

<body>
{dede:include filename="nav.htm"/}
<div class="allpage">
  <div class="black-fixed iconfont">&#xe60f;</div>
  <div class="header">
    <div class="contact_top"> 加盟电话： <a href="tel:13536596659" title="">13536596659</a> </div>
    <div class="head"> <a href="index.php" title="首页" class="home-btn commonfont">&#xe608;</a>
      <p class="top-title">在线留言</p>
      <div class="nav-btn commonfont">&#xe60b;</div>
    </div>
  </div>
  <div class="content">
    <p class="red_alert"></p>
    <ul class="login">
      <form action="/plus/diy.php" enctype="multipart/form-data" method="post">
        <input type="hidden" name="action" value="post"/>
        <input type="hidden" name="diyid" value="1"/>
        <input type="hidden" name="do" value="2"/>
        <li>
          <input class="login_input" name="xm" type="text" id="xm" placeholder="姓名"/>
        </li>
        <li>
          <input class="login_input" name="sj" type="text" id="sj" placeholder="手机"/>
        </li>
        <li>
          <input class="login_input" name="yx" type="text" id="yx" placeholder="邮箱"/>
        </li>
        <li>
          <input class="login_input" name="zt" type="text" id="zt" placeholder="主题"/>
        </li>
        <li>
          <textarea class="login_textarea" name="nr" id="nr" cols="30" rows="10" placeholder="内容"></textarea>
        </li>
         <input type="hidden" name="dede_fields" value="xm,text;sj,text;yx,text;zt,text;nr,multitext" />
		<input type="hidden" name="dede_fieldshash" value="025774755c2f7beade9ceb361783caa4" />
        <li>
          <input class="login_btn common_bg" name="submit" id="baidu-book" type="submit" value="提   交"/>
        </li>
      </form>
    </ul>
  </div>
  <div class="blank_f"></div>
  {dede:include filename="foot_m.htm"/}
</div>

<script type="text/javascript">/* <![CDATA[ */(function(d,s,a,i,j,r,l,m,t){try{l=d.getElementsByTagName('a');t=d.createElement('textarea');for(i=0;l.length-i;i++){try{a=l[i].href;s=a.indexOf('/cdn-cgi/l/email-protection');m=a.length;if(a&&s>-1&&m>28){j=28+s;s='';if(j<m){r='0x'+a.substr(j,2)|0;for(j+=2;j<m&&a.charAt(j)!='X';j+=2)s+='%'+('0'+('0x'+a.substr(j,2)^r).toString(16)).slice(-2);j++;s=decodeURIComponent(s)+a.substr(j,m-j)}t.innerHTML=s.replace(/</g,'&lt;').replace(/>/g,'&gt;');l[i].href='mailto:'+t.value}}catch(e){}}}catch(e){}})(document);/* ]]> */</script>
</body>
</html>
