.wrapper-bottom {
  margin-top: 20px;
  padding-top: 10px;
  background: rgba(71, 171, 185, 1);
  opacity: 1;
  position: relative;
}
.zhezhaocen .container {
  height: 100%;
}

a {
  text-decoration: none;
}

.tb_phone {
  font-family: Microsoft YaHei;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 31px;
  letter-spacing: 0px;
  color: #d2f3f8;
  display: inline-block;
}

.wrapper-bottom table {
  border: none;
}

body > div > p {
  overflow: hidden;
}

.wrapper-bottom th {
  height: 21px;
  margin-top: 10px;
  font-family: Microsoft YaHei;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #ffffff;
  width: 160px;
  display: inline-block;
  text-align: left;
}

.hot_line {
  font-family: Microsoft YaHei;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 31px;
  letter-spacing: 0px;
  color: #d2f3f8;
}

.wrapper-bottom td a {
  color: #d2f3f8;
}

.wrapper-bottom th a {
  color: white;
}

.wrapper-bottom td {
  margin-top: 10px;
  display: inline-block;
  white-space: nowrap;
  width: 160px;
  font-family: Microsoft YaHei;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #d2f3f8;
}

.wrapper-bottom ul {
  list-style: none;
}

.wrapper-bottom a {
  color: white;
}

.zhezhaocen-two a {
  color: white;
}

.zhezhaocen-two a:hover {
  color: white;
}

.wrapper-bottom .first-div li {
  margin: 26px 70px 20px 0;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  display: inline-block;
}

.wrapper-bottom .first-div ul {
  display: block;
}

.bottom-box {
  display: flex;
}

.two-ul {
  width: 480px;
  margin: 0 0 0 170px;
}

.two-ul li {
  margin-bottom: 20px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  line-height: 19px;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
}

.one-ul {
  width: 255px;
}

.one-ul li {
  margin-bottom: 20px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
}

.two-ul li:first-child {
  height: 31px;
  font-size: 24px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
}

.remark {
  font-size: 13px;
  width: 640px;
  font-family: SimSun;
  font-weight: 400;
  line-height: 16px;
  color: rgba(213, 241, 245, 1);
  opacity: 1;
  margin: auto;
}

.wx:first-child {
  margin-right: 56px;
}

.wx {
  display: inline-block;
}

.wx span {
  display: block;
  text-align: center;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  margin-top: 15px;
}

.three-div {
  display: flex;
  position: absolute;
  top: 53px;
  right: 0;
}

.zhezhaocen {
  height: 100px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 10000;
  bottom: 0;
  display: none;
}

.rglg {
  margin: 26px 0;
}

.zxdy {
  margin: 21px 0 21px 196px;
  width: 196px;
  height: 58px;
}

.hot_line_box {
  position: relative;
}

.hot_line1 {
  margin: 0;
  order: 1;
  display: none;
  border: none !important;
  width: unset;
  color: white;
  background: rgba(71, 171, 185, 1);
  line-height: 28px;
  padding: 0;
  display: block;
  margin: 0 !important;
}

.hot_line1 span:first-child {
  display: none;
}

.zz-button {
  position: absolute;
  top: 50%;
  margin-top: -18px;
  right: 0;
  z-index: 10000;
}

.zz-button a {
  color: white;
}

.zz-button div {
  display: inline-block;
  text-align: center;
  font-weight: 400;
  border-radius: 100px;
  width: 100px;
  height: 36px;
  background: rgba(245, 163, 29, 1);
  border-radius: 100px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  line-height: 36px;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
}
.test-ivf {
  cursor: pointer;
}

.button-yellow {
  background: rgba(245, 163, 29, 1);
  color: rgba(255, 255, 255, 1);
}

.button-white {
  color: rgba(51, 51, 51, 1);
  background: rgba(255, 255, 255, 1);
}

.cenup {
  display: inline-block;
}

.cenup span {
  display: block;
  text-align: center;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  line-height: 21px;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
}

.cendown {
  display: inline-block;
}

.cendown span {
  display: block;
  text-align: center;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  line-height: 21px;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
}

.cenclose {
  display: none;
}

.zhezhaocen-two {
  display: none;
  width: 138px;
  height: 420px;
  background: rgba(71, 171, 185, 1);
  border: 1px solid rgba(71, 171, 185, 1);
  opacity: 1;
  position: fixed;
  top: 50%;
  right: 10px;
  margin-top: -380px;
  border-radius: 16px;
  z-index: 10000;
  color: white;
}

.lx1 {
  margin: 10px 40px 0;
}

.zhezhaocen-two ul {
  list-style: none;
}

.zhezhaocen-two li:last-child {
  display: flex;
  flex-flow: column;
  line-height: 28px;
}
.zhezhaocen-two li {
  font-size: 18px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  line-height: 36px;
  text-align: center;
}

.zhezhaocen-two li div {
  border-top: 1px solid white;
  margin: 0 33px;
}

.back {
  margin-top: 20px;
}

.back span {
  display: block;
  font-size: 16px;
  margin-top: 8px;
  font-family: Microsoft YaHei;
  text-align: center;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
  opacity: 1;
}

.zhezhaocen3 {
  position: fixed;
  right: 30px;
  display: none;
  bottom: 58px;
  z-index: 20000;
}

.zhezhaocen3 div {
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 1);
  border-radius: 50%;
  opacity: 1;
  display: flex;
  align-items: center;
}

.box_bg {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 999;
  top: 0;
  display: none;
}
.box_bg .box {
  width: 770px;
  height: 710px;
  background: #fff;
  margin: -360px 0 0 -355px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  display: block;
}
.box_bg .box .close1::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 50%;
  left: 11px;
  background: white;
  transform: rotate(45deg);
}
.box_bg .box .close1::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 50%;
  left: 11px;
  background: white;
  transform: rotate(-45deg);
}
.box_bg .box .close1 {
  position: relative;
  width: 46px;
  height: 46px;
  background: rgba(71, 171, 185, 1);
  float: right;
  margin: -23px -23px 0 0;
  border-radius: 50%;
  cursor: pointer;
}
.box_bg .box .title {
  width: 680px;
  height: auto;
  border-bottom: 2px solid #a0a0a0;
  margin: 46px auto 0 auto;
  padding-bottom: 12px;
  font-size: 26px;
  color: #252525;
}
.box_bg .box .title p {
  float: right;
  font-size: 13px;
  color: #a0a0a0;
}
.box_bg .box .title p span {
  color: #f25472;
}
.box_bg .box .content {
  width: 680px;
  height: 625px;
  margin: 0 auto;
}
.box_bg .box .content .jie {
  font-size: 13px;
  color: #666;
  line-height: 26px;
  text-indent: 20px;
  margin-top: 20px;
}
.box_bg .box .content .con_01 {
  display: block;
  width: 680px;
  height: 480px;
  background: url(../images/index/tu01.jpg) bottom no-repeat;
}
.box_bg .box .content .con_01 .begin {
  width: 482px;
  height: 146px;
  letter-spacing: 1px;
  background: rgba(71, 171, 185, 1);
  line-height: 30px;
  border-radius: 10px;
  margin: 45px auto;
  color: white;
  font-size: 18px;
  text-align: center;
  padding-top: 29px;
}
.box_bg .box .content .con_01 .begin .button,
.box_bg .box .content .con_02 .pink_box .button {
  color: #fff;
  font-size: 16px;
  width: 120px;
  height: 32px;
  background: rgb(130, 203, 212);
  line-height: 32px;
  margin: 0 auto;
  text-align: center;
  border: none;
  border-radius: 5px;
  outline: 0;
  margin-top: 30px;
  cursor: pointer;
}
.box_bg .box .content .bar {
  display: none;
  width: 400px;
  height: 10px;
  background-size: 100%;
  position: absolute;
  bottom: 130px;
  left: 50%;
  margin-left: -200px;
  border: 1px solid #fff;
  border-radius: 20px;
}
.box_bg .box .content .bar .bar_length {
  width: 0;
  height: 10px;
  background: white;
  border-radius: 20px 0 0 20px;
}
.box_bg .box .content .bar span {
  position: absolute;
  right: 0;
  font-size: 16px;
  color: white;
  top: -23px;
}
.box_bg .box .content .con_02 {
  display: none;
}
.box_bg .box .content .con_02 .pink_box {
  width: 482px;
  height: 434px;
  border-radius: 10px;
  background: rgb(130, 203, 212);
  text-align: center;
  margin: 44px auto 0 auto;
}
.box_bg .box .content .con_02 .pink_box p {
  color: white;
  font-size: 18px;
  padding: 50px 0 40px;
}
.box_bg .box .content .con_02 .pink_box .radio_add label {
  background: rgba(71, 171, 185, 1);
  color: #fff;
}
.box_bg .box .content .con_02 .pink_box div input {
  display: none;
}
.box_bg .box .content .con_02 .pink_box div label {
  width: 240px;
  height: 32px;
  border-radius: 5px;
  color: #323232;
  font-size: 14px;
  text-align: center;
  display: block;
  background: #fff;
  margin: 0 auto 20px auto;
  line-height: 32px;
  cursor: pointer;
}
.box_bg .box .content .con_03 {
  display: none;
}
.box_bg .box .content .con_03 .pink_box {
  width: 482px;
  height: 434px;
  border-radius: 10px;
  background: rgb(130, 203, 212);
  text-align: center;
  margin: 44px auto 0 auto;
  overflow: hidden;
}
.box_bg .box .content .con_03 .pink_box p {
  color: white;
  font-size: 18px;
  padding: 50px 0 40px;
  margin: 0 55px;
  line-height: 30px;
}
.box_bg .box .content .con_03 .pink_box input::-webkit-input-placeholder {
  color: #cdcccc;
}
.box_bg .box .content .con_03 .pink_box .phone {
  width: 230px;
  height: 32px;
  border-radius: 5px;
  border: none;
  outline: 0;
  background: #fff;
  padding-left: 24px;
  font-size: 14px;
  margin: 0 auto 14px auto;
  box-shadow: 0 0 0 1000px #fff inset;
}
.box_bg .box .content .con_03 .pink_box .code {
  width: 120px;
  height: 32px;
  border-radius: 5px;
  border: none;
  outline: 0;
  background: #fff;
  padding-left: 24px;
  font-size: 14px;
  float: left;
  margin: 0 9px 0 114px;
  box-shadow: 0 0 0 100px #fff inset;
  -webkit-box-shadow: 0 0 0 100px #fff inset;
}

.box_bg .box .content .con_04 .white_box div::after {
  content: "";
  border-top: 20px transparent solid;
  border-bottom: 20px solid transparent;
  border-left: 20px rgba(71, 171, 185, 1) solid;
  position: absolute;
  top: 50%;
  margin-top: 15px;
  right: -55px;
}
.box_bg .box .content .con_03 .pink_box .pull_code {
  cursor: pointer;
  width: 100px;
  height: 32px;
  border-radius: 5px;
  border: none;
  outline: 0;
  background: #feb3c2;
  color: #fff;
  font-size: 14px;
  display: block;
  float: left;
  line-height: 32px;
  text-align: center;
}
.box_bg .box .content .con_03 .pink_box .button {
  border: none;
  background: rgba(71, 171, 185, 1);
  color: #fff;
  border-radius: 5px;
  outline: 0;
  cursor: pointer;
  display: block;
  width: 120px;
  height: 32px;
  margin: 97px auto 0 auto;
  line-height: 32px;
}
.box_bg .box .content .con_04 {
  display: none;
  width: 482px;
  height: auto;
  margin: 94px auto 0 auto;
  background: rgb(130, 203, 212);
  border-radius: 10px;
  overflow: hidden;
}
.box_bg .box .content .con_04 .white_box {
  width: 448px;
  height: 238px;
  background: url(../images/index/tu02.jpg) 270px 40px #fff no-repeat;
  margin: 17px;
}
.box_bg .box .content .con_04 .white_box div {
  position: relative;
  width: 138px;
  height: 90px;
  padding: 70px 0 0 40px;
  text-align: right;
  color: rgba(71, 171, 185, 1);
  font-size: 16px;
  line-height: 26px;
}
.box_bg .box .content .con_04 .white_box div span {
  font-size: 26px;
}
.box_bg .box .content .con_04 .newsubmit {
  text-align: center;
  background: rgba(71, 171, 185, 1);
  color: #fff;
  border-radius: 5px;
  outline: 0;
  cursor: pointer;
  display: block;
  width: 120px;
  height: 32px;
  margin: 30px auto 25px auto;
  line-height: 32px;
}
.box_bg .box .content #aide .bai {
  background: #bbb;
}

.saoma {
  text-align: center;
  margin: 4px 0 30px;
  display: block;
  font-size: 18px;
}

.container {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}
.for-reference-info {
  display: none;
}
