* {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
}

a {
  cursor: pointer !important;
}

a img {
  cursor: pointer !important;
}

.wrapper-head {
  height: 40px;
  background: rgba(245, 245, 245, 1);
  opacity: 1;
}

.wrapper-head-title h1 {
  font-size: 15px;
  display: inline;
  font-weight: normal;
}

a {
  color: inherit;
}

.wrapper-image a:nth-child(2) {
  display: none;
}

.content-box {
  max-width: 1280px;
}

.path-name span {
  width: 84px;
  height: 19px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(102, 102, 102, 1);
  opacity: 1;
}

.wrapper-head-no2 {
  height: 80px;
  display: flex;
  justify-items: center;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

.out_line {
  height: 1px;
  background-color: #666666;
  opacity: 0.1;
}

.wrapper-head-no2 .wrapper-image {
  flex: 0.2;
  margin-right: 30px;
}

.wrapper-head-no2 ul {
  list-style: none;
  display: flex;
  flex: 0.8;
  justify-content: space-between;
}

.wrapper-head-title {
  display: flex;
  /* text-align: center; */
  line-height: 40px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
  opacity: 1;
  max-width: 1280px;
  margin: 0 auto;
  justify-content: space-between;
}

/* .wrapper-head-title div {
  flex: 50%;
} */

.menuList {
  width: 80px;
  height: 30px;
  padding: 0 14px;
  opacity: 1;
  text-align: center;
  border-radius: 100px;
  line-height: 30px;
}

.menuList a {
  color: black;
  text-decoration: none;
}

.docotr_jj p {
  line-height: 56px;
  padding-left: 12px;
}

.menuList-active {
  background: rgba(71, 171, 185, 1);
}

.menuList-active a {
  color: rgba(255, 255, 255, 1);
}

/* .menuList-active a:hover {
    color: rgba(238, 238, 238, 1) !important;
} */

img {
  flex-shrink: 0 !important;
  white-space: nowrap !important;
}

li.menuList:hover a {
  color: white;
}

li.menuList:hover {
  background: #47abb9;
}