* {
  cursor: default;
}

a {
  text-decoration: none;
  color: rgba(153, 153, 153, 1);
}
h2{
    font-size:inherit;
    font-weight: inherit;
    
}
#box .swiper-wrapper .swiper-slide>a:nth-child(2) {
  display: none;
}

a:hover {
  color: rgba(71, 171, 185, 1);
}

.ivf {
  margin: 0 auto 85px;
  margin-bottom: 45px;
  max-width: 1280px;
}

.wrapper-content .new {
  overflow: hidden;
  display: flex;
  max-width: 1280px;
  margin: 0 auto 30px;
}

.new-item {
  width: 186px;
  height: 168px;
  transition: all 0.5s;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(234, 234, 234, 1);
  opacity: 1;
  border-radius: 6px;
  display: inline-block;
}

.issue-item-a {
  display: none !important;
}

.new-margin {
  margin: 20px 25px 0 0;
}

.new-item img {
  display: block;
  margin: auto;
  margin-top: 14px;
}

.new-item:nth-child(2) img {
  margin-left: -100px;
}

.new-item:nth-child(3) img {
  margin-left: -200px;
}

.new-item:nth-child(4) img {
  margin-left: -300px;
}

.new-item:nth-child(5) img {
  margin-left: -400px;
}

.new-item:nth-child(6) img {
  margin-left: -500px;
}

.new-item .title {
  display: block;
  text-align: center;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  opacity: 1;
  margin: 10px 0;
}

.new-item .description {
  display: block;
  font-size: 12px;
  overflow: hidden;
  line-height: 20px;
  font-family: SimSun;
  font-weight: 400;
  color: rgba(129, 129, 129, 1);
  opacity: 1;
  margin: 0 8px 20px 22px;
}

.wrapper-content .test-baby {
  display: flex;
  height: 65px;
  margin: 50px 0 26px;
  justify-content: center;
}

.wrapper-content .test-baby-title {
  display: flex;
  justify-content: center;
  /* text-align: center; */
  /* position: absolute;
    left: 50%;
    margin-left: -290px; */
}

.wrapper-content .content-title {
  height: 40px;
  font-size: 30px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  line-height: 40px;
  color: rgba(51, 51, 51, 1);
  opacity: 1;
  text-align: center;
}

.content-title .two-title {
  height: 16px;
  font-size: 12px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  line-height: 16px;
  color: rgba(153, 153, 153, 1);
  opacity: 1;
}

.wrapper-content .test-baby .underline {
  width: 90px;
  height: 2px;
  margin: 0 24px;
  background: rgba(236, 236, 236, 1);
  opacity: 1;
  position: relative;
  top: 20px;
}

.box-left {
  border: 1px solid rgba(227, 227, 227, 1);
  display: inline-block;
  margin-right: 20px;
  flex: 32%;
}

.box-content {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-right {
  flex: 68%;
  border: 1px solid rgba(227, 227, 227, 1);
  display: inline-block;
}

.dot {
  display: inline-block;
  width: 4px;
  vertical-align: middle;
  height: 4px;
  border-radius: 50%;
  background-color: #d1d1d1;
}

.box-right-bottom {
  display: flex;
}

.list_content {
  margin-bottom: 12px;
  /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 10px; */
  max-width: 380px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.left_list {
  flex: 0.5;
  margin-left: 20px;
  font-family: SimSun;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 19px;
  letter-spacing: 0px;
  color: rgba(51, 51, 51, 1);
}

.box-right-bottom a {
  text-decoration: none;
  color: rgba(51, 51, 51, 1);
}

.right_list {
  flex: 0.5;
  margin-left: 20px;
  font-family: SimSun;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 19px;
  letter-spacing: 0px;
  color: rgba(51, 51, 51, 1);
}

.list_content a {
  color: #666666;
  font-family: SimSun;
}

.list_content a:hover {
  color: #47abb9;
}

.box-right-top {
  display: flex;
  margin: 23px 10px 0 19px;
}

.box-left-top {
  height: 61px;
  background: rgba(238, 238, 238, 1);
  font-size: 22px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  line-height: 60px;
  color: rgba(51, 51, 51, 1);
  opacity: 1;
  text-align: center;
}

.box-left-button {
  margin: 17px 20px 0 0;
  font-size: 14px;
  font-family: SimSun;
  display: inline-block;
  font-weight: 400;
  height: 30px;
  line-height: 30px;
  background: rgba(245, 245, 245, 1);
  border-radius: 100px;
  overflow: hidden;
  padding: 0 12px;
  text-align: center;
}

.box-left-button:hover {
  background: rgba(71, 171, 185, 1);
}

.box-left-button:hover a {
  color: rgba(255, 255, 255, 1);
}

.button_wrapper {
  padding: 0 0 17px 20px;
}

.button_wrapper .active {
  background: rgba(71, 171, 185, 1);
}

.button_wrapper .active a {
  color: rgba(255, 255, 255, 1);
}

.button_wrapper a {
  text-decoration: none;
  color: rgba(102, 102, 102, 1);
}

.button_wrapper a:hover {
  color: rgba(255, 255, 255, 1);
}

.box-right-top .img {
  width: 260px;
  height: 160px;
}

.box-text {
  font-family: SimSun;
  font-size: 14px;
  overflow: hidden;
  font-weight: normal;
  font-stretch: normal;
  line-height: 26px;
  letter-spacing: 0px;
  color: #666666;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.box-title {
  font-size: 18px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  line-height: 24px;
  color: rgba(51, 51, 51, 1);
  opacity: 1;
  margin-bottom: 12px;
}

.box-title a {
  color: rgba(51, 51, 51, 1);
}

.box-title a:hover {
  color: rgba(71, 171, 185, 1);
}

.baby-cost {
  background: rgba(247, 247, 247, 1);
  padding: 6px 0 40px;
}

.cost-box {
  /* padding: 0 26px; */
  max-width: 1280px;
  margin: 00px auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cost-box .cost-item {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* align-items: center; */
  width: 196px;
  margin: 0 5px;
  overflow: hidden;
}

.baby-cost .cost-box .cost-item:nth-child(1) img {
  margin-left: 14px;
}

.baby-cost .cost-box .cost-item:nth-child(3) img {
  margin-left: -192px;
}

.baby-cost .cost-box .cost-item:nth-child(5) img {
  margin-left: -402px;
}

.baby-cost .cost-box .cost-item:nth-child(7) img {
  margin-left: -613px;
}

.baby-cost .cost-box .cost-item:nth-child(9) img {
  margin-left: -819px;
}

.cost-box .cost-item img {
  height: 169px;
  display: block;
  margin: auto;
}

.cost-box .cost-item span:nth-of-type(1) {
  height: 26px;
  font-size: 20px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  line-height: 26px;
  color: rgba(51, 51, 51, 1);
  display: block;
  text-align: center;
  margin: 20px 0 14px;
  opacity: 1;
}

.baby-cost .cost-box .cost-item span:nth-of-type(2) {
  width: 196px;
  height: 46px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  line-height: 24px;
  color: rgba(129, 129, 129, 1);
  opacity: 1;
  display: list-item;
  list-style: none;
}

.cost-box .cost-item span:nth-of-type(2) {
  width: 196px;
  height: 46px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  line-height: 24px;
  color: rgba(129, 129, 129, 1);
  opacity: 1;
}

.cost-box .centre-image {
  margin-top: -84.5px;
  transform: translateY(-50%);
}

.bolok-4 {
  background: rgba(255, 255, 255, 1);
  opacity: 1;
}

.bolok-4 .title-box {
  padding-top: 166px;
}

.bolok-4 .cost-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bolok-4 .cost-box .cost-item img {
  /* width: 140px; */
  height: 140px;
  display: block;
  margin: auto;
}

.bolok-4 .cost-box .centre-image {
  margin-top: -70px;
  transform: translateY(-150%);
}

.bolok-4 .cost-box .cost-item {
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 272px;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.bolok-4 .cost-box .cost-item:nth-child(1) img {
  margin-left: 22px;
}

.bolok-4 .cost-box .cost-item:nth-child(3) img {
  margin-left: -149px;
}

.bolok-4 .cost-box .cost-item:nth-child(5) img {
  margin-left: -318px;
}

.bolok-4 .cost-box .cost-item:nth-child(7) img {
  margin-left: -490px;
}

.bolok-4 .cost-box .cost-item:nth-child(9) img {
  margin-left: -658px;
}

.bolok-4 .cost-box .cost-item:nth-child(11) img {
  margin-left: -838px;
}

.zhezhao1 {
  z-index: 1000;
  width: 317px;
  height: 500px;
  position: absolute;
  left: 0;
  background: white;
}

.zhezhao2 {
  z-index: 1000;
  width: 317px;
  height: 500px;
  position: absolute;
  right: 0;
  background: white;
}

.checkedDoctor {
  display: flex;
  width: 272px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(231, 231, 231, 1);
  margin: auto;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(102, 102, 102, 1);
}

.checkedDoctor div {
  flex: 0.5;
}

.doctorActive {
  background: rgba(71, 171, 185, 1);
  color: white;
}

.lunbo {
  width: 100%;
  overflow: hidden;
}

.doctor-content ul {
  /* height: 500px; */
  /* width: 5000px; */
  /* overflow: hidden; */
  /* position: relative; */
  /* list-style: none; */
}

.doctor-item {
  box-sizing: border-box;
  height: 100%;
  border: 1px solid rgba(227, 227, 227, 1);
}

.doctor-item img {
  cursor: pointer;
  width: 100%;
  height: 254px;
}

.background_title a {
  color: rgba(245, 245, 245, 1);
}

.background_title a:hover {
  color: rgba(71, 171, 185, 1);
}

.paris-box a {
  color: rgba(102, 102, 102, 1);
  font-family: SimSun;
}

.paris-box a:hover {
  color: rgba(71, 171, 185, 1);
}

.doctorMore a {
  color: white;
}

.button a {
  color: white;
}

.button a:hover {
  color: rgba(71, 171, 185, 1);
}

.new-item:hover {
  border: 1px solid #47abb9;
}

.new-item a {
  display: block;
  width: 60px;
  margin: auto;
  overflow: hidden;
}

.background_title {
  width: calc(100% - 20px);
  height: 40px;
  background-color: #000000;
  opacity: 0.5;
  position: absolute;
  line-height: 40px;
  bottom: 0;
  padding-left: 20px;
  font-family: Microsoft YaHei;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #ffffff;
}

.doctor-name {
  font-family: Microsoft YaHei;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 21px;
  letter-spacing: 0px;
  color: #333333;
  margin: 10px 16px;
}

.doctor-name a {
  color: #333333;
}

.doctor-name a:hover {
  color: rgba(71, 171, 185, 1);
}

.doctor-text {
  font-family: Microsoft YaHei;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 22px;
  letter-spacing: 0px;
  color: #999999;
  margin: 0 0 0 16px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.doctor .hide_all {
  /* display: block !important; */
  height: unset !important;
  margin-top: 59px;
  margin-bottom: 34px;
}

.doctorMore {
  display: inline-block;
  position: relative;
  left: 50%;
  margin-left: -55px;
}

.doctorMore .active {
  background: rgba(71, 171, 185, 1);
  border: 1px solid rgba(71, 171, 185, 1);
  color: rgba(255, 255, 255, 1);
}

.doctor .swiper-wrapper {
  transition-timing-function: linear;
}

.doctorMore div {
  display: inline-block;
  width: 108px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(227, 227, 227, 1);
  opacity: 1;
  border-radius: 100px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(102, 102, 102, 1);
  opacity: 1;
}

.asFor {
  height: 628px;
  background: rgba(247, 247, 247, 1);
  margin: 44px 0 40px;
}

.asfor-bg {
  background-image: url("/skin/custom/images/asfor.png");
  display: flex;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.asFor .asFor-img {
  width: 764px;
}

.asFor-img img {
  width: 100%;
  height: 100%;
}

.asFor .asFor-content {
  width: 516px;
  padding-left: 20px;
}

.asFor-content .title {
  margin-top: 52px;
  font-size: 28px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}

.asFor-content .button {
  margin-top: 62px;
  width: 80px;
  height: 34px;
  border: 1px solid rgba(255, 255, 255, 1);
  opacity: 1;
  border-radius: 100px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  line-height: 34px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.asFor-content .title-two {
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  margin-top: 8px;
}

.asFor-content .text {
  width: 485px;
  font-size: 16px;
  font-family: Microsoft YaHei;
  line-height: 34px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  margin-top: 50px;
}

.wrapper-head-title h1 {
  font-size: 15px;
  display: inline;
  font-weight: normal;
}

.wrapper-content .content-title .title {
  font-size: 30px;
}

.xiahuaxian {
  height: 1px;
  background: rgba(230, 230, 230, 1);
  max-width: 1280px;
  margin: 20px auto;
}

.paris-content {}

.paris-content ul {
  list-style: none;
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
}

.paris-content li {
  display: inline-block;
  min-width: 0;
  overflow: hidden;
}

.paris-content .paris-img {
  width: 414px;
  height: 310px;
  position: relative;
}

.margin-li {
  margin: 0 20px;
}

.paris-ul ul {
  padding: 0;
  margin: 0;
  display: block;
}

.paris-ul li {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  font-family: SimSun;
  font-weight: 400;
  line-height: 19px;
  color: rgba(102, 102, 102, 1);
}

.paris-ul li div {
  width: 4px;
  height: 4px;
  display: inline-block;
  background: rgba(209, 209, 209, 1);
  border-radius: 50%;
  opacity: 1;
  margin-bottom: 3px;
}

.paris-ul .active {
  color: rgba(71, 171, 185, 1);
}

.link {
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #666666;
  max-width: 1280px;
  margin: 40px auto 0;
}

.boundary {
  height: 1px;
  background-color: #e3e3e3;
  margin: 24px 0 18px;
}

.navigate {
  max-width: 1280px;
  margin: 0 auto;
}

.navigate li {
  font-size: 14px;
  height: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
  opacity: 1;
  display: inline-block;
  padding-right: 16px;
  margin-left: 16px;
  line-height: 14px;
  border-right: 1px solid rgba(129, 129, 129, 1);
}

.navigate .active {
  color: rgba(71, 171, 185, 1);
}

.navigate li:first-child {
  margin-left: 0;
}

.navigate li:last-child {
  border-right: 0px;
}

.swiper-pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -88px;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background-color: #666666;
  opacity: 0.5;
  margin: 0 20px;
}

.swiper-pagination-clickable .swiper-pagination-bullet-active {
  width: 24px;
  height: 6px;
  background-color: #666666;
  border-radius: 100px;
}

#box {
  position: relative;
  overflow: hidden;
  /* min-width: calc(1280px + 33.3%); */
  /* max-width: 1280px; */
}

#box .swiper-wrapper img {
  width: 100%;
  min-height: 180px;
}

#box .broadcastMe-spot-active {
  width: 24px;
  background: rgba(71, 171, 185, 1);
}

#box .broadcastMe-spot:hover {
  background: rgba(71, 171, 185, 1);
}

.doctor {
  max-width: 1280px;
  margin: 0 auto;
}

.doctor .doctor-content {
  width: 100%;
  overflow: hidden;
  height: 0;
}

.doctor .swiper-slide {
  height: 380px;
  background: rgba(255, 255, 255, 1);
  width: 306px;
}

.new-title {
  display: none !important;
}

.bottom,
.menu,
.menu-list {
  display: none;
}

.doctor .swiper-button-next {
  width: 50px;
  height: 64px;
  right: 1px;
  background: rgb(4, 4, 4);
  color: white;
  opacity: 0.5;
}

.doctor .swiper-button-next1 {
  width: 50px;
  height: 64px;
  right: 1px;
  background: rgb(4, 4, 4);
  color: white;
  opacity: 0.5;
}

.doctor .swiper-button-prev {
  width: 50px;
  left: 1px;
  height: 64px;
  background: rgb(4, 4, 4);
  color: white;
  opacity: 0.5;
}

.doctor .swiper-button-prev1 {
  width: 50px;
  left: 1px;
  height: 64px;
  background: rgb(4, 4, 4);
  color: white;
  opacity: 0.5;
}

.paris-img img {
  width: 100%;
  height: 100%;
}

.ivf-doctor-box {
  display: none;
}

.ivf-hospital-box {
  display: none;
}

.address-bar {
  margin-bottom: 0;
  text-align: center;
  float: left;
  border-radius: 30px;
  background-color: #fff;
  padding: 8px 10px 8px 20px;
  border: 1px solid #e3e3e3;
}

.addr-bar-phone {
  float: left;
  padding-left: 20px;
  vertical-align: middle;
}

.address-bar li {
  list-style: none;
  display: inline-block;
  padding: 0 5px;
}

.addr-bar-phone {
  float: left;
  padding-left: 20px;
  vertical-align: middle;
}

.user-concerns {
  padding: 50px 0 40px;
  text-align: center;
}


.user-concerns-content .issue-item>img {
  width: 130px;
  height: 130px;
  display: block;
  margin: 0 auto;
}


.user-concerns-content .issue-item>a {
  font-size: 20px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  line-height: 24px;
  color: #47ABB9;
  opacity: 1;
}

.user-concerns-content .issue-item .issue-descriptor {
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  line-height: 24px;
  color: #818181;
  opacity: 1;
  padding: 0 28px 0 39px;
}

.user-concerns-content .issue-item .issue-title {
  font-size: 20px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  line-height: 31px;
  opacity: 1;
}

.user-concerns-content .issue-item:hover {
  background: #ffffff;
}

.user-concerns-content .issue-item {
  flex-basis: calc(25% - 2px);
  border: 1px solid #eaeaea;
  background: #FCFCFC;
  height: 355px;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 30px 0 35px;
}

.user-concerns-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 50px;
}

.user-concerns-content img {
  width: 296px;
  height: 296px;
  margin-left: 100px;
}

.user-concerns-content>div {
  counter-reset: concerns 0;
}

.user-concerns-content>div p {
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  text-align: left;
  margin-left: 124px;
  padding-right: 70px;
  margin-top: 40px;
  position: relative;
}

.user-concerns-content>div p::after {
  content: "0"counter(concerns);
  counter-increment: concerns;
  position: absolute;
  width: 27px;
  height: 27px;
  background: #47abb9;
  border-radius: 50%;
  opacity: 1;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  line-height: 27px;
  color: #ffffff;
  text-align: center;
  left: -37px;
  top: 50%;
  transform: translateY(-50%);
}

.user-concerns .sub-title {
  font-size: 12px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  line-height: 16px;
  color: #999999;
  opacity: 1;
}

.user-concerns h2::after {
  content: "";
  position: absolute;
  right: 0;
  margin-right: -110px;
  bottom: 15px;
  width: 90px;
  height: 2px;
  background: #ececec;
  opacity: 1;
}

.user-concerns h2::before {
  content: "";
  position: absolute;
  left: 0;
  margin-left: -110px;
  bottom: 15px;
  width: 90px;
  height: 2px;
  background: #ececec;
  opacity: 1;
}

.user-concerns h2 {
  position: relative;
  font-size: 30px;
  display: inline-block;
  font-family: Microsoft YaHei;
  font-weight: bold;
  line-height: 40px;
  color: #333333;
  opacity: 1;
}

.ivf-block-descriptor {
  width: 294px;
  padding-left: 40px;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  line-height: 24px;
  color: #818181;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ivf-block-title {
  width: 294px;
  padding-left: 40px;
  font-size: 20px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  line-height: 26px;
  color: #333333;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ivf-block-warpper {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}

.ivf-block-warpper>div:nth-child(1)::after {
  content: "";
  position: absolute;
  background-image: url(/skin/custom/images/taiguo.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  right: -15px;
  width: 257px;
  height: 285px;
  bottom: -6px;
}

.ivf-block-warpper>div:nth-child(2)::after {
  content: "";
  position: absolute;
  background-image: url(/skin/custom/images/diqiu.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  right: -25px;
  width: 275px;
  height: 275px;
  bottom: -8px;

}

.ivf-block-warpper>div:hover {
  border: 1px solid #47abb9;
}

.ivf-block-warpper>div {
  padding: 25px 0;
  flex-basis: 47.5%;
  background: #ffffff;
  border: 1px solid #eaeaea;
  opacity: 1;
  border-radius: 10px;
  height: 140px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  position: relative;
}

.ivf-block-btn {
  display: flex;
  width: 294px;
  padding-left: 40px;
  align-items: center;
  justify-content: center;
}

.ivf-block-btn a:nth-child(2) {
  margin-left: 10px;
  background: #f5a31d;
}

.ivf-block-btn a {
  width: 144px;
  height: 31px;
  background: #47abb9;
  opacity: 1;
  border-radius: 16px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  line-height: 31px;
  text-align: center;
  display: block;
  color: #ffffff;
  opacity: 1;
}

@media (max-width: 768px) {
  .user-concerns h2::after {
    position: unset;
    margin: 0;
  }

  .sub-title {
    display: none;
  }

  .user-concerns h2::before {
    content: "";
    position: absolute;
    left: 15px;
    top: 50%;
    bottom: 2px;
    width: 2px;
    background: #00a0ff;
    margin: 0;
    height: 15px;
    margin-top: -7.5px;
  }

  .user-concerns h2 {
    font-size: 16px;
    z-index: 999;
    font-weight: 500;
    display: block;
    padding-left: 25px;
    text-align: left;
  }

  .user-concerns {
    background: #ffffff;
    margin-bottom: 20px;
    padding: 10px 0 0px;
    border-top: 10px solid #f7f7f7;
    margin-top: 10px;
  }

  .user-concerns-content {
    padding-top: 0;
    padding-right: 15px;
    padding-left: 15px;
  }

  .user-concerns-content .issue-item a:nth-child(3) {
    width: 78px;
    height: 23px;
    line-height: 23px;
    font-size: 12px;
  }

  .user-concerns-content .issue-item>a {
    font-size: 14px;
  }

  .user-concerns-content .issue-item .issue-title {
    font-size: 14px;
    font-weight: normal;
    line-height: unset;
  }

  .user-concerns-content .issue-item .issue-descriptor {
    display: none;
  }

  .user-concerns-content .issue-item {
    height: 120px;
    flex-basis: 32.64%;
    border-radius: 0;
  }

  .content-title {
    padding: 9px 0 1px 10px !important;
  }

  .wrapper-content .test-baby {
    padding-left: 0 !important;
  }

  .wrapper-content .new-title {
    padding-left: 20px !important;
  }

  .ivf .list_content {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    max-width: unset;
    white-space: unset;
  }

  .ivf-hospital-item:nth-child(6)~div,
  .ivf-doctor-item:nth-child(6)~div {
    display: none !important;
  }

  .ivf-block-descriptor {
    display: none;
  }

  .user-concerns-content .issue-item>img {
    width: 60px;
    height: 60px;
  }

  .ivf-block-title {
    width: 70px;
    text-align: center;
    padding-left: 13px;
    font-size: 16px;
    font-weight: 400;
    line-height: unset;
    height: 100%;
    margin-bottom: 20px;
    z-index: 111111;
  }

  .ivf-block-warpper {
    padding-top: 10px;
    border-top: 10px solid #f7f7f7;
    padding-left: 15px;
    padding-right: 15px;
  }

  .ivf-block-warpper>div:nth-child(1)::after {
    width: 66px;
    height: 82px;
    bottom: 40px;
    right: 10px;
  }

  .ivf-block-warpper>div:nth-child(2)::after {
    width: 75px;
    height: 77px;
    bottom: 40px;
    right: 5px;
  }

  .ivf-block-warpper>div:hover {
    border: 1px solid #47abb9;
  }

  .ivf-block-warpper>div {
    padding: 10px 0 0 0;
    height: 130px;
  }

  .ivf-block-btn {
    width: 100%;
    padding-left: 0px;
  }

  .ivf-block-btn a:nth-child(2) {
    display: none;
  }

  .ivf-block-btn a {
    width: 100%;
    border-radius: 0 0 10px 10px;
  }

  .issue-item-a {
    display: flex !important;
  }
}