.bottom,
.menu,
.date-read,
.ivf-swp-wrapper,
.test-user-img {
  display: none;
}

.strategy_item .bottom {
  display: block;
}

@media (max-width: 768px) {
  html {
    scroll-behavior: smooth;
  }

  *,
  .serve-card .text {
    font-size: 14px;
  }

  .introduction_left .swiper-pagination,
  .introduction_left .swiper-button-prev,
  .introduction_left .swiper-button-next,
  .introduction_right .introduction_title,
  .introduction_right .introduction_text,
  .introduction_right .introduction_info,
  .introduction_right .introduction_succeed,
  .introduction_right .introduction_phone,
  .zhezhaocen-two,
  .long_string,
  .article_details .article_info span:nth-child(2),
  .article_details .article_info div:last-child,
  .article_list,
  .text_box .content,
  .article_details .serve,
  .hospital_jj,
  .about-content .content-left span:nth-child(2),
  .about-box .subtitle,
  .bottom-center .amap-info-sharp,
  .amap-info-content,
  .article_details .other>div:last-child,
  .culture_title,
  .advantage_text,
  .content_wrapper .content,
  .hospital_list_left li.hospital_xq:nth-child(1),
  .hospital_list_left li.hospital_xq:nth-child(3),
  .wrapper-content .test-baby .underline,
  .content-title .two-title,
  .baby-cost .cost-box .cost-item span:nth-of-type(2),
  .new .description,
  .xiahuaxian,
  .navigate,
  .swiper_box .text_box>.hospital_list_title~*,
  .underline,
  .strength-circle .title,
  .advantage div:nth-child(2),
  .culture_text span img,
  .strength .subtitle,
  .zhezhaocen3,
  .test-user .test-user-image,
  .test-user .subtitle,
  .hospital_list_title div,
  .wrapper-bottom table,
  .content-dome,
  .banner-bottom,
  .sever-left,
  .circle-box,
  .strength-circle .info,
  .strength-circle .phone,
  .swiper_box .swiper-button-prev,
  .hospital_list_odds,
  .swiper_box .swiper-button-next,
  .zhezhaocen,
  .link,
  .culture-box .subtitle,
  .relation-box .subtitle,
  .hospital_list_right,
  .path-name span:nth-child(7),
  .path-name img:nth-child(6),
  .sever-box .subtitle,
  .three-div,
  .docotr_text li.hospital_xq:nth-child(5),
  .docotr_text li.hospital_xq:nth-child(6),
  .docotr_text li.hospital_xq:nth-child(1) .title_tb,
  .serve-card .details,
  .strength-circle .button,
  .subtitle_text,
  .strategy_item .bottom .pageview,
  .hospital_top img,
  .contact_title,
  #box .swiper-wrapper .swiper-slide>a:nth-child(1),
  .asFor {
    display: none !important;
  }

  #box .swiper-wrapper .swiper-slide>a:nth-child(2),
  .test-user-img,
  .caption-sub1 .title,
  .caption-sub .title {
    display: block;
  }

  .sever-box {
    margin: 0;
  }

  .hospital_xq {
    -webkit-line-clamp: 2;
    margin-bottom: 8px;
    font-size: 12px;
  }

  .header {
    position: relative;
    transition: all 1s;
  }

  .header-show {
    margin-bottom: 320px !important;
  }

  .header-hide {
    margin-bottom: 0 !important;
  }

  .menuList {
    width: 100%;
    text-align: left;
    height: 40px;
    line-height: 40px;
    border-radius: unset;
  }

  .menuList-active {
    background: #e7e7e7;
  }

  .menuList-active a {
    color: #666;
    font-size: 14px;
  }

  .menuList a {
    color: #666;
    font-size: 14px;
    display: block;
  }

  .wrapper-head {
    height: unset;
    background: unset;
  }

  .wrapper-head-title>div:nth-child(1) {
    display: none;
  }

  .wrapper-head-title>div:nth-child(2) {
    position: absolute;
    top: 8px;
    right: 60px;
    width: 90px;
    line-height: 14px !important;
  }

  .wrapper-head-title>div:nth-child(2)>span {
    font-size: 14px;
  }

  .wrapper-head-title>div:nth-child(2)>a {
    display: none;
  }

  .wrapper-head-no2 ul {
    list-style: none;
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    height: 0;
    transition: all 1s;
    overflow: hidden;
  }

  .ul-show {
    height: 320px !important;
  }

  .ul-hide {
    height: 0 !important;
  }

  .wrapper-head-no2 .wrapper-image .logo {
    display: none;
  }
  .wrapper-head-no2 .wrapper-image {
    flex-basis: 100%;
    margin-right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .wrapper-image a:nth-child(1) {
    display: none;
  }

  .wrapper-image a:nth-child(2) img {
    max-width: 100%;
  }

  .wrapper-image a:nth-child(2) {
    display: block;
  }

  .menu {
    display: block;
    height: 30px;
  }

  .wrapper-head-no2 {
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    /* margin-bottom: 40px; */
  }

  .swiper-slide {
    height: 180px;
  }

  .swiper-slide img {
    height: 100%;
  }

  .wrapper-content .new {
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 0 10px;
  }

  .new-item {
    flex-basis: 30%;
    height: 85px;
  }

  .new-item .title {
    font-size: 12px;
  }

  .new-item img {
    height: 40px;
    margin-left: 10px;
  }

  .new-item:nth-child(2) img {
    margin-left: -56px;
  }

  .new-item:nth-child(3) img {
    margin-left: -122px;
  }

  .new-item:nth-child(4) img {
    margin-left: -188px;
  }

  .new-item:nth-child(5) img {
    margin-left: -256px;
  }

  .new-item:nth-child(6) img {
    margin-left: -322px;
  }

  .new-margin {
    margin: 8px 0 0 0;
  }

  .wrapper-content .test-baby {
    height: unset;
    justify-content: left;
    margin: 20px 0;
    padding-left: 10px;
  }

  .baby-cost {
    background: white;
    padding: 0 15px 15px;
    border-top: #f7f7f7 10px solid;
  }

  .wrapper-content .content-title {
    height: unset;
    line-height: unset;
    border: none;
    padding: 0;
  }

  .wrapper-content .content-title .title {
    position: relative;
    font-size: 16px;
    font-weight: normal;
  }

  .wrapper-content .content-title .title::after {
    content: "";
    position: absolute;
    left: -10px;
    top: 4px;
    bottom: 2px;
    width: 2px;
    background: #00a0ff;
  }

  .cost-box {
    margin: 0;
  }

  .cost-box .cost-item span:nth-of-type(1) {
    font-size: 12px;
    font-weight: normal;
  }

  .cost-box .cost-item img {
    height: 44px;
  }

  .cost-box .centre-image {
    width: 12px;
    margin-top: -13px;
  }

  .cost-box .cost-item span:nth-of-type(1) {
    margin: 5px 0 0;
  }

  .baby-cost .cost-box .cost-item:nth-child(1) img {
    margin-left: 4px;
  }

  .baby-cost .cost-box .cost-item:nth-child(3) img {
    margin-left: -52px;
  }

  .baby-cost .cost-box .cost-item:nth-child(5) img {
    margin-left: -104px;
  }

  .baby-cost .cost-box .cost-item:nth-child(7) img {
    margin-left: -160px;
  }

  .baby-cost .cost-box .cost-item:nth-child(9) img {
    margin-left: -214px;
  }

  .for-reference-info {
    display: block;
    line-height: 22px;
    padding: 10px 0 90px;
  }

  .wrapper-bottom {
    background: #f7f7f7;
    color: #999;
    margin-top: 20px;
    text-align: center;
  }

  .doctor {
    padding-left: 15px;
    padding-right: 15px;
    border-top: #f7f7f7 10px solid;
  }

  .bottom {
    z-index: 999999;
    position: fixed;
    bottom: 0;
    left: 0;
    right: -40px;
    display: flex;
    height: 54px;
    background: white;
    justify-content: space-between;
    padding: 5px 15px;
    border-top: solid 1px #c5c7cc;
  }

  .bottom img {
    width: 25px;
    height: 25px;
    display: block;
    margin: 0 auto 2px;
  }

  .bottom .buttom-subtitle {
    /* font-size: 12px; */
    color: #999;
  }

  .bottom .active {
    color: #47abb9;
  }

  .bottom .content-box1 {
    position: relative;
    width: 60px;
    height: 60px;
  }

  .bottom .content-box {
    position: relative;
    width: 60px;
    height: 60px;
  }

  .bottom .content-box::after {
    position: absolute;
    content: "";
    background: url("http://ruiguohealth.com/public/static/phone/icon/xinxi.svg") no-repeat;
    background-size: 60px 60px;
    width: 60px;
    height: 60px;
    top: -35px;
    border: white 5px solid;
    border-radius: 50%;
    left: -30px;
  }

  .bottom .content-box::before {
    position: absolute;
    content: "";
    background: #47abb9;
    width: 60px;
    height: 60px;
    top: -35px;
    border: white 5px solid;
    border-radius: 50%;
    left: -30px;
  }

  .bottom a {
    z-index: 1;
  }

  .bottom .info-number {
    width: 21px;
    display: block;
    height: 21px;
    line-height: 21px;
    background: #f33;
    border-radius: 50%;
    font-size: 13px;
    text-align: center;
    color: white;
    position: absolute;
    top: -21px;
    right: -12px;
    -webkit-animation: twinkling 2s infinite;
    z-index: 2;
    animation: twinkling 2s infinite;
  }

  .bottom .back-top {
    position: fixed;
    right: 15px;
    bottom: 70px;
  }

  .bottom .back-top img {
    width: 30px;
    height: 30px;
  }

  .bottom .hide {
    display: none;
  }

  .bottom .pop-up-wrapper {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100000;
  }

  .bottom .pop-up-wrapper .telephone-counseling {
    display: none;
    top: 50%;
    left: 50%;
    margin-top: -78px;
    margin-left: -159px;
    position: absolute;
    font-size: 16px;
    width: 318px;
    background: white;
    color: #353535;
    border-radius: 10px;
    text-align: center;
  }

  .bottom .pop-up-wrapper .telephone-counseling .counseling-title {
    font-size: 18px;
    margin-top: 20px;
  }

  .bottom .pop-up-wrapper .telephone-counseling .counseling-text {
    margin-top: 20px;
  }

  .bottom .pop-up-wrapper .telephone-counseling .counseling-button {
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
    line-height: 47px;
  }

  .bottom .pop-up-wrapper .telephone-counseling .counseling-button .cancel {
    flex: 1;
    border-top: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    color: #999;
  }

  .bottom .pop-up-wrapper .telephone-counseling .counseling-button .confirm {
    flex: 1;
    border-top: 1px solid #e5e5e5;
    color: #47abb9;
  }

  .bottom .pop-up-wrapper .service-weixin {
    display: none;
    top: 50%;
    left: 50%;
    height: 244px;
    border-radius: 8px;
    margin-top: -112px;
    margin-left: -95px;
    padding-bottom: 22px;
    background: white;
    position: absolute;
  }

  .bottom .pop-up-wrapper .service-weixin .close {
    height: 13px;
    text-align: right;
  }

  .bottom .pop-up-wrapper .service-weixin .close img {
    display: inline-block;
    margin: 12px 12px 0 0;
    vertical-align: top;
    width: 13px;
    height: 13px;
  }

  .bottom .pop-up-wrapper .service-weixin .weixin-img {
    margin-top: 22px;
  }

  .bottom .pop-up-wrapper .service-weixin .weixin-img img {
    width: 150px;
    height: 150px;
    border: 8px solid rgba(71, 171, 185, 0.5);
    border-radius: 5px;
  }

  .bottom .pop-up-wrapper .service-weixin .weixin-title {
    font-size: 20px;
    color: #000;
    line-height: 21px;
    text-align: center;
    margin-top: 16px;
  }

  .bottom .pop-up-wrapper .service-weixin .weixin-text {
    font-size: 15px;
    color: #666;
    line-height: 14px;
    text-align: center;
    margin-top: 6px;
  }

  .menu-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
  }

  .menu-list img {
    width: 44px;
    display: block;
    height: 44px;
    margin: 15px auto 10px;
  }

  .menu-list div {
    flex-basis: 25%;
    text-align: center;
  }

  .new-title {
    display: block !important;
    margin: 20px 0 10px !important;
    padding-left: 25px !important;
    border-top: #f7f7f7 10px solid;
    padding-top: 20px;
  }

  .new-title .title {
    position: relative;
    font-size: 16px;
  }

  .new-title .title::after {
    content: "";
    position: absolute;
    left: -10px;
    top: 4px;
    bottom: 2px;
    width: 2px;
    background: #00a0ff;
  }

  .swiper-pagination-clickable .swiper-pagination-bullet {
    opacity: 1;
    margin: 0px 8px;
  }

  .swiper-pagination-clickable .swiper-pagination-bullet-active {
    background: white;
    width: 6px;
  }

  .swiper-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
  }

  .doctor .doctor-content {
    display: none !important;
  }

  .ivf-doctor-box {
    display: none;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
  }

  .ivf-doctor-item {
    flex-basis: 32%;
    margin-bottom: 15px;
  }

  .ivf-doctor-box img {
    width: 100%;
    height: 115px;
    margin-bottom: 5px;
  }

  .ivf-hospital-box {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
  }

  .ivf-hospital-item {
    flex-basis: 32%;
    margin-bottom: 15px;
  }

  .ivf-hospital-box img {
    width: 100%;
    height: 115px;
    margin-bottom: 5px;
  }

  .doctorActive {
    background: unset;
    color: rgba(71, 171, 185, 1);
    position: relative;
  }

  .checkedDoctor {
    display: flex;
    width: unset;
    height: 36px;
    line-height: 15px;
    text-align: left;
    background: unset;
    border: unset;
    margin: auto;
  }

  .doctorActive::after {
    content: "";
    position: absolute;
    bottom: 12px;
    height: 2px;
    left: 15px;
    width: 80px;
    background: rgba(71, 171, 185, 1);
  }

  .checkedDoctor div,
  .content_wrapper .title {
    font-size: 14px;
  }

  .ivf-hospital-item a:nth-child(2) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .paris {
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 20px;
    border-top: #f7f7f7 10px solid;
  }

  .paris-content {
    margin-top: 0;
  }

  .paris-content li {
    display: none;
  }

  .paris-content li:nth-child(1) {
    display: block;
    width: 100%;
  }

  .paris-box li div {
    display: none;
  }

  .paris-box li {
    display: block !important;
    border-bottom: #ededed 1px solid;
    padding-bottom: 10px;
  }

  .paris-img img {
    width: 114px;
    height: 76px;
    border-radius: 10px;
    margin-left: 10px;
  }

  .paris-content .paris-img {
    display: flex;
    border-bottom: #ededed 1px solid;
    padding-bottom: 5px;
    width: unset;
    height: unset;
    justify-content: space-between;
  }

  .paris-content .paris-img a:nth-child(1) {
    order: 2;
  }

  .paris-content li:last-child {
    border: unset;
  }

  .background_title {
    width: unset;
    height: unset;
    background-color: unset;
    opacity: 1;
    position: unset;
    line-height: unset;
    bottom: 0;
    padding-left: unset;
    position: relative;
    font-family: Microsoft YaHei;
  }

  .background_title a {
    color: #333;
    font-size: 14px;
  }

  .cost-box .cost-item {
    width: 54px;
    margin: 0 5px;
    overflow: hidden;
  }

  .content-box {}

  .path-name a {
    color: #666;
  }

  .path-name {
    color: #666;
    padding-left: 15px;
    padding-right: 15px;
    height: 45px;
    line-height: 45px;
  }

  .serve-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 20px;
  }

  .card-box img {
    height: 46px;
    width: 44px;
  }

  .card {
    flex-basis: 48.5%;
    margin: 10px 0 0 !important;
  }

  .top-border-blue,
  .top-border-orange,
  .top-border-cyan,
  .top-border-red {
    border: #e5e5e5 1px solid;
    border-radius: 5px;
  }

  .serve-card p {
    height: unset;
    margin-top: 10px;
    font-size: 12px;
  }

  .serve-card .card {
    flex-grow: unset;
    height: unset;
    flex: unset;
  }

  .card-box {
    margin-top: 0px;
    padding-top: 5px;
  }

  .caption-sub .title,
  .caption-sub1 .title,
  .number-circle,
  .number-circle1 {
    position: unset;
    text-align: center;
    display: block !important;
    font-size: 14px;
    border-radius: 100px;
  }

  .caption-sub .title,
  .caption-sub1 .title {
    padding: 0;
    width: 230px;
  }

  .strength-circle {
    width: unset;
    height: unset;
    padding: unset;
    border-radius: unset;
    position: unset;
    margin-left: unset;
    background: unset;
    border: unset;
  }

  .strength-box {
    border-top: #f7f7f7 10px solid;
    height: unset;
    padding-bottom: 50px;
  }

  .strength {
    background-image: unset;
    height: unset;
    position: unset;
  }

  .strength div:nth-of-type(2) {
    padding-top: 0 !important;
    display: flex;
    justify-content: center;
  }

  .number-circle1 {
    position: relative;
    top: -34px;
    left: -12px;
  }

  .number-circle {
    position: relative;
    top: -34px;
    right: 12px;
  }

  .strength .caption,
  .test-user .caption {
    font-size: 16px;
    font-weight: unset;
    position: relative;
  }

  .strength .caption::after,
  .test-user .caption::after {
    position: absolute;
    content: "";
    width: 2px;
    right: -10px;
    top: 4px;
    bottom: 2px;
    background: #00a0ff;
  }

  .strength .caption::before,
  .test-user .caption::before {
    position: absolute;
    content: "";
    width: 2px;
    left: -10px;
    top: 4px;
    bottom: 2px;
    background: #00a0ff;
  }

  .strength .strength-title,
  .test-user .test-user-title {
    width: unset;
    padding-top: 0;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 20px;
  }

  .strength-circle .title {
    margin-top: 10px;
  }

  .test-user {
    border-top: #f7f7f7 10px solid;
  }

  .test-user-img img {
    display: block;
    margin: 0 auto;
  }

  .cost-title,
  .blue td,
  .cyan td {
    font-size: 14px;
  }

  .cost-table {
    padding-right: 15px;
    padding-left: 15px;
  }

  .table3 {
    flex-wrap: wrap;
  }

  .table3 div table,
  .table3 div {
    margin: 0 !important;
  }

  .masked1 .button,
  .masked1 .title {
    transform: translateX(-50%);
    font-size: 12px;
    margin: 0;
  }

  .table3 div td,
  .table2 td,
  .table3 div td {
    font-size: 12px !important;
  }

  .masked1 {
    margin-bottom: 20px;
  }

  .table3 div[style="float: right; "] {
    margin-top: 20px !important;
  }

  .cost-title-box>.cost-title {
    overflow: hidden;
  }

  .cost-title-box>.active {
    white-space: nowrap;
    overflow: unset;
  }

  .cost-title-box {
    margin-bottom: 10px;
    display: flex;
  }

  .table2 {
    flex-wrap: wrap;
  }

  .table2>div {
    margin: 0 0 20px !important;
  }

  .table3 .cyan td {
    color: white;
    font-weight: bold;
  }

  .left_box .img {
    min-width: unset;
    width: 96px;
    height: 110px;
    flex-shrink: 0;
  }

  .hospital_list_left {
    flex-basis: 100%;
    margin-right: unset;
    min-width: unset;
  }

  .hospital_top {
    position: absolute;
    bottom: 10px;
    right: 0;
  }

  .text_box {
    width: unset;
    padding-right: 15px;
  }

  .hospital_list_title {
    line-height: unset;
    margin-bottom: 10px;
    font-size: 14px;
  }

  .title_tb {
    font-size: 12px;
  }

  .hospital_list_left .left_box {
    padding-bottom: 15px;
    border: none;
    border-bottom: 10px solid rgb(247, 247, 247);
    position: relative;
  }

  .hospital_list_left .hospital_list_hlep {
    position: relative;
    right: 108px;
  }

  .hospital_top_button {
    width: 160px;
    height: 30px;
    line-height: 28px;
  }

  .page_box {
    padding-left: 15px;
    padding-right: 15px;
  }

  .page_box li {
    display: inline-block;
    padding: 4px 6px;
    margin-right: 6px;
  }

  .page_box li:last-child {
    display: none;
  }

  .page_box .active+li+li+li,
  .related_case,
  .page_box .active+li+li+li+li {
    display: none;
  }

  .page_box .page {
    display: inline-block;
    padding: 4px 10px;
  }

  .docotr_info .img {
    margin: 12px 0px 24px 12px;
    width: 96px;
    height: 110px;
  }

  .hospital_list_title h1 {
    font-size: 12px;
  }

  .docotr_info {
    position: relative;
    padding-bottom: 30px;
  }

  .docotr_info .hospital_list_title {
    margin-bottom: 6px;
  }

  .docotr_info .hospital_list_hlep .hospital_top_button {
    order: 1;
    margin-left: 20px;
  }

  .docotr_info .hospital_list_hlep {
    position: absolute;
    bottom: 10px;
    left: 15px;
    right: 0;
    align-items: center;
    font-size: 12px;
  }

  .docotr_info .hospital_xq {
    margin-bottom: 6px;
  }

  .docotr_jj h2 {
    background: #eee;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    color: black;
    position: relative;
    padding-left: 25px;
  }

  .docotr_jj h2::after {
    content: "";
    position: absolute;
    left: 12px;
    top: 12px;
    height: 16px;
    width: 4px;
    background: rgb(71, 171, 185);
    border-radius: 100px;
  }

  .docotr_text .docotr_jj,
  .docotr_text .docotr_jj p {
    font-size: 14px;
  }

  .docotr_text {
    border: none;
  }

  .related_title h2 {
    font-size: 14px;
    font-weight: 400;
  }

  .other_title span {
    margin-top: 0;
  }

  .related_doctor .related_title {
    padding-top: 0;
  }

  .related_title {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    border-top: 10px solid #f7f7f7;
    padding-top: 10px;
  }

  .doctor-item .rel_bor {
    border: none;
  }

  .doctor-item .docotr_info {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }

  .doctor-item .img {
    width: 130px;
    height: 140px;
    margin: 0 auto;
  }

  .doctor-item .hospital_list_title {
    display: flex;
    justify-content: center;
  }

  .hospital_list_title a {
    margin-right: 0;
    font-size: 14px;
  }

  .other div[style="margin-right: 20px;"]+div {
    display: none;
  }

  .other {
    padding-right: 15px;
    padding-left: 15px;
  }

  .other div {
    margin: 0 !important;
  }

  .other_img {
    border: none;
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid rgba(234, 234, 234, 1);
  }

  .other_img a {
    order: 1;
  }

  .other_img .title1 {
    display: none;
  }

  .title_warpper a {
    line-height: 18px;
    font-size: 14px;
  }

  .other_img .title {
    line-height: 18px;
  }

  .other_list .dot {
    display: none;
  }

  .other_img img {
    width: 114px;
    height: 96px;
    order: 2;
    margin: 0 0 0 10px;
  }

  .title_warpper {
    width: unset;
    flex: 1;
    flex-grow: 1;
    flex-basis: auto;
  }

  .other_list {
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;
  }

  .other_list a {
    font-size: 14px;
  }

  .other_list:last-child {
    border: none;
  }

  .hospital_list_left .text_box {
    margin-top: 0;
  }

  .hospital_list_left .hospital_list_info {
    margin-bottom: 10px;
  }

  .hospital_list_left .hospital_list_info img {
    width: 10px;
    height: 10px;
  }

  .hospital_list_left .hospital_list_info img:nth-child(1)~img {
    margin-left: 5px !important;
  }

  .hospital_list_about .hospital_xq {
    font-size: 12px;
    color: #999;
  }

  .hospital_list_wrapper {
    padding-top: 20px;
  }

  .hospital_list_wrapper .left_box {
    padding-bottom: 0;
  }

  .hospital_list_wrapper .hospital_top {
    bottom: 15px;
    right: 30px;
  }

  .hospital_list_wrapper .hospital_list_hlep {
    right: 110px;
  }

  .about-button {
    display: flex;
    padding-left: 15px;
    width: unset;
    padding-right: 15px;
    border-bottom: 1px solid #c5c7cc;
  }

  .about-button .active::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    left: 10px;
    right: 10px;
    background: rgba(71, 171, 185, 1);
  }

  .about-button .active {
    background: unset;
    color: rgba(71, 171, 185, 1);
  }

  .about-button .button {
    width: unset;
    position: relative;
    background: unset;
    margin: 0 20px 0 0 !important;
    border-radius: unset;
  }

  .culture-box .caption,
  .sever-box .caption,
  .about-box .caption {
    text-align: center;
    font-size: 16px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    position: relative;
    color: rgba(51, 51, 51, 1);
  }

  .culture-box .culture-title,
  .sever-box .sever-title,
  .relation-box .relation-title,
  .about-box .about-title {
    padding-top: 20px;
    width: unset;
    margin: auto;
  }

  .advantage div:nth-child(1)::after,
  .sever-box .caption:after,
  .culture-box .caption::after,
  .about-box .caption::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 3px;
    background: rgba(71, 171, 185, 1);
  }

  .about-content {
    display: flex;
    margin: 10px 0 0 0;
    flex-wrap: wrap;
  }

  .about-content .content-left span {
    font-size: 14px;
  }

  .about-content .content-left {
    order: 2;
    padding-left: 15px;
    width: unset;
    font-size: 14px;
    padding-right: 15px;
  }

  .about-content .content-left+div img {
    width: 100% !important;
    height: unset !important;
    margin: 0 !important;
  }

  .about-content .content-left+div {
    order: 1;
    padding-right: 15px;
    padding-left: 15px;
  }

  .about-box {
    margin-bottom: 20px;
  }

  .culture-content {
    margin: 0;
  }

  .about .line {
    margin: 0;
    height: 10px;
    background: #f7f7f7;
  }

  .wenhua_img {
    height: unset;
    background: unset;
  }

  .culture_text {
    padding-top: 10px;
    width: unset;
    padding-right: 15px;
    padding-left: 15px;
    color: rgba(102, 102, 102, 1);
  }

  .culture_text span {
    display: unset;
    font-size: 14px;
    height: unset;
  }

  .culture-box {
    margin-bottom: 20px;
  }

  .sever-text {
    order: 2;
    padding: 0;
    border: none;
    flex: unset;
  }

  .sever-right {
    display: flex;
    flex-wrap: wrap;
    padding-right: 15px;
    padding-left: 15px;
  }

  .sever-content {
    padding-right: 15px;
    padding-left: 15px;
    display: unset;
    margin: 0;
  }

  .sever-right-box {
    display: flex;
    order: 2;
  }

  .sever-img {
    order: 1;
  }

  .sever-img img {
    width: 100%;
  }

  .advantage div:nth-child(1) {
    position: relative;
  }

  .advantage div:nth-child(1) img {
    width: 130px;
    padding-top: 10px;
  }

  .advantage {
    margin-bottom: 20px;
  }

  .advantage_img {
    flex-wrap: wrap;
  }

  .advantage_box {
    text-align: center;
    flex-basis: 33%;
    margin-bottom: 30px;
  }

  .advantage_box img {
    width: 60px;
    height: 60px;
  }

  .advantage_titel {
    font-size: 14px;
  }

  .relation-box .caption {
    width: 130px;
    height: 30px;
    background: rgba(71, 171, 185, 1);
    margin: auto;
    font-size: 16px;
    border-radius: 100px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
  }

  .weixin_img {
    border: none;
  }

  .contact_weixin {
    border: none;
    order: 2;
  }

  .contact_box {
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
  }

  .contact_span {
    margin: 0;
  }

  .contact_text {
    flex: unset;
  }

  .contact_text_box {
    width: unset;
    margin: 30px auto;
  }

  .contact_text_box .contact_span:nth-child(2) {
    color: #f5a31d;
    font-size: 14px;
    text-align: center;
    margin: 30px auto 20px;
  }

  .contact_text_box .contact_span:nth-child(2)~.contact_span {
    padding-left: 20px;
  }

  .map_wrapper {
    padding-left: 15px;
    padding-right: 15px;
    height: 300px;
  }

  .content-title {
    width: unset;
    border: none;
    border-bottom: 1px solid rgba(234, 234, 234, 1);
    overflow: auto;
    white-space: nowrap;
    padding: 9px 0 1px 10px;
  }

  .content-wrapper .content-title-box {
    width: 100%;
  }

  .strategy-content {
    width: unset;
  }

  .strategy-top .strategy_title {
    font-size: 16px;
  }

  .strategy-top {
    width: unset;
    float: unset;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    border-top: 10px solid #f7f7f7;
    padding-top: 20px;
  }

  .stategy_img {
    display: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }

  .strategy-top a {
    order: 2;
  }

  .stategy_img img {
    width: 114px;
    height: 76px;
  }

  .title_a {
    font-size: 14px;
    white-space: unset;
  }

  .subtitle_text {
    -webkit-line-clamp: 2;
  }

  .text-box {
    flex-basis: 60%;
    order: 1;
    position: relative;
    width: unset;
  }

  .stategy_list {
    order: 3;
  }

  .stategy_img ul li {
    border-top: 1px solid #e5e5e5;
    padding-top: 15px;
  }

  .stategy_img ul {
    list-style: none;
    margin-top: 10px !important;
    width: 100%;
    padding-left: 0;
  }

  .content-title .active:after {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 6px;
    right: 6px;
    height: 2px;
    background: rgba(71, 171, 185, 1);
  }

  .content-title .button_title {
    position: relative;
  }

  .strategy_item .content_wrapper {
    width: unset;
    display: block;
    flex-grow: 1;
    flex: 1;
    flex-basis: auto;
  }

  .strategy_list {
    flex: unset;
  }

  .strategy_item img {
    height: 76px;
    width: 114px;
  }

  .strategy_item .bottom {
    z-index: 1;
    position: unset;
    display: block;
    height: unset;
    background: unset;
    padding: unset;
    border-top: unset;
  }

  .content_wrapper .title {
    line-height: unset;
  }

  .list_box {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
  }

  .strategy_list_item .strategy_item a:nth-child(1) {
    order: 1;
    flex-shrink: 0;
  }

  .strategy_list_item .strategy_item {
    display: flex;
  }

  .article_details .article_text {
    border: none;
  }

  .article_details .article_content img {
    width: 100%;
    height: 100%;
  }

  .article_details {
    width: 100%;
    flex: unset;
  }

  .article_details .article_title {
    font-size: 16px;
    font-weight: 400;
  }

  .article_content p {
    margin: 10px 0;
  }

  .article_details .article_info::after {
    position: absolute;
    content: "";
    height: 1px;
    background: #ccc;
    left: 15px;
    right: 15px;
    top: -20px;
  }

  .article_details .article_info {
    position: relative;
    padding: 0 15px;
    height: unset;
    border: none;
  }

  .statement {
    height: unset;
    font-size: 12px;
    margin: 0px 10px;
  }

  .statement br {
    display: none;
  }

  p {
    overflow: hidden;
  }

  .article_details .activle_page .prev {
    flex: 1;
  }

  .article_details .activle_page .next {
    flex: 1;
    text-align: left;
  }

  .article_details .activle_page {
    flex-flow: column;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 10px solid rgb(247, 247, 247);
  }

  .article_details .other_img img {
    height: 76px;
  }

  .other_title {
    padding-left: 15px;
    padding-right: 15px;
  }

  .article_details .other_title h2 {
    font-size: 16px;
  }

  .rel_bor .text_box {
    margin: 0;
    padding-right: 0;
  }

  .content_title {
    margin-bottom: 20px;
    font-size: 14px;
  }

  #swiper-container1 {
    width: 100%;
    height: unset;
  }

  .introduction_left {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .introduction_left .swiper-slide {
    height: 100% !important;
  }

  .content_introduction {
    flex-flow: column;
    padding: 0;
  }

  .introduction_left .img {
    width: 330px;
    height: 250px;
  }

  .introduction_right {
    min-height: unset;
    padding-left: 15px;
  }

  .dortor_list ul li {
    margin-right: 15px;
  }

  .dortor_list ul {
    flex-wrap: wrap;
  }

  .introduction_expert .expert_title {
    position: relative;
    padding-left: 10px;
    font-size: 16px;
  }

  .introduction_expert .expert_title::after {
    content: "";
    position: absolute;
    background: #47abb9;
    top: 2px;
    left: 0;
    bottom: 0;
    width: 3px;
    border-radius: 100px;
  }

  .related_content h2::after {
    content: "";
    position: absolute;
    background: #47abb9;
    top: 12px;
    left: 15px;
    bottom: 12px;
    width: 3px;
    border-radius: 100px;
  }

  .related_content h2 {
    background: #eee;
    position: relative;
    height: 40px;
    font-size: 16px;
    font-family: Microsoft YaHei;
    font-weight: 800;
    line-height: 40px;
    color: white;
    opacity: 1;
    color: black;
    padding-left: 25px;
    margin: 20px 0;
  }

  .header~.content-box>.path-name {
    background: #f7f7f7;
  }

  .date-read {
    display: flex;
    justify-content: space-between;
    bottom: 0;
    position: absolute;
    color: #babfd1;
    left: 0;
    right: 0;
  }

  .ivf-swp-wrapper {
    display: block;
    padding: 15px 0 20px;
  }

  .ivf-swp-wrapper .swiper-wrapper .swiper-slide {
    width: 340px;
  }

  .ivf-swp-wrapper .swiper-wrapper .swiper-slide a {
    display: block;
    position: relative;
  }

  .ivf-swp-wrapper .swiper-wrapper .swiper-slide a div {
    position: absolute;
    bottom: 10px;
    line-height: 20px;
    font-size: 14px;
    color: white;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    opacity: 0.9;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 10px;
  }

  .ivf-swp-wrapper .swiper-wrapper .swiper-slide a::after {
    content: "";
    height: 35px;
    position: absolute;
    left: 0;
    right: -8px;
    bottom: 3px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .ivf-swp-wrapper .swiper-wrapper img {
    width: 340px;
    height: 190px;
  }

  .other_img .title_warpper {
    position: relative;
  }

  .reason_wrapper {
    flex-wrap: wrap;
  }

  .case_list {
    flex: 1;
    flex-grow: 1;
    flex-basis: 100%;
  }

  .reason_title {
    display: none;
  }

  .reason_box {
    border: none;
    opacity: 1;
    flex: 1;
    flex-grow: 1;
    flex-basis: auto;
    height: 100%;
    margin-right: 0px;
    min-width: 0;
    width: 100%;
  }

  .reason_item {
    padding: 0;
    background: unset;
  }

  .reason_content {
    overflow: auto;
    white-space: nowrap;
  }

  .reason_content div:nth-child(1) {
    margin-left: 5px;
  }

  .case_list .case_box {
    display: none;
  }

  .case_list .current {
    display: none;
  }

  .case_bottom_list {
    padding: 0 15px;
  }

  .case_bottom_text {
    display: none;
  }

  .case_bottom_list img {
    width: 114px;
    height: 76px;
    margin: 0 0 14px 12px;
  }

  .case_bottom_list li:nth-child(1) .case_bottom_info {
    display: none;
  }

  .case_bottom_list li:nth-child(1) img {
    width: 100%;
    height: unset;
    margin: 0;
  }

  .case_bottom_list li:nth-child(1) .case_bottom_text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
  }

  .case_bottom_list li:nth-child(1) {
    flex-wrap: wrap;
  }

  .case_bottom_info {
    margin-top: 0;
  }

  .case_bottom_title {
    line-height: 20px;
    white-space: unset;
  }

  .case_bottom_list li:nth-child(1)>a {
    order: unset;
  }

  .case_bottom_list li>a {
    order: 1;
  }

  .strategy_list_item img {
    margin: 0 0 0 12px;
  }

  .strategy_list_item {
    padding-top: 10px;
  }

  .succeed_title {
    font-size: 16px !important;
  }

  .wrapper-content .ivf .button_wrapper {
    white-space: nowrap;
    border: none;
  }

  .ivf {
    margin-bottom: 10px;
    margin-bottom: 10px;
    border-top: 10px solid #f7f7f7;
    margin-top: 20px;
  }

  .wrapper-content .ivf .box-left {
    border: none;
    margin: 0;
    flex: 1;
    flex-grow: 1;
    flex-basis: auto;
    overflow: auto;
  }

  .wrapper-content .ivf .button_wrapper {
    padding: 0 0 0 15px;
  }

  .wrapper-content .ivf .box-left-button {
    margin: 0;
    background: unset;
  }

  .wrapper-content .ivf .box-title {
    line-height: 16px;
  }

  .wrapper-content .ivf .box-left-top {
    display: none;
  }

  .wrapper-content .ivf .test-baby {
    padding-left: 20px !important;
    margin-bottom: 0;
  }

  .wrapper-content .ivf .test-baby+div {
    flex-wrap: wrap;
  }

  .wrapper-content .ivf .box-right {
    flex: 1;
    flex-grow: 1;
    flex-basis: auto;
    border: none;
    padding-right: 15px;
    padding-left: 15px;
  }

  .wrapper-content .ivf .boundary {
    display: none;
  }

  .wrapper-content .ivf .box-right-top {
    margin: 10px 0 0 0;
  }

  .wrapper-content .ivf .box-right-top .img {
    width: 114px;
    height: 76px;
  }

  .wrapper-content .ivf .box-right .box-text {
    display: none;
  }

  .wrapper-content .ivf .box-right .box-right-bottom {
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .wrapper-content .ivf .box-right .left_list,
  .wrapper-content .ivf .box-right .right_list {
    flex: 1;
    flex-grow: 1;
    margin-left: 0;
    flex-basis: auto;
  }

  .bolok-4 {
    padding-left: 15px;
    padding-right: 15px;
    border-top: #f7f7f7 10px solid;
  }

  .bolok-4 .cost-box {
    flex-wrap: wrap;
    justify-content: left;
    position: relative;
    margin: 0 auto;
    width: 294px;
  }

  .cost-box .cost-item span:nth-of-type(2) {
    display: none;
  }

  .bolok-4 .cost-box .cost-item {
    height: unset;
    margin-bottom: 40px;
  }

  .bolok-4 .cost-box .cost-item img {
    height: 44px;
  }

  .bolok-4 .cost-box .centre-image {
    transform: translateY(-50%);
    margin: -54px 18px 0;
  }

  .bolok-4 .cost-box>img:nth-child(6) {
    transform: rotate(90deg);
    position: absolute;
    right: 14px;
    top: 140px;
  }

  .bolok-4 .cost-box>img:nth-child(6)~img {
    transform: rotate(180deg);
  }

  .bolok-4 .cost-box>div:nth-child(7) {
    order: 5;
  }

  .bolok-4 .cost-box>div:nth-child(9) {
    order: 3;
  }

  .bolok-4 .cost-box>div:nth-child(11) {
    order: 1;
  }

  .bolok-4 .cost-box>img:nth-child(8) {
    margin: -68px 18px 0;
    order: 4;
  }

  .bolok-4 .cost-box>img:nth-child(10) {
    margin: -68px 18px 0;
    order: 2;
  }

  .bolok-4 .cost-box .cost-item:nth-child(1) img {
    margin-left: 5px;
  }

  .bolok-4 .cost-box .cost-item:nth-child(3) img {
    margin-left: -48px;
  }

  .bolok-4 .cost-box .cost-item:nth-child(5) img {
    margin-left: -102px;
  }

  .bolok-4 .cost-box .cost-item:nth-child(7) img {
    margin-left: -156px;
  }

  .bolok-4 .cost-box .cost-item:nth-child(9) img {
    margin-left: -210px;
  }

  .bolok-4 .cost-box .cost-item:nth-child(11) img {
    margin-left: -262px;
  }
}

@keyframes twinkling {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}