<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="applicable-device" content="pc">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{dede:field.title/}_{dede:global.cfg_titlelast/}</title>
<meta name="keywords" content="{dede:field.keywords/}" />
<meta name="description" content="{dede:field.description function='html2text(@me)'/}" />
<link href="{dede:global.cfg_templets_skin/}/style/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="main">
{dede:include filename="head.htm"/}
<div id="content">
<div class="n_content">
<div class="conn_left left">
<div class="conn_list">
<h2>{dede:field name='typename' /}</h2>
<ul>
{dede:arclist row='8' orderby='pubdate' titlelen='100'}
<li><a href="[field:arcurl/]">[field:title/]</a></li>
{/dede:arclist}
</ul>
</div>
<div class="contactus">
<h2>联系我们</h2>
<ul>
<li class="name">{dede:global.cfg_titlelast/}</li>
<li>联系人：张经理</li>
</ul>
</div>
</div>
<div class="conn_right right">
<h2 class="title"><span class="address right">您现在所在的位置是：{dede:field name='position'/} {dede:field name='typename' /} </h2>
<div class="">
<div class="cont">
<div class="boxs">
		<div class="titleshow">{dede:field.title/}</div>
		<div class="ti"></div>
		<div class="showcontent">
			{dede:field.body/}
文章《{dede:field.title/}》原创来自：<a href="{dede:global.cfg_basehost/}">{dede:global.cfg_indexname/}</a>
<p></p><p>与《{dede:field.title/}》相关文章：</p>{dede:likearticle row='5' titlelen='70'}<p>➟<a href="[field:arcurl/]">[field:title/]></p>{/dede:likearticle}
	{dede:field.vote/}
	<li>{dede:prenext get='pre'/}</li>
	<li>{dede:prenext get='next'/}</li>
</div>
	</div>
	<div class="clear"></div>
	</div>
</div>
</div>
<div class="clear"></div>
</div>
</div>
<div class="clear"></div>
{dede:include filename="footer.htm"/}
</div>
</body>
</html>
