<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="applicable-device" content="pc" />
<meta name="location" content="province={dede:global.cfg_province/};city={dede:global.cfg_city/}" />
<title>{dede:global.cfg_webname/}</title>
<script language="JavaScript" type="text/javascript" src="/js/uadirect.js"></script>
<meta http-equiv="mobile-agent" content="format=html5;url={dede:global.cfg_waphost/}/" />
<meta name="mobile-agent" content="format=xhtml;url={dede:global.cfg_waphost/}" />
<meta name="description" content="{dede:global.cfg_description/}" />
<meta name="keywords" content="{dede:global.cfg_keywords/}" />
<link href="{dede:global.cfg_templets_skin/}/style/style.css" rel="stylesheet" type="text/css" />
<link rel="canonical" href="{dede:global.cfg_basehost/}">
</head>
<body>
<div id="main">
{dede:include filename="head.htm"/}
<div id="content">
<div class="news left">
<h2>{dede:global.cfg_indexname/}新闻资讯</h2>
<ul>
{dede:arclist row='15' titlelen='100' orderby='pubdate'}
<li><span>[[field:pubdate function="MyDate('m-d',@me)"/]]</span><a href="[field:arcurl/]">[field:title/]</a></li>
{/dede:arclist}
</ul>
</div>
<div class="aboutus left">
<h2>{dede:global.cfg_indexname/}公司简介</h2>
<p>&nbsp;&nbsp; &nbsp;{dede:global.cfg_about/}</p>
</div>
<div class="contactus right">
<h2>联系我们</h2>
<ul>
<li class="name">{dede:global.cfg_titlelast/}</li>
<li>联系人：张经理</li>
</ul>
</div>
<div class="clear"></div>
<div class="friendlink">
<h2 class="left">友情链接：</h2>
<p class="right">
{dede:flink row='24'}[field:link/] {/dede:flink}
</p>
<div class="clear"></div>
</div>
</div>
<div class="clear"></div>
{dede:include filename="footer.htm"/}
</div>
</body>
</html>
