<div class="layui-card">
    <div class="layui-card-body layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">百度用户:</label>
            <div class="layui-input-inline">
                <input type="text" name="bd_username" required lay-verify="required" autocomplete="off"
                       class="layui-input" placeholder="百度站长用户名">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <strong style="color:red;">*</strong>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">百度密码:</label>
            <div class="layui-input-inline">
                <input type="text" name="bd_password" required lay-verify="required" autocomplete="off"
                       class="layui-input" placeholder="百度站长密码">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <strong style="color:red;">*</strong>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">百度令牌:</label>
            <div class="layui-input-inline">
                <input type="text" name="bd_zz_token" required lay-verify="required" autocomplete="off"
                       class="layui-input" placeholder="Cu2gzLlIwdawffnv">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <strong style="color:red;">*</strong>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">熊掌号ID:</label>
            <div class="layui-input-inline">
                <input type="text" name="bd_xzh_id" autocomplete="off"
                       class="layui-input" placeholder="1587458353124985">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">熊掌号令牌:</label>
            <div class="layui-input-inline">
                <input type="text" name="bd_xzh_token" autocomplete="off"
                       class="layui-input" placeholder="Cu2gzLlIwdawffnv">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">神马令牌:</label>
            <div class="layui-input-inline">
                <input type="text" name="sm_token" autocomplete="off"
                       class="layui-input" placeholder="TI_1475272c5506b47236f2e2a14fe8a971">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">神马用户:</label>
            <div class="layui-input-inline">
                <input type="text" name="sm_username" autocomplete="off"
                       class="layui-input" placeholder="38050123@qq.com">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">神马密码:</label>
            <div class="layui-input-inline">
                <input type="text" name="sm_password" autocomplete="off"
                       class="layui-input" placeholder="密码">
            </div>
        </div>
        <div class="layui-form-item layui-hide">
            <div class="layui-input-block">
                {{if gt .obj.SiteId 0 -}}
                    <input type="hidden" name="site_id" value="{{.obj.SiteId}}">
                {{end -}}
                <input type="hidden" name="act" value="add">
                <button class="layui-btn" lay-submit lay-filter="submit">提交</button>
            </div>
        </div>
    </div>
</div>