<div class="layui-card">
    <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item" id="form-search">
            <div class="layui-inline">
                <label class="layui-form-label">绑定ID</label>
                <div class="layui-input-inline">
                    <input type="text" name="site_id" placeholder="请输入" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <button class="layui-btn selecting" data-type="reload" lay-submit lay-filter="submit-search">
                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="layui-card-body">
        <table id="table-list" lay-filter="table-list"></table>
    </div>
</div>
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="del">
            <i class="layui-icon layui-icon-delete"></i>删除
        </button>
        <button class="layui-btn layui-btn-sm" lay-event="add">
            <i class="layui-icon layui-icon-add-1"></i>添加
        </button>
        <button class="layui-btn layui-btn-sm" lay-event="sync">
            <i class="layui-icon layui-icon-refresh"></i>同步数据
        </button>
    </div>
</script>
<script type="text/html" id="table-toolbar">
    <div class="layui-btn-group">
        <a class="layui-btn layui-btn-xs" lay-event="modify"><i
                    class="layui-icon layui-icon-edit"></i>编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
                    class="layui-icon layui-icon-delete"></i>删除</a>
    </div>
</script>
<script src="/static/layui/layui.js"></script>
<script>
    layui.config({
        base: '/static/' //静态资源所在路径
    }).extend({
        index: 'lib/index', //主入口模块
        main: 'main'
    }).use(['index', 'form', 'table', 'main'], function () {
        var $ = layui.$,
            form = layui.form,
            table = layui.table,
            main = layui.main,
            url = {{.current_uri}};

        //列表管理
        table.render({
            headers: {'X-CSRF-Token':{{.csrf_token}}},
            method: 'post',
            elem: '#table-list',
            toolbar: '#toolbar',
            url: url,
            cols: [[
                {type: 'checkbox', fixed: 'left'},
                {field: 'id', title: 'ID', hide: true},
                {field: 'site_id', title: '绑定ID', width: 90, sort: true},
                {field: 'bd_username', title: '百度用户'},
                {field: 'bd_password', title: '百度密码', hide: true},
                {field: 'bd_xzh_id', title: '熊掌号ID'},
                {field: 'bd_xzh_token', title: '熊掌号令牌'},
                {field: 'bd_zz_token', title: '百度令牌'},
                {field: 'sm_token', title: '神马令牌'},
                {field: 'sm_username', title: '神马用户', hide: true},
                {field: 'sm_password', title: '神马密码', hide: true},
                {field: 'updated', title: '时间', minWidth: 100, sort: true},
                {title: '操作', width: 150, align: 'center', fixed: 'right', toolbar: '#table-toolbar'}
            ],],
            page: true,

            limit: 10,
            limits: [10, 15, 20, 25, 30, 1000],
            text: '对不起，加载出现异常！'
        });

        //监听工具条
        table.on('tool(table-list)', function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case 'del':
                    layer.confirm('确定删除此条日志？', function (index) {
                        main.req({
                            url: url + '/del',
                            data: data,
                            index: index,
                            ending: obj.del
                        });
                    });
                    break;
                case 'modify':
                    $.get(url + '/modify', data, function (html) {
                        main.popup({
                            title: '修改网站设置',
                            content: html,
                            url: url + '/modify',
                            ending: 'table-list',
                        });
                    });
                    break;
            }
        });

        //头工具栏事件
        table.on('toolbar(table-list)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'del':
                    var data = checkStatus.data;
                    if (data.length === 0) {
                        return layer.msg('请选择数据');
                    }
                    layer.confirm('删除后不可恢复，确定删除吗？', function (index) {
                        var ids =  Array();
                        for (var i = 0; i < data.length; i++) {
                            ids[i] = data[i].id;
                        }
                        main.req({
                            url: url + '/del',
                            data: {'ids': ids.join()},
                            index: index,
                            ending: 'table-list'
                        });
                    });
                    break;
                case 'add':
                    $.get(url + '/add', {}, function (html) {
                        main.popup({
                            title: '添加网站',
                            content: html,
                            url: url + '/add',
                            ending: 'table-list',
                        });
                    });
                    break;
                case 'sync':
                    main.req({
                        url: url + '/sync',
                        ending: 'table-list',
                    });
            }
        });

        //监听搜索
        form.on('submit(submit-search)', function (data) {
            var field = data.field;
            //$("#form-search :input").val("").removeAttr("checked").remove("selected");
            //执行重载
            table.reload('table-list', {
                where: field,
                page: {curr: 1}
            });
            return false;
        });
    });
</script>
