<div class="layui-card">
    <div class="layui-card-body layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">绑定网站:</label>
            <input type="hidden" name="site_id" value="{{.site.Id}}">
            <label class="layui-form-label">{{.site.Vhost}}</label>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">百度用户:</label>
            <div class="layui-input-inline">
                <input type="text" name="bd_username" required lay-verify="required"
                       class="layui-input" value="{{.obj.BdUsername}}">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <strong style="color:red;">*</strong>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">百度密码:</label>
            <div class="layui-input-inline">
                <input type="text" name="bd_password" required lay-verify="required"
                       class="layui-input" value="{{.obj.BdPassword}}">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <strong style="color:red;">*</strong>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">百度令牌:</label>
            <div class="layui-input-inline">
                <input type="text" name="bd_zz_token" required lay-verify="required"
                       class="layui-input" value="{{.obj.BdZzToken}}">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <strong style="color:red;">*</strong>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">熊掌号ID:</label>
            <div class="layui-input-inline">
                <input type="text" name="bd_xzh_id" class="layui-input" value="{{.obj.BdXzhId}}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">熊掌号令牌:</label>
            <div class="layui-input-inline">
                <input type="text" name="bd_xzh_token" class="layui-input" value="{{.obj.BdXzhToken}}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">神马令牌:</label>
            <div class="layui-input-inline">
                <input type="text" name="sm_token"
                       class="layui-input" value="{{.obj.SmToken}}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">神马用户:</label>
            <div class="layui-input-inline">
                <input type="text" name="sm_username"
                       class="layui-input" value="{{.obj.SmUsername}}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">神马密码:</label>
            <div class="layui-input-inline">
                <input type="text" name="sm_password"
                       class="layui-input" value="{{.obj.SmPassword}}">
            </div>
        </div>
        <div class="layui-form-item layui-hide">
            <input name="id" value="{{.obj.Id}}">
            <div class="layui-input-block">
                <input type="hidden" name="act" value="modify">
                <button lay-submit>提交</button>
            </div>
        </div>
    </div>
</div>
