
@charset "utf-8";
body {
	margin:0px;
	padding:0px;
}
h1, h2, h3, h4, h5, h6, ul, dl, dd, dt, ol, div, form, img {
	margin:0px;
	padding:0px;
	border:0px;
}
body {
	font-size:12px;
	font-family:"微软雅黑";
	color:#555;
}
li {
	list-style-type:none;
}
a {
	color:#555;
	text-decoration:none;
}
a:hover {
	color:#F90;
	text-decoration:none;
}
.clear {
	clear:both;
}
/*---------------首页头部-------------------*/
.mt {
	width:980px;
	margin:0 auto;
	height:105px;
}
.mt_l {
	width:500px;
	float:left;
}
.mt_r {
	float:right;
	color:#555;
	font-family:"微软雅黑";
	margin-top:10px;
	text-align:right;
}
.mt_rt {
	margin-right:10px;
	margin-top:10px;
}
.mt_rm {
	margin-top:5px;
}
.nav {
	background:url(../images/nav.jpg) repeat-x;
	height:32px;
	line-height:32px;
	font-family:"微软雅黑";
}
.menu {
	width:980px;
	margin:0 auto;
}
.menu ul li {
	width:117px;
	float:left;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	margin-right:4px;
}
.menu ul li a {
	color:#00843e;
	display:block;
}
.menu ul li a:hover {
	width:117px;
	display:block;
	height:32px;
	background:url(../images/hover.gif) repeat-x;
	color:#fff;
}
#full-screen-slider {
	margin-top:1px;
	width:100%;
	height:370px;
	float:left;
	position:relative;
}
#slides {
	display:block;
	width:100%;
	height:370px;
	list-style:none;
	padding:0;
	margin:0;
	position:relative
}
#slides li {
	display:block;
	width:100%;
	height:100%;
	list-style:none;
	padding:0;
	margin:0;
	position:absolute
}
#slides li a {
	display:block;
	width:100%;
	height:100%;
	text-indent:-9999px
}
#pagination {
	display:block;
	list-style:none;
	position:absolute;
	left:15%;
	top:340px;
	z-index:9900;
	padding:5px 15px 5px 0;
	margin:0;
}
#pagination li {
	display:block;
	list-style:none;
	width:14px;
	height:13px;
	float:left;
	margin-left:5px;
	background:url(../images/01.png) no-repeat;
}
#pagination li a {
	display:block;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	text-indent:-9999px;
}
#pagination li.current {
	background:url(../images/02.png) no-repeat;
	width:14px;
	height:13px;
}
/*---------------首页中部-------------------*/
.mm {
	width:980px;
	margin:0 auto;
	clear:both;
	padding-top:10px;
}
.mm_l {
	width:320px;
	float:left;
}
.mm_lt_l {
	width:200px;
	float:left;
	font-family:"微软雅黑";
	font-size:14px;
	color:#555;
}
.mm_lt_r {
	width:45px;
	float:right;
	margin-top:4px;
}
.about {
	margin-top:10px;
	line-height:24px;
}
.about img {
	width:100px;
	height:115px;
	float:left;
	margin-right:10px;
	border:1px #ddd solid;
}
.mm_c {
	width:350px;
	float:left;
	margin-left:20px;
}
.news {
	margin-top:10px;
}
.news ul li .news_l {
	width:255px;
	float:left;
}
.news ul li {
	color:#555;
	line-height:24px;
}
.news ul li a {
	color:#555;
}
.mm_r {
	width:270px;
	float:right;
}
.cont {
	margin-top:10px;
}
.cont ul li {
	line-height:24px;
}
.line {
	border-top:1px #ddd solid;
	margin-top:5px;
}
.pro {
	width:980px;
	margin:10px auto;
	padding-bottom:10px;
	color:#555;
}
.jdjs ul {
	margin-top:15px;
	height:175px;
	overflow:hidden;
}
.jdjs ul li {
	float:left;
	width:170px;
	height:175px;
	text-align:center;
	margin-left:15px;
}
.jdjs ul li img {
	margin-bottom:7px;
	width:170px;
	height:140px;
	border:1px #ddd solid;
	padding:2px 2px;
}
.jdjs ul #demos {
	overflow:hidden;
	width:980px;
	margin:0 auto;
}
.jdjs ul #indemos {
	float:left;
	width:750%;
}
.jdjs ul #demos1 {
	float:left;
}
.jdjs ul #demos2 {
	float:left;
}
/*---------------内页底部-------------------*/
.foot {
	background:#009948;
	margin-top:-15px;
	padding:15px 0px;
	font-family:"微软雅黑";
	font-size:14px;
}
.mf {
	width:980px;
	margin:0 auto;
	text-align:center;
	line-height:25px;
	color:#fff;
}
.mf a {
	color:#fff;
}
.mf a:hover {
	color:#ded8d8;
}
/*---------------内页左侧-------------------*/
.left {
	width:227px;
	float:left;
}
.left_t {
	border:1px #ddd solid;
}
.left_tt {
	background:url(../images/lbg.jpg) no-repeat;
	font-weight:bold;
	width:210px;
	height:32px;
	line-height:32px;
	color:#fff;
	font-size:14px;
	padding-left:15px;
}
.left_tm ul li {
	width:200px;
	height:28px;
	line-height:28px;
	display:block;
	border:1px #ddd solid;
	margin:7px auto;
}
.left_tm ul li a {
	display:block;
	background:url(../images/list1.jpg) no-repeat;
	padding-left:25px;
}
.left_tm ul li a:hover {
	display:block;
	background:url(../images/list2.jpg) no-repeat;
	color:#2b981b;
}
.contact {
	border:1px #ddd solid;
	margin-top:10px;
}
.contact1 ul {
	margin:7px 0px;
}
.contact1 ul li {
	line-height:25px;
	width:200px;
	margin-left:15px;
	color:#555;
}
/*---------------内页右侧-------------------*/
.mmr {
	width:740px;
	float:right;
	border:1px #ddd solid;
	border-top:none;
}
.dh {
	background:url(../images/dtbg.jpg) no-repeat;
	color:#fff;
	height:32px;
	line-height:32px;
	width:720px;
	padding-left:20px;
	font-size:14px;
	font-weight:bold;
}
.content {
	width:700px;
	margin:20px auto;
	min-height:320px;
	line-height:27px;
}
.content ul li {
	width:230px;
	float:left;
	text-align:center;
}
.content ul li img {
	width:200px;
	height:180px;
	margin-top:10px;
}
.list {
	width:700px;
	line-height:30px;
	height:30px;
	border-bottom:1px #d0e7c0 dashed;
	margin-left:8px;
	padding-top:3px;
	margin-top:3px;
}
.name {
	width:620px;
	float:left;
}
.time {
	float:right;
	width:80px;
	color:#333;
}
.page1 {
	clear:both;
	background:#009948;
	color:#fff;
}
.page1 a {
	color:#fff;
}
.title {
	text-align:center;
	font-size:14px;
	font-weight:bold;
}
.anything {
	margin:10px auto;
	line-height:26px;
}
.atime {
	text-align:center;
	margin-top:10px;
}
