@charset "utf-8";

@font-face {
  font-family: "HappyZcool-2016";
  src: url("./fonts/happyZcool2016.ttf") format("truetype");
}

.in_bigColumn_T {
  text-align: center;
  margin: 82px 0 50px;
}

h2{
  font-weight: inherit;
  font-size: inherit;
}

.in_bigColumn_T .l,
.in_bigColumn_T .r {
  display: inline-block;
}

.in_bigColumn_T .l {
  padding-left: 249px;
  background: url("../images/bigColumn_T_1.png") no-repeat left bottom;
}

.in_bigColumn_T span {
  display: block;
}

.in_bigColumn_T .r {
  padding-right: 249px;
  background: url("../images/bigColumn_T_2.png") no-repeat right top;
}

.in_bigColumn_T .ch {
  font-size: 30px;
  color: #333;
  margin-bottom: 8px;
}

.in_bigColumn_T .en {
  font-size: 14px;
  color: #666;
  height: 16px;
}

.in_bigColumn_T .txt {
  font-size: 12px;
  color: #999;
}

#welcom1 img {
  width: 100%;
}

/*===================index_banner*/
.index_banner {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.index_banner img {
  display: block;
  width: 100%;
}

/*按钮*/
.index_banner .swiper-button-next,
.index_banner .swiper-button-prev {
  position: absolute;
  width: 33px;
  height: 62px;
  margin-top: -31px;
  top: 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 4;
  cursor: pointer;
}

.index_banner .swiper-button-prev {
  left: 36px;
  background-image: url("../banner/bannerBtn_l.png");
}

.index_banner .swiper-button-next {
  left: auto;
  right: 36px;
  background-image: url("../banner/bannerBtn_r.png");
}

/*num*/
.index_banner .banner_num {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 32px;
  z-index: 4;
  display: none;
}

.index_banner .banner_num span {
  width: 59px;
  height: 5px;
  background: #fff;
  opacity: 0.4;
  overflow: hidden;
  display: inline-block;
  text-indent: -77em;
  margin: 0 6px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  border-radius: 0;
}

.index_banner .banner_num span.swiper-pagination-bullet-active {
  background: #0e43bb;
  background: #fff;
  opacity: 1;
}

/*ss*/
.searchBox_w {
  position: relative;
  width: 100%;
  margin-top: -80px;
  z-index: 3;
}

.searchBox {
  padding: 16px 0;
  background: #45a3b7;
  background: rgba(69, 163, 183, 0.76);
}

.top_search {
  padding: 0 44px 0 20px;
  position: relative;
  background: #fff;
  width: 64%;
  margin: 0 auto;
  border-radius: 6px;
}

.top_search .search_txt,
.top_search .search_btn {
  height: 48px;
}

.top_search .search_txt {
  display: block;
  line-height: 20px;
  width: 100%;
}

.top_search .search_btn {
  position: absolute;
  top: 0;
  right: 14px;
  background: url("../skin/custom/images/search_btn.png") no-repeat center;
  width: 22px;
  text-indent: -99em;
  cursor: pointer;
}

/*===================in_news*/
.in_news {}

.in_news .con1,
.in_news .con2 {
  float: left;
}

.in_news .con1 {
  width: 335px;
  float: left;
}

.in_news .con1 li {
  margin-bottom: 30px;
}

.in_news .con1 a {
  display: block;
}

.in_news .con1 a * {
  transition: 0.4s all;
  -webkit-transition: 0.4s all;
  vertical-align: top;
}

.in_news .con1 span,
.in_news .con1 div {
  height: 58px;
  overflow: hidden;
  display: inline-block;
}

.in_news .con1 span {
  width: 58px;
  text-align: center;
  background: #bbb;
  font-size: 12px;
  color: #fff;
  font-weight: 300;
}

.in_news .con1 span b {
  font-size: 24px;
  display: block;
  font-weight: 300;
  line-height: 38px;
}

.in_news .con1 div {
  width: 240px;
  padding-left: 18px;
  line-height: 16px;
}

.in_news .con1 div p {
  font-size: 12px;
  color: #999;
}

.in_news .con1 div p.t {
  font-size: 14px;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 8px;
}

.in_news .con1 a:hover span {
  background: #3c9daa;
}

.in_news .con1 a:hover p,
.in_news .con2 a:hover {
  color: #3c9daa;
}

.in_news .con2 {
  width: 387px;
  margin: 0 44px;
}

.in_news .con2 li {
  margin-bottom: 21.4px;
}

.in_news .con2 a {
  font-size: 16px;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.in_news .con3 {
  margin: 0;
}

/*===================in_label*/
/*transition: 0.4s all; -webkit-transition: 0.4s all;*/
.in_label {
  background: url("../skin/custom/images/in_label.jpg") no-repeat;
  background-size: 100% 100%;
  background-size: cover;
  overflow: hidden;
}

.in_label a {
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  padding: 0 20px;
  display: inline-block;
  font-size: 14px;
  color: #fff;
  font-weight: 300;
  position: relative;
  overflow: hidden;
}

.in_label a span {
  position: relative;
  z-index: 2;
}

.in_label a i {
  background: #82c3cb;
  opacity: 0.4;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.in_label a:hover {
  font-size: 16px;
}

.in_label a:hover i {
  opacity: 1 !important;
  border: 2px #eee solid;
  box-sizing: border-box;
}

#in_label {
  position: relative;
  overflow: hidden;
  height: 284px;
}

#in_label a {
  z-index: 2;
}

/*===================in_team*/
.in_team {}

.in_team li.swiper-slide {
  width: 25%;
  position: relative;
  transition: 0.4s transform;
  -webkit-transition: 0.4s transform;
}

.in_team .con2 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: 0.4s all;
  -webkit-transition: 0.4s all;
}

.in_team .con2 dl {
  width: 100%;
  height: 100%;
  background: #61b0b7;
  background: rgba(97, 176, 183, 0.85);
  display: table;
}

.in_team .con2 dt {
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  font-size: 14px;
}

.in_team .con2 dt p {
  padding: 0 30px;
}

.in_team .con2 dt .tit {
  font-size: 16px;
  height: 38px;
  line-height: 19px;
  overflow: hidden;
}

.in_team .con2 dt .info {
  line-height: 28px;
  height: 168px;
  overflow: hidden;
  margin: 30px 0;
}

.in_team .con2 dt .more {
  text-align: right;
}

.in_team li a .title {
  font-size: 18px;
  color: #666;
  padding-top: 14px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.in_team li a:hover .con2 {
  opacity: 1;
}

.in_team li.swiper-slide:hover {
  transform: scale(1.1);
  position: relative;
  z-index: 2;
}

.in_team .TabContent {
  position: relative;
  margin-top: 10px;
}

#myTab2_Content0 {
  position: relative !important;
  display: block !important;
  z-index: 1;
}

#myTab2_Content1 {
  position: absolute !important;
}

#myTab2_Content2 {
  position: absolute !important;
}

#myTab2_Content3 {
  position: absolute !important;
}

#myTab2_Content4 {
  position: absolute !important;
}

.in_team .none {
  z-index: -1;
  width: 100%;
  left: 0;
  top: 0;
}

.in_team .active {
  z-index: 2;
  width: 100%;
  left: 0;
  top: 0;
}

.swiper_inTeam_w {
  position: relative;
  background: #fff;
}

.swiper_inTeam {
  margin: 10px 40px;
  padding: 30px 0;
  overflow: hidden;
  background: #fff;
}

.swiper_inTeam .swiper-wrapper {
  background: #fff;
}

/*按钮*/
.swiper_inTeam_w .swiper-button-next,
.swiper_inTeam_w .swiper-button-prev {
  position: absolute;
  width: 19px;
  height: 35px;
  margin-top: -27px;
  top: 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 4;
  cursor: pointer;
}

.swiper_inTeam_w .swiper-button-prev {
  left: 0px;
  background-image: url("../images/in_teamBtn_l.jpg");
}

.swiper_inTeam_w .swiper-button-next {
  left: auto;
  right: 0px;
  background-image: url("../images/in_teamBtn_r.jpg");
}

.in_team .advisory {
  display: block;
  background: #0fb8cd;
  width: 120px;
  height: 38px;
  line-height: 38px;
  border-radius: 38px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  margin: 0 auto 40px;
}

/*===================in_process*/
.in_process .in_bigColumn_T {
  margin-bottom: 0;
}

.in_process .flow-wrapper {
  display: flex;
  justify-content: space-between;
  padding-right: 85px;
  text-align: center;
}

.in_process .flow-wrapper img {
  margin: 0 auto;
  width: 130px;
  height: 130px;
}

.in_process .flow-wrapper:nth-child(1) {
  margin-bottom: 74px;
  margin-top: 57px;
}

.in_process .flow-wrapper:nth-child(1)>div:nth-child(2) {
  margin-top: -4px;
}

.in_process .flow-wrapper:nth-child(1)>div:nth-child(3) {
  margin-top: 18px;
}

.in_process .flow-wrapper:nth-child(1)>div:nth-child(4) {
  margin-top: -14px;
}

.in_process .flow-wrapper:nth-child(2)>div:nth-child(2) {
  margin-top: 26px;
}

.in_process .flow-wrapper:nth-child(2)>div:nth-child(3) {
  margin-top: 9px;
}

.in_process .flow-wrapper:nth-child(2)>div:nth-child(4) {
  margin-top: 34px;
}

.in_process {
  background: #FBFBFB;
  background-size: cover;
  padding-bottom: 60px;
}


.in_flow {
  background-image: url(../upload/images/2020/10/d988375538e0fc02.gif);
  background-repeat: no-repeat;
  background-size: 98% 89%;
  background-position: 21px 0;
}

.in_flow .flow-title {
  font-size: 24px;
  font-weight: bold;
  margin: 15px 0 10px;
}

.in_flow .flow-de {
  font-size: 14px;
  font-weight: 300;
  color: #999999;
}

/*===================in_hospital*/
.in_hospital {}

.in_hospital .TabTitle {
  border: 1px #cfcfcf solid;
  padding: 0 16px;
  text-align: center;
  height: 48px;
  margin: 0 auto;
  text-align: center;
}

.in_hospital .TabTitle li {
  width: auto;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  color: #333;
  border-left: 1px #cfcfcf solid;
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 0 30px;
  margin-left: -3px;
}

.in_hospital .TabTitle li span {
  position: relative;
  z-index: 1;
}

.in_hospital .TabTitle li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.in_hospital .TabTitle li.active:before {
  background: #3fa4b1;
  color: #fff;
  transform: scaleY(1.3);
  transition: 0.4s transform;
  -webkit-transition: 0.4s transform;
  border-right: 0;
}

.in_hospital .TabTitle li.active span {
  color: #fff;
}

.in_hospital .TabTitle li:nth-child(1) {
  border-left: 0;
}

.in_hospital .TabContent {
  padding: 10px 0 10px;
  min-height: 360px;
}

.in_hospital .TabContent .none {
  display: none;
}

.in_hospital .TabContent li {
  width: 208px;
  margin-right: 40px;
  float: left;
}

.in_hospital .TabContent li:nth-child(5n) {
  margin-right: 0;
}

.in_hospital .TabContent li .autoImg {
  border: 1px #ddd solid;
  box-sizing: border-box;
  position: relative;
}

.in_hospital .TabContent li .title {
  font-size: 14px;
  color: #333;
  text-align: center;
  height: 44px;
  line-height: 44px;
  margin-bottom: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.in_hospital .TabContent li .con2 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  transition: 0.4s ease-out;
  -webkit-transition: 0.4s ease-out;
  -moz-transition: 0.4s ease-out;
  -o-transition: 0.4s ease-out;
}

.in_hospital .TabContent a:hover .autoImg {}

.in_hospital .TabContent a:hover .con2 {
  opacity: 1;
  filter: alpha(opacity=100);
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
}

.in_hospital .TabContent a .con2 i {
  padding: 0 10px;
  font-size: 14px;
  line-height: 24px;
  color: #3fa4b1;
  background: #eefdff;
  background: rgba(238, 253, 255, 0.88);
  border: 1px #5ecad8 solid;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

/*===================in_case*/
.in_case {
  background: url("../skin/custom/images/in_case.jpg") no-repeat;
  background-size: cover;
  overflow: hidden;
}

#carousel {
  width: 100%;
  position: relative;
}

.tracker-summation-container {
  display: none;
}

.carousel-feature {
  width: 710px;
  position: absolute;
}

.carousel-caption {
  width: 190px;
  padding: 0 10px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #a8b3c1;
  color: #fff;
  font-weight: 300;
}

.carousel-caption {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel-caption .title {
  font-size: 20px;
  line-height: 24px;
  border-bottom: 1px #c2c9d3 solid;
  padding: 20px 0 10px;
  margin-bottom: 2px;
}

.carousel-caption .time {
  font-size: 10px;
  text-align: right;
  line-height: 14px;
}

.carousel-caption .info {
  font-size: 14px;
  line-height: 24px;
  height: 162px;
  margin: 34px 0 46px;
  overflow: hidden;
}

.carousel-caption .more {}

.carousel-caption .more a {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
}

.tracker-individual-container {
  text-align: center;
  position: relative;
}

.tracker-individual-container li {
  width: 120px;
  margin: 0 6px;
  display: inline-block;
}

.tracker-individual-container li img {
  display: block;
  width: 100%;
}

#carousel .sImg {
  position: relative;
  width: 800px;
  margin: 40px auto;
}

#carousel .tracker-individual-blip {
  opacity: 0.7;
}

#carousel .tracker-individual-blip-selected {
  opacity: 1;
}

#carousel-left,
#carousel-right {
  position: absolute;
  top: 0;
  left: -50px;
  width: 50px;
  height: 100%;
  background: url("../skin/custom/images/carouselBt_l.png") no-repeat;
  background-size: cover;
  cursor: pointer;
}

#carousel-right {
  left: auto;
  right: -50px;
  background: url("../skin/custom/images/carouselBt_r.png") no-repeat;
  background-size: cover;
}

/*===================in_advantage*/
.in_advantage {}

.in_advantage .Con {
  box-shadow: 0px 6px 14px #358691;
  box-shadow: 0px 4px 18px rgba(53, 134, 145, 0.41);
  overflow: hidden;
  margin: 20px;
}

.in_advantage dl {
  width: 25%;
  float: left;
  display: table;
}

.in_advantage dd {
  display: table-row;
}

.in_advantage dt {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 250px;
  padding: 0 26px;
}

.in_advantage .title {
  font-size: 22px;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.in_advantage .title i {
  display: block;
  width: 50px;
  height: 2px;
  line-height: 1px;
  background: #3fa4b1;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 16px;
}

.in_advantage .info {
  font-size: 14px;
  line-height: 24px;
  color: #666;
  margin: 18px 0;
  height: 92px;
  overflow: hidden;
}

.in_advantage .more {
  display: inline-block;
  background: #21555c;
  width: 90px;
  height: 29px;
  line-height: 29px;
  text-align: center;
  font-size: 12px;
  color: #fff;
}

.in_advantage .more:hover {
  opacity: 0.8;
}

/*===================in_Protection*/
.in_Protection,
.in_Protection .con1 dd span,
.in_Protection .con1 dd a {
  background: #fafafa;
  overflow: hidden;
}

.in_Protection {
  padding: 70px 0;
  margin-top: 70px;
}

.in_Protection .con1 {
  width: 547px;
  float: left;
}

.in_Protection .con1 dl {
  text-transform: uppercase;
}

.in_Protection .con1 dt {
  margin-bottom: 8px;
  vertical-align: text-top;
}

.in_Protection .con1 dt .span1 {
  font-size: 30px;
  color: #3fa4b1;
  vertical-align: text-top;
  float: left;
  padding-right: 20px;
}

.in_Protection .con1 dt .span2 {
  font-size: 18px;
  color: #3fa4b1;
  padding-bottom: 10px;
  background: url("../images/in_Protection_title.jpg") no-repeat left bottom;
  min-width: 144px;
  display: inline-block;
}

.in_Protection .con1 dd {
  overflow: hidden;
  background: url("../images/in_Protection_title2.jpg") repeat-x left center;
}

.in_Protection .con1 dd span {
  font-size: 18px;
  color: #5d6d7d;
  font-family: "microsoft yahei";
  padding-right: 18px;
}

.in_Protection .con1 dd a {
  color: #3fa4b1;
  font-size: 14px;
  float: right;
}

.in_Protection .con1 dd a b {
  font-size: 20px;
  font-family: Arial;
  padding: 0 10px;
  vertical-align: middle;
}

/*li*/
.in_Protection .con1 ul {
  margin: 30px 0 40px;
}

.in_Protection .con1 li {
  height: 35px;
  line-height: 35px;
  border-bottom: 1px #dbdee1 dotted;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.in_Protection .con1 li a {
  font-size: 14px;
  color: #666;
}

.in_Protection .con1 li span {
  font-size: 12px;
  color: #5d6d7d;
  font-family: "microsoft yahei";
}

.in_Protection .con1 li a:hover,
.in_Protection .con1 li a:hover span {
  color: #2e96a3;
}

.in_Protection .con2 {
  float: right;
}

.in_Protection .con3 {
  width: 108%;
  margin-left: -4%;
}

.in_Protection .con3 dl {
  width: 12.5%;
  float: left;
  text-align: center;
}

.in_Protection .con3 dt {
  font-size: 20px;
  color: #333;
  font-weight: bold;
  padding: 16px 0 14px;
}

.in_Protection .con3 .txt {
  font-size: 16px;
  line-height: 24px;
  color: #666;
}

.searchBox_w .searchBox .dflex {
  display: flex;
  padding: 0 60px;
  height: 48px;
  line-height: 48px;
}

.searchBox_w .searchBox .banner-zixun>a {
  width: 100px;
  height: 37px;
  background: linear-gradient(360deg, #db7627 0%, #f6b27d 100%);
  opacity: 1;
  border-radius: 19px;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  line-height: 37px;
  text-align: center;
  color: #ffffff;
  display: block;
}

.searchBox_w .searchBox .banner-zixun img+div {
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
  margin-left: -3px;
}

.searchBox_w .searchBox .banner-zixun img+div+div {
  font-size: 23px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  line-height: 28px;
  color: #ffffff;
}

.searchBox_w .searchBox .banner-zixun {
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: auto;
  flex: 1;
  flex-grow: 1;
}

.searchBox_w .searchBox .banner-zixun img {
  width: 66px;
  height: 66px;
}

.searchBox_w .searchBox .banner-title {
  font-size: 26px;
  font-family: HappyZcool-2016;
  font-weight: 400;
  color: #ffffff;
}

.in_ivfthree .in_ivfthree_box {
  display: flex;
  justify-content: space-between;
}

.in_ivfthree .in_ivfthree_box>a {
  width: 132px;
  height: 38px;
  border: 1px solid #ffffff;
  opacity: 1;
  border-radius: 19px;
  font-size: 16px;
  display: block;
  font-family: Microsoft YaHei;
  font-weight: bold;
  line-height: 39px;
  text-align: center;
}

.in_ivfthree .in_ivfthree_box>a:nth-child(1) {
  color: #ffffff;
  margin-left: -7px;
}

.in_ivfthree .in_ivfthree_box>a:nth-child(2) {
  color: #db7627;
  background: #ffffff;
  margin-right: -7px;
}

.in_ivfthree .in_ivfthree_de {
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
  margin: 24px 0;
}

.in_ivfthree .in_ivfthree_title {
  font-size: 24px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  line-height: 31px;
  color: #ffffff;
}
.in_ivfthree .in_ivfthree_title a{color:#fff}

.in_ivfthree>.in_ivfthree_wrapper {
  flex-basis: 23.3%;
  border-radius: 10px;
  padding: 40px;
}

.in_ivfthree>.in_ivfthree_wrapper:nth-child(2) .in_ivfthree_title {
  font-size: 34px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: #ffffff;
  opacity: 1;
  text-align: center;
}

.in_ivfthree>.in_ivfthree_wrapper:nth-child(2) .in_ivfthree_box {
  margin: 0px 35px;
}

.in_ivfthree>.in_ivfthree_wrapper:nth-child(2) .in_ivfthree_box>a:nth-child(1) {
  color: #45a7b5;
  background: white;
}

.in_ivfthree>.in_ivfthree_wrapper:nth-child(2) .in_ivfthree_de {
  font-size: 56px;
  font-family: HappyZcool-2016;
  font-weight: 400;
  line-height: 80px;
  margin: 21px 0 35px;
  color: #fec058;
  text-shadow: 3px 3px 6px #0d5bac;
  opacity: 1;
}

.in_ivfthree>.in_ivfthree_wrapper:nth-child(2) {
  flex-basis: 352px;
  height: 210px;
  background: linear-gradient(359deg, #2987e8 0%, #5dbee6 100%);
  opacity: 1;
  border-radius: 10px;
  width: 352px;
}

.in_ivfthree>.in_ivfthree_wrapper:nth-child(1):hover,
.in_ivfthree>.in_ivfthree_wrapper:nth-child(1):hover {
  animation: ripple 0.5s ease 1;
}

.in_ivfthree>.in_ivfthree_wrapper:nth-child(3),
.in_ivfthree>.in_ivfthree_wrapper:nth-child(1) {
  height: 162px;
  background: linear-gradient(225deg, #fdbd93 0%, #ff7575 100%);
  background-size: 400% 400%;
}

.in_ivfthree {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  align-items: center;
}

.ivf-issue-wrapper {
  margin-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.ivf-issue-wrapper .issue-item {
  flex-basis: 21.22%;
  border: 1px solid #dddddd;
  background: #f8f8f8;
  height: 156px;
  border-radius: 6px;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.ivf-issue-wrapper .issue-item .issue-title {
  font-size: 24px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  line-height: 31px;
  color: #45a7b5;
  opacity: 1;
}

.ivf-issue-wrapper .issue-item .issue-descriptor {
  font-size: 18px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  line-height: 24px;
  color: #666666;
  opacity: 1;
}

.ivf-issue-wrapper .issue-item a:nth-child(3) {
  border: 1px solid #666666;
  opacity: 1;
  border-radius: 16px;
  width: 144px;
  height: 31px;
  display: block;
  text-align: center;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  line-height: 31px;
  color: #666666;
  opacity: 1;
}

.ivf-issue-wrapper .issue-item:hover {
  background: linear-gradient(0deg, #db7627 0%, #f6b27d 100%);
}

.ivf-issue-wrapper .issue-item:hover .issue-descriptor,
.ivf-issue-wrapper .issue-item:hover .issue-title {
  color: white;
}

.ivf-issue-wrapper .issue-item:hover a:nth-child(3) {
  background: #ffffff;
  color: #45a7b5;
  border: none;
}

.ivf-issue-wrapper .issue-item:last-child {
  display: none;
}

@media screen and (max-width: 1200px) {
  .ivf-issue-wrapper .issue-item:last-child {
    display: flex;
}

.ivf-issue-wrapper {
  margin-bottom: 0;
}

.in_ivfthree {
  margin-top: 30px;
}

.ivf-issue-wrapper .issue-item {
  flex-basis: 30%;
  height: 126px;
}

.in_ivfthree>.in_ivfthree_wrapper,
.in_ivfthree>.in_ivfthree_wrapper:nth-child(2) {
  flex-basis: 26%;
  padding: 10px;
  height: unset !important;
}

.in_ivfthree>.in_ivfthree_wrapper:nth-child(2) .in_ivfthree_title,
.in_ivfthree .in_ivfthree_title {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 10px;
}

.in_ivfthree .in_ivfthree_box>a:nth-child(2) {
  display: none;
}

.searchBox_w .searchBox .banner-zixun img+div+div,
.ivf-issue-wrapper .issue-item .issue-title {
  font-size: 16px;
}

.in_ivfthree .in_ivfthree_box>a:nth-child(1) {
  margin: 0 auto;
}

.in_ivfthree .in_ivfthree_box>a {
  width: 91px;
  height: 23px;
  font-size: 14px;
  line-height: 23px;
}

.in_ivfthree>.in_ivfthree_wrapper:nth-child(2) .in_ivfthree_de,
.in_ivfthree .in_ivfthree_de {
  font-size: 14px;
  line-height: unset;
  display: none;
  margin: 12px 0;
}

.searchBox_w .searchBox .banner-zixun img+div,
.ivf-issue-wrapper .issue-item .issue-descriptor {
  font-size: 14px;
}

.ivf-issue-wrapper .issue-item a:nth-child(3) {
  width: 94px;
  font-size: 12px;
}

.searchBox_w .searchBox .banner-zixun>a {
  width: 80px;
  height: 32px;
  font-size: 14px;
  line-height: 32px;
}

.searchBox_w .searchBox .banner-zixun {
  margin-left: 0;
}

.index_banner .swiper-button-next,
.index_banner .swiper-button-prev {
  width: 24px;
  height: 32px;
  margin-top: -16px;
}

.searchBox_w .searchBox .dflex {
  padding: 0 15px;
}

.searchBox_w .searchBox .banner-title {
  display: none;
}

.searchBox {
  padding: 10px 0;
}

.top_search .search_txt,
.top_search .search_btn {
  height: 34px;
}

.in_bigColumn_T {
  margin: 16px 0 16px;
}

.in_bigColumn_T .ch {
  font-size: 20px;
}

.searchBox_w {
  margin-top: 0;
}

.in_news .con1 {
  width: 100%;
}

.in_news .con1 li {
  width: 49%;
  float: left;
  margin-bottom: 20px;
}

.in_news .con1 div {
  width: calc(100% - 70px);
  padding-left: 6px;
  background: #fdfbfb;
}

.in_news .con1 li:nth-child(2n) {
  float: right;
}

.in_news .con2 {
  width: 49%;
  margin: 0;
  float: left;
  margin-bottom: 20px;
}

.in_news .con2 li {
  margin-bottom: 18px;
}

.in_news .con2 a {
  font-size: 14px;
}

.in_news .con3 {
  float: right;
}

.in_label a {
  height: 34px;
  line-height: 34px;
  border-radius: 34px;
  padding: 0 16px;
  font-size: 12px;
}

.in_label a:hover {
  font-size: 12px;
}

.swiper_inTeam {
  margin: 0 30px;
}

.in_team li a .title {
  font-size: 14px;
}

.in_team .con2 dt p {
  padding: 0 20px;
}

.in_team .con2 dt .tit {
  font-size: 18px;
}

.in_team .con2 dt .info {
  font-size: 12px;
  line-height: 18px;
  height: 128px;
  margin: 20px 0;
}

.in_team .con2 dt .more {
  font-size: 12px;
}

.swiper_inTeam_w .advisory {
  width: 100px;
  height: 30px;
  line-height: 30px;
  border-radius: 30px;
  font-size: 14px;
  margin: 0 auto 30px;
}

.in_team li a:hover .con2 {
  opacity: 0;
}

.in_team li:hover {
  transform: scale(1);
  position: relative;
  z-index: 2;
}

.in_hospital .TabTitle {
  width: auto;
  padding: 0;
}

.in_hospital .TabTitle li {
  font-size: 14px;
  width: 19%;
  padding: 0;
}

.in_hospital .TabTitle li.active span {}

.in_hospital .TabContent {
  height: auto;
  overflow: hidden;
}

.in_hospital .TabContent li:nth-child(5n),
.in_hospital .TabContent li {
  width: 31.3%;
  margin-right: 3%;
}

.in_hospital .TabContent li:nth-child(3n) {
  margin-right: 0;
}

.in_hospital .TabContent li:nth-child(10) {
  display: none;
}

.in_hospital .TabContent li .title {
  height: 34px;
  line-height: 34px;
  margin-bottom: 10px;
}

#carousel .sImg {
  width: 100%;
  position: static;
  height: 1px;
  overflow: hidden;
  margin-bottom: 0;
}

#carousel-left,
#carousel-right {
  left: 0;
  width: 36px;
  height: 36px;
  margin-top: -38px;
  top: 50%;
  background-size: 100% 100%;
  z-index: 3;
}

#carousel-right {
  left: auto;
  right: 0;
}

.carousel-feature {
  width: 76%;
  position: absolute;
}

.carousel-caption,
.tracker-individual-container {
  display: none !important;
}

.in_advantage .Con {
  margin: 5px;
}

.in_advantage dl {
  width: 50%;
}

.in_advantage dt {
  padding: 0 10px;
}

.in_advantage .info {
  font-size: 12px;
  line-height: 18px;
  margin: 10px 0;
  height: 90px;
}

.in_advantage .title {
  font-size: 18px;
}

.in_advantage .title i {
  margin-top: 6px;
}

.in_Protection {
  padding: 40px 0;
  margin-top: 40px;
}

.in_Protection .con1 {
  width: 100%;
}

.in_Protection .con1 ul {
  margin: 20px 0 40px;
}

.in_Protection .con3 dl {
  width: 25%;
}

.in_Protection .con3 dd img {
  width: 50px;
  height: 51px;
}

.in_Protection .con3 dt {
  font-size: 18px;
  padding: 10px 0 10px;
}

.in_Protection .con3 .txt {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}

.in_process .flow-wrapper:nth-child(1) {
  margin-bottom: 25px;
  margin-top: 30px;
}

.in_flow .flow-title {
  font-size: 16px;
  font-weight: 400;
}

.in_flow {
  background-image: url(../images/upload/images/2020/10/d988375538e0fc02.gif);
  background-repeat: no-repeat;
  background-size: 92% 76%;
  background-position: 21px 10px;
}

.in_process .flow-wrapper img {
  width: 60px;
  height: 60px;
}

.in_flow .flow-de {
  display: none;
}

.in_process .flow-wrapper {
  padding: 0;
}
}

@media screen and (max-width: 800px) {
  
  .in_bigColumn_T .l,
    .in_process .in_bigColumn_T .l,
    .in_case .in_bigColumn_T .l {
    background: none;
  padding-left: 0px;
}

.in_bigColumn_T .r,
.in_process .in_bigColumn_T .r,
.in_case .in_bigColumn_T .r {
  background: none;
  padding-right: 0px;
}

.in_hospital .TabTitle li i {
  display: none;
}

.in_hospital .TabContent li:nth-child(5n),
.in_hospital .TabContent li:nth-child(3n),
.in_hospital .TabContent li {
  width: 48%;
  margin-right: 4%;
}

.in_hospital .TabContent li:nth-child(2n) {
  margin-right: 0;
}

.in_hospital .TabContent li:nth-child(10) {
  display: inherit;
}

.in_Protection .con1 dt .span1 {
  font-size: 24px;
  padding-right: 10px;
}

.in_Protection .con1 dt .span2 {
  font-size: 12px;
}

.in_Protection .con1 dd span {
  font-size: 16px;
  padding-right: 14px;
}

.in_Protection {
  padding: 40px 0 20px;
}

.in_Protection .con3 dd img {
  width: 40px;
  height: 40px;
}

.in_Protection .con3 .txt {
  font-size: 12px;
  line-height: 18px;
}

}

@media screen and (max-width: 640px) {
  .index_banner img {
    height: 200px;
}

.in_news .con1 li {
  width: 100%;
}

.in_news .con1 p {
  font-size: 11px;
}

.in_news .con1 p.t {
  font-size: 12px;
}

.in_news .con2 a {
  font-size: 12px;
}

.in_ivfthree>.in_ivfthree_wrapper:nth-child(2) .in_ivfthree_box {
  margin: 0;
}
}

@keyframes ripple {
  0% {
    background-size: 400% 400%;
  background-position: 0% 50%;
}

100% {
  background-size: 400% 400%;
  background-position: 100% 100%;
}
}
