
/************
*此为页面公共样式
*包含新闻列表、新闻详情、分页样式
*产品列表
*QQ在线客服
************/




/****************************News****************************/
.xinwen ul.xw{ padding:0px 10px 10px;}
.xinwen ul.xw li{ position:relative; height:30px; line-height:30px; border-bottom:1px dotted #ccc; background:url(../images/arrow.gif) no-repeat 4px center; padding:0 0 0 30px;}
.xinwen ul.xw li:hover{background:url(../images/arrow.gif) no-repeat 4px center #efefef; border-radius:2px;}
.xinwen ul.xw li a:hover{ text-decoration:underline;}
.xinwen ul.xw li span{ position:absolute; top:0; right:0; height:30px; line-height:30px; padding:0 6px 0 0; color:#999; font-size:11px;}


/****************************page****************************/

.fenye{ height:26px; overflow:hidden; margin:10px 0 15px;  text-align:center; clear:both;}
.fenye ul{ height:26px; line-height:26px; text-align:center; display:inline-block; *padding-left:20px;}
.fenye ul li{ float:left; display:inline-block; margin:0 4px 0 0;}
.fenye ul li.thisclass{ width:26px; height:26px; font-weight:normal; line-height:26px; border-radius:2px; background:#1061ba; color:#fff;}
.fenye ul li a{ display:block; width:24px; height:24px; text-align:center; line-height:24px; border:1px solid #d1d1d1; border-radius:2px;}
.fenye ul li a:hover{ color:#fff;background:#1061ba;border-radius:2px; text-decoration:none; border:none; height:26px; line-height:26px; width:26px;}
.fenye ul li span.pageinfo{ border:1px solid #dedede; padding:1px 4px; border-radius:2px; font-weight:normal; display:inline-block; line-height:22px; height:22px;}
.fenye ul li span.pageinfo strong{font-weight:normal;}
.fenye ul li.prev,.fenye ul li.next{ line-height:24px;}
.fenye ul li.first,.fenye ul li.last{ line-height:24px; border:1px solid #dedede; height:24px;border-radius:2px; width:40px;}
.fenye ul li.first a,.fenye ul li.last a{ width:40px; border:none}
.fenye ul li.first a:hover,.fenye ul li.last a:hover{ width:40px; border:none; height:24px; line-height:24px;}
.fenye ul li.prev a,.fenye ul li.next a{ width:66px;}
.fenye ul li.prev a:hover,.fenye ul li.next a:hover{ width:68px; height:26px;}


/****************************details****************************/

.news-body{padding:0px 5px 0; height:auto; overflow:hidden; line-height:2.2em;*line-height:2.3em;}
.news-body h1{ margin:10px 0 10px; font-size:20px; text-align:center; font-family:"微软雅黑"; font-weight:normal; height:24px; line-height:24px; overflow:hidden; color:#121212;}
.news-body h2{ text-align:center; height:20px; font-size:14px; overflow:hidden; background:#eee; line-height:20px; font-family:"宋体";}
.news-body .newsdetail{ padding:8px 4px;}
.news-body .newsdetail img{ max-width:722px;}
.context{ border-top:1px dotted #838383; padding:10px 0 0 0; margin:10px 0 15px ;}
.context ul{ padding:0 0 0 10px;}
.context ul li{ height:24px; line-height:24px; margin-bottom:2px; overflow:hidden;}
.context ul li a:hover{  text-decoration:underline;}




/****************************product****************************/
/********************三个**************
.chanpin{padding:0px 0px 0; height:auto; overflow:hidden; line-height:2.2em;*line-height:2.3em;}
.chanpin ul{ height:auto; overflow:hidden; padding:6px 0 6px;}
.chanpin ul li{ width:224px; float:left; margin:0 27px 0px 0;}
.chanpin ul li a.pic{
	 display:block; padding:1px; 
	 border-radius:6px;
	 border:1px solid #999; 
	 box-shadow:0px 0px 3px #999; width:220px; height:145px;
	 transition:transform 1s;
	 -ms-transition:-ms-transform 1s;
	 -moz-transition:-moz-transform 1s;
	 -webkit-transition:-webkit-transform 1s;
	 -o-transition:-o-transform 1s;
	 }
.chanpin ul li a.pic img{
	 width:220px; height:145px; border-radius:6px;
	 }
.chanpin ul li a.pic:hover{
	opacity:0.8;
	filter:alpha(opacity=80)


}
.chanpin ul li a.pic:hover img{}
.chanpin ul li p{ margin:4px 0; height:22px; line-height:22px; overflow:hidden; text-align:center;}
.chanpin ul li p a:hover{  text-decoration:underline;}
*/





/**************************四个******************************/
.chanpin{padding:0px 0px 0; height:auto; overflow:hidden; line-height:2.2em;*line-height:2.3em;}
.chanpin ul{ height:auto; overflow:hidden; padding:6px 0 6px;}
.chanpin ul li{ width:171px; float:left; margin:0 12px 0px 0;}
.chanpin ul li a.pic{
	 display:block; padding:0px; 
	 border:1px solid #999; 
	 box-shadow:0px 0px 3px #999; width:167px; height:115px;
	 overflow:hidden;
	 }
.chanpin ul li a.pic img{
	 width:167px; height:115px;
	 transition:all 0.3s linear 300ms;
	 -ms-transition:all 0.3s linear 300ms;
	 -moz-transition:all 0.3s linear 300ms;
	 -webkit-transition:all 0.3s linear 300ms;
	 -o-transition:all 0.3s linear 300ms;
	 }
.chanpin ul li a.pic img:hover{
-ms-transform:rotate(5deg) scale(1.2); /* IE 9 */
-moz-transform:rotate(5deg) scale(1.2); /* Firefox */
-webkit-transform:rotate(5deg) scale(1.2); /* Safari and Chrome */
-o-transform:rotate(5deg) scale(1.2); /* Opera */
transform:rotate(5deg) scale(1.2);
}
.chanpin ul li a.pic:hover img{ opacity:0.8;filter:alpha(opacity=80); }
.chanpin ul li p{ margin:4px 0; height:22px; line-height:22px; overflow:hidden; text-align:center;}
.chanpin ul li p a:hover{ text-decoration:underline;}






























/*******************************onlin message****************************/
.call { }
.call p { line-height:35px; padding-top:8px; clear:both; }
.call p span { float:left; margin-right:8px; }
.call p span b { color:#f46507; }
.call input.text_inaa,.call textarea{
	border:1px solid #aaa; 
	padding:2px; 
	transition:all 0.3s ease-in-out 0s;
	-moz-transition:all 0.3s ease-in-out 0s;
	-o-transition:all 0.3s ease-in-out 0s;
	-ms-transition:all 0.3s ease-in-out 0s;
	-webkit-transition:all 0.3s ease-in-out 0s;
	border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
}
.call input.text_inaa:hover{ border:1px solid #A10200; }
.call input.text_inaa:focus{ border:1px solid #A10200; box-shadow:0px 1px 4px #A10200; }
.call textarea:hover{ border:1px solid #A10200;}
.call textarea:focus{ border:1px solid #A10200; box-shadow:0px 1px 8px #A10200; }
.call p i { font-weight: normal; font-style: normal; padding-left:8px; }
.textarea { width:305px; height:70px; }
.text_inaa { width:176px; }
.text_in1 { width:70px; }
.button_in { background: url(../images/yezhen_in.gif) no-repeat 0px 0px #A10200; border-radius:2px; color:#fff; width:68px; height:28px; border:none; cursor:pointer; }
.submit_youin { padding-left:76px; }
.call p.submit_youin input.botton_in{ border:none;}
.call p.submit_youin input.botton_in:hover{ border:none;}




/*****************************轮播图**********************************/

.focus { width:1440px; height:400px;  position:relative; }
.f970x280 { width:1440px; height:400px; overflow:hidden }
.f970x280 img { width:1440px; height:400px }
.rslides { width:100%; position:relative; list-style:none; padding:0 }
.rslides_nav { height:51px; width:31px; position:absolute; -webkit-tap-highlight-color:rgba(0, 0, 0, 0); top:50%; left:0; opacity:0.5;filter:alpha(opacity=50); text-indent:-9999px; overflow:hidden; text-decoration:none; background:url(../images/i.png) no-repeat 0 -560px; margin-top:-28px }
.rslides_nav:active { opacity:0.8;filter:alpha(opacity=80);}
.rslides_nav.next { left:auto; background-position:-31px -560px; right:0 }
.rslides_tabs { position:absolute; top:380px; right:50%; clear:both; text-align:center }
.rslides_tabs li { display:inline; float:none; _float:left; *float:left;
margin-right:10px }
.rslides_tabs a { text-indent:-9999px; overflow:hidden;  background:url(../images/bg_lioff.jpg) no-repeat 0px 0px; background:#DDD; display:inline-block; _display:block; *display:block;
width:11px; height:11px }
.rslides_tabs .rslides_here a {  background:url(../images/bg_lion.jpg) no-repeat 0px 0px #A10200; }











