<script type="text/template" id="formPresetBatchAdd">
    <div class="layui-field-box">
        <div class="layui-form">
            <div class="layui-form-item layui-form-text">
                <textarea placeholder="www.webrobot.cn|webrobot.cn,webrobot.com|m.webrobot.cn"
                          class="layui-textarea" name="content"
                          style="width: 100%; height:350px;"></textarea>
            </div>
            <div class="layui-form-item layui-hide">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="submitPresetBatchAdd">提交</button>
                </div>
            </div>
        </div>
        <blockquote class="layui-elem-quote">
            本程序会自动过滤重复域名 不允许有空格
            1:请输入需要建站的主域名一行一条：主域名|绑定域名|手机域名<br>
            2:如果不需要开启手机网站：主域名|绑定域名<br>
            3:如果不需要绑定其他域名：主域名||手机域名<br>
            4:如果什么都不需要：主域名
        </blockquote>
    </div>
</script>
