<script type="text/template" id="formPresetAdd">
    <div class="layui-field-box">
        <div class="layui-tab" lay-allowClose="true">
            <ul class="layui-tab-title">
                <li class="layui-this">建站设置</li>
                <li>web设置</li>
                <li>手机站</li>
                <li>数据库</li>
                <li>FTP帐户</li>
                <li>防盗链</li>
                <li>页面跳转</li>
                <li>错误页面</li>
                <li>访问日志</li>
                <li>伪静态</li>
                <li>设置更多选项</li>
            </ul>
            <div class="layui-tab-content layui-form">
                <div class="layui-tab-item layui-show">
                    <div class="layui-form-item">
                        <label class="layui-form-label">站点域名</label>
                        <div class="layui-input-inline">
                            <input type="text" name="Vhost" required lay-verify="required" autocomplete="off"
                                   class="layui-input" placeholder="如:webrobot.cn">
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="text-danger">* 不带http://，创建后不可修改</span>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">绑定域名</label>
                        <div class="layui-input-inline">
                            <input type="text" name="Binds" autocomplete="off" class="layui-input"
                                   placeholder="如:blog.webrobot.cn">
                        </div>
                        <div class="layui-form-mid layui-word-aux">多个请用逗号“,”分隔</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">站点目录</label>
                        <div class="layui-input-inline">
                            <input type="text" name="Vhostdir" autocomplete="off" class="layui-input"
                                   placeholder="留空将使用域名为目录">
                        </div>
                        <div class="layui-form-mid layui-word-aux">可指定目录/home/webrobot，网站文件上传至public_html目录下</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">默认首页</label>
                        <div class="layui-input-inline">
                            <input type="text" name="Index" autocomplete="off" class="layui-input"
                                   placeholder="index.html,index.php">
                        </div>
                        <div class="layui-form-mid layui-word-aux">留空为默认值，多个用逗号“,”分隔</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">https支持</label>
                        <div class="layui-input-inline">
                            <select name="Ssl" class="">
                                <option value="0" selected="selected">不启用</option>
                                <option value="1">启用</option>
                                <option value="2">强制启用</option>
                            </select>
                        </div>
                        <div class="layui-form-mid layui-word-aux">开启需要有SSL证书文件，否则无效。可后台创建或<a href="/site/ssl"
                                                                                              class="text-danger">自行上传</a>。
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">选择模板</label>
                        <div class="layui-input-inline">
                            <select name="TempName" class="">
                                <option value="" selected>随机</option>
                                {{range .Templates}}
                                    <option value="{{.Dirname}}">{{.Dirname}}</option>
                                {{end}}
                            </select>
                        </div>
                        <div class="layui-form-mid layui-word-aux">查看所有模板</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">泛域名支持</label>
                        <div class="layui-input-inline" style="width:80px">
                            <input type="checkbox" name="UnlimitBindSwitch" lay-skin="switch" lay-text="打开|关闭">
                        </div>
                        <div class="layui-form-mid layui-word-aux"><span class="text-danger">对泛域名的支持，一般不需要开启</span>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">备注信息</label>
                        <div class="layui-input-inline">
                            <input type="text" name="Note" autocomplete="off" class="layui-input" placeholder="可选">
                        </div>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户名</label>
                        <div class="layui-input-inline">
                            <input type="text" name="WebUser" autocomplete="off" class="layui-input"
                                   placeholder="3-15个字符">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">密码</label>
                        <div class="layui-input-inline">
                            <input type="password" name="WebPwd" autocomplete="off" class="layui-input"
                                   placeholder="6-15个字符">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">数据库前缀</label>
                        <div class="layui-input-inline">
                            <input type="text" name="DbPrefix" autocomplete="on" class="layui-input"
                                   placeholder="nf_">
                        </div>
                        <div class="layui-form-mid layui-word-aux">字母加下划线结尾</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">首页标题</label>
                        <div class="layui-input-inline">
                            <input type="text" name="Title" autocomplete="off" class="layui-input"
                                   placeholder="如:老邝批量建站系统">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">关键词</label>
                        <div class="layui-input-inline">
                            <input type="text" name="Keywords" autocomplete="off" class="layui-input"
                                   placeholder="如:建站,批量建站系统">
                        </div>
                        <div class="layui-form-mid layui-word-aux">多个关键词用英文逗号隔开</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">描述</label>
                        <div class="layui-input-inline">
                            <input type="text" name="Description" autocomplete="off" class="layui-input"
                                   placeholder="网站描述">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">城市</label>
                        <div class="layui-input-inline">
                            <input type="text" name="City" autocomplete="off" class="layui-input"
                                   placeholder="如:广州">
                        </div>
                        <div class="layui-form-mid layui-word-aux">请确保这个城市存在并且不可以加"市"</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">百度推送token</label>
                        <div class="layui-input-inline">
                            <input type="text" name="BdToken" autocomplete="off" class="layui-input"
                                   placeholder="如:zjoYZiTU6B1rgbl0">
                        </div>
                        <div class="layui-form-mid layui-word-aux">自己去百度站长平台申请</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">熊掌url</label>
                        <div class="layui-input-inline">
                            <input type="text" name="XzUrl" autocomplete="off" class="layui-input"
                                   placeholder="url">
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            http://data.zz.baidu.com/urls?appid=1587458353103985&token=Cu2gzLlI2qawffnv&type=realtime
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">栏目名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="Categorys" autocomplete="off" class="layui-input"
                                   placeholder="如:栏目,栏目2">
                        </div>
                        <div class="layui-form-mid layui-word-aux">多个栏目用英文逗号隔开</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">栏目数量</label>
                        <div class="layui-input-inline">
                            <input type="text" name="CategoryNum" autocomplete="off" class="layui-input"
                                   placeholder="如:8">
                        </div>
                        <div class="layui-form-mid layui-word-aux">一般栏目数量设置不超过10个</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">灰词替换</label>
                        <div class="layui-input-inline">
                            <input type="text" name="replace" autocomplete="off" class="layui-input"
                                   placeholder="如:代孕=>代怀孕,小姐=>美女">
                        </div>
                        <div class="layui-form-mid layui-word-aux">灰词=>替换成的是词</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">后台目录</label>
                        <div class="layui-input-inline">
                            <input type="text" name="admin_dir" autocomplete="off" class="layui-input"
                                   placeholder="如:admin">
                        </div>
                        <div class="layui-form-mid layui-word-aux">网站程序后台登录目录</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">文章源路径</label>
                        <div class="layui-input-inline">
                            <input type="text" name="ArticlePath" autocomplete="off" class="layui-input"
                                   placeholder="如:/webrobot/app/article/default">
                        </div>
                        <div class="layui-form-mid layui-word-aux">指定文章源绝对路径 路径必须存在</div>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <div class="layui-form-item">
                        <label class="layui-form-label"></label>
                        <div class="layui-input-inline" style="width:60px">
                            <input type="checkbox" name="WapSwitch" lay-skin="switch" lay-text="是|否" checked>
                        </div>
                        <div class="layui-form-mid layui-word-aux"><span class="text-danger">创建手机站</span></div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">手机域名</label>
                        <div class="layui-input-inline">
                            <input type="text" name="Shost" autocomplete="off" class="layui-input"
                                   placeholder="如:m.webrobot.cn">
                        </div>
                        <div class="layui-form-mid layui-word-aux">请确定域名已经解析到服务器ip</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">路径名</label>
                        <div class="layui-input-inline">
                            <input type="text" name="Shostdir" autocomplete="off" class="layui-input"
                                   placeholder="如:m">
                        </div>
                        <div class="layui-form-mid layui-word-aux">确保网站根目录下存在这个路径</div>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <div class="layui-form-item">
                        <label class="layui-form-label"></label>
                        <div class="layui-input-inline" style="width:60px">
                            <input type="checkbox" name="DbSwitch" lay-skin="switch" lay-text="是|否" checked>
                        </div>
                        <div class="layui-form-mid layui-word-aux"><span class="text-danger">创建数据库</span></div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">数据库名</label>
                        <div class="layui-input-inline">
                            <input type="text" name="DbName" autocomplete="off" class="layui-input"
                                   placeholder="5-15个字符">
                        </div>
                        <div class="layui-form-mid layui-word-aux">由字母、数字、下划线组成，<span class="text-danger">不能全为数字</span>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户名</label>
                        <div class="layui-input-inline">
                            <input type="text" name="DbUser" autocomplete="off" class="layui-input"
                                   placeholder="3-15个字符">
                        </div>
                        <div class="layui-form-mid layui-word-aux">由字母、数字、下划线组成，<span class="text-danger">不能全为数字</span>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">密码</label>
                        <div class="layui-input-inline">
                            <input type="password" name="DbPwd" autocomplete="off" class="layui-input"
                                   placeholder="6-15个字符">
                        </div>
                        <div class="layui-form-mid layui-word-aux">由字母、数字、下划线组成</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">编码</label>
                        <div class="layui-input-inline">
                            <select name="DbCharset">
                                <option selected="selected" value="utf8">utf8</option>
                                <option value="gbk">gbk</option>
                                <option value="latin1">latin1</option>
                            </select>
                        </div>
                        <div class="layui-form-mid layui-word-aux">数据库编码，一般是用utf8,gbk</div>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <div class="layui-form-item">
                        <label class="layui-form-label"></label>
                        <div class="layui-input-inline" style="width:60px">
                            <input type="checkbox" name="FtpSwitch" lay-skin="switch" lay-text="是|否">
                        </div>
                        <div class="layui-form-mid layui-word-aux"><span class="text-danger">创建FTP帐户</span></div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户名</label>
                        <div class="layui-input-inline">
                            <input type="text" name="FtpUser" autocomplete="off" class="layui-input"
                                   placeholder="3-12个字符">
                        </div>
                        <div class="layui-form-mid layui-word-aux">由字母、数字、下划线组成，且不可修改</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">密码</label>
                        <div class="layui-input-inline">
                            <input type="password" name="FtpPwd" autocomplete="off" class="layui-input"
                                   placeholder="6-15个字符">
                        </div>
                        <div class="layui-form-mid layui-word-aux">由字母、数字、下划线组成</div>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <div class="layui-form-item">
                        <label class="layui-form-label">防盗链类型</label>
                        <div class="layui-input-inline">
                            <input type="text" name="Lft" autocomplete="off" class="layui-input"
                                   placeholder="默认为空，则不启用">
                        </div>
                        <div class="layui-form-mid layui-word-aux">如多个用逗号“,”分隔,如“jpg,gif,bmp”</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">允许的域名</label>
                        <div class="layui-input-inline">
                            <input type="text" name="Laurl" autocomplete="off" class="layui-input"
                                   placeholder="默认为空，则为绑定的域名">
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            此处可增加域名，如多个用逗号“,”分隔，不带http://，如webrobot.cn,webrobot.com
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">盗链图片地址</label>
                        <div class="layui-input-inline">
                            <input type="text" name="Ldurl" autocomplete="off" class="layui-input"
                                   placeholder="默认为空，则返回403">
                        </div>
                        <div class="layui-form-mid layui-word-aux">可访问的图片地址，完整URL，如http://www.webrobot.cn/images/logo
                            .png
                        </div>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <div class="layui-form-item">
                        <label class="layui-form-label">301/302跳转</label>
                        <div class="layui-input-inline">
                            <select name="Redirects">
                                <option value="" selected="selected">不启用</option>
                                <option value="301">301跳转</option>
                                <option value="302">302跳转</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">跳转地址</label>
                        <div class="layui-input-inline">
                            <input type="text" name="Reurl" placeholder="跳转地址" autocomplete="off" class="layui-input"
                                   placeholder="输入完整地址">
                        </div>
                        <div class="layui-form-mid layui-word-aux">完整URL，如http://www.webrobot.cn</div>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <div class="layui-form-item">
                        <label class="layui-form-label">错误提示页</label>
                        <div class="layui-input-inline" style="width:500px">
                            <input name="Err400Switch" type="checkbox" lay-skin="primary" title="400" checked/>
                            <input name="Err401Switch" type="checkbox" lay-skin="primary" title="401"/>
                            <input name="Err403Switch" type="checkbox" lay-skin="primary" title="403" checked/>
                            <input name="Err404Switch" type="checkbox" lay-skin="primary" title="404" checked/>
                            <input name="Err405Switch" type="checkbox" lay-skin="primary" title="405"/>
                            <input name="Err500Switch" type="checkbox" lay-skin="primary" title="500"/>
                            <input name="Err503Switch" type="checkbox" lay-skin="primary" title="503" checked/>
                            <div class="layui-form-mid layui-word-aux">默认错误提示页位于errpage下，可自定义修改</div>
                        </div>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <div class="layui-form-item">
                        <label class="layui-form-label">详细日志</label>
                        <div class="layui-input-inline" style="width:60px">
                            <input type="checkbox" name="AccesslogSwitch" lay-skin="switch" lay-text="打开|关闭">
                        </div>
                        <div class="layui-form-mid layui-word-aux">记录详细的访问日志，会占服务器资源，如无特别需求，不建议开启</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">错误日志</label>
                        <div class="layui-input-inline" style="width:60px">
                            <input type="checkbox" name="ErrorlogSwitch" lay-skin="switch" lay-text="打开|关闭">
                        </div>
                        <div class="layui-form-mid layui-word-aux">记录错误的访问日志和文件，也会占服务器资源，如无特别需求，不建议开启</div>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <div class="layui-form-item">
                        <label class="layui-form-label">Rewrite</label>
                        <div class="layui-input-inline">
                            <select name="Rewrite">
                                <option value=''>无</option>
                                {{range .Rewrites}}
                                    <option value='{{.Dirname}}'>{{.Dirname}}</option>
                                {{end}}
                            </select>
                        </div>
                        <div class="layui-form-mid layui-word-aux">如不知道或无使用，
                            <a lay-href="/file?currentpath=/usr/local/nginx/conf/rewrite"
                               lay-text="Rewrite管理" style="color: #0a93bf"><strong>Rewrite管理</strong></a>。也可以使用.htaccess格式，上传到网站根目录(public_html)下
                        </div>
                    </div>
                </div>
                <div class="layui-tab-item">
                    <div class="layui-form-item">
                        <label class="layui-form-label">gzip压缩</label>
                        <div class="layui-input-inline" style="width:60px">
                            <input type="checkbox" name="GzipSwitch" lay-skin="switch" lay-text="打开|关闭" checked>
                        </div>
                        <div class="layui-form-mid layui-word-aux">此功能为可将部分网页压缩传输，可以节省带宽</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">客户端缓存</label>
                        <div class="layui-input-inline" style="width:60px">
                            <input type="checkbox" name="ExpiresSwitch" lay-skin="switch" lay-text="打开|关闭">
                        </div>
                        <div class="layui-form-mid layui-word-aux">此功能可减轻服务器负载，但有时更新可能不会及时显示</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">限制目录</label>
                        <div class="layui-input-inline" style="width:60px">
                            <input type="checkbox" name="LimitdirSwitch" lay-skin="switch" lay-text="打开|关闭" checked>
                        </div>
                        <div class="layui-form-mid layui-word-aux">防止webshell跨目录跨站,增加站点和服务器安全</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">浏览目录</label>
                        <div class="layui-input-inline" style="width:60px">
                            <input type="checkbox" name="ShowdirSwitch" lay-skin="switch" lay-text="打开|关闭">
                        </div>
                        <div class="layui-form-mid layui-word-aux">表示在没有默认首页时,会显示网站上的所有文件列表</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">使用端口</label>
                        <div class="layui-input-inline">
                            <input type="text" name="Port" value="80" placeholder="80" autocomplete="off"
                                   class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">只在需要使用非80端口时使用，否则请使用默认值。可在系统设置里设置或增加端口</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">使用IP</label>
                        <div class="layui-input-inline">
                            <select name="Useip">
                                <option value="">默认</option>
                                {{range .Ips}}
                                    <option value="{{.}}">{{.}}</option>
                                {{end}}
                            </select>
                        </div>
                        <div class="layui-form-mid layui-word-aux">此功能只在多IP且要域名指定IP时用，否则请留默认值。可在系统设置里设置或增加IP</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">IP并发数</label>
                        <div class="layui-input-inline">
                            <input type="text" name="Conn" autocomplete="off" class="layui-input" value="0"
                                   pattern="默认为0，即不限制">
                        </div>
                        <div class="layui-form-mid layui-word-aux">每IP的并发连接数</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">连接线程速度</label>
                        <div class="layui-input-inline">
                            <input type="text" name="Bw" autocomplete="off" class="layui-input"
                                   value="0" placeholder="默认为0，即不限制">
                        </div>
                        <div class="layui-form-mid layui-word-aux">每个连接线程的速度，单位KB/S</div>
                    </div>
                    <div class="layui-form-item layui-hide">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="submitPresetAdd">提交</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <blockquote class="layui-elem-quote">
            1:默认的网站根目录是 /www/web,如需要修改,在<a href="/set/conf" class="text-normal">系统设置</a>里的网站目录做修改即可,如:/home<br>
            2:目录名只能使用字母，数字，下划线组成<br>
            3:证书文件存放在cert目录下且以<span class="text-normal">站点域名</span>命名，如webrobot.cn.cert/webrobot.cn.key，<a
                    href="http://www.webrobot.cn/bbs/thread-57572-1-1.html" data-target="notab" target="_blank"
                    class="text-normal">更多说明请看</a><br>
            4:相应的选项可根据实际来选择，也可以使用默认值。最快速的方法：输入域名，FTP用户密码，数据库用户密码，点击 保存 即可
        </blockquote>
    </div>
</script>
