/*nick 2018-06-11 底部广告*/
.navside-fkzr{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
	z-index:99999;
}

.navside-fkzr .navside-fkzr-short {
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 125px;
    height: 133px;
    cursor: pointer;
    background-position:-486px top;
}

.navside-fkzr-mask {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 124px;
    background: #000;
    opacity: .85;
}

.navside-fkzr-main {
    height: 217px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -509px;
}
.navside-fkzr-main form{
	position:absolute;
	left:500px;
	top:120px;
}
.navside-fkzr-pic1, .navside-fkzr-pic2 {
    background: url(../images/sprite_2016_1.png) no-repeat;
}
.navside-fkzr-short,.navside-fkzr-icon,.navside-fkzr-qrcode,.navside-fkzr-close{
	 background: url(../images/sprite_2016_2.png) no-repeat;
}
.navside-fkzr-pic1 {
    position: absolute;
    left: 0;
    bottom: -36px;
    width: 230px;
    height: 100%;
    background-position: -961px top;
}
.navside-fkzr-pic2 {
    position: absolute;
    left: 230px;
    bottom: -36px;
    /*width: 497px;*/
    width: 297px;
    height: 188px;
    background-position: -1191px -29px;
}
.navside-qrcode-mask{
    position: absolute;
    left: 743px;
    bottom: 0;
    height: 158px;
    /*width: 192px;*/
    background-color: #fff;
    opacity: .18;
}
.navside-fkzr-qrcode{
    position: absolute;
    left: 785px;
    bottom: 10px;
	display: block;
    width: 108px;
    height: 104px;
    background-position: 2px top;
	color: #fff;
    text-align: center;
    font-family: 'Microsoft YaHei';
}
.navside-fkzr-icon{
    position: absolute;
    left: 880px;
    bottom: -56px;
    display: block;
    width: 88px;
    height: 104px;
    padding-top: 90px;
    background-position: -370px top;
    color: #fff;
    text-align: center;
    font-family: 'Microsoft YaHei';
}
.navside-fkzr-close{
    position: absolute;
    left: 958px;
    bottom: 92px;
    width: 21px;
    height: 21px;
    cursor: pointer;
    background-position: -656px -110px;
}
.hide{
	display:none;		
}
.intxt{
    width: 214px;
    height: 30px;
    line-height: 24px;
    border: 0;
    background: #fff;
    padding-left: 10px;
    font-size: 15px;
    border-radius: 3px;
    color: #aaa;
    text-align: center;
    background-color: white;
}
.coolbg{
    width: 224px;
    height: 30px;
    line-height: 24px;
    border: 0;
    background: #06d9cb;
    padding-left: 10px;
    font-size: 15px;
    border-radius: 3px;
    color: white;
    text-align: center;
    cursor: pointer;
}