<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="applicable-device" content="pc">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{dede:field.typename/} - {dede:global.cfg_titlelast/}</title>
<meta name="keywords" content="{dede:global.cfg_keywords/}" />
<meta name="description" content="{dede:global.cfg_description/}" />
<link rel="stylesheet" type="text/css" href="{dede:global.cfg_templets_skin/}/images/Content.css" media="all" />
<!--[if IE 6]>
<script src="{dede:global.cfg_templets_skin/}/images/iepng.js" type="text/javascript" charset="gb2312"></script>
<script type="text/javascript">EvPNG.fix('div,ul,img,li,input,form,a,h1,h3,h2,h4,h5,h6,span');</script>
<![endif]-->
<script type="text/javascript">
function killerrors(){return true;}
window.onerror=killerrors;
</script>
</head>
<body>
<!-- 头部内容开始 -->
{dede:include filename='head.htm/}
<div id="content">
  <div class="box clearfix">
	<div class="left">
	<div class="tit clearfix">
		<div class="dingzhi"></div>
		<h1>{dede:field.title/}</h1>
		<div class="info clearfix">作者：{dede:field.writer/}  来自：{dede:field.source/} 发布时间：{dede:field name='pubdate' function='strftime("%Y-%m-%d","@me")' /} 浏览：({dede:field.click/}) <a href="javascript:window.print()">打印此文</a></div>
	</div>
	<div class="intro">{dede:field.typename/}</div>
	<div class="content clearfix">
		<div id="MyContent">
		{dede:field.body/}
文章《{dede:field.title/}》原创来自：<a href="{dede:global.cfg_basehost/}">{dede:global.cfg_indexname/}</a>
<p></p><p>与《{dede:field.title/}》相关文章：</p>{dede:likearticle row='5' titlelen='70'}<p>➟<a href="[field:arcurl/]">[field:title/]></p>{/dede:likearticle}
		</div>
		<div class="about clearfix">{dede:field.description/}</div>
	</div>
	<div class="newsRel clearfix">{dede:prenext get='pre'/}<br />
		{dede:prenext get='next'/}</div>
	</div>
	{dede:include filename='right.htm'/}
  </div>
</div>
<div class="clear20"></div>
<!-- 主体内容结束 -->
<!-- 尾部内容开始 -->
{dede:include filename='foot.htm'/}
</body>
</html>
