  <div class="main_left">
<div class="lxfs clearfix">
	<p class="tit">沧州屹源五金客服热线</p>
	<dl>
		<dt>客服热线-1：</dt>
		<dd><a href="javascript:void 0;">0317-8795333</a></dd>
		<dt>客服热线-2：</dt>
		<dd><a href="javascript:void 0;">0317-8795777</a></dd>
	</dl>
	</div>
<div class="pic clearfix">
	<ul class="clearfix">
		<li class="pic001"><a href="/index.html"><img width="139" height="123" src="{dede:global.cfg_templets_skin/}/images/pic17.jpg" alt="政府门户网站建设方案" /></a></li>
	</ul>
	</div>
  </div>
