<div id="header" class="clearfix">
  <div class="header_top">
<div class="logo">
	<h1><a href="/" title="{dede:global.cfg_indexname/}"><img src="{dede:global.cfg_templets_skin/}/images/logo.png" alt="{dede:global.cfg_indexname/}" width="400" height="46"></a></h1>
</div>
	<div class="menu">
	<ul class="clearfix">
		<li><a href="/" title="首页">首页<em>Home</em></a></li>
		{dede:channel type='top' row='8' currentstyle="<li><a href='~typelink~' class='thisclass'>~typename~</a> </li>"}
 <li><a href='[field:typelink/]'>[field:typename/]</a> </li>
{/dede:channel}
	</ul>
	</div>
  </div>
</div>
<!-- 头部内容结束 -->
