<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="applicable-device" content="pc">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title> {dede:field.typename/} - {dede:global.cfg_titlelast/} </title>
<meta name="keywords" content="{dede:global.cfg_keywords/}" />
<meta name="description" content="{dede:global.cfg_description/}" />
<link rel="stylesheet" type="text/css" href="{dede:global.cfg_templets_skin/}/images/List.css" media="all" />
<!--[if IE 6]>
<script src="{dede:global.cfg_templets_skin/}/images/iepng.js" type="text/javascript" charset="gb2312"></script>
<script type="text/javascript">EvPNG.fix('div,ul,img,li,input,form,a,h1,h3,h2,h4,h5,h6,span');</script>
<![endif]-->
<script type="text/javascript">
function killerrors(){return true;}
window.onerror=killerrors;
</script>
</head>
<body>
<!-- 头部内容开始 -->
{dede:include filename='head.htm'/}
<div id="class">
  <div class="box clearfix">
	<div class="left">
	<div class="tit clearfix">
		<div class="dingzhi"></div>
		<h1>{dede:field.typename/}</h1>
	</div>
	<div class="list clearfix">
		<ul class="clearfix">
{dede:list pagesize='10'}
		<li><span class="time">[field:pubdate function=strftime('%Y-%m-%d',@me)/] ([field:click/])</span><a href="[field:arcurl/]" title="[field:title/]" target="_blank">[field:title/]</a></li>
		{/dede:list}
		</ul>
		<div id="fenye" class="plist clearfix">
		<table align="center" border="0" cellspacing="0" cellpadding="0">
			<tr>
			<td id="pagelist">{dede:pagelist listsize='3' listitem='index pre pageno next end info'/}</td>
			</tr>
		</table>
		</div>
		<div class="clear10 clearfix"></div>
	</div>
	</div>
{dede:include filename='right.htm'/}
	</div>
</div>
<div class="clear20"></div>
<!-- 主体内容结束 -->
<!-- 尾部内容开始 -->
{dede:include filename='foot.htm'/}
<!-- 尾部内容结束 -->
</body>
</html>
