<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="applicable-device" content="pc">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{dede:field.typename/} - {dede:global.cfg_titlelast/}</title>
<meta name="keywords" content="{dede:global.cfg_keywords/}" />
<meta name="description" content="{dede:global.cfg_description/}" />
<link rel="stylesheet" type="text/css" href="{dede:global.cfg_templets_skin/}/images/Case.css" media="all" />
<!--[if IE 6]>
<script src="{dede:global.cfg_templets_skin/}/images/iepng.js" type="text/javascript" charset="gb2312"></script>
<script type="text/javascript">EvPNG.fix('div,ul,img,li,input,form,a,h1,h3,h2,h4,h5,h6,span');</script>
<![endif]-->
<script type="text/javascript">
function killerrors(){return true;}
window.onerror=killerrors;
</script>
</head>

<body>
<!-- 头部内容开始 -->
{dede:include filename='head1.htm'/}
<div id="about_nav" class="clearfix">
  <div class="tit">
    <h1>产品与服务</h1>
  </div>
  <ul class="clearfix">
    {dede:channel typeid='1' type='son' row='8' currentstyle="<li class='NoBg'><a href='~typelink~' title='~typename~' class='currclass'><span>~typename~</span></a> </li>"}
<li><a href="[field:typeurl/]" title="[field:typename/]" target="_blank"><span>[field:typename/]</span></a></li>
{/dede:channel}
  </ul>
</div>
<div id="case" class="clearfix">
  <div class="box">
    <div class="left">
      <div class="case_nav clearfix">
        <ul class="clearfix">
          <li class="mywork">{dede:field.description/}</li>
          <li class="hover"><span><a href="/product/" title="产品与服务">产品与服务</a></span></li>
        </ul>
      </div>
      <div class="case_class clearfix">
	    {dede:channel type='son' row='8' currentstyle="<a href='~typelink~' title='~typename~' class='currclass'>~typename~</a> "}
<a href="[field:typeurl/]" title="[field:typename/]" target="_blank">[field:typename/]</a>
{/dede:channel}
      </div>
      <div class="case_list clearfix">
        <ul class="clearfix">
          <!-- 列表内容开始 -->
          {dede:list pagesize='8'}
          <li class="no"><a href="[field:arcurl/]" title="[field:title/]" target="_blank"><img src="[field:picname/]" alt="[field:title/]" width="200" height="120" /></a>
            <h3><a href="[field:arcurl/]" title="[field:title/]" target="_blank">[field:title/]</a></h3>
            <small>&nbsp;&nbsp;&nbsp;&nbsp;[field:description function='cn_substr(@me,110)'/]....</small>
            <p class="m"><a href="[field:arcurl/]" title="查看详情" target="_blank">查看详情</a></p>
          </li>{/dede:list}

          <!-- 列表内容结束 -->
        </ul>
        <div id="fenye" class="plist clearfix">
          <table align="center" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td id="pagelist">{dede:pagelist listsize='3' listitem='index pre pageno next end info'/}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clear20"></div>
<!-- 主体内容结束 -->
<!-- 尾部内容开始 -->
{dede:include filename='foot.htm'/}
<!-- 尾部内容结束 -->
<div style="display: none;">
  <script src="http://s19.cnzz.com/z_stat.php?id=1000476702&web_id=1000476702" language="JavaScript"></script>
</div>


<script type="text/javascript" src="{dede:global.cfg_templets_skin/}/images/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{dede:global.cfg_templets_skin/}/images/common.js"></script>
<script type="text/javascript">jQuery(".menu ul li").eq(3).addClass("current");jQuery("#about_nav li").eq(5).addClass("current");</script>
</body>
</html>
<!-- 在线客服开始 -->
{dede:include filename='kefu.htm'/}
<!-- 在线客服结束 -->
