<div class="right">
      <div class="pic"><a href="/" title="售后客服技术支持平台" target="_blank"><img src="{dede:global.cfg_templets_skin/}/images/260_150.jpg" alt="售后客服技术支持平台" width="260" height="150"></a></div>
      <div class="newlist">
        <h3></span>更多资讯</h3>
        <div class="list clearfix">
          <ul class="clearfix">
{dede:arclist row='2' titlelen='30' orderby='rand'}
            <li><span>[field:pubdate function=strftime('%m-%d',@me)/]</span><a href="[field:arcurl/]" title="[field:fulltitle/]" target="_blank">[field:title/]</a></li>
{/dede:arclist}
          </ul>
        </div>
      </div>
    </div>
