
html{-webkit-text-size-adjust:none;word-wrap:break-word;word-break:break-all}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;outline: 0;}
body{margin:0px;padding:0px;color:#333333;font-size:18px;font-family: "Microsoft YaHei", Verdana, sans-serif;line-height: 24px;background-color:#eee;}
a{text-decoration: none;color: #6B3906;transition: all 0.25s ease 0s;}
a:hover{text-decoration: none;}
img{max-width:100%; height:auto; width:auto\9; border:0;}
div, h1, h2, h3, h4,h5, p, form, ul, label, input, textarea, img, span, dl, dt, dd{margin:0px;padding:0;outline: 0;}
.clear{clear:both;}
li{list-style-type: none;}
.fl{float:left;}
.fr{float:right;}
.xian{border:solid 1px #cccccc;border-radius: 3px;}
.zh,.zh1{margin-top: 0px;margin-right: auto;margin-bottom: 0px;margin-left: auto;}
.main{position: relative;}
.left{width: 100%;}
.left-wrap {position: relative;margin-right: 335px;}
.right{width:320px;margin-left:-320px;position: relative;}
.wux{border-top-width: 0px;border-right-width: 0px;border-bottom-width: 0px;border-left-width: 0px;}
.ybbt{font-size: 1.18em;line-height: 40px;font-weight: 300;height: 40px;padding-right: 9px;padding-left: 9px;color:#000000;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #cccccc;background-color: #f1f1f1;}
.dnwu{display:none;}
.img-x{display: block;overflow:hidden;}
.img-x img,.list-tu img{transition: all 0.3s ease 0s;display:block;width: 100%;height: 100%;overflow:hidden;}
.img-x img:hover,.list-tu img:hover{-webkit-transform: scale(1.1);transform: scale(1.1);}
.img-d img,.dp-b{display: block;}
.rotate img,#divComments ul li img{-webkit-transition: 0.4s;-webkit-transition: -webkit-transform 0.4s ease-out;transition: transform 0.4s ease-out;-moz-transition: -moz-transform 0.4s ease-out;}
.rotate:hover img,#divComments ul li:hover img{transform: rotateZ(360deg);-webkit-transform: rotateZ(360deg); -moz-transform: rotateZ(360deg);}
input[type="submit"],input[type="text"],input[type="button"],button{-webkit-appearance: none; border-radius: 0;}
.commentpagebar{margin-top:10px;}
.pagenav{width:100%;height:36px;text-align:center;padding-top: 0px;padding-right: 0;padding-bottom: 15px;padding-left: 0;    margin-bottom: 15px;}
.pagenav span.pageid{display:inline-block;padding:0 10px;line-height:36px;font-size:14px;font-weight:700;border:1px solid #ccc;background:#f5f5f5;color:#555;}
.pagenav span.button{margin:0 5px;border-radius: 3px;}
.pagenav span.button a{display:inline-block;padding:0 10px;line-height:36px;font-size:14px;font-weight:700; color:#6A3805;border-radius: 3px; background-color:#fff;}
.pagenav span.button a:hover{color:#fff;}
/* 评论 */
.tx-comments>ul.msg{margin-bottom:8px;border:1px solid #ddd;padding:8px;border-radius:4px;}
.tx-comments{margin-bottom:10px;}
ul.msg img.avatar{float:left;margin-right:10px;border-radius:4px;}
ul.msg li.msgname{margin-bottom:5px;}
ul.msg li.msgname p,ul.msg li.msgname small{line-height:20px;height:20px;overflow:hidden;display:block;}
ul.msg li.msgname small{color:#aaa;font-size:12px;}
ul.msg li.msgname small a{display:none;}
ul.msg:hover li.msgname small a{display:inline-block;}
ul.msg li.msgarticle{border:1px dotted #f1f1f1;padding:5px 8px;border-radius:4px;}
ul.msg li ul.msg{background:#fff;margin-top:8px;padding:10px;border:1px solid #eee;border-radius:4px;box-shadow: 0 0 2px rgba(0,0,0,0.05);background:#fbfbfb;}
.tx-comment h3,.tx-comments h3{line-height:40px;height:40px;background:#eee;padding:0 10px;font-size:17px;font-weight:normal;margin-bottom:8px;border-radius:2px;}
.tx-comments h4{line-height:40px;height:40px;text-align:center;padding:0 10px;font-size:17px;font-weight:normal;margin-bottom:8px;}
.tx-comment input{line-height:32px;height:32px;font-size:14px;font-family: "Microsoft YaHei", Verdana, sans-serif;}
.tx-comment textarea{border:0;padding:5px;height:120px;width: 100%; font-size:14px;font-family: "Microsoft YaHei", Verdana, sans-serif;}
.tx-comment p{margin-bottom:5px;}
.tx-comment-p1,.tx-comment-p{border:1px solid #ddd;border-radius:2px;}
.tx-comment-p{width:50%;line-height:32px;height:32px;position:relative;}
.tx-comment-p input{border:0;float:left;line-height:28px;height:28px;padding:0 5px;}
.tx-comment-p img{height:26px;width:auto;position:absolute;right:2px;top:2px;}
input#inpName,input#inpEmail,input#inpHomePage{width:50%;padding:0 5px;border:1px solid #ddd;border-radius:2px;}
input.button{border:0;border-radius:2px;line-height:30px;height:30px;width:100px;background:#c00;color:#fff;}
.tx-red{color:#c00;}
.reply-frm{margin-top:10px;}
/* 404页面 */
.tx-404{text-align: center;background:#fff;position: fixed;width: 100%;height: 100%;left: 0;top:0;font-size: 12px;color: #888;}
.tx-404 h2{font-size: 24px;font-weight: normal;line-height: 1.6;color: #222;margin: 12px 0;}
.tx-404 a.return{display: inline-block;line-height: 50px;height: 50px;padding: 0 60px;background: #FF3A33;border-radius: 5px;margin-top: 15px;color: #fff;font-size: 14px;}
.logo-404{background:url(../images/logo.png) no-repeat center center #FFFFFF;background-size: auto 60px; padding:60px 0;border-bottom:1px solid #9eaa99;box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);}

.top{background-color:#fff;padding:15px 0 15px 0;height:90px;}
.top .zh{position:relative;}
.logo a{display:block;  height:60px;position:relative;z-index:1;}
.bgb{background-color:#fff;}
.logoad{height:60px;text-align:right;}
.logoad img{width:auto;height:60px;}
.ss form{width:380px;margin-left:30px; margin-top:10px;}
.ss #edtSearch,.sous #edtSearch{float: left;height: 38px; line-height:38px; color:#777777;width: 82%; border:1px solid #ddd;padding-left:2%;background-color:#ffffff;border-radius: 3px 0px 0px 3px;}
.ss #btnPost,.sous #btnPost{color: #FFFFFF;font-size:11px;float: left;height: 38px;width: 15%;border:0;border-radius: 0px 3px 3px 0px;font-size:1.125em;    background-color: #21A366;}

/*自适应导航栏*/
.clearfix:before,
.clearfix:after{content: " "; display: table;}
.clearfix:after{clear: both;}
.clearfix{*zoom: 1;}

#nav{position:relative;z-index:999;height: 50px;margin-bottom: 15px;}
#nav>ul{padding: 0;font-size: 15px;}
#nav>ul>li{float: left;display: inline;margin-right:2px;position:relative;}
#nav>ul>li>a{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;padding:0 20px 0 20px;text-decoration: none;color:#fff;display: inline-block; line-height: 50px;}
#nav>ul>li>a:hover,#nav>ul>li.on>a,#nav>ul>li.hover>a,#nav>ul>li.hover>ul>li>a{color:#fff;}
#nav li ul{list-style-type: none;left:0;top:50px;position: absolute;overflow: visible;display:none;}
#nav li ul li{clear: left;width:100%;}
#nav li ul li a{line-height: 40px;height: 40px;font-weight: normal;padding-right: 20px;padding-left: 20px;display: block;white-space: nowrap;}
#nav>ul>li.hover>ul>li>a:hover{text-decoration:none;font-weight:normal;color:#fff;}
.fixednav {position: fixed!important;top: 0px;left: 0px;width: 100%;z-index:999!important;filter:alpha(opacity=90); -moz-opacity:0.9; -khtml-opacity: 0.9; opacity: 0.9; }


#nav span{padding-top:11px;}
#nav span a{font-size:12px; padding:2px 10px 2px 10px; color:#000;border-radius: 2px; line-height: 24px;}

#nav a.nav-on,#nav a.nav-off,#nav a.home,#nav a.musercp,.search-con{display: none;}
#nav li a:hover, #nav li a.on {
    background-color: #24619c;
}
.gaok,.place{background-color:#fefefe;border-radius: 4px; padding:5px 10px; margin-bottom:15px;}
.gaok li a{display:block;height:24px;overflow:hidden;}
.post{background-color:#fefefe; margin-bottom:15px;border-radius: 5px; padding:15px;}
.lbad{background-color:#fefefe; margin-bottom:15px;border-radius: 5px; padding:3px;}
.lbad img{display:block;}
.post:hover{ background-color:#fff;}
.toux img{width:50px; height:50px;border-radius: 25px; margin-right:15px;}
.post dt{margin-bottom:8px; padding-bottom:8px; border-bottom:1px dotted #ddd;}
.post dt h2,.post dt h1{line-height:22px;max-height:22px;overflow:hidden; margin-bottom:5px; font-size:18px; font-weight:300;}
.post dt small,.post dt small a{font-size:12px; color:#999;}
.post dt small a:hover{color: #FA7D0F;}
.post dt small span{margin-right:18px;}
.post dd p{margin-bottom:7px;word-wrap: break-word;}
.list-tu{position:relative;display:inline-block;overflow:hidden;border:1px solid #ddd;border-radius: 3px; box-shadow: 0 2px 8px rgba(0,0,0,.2);}
.list-tu img{display:block;}
.list-tu em{position:absolute;top:0;left:0;color:#fff;background-color: rgba(0, 0, 0, 0.7);font-style:normal;padding:2px 13px;}
.zan{margin-top:10px;}
.zan a{padding:3px 13px 3px 13px; border:1px solid #ccc;border-radius: 3px; color:#6A3805;}
.zan a.you10{margin-right:10px;}
.zan a:hover{border-style:solid; border-width:1px; }
.nav_menu{line-height: 45px; font-weight: 700; text-transform: uppercase;}
.nav_menu-item{display: inline-block; position: relative;}
.nav_menu-item:hover .nav_submenu{display: block;}
.nav_submenu{font-weight: 300;text-transform: none;display: none;position: absolute;right: 0px;width:165px;top:30px; height:26px; line-height:26px; padding:7px 0;z-index:99;}
.lbfx .nav_submenu li{float:left;}
.lbfx .nav_submenu li a{display:block; width:30px; height:30px;padding:0;margin-left:3px;color:#fff;background-color:#222;border:0;text-align:center;}
.lbfx .nav_submenu li a i{line-height:30px;}
.lbfx .nav_submenu li a:hover{color:#fff;}
.right dl{margin-bottom:15px; float:left; width:100%; clear:both;background-color:#fff;border-radius:5px;}
.right dt,.cms-img dt,.cms-txt dd h2,.links h2,.index-hot h2{line-height:45px; height:45px; padding:0 9px; font-size:18px;color:#222; border-bottom:1px solid #eee;font-weight:500;}
.right dd{padding:3%;}
.right li{padding:3px 0 3px 0; border-bottom:1px dotted #eee;}
.right dl #tbCalendar{width: 100%;line-height: 30px;}
.right dl#divComments ul li{line-height: 1.5;width: 100%;padding-top: 7px;padding-bottom: 7px;word-wrap: break-word;}
#divComments ul li span{margin-bottom: 6px; margin-top:2px;color: #999999;display: block;overflow: hidden;line-height: 1;}
#divComments ul li img{background-color: #f1f1f1;height: 45px;width: 45px;padding: 2px;border: 1px solid #ddd;float: left;margin-right: 6px;border-radius: 22px;}
#tbCalendar td{text-align: center;}
.right #divSearchPanel dd{padding:2%;}
.right #divSearchPanel dd form,.search-con form{ height:32px;border-radius: 2px;border:1px solid;}
.right #divSearchPanel input[type="text"],.search-con input{line-height: 30px;height: 30px;width: 75%;float: left;padding-left: 1%;clear: left; border:0px;}
.right #divSearchPanel input[type="submit"],.search-con button{color: #FFFFFF;float: right;height: 30px;width: 25%; border:0px;}
.right #divTags dd ul li{display:inline-block; verticle-align:top;overflow: hidden;float:left;margin: 0px;padding: 0px;}
#divTags dd ul::before, #divTags dd ul::after{display: table;content: " ";}
#divTags dd ul::after{clear: both;}
#divTags dd ul li span{display: none;}
#divTags dd ul li a{display: block;margin:2px 5px 3px 0;padding:0 6px 0 6px;line-height: 30px;height: 30px;overflow: hidden;color: #FFFFFF;border-radius: 2px;}
#divTags dd ul li a:hover{color: #222;}
#divTags .tags0{background-color: #efac82;}
#divTags .tags1{background-color: #84c7cf;}
#divTags .tags2{background-color: #d69899;}
#divTags .tags3{background-color: #d59ad4;}
#divTags .tags4{background-color: #c9b070;}
#divTags .tags5{background-color: #b0d699;}
#divTags .tags6{background-color: #eda29e;}
.foot{padding:15px 0 15px 0; background-color:#222;color:#fff;text-align:center;position:relative;z-index:100;}
.foot a{color:#fefefe;}
.sx{margin-bottom:15px;}
.sx li{width:48%;}
.sx li a{ display:block; height:35px; line-height:35px; text-align:center; color:#fff;border-radius: 3px;}
.sx li a:hover{color:#000;}
.xg{margin-bottom:15px; background-color:#fff;border-radius: 5px; padding:10px;}
.xg li{float: left;
    width: 50%;
    /* padding: 1% 0px; */
    height: 30px;
    line-height: 30px;
    overflow: hidden;}

.right .tutop li{float:left; width:48%; padding:1%; text-align:center;border-bottom:0;}
.tuimg{display:block; border: 1px solid #ECDDC2; padding:2px;border-radius: 2px;overflow:hidden;}
.tuimg img{width:100%;display:block;}
.tuimg:hover{ border-width:1px; border-style:solid;}
.xg li p,.tutop li p{height:24px; overflow:hidden; padding:0 5px 0 5px;}
#box{float:left; position:relative;width:100%;}
.div2{position:fixed;_position:absolute;top:60px;width:320px!important;}
.pagination-loading{background: url('../images/huanchong.gif') 50% 50% no-repeat; text-align:center;height:40px;}
#infscr-loading{text-align:center;}

.lieb1{margin-bottom:20px; padding:6px;background:#fff;}
.mb15{margin-bottom:15px;}.mb10{margin-bottom:10px;}.pd10{padding:10px;}
.list-img-li{margin-bottom:30px;}
.list-img{float:left;width:25%;box-sizing: border-box; margin:0;padding:0;border-radius:0;text-align:center;background:#fff;}
.list-img span{display:block;padding:6px;position:relative;}
.list-img span a{padding:5px;}
.list-img h3{font-size:14px;font-weight:normal;margin-top:8px;line-height:28px;height:28px;overflow:hidden;}
.list-img em{position:absolute;top:16px;left:16px;color:#fff;background-color: rgba(0, 0, 0, 0.7);font-style:normal;padding:2px 10px;}

.index-flash { position: relative; overflow: hidden; margin-bottom:15px;}
.index-flash li { list-style: none; }
.index-flash ul li { float: left; }
.index-flash ul li img{display:block;height:310px;width:100%;}
.index-flash .dots {position: absolute;left: 0;right: 0;bottom: 5px;text-align: center;}
.index-flash .dots li {display: inline-block;width: 10px;height: 10px;margin: 0 4px;text-indent: -999em;background-color: rgba(0, 0, 0, 0.9);border-radius: 5px;cursor: pointer;opacity: .4;-webkit-transition: background .5s, opacity .5s;-moz-transition: background .5s, opacity .5s;transition: background .5s, opacity .5s;}
.index-flash .dots li.active {background: rgba(255, 255, 255, 0.25);opacity: 1;}
.index-flash .unslider-arrow{position: absolute;top:50%;z-index: 99;width: 30px; height: 50px;text-align: center;margin-top: -25px;text-shadow: 0 1px 2px rgba(0, 0, 0, .6);}
.unslider-arrow i{line-height: 50px;font-size: 26px;color: #fff;}
.unslider-arrow:hover{background: rgba(0, 0, 0, 0.25);}
.index-flash .prev{left: 0;}
.index-flash .next{right: 0;}

.index-hot{padding:5px;}
.index-hot li{padding:0 5px;line-height:30px;height:30px;overflow:hidden;}
.index-hot li i{width:20px;height:20px;line-height:20px;display:block;float:left;background-color:#eee;margin-top:5px;text-align:center;font-style:normal;color:#888;margin-right:10px;}
.index-hot li:nth-child(1) i,.index-hot li:nth-child(2) i,.index-hot li:nth-child(3) i{color:#fff;}
.cms-img,.cms-txt dd,.links,.tg-cj,.index-tags{background-color: #fefefe;margin-bottom: 15px;border-radius: 5px;}
.bgh{background-color: #fefefe;border-radius: 5px;}
.cms-img ul{padding:5px;}
.cms-img li{width:20%;float:left;}
.cms-img li a{display:block;padding:5px;position:relative;}
.cms-img li a h3{font-size:14px;text-align:center;line-height:22px;height:22px;overflow:hidden;font-weight:300;margin-top:6px;}
.cms-img li a em{position:absolute;top:5px;left:5px;color:#fff;background-color: rgba(0, 0, 0, 0.7);font-style:normal;padding:2px 10px;}
.cms-txt{margin-left:-1.33%;}
.cms-txt dd{width:32%;float:left;margin-left:1.33%;}
.cms-txt dd ul{padding:5px 0;}
.cms-txt dd li{height:34px;line-height:34px;overflow:hidden;border-top:1px dashed #eee;}
.cms-txt dd li:nth-child(1){border-top:0;}
.cms-txt dd li a{display:block;padding:0 10px;}
.cms-txt dd li a:hover{padding-left:15px;}
.links ul{padding:10px 0 0 10px;}
.links li{margin:0 10px 10px 0;line-height:26px;float:left;}
.tg-title{font-size:16px;}

.tg-txt input,.tg-cj .nobirdtougao  input[name="posttitle"]{border:1px solid #ddd;border-radius:2px;line-height:45px;height:45px;width:100%;padding:0 15px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.tg-txt,.tg-content{margin-bottom:15px;}
.tg-button{position:relative;height:35px;}
.tg-button span{display:block;width:50%;position:absolute;left:0;top:0;height:35px;border:1px solid #ddd;border-radius:2px;}
.tg-button input[type="button"]{position:absolute;right:0;top:0;width:100px;height:35px;border:0;color:#fff;}
.tg-button input[type="text"]{border:0;line-height:35px;height:35px;padding:0 90px 0 10px;position:absolute;left:0;top:0;width:100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;z-index:1;}
.tg-button img{position:absolute;right:1px;top:1px;width:90px;height:35px;z-index:2;}
.tg-cj{padding:15px;}
.tg-cj h1{font-size:22px;margin:10px 0;text-align:center;}
.tg-cj form{background-color:#f1f1f1;padding:10px;border-radius:4px;margin-top:15px;}
.tg-cj .nobirdtougao  input[name="posttitle"],.tg-cj select,#mceu_30{margin-bottom:15px!important;}
.tg-cj select{border:1px solid #ddd;line-height:45px;height:45px;padding:0 10px;}
.tg-cj .nobirdtougao input[name="verifycode"]{border:1px solid #ddd;line-height:30px;height:30px;}
.tg-cj .nobirdtougao input[type="button"]{width:100px;height:35px;border:0;color:#fff;float:right;}
.tougao a{display:block;padding:0 10px;text-align:center;height:50px;border-radius:5px;margin-bottom:10px;font-size:18px;line-height:50px;}
.tougao a:hover{color:#fff;}
.index-tags a{line-height:30px;height:30px;overflow:hidden;width:25%;float:left;padding:0 1%;}
.index-tags{padding:5px;}
.i300{height:310px;overflow:hidden;}
.i200{height:250px;overflow:hidden;}

@media screen and (max-width: 980px){.sjwu{display:none!important;}
.zh{width:96%!important; margin:0 2% 0 2%!important;z-index:0;}
.zh1,.left,.cms-txt dd,.right,input#inpName,input#inpEmail,input#inpHomePage{width:100%!important;}
iframe,embed,.index-flash ul li img{width:100%!important;height:auto!important;}
.dnwu{display:block!important;}
#nav{background-position:center center; background-repeat:no-repeat;border-bottom: 0; height:50px;width: 100%;position: fixed;left: 0px;top: 0px;display: block;z-index:1;}
#nav>ul{display: none;height: auto;width: 100%;height:100%;padding:10px;overflow:scroll;position:fixed;top:0;z-index:1999;left:0;background-color:rgba(255,255,255,0.95);}
#nav>ul:before{content: "网站导航"; display: table;line-height:40px;}
#nav a.nav-on{color:#fff;display: block;width: 50px; height:50px;line-height:50px; position:absolute;padding:0; text-indent:0; text-align:center;top:0;right:0;}
.nav-on i,.home i,.musercp i{line-height:50px;color:#fff;font-size:1.25em;}

#nav>ul>li{width: 33.33%;float: left;position: relative;margin:0;text-align:center;}
#nav>ul>li>a{border: 1px solid #fff;color:#fff;line-height:36px;padding:0 5px;display:block;}
#nav a.home{float:left; width:10%;margin:0;display:block;padding:0 3%;}
#nav a.musercp{float:left; width:10%;margin:0;display:block;padding:0 3%;}
#nav ul li ul{top:36px;left:1px;padding-top:3px;}
#nav ul li ul li{text-align:left;}
#nav ul a.nav-off{display:inline-block;position:absolute;right:13px;top:19px;}

.search-con{width:100%;display:block;margin-bottom:10px;}

.gaok, .nav2,.index-flash{margin-top:65px;}
.xg li{width:100%;}
.zan a{padding:2px 9px 2px 9px;}   
.left-wrap{margin:0;}
.cms-txt dd,.cms-txt{margin-left:0;}
.list-img,.cms-img li{width:50%;}
.post dt h2,.post dt h1{max-height:50px;line-height:25px;}
}


@charset "utf-8";
#divtxreaders div:after,.txclearfix:after{content: " "; display: table;clear: both;}
#divhottag dd,#divrandtag dd{padding: 0!important;margin: 0!important;}
#divhottag dd div,#divrandtag dd div{padding: 5px 0 0 5px!important;}
#divhottag div a,#divrandtag div a{padding:0 9px!important;margin: 0 5px 5px 0!important;background: #0099cc;color: #fff!important; display: inline-block!important;border-radius: 2px!important;line-height: 28px!important;height: 28px!important;}
#divhottag div a:hover,#divrandtag div a:hover{background: #333!important;color: #fff!important;}
a.tags0{background-color: #efac82!important;}
a.tags1{background-color: #84c7cf!important;}
a.tags2{background-color: #d69899!important;}
a.tags3{background-color: #d59ad4!important;}
a.tags4{background-color: #c9b070!important;}
a.tags5{background-color: #b0d699!important;}
a.tags6{background-color: #eda29e!important;}

#divtxcomments dd,#divtxcomments ul,#divtxreaders dd{padding: 0!important;margin: 0!important;}
#divtxcomments li{position: relative!important;width: 100%!important;height: 60px!important;overflow: hidden!important;padding: 10px 10px 10px 60px!important;border: 0!important; border-top: 1px solid #eee!important;-webkit-box-sizing: border-box!important;-moz-box-sizing: border-box!important;box-sizing: border-box!important;background-image: none!important;}
#divtxcomments li:nth-child(1){border-top: 0!important;}
#divtxcomments li span.tx-avatar{position: absolute!important;left: 10px!important;top:10px!important;width: 40px!important; height: 40px!important;}
.tx-avatar img{width: 40px!important;height: 40px!important;border-radius: 50%!important;border: 0!important;margin: 0!important;padding: 0!important;-webkit-transition:.4s;-webkit-transition:-webkit-transform .4s ease-out;transition:transform .4s ease-out;-moz-transition:-moz-transform .4s ease-out}
#divtxcomments li:hover .tx-avatar img{transform:rotateZ(60deg);-webkit-transform:rotateZ(60deg);-moz-transform:rotateZ(60deg)}
#divtxcomments li small{line-height: 20px!important;height: 20px!important;overflow: hidden!important;font-size: 11px!important;color: #999!important;display: block!important;border: 0!important;margin: 0!important;padding: 0!important;}
#divtxcomments li p{line-height: 20px!important;height: 20px!important;overflow: hidden!important;font-size: 14px!important;display: block!important;margin: 0 0 3px 0!important;padding: 0!important;}
#divtxreaders div{padding: 5px!important;margin: 0!important;}
#divtxreaders div.tx-readers-box{float: left!important;text-align: center!important;padding: 5px!important;margin: 0!important;-webkit-box-sizing: border-box!important;-moz-box-sizing: border-box!important;box-sizing: border-box!important;}
.tx-readers-box a{display: block;padding: 0!important;margin: 0!important;border: 0!important;}
#divtxreaders div.tx-px-2{width: 50%!important;}
#divtxreaders div.tx-px-3{width: 33.33%!important;}
#divtxreaders div.tx-px-4{width: 25%!important;}
#divtxreaders div.tx-px-5{width: 20%!important;}
#divtxreaders div.tx-px-6{width: 16.66%!important;}
.tx-readers-box a img{width: 46px!important;height: 46px!important;padding: 0!important;display: block!important;margin: 0 auto!important;border-radius: 50%!important;margin-bottom: 3px!important;-webkit-transition:.4s;-webkit-transition:-webkit-transform .4s ease-out;transition:transform .4s ease-out;-moz-transition:-moz-transform .4s ease-out}
.tx-readers-box a p{font-size: 14px!important;line-height: 20px!important;height: 20px!important;overflow: hidden!important;}
.tx-readers-box a:hover img{transform:rotateZ(60deg);-webkit-transform:rotateZ(60deg);-moz-transform:rotateZ(60deg)}

.tx-imglist1,.tx-imglist{margin:0 0 12px 0!important;padding:0!important;border:0!important;}
.tx-imglist img,.tx-imglist1 img{width:100%!important;height:100%!important;display:block;padding:0!important;margin:0!important;border:0!important;}
.tx-imglist1 .tx-imglist-box{width:100%!important;overflow:hidden!important;display:block!important;padding:0!important;margin:0 0 5px 0!important;border:0!important;}
.tx-imglist{float:left;width:100%;clear:both;}
.tx-imglist .tx-imglist-box{width:80px!important;height:50px!important;float:left;overflow:hidden!important;display:block!important;padding:0!important;margin:0 10px 0 0!important;border:0!important;}
.tx-imglist p,.tx-imglist1 p{max-height:50px!important;overflow:hidden!important;line-height:25px!important;}

#divtxtablist dt{display:none!important;}

.tx-tab-hd{line-height:40px!important;width:100%!important;height:40px!important;padding:0!important;margin:0 0 12px 0!important;border:0!important;background-color:#f1f1f1;}
.tx-tab-hd li{float:left!important;width:33.33%!important;text-align:center!important;padding:0!important;margin:0!important;border:0!important;cursor:pointer!important;position:relative;line-height:40px!important;}
.tx-tab-hd li.tx-on{background-color:#ddd!important;}
.tx-tab-hd li.tx-on::before{display: table;content: " ";clear: both; width: 0;height: 0;border-left: 8px solid transparent;border-right: 8px solid transparent;border-top:8px solid #ddd;position:absolute;left:50%;margin-left:-8px;top:38px;z-index:9;}

.zh, .zh1 {
	width: 1100px;
}
a:hover, .zan a:hover {
	color: #2ca6e0;
}
.pagenav span.button a:hover,  #divTags dd ul li a, .sx li a, #nav li a, #frmSumbit .button, .lbfx .nav_submenu li a:hover, .right #divSearchPanel input[type="submit"], #nav>ul>li.hover>ul>li>a:hover, .tg-button input[type="button"], .tg-cj .nobirdtougao input[type="button"], .tougao a:hover, .index-hot li:nth-child(1) i, .index-hot li:nth-child(2) i, .index-hot li:nth-child(3) i, .search-con button {
	background-color: #2ca6e0;
}
.zan a:hover, .tuimg:hover, .right #divSearchPanel dd form, .search-con form {
	border-color: #2ca6e0;
}
#nav span a, #nav>ul>li>a:hover, #nav>ul>li.on>a, #nav>ul>li.hover>a, #nav>ul>li.hover>ul>li>a, #divTags dd ul li a:hover, .sx li a:hover, .tougao a {
	background-color: #24619c;
}
#comments h3, #comments h4 {
	border-left-color: #2ca6e0;
}
@media screen and (max-width: 1100px) {
#nav {
	background-image: url(../images/logo-sj.png);
}
}

@media screen and (max-width: 450px){
.right{ margin-left:0px;}
}
.post .pagenav span.button a{background: #f5f5f5;}
.post .pagenav span.button a:hover{background: #2ca6e0;}

.downstyle2{margin:10px auto;border:1px solid #cedebd;background:#fdfefb;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;padding:10px;overflow:hidden;}
.downstyle2 .img{background-position: 0 0;}
.downstyle2 .pdf{background-position: -40px 0;}
.downstyle2 .doc{background-position: -80px 0;}
.downstyle2 .xls{background-position: -120px 0;}
.downstyle2 .txt{background-position: -160px 0;}
.downstyle2 .audio{background-position: -200px 0;}
.downstyle2 .video{background-position: -240px 0;}
.downstyle2 .ppt{background-position: -280px 0;}
.downstyle2 .exe{background-position: -360px 0;}
.downstyle2 .apk{background-position: -520px 0;}
.downstyle2 .bt{background-position:-440px 0;}
.downstyle2 .fileico{width:35px;height:44px;background: url(images/fileico.png) -400px 0;float:left;}
.downstyle2 .filecont{float:left;padding:0 0 0 10px; text-indent:0 !important; clear:both}
.downstyle2 .filecont .filetit{font-size:14px;line-height:25px;letter-spacing:1px;font-family:"Microsoft Yahei";clear:both}
.downstyle2 .filecont .filetit span{font-size:12px;color:#999;margin-left:10px;float:left;font-family:arial;letter-spacing:0;}
.downstyle2 .filecont .filetit a{margin-right:10px;color:#666;text-decoration:none;display:block;overflow:hidden;white-space:nowrap;float:left;text-overflow: ellipsis;}
.downstyle2 .filecont .filetit a:hover{text-decoration:underline;}
.downstyle2 .filecont .fileaq{height:15px;background:url(images/fileaq.png) no-repeat;padding-left:0px;font-size:12px;color:#73B010;letter-spacing:0;line-height:14px;font-family:arial;}
.downstyle2 .down_2{float:right;}
.downstyle2 .down_2 a{width:130px;height:42px;display:block;background:url(images/down_2.jpg) no-repeat -2px -1px;overflow:hidden;}
.downstyle2 .down_2 a:hover{background:url(images/down_2.jpg) no-repeat -2px -46px;}

.nav2 {
float:left; width:100%
}
.nav2 ul{   
 float:left;
 }
.nav2 ul li{ float:left;margin-bottom: 10px;
    margin-right: 10px;}	
.nav2 ul li a{ 
        box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0 15px 0 15px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    line-height: 40px;background-color: #2ca6e0;}
.nav2 ul li a:hover{    background-color: #24619c;color: #fff;}	
.nav2 ul li .on{    background-color: #24619c;color: #fff;}

#nav,#nav li a {
    background-color: #2ca6e0;
}	

.taglist ul li{ display:inline-block;}
.taglist ul li a{ padding:0px 5px;}