/* CSS Document */

body{ margin:0; padding:0; background:url(../images/bg.jpg) #ebf3f9 repeat-x; color:#666;}
p,ul{ margin:0; padding:0;}
li{ list-style-type:none;}
a img{ border:none;}
a{ color:#666; text-decoration:none;}
a:hover{ color: #c10e12; text-decoration:underline;}
/*head.htm*/
#flash-box{ margin:0 auto;width:1002px; height:280px;}
#flash{ width:1002px; height:280px;}
.cl5{ overflow:hidden; clear:both; height:5px;}
.head{ width:1002px; height:142px;  margin:0 auto; overflow:hidden; background:url(../images/head_bg.jpg) no-repeat;}
.logo{  float:left; width:368px; height:85px;}
.topbox{ width:304px; height:85px; float:right; }
.topadd{width:304px; height:27px; text-align:center; line-height:24px; font-size:12px; text-align:right; margin-top:10px;color:#FFF;}
.topadd a{ color:#FFF;}
.toptel{ width:304px; height:15px; text-align:center;}
.tophot{ width:304px; height:24px; line-height:24px; font-size:16px; font-family:微软雅黑; font-weight:bold; color:#FFF; text-align:right; margin-right:0px;}

.nav{ width:1002px; height:40px; float:left; background:url(../images/nav.jpg) no-repeat; margin-top:15px;}
.nav ul{ float:left;}
.nav ul li{ width:111px; height:48px; float:left; line-height:48px; text-align:center; overflow:hidden;}
.nav ul li a{display:block; width:111px;background:url(../images/nav_line.gif) 0px 2px no-repeat; height:48px; line-height:40px;color:#FFF;font-family:微软雅黑;font-size:15px;font-weight:bold}
.nav ul li a.index{background:none}
.nav ul li a:hover{ text-decoration:none;}

/*index.htm*/
#wrap{ width:1002px; margin:0 auto;}
.main{ clear:both; width:1002px; float:left; padding-top:10px;padding-bottom:10px; background:#FFF;}

.news{ width:511px; height:260px; float:left;margin-left:20px;_margin-left:10px;}
.news-t{ width:511px; height:32px; background:url(../images/news_t.jpg) no-repeat; float:left;}
.news-box{ width:491px; padding:10px;}
.news-box ul{ padding-top:5px; float:left;}
.news-box ul li{ width:489px; height:28px; line-height:28px; border-bottom:1px dashed #CCC; background:url(../images/news_li.jpg) 0 50% no-repeat; font-size:12px; float:left; padding-left:10px;}
.news-in{ float:left; font-size:12px; line-height:24px; width:100%;}
.news-in img{ float:left; margin:5px; border:1px solid #CCC;}


.hdp{ width:219px; height:239px;float:left; margin-left:20px;_margin-left:10px;}
.hdp-t{ width:219px; height:32px; background:url(../images/video_t.jpg) no-repeat;}
.hdp-box{ width:205px; margin:0 auto; padding-top:10px;}
.about{ width:751px; overflow:hidden; margin-right:10px;_margin-right:5px; float:right; overflow:hidden;}
.about-box{ width:730px;background:url(../images/about_bg.jpg) repeat-x;float:left; padding:10px; font-size:12px; line-height:24px;}
.about-t{ width:749px; height:31px; background:url(../images/about_t.jpg) no-repeat; float:left;}
.about-box img{ float:left; padding:1px; border:2px solid #CCC; margin:10px 5px 0 0;}

.show{ width:990px; height:200px; overflow:hidden; float:right; margin:10px 5px 0 0;_margin:10px 2px 0 0;}
.show-t{ width:990px; height:33px;  background: url(../images/show_t.jpg) no-repeat;}
.show-box{ width:725px; float:left; height:400px; background:url(../images/show_bg.jpg) repeat-x; float:left;}

.title{ font-size:14px; float:left; margin:5px 10px; font-weight:bold; color:#FFFFFF;}
.title2{font-size:14px; float:left; margin:10px 15px; font-weight:bold; color:#5d5d5d;}
.notice{ width:985px; height:32px; background: url(../images/notice_bg.jpg) repeat-x; margin:0 auto;}
.date{ float:right; color:#666;}
.date2{ color:#666;float:right;}
.more{ float:right; width:50px; height:30px; display:block;}
/*foot.htm*/
.foot{ clear:both;width:1002px; margin:0 auto; padding-top:10px;padding-bottom:10px;  text-align:center; line-height:24px;background:#d4d4d4; font-size:12px; color:#626262;}
.foot a{ color:#626262;}
.cl10{ clear:both; height:10px; overflow:hidden;}
/*left.htm*/
.left{ float:left; width:220px; overflow:hidden; margin-left:8px;_margin-left:4px;}
.pro-list{ float:left; width:219px; margin-bottom:10px; background:#FFF; }
.pro-list-t{ float:left; height:31px; width:219px; background: url(../images/pro_list_t.jpg) no-repeat;}
.pro-list-box{ float:left; width:217px; border:1px solid #CCC;}
.pro-list-box ul{ width:206px; margin:0 auto; padding-top:10px;}
.pro-list-box ul li{ width:176px; font-size:12px; line-height:33px; height:27px; padding-left:30px; font-size:12px; background:url(../images/pro_list_li.jpg) no-repeat; margin:5px auto;}

.contact{ width:219px; float:left;}
.contact-t{ width:219px; height:31px; background:url(../images/cont_t.jpg) no-repeat;}
.contact-box{ width:196px; border:1px solid #CCC; font-size:12px; line-height:24px; padding:70px 10px 10px 10px; background:url(../images/cont_pic.jpg) 5PX 5PX no-repeat;}

/*其它页面*/
.all{ float:right; width:751px;overflow:hidden; font-size:12px; margin-right:10px; _margin-right:5x;}
.postion{ width:120px; height:35px; line-height:35px; float:right; margin-right:10px;}
.all-t{float:left;height:31px;width:751px; background:url(../images/all_t.jpg) no-repeat; overflow:hidden;}
.all-bottom{float:left;height:10px;width:746px; background:url(../images/all_bottom.jpg) no-repeat; overflow:hidden;}
.all-box{width:726px;float:left;  background: url(../images/all_bg.jpg) repeat-y; font-size:14px; line-height:24px; padding:10px;}
.xw,.product-box{ margin:0 auto; width:100%;font-size:12px; line-height:24px; float:left;}
.xw ul li{ float:left; list-style-type:none; width:675px; height:30px; line-height:30px; background:url(../images/news_li.jpg) 5px 50% no-repeat; font-size:12px; padding-left:15px; border-bottom:1px dashed #CCC; margin-left:10px;}
.mid{ width:920px; clear:both; margin:0 auto;}
.honor-box ul,.product-box ul{ clear:both; width:100%; margin:0 auto;}
.product-box ul li{ float:left; list-style-type:none; width:200px; height:180px; font-size:12px; text-align:center; margin:10px 20px;_ margin:10px;line-height:24px;}
.product-box ul li img {border:1px solid #CCC; padding:1px; width:200px; height:150px;}
.page{ float:left; margin:10px;line-height:30px;height:30px;width:95%;text-align:center;border:1px solid #CCC;-moz-border-radius: 3px;-khtml-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px; color:#CCC; background:#ededed; font-size:12px;}
.honor-box ul li{ width:200px; height:180px; float:left; text-align:center; margin:10px 8px; line-height:24px;font-size:12px; }
.honor-box ul li img {border:1px solid #CCC; padding:1px; width:200px; height:150px;}
#newTitle{color:#f00;font-size:14px;text-align:center;text-align:center;}
#newTitle strong{font-size:14px;}
#newsContent{margin-bottom:16px; font-size:14px;}
#newsInfo{margin:0px;:normal;text-align:center; font-size:12px;}
.infoClass{	margin:0px;	margin-bottom:10px;	line-height:12px; font-size:12px;}
#infoImage{text-align:center;margin:10px 0;}
#infoImage img{padding:1px; border:1px solid #CCC;}

/*GUESTBOOK PAGE*/
.borderLi{	border-bottom:1px dashed #CCC;margin-bottom:6px;padding-bottom:6px; list-style-type:none;}
.G_InputText{width:160px;height:16px;border:1px solid #CCC;}
.G_textarea{width:300px;height:100px;border:1px solid #CCC;}
.G_ul{width:600px;margin:0 auto;line-height:26px;font-size:12px;}
.G_botton{width:55px;height:29px;line-height:29px;border:0;background:url(button.gif) no-repeat;cursor:pointer; border:1px solid #CCC; list-style-type:none;}
.G_tips{width:486px;margin:10px auto 0 auto;border:1px solid #CCC;padding:7px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;box-shadow: 0px 0px 3px rgba(0,0,0,.1);-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.1);-moz-box-shadow: 0px 0px 3px rgba(0,0,0,.1);}

.page{line-height:30px;padding-left:5px}
.page ul{float:left;}
.page ul li{float:left;font-family:Tahoma;line-height:30px;margin-right:6px;}
.page ul li a{float:left;color:#555;display:block;}
.page ul li a:hover{color:#3772B4;text-decoration:none;}
.page ul li.thisclass,.page ul li.thisclass a,.pagebox ul li.thisclass a:hover{font-weight:bold;}
.page .pageinfo{line-height:21px;color:#999;}
.page .pageinfo strong{color:#555;font-weight:normal;margin:0px 2px;}
