  <div id="footermain">
<!-- 页脚【start】 -->
<div id="footer">
    <div class="copyright">
    <style type="text/css">
        .mb_foot_block {position:relative;}
        .mb_foot_block a{display:inline;}
    </style>
    <div id="MODBLK_224" class="mod_block mb_foot_block">
<div class="com_con">
{dede:global.cfg_webname/}<br></div><div class="list_bot"></div>
</div></div>
</div>
<script type="text/javascript" language="javascript" src="templets/lanse/style/picAutoZoom.js"></script>
<script type="text/javascript" language="javascript">
<!--
    $.ajaxSetup({
        timeout: 300000
    });
//-->
</script>
<!-- 页脚【end】 -->
</div>
