<div id="main_div">
<div id="top">
<div id="header">
<div id="logo">
<div id="MODBLK_222" class="mod_block media_image mb_logo_block">
<div class="flash_image">
<img src="{dede:global.cfg_templets_skin/}/images/logo.png" alt="">
</div>
</div></div>
<div class="tel"></div>
</div> </div>
<div id="mainnav">
 <div id="nav">
	<div id="MODBLK_225" class="mod_block mb_56YrvV58_block">
<div class="nav_l"></div>
	<ul id="nav_oPaXvv" class="navigation">
	<li><a href='/'>首页</a></li>
	{dede:channel type='top' row='10'}
<li><a href='[field:typeurl/]' [field:rel/]>[field:typename/]</a></li>
{/dede:channel}
<div class="nav_r"></div>
</div>
</div></div>
 <div id="banner">
	<div id="MODBLK_223" class="mod_block media_image mb_banner_block">
<div class="flash_image">
<img src="{dede:global.cfg_templets_skin/}/images/banner1.png" alt="">
</div>
</div></div></div>
