<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="applicable-device" content="pc" />
<meta name="location" content="province={dede:global.cfg_province/};city={dede:global.cfg_city/}" />
<title>{dede:global.cfg_webname/}</title>
<script language="JavaScript" type="text/javascript" src="/js/uadirect.js"></script>
<meta http-equiv="mobile-agent" content="format=html5;url={dede:global.cfg_waphost/}/" />
<meta name="mobile-agent" content="format=xhtml;url={dede:global.cfg_waphost/}" />
<meta name="description" content="{dede:global.cfg_description/}" />
<meta name="keywords" content="{dede:global.cfg_keywords/}" />
<link rel="stylesheet" type="text/css" href="{dede:global.cfg_templets_skin/}/style/style.css">
<!--  页面头部【end】 -->
<link rel="canonical" href="{dede:global.cfg_basehost/}">
</head>
<body class="body1">
<div id="getValues" value="index" style="display: none;"></div>
<div id="getParams" value="a:2:{s:2:"_m";s:9:"frontpage";s:2:"_a";s:5:"index";}" style="display: none;"></div>
<div id="main_div1">
{dede:include filename="head.htm"/}
<div id="mainmain">
	<div id="main_con">
<div class="web_bg">
<div id="leftmain">
<div id="left">
<div id="MODBLK_524" class="mod_block mb_Jlta3ei9_block">
<h3 class="blk_t">公司简介</h3>
<div class="list_con company_intro">
{dede:global.cfg_about/}
<div class="list_more"><img src="{dede:global.cfg_templets_skin/}/images/more_37.jpg" border="0" height="9" width="32"></div>
</div><div class="list_bot"></div>
</div>
<div id="MODBLK_520" class="mod_block mb_pTMgcugI_block">
<h3 class="blk_t">最新产品</h3>
<div class="newprod">
<div class="newprod_top"></div>
<div class="newprod_con">
<div class="pro_over"><table class="media_grid" cellspacing="4" width="100%">
<tbody>
<tr>{dede:arclist typeid='3' row='4' limit='0,4'}
<td>
	<div class="newprod_list">
		<div class="newprod_pic">
				<a href="[field:arcurl/]" target="_blank" title="[field:title/]" class="img">
				<img style="width: 133px; padding: 0px;" name="picautozoom" src="[field:picname/]" class="prodthumb" border="0"></a>
				</div>
				<div class="newprod_name">
				<a href="[field:arcurl/]">[field:title/]</a>
				</div>
				<div class="newprod_intr">
				分类: <a href="[field:arcurl/]">[field:typelink/]</a>
				</div>
				<div class="blankbar1"></div>
			</div>
			</td>
			{/dede:arclist}
</tr>
<tr>{dede:arclist row='4' limit='4,6'}
<td>
	<div class="newprod_list">
		<div class="newprod_pic">
				<a href="[field:arcurl/]" target="_blank" title="[field:title/]" class="img">
				<img style="width: 133px; height: auto; padding: 0px;" name="picautozoom" src="[field:picname/]" class="prodthumb" border="0"></a>
				</div>
				<div class="newprod_name">
				<a href="[field:arcurl/]">[field:title/]</a>
				</div>
				<div class="newprod_intr">
				分类: <a href="[field:arcurl/]">[field:typelink/]</a>
				</div>
				<div class="blankbar1"></div>
			</div>
			</td>
			{/dede:arclist}
</tr>
</tbody>
	</table>
</div>
	</div>
	<div class="list_bot"></div>
</div>
	<div class="blankbar"></div>
</div>
	</div>
   </div>
  <div id="right">
<div id="MODBLK_511" class="mod_block mb_52fDqsNE_block">
<h3 class="blk_t">新闻动态</h3>
<div class="list_main">
	<div class="list_con">{dede:arclist row='8' orderby='pubdate'}
	<ul class="titlelist">
	<li><a href="[field:arcurl/]" target="_blank" title="[field:title/]">[field:title/]</a></li>
	</ul>
	{/dede:arclist}
</div>
<div class="list_bot"></div>
</div>
<div class="blankbar"></div>
</div>
<div id="MODBLK_525" class="mod_block mb_5abjCCXZ_block">
<h3 class="blk_t">友情链接</h3>
<div class="list_main">
<div class="list_con">
<ul class="flink_index">
{dede:flink row='24'}<li>[field:link/]</li>{/dede:flink}
<!--links_start-->
<!--links_end-->
</ul><div class="blankbar1"></div>
</div>
	<div class="list_bot"></div>
</div>
<div class="blankbar"></div>
</div>
</div>
  <div class="blankbar"></div>
	</div>
  </div>
  <div id="main_bottom"></div>
{dede:include filename="footer.htm"/}
</div></div>
</body>
</html>
