@charset "utf-8";
/* Style Reset*/
body, div, dl, dt, dd, ul, ol, li, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, h1, h2, h3, h4, h5, h6, article, section, aside, address, .header-top, .mainr_page{margin: 0;padding: 0;border: 0;}
input, button, textarea,select, optgroup, option{font-family: inherit;font-size: 100%;font-style: inherit;font-weight: inherit;}
ul, li, dl, dt, dd, ol{display: block;list-style: none;}
img{border: 0;}
.fl{float: left;}
.fr{float: right;}
.clear{clear: both;height: 0px;overflow: hidden;}
a{text-decoration: none;outline: 0;}
html{overflow-x: hidden;background-color: #0a6e85;}
.center{text-align: center;}
body{background: #fff;font-size: 14px;}
.header-top{width: 100%;overflow: auto;min-width: 1004px;height: 110px;background-image: url(../images/foot.jpg);background-repeat: repeat-x;background-position: center -35px;overflow: hidden;}
.headermain{width: 980px;height: 110px;margin: 0 auto;}
.logo h1{display: inline;}
.logo{display: block;float: left;width: 300px;height: 100%;border: 0;margin-top: 20px;overflow: hidden;}
.kouhao{float: left;display: inline;width: 300px;height: 80px;margin-top: 10px;border: 0;}
.header-tel{float: right;width: 272px;height: 80px;margin-top: 25px;padding-right: 10px;border: 0;}
.banner{float: left;width: 100%;position: relative;margin-bottom: 0px;height: 470px;}
.bannerimg{width: 100%;text-align: center;position: absolute;top: 0;z-index: 0;background: url(/skin/custom/images/slide0.jpg) no-repeat center 0;height: 470px;text-indent: -9999em!important;}
.bannerimg mip-img{display: none;}
.banner img{display: block;margin: 0 auto;width: 100%;}
.bottom-tools{display: none;}
.pro_hr{height: 6px;border: none;border-top: 6px groove skyblue;}
.pro_tips{padding-right: 15px;padding-left: 15px;text-indent: 2em;}
.red{color: red;}
/* indMain*/
.content{width: 1004px;float: left;background: url(../images/main_min.jpg) center bottom repeat-y;}
.main_tools,.main{width: 980px;overflow: auto;clear: both;margin: 0 auto;}
.title_view_tools{float: left;width: 950px;margin-left: 2px;margin-bottom: 10px;height: 35px;padding-bottom: 27px;line-height: 35px;}
.title_view_tools .fl{float: left;font-size: 24px;color: #23b0cd;padding-left: 40px;font-family: 微软雅黑;background: url(../images/titleview.gif) no-repeat 14px center;}
.title_view_tools .fr,.title_view_tools .fr a{color: #777}
.title_view_tools .fr{margin-top: 3px;padding-right: 14px;}
.title_view_tools .fr font{color: #23b0cd;}
.notice{width: 100%;z-index: 2;float: left;left: 0;height: 90px;float: left;position: absolute;bottom: 20px;color: #23b0cd;background: url(../images/notice.png) bottom center no-repeat;}
.noticemain{width: 980px;margin: 0 auto;height: 90px;}
.notice b{float: left;display: inline;height: 90px;margin-left: 22px;width: 103px;background: url(../images/noticeb.png) center left no-repeat;}
.notice .tejian{float: left;width: auto;display: inline;margin-top: 10px;}
.notice .tejian li{float: left;width: 200px;}
.notice .tejian img{float: left;height: 50px;width: 76px;display: inline;margin: 5px;}
.notice .tejian h3{white-space: pre-wrap;height: 50px;overflow: hidden;text-overflow: ellipsis;line-height: 25px;display: inline-block;text-indent: 2px;padding: 0px;margin-top: 10px;margin-right: 0px;margin-bottom: 0px;margin-left: 10px;width: 90px;}
.search{position: relative;float: right;padding-top: 12px;margin-right: 12px;height: 34px;display: inline}
.text{float: left;width: 244px;margin-right: 7px;color: #a1a1a1;height: 30px;line-height: 30px;padding-left: 5px;background: url(../images/text.png) top left no-repeat;}
.button{vertical-align: middle;float: left;width: 55px;height: 30px;background: url(../images/button.png) top left no-repeat;margin-left: 8px;display: inline;}
.select{float: left;width: 84px;color: #948641;height: 30px;border: 0;background: url(../images/select.gif) left top no-repeat;}
.select select{margin: 5px auto;width: 74px;}
.searchBar span{float: right;margin-top: 6px;}
.searchBar span a{color: #666;margin-right: 8px;}
.searchBar span a:hover{color: #ef9b11;}
.searchBar .select{float: left;margin-top: 1px;display: inline;margin-right: 8px;}
.searchBar .text{float: left;}
.searchBar .text input{width: 214px;padding-top: 3px;height: 17px;border: 1px solid #b7d1eb;}
div.selectbox-wrapper{border-right: #b7d1eb 1px solid;border-top: #b7d1eb 0 solid;overflow: hidden;border-left: #b7d1eb 1px solid;width: 76px;border-bottom: #b7d1eb 1px solid;position: absolute;background: #fff;text-align: left;*margin-top: 0;z-index: 10;}
div.selectbox-wrapper ul li.selected{background-color: #e0ecf7;}
div.selectbox-wrapper ul li.current{color: #fff;background-color: #36c}
div.selectbox-wrapper ul li{text-align: center;padding-right: 3px;padding-bottom: 3px;width: 81px;cursor: pointer;line-height: 20px;padding-top: 3px;font-family: '微软雅黑';color: #666;}
.selectbox{border: none;display: block;width: 84px;text-indent: 8px;cursor: pointer;height: 30px;background: none;font-family: '微软雅黑';color: #656565;line-height: 30px;}
.btn{float: left;display: inline;margin-left: 8px;margin-top: 2px;}
.news{float: left;width: 576px;padding-top: 10px;padding-right: 28px;overflow: hidden;}
.news_t{float: left;width: 576px;height: 84px;background: url(../images/news_t.gif) top left no-repeat;}
.news_t2{float: left;width: 576px;height: 84px;background: url(../images/news_t2.gif) top left no-repeat;}
.more{background: #23b0cd;color: #fff;margin-top: 56px;padding: 0 4px;line-height: 16px;height: 16px;float: right;}
.new_pic{float: left;width: 144px;overflow: hidden;height: 164px;border: 8px ridge #F3F3F3;}
.new_poin{float: left;width: 410px;}
.pointer,.pointer_img{float: left;width: 100%;display: inline;}
.pointer li{float: left;width: 100%;}
.pointer li a{float: left;width: 95%;color: #666;line-height: 35px;background: url(../images/newsico.gif) 5px center no-repeat;padding-left: 28px;}
.pointer li a:hover{color: #23b0cd;}
.pointer li .fl{float: left;width: 70%;cursor: pointer;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.products{float: left;padding-top: 10px;width: 375px;overflow: hidden;}
.products_t{float: left;width: 375px;height: 84px;background: url(../images/products_t.gif) top left no-repeat;}
.pointer_img img{float: left;width: 124px;border: thin solid #EBEBEB;margin: 2px;height: 124px;overflow: hidden;}
.products_t2{float: left;width: 375px;height: 84px;background: url(../images/products_t2.gif) top left no-repeat;}
.products .pointer li .fl{width: 96%;}
.case{float: left;width: 100%;margin-top: 23px;margin-bottom: 17px;}
.hengfu{margin: 0 auto;width: 980px;}
.indextu{margin: 0 auto;width: 980px;padding: 10px 0px;}
.case_t{float: left;width: 100%;overflow: hidden;}
.case_t .more{margin-top: 5px;padding: 10px;}
.case_t .fl{float: left;width: 120px;height: 41px;line-height: 41px;color: #fff;text-shadow: 1px 0 0 #1d282f;font-size: 20px;font-family: 微软雅黑;padding-left: 30px;background: url(../images/case_t.jpg) top center no-repeat;}
.casemain{height: 230px;float: left;width: 100%;background-color: #F7F7F7;}
.mip-scrollbox{padding: 25px 25px;}
mip-scrollbox [data-item]{margin-right: 20px;}
.case ul{float: left;padding-left: 15px;}
.case ul li{float: left;width: 208px;display: inline;margin: 0 6px 20px;}
.proimg{float: left;border: 1px solid #a6d6e0;margin-bottom: 2px;padding: 2px;background: #fff}
.titletxt{float: left;line-height: 23px;height: 23px;width: 480px;margin-top: 1px;background-image: url(../images/wen.gif);background-repeat: no-repeat;background-position: left center;text-indent: 35px;}
.titletxt a{}
.protxt{float: left;border: 1px solid #a6d6e0;line-height: 23px;height: 23px;width: 208px;margin-top: 1px;}
.protxt a{float: left;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;color: #23b0cd;background: url(../images/proico.gif) 8px center no-repeat #fff;padding-left: 22px;width: 186px;}
.protxt a:hover{color: #000;background: url(../images/proico01.gif) 8px center no-repeat #a6d6e0;}
.partFourM{width: 980px;margin: 0 auto;}
.left{width: 30px;padding-right: 10px;background: url(../images/left.gif) bottom center no-repeat;float: left;height: 40px;padding-top: 92px;}
.right{width: 30px;padding-left: 10px;text-align: right;float: left;height: 40px;padding-top: 92px;background: url(../images/right.gif) bottom center no-repeat;}
.partFourCon{width: 940px;padding: 30px 0px 0;margin: 0 auto;overflow: hidden;height: 130px;}
.partFourCon li{float: left;width: 208px;display: inline-block;margin-right: 22px;margin-bottom: 22px;}
.experts{float: left;width: 960px;padding-right: 18px;color: #9b9b9b;}
.experts_t{float: left;width: 960px;height: 78px;margin-bottom: 5px;background: url(../images/experts_t.jpg) left top no-repeat;}
.experts_j{float: left;width: 980px;height: 78px;margin-bottom: 5px;background: url(../images/experts_j.jpg) left top no-repeat;color: #FFFFFF;text-indent: 10em;}
.experts_t a{margin-top: 59px;}
.experts_t .fl{float: right;width: 90px;padding-right: 72px;background: url(../images/productmore.gif) right top no-repeat;}
.experts ul li{float: left;width: 450px;display: inline;margin-top: 10px;margin-right: 3px;margin-bottom: 0px;margin-left: 16px;}
.experts ul li p{line-height: 1.5;}
.experts .protxt{width: 450px;overflow: hidden;}
.experts ul li .da{font-weight: bold;color: #0000FF;}
.experts .protxt a{background: url(../images/proico2.gif) 6px center no-repeat;}
.experts .protxt a:hover{background: url(../images/proico1.gif) 6px center no-repeat #a6d6e0;}
.pronav{float: left;width: 560px;padding-top: 7px;padding-left: 62px;}
.pronav a{float: left;padding: 0 8px;color: #0f5759;border-right: 1px solid}
.contact{float: left;width: 340px;color: #9b9b9b;overflow: hidden;}
.contact_t{float: left;width: 341px;height: 85px;background: url(../images/contact_t.gif) 30px 6px no-repeat;margin-bottom: 10px;}
.contact_t a{float: left;display: inline;width: 92px;height: 16px;margin-top: 40px;margin-left: 192px;}
.contactmain{padding: 5px 0 10px 30px;float: left;width: 311px;line-height: 27px;}
.contact img{border: 2px solid #e1e1e1;float: left;}
/* footer*/
footer{height: auto;width: 100%;min-width: 1004px;float: left;background: #0a6e85 url(../images/foot.jpg) repeat-x top center;color: #70abad;overflow: hidden;}
footer .main .bottomnav{margin-top: 5px;height: 58px;line-height: 20px;}
footer .main .bottomnav a{margin-left: 10px;color: #FFF;}
footer a{color: #73aab7;}
footer .main .main dl{margin-top: 12px;margin-left: 12px;width: 730px;float: left;height:430px;overflow: hidden;}
footer .main .main dl dd{padding: 4px;}
footer .main .main dl:first-child{margin-left: 0px;width: 180px;}
footer .main .main dl dt{font-size: 22px;padding: 5px;}
footer .main .main .tags dd{float: left;}
.links{width: 980px;float: left;height: auto;line-height: 18px;font-size: 10px;overflow: hidden;}
.links a{padding-right: 5px;color: #73aab7;}
.links b{float: left;font-weight: normal;padding-left: 8px;}
footer a:hover,.bottomnav a:hover{color: #fff}
.bootTxt{text-align: left;width: 972px;float: left;padding-left: 8px;line-height: 30px;}
/* list*/
.fyMain{width: 980px;margin: 0 auto 0;overflow: auto;clear: both;}
.wrap{width: 980px;float: left;overflow: hidden;}
.fyLeft{float: left;width: 265px;overflow: hidden;padding-right: 34px;}
.l_news{float: left;width: 265px;padding-bottom: 20px;}
.l_news_t{float: left;width: 265px;height: 54px;background: url(../images/l_news.gif) no-repeat top left;}
.l_news_tuijian{float: left;width: 265px;height: 54px;background: url(../images/tuijian.gif) no-repeat top left;}
.l_news_tuijian a,.l_news_t a{float: right;margin-top: 37px;}
.l_news ul{float: left;width: 100%;padding-top: 15px;}
.l_news ul li{float: left;width: 100%;border-bottom: 1px dotted}
.l_news ul li a{float: left;width: 250px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;line-height: 35px;padding-left: 15px;background: url(../images/l_newsico.gif) no-repeat 6px center;color: #777;}
.l_news ul li a:hover{color: #23b0cd}
.l_pro{float: left;width: 265px;margin-bottom: 20px;}
.l_pro_t{float: left;width: 265px;color: #23b0cd;line-height: 40px;font-size: 24px;font-family: 微软雅黑;font-weight: bold;height: 53px;background: url(../images/l_pro.gif) no-repeat top center;}
.l_procon{float: left;width: 265px;overflow: hidden;padding-top: 15px;margin-top: 0px;}
.proOne{width: 265px;float: left;overflow: hidden;margin-bottom: 7px;}
.proOne a{width: 265px;color: #6d6d6d;text-align: center;line-height: 33px;float: left;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;background: url(../images/l_pro.jpg) no-repeat bottom center;}
.proOne a:hover{color: #1a849c;background: url(../images/l_pro.jpg) no-repeat top center;}
.proOne .cur{color: #1a849c;background: url(../images/l_pro.jpg) no-repeat top center;}
.proTwo{float: left;line-height: 25px;text-align: center;padding: 10px 0;}
.proTwo li{width: 265px;float: left;}
.proTwo li a{float: left;color: #777;line-height: 27px;width: 265px;text-align: center}
.proTwo li a:hover{float: left;color: #0B375E}
.address{float: left;width: 265px;margin-bottom: 20px;}
.address .contact_t{float: left;background: url(../images/l_contact.gif) no-repeat top left;height: 63px;width: 265px}
.address .contact_t a{float: left;margin: 38px 0 0 160px;display: inline;width: 95px;height: 16px;}
.address .contactmain{padding: 0;color: #9b9b9b;width: 265px;line-height: 26px;}
/* fyRight
-----------------------------------------------------------------------------------------------------*/
.fyRight{float: left;width: 680px;overflow: hidden;margin-bottom: 20px;background: url(../images/mainmin.gif) repeat-y top left;}
.title_view{float: left;width: 676px;margin-left: 2px;margin-bottom: 10px;height: 35px;padding-bottom: 27px;background: url(../images/titlebg.jpg) no-repeat bottom left;line-height: 35px;}
.title_view .fl{float: left;font-size: 22px;color: #23b0cd;padding-left: 40px;font-family: 微软雅黑;background: url(../images/titleview.gif) no-repeat 14px center;}
.title_view .fr,.title_view .fr a{color: #777;font-size:12px;}
.title_view .fr{margin-top: 3px;padding-right: 14px;}
.title_view .fr font{color: #23b0cd;}
.mainRightMain{float: left;width: 680px;padding-bottom: 20px;background: url(../images/mainbot.gif) no-repeat bottom left;min-height: 640px;_height: 640px;color: #555;}
.maintop{bord/er: 1px solid #f00;background: url(../images/maintop.gif) no-repeat top left;float: left;width: 680px;height: 18px;}
.padding25{padding: 0 25px;line-height: 30px;}
.padding25 h1{padding: 0 25px;line-height: 30px;font-size: 18px;}
.mainr_line{float: left;height: 18px;width: 99%;background: url(../images/line_s.gif) top left repeat-x;}
.tip{padding: 20px;}
/* news.php
----------------------------------------------------------------------------------------------------*/
.pro_list{float: left;padding: 0 0 0 12px;margin-bottom: 20px;}
.pro_list li{float: left;display: inline;margin-right: 11px;overflow: hidden;height: 191px;width: 210px;}
.news_list{float: left;width: 640px;padding: 0 20px;margin-bottom: 20px;}
.news_list li{float: left;width: 640px;line-height: 26px;margin-bottom: 3px;}
.news_list li a{float: left;width: 640px;height: 26px;line-height: 26px;color: #575757;border: 1px solid #f0f0f0;background: url(../images/newslist.gif) 7px center no-repeat;}
.news_list li a:hover{background: url(../images/newslist.gif) 7px center no-repeat #c5dce1;color: #575757;border: 1px solid #9ec4cc;}
.news_list li a span{cursor: pointer;}
.news_list li .fl{width: 400px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;padding-left: 22px;}
.news_list li .fr{margin-right: 10px;}
.news_line{clear: both;width: 687px;height: 18px;margin: 18px 0;}
.news_list p{padding: 10px 20px;line-height: 20px;color: #ccc;}
.pro_txtimg{float: left;padding: 0 0 0 20px;margin-bottom: 20px;}
.pro_txtimg li{float: left;width: 640px;padding-bottom: 27px;}
.pro_li_img{float: left;margin-right: 10px;}
.pro_img{float: left;margin: 3px;}
.pro_li_txt{float: left;width: 418px;color: #555;line-height: 28px;}
.pro_t{float: left;background: #c5dce1;border: 1px solid #9ec4cc;width: 100%;height: 23px;line-height: 23px;margin-bottom: 13px;}
.pro_t .fr{margin-right: 7px;}
.pro_t font{float: left;color: #1e869e;height: 23px;display: inline;margin-right: 6px;margin-left: 10px;}
.protitle{float: left;width: 200px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.pro_t a{color: #1e869e;}
/*news_view
----------------------------------------------------------------------------------------------------*/
.viewp span{background: #3a3a3a;color: #fff;float: left;height: 23px;line-height: 23px;padding: 0 8px;}
.proviewtxt p font{color: #f10000;font-family: 宋体;font-size: 16px}
.mainRightMain h2{font-size: 18px;font-family: 黑体;font-weight: normal;color: #23b0cd;}
.padding20{float: left;width: 583px;text-align: justify;padding: 0 30px 0 35px;}
.title_s,.title_s a{text-align: center;color: #bfbfbf;line-height: 35px;}
.conbanner{float: left;width: 100%;}
.mainrbanner{border: 1px solid #dbdbdb;width: 306px;margin: 0 auto 20px;}
.mainrbanner img{border: 3px solid #fff}
.line_s{float: left;width: 96%;height: 8px;margin: 8px 0 15px 10px;display: inline;border-bottom: 1px dashed #BEC0BF;}
.newsview{min-height: 400px;display: inline;width: 640px;border-bottom: 1px dashed #BEC0BF;margin-bottom: 25px;padding-bottom: 15px;_height: 400px;line-height: 28px;float: left;color: #555;}
.newsview u a,.mainRightMain .returnlist a,.pb .pagebox a,.mainRightMain returnlist a{color: #23b0cd;}
.pagebox p{text-indent: 2em;}
.newsview img{margin-top: 8px 8px 0px 0px;max-width: 600px;autoimg: expression(onload=function(){this.style.width=(this.offsetWidth > 630)?"630px":"auto";});}
.main_r_nav div{line-height: 25px;color: #3b3652;white-space: nowrap;overflow: hidden;}
.main_r_nav{float: left;width: 100%;}
.returnlist{float: left;color: #23b0cd;font-size: 25px;clear: both;width: 100%;text-align: center;border-top-width: thin;border-top-style: dashed;border-top-color: #CCCCCC;margin-top: 20px;padding-top: 15px;}
.main_r_nav span a,.returnlist a,.main_r_nav a{color: #23b0cd;width: 80%;cursor: pointer;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
/* page
-----------------------------------------------------------------------------------------------------*/
.mainr_page{padding-left: 15px;}
.mainr_page a{height: 19px;line-height: 19px;color: #23b0cd;border: 1px solid;padding: 0 7px;text-align: center;margin: 0 2px;}
.mainr_page a:visited{height: 19px;line-height: 19px;color: #FF0000;border: 1px solid;padding: 0 7px;text-align: center;float: left;margin: 0 2px;}
.pager-taglib{white-space: nowrap;color: #23b0cd;line-height: 30px;padding: 0px;float: none;overflow: hidden;margin: 0px;clear: both;}
/*page end*/
/* search
-----------------------------------------------------------------------------------------------------*/
.searchnull{float: left;text-align: center;width: 100%;padding: 3% 0;}
.searchnull font{color: #F00;}
.searchmore{float: left;width: 94%;background: #efefef;text-align: center;margin: 10px 20px;_margin: 10px;border: 1px solid #dbd6f1}
.searchmore a{line-height: 25px;color: #333;}
.input_title{background: none;line-height: 30px;height: 30px;padding-left: 7px;}
/* book*/
.book{float: left;padding-left: 15px;}
.bookmain{width: 650px;margin: 20px auto;height: auto;background: #fff;padding: 0 25px;overflow: auto;}
.bookline{width: 650px;height: 34px;background-image: url(../images/about_box_line.jpg);background-repeat: repeat-x;background-position: 0 0;float: left;margin-top: 10px;}
.book3{width: 650px;margin: 0 auto;}
.booktop{width: 650px;height: 30px;float: left;background: url(../images/bookico.png) no-repeat 10px 7px;margin-top: 20px;}
.booktop_name{width: 470px;height: 30px;float: left;color: rgb(30,54,1);padding-left: 30px;line-height: 30px;font-weight: bold;}
.booktop_time{width: 150px;height: 30px;float: left;color: rgb(30,54,1);text-align: right;line-height: 30px;}
.bookcontent{width: 628px;min-height: 40px;height: auto!important;height: 40px;float: left;border: 1px solid #d6deef;background: url(../images/bookcontentbg.jpg) repeat-x;background-color: #fff;padding: 10px;color: rgb(30,54,1);}
.bookadmin{width: 650px;height: auto;float: left;}
.bookadmin_top{width: 650px;height: 12px;float: left;}
.bookadmin_mid{width: 628px;min-height: 30px;background: #fff;height: auto!important;height: 30px;border-left: 1px solid #d6deef;border-right: 1px solid #d6deef;border-bottom: 1px solid #d6deef;float: left;padding: 10px;color: rgb(30,54,1);}
.admintimecol{color: #5e7194;}
.message{width: 600px;height: auto;float: left;padding-left: 50px;}
.message li{width: 500px;height: 40px;float: left;margin: 0px;padding: 0px;cur/sor: pointer}
.message li input{height: 20px;line-height: 20px;width: 150px;border: 1px solid #ccc;}
.message li p.message_title{width: 100px;height: 25px;float: left;text-align: right;line-height: 20px;}
.message li p.message_content{width: 400px;height: 25px;float: left;}
.message li.contentb{width: 500px;height: 160px;float: left;}
.message li.contentb textarea{width: 370px;height: 120px;}
.message li.yzm{width: 500px;height: 60px;float: left;}
.message li p.message_yzminput{width: 100px;height: 15px;float: left;}
.message li p.message_yzminput input{width: 80px;}
.message li p.message_yzmico{width: 100px;height: 40px;float: left;}
.message li p.message_sub{width: 200px;height: 40px;float: left;text-align: right;}
.message_content textarea{border: 1px solid #ccc;}
.liucheng{width: 990;margin: 0 auto;text-align: center;padding: 0 0 10px 0;}
.taglib{text-align: center;line-height: 23px;padding: 20px;width: 640px;}
.yisheng{border-bottom: #666 dotted 1px;clear: both;overflow: hidden;padding-bottom: 10px;}
.yisheng h3{line-height: 30px;float: left;}
.yisheng img{float: left;height: 100px;width: 100px;margin-right: 5px;}
.yisheng img{float: left;height: auto;width: 100px;margin-right: 5px;}
.yisheng p{float: left;text-indent: 0em;text-align: left;text-overflow: ellipsis;overflow: hidden;}
.yisheng p a{float: left;margin-right: 10px;width: 100px;}
.yisheng span{float: right;line-height: 30px;}
.yisheng a:link,.yisheng a:visited{color: #23b0cd}
.yisheng a:hover{color: #FF9900}
.font14{font-size: 16px;}
/*首页代孕价格*/
.tc{width: 100%;float: left;}
.bk1rig{float: left;width: 100%;padding-top: 7px;padding-bottom: 7px;}
.bk1tit{width: 100%;height: 33px;padding-top: 7px;padding-bottom: 7px;}
.bk1tit a{color: #0e68be;}
.bk1tit ul li{display: block;width: 150px;height: 51px;line-height: 50px;float: left;font-family: "Microsoft Yahei";text-align: center;margin-right: 25px;font-size: 16px;margin-top: 7px;background-color: #F0F0F0;border: thin solid #E4E4E4;color: #23b0cd;}
.bk1tit ul .navbk1{background-color: #23b0cd;color: #FFFFFF;}
.bk1tit ul .navbk1{}
.navbk1 a,.navbk1 a:hover{color: #fff;text-decoration: none;}
.bknewlie{display: block;width: 100%;margin-top: 17px;float: left;}
.bknewlie li{display: block;width: 980px;line-height: 2em;float: left;text-indent: 2em;}
/*弹窗lrtk*/
/*
.menu{left:0; float:left; width:100%; position:absolute; height:69px; top:-3px;background:url(../images/menu.png) center top no-repeat; z-index:2;}
.menu ul{width:984px; margin:0 auto;height:69px;}*/
#sddm li{float: left;display: inline;text-align: center;width: 90px;margin-left: 17px;}
#sddm li a{display: block;width: 100%;line-height: 74px;text-align: center;height: 74px;color: #004b4d;text-shadow: 1px 2px 3px #d9d9d9;font-family: 微软雅黑;}
#sddm li a:hover,#sddm li .cur{color: #fff;text-shadow: 1px 2px 3px #1c95ae;background: url(../images/menuhover.jpg) center no-repeat;}
/*.menu li img{margin-top:25px;}*/
#sddm div{position: absolute;visibility: hidden;margin: -20px 0 0 0px;*margin-left: -45px;padding: 0;border: 1px solid #16A1BE;background: rgba(255, 255, 255, 0.8)!important;
/*实现FF背景透明，文字不透明*/filter: Alpha(opacity=80);background: #fff;
/*实现IE背景透明*/}
#sddm div a{position: relative;display: block;margin: 0;height: 35px;line-height: 35px;padding: 0px 10px;width: auto;white-space: nowrap;text-align: center;text-decoration: none;color: #16A1BE;font-family: arial;font-weight: bolder;}
#sddm div a:hover{color: #FFFFFF;background: #129DBA;}
/*案例展示样式开始*/
.tabpic *{margin: 0;padding: 0;list-style-type: none;}
.tabpic a,img{border: 0;}
.tabpic a,.tabpic a:visited{color: #FFFFFF;text-decoration: none;}
.tabpic a:hover{color: #4183C4;text-decoration: underline;}
/* tabpic */
.tabpic{width: 980px;height: auto;overflow: hidden;position: relative;margin: 15px auto 0px auto;border-top: thin 1 #E8E8E8;background: url(../images/bg-newprd.jpg) no-repeat top;}
.tabpic_top{width: 100%;height: 35px;overflow: hidden;position: relative;margin: 0 auto;line-height: 35px;text-align: center;color: #F00;font-weight: bolder;font-size: 25px;}
.tabpic #pic_nav{width: 662px;height: 26px;margin: 0 auto;overflow: hidden;position: relative;}
.tabpic #pic_nav li{float: left;margin-right: -20px;display: inline;width: 100px;height: 26px;line-height: 26px;float: left;display: inline-block;position: relative;background: url(../images/bg-tag-off.png) no-repeat 0 0;padding: 0 20px;text-align: center;font-weight: bold;word-wrap: break-word;overflow: hidden;outline: 0;}
.tabpic #pic_nav li.lion{position: relative;display: block;width: 100px;height: 26px;line-height: 26px;padding: 0 20px;text-align: center;background: url(../images/bg-tag-on.png) no-repeat 0 0;color: #fefefe;font-weight: bold;word-wrap: break-word;overflow: hidden;outline: 0;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/bg-tag-on.png);_background-image: none;}
.tabpic .j-sw-c li{float: left;margin-top: 20px;margin-right: 10px;}
.tabpic .j-sw-c li img{width: 293px;height: 228px;padding: 2px;background-color: #fff;border: 1px solid #ccc;-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);-moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);}
.tabpic .slide-clip{width: 933px;height: auto;overflow: hidden;margin-left: 25px;}
.tabpic .j-sw-c .piclist{width: 935px;}
/* newprd-img-b */
#newprd-img-b{width: 350px;height: 274px;overflow: hidden;position: absolute;top: 60px;left: 399px;margin-left: -15.5px;z-index: 99;opacity: 0;border: 1px solid #ccc;-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5);box-shadow: 0 1px 2px rgba(0,0,0,0.5);background-color: #FFF}
#newprd-img-b img{position: absolute;left: 2px;top: 2px;z-index: 111;background: #f5f5f5 url(../images/loading-pink.gif) 50% 50% no-repeat;}
/*案例展示样式结束*
/*分类导航menu开始*/
.l_pro .Menu img{border: none;}
.l_pro .Menu .clearfix:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.l_pro .Menu .clearfix{display: inline-table;display: block;}
.l_pro .Menu .clearfix{height: 1%;}
.l_pro .Menu .clearfix{min-height: 1%;}
.l_pro .Menu li{width: 265px;float: left;overflow: hidden;margin-bottom: 7px;}
.l_pro .Menu li a{width: 265px;color: #6d6d6d;text-align: left;line-height: 33px;float: left;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;background: url(../images/l_pro.jpg) no-repeat bottom center;text-indent: 2em;}
.l_pro .Menu li a.cur{color: #1a849c;background: url(../images/l_pro.jpg) no-repeat top center;}
.l_pro .Menu li ul{display: none;}
.l_pro .Menu li ul li{float: none;height: 28px;line-height: 28px;margin-top: 0px;background-image: none;}
.l_pro .Menu li ul li a{display: block;background-image: url(../images/menu_f.jpg);background-repeat: no-repeat;background-position: center bottom;}
.mip-accordion-header{margin-top: 7px;width: 265px;color: #6d6d6d;text-align: left;line-height: 33px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;background: url(../images/l_pro.jpg) no-repeat bottom center;text-indent: 2em;}
.mip-accordion-content li{float: none;height: 28px;line-height: 28px;margin-top: 0px;background-image: none;}
.mip-accordion-content li a{width: 265px;color: #6d6d6d;text-align: left;line-height: 33px;float: left;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;background: url(../images/l_pro.jpg) no-repeat bottom center;text-indent: 2em;display: block;background-image: url(../images/menu_f.jpg);background-repeat: no-repeat;background-position: center bottom;}
/*分类导航menu结束*/
.clear{clear: both;}
.photolist li{float: left;margin-top: 20px;margin-right: 25px;}
.photolist li mip-img{width: 293px;height: 228px;padding: 2px;background-color: #fff;border: 1px solid #ccc;-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);-moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);}
.mip-tabs .mip-tabs-label-wrap .mip-tabs-label[data-v-1094517f]{padding: 0 25px;height: 50px;line-height: 50px;margin-right: 25px;}
.mip-tabs .mip-tabs-content-wrap[data-v-1094517f] mip-tabs-item{padding-left: 0px;padding-right: 0px;}
.mip-tabs .mip-tabs-label-wrap .mip-tabs-line[data-v-1094517f]{display: none;}
.mip-tabs .mip-tabs-label-wrap[data-v-1094517f]:after{background: none;}
.mip-tabs .mip-tabs-label-wrap .mip-tabs-label[data-v-1094517f]{background: #f0f0f0;}
.mip-tabs .mip-tabs-label-wrap .optionColor[data-v-1094517f], .mip-tabs .mip-tabs-label-wrap .optionColor span[data-v-1094517f]{background: #23b0cd;color: #fff;height: 50px;line-height: 50px;display: inline-block;}
.blk10{height: 10px;}
.color1{color: #b11a39!important}
.tabpic .mip-tabs{text-align: center;}
.tabpic .mip-tabs .mip-tabs-label-wrap[data-v-1094517f]{background: transparent;}
.tabpic .mip-tabs .mip-tabs-label-wrap .mip-tabs-label[data-v-1094517f]{padding: 0 25px;height: 26px;line-height: 26px;margin-right: 0px;}
.tabpic .mip-tabs .mip-tabs-content-wrap[data-v-1094517f] mip-tabs-item{padding-left: 0px;padding-right: 0px;}
.tabpic .mip-tabs .mip-tabs-label-wrap .mip-tabs-line[data-v-1094517f]{display: none;}
.tabpic .mip-tabs .mip-tabs-label-wrap[data-v-1094517f]:after{background: none;}
.tabpic .mip-tabs .mip-tabs-label-wrap .mip-tabs-label[data-v-1094517f]{background: transparent url(../images/bg-tag-off.png) no-repeat;width: 140px;color: #fff;text-align: center;margin-right: -20px;}
.tabpic .mip-tabs .mip-tabs-label-wrap .optionColor[data-v-1094517f], .tabpic .mip-tabs .mip-tabs-label-wrap .optionColor span[data-v-1094517f]{background: transparent url(../images/bg-tag-on.png) no-repeat;color: #fff;height: 26px;line-height: 26px;display: inline-block;}
.tabpic .mip-tabs[data-v-1094517f]{padding-bottom: 0;}
.ewm{width: 350px;margin: auto;}
.f22{font-size: 22px;}
h1{clear: both;}
@media screen and (min-width:768px){
    .nowrap{}
    .float_none{float: none}
    .pointer{cursor: pointer}
    .bmyz{padding-top: 20px;height: 95px;width: 980px;margin: 0 auto;}
    /*menu*/
    .menu{background: url(../images/menu.png) center top no-repeat;height: 69px;width: 984px;margin: 0 auto;position: relative;z-index: 2;}
    .mip-nav-wrapper{height: 69px;}
    mip-nav-slidedown .navbar-header{display: none;}
    mip-nav-slidedown #bs-navbar{float: none}
    mip-nav-slidedown #bs-navbar .navbar-nav li{line-height: 32px;text-align: center;}
    mip-nav-slidedown #bs-navbar .navbar-nav{margin-top: 0;margin-right: 0;}
    mip-nav-slidedown #bs-navbar a, mip-nav-slidedown #bs-navbar mip-link, mip-nav-slidedown #bs-navbar span{float: left;color: #fff;width: 90px;text-shadow: 1px 2px 3px #d9d9d9;}
    mip-nav-slidedown #bs-navbar a.cur{color: #fff;text-shadow: 1px 2px 3px #1c95ae;background: url(../images/menuhover.jpg) center no-repeat;}
    mip-nav-slidedown #bs-navbar .navbar-nav{margin-left: 15px;}
    mip-nav-slidedown #bs-navbar a:focus,mip-nav-slidedown #bs-navbar a:hover,mip-nav-slidedown #bs-navbar mip-link:focus,mip-nav-slidedown #bs-navbar mip-link:hover,mip-nav-slidedown #bs-navbar span:focus,mip-nav-slidedown #bs-navbar span:hover{text-decoration: none;color: #fff;text-shadow: 1px 2px 3px #1c95ae;background: url(../images/menuhover.jpg) center no-repeat;}
    mip-nav-slidedown #bs-navbar li .navbar-more:after{content: "";position: relative;display: inline-block;top: 0px;border: 0px;border-top-color: none;left: 0px;}
    mip-nav-slidedown #bs-navbar li:hover .navbar-more:after{border-color: none;top: 0px}
    mip-nav-slidedown #bs-navbar a, mip-nav-slidedown #bs-navbar mip-link, mip-nav-slidedown #bs-navbar span{margin: 10px 0px;padding: 10px 8px;}
    mip-nav-slidedown #bs-navbar li>ul{top: 52px;border: 1px solid #16A1BE;background: rgba(255,255,255,.8);}
    mip-nav-slidedown #bs-navbar li>ul a{float: none;margin: 0px 0px;padding: 0px 10px;color: #16A1BE;display: block;}
    mip-nav-slidedown #bs-navbar li>ul a:hover{background: #16A1BE;color: #fff;}
    mip-nav-slidedown #bs-navbar li>ul.u7{top: 52px;border: 1px solid #16A1BE;background: rgba(255,255,255,.8);width: 150px;}
    mip-nav-slidedown #bs-navbar li>ul.u7 a{float: none;margin: 0px 0px;padding: 0px 10px;color: #16A1BE;width: 130px;display: block;}
    mip-nav-slidedown #bs-navbar li>ul.u7 a:hover{background: #16A1BE;color: #fff;}
}
/*menu end*/
@media screen and (max-width:768px){
    .title_view,.header-top{display: none;}
    .title_s,.title_s a{font-size: 10px;}
    .banner{position: static;height: auto;}
    .bannerimg{position: relative;top: auto;}
    .bannerimg{width: 100%;text-align: center;background: transparent;height: auto;text-indent: 0;}
    .bannerimg mip-img{display: block;}
    .menu{background: #0e90d2;height: 52px;}
    .mip-nav-wrapper{height: 50px;}
    mip-nav-slidedown .navbar-header{display: block;}
    .mip-nav-wrapper .navbar-brand{background: url(../images/logo2.png) no-repeat;text-indent: -9999em;height: 50px;width: 270px;}
    .mip-nav-wrapper .navbar-toggle{margin-top: 15px;margin-right: 5px;}
    .mip-nav-wrapper .navbar-toggle .icon-bar{background: #fff;height: 2px;width: 26px;}
    .mip-nav-wrapper #bs-navbar .navbar-nav li{padding: 0 0;border-bottom: 1px solid #0b76ac;background: #0e90d2;box-shadow: inset 0 1px 0 rgba(255,255,255,.05);}
    .mip-nav-wrapper #bs-navbar .navbar-nav a, .mip-nav-wrapper #bs-navbar .navbar-nav mip-link, .mip-nav-wrapper #bs-navbar .navbar-nav span{font-size: 15px;color: #fff;}
    .mip-nav-wrapper #bs-navbar .navbar-nav li>ul{clear: both;background: #fff;}
    .mip-nav-wrapper #bs-navbar .navbar-nav li>ul li{display: inline-block;border-bottom: 0px solid #06586e;background: #fff;width: 49.5%;}
    .mip-nav-wrapper #bs-navbar .navbar-nav li>ul li a{background: url(../images/ico_1.jpg) no-repeat 10px center;padding-left: 25px;color: #333;text-align: left;}
    .mip-nav-wrapper .navbar-wise-close{margin: 0 0;margin-top: 0!important;padding: 10px 0!important;}
    .notice{width: 100%;z-index: 2;left: 0;height: auto;float: none;position: static;bottom: 0px;color: #23b0cd;background: #f3f3f3;}
    .noticemain{width: 100%;margin: 0 auto;height: auto;}
    .notice b{display: none;}
    .notice .tejian li{float: left;width: 50%;}
    .notice .tejian img{float: left;height: auto;width: 76px;display: inline;margin: 5px;}
    .notice .tejian h3{height: 50px;font-weight: normal;}
    .main{width: 100%;}
    .experts_j{float: left;width: 100%;height: auto;margin-bottom: 5px;background: url(../images/experts_j_1.jpg) left top no-repeat;color: #FFFFFF;text-indent: -999em;margin-top: 25px;height: 48px;}
    .mip-tabs .mip-tabs-label-wrap .mip-tabs-label[data-v-1094517f]{padding: 0 15px;height: 50px;line-height: 50px;margin-right: 5px;}
    .mip-tabs .mip-tabs-content-wrap[data-v-1094517f] mip-tabs-item{padding-left: 15px;padding-right: 15px;}
    .mip-tabs .mip-tabs-label-wrap[data-v-1094517f]:after{background: none;}
    .mip-tabs .mip-tabs-label-wrap .mip-tabs-label[data-v-1094517f]{background: #f0f0f0;}
    .mip-tabs .mip-tabs-label-wrap .optionColor[data-v-1094517f], .mip-tabs .mip-tabs-label-wrap .optionColor span[data-v-1094517f]{background: #23b0cd;color: #fff;height: 50px;line-height: 50px;display: inline-block;}
    .bknewlie{display: block;width: 100%;margin-top: 17px;float: none;}
    .bknewlie li{display: block;width: 100%;line-height: 2em;float: left;text-indent: 0;}
    .hengfu{display: none;}
    .indextu{width: 100%;padding: 10px 0px;}
    .news{float: left;width: 100%;padding-top: 10px;padding-right: 0px;overflow: hidden;}
    .news_t{float: left;width: 100%;height: 84px;background: url(../images/news_t.gif) top left no-repeat;}
    .news_t2{float: left;width: 100%;height: 84px;background: url(../images/news_t2.gif) top left no-repeat;}
    .more{background: #23b0cd;color: #fff;margin-top: 56px;padding: 0 4px;line-height: 16px;height: 16px;float: right;}
    .new_pic{float: none;width: 90%;overflow: hidden;height: 164px;border: 8px ridge #F3F3F3;margin: 0 auto;}
    .experts{width: 100%;padding-right: 0;}
    .experts_t{width: 100%;height: 78px;}
    .experts_j{width: 100%;height: 78px;}
    .experts ul li{float: left;width: 94%;margin-right: 3%;margin-left: 3%;}
    .experts .protxt{width: 100%;overflow: hidden;}
    .titletxt{width: 100%;text-indent: 35px;}
    .new_poin{float: left;width: 100%;}
    .pointer li a{float: left;width: 92%;color: #666;line-height: 35px;background: url(../images/newsico.gif) 5px center no-repeat;padding-left: 12px;}
    .pointer li a:hover{color: #23b0cd;}
    .pointer li .fl{float: left;width: 70%;cursor: pointer;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
    .tabpic{width: 100%;}
    .tabpic .mip-tabs[data-v-1094517f]{padding-bottom: 20px;}
    .photolist li{float: left;margin-top: 20px;margin-right: 0px;width: 33.333%;}
    .photolist li mip-img{width: 100%!important;height: 108px!important;padding: 2px;background-color: #fff;border: 1px solid #ccc;-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);-moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);}
    .fyMain{width: 100%;margin: 0 auto 0;overflow: auto;clear: both;}
    .wrap{width: 100%;float: left;overflow: hidden;}
    .fyLeft{display: none;}
    .fyRight{float: left;width: 100%;overflow: hidden;margin-bottom: 20px;background: url(../images/mainmin.gif) repeat-y top left;}
    .title_view{float: left;width: 100%;margin-left: 2px;margin-bottom: 10px;height: 35px;padding-bottom: 27px;background: url(../images/titlebg.jpg) no-repeat bottom left;line-height: 35px;}
    .title_view .fl{float: left;font-size: 24px;color: #23b0cd;padding-left: 40px;font-family: 微软雅黑;background: url(../images/titleview.gif) no-repeat 14px center;}
    .title_view .fr,.title_view .fr a{color: #777}
    .title_view .fr{margin-top: 3px;padding-right: 14px;}
    .title_view .fr font{color: #23b0cd;}
    .mainRightMain{float: left;width: 100%;padding-bottom: 20px;background: url(../images/mainbot.gif) no-repeat bottom left;min-height: auto;_height: auto;color: #555;}
    .maintop{bord/er: 1px solid #f00;background: url(../images/maintop.gif) no-repeat top left;float: left;width: 100%;height: 18px;}
    .padding25{padding: 0 25px;line-height: 30px;}
    .padding25 h1{padding: 0 25px;line-height: 30px;font-size: 18px;}
    .mainr_line{float: left;height: 18px;width: 99%;background: url(../images/line_s.gif) top left repeat-x;}
    .pro_list{float: left;padding: 0 0 0 0px;margin-bottom: 20px;}
    .pro_list li{float: left;display: inline;margin-right: 1%;margin-left: 1%;overflow: hidden;height: auto;margin-bottom: 2%;width: 48%;}
    .pro_list li mip-img{border: 0px solid #a6d6e0;margin-bottom: 2px;padding: 0px;background: #fff}
    .titletxt{float: left;line-height: 23px;height: 23px;width: 99%;margin-top: 1px;background-image: url(../images/wen.gif);background-repeat: no-repeat;background-position: left center;text-indent: 35px;}
    .protxt{float: none;text-align: center;border: 1px solid #a6d6e0;line-height: 23px;height: 23px;width: 98.5%;margin-top: 1px;}
    .protxt a{float: left;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;color: #23b0cd;background: url(../images/proico.gif) 8px center no-repeat #fff;padding-left: 0px;width: 100%;}
    .taglib{text-align: center;line-height: 23px;padding: 20px 3%;width: 94%;}
    .yisheng{border-bottom: #666 dotted 1px;clear: both;overflow: hidden;padding-bottom: 10px;}
    .yisheng h3{line-height: 30px;float: left;}
    .yisheng img{float: left;height: auto;width: 100px;margin-right: 5px;}
    .yisheng p{float: left;text-indent: 0em;text-align: left;text-overflow: ellipsis;overflow: hidden;height: 72px;}
    .yisheng p a{float: left;margin-right: 10px;width: 100px;}
    .yisheng span{float: right;line-height: 30px;}
    .yisheng a:link,.yisheng a:visited{color: #23b0cd}
    .yisheng a:hover{color: #FF9900}
    .newsview{min-height: 400px;display: inline;width: 100%;border-bottom: 1px dashed #BEC0BF;margin-bottom: 25px;padding-bottom: 15px;_height: 400px;line-height: 28px;float: left;color: #555;}
    .newsview img{margin-top: 8px 8px 0px 0px;max-width: 96%;}
    .returnlist{font-size: 18px;}
    .pagebox p{text-indent: 0em;}
    .mainr_page{margin: 0px;padding-left: 0px;text-align: center;}
    .mainr_page a{height: 19px;line-height: 19px;color: #23b0cd;border: 1px solid;padding: 3px 5px;text-align: center;margin: 0 2px;}
    .mainr_page a:visited{height: 19px;line-height: 19px;color: #FF0000;border: 1px solid;padding: 3px 5px;text-align: center;float: left;margin: 0 2px;}
    .pager-taglib{white-space: wrap;color: #23b0cd;line-height: 30px;padding: 0px;float: none;overflow: hidden;margin: 0px;clear: both;}
    .ewm{width: 250px;margin: auto;}
    .bmyz{display: none;}
    .main_tools{width: 96%;}
    .title_view_tools{float: left;width: 100%;margin-left: 2px;margin-bottom: 10px;height: 35px;padding-bottom: 27px;line-height: 35px;}
    .title_view_tools .fl{float: left;font-size: 23px;color: #23b0cd;padding-left: 40px;font-family: 微软雅黑;background: url(../images/titleview.gif) no-repeat 14px center;}
    .partFourM{width: 92%;margin: 0 auto;}
    .left{width: 30px;padding-right: 10px;background: url(../images/left.gif) bottom center no-repeat;float: left;height: 40px;padding-top: 92px;}
    .right{width: 30px;padding-left: 10px;text-align: right;float: left;height: 40px;padding-top: 92px;background: url(../images/right.gif) bottom center no-repeat;}
    .partFourCon{width: 100%;padding: 30px 0px 0;float: left;overflow: hidden;height: 130px;}
    .partFourCon li{float: left;width: 208px;display: inline;margin-right: 22px;margin-bottom: 22px;}
    .casemain{height: auto;float: left;width: 100%;background-color: #F7F7F7;}
    .casemain{height: 200px;float: left;width: 100%;background-color: #F7F7F7;}
    .mip-scrollbox{padding: 25px 15px;}
    mip-scrollbox [data-item]{margin-right: 20px;}
    .demo2 [data-item]{width: 46%;margin-right: 2%;height: 160px;overflow: hidden;}
    footer{padding-bottom: 60px;min-width: 100%;}
    footer .main .main dl{padding-top:0px; margin-left: 3%;width: 90%;height: auto;}
    footer .main .main dl:first-child,footer .main .main dl dt,.links{display: none;}
    .bootTxt{text-align: left;width: 94%;float: left;padding-left: 3%;padding-right: 3%;line-height: 30px;}
    .bottom-tools{padding-top: 5px;background: #0e90d2;height: 45px;width: 100%;display: block;}
    .bottom-tools li{float: left;width: 20%;text-align: center;}
    .bottom-tools li a{color: #fff;}
    .bottom-tools li mip-img{display: block;margin: 0 auto;}
}
