@charset "utf-8";
/*
BotAdmin-站掌门 AI智能站群系统
www.botadmin.cn
QQ:38050123
*/
@media screen and (min-width: 640px) {
    .tools-1, .tools-2 {border-radius:25px;height: 491px; width: 950px;font-size: 14px;line-height: 18px;margin: 0 auto;border: #ccc solid 1px;position: relative;}
    /*收费计算开始*/
    .tools-1 {background: url(../images/tools-1-big.jpg) left top no-repeat;}
    .ceshi-content { height: 491px;width: 950px;overflow: hidden;}
    .ceshi-choose {width: 400px;float: left;padding-left: 110px;padding-top: 170px; margin: 0px; display: inline; overflow: hidden;}
    .ceshi-choose-nr {width: 400px;height: 300px;}
    .ceshi-choose p {width: 100%;display: block;text-align: left;float: left;margin: 0px;line-height: 40px;height: 40px;}
    .ceshi-choose p input {float: left;display: inline;margin-top: 12px;margin-right: 10px;border: #000 solid 1px;}
    .ceshi-answer {width: 400px;float: right; display: inline; color: #333; overflow: hidden;margin: 195px 15px 0 0; padding: 0px;}
    .ceshi-answer-nr {line-height: 25px;width: 400px;margin: 15px 0 0 0;overflow: hidden;}
    .ceshi-answer-nr strong {font-weight: bold; color: #F00;font-size: 16px;}
    .ceshi-answer-nr a { font-weight: bold; color: #D32852; text-decoration: none;}
    .ceshi-answer-nr a:hover { text-decoration: underline;}
    .viewMore {text-align: right; line-height: 15px; padding: 0 30px 10px 0; font-weight: bold;}
    .putbox { width: 109px; height: 30px; position: absolute; bottom: 20px; left: 325px; overflow: hidden;}
    .putbox a, .putbox input {display: block;border: none; width: 109px; height: 30px;background: url(../images/tools-1-sub.gif) left top no-repeat;cursor: pointer;}
    .putbox2 { border: none; width: 109px; height: 30px; position: absolute; bottom: 20px; left: 510px; overflow: hidden;}
    .putbox2 input {border: none; width: 109px; height: 30px; background: url(../images/tools-1-sub02.gif) left top no-repeat; cursor: pointer;}
    /*收费计算结束*/
    /*捐卵血型计算开始*/
    .tools-2 {background: url(../images/tools-2-big.jpg) left top no-repeat;}
    /*捐卵血型计算结束*/
}
/*手机APP css*/
@media screen and (min-width: 100px) and (max-width: 640px) {
    /*收费计算开始*/
    .tools-1, .tools-2 {overflow: hidden;height: auto;width: 98%;line-height: 18px;margin: 0;position: relative;padding: 0px;border: 2px solid #dedede;border-radius: 10px 10px 10px 10px;-webkit-border-radius: 10px 10px 10px 10px;-moz-border-radius: 10px 10px 10px 10px;}
    .ceshi-content { height: auto;width: 100%;overflow: hidden;}
    .ceshi-choose {height: auto;width: 100%;margin: 0px;display: inline; overflow: hidden;}
    .ceshi-choose-nr {height: auto;width: 90%;padding-left: 10%;}
    .ceshi-choose p {width: 100%;display: block;text-align: left;float: left;margin: 0px;line-height: 40px;height: 40px;}
    .ceshi-choose p input {float: left;display: inline;margin-top: 12px;margin-right: 10px;}
    .ceshi-answer {background-color: #F9F9F9;height: auto;width: 100%;color: #333;overflow: hidden;margin: 0px;padding: 0px;border-radius: 10px 10px 10px 10px;-webkit-border-radius: 10px 10px 10px 10px;-moz-border-radius: 10px 10px 10px 10px;padding: 10px;}
    .ceshi-answer-nr {line-height: 20px;width: 100%;overflow: hidden;}
    .ceshi-answer-nr strong {font-weight: bold; color: #F00;font-size: 16px;}
    .ceshi-answer-nr a { font-weight: bold; color: #D32852; text-decoration: none;}
    .ceshi-answer-nr a:hover { text-decoration: underline;}
    .putbox, .putbox2 { float: left;width: 40%; height: 30px;overflow: hidden;margin: 10px 5% 10px 5%;text-align: center;}
    .putbox a, .putbox input {display: block;border: none; width: 109px; height: 30px;background: url(../images/tools-1-sub.gif) left top no-repeat;cursor: pointer;}
    .putbox2 input {border: none; width: 109px; height: 30px; background: url(../images/tools-1-sub02.gif) left top no-repeat; cursor: pointer;}
    /*收费计算结束*/
}