 <div class="clear-float"></div>
 <div class="foody">
 <div class="col-1">
 <div class="foot_a"><a href="/">网站首页</a>
 {dede:arclist row='5' titlelen='24' orderby='pubdate' typeid='2' idlist=''}
 | <a href="[field:arcurl/]" title="[field:title/]">[field:title/]</a> {/dede:arclist}</div>
<div class="foot_b">{dede:global.cfg_webname/}</div>
<div class="foot_c"><img src="{dede:global.cfg_templets_skin/}/images/foot_c.gif" border="0" /></div></div>
 <div class="col-2"><div class="foot_right"><a href="/"><img src="{dede:global.cfg_templets_skin/}/images/goodprint_logo_footer.png" border="0" /></a></div></div>
 <div class="clear-float"></div>
</div>
