.wrap_m-top img{
	height: 170px;
    width: 162px;
}

.indexbanner{margin-bottom: 0px;}

.indexbanner .col-lg-7{
    padding-right:0px;
}
.ib_l{width: 100%;position: relative;padding: 0px 0;background: #f4f4f4;}
.ib_l_list .ib_l_title {border-right: 1px solid #f4f4f4;display: block;position: relative;padding-left: 44px;line-height: 60px;font-size: 20px;color: #333;}
.ib_l_list:last-child .ib_l_title{border-bottom: 1px solid #f4f4f4;}

/* .ib_l_list .ib_l_pic1 {width: 22px;height: 22px;margin-top: 20px;margin-right: 15px;background: no-repeat;background-image: url(../img/ib_l_1.png);}
.ib_l_list .ib_l_pic2 {width: 22px;height: 22px;margin-top: 20px;margin-right: 15px;background: no-repeat;background-image: url(../img/ib_l_2.png);}
.ib_l_list .ib_l_pic3 {width: 23px;height: 23px;margin-top: 20px;margin-right: 15px;background: no-repeat;background-image: url(../img/ib_l_3.png);}
.ib_l_list .ib_l_pic4 {width: 21px;height: 22px;margin-top: 20px;margin-right: 15px;background: no-repeat;background-image: url(../img/ib_l_4.png);}
.ib_l_list .ib_l_pic5 {width: 16px;height: 21px;margin-top: 20px;margin-right: 15px;background: no-repeat;background-image: url(../img/ib_l_5.png);} */

.carousel-inner img{
    height: 280px;
    margin-top: 20px;
    width: 100%;
    height: 350px;
}

.rec_slider{
    overflow: hidden;
    height: 295px;
}
.ib_r { display: block; width: 100%; margin-top: 20px; border: 1px solid #dddddd; padding: 0 15px; color: #000; font-size: 16px;    height: 350px; }

.ib_r .ib_r_li {margin-bottom: 20px;}
.ib_r .ib_rtitle { line-height: 50px; }
.ib_r .ib_rt_l{line-height: 50px;font-size: 20px;}
/* .ib_r .ib_rt_round { width: 28px; height: 6px; background: url(../img/ib_rt_round.png) no-repeat; margin-top: 22px; } */
.ib_r .ib_r_li_pic { width: 56px; height: 56px; overflow: hidden; margin-right: 10px; }
.ib_r .ib_r_li_pic > img { width: auto; max-width: initial; height: 100%; margin-left: -9px; }
.ib_r .ib_r_li_r { width: 73%; }
.ib_r .ib_r_li_tit { display: block; font-size: 14px; line-height: 20px; height: 40px;    overflow: hidden; }
.ib_r .ib_r_li_time { color: #999999; font-size: 12px; line-height: 16px; }

.wrap{margin-bottom: 0px;}
.wrap_tit{color: #009b4e;line-height: 53px;border-bottom: 1px solid #009b4e;width: 100%;float: left;margin-bottom: 20px;    margin-top: 12px;}
.wrap_tit h2{margin-left: 10px;line-height: 53px;font-size: 26px;font-weight: normal;display: inline-block;float: left;}
/* .news .wrap_tit .wrap_i{width: 55px;height: 54px;margin-top: 0;margin-right: 15px;background: url(../img/news_i.png) no-repeat;z-index: 3;margin-bottom: -1px;}
.wrap .wrap_ask_i{width: 55px;height: 54px;margin-top: 0;margin-right: 15px;background: url(../img/ask_i.png) no-repeat;z-index: 3;margin-bottom: -1px;}
.wrap .wrap_lx_i{width: 55px;height: 54px;margin-top: 0;margin-right: 15px;background: url(../img/lx_i.png) no-repeat;z-index: 3;margin-bottom: -1px;}
.wrap .wrap_zy_i{width: 55px;height: 54px;margin-top: 0;margin-right: 15px;background: url(../img/zy_i.png) no-repeat;z-index: 3;margin-bottom: -1px;}
.wrap .wrap_jb_i{width: 55px;height: 54px;margin-top: 0;margin-right: 15px;background: url(../img/jb_i.png) no-repeat;z-index: 3;margin-bottom: -1px;}
.wrap .wrap_baby_i{width: 55px;height: 54px;margin-top: 0;margin-right: 15px;background: url(../img/baby_i.png) no-repeat;z-index: 3;margin-bottom: -1px;}
.wrap .wrap_yiyuan_i{width: 55px;height: 54px;margin-top: 0;margin-right: 15px;background: url(../img/yiyuan_i.png) no-repeat;z-index: 3;margin-bottom: -1px;} */
.wrap_tit_nav { line-height: 18px; margin-top: 26px; font-size: 16px; }
.wrap_tit_nav_li{padding: 0 14px;border-right: 1px solid #e4e4e4;color: #333;}
.wrap_tit_nav_last{border: none;padding: 0 0 0 14px;}
/* .wrap_tit .icon-nav-more {width: 9px;height: 14px;margin-top: 2px;margin-left: 5px;background: url(../img/icon-nav-more.png) no-repeat;} */

.wrap_l{width: 100%;float: left;}
.wrap_l_top{width: 100%;height: 230px;float: left;margin-bottom: 20px;}
.wrap_l_pictab{width: 100%;height: 200px;float: left;margin-bottom: 20px;}

.wrap_l_two{border: 1px solid #e5e5e5;height: 122px;width: 100%;float: left;}
.wrap_l_two_tit{    font-size: 20px;color: #49c066;height: 82px;width: 39px;float: left;text-align: center;padding-top: 20px;}
.wrap_l_two_txt{width: 100%;padding: 5px 0;}
.wrap_l_two_txt li{height: 30px;line-height: 30px;white-space: nowrap;overflow: hidden; text-overflow: ellipsis;}
.wrap_l_two_txt li a{padding: 0 10px;}
.wrap_m{float: left;width: 100%;}
.wrap_m_left{width:100%;}
.wrap_m-top-imgwrap {width: 37%;height: 160px;overflow: hidden;margin-right: 20px;}
.wrap_m-top-imgwrap img{width: 100%;height: 160px;}
.wrap_m-top-right { width: 58%; }
.wrap_m-top-right-title { display: block; line-height: 28px; color: #000000; font-size: 18px; overflow: hidden; height: 28px; white-space: nowrap; text-overflow: ellipsis; }
.wrap_m-top-right-title:hover { color: #49c066; }
.wrap_m-top-right-content {line-height: 24px;font-size: 14px;color: #666;height: 90px;margin: 10px 0;overflow: hidden;}
.wrap_m-top-right-time { color: #999999; font-size: 12px; line-height: 30px; margin-top: 15px; }
.wrap_m-top { padding-bottom: 20px; border-bottom: 1px dotted #dddddd; }

.litext{width: 100%;float: left;margin: 5px 0;}
.litext li{width: 100%;float: left;position: relative;height: 34px;line-height: 34px;}
.litext li em {width: 4px;height: 4px;-webkit-border-radius: 50%;border-radius: 50%;background: #cccccc;margin-top: 14px;margin-right: 10px;float: left;}
.litext li a{font-size: 16px;line-height: 34px;height: 34px;max-width: 94%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;float: left;}

.litext1{
    width: 100%;
}
.litext1 { padding-top: 19px; margin-bottom: -18px; }
.litext1 li {position: relative;height: 34px;line-height: 34px;}
.litext1 li em {position: absolute; width: 4px; height: 4px; -webkit-border-radius: 50%; border-radius: 50%; background: #cccccc; margin-top: 6px; margin-right: 10px; }
.litext1 li a {margin-left: 10px;font-size: 16px;line-height: 18px;height: 18px;max-width: 98%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}

.litext2 {padding-top: 10px;margin-bottom: -18px;}
.litext2 li {margin-bottom: 14px;width: 33.33%;}
.litext2 li em { width: 4px; height: 4px; -webkit-border-radius: 50%; border-radius: 50%; background: #cccccc; margin-top: 6px; margin-right: 10px; }
.litext2 li a {font-size: 16px;line-height: 18px;height: 18px;max-width: 166px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}


.wrap_r { width: 100%; }
.wrap_r_right{width: 100%;}
.wrap-title {font-size: 20px;font-weight: normal;margin-bottom: 20px;}
/* .icon1{width: 30px;height: 27px;background: url('../img/icon1.png') no-repeat;margin-right: 10px;}
.icon2{width: 31px;height: 27px;background: url('../img/icon2.png') no-repeat;margin-right: 10px;}
.icon3{width: 24px;height: 25px;background: url('../img/icon3.png') no-repeat;margin-right: 10px;}
.icon4{width: 30px;height: 27px;background: url('../img/icon4.png') no-repeat;margin-right: 10px;}
.icon5{width: 30px;height: 27px;background: url('../img/icon5.png') no-repeat;margin-right: 10px;}
.icon6{width: 30px;height: 27px;background: url('../img/icon6.png') no-repeat;margin-right: 10px;}
.icon7{width: 30px;height: 27px;background: url('../img/icon7.png') no-repeat;margin-right: 10px;}
.icon8{width: 30px;height: 27px;background: url('../img/icon8.png') no-repeat;margin-right: 10px;}
.icon9{width: 30px;height: 27px;background: url('../img/icon9.png') no-repeat;margin-right: 10px;}
.icon10{width: 30px;height: 27px;background: url('../img/icon10.png') no-repeat;margin-right: 10px;}
.icon11{width: 30px;height: 27px;background: url('../img/icon11.png') no-repeat;margin-right: 10px;}
.icon12{width: 30px;height: 27px;background: url('../img/icon12.png') no-repeat;margin-right: 10px;}
.icon13{width: 30px;height: 27px;background: url('../img/icon13.png') no-repeat;margin-right: 10px;}
.icon14{width: 30px;height: 27px;background: url('../img/icon14.png') no-repeat;margin-right: 10px;}

.jb_woman_i{width:24px;height: 26px;background: url('../img/jb_woman_i.png') no-repeat;margin-right: 10px;}
.jb_man_i{width:23px;height: 25px;background: url('../img/jb_man_i.png') no-repeat;margin-right: 10px;}
.jb_baby_i{width: 27px;height: 26px;background: url('../img/jb_baby_i.png') no-repeat;margin-right: 10px;}
.jb_pf_i{width: 26px;height: 23px;background: url('../img/jb_pf_i.png') no-repeat;margin-right: 10px;} */

.wrap_r_top .wrap_r_top-imgwrap {display: block;width: 100%;height: 150px;position: relative;overflow: hidden;margin-bottom: 14px;}
.wrap_r_top .wrap_r_top-title-pink {background: rgba(0,0,0, 0.4);}
.wrap_r_top .wrap_r_top-title { position: absolute; padding: 0 20px; left: 0; bottom: 0; width: 100%; text-align: center; height: 36px; line-height: 36px; color: #fff; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-size: 16px; }

.topphb{}
.topphb li{ margin-bottom: 16px; height: 22px; line-height: 22px; }
.topphb li span{width: 22px;text-align: center;font-size: 14px;color: #fff;background: #999999;-webkit-border-radius: 4px;border-radius: 4px;margin-right: 10px;}
.topphb li span.one{ background: #ff5e5b; }
.topphb li span.two{ background: #ff9d00; }
.topphb li a{float: left;max-width: 88%;height: 22px;font-size: 16px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.wrap_r_top .wrap_r_top-ls { margin-bottom: 16px; height: 22px; line-height: 22px; }
.wrap_r_top .wrap_r_top-ls-num { width: 22px; text-align: center; font-size: 14px; color: #fff; background: #dddddd; -webkit-border-radius: 4px; border-radius: 4px; margin-right: 10px; }
.wrap_r_top .wrap_r_top-ls-a { max-width: 240px; height: 22px; font-size: 14px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.wrap_r_top .wrap_r_top-ls-num-one { background: #ff5e5b; }
.wrap_r_top .wrap_r_top-ls-num-two { background: #ff9d00; }
.wrap_r_top .wrap_r_top-ls-num-three { background: #f9d219; }
.wrap_r_top .wrap_r_top-list { font-size: 14px; line-height: 16px; margin-bottom: 20px; }
.wrap_r_top .wrap_r_top-list-left { color: #999999; border-right: 1px solid #dddddd; padding-right: 6px; margin-right: 6px; }
.wrap_r_top .wrap_r_top-list-a { max-width: 220px; height: 16px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.wrap_r-main{    margin-bottom: -16px;}
.wrap_r .wrap_r-list {font-size: 16px;line-height: 16px;margin-bottom: 20px;}
.wrap_r .wrap_r-list-left { color: #999999; border-right: 1px solid #dddddd; padding-right: 6px; margin-right: 6px; }
.wrap_r .wrap_r-list-a {max-width: 100%;height: 16px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;color: #333;}


.index-ask{}
.asklist{
    /* height: 480px; */
    width: 270px;}
.asklist .asklist-title {height: 48px;margin-bottom: 12px;line-height: 48px;background: #f5faf9;position: relative;}
.asklist .asklist-imgwrap { width: 34px; height: 34px; -webkit-border-radius: 50%; border-radius: 50%; overflow: hidden; margin: 7px 8px 0 8px; }
.asklist .asklist-name { font-size: 16px; margin-right: 8px; }
.asklist .asklist-hosp { font-size: 14px; color: #999999; }
.asklist .asklist-time {
    position: absolute;
    top: 6px;
    left: -44px;
    width: 40px;
    height: 40px;
    background: #f5faf9;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    color: #333;
    padding-top: 6px;
}
.asklist .asklist-main { line-height: 24px; }
.asklist .doc-ask-ask {width: 30px;color: #49c066;font-size: 18px;margin-bottom: 7px;}
.asklist .doc-ans { width: 30px; color: #a2cf36; font-size: 18px; }
.asklist .doc-ask-title { font-size: 16px; max-width: 200px; height: 24px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #000000; }
.asklist .doc-ask-title:hover { color: #49c066; }
.asklist .doc-ask-ans { font-size: 18px; color: #ff8401; width: 30px; }
.asklist .doc-ask-content { width: 226px; height: 48px; color: #999999; font-size: 14px; }
.asklist .asklist:first-child { margin-bottom: 8px; }
.asklist .ask-left-right { width: 540px; }
.asklist .ask-lr-ls:first-child .ask-lr-ls-main { border-top: none; padding-top: 0; }
.asklist .ask-lr-ls:first-child .ask-lr-ls-imgwrap { margin-top: 0; }
.asklist .ask-lr-ls-imgwrap { width: 36px; height: 36px; margin-top: 7px; overflow: hidden; margin-right: 14px; }
.asklist .ask-lr-ls-main { width: 490px; line-height: 36px; height: 36px; padding-bottom: 7px; padding-top: 7px; border-top: 1px dotted #dddddd; }
.asklist .ask-lr-ls-main-a { max-width: 380px; height: 36px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-size: 16px; }
.asklist .ask-lr-ls-main-time { font-size: 12px; color: #999999; }
.index-ask .index-askScroll { margin: 0 auto; width: 100%; overflow: hidden; position: relative; }
.index-ask .index-askScroll .bd ul { overflow: hidden; zoom: 1; }
.index-ask .index-askScroll .bd ul li { height: 150px; zoom: 1; border-left: 1px solid #eeeeee; padding-left: 26px; margin-left: 17px; }
.ask-li{float: left;margin-bottom: 10px;width: 100%;}
.ask-li-main{width: 100%;line-height: 35px;height: 35px;padding-bottom: 4px;padding-top: 7px;border-top: 1px dotted #dddddd;}
.ask-li-main a{max-width: 450px;height: 36px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-size: 16px;}
.ask-li-main a em{width: 4px;height: 4px;-webkit-border-radius: 50%;border-radius: 50%;background: #cccccc;margin-top: 16px;margin-right: 10px;float: left;}
.ask-li-main span{font-size: 14px;color: #999999;}
.ask-li li:first-child .ask-li-main {border-top: none;padding-top: 0;}

.ask-searchbox{
    background-color: #dddd;
    margin-top:10px;
    /* background: url('../img/ask-search.png') no-repeat; */
    width: 100%;height: 114px;float: left;}
.ask-search {margin: 54px 18px 0px 21px;height: 45px;overflow: hidden;}
.ask-search .search-inp {width: 100%;display: block;height: 44px;line-height: 44px;font-size: 18px;text-indent: 13px;}
.ask-search .search-btn {height: 100%;width: 81px;text-align: center;vertical-align: middle;border-left: 1px solid #dddddd;cursor: pointer;color: #fff;font-size: 20px;line-height: 45px;}
.ask-search .search-btn:hover {/* opacity: 0.8; */}
.ask-search .icon-search { width: 30px; height: 30px; background: no-repeat center;background-position: -36px -86px; }

.tuwen1{overflow:hidden;float: left;margin-top: 6px;}
.tuwen1 li{position:relative;text-align:left;overflow:hidden;}
.tuwen1 li.vda{padding:0;min-height: 70px;border-bottom: 1px dashed #dddddd;position:relative;text-align:left;overflow:hidden;}
.tuwen1 li:last-child{border-bottom: none;}
.tuwen1 li span{display:block;position:absolute;left: 0px;width: 130px;height:100px;overflow:hidden;}
.tuwen1 li span img{display:block;width: 130px;height:100px;}
.tuwen1 li h3{display:block;height:24px;line-height:22px;font-size:16px;font-weight: bold;overflow: hidden;margin-left: 140px;}
.tuwen1 li p{font-size: 14px;color: #666;line-height: 24px;margin-left: 140px;    height: 78px;}

.tuwen2{overflow:hidden;float: left;}
.tuwen2 li{position:relative;text-align:left;overflow:hidden;background: #f7f7f7;margin-bottom: 20px;}
.tuwen2 li.vda{padding:0;min-height: 70px;border-bottom: 1px dashed #dddddd;position:relative;text-align:left;overflow:hidden;}
.tuwen2 li:last-child{border-bottom: none;}
.tuwen2 li span{display:block;position:absolute;left: 0px;width: 130px;height:100px;overflow:hidden;}
.tuwen2 li span img{display:block;width: 130px;height:100px;}
.tuwen2 li h3{display: block;
    height: 26px;
    line-height: 26px;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    margin-left: 140px;
    margin-top: 10px;}
.tuwen2 li p{margin-top: 10px;font-size: 14px;color: #666;line-height: 24px;margin-left: 140px;height: 48px;margin-bottom: 14px;overflow: hidden;}



.main_title h2{color: #333;text-align: center;font-size: 16px;font-weight: bold;height: 40px;line-height: 40px;    overflow: hidden;
    display: block;
    width: 100%;}
.main_title p{color: #666;font-size: 14px;line-height: 24px;text-indent:2em;}
.pic3{width: 100%;margin: 10px 0;}
.pic3 .pic3-ls {width: 176px; margin-bottom: 6px;position: relative;}
.pic3 .pic3-pic{width: 178px;height: 130px;overflow: hidden;}
.pic3 .pic3-title {    padding: 0px 8px; height: 30px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 178px;font-size: 14px;line-height: 30px;text-align: center;position: absolute;bottom: 0px;background: rgba(0,0,0, 0.4);color: #fff;}


.jb-list {/* height: 279px; */background: #eee;}
.jb-list-title {line-height: 26px;font-size: 18px;color: #000;margin-bottom: 10px;background: #eee;padding: 10px 19px 0 19px;text-align: center;height: 26px;display: inline-flex;padding-left: 90px;}
.jb-list-a{background: #f7f7f7;padding: 10px 19px 10px 19px;}
.jb-list-a a {width: 85px;/* margin-right: 5px; */font-size: 14px;line-height: 16px;height: 16px;margin-top: 7px;margin-bottom: 7px;float: left;}

.jb_m{margin-left: 20px;float: left;width:430px;}
.jb_r{float: right;width:430px;}


.jb_tab{width: 430px;text-align:left;float: left;height: 312px;}
.jb_tab .hd{height: 40px;line-height: 40px;position:relative;}
.jb_tab .hd ul{float:left;position:absolute;height: 40px;}
.jb_tab .hd ul li{float:left;padding:0 15px;cursor:pointer;width: 76px;text-align: center;background: #f4f4f4;margin-left: 1px;}
.jb_tab .hd ul li.on{height: 40px;background: #49c066;color: #fff;}
.jb_tab .bd ul{padding: 20px 0 0 0;zoom:1;float: left;}
.jb_tab .bd li{height: 35px;line-height: 35px;float: left;width: 100%}
.jb_tab .bd li em {width: 4px;height: 4px;-webkit-border-radius: 50%;border-radius: 50%;background: #cccccc;margin-top: 15px;margin-right: 10px;}
.jb_tab .bd li .date{ float:right; color:#999;  }


.tuwen3{overflow:hidden;float: left;position: relative;margin-bottom: 10px;}
.tuwen3  span{display:block;position:absolute;left: 0px;width: 130px;height:100px;overflow:hidden;}
.tuwen3  span img{display:block;width: 130px;height:100px;}
.tuwen3  h3{display:block;height:24px;line-height:22px;font-size:16px;font-weight: bold;overflow: hidden;margin-left: 140px;padding: 7px 0;}
.tuwen3  p{font-size: 14px;color: #666;line-height: 24px;margin-left: 140px;height: 48px;margin-bottom: 14px;overflow: hidden;}


/* .wrap_l_baby {padding: 5px;background: url("../img/wrap_l_baby.png") repeat;float: left;} */
.baby_box { background: #fff; padding: 28px 20px 16px; position: relative; }
.baby_box_m {height: 100px;overflow: hidden;}
/* .baby_icon { width: 29px; height: 29px; background:url("../img/baby_icon.png") no-repeat;margin-left: 12px; margin-right: 9px; } */

.baby_box_m a {font-size: 14px;line-height: 16px;margin: 5px 5px 0px 0;float: left;border: 1px solid #f5f5f5;padding: 5px 10px;border-radius: 20px;}
.baby_box_m a:hover { }
.baby_box_title{position: absolute;display: block;width: 133px;height: 24px;line-height: 24px;background: #fff;left: 80px;top: -12px;line-height: 24px;font-size: 18px;color: #000000;}


.baby_tab{width: 560px;text-align:left;float: left;margin-top: -44px;}
/* .baby_tab .hd{height: 40px;line-height: 40px;position:relative;padding-left: 147px;background:url("../img/baby_tab_hdbg.png") no-repeat bottom;} */
.baby_tab .hd ul{float:left;position:absolute;height: 40px;}
.baby_tab .hd ul li{float:left;padding:0 15px;cursor:pointer;width: 48px;text-align: center;margin-left: 1px;line-height: 27px;}
/* .baby_tab .hd ul li.on{height: 40px;color: #49c066;background:url("../img/baby_tabon.png") no-repeat bottom;} */
.baby_tab .bd ul{padding: 15px 0;zoom:1;float: left;width: 100%;}
.baby_tab .bd li{height: 32px;line-height: 32px;float: left;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 100%;}
.baby_tab .bd li em {width: 4px;height: 4px;-webkit-border-radius: 50%;border-radius: 50%;background: #cccccc;margin-top: 13px;margin-right: 10px;}
.baby_tab .bd li .date{ float:right; color:#999;  }
.baby_tabl{float: left;width: 200px;} 
.baby_tabr{float: right;width: 350px;}
.baby_tabl_pica{width: 200px;margin-bottom: 15px;position: relative;}
.baby_tabl_pic{width: 200px;height: 152px;overflow: hidden;/* position: relative; */}
.baby_tabl_pic img{width: 200px;height: 152px;}
.baby_tabl_title{padding: 0 10px;width: 180px;font-size: 14px;line-height: 28px;text-align: center;position: absolute;bottom: 0;background: rgba(0,0,0, 0.4);color: #fff;}

.babyask li{height: 32px;line-height: 32px;float: left;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 100%;}
.babyask li em {width: 10px;height: 10px;margin-top: 12px;margin-right: 10px;float: left;border:2px solid #49c066; border-radius: 20px; }

.yyks {width: 298px;height: 310px;border:1px solid #e5e5e5;overflow: hidden;}
.yyks-title {line-height: 26px;font-size: 18px;color: #000;margin-bottom: 10px;padding: 19px 19px 0 19px;text-align: left;height: 26px;display: inline-flex;}
.yyks-list-a{padding: 0px 19px 0px 19px;}
.yyks-list-a a {width:85px;/* margin-right: 5px; */font-size: 14px;line-height: 16px;height: 16px;margin-top: 7px;margin-bottom: 7px;float: left;}
/* .yyks_i{width:24px;height: 26px;background: url('../img/yyks_i.png') no-repeat;margin-right: 10px;} */

.links_top{width:100%;line-height: 40px;/* border:  1px solid #e5e5e5; */border-bottom: 2px solid #009b4e;margin-top:20px;}
.links_top h2{color: #fff;background: #009b4e;width: 110px;line-height: 40px;font-size: 20px;font-weight: normal;text-align: center;}
.links ul{float: left;width: 100%;padding: 10px 0;}
.links ul li{float: left;width: 150px;line-height: 32px;height: 32px;}
.links ul il a{color: #666;font-size: 14px;}



/* ../../img/base.inc.png */
.nav .nav-nav .nav-list-more:hover .icon-header-down,
.nav .icon-header-down,
.header .icon-header-down,
.head-tologin .icon-login-qq,
.head-tologin .icon-login-wb,
.head-tologin .icon-login-tosolve,
.head-tologin .icon-login-topro,
.head-tologin .icon-login-mypro,
.head-tologin .icon-login-mymsg,
.rightnav .icon-header-rm,
.rightnav .icon-header-rm2,
.rightnav .icon-header-rm3,
.rightnav .icon-header-rm4,
.ma-nav-wrap .ma-nav-more:hover .icon-ma-arrow,
.ma-nav-wrap .icon-ma-arrow,
.icon-addmore-arrow,
.tl .icon-title-xzb,
.icon-nk,
.icon-arrow,
.icon-arrow_1,
.tlb .icon-title-xzb,
.bread .icon-home,

.article .icon-tips,

.article .phonedivl-box:before,

.article .icon-share-qwb,
.asklist .ask-main-part .icon-an,
.search .icon-search,
.fae .icon-winner,
.mr-mod .mr-mod-right-new,
/* .mr-mod .mr-mod-right-new_1 {background-image: url(../../img/base.inc.png);} */


/* æœ¬ä¾‹å­css */
.focusBox { position: relative; width:100%; height: 230px; overflow: hidden; font: 12px/1.5 Verdana, Geneva, sans-serif; text-align: left; background: white; }
.focusBox .pic img { width: 100%; height: 230px; display: block; }
.focusBox .txt-bg { position: absolute; bottom: 0; z-index: 1; height: 36px; width:100%;  background: #333; filter: alpha(opacity=40); opacity: 0.4; overflow: hidden; }
.focusBox .txt { position: absolute; bottom: 0; z-index: 2; height: 36px; width:100%; overflow: hidden; }
.focusBox .txt li{ height:36px; line-height:36px; position:absolute; bottom:-36px;width: 100%;}
.focusBox .txt li a{ display: block; color: white; padding: 0 0 0 10px; font-size: 12px; font-weight: bold; text-decoration: none;width: 70%;overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
} 
.focusBox .num { position: absolute; z-index: 3; bottom: 8px; right: 8px; }
.focusBox .num li{float: left;position: relative;width: 15px;height: 15px;line-height: 15px;overflow: hidden;text-align: center;margin-right: 3px;cursor: pointer;}
.focusBox .num li a,.focusBox .num li span {position: absolute;z-index: 2;display: block;color: white;width: 100%;height: 100%;top: 0;left: 0;text-decoration: none;border-radius: 50%;}
.focusBox .num li span { z-index: 1; background: black; filter: alpha(opacity=50); opacity: 0.5; }
.focusBox .num li.on a,.focusBox .num a:hover{ background:#009b4e;  }

.focusBox1 { position: relative; width:300px; height:200px; overflow: hidden; }
.focusBox1 .pic{ position:relative; z-index:0; }
.focusBox1 .pic img { width:300px; height:200px; display: block; }
.focusBox1 .prev,
/* .focusBox1 .next { width: 30px; height: 45px; margin: -15px 0 0;background: url(../../img/ad_ctr.png) no-repeat 0 0; position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; filter:alpha(opacity=60);opacity:0.6;  } */
.focusBox1 .prev { left: 0; }
.focusBox1 .next { background-position: 0 -45px; right: 0; }
.focusBox1 .prev:hover,
.focusBox1 .next:hover { filter:alpha(opacity=80) !important;opacity:0.8 !important;  }

.ib_l_list:hover .leftnav { display: block; }
.ib_l_list:hover .ib_l_title {background: #fff;border-left: 2px solid #49c066;width: 205px;margin-left:-15px;}

.ib_l_list:hover .ib_l_title::before { display: block; }
.ib_l_list:hover .ib_l_title:before { display: none; }

.button1 {width: 405px;height: 36px;line-height: 36px;text-align: center;color: #fff;background: #ff8401;font-size: 16px;cursor: pointer;-webkit-border-radius: 4px;border-radius: 4px;margin-left: 78px;}
.button1:hover { opacity: .8; }


.recom .recom-left-part4 { padding-top: 28px; }

.recom .recom-lp4-ls { width: 80px; margin-right: 27px; }

.recom .recom-lp4-ls-imgwrap { width: 80px; height: 80px; }

.recom .recom-lp4-ls-title { line-height: 30px; font-size: 16px; color: #333333; text-align: center; }

.recom .recom-lp4-ls-a { display: block; width: 68px; height: 24px; line-height: 24px; text-align: center; color: #ffa900; border: 1px solid #ffa900; -webkit-border-radius: 6px; border-radius: 6px; font-size: 14px; margin: 0 auto; }

.recom .recom-lp4-ls-a:hover { color: #fff; background: #ffa800; }

.recom .recom-left-part4-top { margin-bottom: 17px; }

.recom .recom-lp4b-ls { line-height: 32px; font-size: 14px; width: 175px; }

.recom .recom-lp4b-ls-round { width: 4px; height: 4px; -webkit-border-radius: 50%; border-radius: 50%; background: #cccccc; margin-top: 13px; margin-right: 8px; }

.recom .recom-lp4b-ls-word { max-width: 140px; height: 32px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }


.yydqtop{width: 530px;height: 170px;margin-top: 15px;}
.yydqtoppic {position: relative;width: 530px;height: 170px;overflow: hidden;}
.yydqtoppic .pic{ position:relative; z-index:0;width:100%;height: 100%;float: left; }
.yydqtoppic .pic .picli{width: 530px;height: 170px;float: left;}
.yydqtoppic .pic .picli a{width: 176px;height: 170px;float: left;/* margin-left: 10px; */}
.yydqtoppic .pic .picli img {width: 167px;height: 130px;display: block;float: left;padding: 5px;}
.yydqtoppic .pic .picli a p{color: #333;float: left;width: 100%;font-size: 16px;text-align: center;line-height: 36px;height: 36px;}
.yydqtoppic .prev,
/* .yydqtoppic .next {width: 30px;height: 45px;margin: -44px 0 0;background: url(../../img/ad_ctr.png) no-repeat 0 0;position: absolute;top: 50%;z-index: 10;cursor: pointer;text-indent: -9999px;filter:alpha(opacity=60);opacity:0.6;} */
.yydqtoppic .prev { left: 0; }
.yydqtoppic .next {background-position: 0 -45px;}
.yydqtoppic .prev:hover,
.yydqtoppic .next:hover { filter:alpha(opacity=80) !important;opacity:0.8 !important;  }


.yydqli {font-size: 16px;line-height: 32px;padding-top: 22px;}
.yydqli_title { width: 80px; margin-right: 18px; color: #49c066; float: left;}
.yydqli_title:hover { text-decoration: underline; }
.yydqli li{border-bottom: 1px solid #d7d7d7}
.yydqli_right {width: 439px;float: right;}
.yydqli_right a {float: left;width: 132px;height: 32px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;margin-right: 14px;}
.yydqli_right a:hover { color: #49c066; }


.ypcxtop{width: 530px;height: 110px;margin-top: 15px;}
.ypcxli {font-size: 16px;line-height: 32px;padding-top: 12px;float: left;border-top: 1px dashed #ddd;}
.ypcxli_title { width: 80px; margin-right: 18px; color: #49c066; float: left;}
.ypcxli_title:hover { text-decoration: underline; }
.ypcxli li{border-bottom: 1px solid #d7d7d7}
.ypcxli_right {width: 439px;float: right;}
.ypcxli_right a {float: left;width: 73px;height: 32px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;margin-right: 14px;font-size: 16px;}
.ypcxli_right a:hover { color: #49c066; }


/*search */
.search-box-wrap {
    width: 530px;
    float: left;
}
.search-box-wrap .search-box-con {
    padding: 20px;
    position: relative;
    float: left;
}
.search-box-wrap .search-box-con .menu {
    float: left;
}
.search-box-wrap .search-box-con .menu li.check {
    color: #49c066;
}
.search-box-wrap .search-box-con .menu li {
    float: left;
    height: 27px;
    padding: 0 0 0 10px;
}
.search-box-wrap .search-box-con .menu li a,.search-box-wrap .search-box-con .menu li span {
    font-size: 16px;
    color: #333;
    padding: 0 5px 0 0;
    height: 32px;
    line-height: 32px;
    display: inline-block;
    cursor: pointer;
}
.search-box-wrap .search-box-con .menu li.check span{color: #49c066}
.search-box-wrap .search-box-con .menu i {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    width: 0;
    height: 0;
    -webkit-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -ms-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
    position: absolute;
    top: 47px;
    left: 40px;
    border-bottom: 10px solid #eee;
    z-index: 9;
}

.search-box-wrap .search-box-con .search {
    float: left;
    margin-top: 10px;
}
.search-box-wrap .search-box-con .search .box {
    background: #eee;
    border-radius: 2px;
    clear: both;
    height: 30px;
}

.search-box-wrap .search-box-con .search .text {
    width: 331px;
    padding-left: 20px;
    border: 0;
    height: 45px;
    line-height: 45px;
    border-radius: 2px;
    font-size: 16px;
    background: #f7f7f7;
}
.search-box-wrap .search-box-con .search .btn {
    background: #009967;
    width: 98px;
    height: 45px;
    float: right;
    border: 0;
    display: block;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    color: #fff;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.zzcx_con{clear:both;position:relative;z-index:5;overflow:hidden;}
.zzcx_rt01{clear:both;width:126px;height:207px;position:relative; text-align:center;overflow:hidden;}
.zzcx_rt01 img{ vertical-align:top;}
.zzcx_rt01 p,.zzcx_rt01 p span{position:absolute;}
.woman{margin-left:16px;}
/*ç”·æ€§æ­£é¢*/
/* .rt_tb{z-index:1;left:48px;top:0px;width:31px;height:38px;background-image:url(../../img/man_front_1.png);background-position:0 0;background-repeat:no-repeat;}
.rt_jb{z-index:5;left:52px;top:35px;width:24px;height:10px;background-image:url(../../img/man_front_2.png);background-position:0 0;background-repeat:no-repeat;}
.rt_xb{z-index:4;left:47px;top:46px;width:34px;height:32px;background-image:url(../../img/man_front_3.png);background-position:0 0;background-repeat:no-repeat;}
.rt_fb{z-index:6;left:45px;top:70px;width:35px;height:27px;background-image:url(../../img/man_front_4.png);background-position:0 0;background-repeat:no-repeat;}
.rt_sz{z-index:7;left:44px;top:93px;width:40px;height:49px;background-image:url(../../img/man_front_5.png);background-position:0 0;background-repeat:no-repeat;} */
.rt_sb{z-index:2;left:0;top:0;}
/* .rt_sb1{display:block;left:18px;top:41px;width:30px;height:80px;background-image:url(../../img/man_front_6.png);background-position:0 0;background-repeat:no-repeat;}
.rt_sb2{display:block;left:77px;top:41px;width:30px;height:80px;background-image:url(../../img/man_front_6_2.png);background-position:0 0;background-repeat:no-repeat;}
.rt_xj{z-index:3;left:45px;top:109px;width:36px;height:97px;background-image:url(../../img/man_front_7.png);background-position:0 0;background-repeat:no-repeat;} */

/*å¥³æ€§æ­£é¢*/

/* .woman .rt_tb{z-index:1;left:45px;top:0px;width:33px;height:38px;background-image:url(../../img/woman_front_1.png);background-position:0 0;background-repeat:no-repeat;}
.woman .rt_jb{z-index:5;left:52px;top:34px;width:21px;height:21px;background-image:url(../../img/woman_front_2.png);background-position:0 0;background-repeat:no-repeat;}
.woman .rt_xb{z-index:4;left:48px;top:40px;width:29px;height:28px;background-image:url(../../img/woman_front_3.png);background-position:0 0;background-repeat:no-repeat;}
.woman .rt_fb{z-index:6;left:47px;top:68px;width:32px;height:24px;background-image:url(../../img/woman_front_4.png);background-position:0 0;background-repeat:no-repeat;}
.woman .rt_sz,.woman .rt_nvsz{z-index:7;left:42px;top:88px;width:41px;height:18px;background-image:url(../../img/woman_front_5.png);background-position:0 0;background-repeat:no-repeat;} */
.woman .rt_sb{z-index:2;left:0;top:0;}
/* .woman .rt_sb1{display:block;left:30px;top:40px;width:23px;height:77px;background-image:url(../../img/woman_front_6.png);background-position:0 0;background-repeat:no-repeat;}
.woman .rt_sb2{display:block;left:72px;top:40px;width:23px;height:77px;background-image:url(../../img/woman_front_6_2.png);background-position:0 0;background-repeat:no-repeat;}
.woman .rt_xj{z-index:3;left:42px;top:103px;width:42px;height:105px;background-image:url(../../img/woman_front_7.png);background-position:0 0;background-repeat:no-repeat;} */
.rt_text{position:absolute;right: 10px;top: 66px;width: 382px;}
/* .rt_text ul{clear:both;line-height:30px;background: url(../../img/iDot.png) no-repeat 0 13px;*background-position:0 12px;padding-left: 16px;} */
.rt_text ul span{height:30px;border-bottom: 1px dashed #49c066;font-size: 20px;display: block;padding-bottom: 10px;}
.rt_text ol{clear:both;padding: 10px 0 0 16px;}
.rt_text ol{clear:both;line-height:24px;}
.rt_text li{display: inline-flex;}
.rt_text li a{
    border: 1px solid #f4f4f4;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 10px;
    margin: 0 10px 10px 0;
}
.rt_text li a:hover{background:#49c066;color:#fff;}
.rt_btn{font-size:16px;color:#fff;display: flex;padding: 0 0 20px 0;}
.rt_btn li{float: left;width: 126px;margin-left:10px;text-align: center;height: 40px;line-height: 40px;overflow: hidden;cursor: pointer;border: 1px solid #f4f4f4;color: #333;}
.rt_btn li.curr{background: #49c066;color: #fff}
.rt_btn .orMan{/* background: #41c8cd; */}
.rt_btn .orWoman{/* background: #49c066; */}


.wrap_r_top-imgwrap img{width: 100%;height: 150px;}

.pic3-pic .df img{width: 176px;height:100px;}


.container-right.w260{
    width: 260px;
}
.container-left.w920{
    width: 920px;
}
.about_menu{width: 80%;margin: 30px auto;}
/*.about_menu li{width: 100%;overflow: hidden;clear: both;line-height: 42px;margin-bottom: 10px;background: url(../../img/about_bg2.png) no-repeat;}
.about_menu li:hover,.about_menu li.on{background: url(../../img/about_bg.png) no-repeat;} */
.about_menu li:hover a,.about_menu li.on a{color: #fff;}
.about_menu li a{font-size: 18px;color: #333;display: block;text-align: left;padding-left: 30px;}
.about_con{padding: 10px;overflow: hidden;clear: both;text-align: left;}
.about_con p{text-indent: 2em;font-size: 16px;color: #333;margin-bottom: 30px;line-height: 2;}
.about_con p a{margin: 0 10px;white-space: nowrap;}
.about_con p a:hover{color: #49c066;}

.about_con h2{font-size: 20px;color: #333;margin-bottom: 30px;line-height: 2;font-weight: normal;}
.about_con h2 img{width: 24px;height: 24px;vertical-align: text-bottom;margin-right: 5px;}
.about_con h3{font-weight: bold;padding: 10px 0;background-color: #ddfee5;text-align: center;margin-bottom: 10px;}

.hot_ci{
    height:228px;
    overflow: hidden;
}
.hot_ci a{
    display: inline-block;
    padding: 3.2px 8px;
    font-size: 14px;
    border: 1px solid #aaa;
    margin: 4px 2px;
    border-radius: 15px;
}
.hot_ci a:nth-child(4n+1) {
    color: rgb(242, 175, 104);
}
.hot_ci a:nth-child(4n+2) {
    color: rgb(95, 154, 125);
}
.hot_ci a:nth-child(4n+3) {
    color: rgb(139, 229, 90);
}
.hot_ci a:nth-child(4n+4) {
    color: rgb(132, 146, 229);
}

.tougao{
    display: inline-block;
    padding: 0px 10px;
    border: 1px solid #666;
    border-radius: 5px;
}
@media screen and (max-width: 751px){
    .wrap_m-top img {
      height: 170px;
      width: 162px;
      margin: auto;
      display: block;
      width: 100%;
      margin: 20px auto 4px;
  }
    .indexbanner .ib_l{
        display: none;
    }
    .indexbanner.row{
        margin-left:0px;
        margin-right:0px;
    }
    .indexbanner .col-lg-7{
        padding-left:0px;
    }
    .row{
        margin-left:0px;
        margin-right:0px;
    }
    .wrap_m-top{
        display: none;
    }
    .wrap_r{
        margin-top:30px;
    }
    .wrap_tit_nav a{
        display: none;
    }
    .wrap_tit_nav a:last-child{
        display: block;
    }
    .pic3 .pic3-ls {
        width: 170px;
    }
    .pic3 .pic3-pic {
        width: 148px;
        height: 92px;
    }
    .pic3 .pic3-title {
        width: 148px;
        height: 30px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        bottom: 0px;
    }
    .pic3-ls{
        margin: 16px 0px;
    }
    .wrap_r_right  {
        margin-top:30px;
    }
    .links ul {
        padding:10px 4%;
    }
    .links ul li {
        width: 33.33%;
    }
    .row{
        margin-left:0px !important;
        margin-right:0px !important;
    }
    .ask-li-main a{
        max-width: 260px;
    }
    .wrap_r .wrap_r-list-a{
        max-width:100%;
    }
}