<header>
  <div class="inner headtop">
	<div class="pp"><a href="/" title="" id="web_logo"> <img src="{dede:global.cfg_templets_skin/}/images/logo12.png" alt="" title="" style="margin:30px 0px 0px 0px;" class="png"> </a> </div>
	<div class="top-nav list-none">
	<li class="t"><a href="" onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('{dede:global.cfg_basehost/}');">设为首页</a><span>|</span><a href="javascript:window.external.AddFavorite('{dede:global.cfg_basehost/}','{dede:global.cfg_titlelast/}')">加入收藏</a></li>
	<li class="b">
		<p> 服务热线：{dede:global.cfg_rx/}</p>
	</li>
	</div>
	<nav>
	<ul class="list-none">
		<li id="nav_10001" style="width:167px;" class="navdown"><a href="/" title="首页" class="nav"><span>首页</span></a></li>
		<li class="line"></li>
		{dede:channelartlist typeid='top'}
		<li id="nav_1" style="width:166px;"><a href="{dede:field name='typeurl'/}" title="{dede:field name='typename'/} " class="hover-none nav"><span>{dede:field name='typename'/}</span></a>
		<dl>
		{dede:channel type='son' noself='yes'}
			<dd ><a href="[field:typelink/]" title="[field:typename/]" 0="">[field:typename/]</a></dd>
			{/dede:channel}
		</dl>
		</li>
		{/dede:channelartlist}
	</ul>
	</nav>
  </div>
</header>
