@charset "utf-8";
/*----------QQ网名网-----------*/
/*----------全局*/

* { margin: 0; padding: 0; font-family: 'Microsoft Yahei', Arial, Helvetica; }
ul, li { list-style: none outside none; }
a { text-decoration: none; color: #333; }
a:hover { color: #9551a4; }
/*---------百度*/

#bdcs { margin-left: 200px; margin-top: 12px; }
/*---------内链*/

img { border: 0px; }
div { word-wrap: break-word; word-break: normal; }
hr { height: 1px; border: 1px dashed #888888; }
input, select { vertical-align: middle; }
body { margin: 0; font-size: 12px; text-decoration: none; color: #333; background: url(.../skin/custom/images/bg.jpg); background-attachment: fixed; }
td { font-size: 14px; color: #333; word-break: break-all; }
table { word-break: break-all; }
.all { width: 1200px; margin: 0 auto; }
.space { margin-top: 10px; }
.lfp { padding-left: 10px; }
.rgp { padding-right: 10px; }
.pic3 { border: 1px #f9f9f9 solid; }
.pic1 { border: 1px #f9f9f9 solid; }
.pic2 { border: 1px #f9f9f9 solid; }
.b_font { color: #ffffff; }
.cl { clear: both; }
.wu { clear: both; height: 0; overflow: hidden; }
/*----------头部*/

#top { height: 48px; overflow: hidden; background-color: #41203f; width: 100%; }
#logo { float: left; width: 180px; line-height: 48px; text-align: center; }
#logo a { font-size: 22px; font-weight: bold; color: #41203f; }
#logo img { margin-left: 0px; float: left; }
#banner { float: right; width: 760px; margin-top: 5px; margin-left: 10px; }
.banner1 { float: left; width: 468px; padding-top: 12px; text-align: center; }
.banner2 { float: right; text-align: left; width: 280px; border: 1px #929292 solid; background: #000000; margin-left: 10px; height: 58px; }
.banner2 ul li { width: 135px; float: right; height: 19px; line-height: 19px; }
/*----------栏目*/

.lm { height: 48px; line-height: 48px; color: #ffffff; text-align: center;  /*box-shadow: 0px 4px 4px #d0d0d0; */ }
.lm ul { padding-left: 75px; overflow: hidden; color: #FFFFFF; float: left; }
.lm ul li { float: left; text-align: center; color: #FFFFFF; }
.lm ul li a { float: left; color: #FFF; list-style-type: none; display: block; text-decoration: none; width: 135px; text-align: center; font-size: 15px; }
.lm ul li a:visited { color: #FFF; text-decoration: none; }
.lm ul li a:hover, .lm ul li.h_font a { color: #ffff00; background-color: #9551a4; text-decoration: none; }
.lm ul li.d a { color: #ffff00; background-color: #1c94cc; text-decoration: none; }
.lm ul li a.this_on { color: #ffff00; background-color: #9551a4; text-decoration: none; }
.cang { border: 1px #545454 solid; margin-top: 5px; height: 27px; text-align: center; padding-top: 9px; background-color: #333333; overflow: hidden; }
/*-----------内栏目----------*/
.lm_zhi { padding: 15px 20px 10px 20px; background-color: #fff; box-shadow: 0px 1px 3px #ccc; margin-bottom: 10px; }
.lm_zhi ul { }
.lm_zhi ul li { float: left; width: 128px; }
.lm_zhi ul li a { display: block; width: 70%; text-align: center; margin-bottom: 10px; border-radius: 4px; background: #f2f2f2; color: #909090; padding: 0px 14px; height: 26px; line-height: 26px; font-size: 14px; }
.lm_zhi ul li:hover a { background: #9551a4; color: #fff; }
.lm_zhi ul li a.this_on { background: #9551a4; color: #fff; }
/*----------首页*/



.inleft { float: left; width: 325px; }
.incent { float: left; width: 325px; margin-left: 5px; }
.inright { float: right; width: 300px; margin-left: 5px; overflow: hidden; }
.inxleft { float: left; width: 840px; overflow: hidden; }
.inxleft1 { float: left; width: 415px; }
.inxleft2 { float: right; width: 415px; margin-left: 10px; }
.inxright { float: left; width: 350px; margin-left: 10px; overflow: hidden; }
.bot { border-top: 0px #545454 solid; text-align: center; line-height: 25px; color: #fff; }
.bot a { color: #fff; }
.link { line-height: 20px; padding: 8px 15px; }
.link ul { overflow: hidden; margin: 1px 0px 1px 0px; }
.link ul li { float: left; text-align: left; }
.link a { float: left; margin-right: 8px; }
.link ul li a:hover { color: #000000; float: left; width: 102px; text-align: center; margin: 1px; text-decoration: none; background-color: #262626; }
/*----------首页头像图片列表*/
.b_tou { }
.b_tou ul { width: 100%; margin: 10px auto; }
.b_tou ul li { width: 50%; float: left; line-height: 24px; font-size: 14px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-align: center; margin-bottom: 8px; }
.b_tou ul li img { width: 91%; }
/*----------左右分列*/


.right { float: right; width: 350px; margin-left: 10px; overflow: hidden; }
.left { float: left; width: 840px; overflow: hidden; }
.left1 { float: left; width: 348px; }
.left2 { float: left; width: 348px; margin-left: 4px; }
.lmleft { width: 128px; float: left; text-align: center; border: 1px #fff solid; background: #fff; }
.lmright { overflow: hidden; }
/*----------列表样式*/



.tb1 { background-color: #fff; box-shadow: 0px 1px 3px #ccc; overflow: hidden; }
.t1 { background: #fff; height: 40px; line-height: 40px; color: #333; padding-left: 10px; font-size: 12px; border-bottom: 2px #41203f solid; overflow: hidden; }
.t1 span { font-size: 12px; float: right; margin-top: -22px; padding-right: 5px; overflow: hidden; }
.t1 a { color: #333; font-weight: bold; }
.t1 a:hover { color: #ff0000; text-decoration: underline; }
.b1 { line-height: 23px; background: #fff; }
.b1 ul { width: 90%; margin: 0 auto; }
.b1 ul li { background: url(img/list1.png) no-repeat left 14px; padding-left: 16px; line-height: 36px; height: 36px; font-size: 14px; border-bottom: 1px dotted #cccccc; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.t1 h1, .t2 h1, .t3 h1 { font-size: 14px }
.t1 h3, .t2 h3, .t3 h3 { font-size: 14px; color: #9551a4; }
.tb2 { background-color: #fff; box-shadow: 0px 1px 3px #ccc; overflow: hidden; }
.t2 { background: #fff; height: 40px; line-height: 40px; color: #333; padding-left: 10px; font-size: 12px; border-bottom: 2px #41203f solid; overflow: hidden; }
.t2 span { font-size: 12px; float: right; margin-top: -25px; padding-right: 5px; }
.t2 a { color: #333; }
.t2 a:hover { color: #ff0000; text-decoration: underline; }
.b2 { line-height: 23px; background: #fff; }
.b2 ul { width: 90%; margin: 0 auto; }
.b2 ul li { background: url(img/list2.png) no-repeat left 14px; padding-left: 16px; line-height: 36px; height: 36px; font-size: 14px; border-bottom: 1px dotted #cccccc; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.t3 { background: #1e1e1e; height: 29px; line-height: 29px; color: #ffffff; text-align: center; font-size: 12px; border-bottom: 1px #545454 solid; }
.b3 { line-height: 23px; background: #fff; }
.b3 ul { width: 90%; margin: 0 auto; }
.b3 ul li { line-height: 24px; overflow: hidden; padding: 3px 10px; float: left; margin: 4px; background: #999; font-size: 14px; }
.b3 ul li a { display: block; color: #fff; font-size: 12px; }
.b3 ul li:hover { background-color: #b00; }
.b4 { line-height: 23px; background: #fff; }
.b4 ul { width: 90%; margin: 0 auto; }
.b4 ul li { line-height: 24px; overflow: hidden; float: left; background: #fff; font-size: 14px; width: 50%; }
.b4 ul li a { display: block; color: #333; font-size: 12px; }
.b4 ul li:hover { }

.tags_list ul li { background: #f2f2f2; color: #909090; }
.tags_list ul li a{ color: #909090; }
.tags_list ul li:hover { background-color: #9551a4; }
.tags_list ul li:hover a{ color: #fff; }

/*----------栏目图文样式*/


.list-wrap { background: #fff; margin-bottom: 20px; }
.list_bot { padding-bottom: 80px; }
.list-wrap li { height: 191px; padding: 20px 20px 0; box-sizing: border-box; }
.list-wrap li:hover { background: #fbfbfb; }
.list-wrap .lpic { float: left; width: 150px; height: 150px; padding-right: 20px; overflow: hidden; padding-bottom: 20px; border-bottom: dashed 1px #e5e5e5; }
.list-wrap .lpic img { width: 150px; height: 150px; }
.list-wrap .lastli .lpic, .list-wrap .lastli dl { border-bottom: none; }
.list-wrap dl { float: left; width: 630px; position: relative; border-bottom: dashed 1px #e5e5e5; padding-bottom: 20px; }
.list-wrap dt { width: 100%; height: 26px; overflow: hidden; font-size: 20px; font-weight: bold; text-overflow: ellipsis; }
.list-wrap dt a:hover { color: #9551a4; text-decoration: none }
.list-wrap .des { color: #989898; margin: 12px 0; display: block; width: 100%; font-size: 14px; line-height: 22px; overflow: hidden; height: 75px; }
.list-wrap .info { color: #989898; width: 100%; height: 25px; overflow: hidden; font-size: 12px; bottom: 15px; }
.list-wrap .pic-txts .pics { width: 720px; height: auto; overflow: hidden; padding-bottom: 15px; border-bottom: dashed 1px #e5e5e5; }
.list-wrap .pic-txts .info span { width: auto; height: 19px; font: 12px/19px Microsoft Yahei, tahoma, HELVETICA; }
.list-wrap .info span { height: 25px; float: left; }
.list-wrap .info span.channel { color: #f00; }
.list-wrap .info .channel a { color: #f00; }
.list-wrap .info .channel a:hover { text-decoration: none; }
.list-wrap .info span.tag { margin-right: 0; max-width: 176px; _width: 176px; overflow: hidden; }
/*----------推荐图文样式*/

.b5 { line-height: 23px; background: #fff; width: 94%; margin-left: 3%; }
.b5 ul li { line-height: 24px; text-align: center; overflow: hidden; float: left; width: 49%; margin-top: 5px; margin-right: 2%; background: #fff; font-size: 14px; }
.b5 ul li:nth-child(even) { margin-right: 0; }
.b5 ul li img { width: 100%; }
.b5 ul li span { line-height: 22px; height: 22px; width: 100%; display: block; overflow: hidden; }
.b5 ul li a { display: block; color: #333; font-size: 12px; }
/*----------图片列表*/

.b_tu, .b_tu2 { }
.b_tu ul, .b_tu2 { width: 100%; margin: 18px auto; }
.b_tu ul li, .b_tu2 ul li { width: 25%; float: left; line-height: 24px; font-size: 14px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-align: center; margin-bottom: 16px; }
.b_tu ul li img, .b_tu2 ul li img { width: 90%; border: 1px solid #eee; padding: 5px; }
.b_tu a, .b_tu2 a { display: block; width: 80%; overflow: hidden; margin: 0 auto; text-overflow: ellipsis; text-align: center; }
/*----------标签列表*/
.b_tag { }
.b_tag ul { width: 100%; margin: 13px auto; }
.b_tag ul li { float: left; margin: 0 8px; }
.b_tag ul li a { display: block; text-align: center; margin-bottom: 10px; border-radius: 4px; background: #f2f2f2; color: #909090; padding: 0px 14px; height: 26px; line-height: 26px; font-size: 14px; }
.b_tag ul li:hover a { background: #20aef0; color: #fff; }
/*------------------------------翻页----------------------------*/
.pages { float: left; width: 100%; padding: 15px 0; }
.pages UL { float: right; padding-right: 46px; padding-left: 46px; }
.pages UL LI { float: LEFT; border: 1px solid #ccc; padding: 6px 10px; margin-right: 10px; margin-bottom: 10px; color: #888; }
.pages UL LI a { display: block; color: #888; }
.thisclass { display: block; }
.pages UL LI select { border: 0; background: none; color: #fff; }
.pages UL LI:hover { border: 1px solid #9551a4; color: #9551a4; }
.pages UL LI:hover a { color: #9551a4; }
.thisclass { background: #9551a4; border: 1px solid #9551a4 !important; color: #fff !important; }
.thisclass a { color: #fff !important; }
/*----------栏目样式*/


.dq1 { width: 650px; float: left; line-height: 30px; height: 30px; color: #fff; }
.dq1 a { color: #fff; }
.dq2 { width: 300px; float: right; }
/*---------------------------------------------------------------------------------------------------*/

/*文章页*/


.title { word-break: break-all; word-wrap: break-word; word-break: normal; padding-top: 30px; padding-bottom: 5px; }
.title h1 { font-size: 20px; color: #9551a4; text-align: center; text-decoration: none; font-family: 'Microsoft Yahei', Arial; }
.time { line-height: 25px; text-align: center; height: 1%; }
.shuoming { margin: 10px auto 0 auto; width: 90%; padding: 10px; background-color: #f2f2f2; color: #666; }
.art_txt { font-size: 16px; line-height: 30px; color: #333; word-break: break-all; word-wrap: break-word; word-break: normal; margin: 10px auto 0 auto; width: 90%; }
.art_txt p { margin-top: 15px; line-height: 30px; }
.art_txt img { margin: 2px; max-width: 100%; height: auto; }
.art_txt h2 { padding: 8px 8px; background-color: #f2f2f2; font-size: 18px; margin-top: 10px; }
.art_txt li { height: auto !important; }
.art_txt table { border-collapse: collapse; margin: 10px 0; width: 100%;      /* 表格相邻边合并*/ }
.art_txt table td { border: 1px #bbb solid; padding: 5px 10px; }
.art_txt table th { border: 1px #bbb solid; background: #F7F7F7; height: 32px; line-height: 32px; }
.next { border: 1px #999999 dashed; line-height: 25px; margin: 10px auto 20px auto; padding: 10px; width: 90%; }
.art_txt_a { font-size: 12px; line-height: 24px; color: #C2BEB0; word-break: break-all; word-wrap: break-word; word-break: normal; }
.art_txt_a p { margin-top: 5px; line-height: 24px; }
.content_tag { margin: 8px auto; line-height: 30px; width: 90%; }
.content_tag a { display: inline-block; padding: 2px 10px; background-color: #999; color: #fff; margin-right: 20px; }
.content_tag a:hover { background-color: #20aef0; }
/*图片页*/

.c_tu { }
.c_tu ul { width: 100%; margin: 10px auto; }
.c_tu ul li { width: 25%; float: left; line-height: 24px; font-size: 14px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-align: center; margin-bottom: 8px; }
.c_tu ul li img { width: 91%; }
/*文章下*/
.d_tu { }
.d_tu ul { width: 100%; margin: 10px auto; }
.d_tu ul li { width: 48%; float: left; margin-left: 2%; line-height: 24px; font-size: 14px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-align: left; margin-bottom: 8px; }
.d_tu ul li i { width: 10px; height: 10px; float: left; margin-right: 7px; margin-top: 5px; background: url(img/list2.png) no-repeat left 0px; }
/*gg*/

.other { text-align: center; }
.other_x { text-align: center; clear: both; }
.right_x { line-height: 23px; padding: 1px 5px 1px 5px; background: #333333; }
.right_x_x { line-height: 23px; height: 0; }
/*border:1px #545454 solid;display: none;border-top:1px #999999 dashed;*/


.right_s { }
.lm_lf { text-align: center; }
.lm_lf2 { }
.lm_lf2 ul li { background: url(/skin/custom/images/list2.png) no-repeat left 14px; padding-left: 16px; line-height: 36px; height: 36px; font-size: 14px; border-bottom: 1px dotted #cccccc; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 42%; float: left; }
.lm_lf2 ul li a { display: block; color: #333; font-size: 12px; }
.lm_lf2 ul li:hover { }
.lm_lf2 ul li:hover a { }
.art_s { text-align: center; border-bottom: 1px #545454 solid; overflow: hidden; height: 50px; line-height: 18px; }
.art_sc { text-align: center; border-bottom: 1px #545454 solid; padding: 5px 0px 5px 2px; height: 20px; line-height: 20px; }
.art_right { /*float: right;*/ }
.art_x { text-align: center; padding-top: 2px; margin-top: 2px; clear: both; }
.art_x_x { text-align: left; line-height: 25px; padding: 0px 5px 2px 5px; }
.soft_s { text-align: center; }
.soft_x { text-align: center; border-top: 1px #999999 dashed; }
.soft_x_x { text-align: left; }
/*网站地图*/
.linkbox { clear: both; width: 90%; margin: 10px 5%; }
.zslm { display: none; }
 @media screen and (min-width: 1280px) {
.b_tu2 { height: 393px; }
.b_tag { height: 121px; overflow: hidden; }
}
.b_tu_index1 { height: 426px; }
 @media screen and (max-width: 750px) {
/*-----------内栏目----------*/
.lm_zhi { margin-top: 50px; }
.lm_zhi ul li { width: 25%; }
.lm_zhi ul li a { margin: 0 auto 10px auto; padding: 0px 6px; overflow: hidden; }
/*---------------------*/
.all { width: 100%; }
#top { height: 50px; /*background: #444; */ position: fixed; background: url(/skin/custom/images/bg.jpg); top: 0; z-index: 999; }
#logo { width: 40%; }
#logo img { margin-left: 10px; }
img.zslm { float: right; padding: 1.3em 4%; ; display: block; }
#banner { display: none; }
.lm { }
.lm ul { width: 100%; display: none; height: 100%; background: #41203f; position: fixed; z-index: 999; opacity: 0.9; top: 51px; padding: 0; }
.lm ul li { width: 80%; margin: 0 0 0 10%; text-align: left; border-bottom: 1px solid #efefef; }
.lm ul li a { float: none; width: 100%; font-weight: 500; text-align: left; }
.lm ul li.d a { color: #ffff00; background: none; text-decoration: none; }
.index_sj { margin-top: 86px; }
.b1 ul li { font-size: 1rem; }
.inxleft, .inxright { float: none; width: 100%; margin: 0 auto; }
.inxleft1, .inxleft2 { width: 100%; margin: 0 0 5px 0; }
.b_tu ul li, .b_tu2 ul li { width: 50%; }
.c_tu ul li { width: 50%; }
.yqlj { display: none; }
.dbwz { padding: 5px 0; width: 100%; line-height: 18px; }
.left { width: 100%; }
.dq1, .dq2 { display: none; }
.title h1 { font-size: 1.2rem; }
.title { height: auto; }
.time { padding-bottom: 2px; }
.art_txt { font-size: 1rem; }
.art_txt img { max-width: 100% !important; height: auto !important; }
.left { padding-bottom: 5px; }
.left .b1.lfp.rgp { padding-bottom: 5px; }
.right { float: right; width: 100%; }
.lmleft { display: none; }
.lmright { width: 100%; }
/*---------图文列表------------*/
.b5 ul li { margin: 8px 0; }
.b5 ul li img { width: 80%; border: 1px solid #eee; padding: 8px; }
/*---------图文列表------------*/
.list-wrap .lpic { width: 28%; margin-right: 2%; height: auto; padding: 0; border: none; }
.list-wrap .lpic img { width: 100%; height: auto; }
.list-wrap dl { width: 70%; border: none; padding-bottom: 0; }
.list-wrap li { width: 100%; padding: 1rem 0; height: auto; border-bottom: dashed 1px #e5e5e5; box-sizing: content-box; }
.list-wrap { font-size: 0.7rem; padding: 0.5rem 1rem 0.5rem; }
.list-wrap .info { margin-top: 1rem; }
.list-wrap .des { display: none; }
.list-wrap dt { overflow: inherit; height: 52px; }
/*---------二级栏目展开------------*/
.lm_zhi { position: relative; }
.lm_zhi ul { height: 30px; width: 95%; overflow: hidden; }
.lm_zhi ul.q_on { height: auto; overflow: inherit; }
.lm_zhi i { position: absolute; width: 40px; height: 25px; display: block; background: url(/skin/custom/images/t.png) no-repeat; background-position: 17px 7px; right: 5px; top: 18px; cursor: pointer; }
.lm_zhi i.q_on { background-position: 17px -12px; }
}
