<!doctype html public "-//w3c//dtd xhtml 1.0 transitional//en" "http://www.w3.org/tr/xhtml1/dtd/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<title>{dede:field name=typename/}-{dede:global.cfg_webname/}</title>
<meta name="author" content="order by dede58.com" />
<meta name="keywords" content="{dede:field name='keywords'/}" />
<meta name="description" content="{dede:field name='description'/}" />
<script src="/style/js/ajaxserver.js" type="text/javascript"></script>
<script src="/style/js/swfobject.js" type="text/javascript"></script>
<script src="/style/js/jquery-1.4.4.min.js" type="text/javascript"></script>
<script src="/style/js/move.js" type="text/javascript"></script>
<script src="/style/js/ylfloat.js" type="text/javascript"></script>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>


<body>
<script src="/style/js/function.js"></script>
<script src="/style/js/ajaxserver.js" type="text/javascript"></script>
<script src="/style/js/swfobject.js" type="text/javascript"></script>
<script src="/style/js/jquery-1.4.4.min.js" type="text/javascript"></script>
<script src="/style/js/move.js" type="text/javascript"></script>
<script src="/style/js/ylfloat.js" type="text/javascript"></script>
<script src="/style/js/msclass.js"></script>

<link rel=stylesheet type=text/css href="/style/css/smax.css">
<script language="javascript" src="/style/js/function.js"></script>

<script type="text/javascript">
		swfobject.embedswf("/templates/site/swf/logo.swf", "logoswf", "232", "116", "9.0.0", "/www/js/expressinstall.swf",null,{"wmode":"transparent"});
		</script>
<div id=top01>
<div id=top02 class=cen>
<div class=left>
<dt></dt>
<dd>
<ul>
<li><a href="/">网站首页</a> </li>
{dede:type typeid=1 row=1 }
 <li><a href="[field:typelink/]">[field:typename/]</a> </li>
{/dede:type}
{dede:type typeid=6 row=1}
<li><a href="[field:typelink/]">[field:typename/]</a> </li>
{/dede:type}
{dede:type typeid=7 row=1}
<li><a href="[field:typelink/]">[field:typename/]</a> </li>
{/dede:type}
</ul></dd></div>
<div class=center>
<p id=logoswf><img alt="get adobe flash player" src="/style/images/get_flash_player.gif"></p></div>
<div class=right>
<dt>
</dt>
<dd>
<ul>
{dede:type typeid=8 row=1}
<li><a href="[field:typelink/]">[field:typename/]</a> </li>
{/dede:type}
{dede:type typeid=9 row=1}
<li><a href="[field:typelink/]">[field:typename/]</a> </li>
{/dede:type}
{dede:type typeid=16 row=1}
<li><a href="[field:typelink/]">[field:typename/]</a> </li>
{/dede:type}
{dede:type typeid=17 row=1}
<li><a href="[field:typelink/]">[field:typename/]</a> </li>
{/dede:type}
</ul>
</dd></div></div></div>
<div id=banner align=center><img  src="/style/images/123.png" >
</div>


<div id="container" class="cen">
  <div id="coltop1">
    <div id="toptitle">{dede:field.typename/}
</div>
	<div id="toppos">{dede:field name='position'/}列表</div>
	</div>
	<div class="clear"></div>
	<ul id="nav02">
<li class="line01"></li>


	{dede:channel type='son' typeid ='1'}
	<li><a title='[field:typelink/]' href='[field:typelink/]'>[field:typename/]</a></li>
        {/dede:channel}
    </ul>
	<div id="text" class="cen">

      <div id="showcontent">
        <p></p>
  {dede:field.content/}
        <p style="text-align: center;"><img src="/style/images/20140523111839103.jpg" border="0"><br></p>
        <p></p>

      </div>
    </div>
	<div class="clear"></div>
  </div>
</div>



<!-- 公共底部 -->
<div id=links align=center>

<div class=clear></div>
<div id=bottom class=cen>
<div id=help class=cen>
版权信息：{dede:global.cfg_powerby/}
 </div>
<div id=copyright class=cen>
备 案 号：{dede:global.cfg_beian/}<br>
</div></div>
<div></div></div>


</body>
</html>
