<STYLE type="text/css">
<!--
.tr {
	font-size: 14px;
	color: #FFFFFF;
}
.uytutyu {
	font-size: 12px;
	color: #666666;
}
.ytyty {
	color: #990000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 26px;
	font-weight: bold;
}
-->
</STYLE>
<TABLE border="0" cellSpacing="0" cellPadding="0" width="100%" background="{dede:global.cfg_templets_skin/}/images/bg.jpg"
height="113">
  <TBODY>
  <TR>
	<TD align="center">
	<TABLE border="0" cellSpacing="0" cellPadding="0" width="960" background="{dede:global.cfg_templets_skin/}/images/top.jpg"
	height="113">
		<TBODY>
		<TR>
		<TD>
			<TABLE border="0" cellSpacing="0" cellPadding="0" width="960"
			height="63">
			<TBODY>
			<TR>
				<TD height="37" width="85">&nbsp;</TD>
				<TD width="239">&nbsp;</TD>
				<TD width="381">&nbsp;</TD>
				<TD width="255">&nbsp;</TD></TR>
			<TR>
				<TD>&nbsp;</TD>
				<TD vAlign="bottom" align="left"><SPAN
				class="uytutyu">本站关键词：{dede:global.cfg_indexname/}</SPAN><BR></TD>
				<TD>&nbsp;</TD>
				<TD vAlign="top" align="left"><SPAN
				class="ytyty">13888888888</SPAN></TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE></TD></TR>
  </TBODY></TABLE>
<TABLE border="0" cellSpacing="0" cellPadding="0" width="100%" background="{dede:global.cfg_templets_skin/}/images/menu-bg.jpg"
height="47">
  <TBODY>
  <TR>
	<TD align="center"><SPAN class="tr"><A href="/"><FONT
	color="#ffffff">网站首页</FONT></A>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	{dede:channel type='top' row='10'}
	<A href="[field:typeurl/]"><FONT color="#ffffff">[field:typename/]</FONT></A>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	{/dede:channel}
	</SPAN></TD></TR>
  </TBODY></TABLE>
<TABLE border="0" cellSpacing="0" cellPadding="0" width="990" align="center"
height="29">
  <TBODY>
  <TR>
	<TD><IMG alt="{dede:global.cfg_indexname/}" src="{dede:global.cfg_templets_skin/}/images/banner.jpg" width="990" height="240"></TD></TR>
  </TBODY></TABLE>
