<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<HEAD>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="applicable-device" content="pc" />
<meta name="location" content="province={dede:global.cfg_province/};city={dede:global.cfg_city/}" />
<TITLE>{dede:global.cfg_webname/}</TITLE>
<script language="JavaScript" type="text/javascript" src="/js/uadirect.js"></script>
<meta http-equiv="mobile-agent" content="format=html5;url={dede:global.cfg_waphost/}/" />
<meta name="mobile-agent" content="format=xhtml;url={dede:global.cfg_waphost/}" />
<META name="description" content=" {dede:global.cfg_description/}">
<META name="keywords" content="{dede:global.cfg_indexname/} ">
<STYLE type="text/css">
<!--
body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
.STYLE1 {font-size: 12px}
a:link {
    color: #333333;
    text-decoration: none;
}
a:visited {
    color: #333333;
    text-decoration: none;
}
a:hover {
    color: #990000;
    text-decoration: underline;
}
a:active {
    text-decoration: none;
}
.STYLE2 {color: #333333}
.STYLE3 {color: #FFFFFF}
.STYLE4 {color: #FFFFFF; font-size: 12px; }
-->
</STYLE>
</HEAD>
<BODY>
{dede:include filename="head.htm"/}
<!-- /header -->
<TABLE border="0" cellSpacing="0" cellPadding="0" width="990" align="center"
height="503">
  <TBODY>
  <TR>
    <TD height="8" colSpan="2"></TD></TR>
  <TR>
    <TD height="316" vAlign="top" background="{dede:global.cfg_templets_skin/}/images/3.jpg" rowSpan="2"
    width="230"><IMG border="0" src="{dede:global.cfg_templets_skin/}/images/4.jpg" width="230" height="32"
    useMap="#Map">
    <TABLE border="0" cellSpacing="0" cellPadding="0" width="220" align="center">
        <TBODY>
        <TR>
        <TD height="6"></TD></TR>
        <TR>
        <TD height="195" vAlign="top">
            <TABLE border="0" cellSpacing="0" cellPadding="1" width="98%" align="center">
            <TBODY>
            {dede:arclist row='7' Typeid='2' titlelen=32 noflag='h'}
            <TR>
                <TD height="14">
                <TABLE border="0" cellSpacing="0" cellPadding="0"
width="100%">
                    <TBODY>
                    <TR class="xilie">
                    <TD height="24" width="16"><IMG src="/templets/zhong/images/17.jpg"
                        width="11" height="12"></TD>
                    <TD class="STYLE3" width="198"><A class="STYLE1" href="[field:arcurl/]"
                        target="_blank">[field:title/]
                </A></TD></TR></TBODY></TABLE></TD></TR>
                {/dede:arclist}
                </TBODY></TABLE></TD></TR></TBODY></TABLE><IMG
    border="0" src="{dede:global.cfg_templets_skin/}/images/5.jpg" width="230" height="32" useMap="#Map2">
    <TABLE border="0" cellSpacing="0" cellPadding="0" width="220" align="right">
        <TBODY>
        <TR>
        <TD height="6"></TD></TR>
        <TR>
        <TD style="line-height: 26px;" class="STYLE1" height="156" vAlign="top"><SPAN
            class="STYLE2"><STRONG>{dede:global.cfg_indexname/}</STRONG><BR>     联系人：钟经理<BR>
                电话：13888888888<BR>       Q Q：83122197
            <BR>邮箱：83122197@qq.com<BR>地址：{dede:global.cfg_webname/}</SPAN></TD></TR>
        <TR>
        <TD style="line-height: 26px;" class="STYLE1" height="96" align="center"><IMG
            alt="东莞代开发票" src="{dede:global.cfg_templets_skin/}/images/18.jpg" width="170"
        height="75"></TD></TR></TBODY></TABLE></TD>
    <TD height="34" width="760"><IMG src="{dede:global.cfg_templets_skin/}/images/6.jpg" width="760"
    height="34"></TD></TR>
  <TR>
    <TD height="461" vAlign="top">
    <TABLE border="0" cellSpacing="0" cellPadding="0" width="700" align="right"
    height="456">
        <TBODY>
        <TR>
        <TD height="34" vAlign="top" width="463"><IMG border="0" src="{dede:global.cfg_templets_skin/}/images/7.jpg"
            width="463" height="29" useMap="#Map3"></TD>
        <TD vAlign="top" rowSpan="2" width="237">
            <DIV align="right"><IMG src="{dede:global.cfg_templets_skin/}/images/8.jpg" width="187" height="30"><BR>
            <TABLE border="0" cellSpacing="0" cellPadding="0" width="200"
            height="207">
            <TBODY>
            <TR>
                <TD vAlign="top"><IMG border="0" src="{dede:global.cfg_templets_skin/}/images/11.jpg"
                width="198" height="200"
            useMap="#Map5"></TD></TR></TBODY></TABLE></DIV></TD></TR>
        <TR>
        <TD style="line-height: 26px;" class="STYLE1" height="216" vAlign="top">{dede:global.cfg_about/}
            </TD></TR>
        <TR>
        <TD height="45" colSpan="2"><IMG border="0" src="{dede:global.cfg_templets_skin/}/images/9.jpg"
            width="692" height="29" useMap="#Map4"></TD></TR>
        <TR>
        <TD height="161" vAlign="top" colSpan="2">
            <TABLE border="0" cellSpacing="0" cellPadding="0" width="698"
            background="{dede:global.cfg_templets_skin/}/images/10.jpg" height="161">
            <TBODY>
            <TR>
                <TD>
                <TABLE border="0" cellSpacing="0" cellPadding="0" width="650"
                align="center" height="141">
                    <TBODY>
                    <TR>
                    <TD>
                        <DIV style="width: 640px; height: 130px; overflow: hidden;"
                        id="ademo" align="center">
                        <TABLE border="0" cellSpacing="0" cellPadding="0" width="610"
                        align="left" cellspace="0">
                        <TBODY>
                        <TR>
                            <TD id="ademo1" vAlign="top" width="610">
                            <TABLE border="0" cellSpacing="0"
                                cellPadding="0"><TBODY>
                                <TR>
                                {dede:arclist row='10' orderby=pubdate type='image.' imgwidth='190' imgheight='130'}
                                <TD>
                                <TABLE width="173">
                                <TBODY>
                                <TR>
                                <TD vAlign="top" borderColor="#1" width="165">
                                <DIV align="center"><A href="[field:arcurl/]"
                                target="_blank">[field:image/]
                                </A></DIV></TD></TR></TBODY></TABLE></TD>
                                {/dede:arclist}
                                </TR></TBODY></TABLE></TD>
                            <TD id="ademo2" vAlign="middle" width="75" align="center"></TD></TR></TBODY></TABLE></DIV>
<SCRIPT>
  var speed=5;
  ademo2.innerHTML=ademo1.innerHTML
  function aMarquee(){
  if(ademo2.offsetWidth-ademo.scrollLeft<=0)
  ademo.scrollLeft-=ademo1.offsetWidth
  else{
  ademo.scrollLeft++
  }
  }
  var aMyMar=setInterval(aMarquee,speed)
  ademo.onmouseover=function() {clearInterval(aMyMar)}
  ademo.onmouseout=function() {aMyMar=setInterval(aMarquee,speed)}
</SCRIPT>
                    </TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE></TD></TR>
  </TBODY></TABLE><BR>
<TABLE border="0" cellSpacing="0" cellPadding="8" width="990" bgColor="#f5f5f5"
align="center" height="76">
  <TBODY>
  <TR>
    <TD class="STYLE1" vAlign="top">
    <b>友情链接：</b>{dede:flink row='24'}[field:link/] {/dede:flink}
</TD></TR>
</TBODY></TABLE><BR>
<TABLE border="0" cellSpacing="0" cellPadding="0" width="990" background="{dede:global.cfg_templets_skin/}/images/12.jpg"
align="center" height="81">
  <TBODY>
  <TR>
    <TD style="line-height: 26px;" align="center"><SPAN class="STYLE4">{dede:global.cfg_webname/} </TD>

<!-- /footer -->

</DIV>
</body></HTML>
