/* CSS Document */
*{margin:0;padding:0;}
img{border:none;}
body{background:#ededed;font:12px Verdana, Geneva, sans-serif;line-height:180%;color:#333;}
div,ul,li,dl,dt,dd{margin:0;padding:0;}
li{list-style-type:none;}
a{color:#333;text-decoration:none;}
a:hover{color:#ff6600;text-decoration:underline;}
.clear{clear:both;}
.l{float:left;}
.r{float:right;}

#wrap{width:980px;background:#fff url(../images/bg.gif) center repeat-y;margin:auto;}
#top{width:960px;margin:auto;height:126px;}
.logo{float:left;margin-top:20px;height:70px;}
.logo img{margin-left:10px;}
.tel{float:right;width:360px;background:url(../images/tel.gif)  bottom right no-repeat;height:65px;line-height:30px;margin-top:5px;text-align:right;}
.tel span{padding-right:8px;}
.menu{clear:both;z-index:1000;width:960px;height:36px;margin:auto;background:url(../images/nav_bg.gif) 0 0px no-repeat;}
.menu:after {display:block;height:0;visibility:hidden;clear:both;CONTENT: "."}
.menu .main{height:36px;}
.menu .main li{line-height:34px;*line-height:36px;background:url(../images/nav_line.gif) left no-repeat;float:left;height:36px;position:relative;}
.menu .main li.home{background:none;}
.menu .main li a{color:#fff;display:block;height:36px;font-size:14px;float:left;margin:0 8px 0 12px;_margin:0 4px 0 6px;text-align:center;font-weight:bold;padding:0 10px;}
.index .menu .main li.home a{color:#FF0;}
.menu .main li a:hover,.menu .main li.hover a{color:#FF0;text-decoration:none;}
.menu .main li a.selected{background:url(../images/nav_s.gif) right center no-repeat;color:#fff;text-decoration:none;font-weight:bold;}
.menu .main li a.selected span{background:url(../images/nav_s_l.gif) left center no-repeat;color:#ff6600;}
.dropmenu {z-index:3000;border:2px #e6f1f8 solid;position:absolute;left:0;top:0;visibility:hidden;padding:8px 0;background:#fff;width:150px;margin-top:-8px;margin-left:-1px;_margin-left:0;}
 .dropmenu ul{width:140px;margin:auto;}
.dropmenu li{float:none;height:20px;line-height:20px;background:none;width:140px;}
.dropmenu a{text-indent:20px;width:140px;display:block;height:20px;line-height:20px;color:#003366;font-size:12px;background:url(../images/ico-navlist.gif) 10px 5px no-repeat;}
.dropmenu a:hover{color:#fff;background:#003366 url(../images/ico-navlist_h.gif) 10px 5px no-repeat;}

.banner{width:960px;margin:0px auto 0 auto;}
#mainbody{width:940px;margin:auto;}
.cb{width:968px;margin:auto;height:12px;background:url(../images/cb.gif) no-repeat;}

.cat{float:left;width:206px;background:url(../images/cat.gif) top no-repeat;margin-top:8px;height:260px;}
.index .cat{height:322px;}
.cat .t{height:36px;line-height:36px;color:#fff;font-size:14px;font-weight:bold;text-indent:10px;}
.cat .c ul{padding:5px 10px;}
.cat .c li{line-height:25px;margin-top:1px;}
.cat .c li a{height:25px;display:block;line-height: 25px;width: 160px;letter-spacing: 2px;background: url(../images/arr4.gif) no-repeat 8px center;padding-left: 26px;margin-top: 1px;overflow:hidden;}
.cat .c li a:hover,.cat .c li a.thisclass{background:#0132CD url(../images/arr4_a.gif) no-repeat 8px 8px;color:#fff;font-weight:bold;text-decoration:none;}
.cat .c li.ta{}
.cat .c li span{display:block;border-bottom:1px #ccc dashed;padding:0 5 0 8px;}
.cat .c li span a{height:20px;line-height:20px;display:block;padding-left:25px;background:url(../images/jt.gif) 8px center no-repeat;}
.cat .c li span a:hover{background:url(../images/jt.gif) 8px center no-repeat;color:#ff6600;}

.faq{clear:both;background:url(../images/faq.gif) bottom no-repeat;width:184px;height:62px;margin:auto;overflow:hidden;}
.faq ul{padding:7px 10px;margin:0 5px;}
.faq li{background:url(../images/ico2.jpg) -4px 4px no-repeat;padding-left:18px;height:23px;line-height:23px;overflow:hidden;}
.faq li a{color:#07519d;}

.about{float:left;width:464px;margin-top:8px;margin-left:10px;background:url(../images/about_bg.gif) repeat-x;}
.about .t{height:36px;line-height:36px;font-size:14px;font-weight:bold;text-indent:12px;background:url(../images/about_t.gif) 10px 11px no-repeat;padding-left:20px;}
.about .c{padding-top:5px;}
.about .c p{padding:5px 10px 5px 10px;}
.about .c p img{float:left;width:150px;margin-right:8px;margin-top:5px;}

.news{width:250px;float:right;margin-top:8px;background:url(../images/about_bg.gif) repeat-x;}
.news .t{height:36px;line-height:36px;font-size:14px;font-weight:bold;text-indent:12px;background:url(../images/about_t.gif) 10px 11px no-repeat;padding-left:20px;}
.news ul{padding:5px 10px 0 10px;}
.news li {background:url(../images/ico-1.gif) left 12px no-repeat;padding-left:10px;height:26px;line-height:26px;overflow:hidden;border-bottom:1px #ddd dashed;}

#left{float:left;width:206px;}
#right{float:right;width:724px;}

.case{width:206px;background:url(../images/cat.gif) top no-repeat;margin-top:8px;}
.case .t{height:36px;line-height:36px;color:#fff;font-size:14px;font-weight:bold;text-indent:10px;}
.case .c{width:186px;margin:5px 10px;overflow:hidden;}
.case ul{width:196px;display:inline-block;}
.case li{float:left;width:88px;margin-right:10px;margin-top:8px;}
.case li span{clear:both;display:block;text-align:center;}
.newl{width:206px;background:url(../images/cat.gif) top no-repeat;margin-top:8px;}
.newl .t{height:36px;line-height:36px;color:#fff;font-size:14px;font-weight:bold;text-indent:10px;}
.newl ul{padding:5px 10px;}
.newl li{background:url(../images/ico-1.gif) left 10px no-repeat;padding-left:10px;height:23px;line-height:23px;overflow:hidden;}

.newp{width:724px;margin-top:8px;background:url(../images/about_bg.gif) repeat-x;}
.newp .t{height:36px;line-height:36px;font-size:14px;font-weight:bold;text-indent:12px;background:url(../images/about_t.gif) 10px 11px no-repeat;padding-left:20px;}
.newp .c{width:706px;margin:auto;overflow:hidden;}
.newp .c ul{width:732px;display:inline-block;}
.newp .c li{float:left;width:157px;margin-right:26px;margin-top:8px;}
.newp .c li a.lp{width:140px;height:120px;overflow:hidden;display:block;border:1px #ddd solid;background:#fff;}
.newp .c li img{width:140px;}
.newp .c li span{clear:both;display:block;text-align:center;height:25px;line-height:25px;overflow:hidden;width:140px;}

.box{width:367px;margin-top:8px;background:url(../images/about_bg.gif) repeat-x;}
.box .t{height:36px;line-height:36px;font-size:14px;font-weight:bold;text-indent:12px;background:url(../images/about_t.gif) 10px 11px no-repeat;padding-left:20px;}
.box ul{padding:5px 10px;}
.box li {background:url(../images/ico-1.gif) left 12px no-repeat;padding-left:10px;height:25px;line-height:25px;overflow:hidden;}

.rbox{clear:both;width:268px;}
.rbox h3{height:30px;line-height:30px;border-bottom:1px #ddd solid;background:url(../images/main_bj.gif) 0 -494px repeat-x;color:#153b84;padding-left:10px;font-size:14px;color:#C30}


.place{width:724px;height:29px;line-height:29px;text-indent:10px;background:url(../images/place.gif) no-repeat;margin-top:8px;}
#content{background:#fafafa;width:723px;padding:8px 0;min-height:500px;border-left:1px #eee solid;overflow:hidden;}
#content .c{margin:5px 10px 5px 20px;}
#content p{padding:8px 0px;font-size:14px;line-height:185%;}


.newlist{margin:10px 0 10px 0px;width:720px;overflow:hidden;}
.newlist li{height:30px;line-height:30px;background:url(../images/ico-1.gif) 12px 12px no-repeat;padding-left:25px;}
.newlist li span{float:right;padding-right:5px;}
.newlist li a{color:#333;}
.newlist li a:hover{color:#e54001;}
.newlist li#a{background:#f0f0f0 url(../images/ico-1.gif) 12px 12px no-repeat;}

.pages{clear:both;margin-top:10px;}
.pages ul{text-align:center;}
.pages li{float:none;display:inline;}

#content .clist{width:720px;margin:auto;overflow:hidden;}
#content .clist .listbox{width:730px;display:inline-block;}
#content .listbox dl{float:left;width:350px;overflow:hidden;margin-right:10px;margin-top:10px;border:1px #bbb solid;height:240px;}
#content .listbox dl dt{height:28px;line-height:28px;background:#eee;font-size:12px;margin:1px;}
#content .listbox dl dt strong{padding-left:8px;float:left;color:#153b84;}
#content .listbox dl dt span{float:right;}
#content .listbox dl dt span a{color:#666;}
#content .listbox dl dd{}
#content .listbox dl ul{padding:5px 5px 5px 8px;}
#content .listbox dl li{background:url(../images/ico-1.gif) left 12px no-repeat;padding-left:10px;height:25px;line-height:25px;overflow:hidden;}
#content .listbox dl li span{float:right;color:#999;}
#content h2{height:30px;line-height:30px;font-size:16px;color:#ff6600;}
#content .title{height:35px;line-height:35px;margin:0 15px;text-align:center;}
#content h1{font-size:20px;line-height:30px;padding-top:15px;text-align:center;border-bottom:1px #ddd dashed;color:#153b84;margin:0 20px;padding-bottom:5px;}
#content .info{text-align:center;height:25px;line-height:25px;color:#666;}
#content .content{margin:10px 10px 10px 20px;}
#content table {border-collapse:collapse;border-top:1px #a0a0a0 solid;border-left:1px #a0a0a0 solid;margin-top:5px;}
#content table td {border:#a0a0a0 solid 1px; font-size:12px; height:20px;line-height:20px;padding:5px;background:#fff;}
#content .content ul{margin:10px 0;margin-left:15px;padding-left:10px;}
#content .content li{height:25px;line-height:25px;font-size:14px;list-style-type:disc;list-style:outside;}
#content .pview{margin:10px 10px 10px 15px;width:718px;}
#content .pview .lit{float:left;width:280px;}
#content .pview .lit img{border:4px #ddd solid;width:270px;}
#content .pview .pinfo{float:right;width:420px;}
#content .pview .pinfo h1{text-align:left;color:#ff6600;padding-left:10px;}
#content .pcon{margin:0 10px 0 15px;width:718px;}
#content .pcon p{padding:8px 0;}
#content .c ul{margin-left:20px;padding:10px 0;}
#content .c li{list-style-type:square;list-style:outside}
#content .pcon table td  p{padding:0px 0;}
#content .context{margin:10px 0px;clear:both;border-top:1px #ddd dashed;padding-top:10px;}
#content .context li{padding-left:10px;list-style-type:none;}
#content .like{margin:10px 10px 10px 20px;border:1px #ddd solid;}
#content .like h4{height:25px;line-height:25px;border-bottom:1px #ddd solid;background:#eee;font-size:14px;padding-left:10px;color:#00F;}
#content .like ul{padding:8px 10px;}
#content .like li{background:url(../images/ico-1.gif) left no-repeat;padding-left:10px;}

#content .suba{margin:10px 10px 10px 20px;}
#content .suba li a{font-size:14px;font-weight:bold;color:#00F;}

.plist{}
.plist ul{padding:0 10px 0 20px;}
.plist li{clear:both;border-bottom:1px #f0f0f0 dashed;padding-bottom:8px;margin-top:10px;display:inline-block;}
.plist li a.pic{width:150px;display:block;height:120px;overflow:hidden;float:left;margin-right:10px;border:1px #ddd solid;padding:2px;background:#fff;vertical-align:middle;}
.plist li img{width:150px;}
.plist li a.t{font-weight:bold;color:#0d519c;}

.links{clear:both;width:958px;margin:auto;margin-top:8px;}
.links span{float:left;}
.links .c{padding:5px;}
.links ul{text-align:left;}
.links li{float:none;display:inline;}

#footer{clear:both;padding-top:5px;height:85px;width:960px;margin:auto;}
#footer p.l{background:url(../images/tel.jpg) top left no-repeat;padding-left:35px;}
#footer p.r{background:url(../images/footr.jpg) right no-repeat;padding-right:90px;text-align:right;}

