@import url("global.css");

.dHead_M {width:940px;height:30px;overflow:hidden;padding:8px 0 0;margin:auto;border-bottom:1px solid #ccc;line-height:30px;text-align:right;}
.dHead_M strong {float:left;font-family:黑体;font-size:18px;text-align:center;color:#75b800;font-weight:100;}
.dHead_M strong a {color:#75b800;}

.dBody_M {width:940px;padding:8px 0;margin:auto;}

.dTxt_1 {padding:20px 0 0}

.ulTextlist_1 li {padding-bottom:8px;}
.ulTextlist_1 li span {display:block}
.ulTextlist_1 li .sTitle {font-size:14px;line-height:24px;color:#498fb8;}
.ulTextlist_1 li .sTitle a {color:#498fb8;}

.ulTextlist_2 {padding-top: 15px;}
.ulTextlist_2 li {padding:20px 0;border-bottom:1px solid #ccc;font-size:14px;line-height:24px;}
.ulTextlist_2 li strong {display:block;height:28px;overflow:hidden;padding-bottom:12px;line-height:28px;font-size:18px;font-weight:800;font-family:"微软雅黑"}
.ulTextlist_2>li>a>img{margin-right: 10px;}
.ulTextlist_2>li>p,.dLeft .dArt{text-indent: 2em;}
.ulTextlist_3 li {height:22px;overflow:hidden;padding-left:12px;background:url(../images/img.png) no-repeat -795px 9px;vertical-align:middle;}

.ulTextlist_3_1 {float:left;width:340px;height:192px;overflow:hidden;padding:5px 0 0;}
.ulTextlist_3_1 li {float:left;display:inline;width:158px;}
.ulTextlist_3_2 li {float:left;width:263px;}
.ulTextlist_3_3 li {height:24px;padding-left:0;background:none}
.ulTextlist_3_3 .li_0 {height:25px;padding-left:10px;background:url(../images/img.png) no-repeat -796px 8px;font-weight:800;color:#75b800;font-size:13px;}
.ulTextlist_3_4 li {height:24px;background-position:-795px 10px;}
.ulTextlist_3_5 li {float:left;width:75px;height:24px;padding-left:10px;background:url(../images/img.png) no-repeat -796px 8px;}
.ulTextlist_3_6 {height:52px;margin:15px 10px 0;}
.ulTextlist_3_6 li {float:left;width:310px;height:26px;background-position: -795px 10px;}

.ulTextlist_5 {height:185px;overflow:hidden;}
.ulTextlist_5 li {height:26px;overflow:hidden;line-height:26px;font-size:14px;vertical-align:middle;color:#bbb;}
.ulTextlist_5 .li_0 {height:33px;line-height:20px;font-family:微软雅黑;font-size:18px;text-align:left;color:#75b800;text-align:center;}
.ulTextlist_5 .li_0 a {display:inline-block;height:20px;overflow:hidden;color:#75b800;}
.ulTextlist_5 li .sChannel {float:left;display:block;height:26px;padding-right:6px;color:#bbb;text-align:left;}
.ulTextlist_5 li .sChannel a {color:#bbb}

.ulPiclist_1 li {float:left;width:115px;height:90px;text-align:center;}
.ulPiclist_1 li a {display:block;width:100px;height:80px;overflow:hidden;border:1px solid #c6e3f1;margin:auto}
.ulPiclist_1 li a:hover {border:1px solid #498fb8}
.ulPiclist_1 li img {display:block;width:100px;height:80px;}


.ulPiclist_2 {float:left;width:330px;height:187px;overflow:hidden;padding:10px 0 0;}
.ulPiclist_2 li{float:left;width:165px;height:187px}
.ulPiclist_2 li a {display:block;width:155px;height:185px;overflow:hidden;border:1px solid #c6e3f1;}
.ulPiclist_2 li a:hover {border:1px solid #498fb8}
.ulPiclist_2 li img {display:block;width:155px;height:185px;}

.ulPiclist_3 li {float:left;width:330px;height:112px}
.ulPiclist_3 li span {display:block;overflow:hidden;line-height:24px;}
/*.ulPiclist_3 li .sImg {width:160px;height:210px;}
.ulPiclist_3 li .sImg a {display:block;width:150px;height:200px;overflow:hidden;border:1px solid #c6e3f1;}
.ulPiclist_3 li .sImg a:hover {border:1px solid #498fb8}
.ulPiclist_3 li .sImg img {display:block;width:150px;height:200px;}*/
.ulPiclist_3 li .sTitle {height:24px;font-size:14px;}
.ulPiclist_3 li .sTitle a {color:#f60;}
.ulPiclist_3 li .sExp {height:88px;line-height:22px;}

.ulPiclist_4 {padding:10px 0;}
.ulPiclist_4 li {float:left;width:220px;height:100px;}
.ulPiclist_4 li .sImg {float:left;display:block;width:90px;height:100px;}
.ulPiclist_4 li .sImg a {display:block;width:80px;height:80px;overflow:hidden;border:1px solid #c6e3f1;}
.ulPiclist_4 li .sImg a:hover {border:1px solid #498fb8}
.ulPiclist_4 li .sTitle {width:120px;font-weight:800;}
.ulPiclist_4_1 li {width:330px;height:110px;}
.ulPiclist_4_1 li .sTitle {float:left;display:block;width:220px;font-size:14px;font-weight:100;line-height:24px;}

.ulPiclist_5 {padding:10px 0;}
.ulPiclist_5 li {float:left;width:335px;height:200px;}
.ulPiclist_5 .li_1 {text-align:right}
.ulPiclist_5 li img {width:325px;height:200px;}

/*工具列表*/
.ulPiclist_tools li {border-bottom:1px solid #c6e3f1;}
.ulPiclist_tools li a {display:block;height:90px;padding:20px 25px;}
.ulPiclist_tools li a:hover {background:#EDF9FF;text-decoration:none;color:#498FB8;}
.ulPiclist_tools li .sImg {float:left;display:block;width:115px;height:90px;overflow:hidden;}
.ulPiclist_tools li .sImg img {display:block;width:90px;height:90px;}
.ulPiclist_tools li a .sTitle {display:block;height:30px;overflow:hidden;font-size:16px;color:#498FB8;}
.ulPiclist_tools li a:hover .sTitle {color:#75B800;}
.ulPiclist_tools li .sExp {display:block;height:60px;overflow:hidden;line-height:20px;}

.ulList_1 li {float:left;width:110px;height:24px;line-height:24px;font-size:14px;}

.ulList_2 li {float:left;display:inline;width:103px;height:22px;overflow:hidden;padding-left:12px;background:url(../images/img.png) no-repeat -795px 9px;line-height:22px}
.ulList_2_1 li {text-align:left}
.ulList_2_2 li {width:64px}

.ulList_3 li {float:left;display:inline;width:95px;height:24px;overflow:hidden;padding:0 0 0 20px;line-height:24px;background:url(../images/img.png) no-repeat}
.ulList_3 .li_1 {background-position:-781px -46px;}
.ulList_3 .li_2 {background-position:-781px -76px;}
.ulList_3 .li_3 {background-position:-781px -106px;}
.ulList_3 .li_4 {background-position:-781px -136px;}
.ulList_3 .li_5 {background-position:-781px -166px;}
.ulList_3 .li_6 {background-position:-781px -196px;}
.ulList_3 .li_7 {background-position:-781px -226px;}
.ulList_3 .li_8 {background-position:-781px -256px;}
.ulList_3 .li_9 {background-position:-781px -286px;}
.ulList_3 .li_10 {background-position:-781px -316px;}

.ulList_4 a {margin-right:6px;}

.ulList_5 {margin-top:15px;}
.ulList_5 li {padding:10px;line-height:24px;color:#dedede;}
.ulList_5 li:hover {padding:9px;background:#f6f8ee;border:1px solid #ddeea2}
.ulList_5 li h3 {font-size:14px;color:#f60;}
.ulList_5 li h3 a {color:#f60;}

/*bbslist*/
.ulList_bbs {position:relative;width:900px;overflow:hidden;padding:40px 0 0;margin:0 auto;}
.ulList_bbs li {float:left;display:inline;width:430px;height:68px;overflow:hidden;padding:20px 10px 0;opacity:0;
-webkit-transform:translate(-450px,-34px)}
.ulList_bbs li strong {display:block;height:24px;font-size:14px;line-height:24px;/*text-align:right;*/}
.ulList_bbs li strong a {color:#498fb8}
.ulList_bbs li strong a:hover {color:#f60;} 
.ulList_bbs li strong span {padding:0 7px;color:#75B800;font-weight:100;}
.ulList_bbs li strong span a{color:#75B800;font-weight:100;}
.ulList_bbs li strong span a:hover {color:#f60;} 
.ulList_bbs li.li_2 {-webkit-transform:translate(450px,0)}
.ulList_bbs li.li_2 strong {text-align:left;}

@-webkit-keyframes 'lishow'{
0%{-webkit-transform:translate(-450px,-34px);opacity:0;}
50%{-webkit-transform:translate(10px,-34px);opacity:0.8;}
100%{-webkit-transform:translate(0,-34px);opacity:1;}
}
@-webkit-keyframes 'lishow2'{
0%{-webkit-transform:translateX(450px);opacity:0;}
50%{-webkit-transform:translateX(-10px);opacity:0.8;}
100%{-webkit-transform:translateX(0);opacity:1;}
}
.ulList_bbs li.current {opacity:1;
-webkit-transform:translate(0,-34px);
-webkit-animation: 'lishow' .6s linear;
}
.ulList_bbs li.li_2.current {
-webkit-transform:translateX(0);
-webkit-animation: 'lishow2' .6s linear;
}

.dPages {height:30px;padding:5px 0 0;line-height:30px;text-align:center;font-size:14px;}
.dPages strong {margin:0 6px;}
.dPages li {list-style-type: none;}
.dText_M {padding:200px;}
.dText_M .clear li{
	float: left;
	margin-right: 8px;
}

.dDh {height:40px;padding:0 10px;line-height:40px;text-align:right}
.dDh strong {float:left;font-family:黑体;font-size:18px;text-align:center;color:#75b800;font-weight:100;}
.dDh strong a {color:#75b800;}

.dMain {background:url(../images/img_y.png) repeat-y right 0;border-top:10px solid #c6e3f1;}
.dMain_1 {padding:15px 15px 20px;background:none;}

.dLeft {float:left;width:670px;overflow:hidden;padding:15px;}
.dLeftIn {width:690px;}

.dPosition {height:30px;border-bottom:1px solid #ccc;line-height:30px;text-align:right;}
h1.h1List {float:left;font-size:16px;color:#f60;}
.dPosition_1 {text-align:left;}

.stTitle {display:block;padding:0 10px;border-bottom:1px solid #ccc;line-height:26px;text-align:right}
.stTitle .aTitle {float:left;color:#f60;font-size:14px;font-weight:800;color:#f60;}

.dImg_1 {float:left;width:145px;height:185px;padding:0 14px 0 170px;margin:20px 15px 0 0;border-right:1px solid #ccc;}
.dImg_1 span {display:block;overflow:hidden}
.dImg_1 .sImg {float:left;position:relative;display:inline;width:170px;height:185px;margin-left:-170px;}
.dImg_1 .sImg img {width:155px;height:185px;}
.dImg_1 .sTitle {height:20px;line-height:20px;font-size:14px;}
.dImg_1 .sTitle a {color:#498fb8}
.dImg_1 .sExp {height:156px;overflow:hidden;margin-top:9px;line-height:23px;color:#999;}

.dImg_2 {padding:10px 10px 15px;border-bottom:1px solid #eee;}
.dImg_2 span {display:block;overflow:hidden}
/*.dImg_2 .sImg {float:left;position:relative;display:inline;width:122px;height:92px;margin-left:-132px;}
.dImg_2 .sImg a {display:block;width:120px;height:90px;overflow:hidden;border:1px solid #c6e3f1;}
.dImg_2 .sImg a:hover {border-color:#f60}
.dImg_2 .sImg img {width:120px;height:90px;}*/
.dImg_2 .sTitle {height:26px;line-height:26px;font-family:微软雅黑;font-size:16px;text-align:left;color:#498fb8;}
.dImg_2 .sTitle a {color:#498fb8}
.dImg_2 .sExp {overflow:hidden;padding-top:5px;line-height:24px;color:#999;font-size:12px;}

.dLeftbottom {padding:15px 0 0;font-size:14px;line-height:24px;}

.dMenu {float:right;width:240px;padding:10px;background:#f7f7f7;border-left:55px solid #eee;}
.dMenu h3 {float:left;display:inline;width:35px;padding:0 10px;text-align:center;margin-left:-65px;}
.dMenu li {float:left;width:120px;height:22px;overflow:hidden;}

.dBox_1 {float:left;width:665px;margin:20px 20px 0 0;border-top:2px solid #ccc;font-size:14px;line-height:24px;}
.dBox_1_2 {float:none;width:auto;margin:0;padding:15px;border:none;background:#fff;}
.dBox_1 .dHead_1 {height:35px;padding:0 10px;background:#f7f7f7;line-height:35px;text-align:right;font-size:12px;}
.dBox_1 .dHead_1 strong {float:left;color:#75b800;font-size:14px;}
.dBox_1 .dHead_1 strong a {color:#75b800;}
.dBox_1 .dHead_1 strong a:hover {text-decoration:underline;color:#f90}

.dBox_2_1 {float:left;width:340px;}
.dBox_2_2 {float:right;width:315px;padding-top:7px;}
.dBox_2 .dHead_2,.dBox_2 .dHead_2 a {height:35px;line-height:35px;font-size:14px;color:#498fb8;}

.dBox_3 {float:left;width:320px;margin:20px 20px 0 0;font-size:14px;line-height:24px;}

h1.h1Art {height:60px;margin-top:10px;line-height:60px;font-size:24px;text-align:center;color:#75b800;} 
.dInfo {display:none;height:28px;line-height:28px;border-bottom:1px solid #ccc;text-align:center;}
.dArt {
	overflow:hidden;
	line-height:24px;
	font-size:14px;
	margin-top: 20px;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 10px;
	padding-left: 0;
}
.dArt p {margin:1.2em 0;}
.dArt table {margin:auto}
.dArt a {text-decoration:underline;}
.dArt h3 {height:32px;margin:1.2em 0;background:url(../images/img.png) no-repeat 0 -450px;line-height:32px;color:#fff;text-indent:28px;}
.dArt h4 {height:14px;margin:1.2em 0;padding-left:10px;border-left:3px solid #4093ce;color:#4093ce;line-height:16px;}
.dArt .pDes {padding:15px 20px;background:#edf9ff;font-size:12px;line-height:22px;}
.dArt .pDes strong {color:#498fb8;}

/*宝典*/
.dArt .dTitle {padding:15px;margin:0 auto;background:#fcfff6;border:3px solid #d6f49a;-webkit-border-radius:10px;}
.dArt .dTitle h2 {}
.dArt .dTitle h2 a {display:block;height:30px;padding:0 10px;line-height:30px;font-size:14px;color:#75B800;}
.dArt .dTitle h2 a:Hover {background:#9bd635;color:#fff;text-decoration:none;}

/*怀孕40周*/
h1.h1Art1 {float:left;width:510px;height:60px;padding:0 10px;background:#edf9ff;overflow:hidden;margin-top:10px;line-height:60px;font-size:24px;color:#75b800;font-family:"Microsoft YaHei"}
.sChangepage {float:right;width:120px;height:40px;padding:20px 10px 0;background:#edf9ff;margin-top:10px;text-align:right;}
.sChangepage a {display:inline-block;width:57px;height:22px;overflow:hidden;background:#75b800;text-align:center;color:#fff;}
.sChangepage a:hover {background:#f60;text-decoration:none;}
.ulTab_40weeks {height:37px;overflow:hidden;}
.ulTab_40weeks li {float:left;width:67px;height:37px;}
.ulTab_40weeks li a {display:block;width:63px;height:35px;background:#4093ce;border:2px solid #4093ce;border-bottom:0;text-align:center;line-height:35px;color:#fff;font-size:14px;}
.ulTab_40weeks li a:hover,.ulTab_40weeks li.current a {background:#fff;color:#4093ce;text-decoration:none;}
.dTabcon_40weeks {height:42px;}
.dTabcon_40weeks .con {display:none;height:22px;padding:10px 6px;overflow:hidden;background:#fff;line-height:22px;}
.dTabcon_40weeks .current {display:block;}
.dTabcon_40weeks .con .aNow {display:inline-block;height:22px;padding:0 8px;background:#4093ce;color:#fff}
.dTabcon_40weeks .con .aNow:hover {background:#f60;text-decoration:none;}
.dTabcon_40weeks .con_1 {padding-left:73px;}
.dTabcon_40weeks .con_2 {padding-left:140px;}
.dTabcon_40weeks .con_3 {padding-left:207px;}
.dTabcon_40weeks .con_4 {padding-left:274px;}
.dTabcon_40weeks .con_5 {padding-left:341px;}
/*.dTabcon_40weeks .con_6 {padding-left:408px;}*/
.dTabcon_40weeks .con_6 {text-align:right;}

.dPage {padding:5px 0;border-top:1px solid #ccc;border-bottom:1px solid #ccc;line-height:24px;}

.dBaodian h2 {height:30px;padding:0 15px;margin-top:15px;background:#9cc800;font-size:16px;line-height:30px;color:#fff;}

.gg_hzh {float:left;padding:0 10px 10px 0;}

.dRight {float:right;width:250px;}

.dBox_r {padding:0 10px;border-bottom:10px solid #c6e3f1;}
.dHead_r {height:30px;padding-top:6px;margin:auto;font-weight:800;line-height:30px;font-size:14px;}
.dHead_r strong,.dHead_r strong a {color:#498fb8;}
.dBody_r {padding: 0 0 8px;margin:auto;}

.dShare {padding:5px 15px;background:#f7f7f7;text-align:center;height:34px;line-height:34px;}
.dShare .bdsharebuttonbox {display:inline;}
/*.dShare .aShare {margin-right:6px;}
.aShare {background:url(http://www.haoyunbb.com/2010/images/icon.gif) no-repeat;display:inline-block;text-decoration:none;text-indent:18px;height:18px;line-height:18px;}
.aShare_t163 {background-position:0 -241px;} 
.aShare_qzone {background-position:0 -116px;} 
.aShare_tSina {background-position:0 -145px;} 
.aShare_kaixin {background-position:0 0;} 
.aShare_bai {background-position:0 -87px;} 
.aShare_renren {background-position:0 -29px;} 
.aShare_douban {background-position:0 -58px;}
.aShare_tqq {background-position:0 -270px;} 
.aShare_pengyou {background-position:0 -303px;} 
.dShare iframe {height:22px !important;vertical-align:middle;}*/

.dShare_txt {position:absolute;width:175px;height:18px;padding:4px 4px;background:#f4f4f4;border:1px solid #ccc;line-height:18px;}
.dShare_txt em {float:left;height:18px;line-height:18px;}
.dShare_txt .aShare {float:left;display:inline;width:18px;height:18px;overflow:hidden;margin-left:3px;vertical-align:middle;}

.dDesktop {height:30px;}
.dDesktop .aBut {height:26px;background:#f90;border:1px solid #f60;text-indent:0;text-align:center;color:#fff;line-height:26px;text-decoration:none;}
.dDesktop .aBut:hover {background:#f30;text-decoration:none;}
.dDesktop .aBut_1 {float:left;width:150px;}
.dDesktop .aBut_2 {float:right;width:500px;}

span.bds_more, .bds_tools a {float:none !important;display:inline-block !important;}
.bdshare_b a.shareCount, .bds_tools a.shareCount, .bds_tools_32 a.shareCount {float:none !important;}
#bdshare {display:inline !important;float:none !important;}
