@charset "utf-8";
.ulTools {width:640px;height:134px;padding:20px 0;margin:30px auto;background:#f7f7f7;border:2px solid #ddd;font-size:14px;-webkit-border-radius:10px;}
.ulTools li {float:left;width:450px;height:37px;padding:15px 0 15px 40px;line-height:37px;}
.ulTools .liBut {float:right;width:90px;height:90px;padding:20px 40px 0 0;}
.ulTools .liBut input {width:84px;height:84px;background:#498FB8;border:3px solid #C6E3F1;color:#fff;font-size:14px;cursor:pointer;-webkit-border-radius:5px;}
.ulTools select {width:80px;}
.inpTxt {width:80px;height:35px;background:#fff;border:1px solid #ccc;line-height:35px;text-align:center;-webkit-border-radius:5px;}
.toolsr {width:640px;padding:20px 0 10px;margin:30px auto;background:#EDF9FF;border:2px solid #C6E3F1;font-size:14px;color:#498FB8;-webkit-border-radius:10px;}
.srHead {padding:5px 0 15px 40px;font-weight:800;color:#498FB8}
.toolsr li {height:25px;padding:15px 0 15px 40px;line-height:24px;}
.dTxt {width:550px;margin:0 auto;font-size:14px;line-height:24px;}
h2 {font-size:14px;line-height:24px;font-weight:100;}
#results {display:inline-block;width:250px;height:24px;border-bottom:1px solid #C6E3F1;line-height:24px;text-align:center;color:#f60;font-weight:800;font-size:16px;vertical-align:bottom;}
table {background:#ccc;}
table td {background:#fff;text-align:center;}
