@charset "utf-8";
.ulTools {width:640px;padding:20px 0;margin:30px auto;background:#f7f7f7;border:2px solid #ddd;font-size:14px;-webkit-border-radius:10px;}
.ulTools li {height:37px;padding:15px 0;line-height:37px;text-align:center;}
.ulTools .liBut {height:60px;}
.ulTools .liBut input {width:114px;height:54px;background:#498FB8;border:3px solid #C6E3F1;color:#fff;font-size:14px;cursor:pointer;-webkit-border-radius:10px;}
.inpTxt {width:80px;height:35px;background:#fff;border:1px solid #ccc;line-height:35px;text-align:center;-webkit-border-radius:5px;}
#toolsr_1 {display:none;width:670px;font-size:14px;}
.srHead {padding-bottom:10px;font-size:14px;font-weight:800;}
.srBody {margin:0 auto;}
.srtextl {float:left;width:240px;}
.srtextb {text-align:center;}
.srBody span {font-weight:800;color:#e00;}
.srBody table {margin:12px auto 0;background:#EDF9FF;border-collapse:collapse;}
.srBody table td{background:#fff !important;border:1px #C6E3F1 solid;vertical-align:middle;text-align:center;font-size:12px;}
.srBody table th{background:#EDF9FF;border:1px #C6E3F1 solid;vertical-align:middle;text-align:center;}
#tb th,#tb td {text-align:center;background:#EDF9FF !important;}
#tb a {color:#498FB8;text-decoration:underline;}
h2 {padding:15px 0 0;font-weight:100;font-size:14px;}
.dTxt {width:550px;margin:0 auto;font-size:14px;line-height:24px;}
