<div class="layui-card">
    <div class="layui-card-body layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">绑定网站:</label>
            <div class="layui-input-inline">
                <label class="layui-form-label">{{.site.Vhost}}</label>
                <input type="hidden" name="site_id" value="{{.site.Id}}">
            </div>
            <div class="layui-form-mid layui-word-aux">绑定到的网站</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
                <input type="text" name="username" value="{{.obj.Username}}" lay-verify="required" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">由字母、数字、下划线组成</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline">
                <input type="text" name="password" value="{{.obj.Password}}" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">留空为随机密码</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-inline">
                <input type="text" name="repassword" value="{{.obj.Password}}" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">留空为随机密码</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">目录</label>
            <div class="layui-input-inline">
                <input type="text" name="dir" value="{{.obj.Dir}}" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">可使用绝对路径，如/home/ftp</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-inline">
                <input type="text" name="note" value="{{.obj.Note}}" class="layui-input"/>
            </div>
        </div>
        <div class="layui-collapse">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">更多选项<i class="layui-icon layui-colla-icon"></i></h2>
                <div class="layui-colla-content">
                    <div class="layui-form-item">
                        <label class="layui-form-label">空间大小</label>
                        <div class="layui-input-inline">
                            <input type="text" name="quota_size" value="{{.obj.QuotaSize}}" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">单位为M</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">文件数量</label>
                        <div class="layui-input-inline">
                            <input type="text" name="quota_files" value="{{.obj.QuotaFiles}}" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">单位为个</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">上传带宽</label>
                        <div class="layui-input-inline">
                            <input type="text" name="ulbandwidth" value="{{.obj.Ulbandwidth}}" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">单位为K</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label ">下载带宽</label>
                        <div class="layui-input-inline">
                            <input type="text" name="dlbandwidth" value="{{.obj.Dlbandwidth}}" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">单位为K</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item layui-hide">
            <input type="hidden" name="id" value="{{.obj.Id}}">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-small" lay-submit>提交</button>
            </div>
        </div>
    </div>
    <blockquote class="layui-elem-quote">
        1:如果是创建站点的FTP，请选择相关站点就可以,系统会自动选取站点的根目录为FTP的根目录<br/>
        2:目录只限于创建独立FTP帐户时有效,也就是不选择站点,选站上后,目录会自动选取站点的根目录来FTP的目录
    </blockquote>
</div>
