<div class="layui-card-body layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">任务名称</label>
        <div class="layui-input-inline">
            {{if .modify -}}
                <input type="text" name="name" required lay-verify="required" class="layui-input"
                       value="{{$.obj.Name}}">
            {{else -}}
                <input type="text" name="name" required lay-verify="required" autocomplete="off"
                       class="layui-input" placeholder="输入计划任务名称">
            {{end -}}
        </div>
    </div>
    <hr/>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">分</label>
            <div class="layui-input-inline" style="width:92px">
                <select name="min" class="form-control">
                    <option value="0">不选择</option>
                    <option value="1"{{if eq .obj.Min 1}} selected{{end}}>每1分</option>
                    <option value="5"{{if eq .obj.Min 5}} selected{{end}}>每5分</option>
                    <option value="10"{{if eq .obj.Min 10}} selected{{end}}>每10分</option>
                    <option value="15"{{if eq .obj.Min 15}} selected{{end}}>每15分</option>
                    <option value="30"{{if eq .obj.Min 30}} selected{{end}}>每30分</option>
                </select>
            </div>
        </div>
        <div class="layui-inline" style="width:70%">
            <label class="layui-form-label" style="width:4%">指定</label>
            <div class="layui-input-inline" style="width:90%">
                <input type="checkbox" name="min5" lay-skin="primary"
                       title="5分" value="on"{{if .obj.Min5 }} checked{{end}}>
                <input type="checkbox" name="min10" lay-skin="primary"
                       title="10分" value="on"{{if .obj.Min10 }} checked{{end}}>
                <input type="checkbox" name="min15" lay-skin="primary"
                       title="15分" value="on"{{if .obj.Min15 }} checked{{end}}>
                <input type="checkbox" name="min20" lay-skin="primary"
                       title="20分" value="on"{{if .obj.Min20 }} checked{{end}}>
                <input type="checkbox" name="min30" lay-skin="primary"
                       title="30分" value="on"{{if .obj.Min30 }} checked{{end}}>
                <input type="checkbox" name="min40" lay-skin="primary"
                       title="40分" value="on"{{if .obj.Min40 }} checked{{end}}>
                <input type="checkbox" name="min50" lay-skin="primary"
                       title="50分" value="on"{{if .obj.Min50 }} checked{{end}}>
            </div>
        </div>
    </div>
    <hr/>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">时</label>
            <div class="layui-input-inline" style="width:92px">
                <select name="hour" id="Hour" class="form-control">
                    <option value="0">不选择</option>
                    <option value="1"{{if eq .obj.Hour 1}} selected{{end}}>每1时</option>
                    <option value="3"{{if eq .obj.Hour 3}} selected{{end}}>每3时</option>
                    <option value="5"{{if eq .obj.Hour 5}} selected{{end}}>每5时</option>
                </select>
            </div>
        </div>
        <div class="layui-inline" style="width:70%">
            <label class="layui-form-label" style="width:4%">指定</label>
            <div class="layui-input-inline" style="width:90%">
                <input type="checkbox" name="hour1" lay-skin="primary"
                       title="1时" value="on"{{if .obj.Hour1 }} checked{{end}}>
                <input type="checkbox" name="hour2" lay-skin="primary"
                       title="2时" value="on"{{if .obj.Hour2 }} checked{{end}}>
                <input type="checkbox" name="hour3" lay-skin="primary"
                       title="3时" value="on"{{if .obj.Hour3 }} checked{{end}}>
                <input type="checkbox" name="hour4" lay-skin="primary"
                       title="4时" value="on"{{if .obj.Hour4 }} checked{{end}}>
                <input type="checkbox" name="hour5" lay-skin="primary"
                       title="5时" value="on"{{if .obj.Hour5 }} checked{{end}}>
                <input type="checkbox" name="hour6" lay-skin="primary"
                       title="6时" value="on"{{if .obj.Hour6 }} checked{{end}}>
                <input type="checkbox" name="hour7" lay-skin="primary"
                       title="7时" value="on"{{if .obj.Hour7 }} checked{{end}}>
                <input type="checkbox" name="hour8" lay-skin="primary"
                       title="8时" value="on"{{if .obj.Hour8 }} checked{{end}}>
                <input type="checkbox" name="hour9" lay-skin="primary"
                       title="9时" value="on"{{if .obj.Hour9 }} checked{{end}}>
                <input type="checkbox" name="hour10" lay-skin="primary"
                       title="10时" value="on"{{if .obj.Hour10 }} checked{{end}}>
                <input type="checkbox" name="hour11" lay-skin="primary"
                       title="11时" value="on"{{if .obj.Hour11 }} checked{{end}}>
                <input type="checkbox" name="hour12" lay-skin="primary"
                       title="12时" value="on"{{if .obj.Hour12 }} checked{{end}}>
                <input type="checkbox" name="hour13" lay-skin="primary"
                       title="13时" value="on"{{if .obj.Hour13 }} checked{{end}}>
                <input type="checkbox" name="hour14" lay-skin="primary"
                       title="14时" value="on"{{if .obj.Hour14 }} checked{{end}}>
                <input type="checkbox" name="hour15" lay-skin="primary"
                       title="15时" value="on"{{if .obj.Hour15 }} checked{{end}}>
                <input type="checkbox" name="hour16" lay-skin="primary"
                       title="16时" value="on"{{if .obj.Hour16 }} checked{{end}}>
                <input type="checkbox" name="hour17" lay-skin="primary"
                       title="17时" value="on"{{if .obj.Hour17 }} checked{{end}}>
                <input type="checkbox" name="hour18" lay-skin="primary"
                       title="18时" value="on"{{if .obj.Hour18 }} checked{{end}}>
                <input type="checkbox" name="hour19" lay-skin="primary"
                       title="19时" value="on"{{if .obj.Hour19 }} checked{{end}}>
                <input type="checkbox" name="hour20" lay-skin="primary"
                       title="20时" value="on"{{if .obj.Hour20 }} checked{{end}}>
                <input type="checkbox" name="hour21" lay-skin="primary"
                       title="21时" value="on"{{if .obj.Hour21 }} checked{{end}}>
                <input type="checkbox" name="hour22" lay-skin="primary"
                       title="22时" value="on"{{if .obj.Hour22 }} checked{{end}}>
                <input type="checkbox" name="hour23" lay-skin="primary"
                       title="23时" value="on"{{if .obj.Hour23 }} checked{{end}}>
            </div>
        </div>
    </div>
    <hr/>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">日</label>
            <div class="layui-input-inline" style="width:65px">
                <input name="day" type="checkbox" lay-skin="switch" value="on"
                       lay-text="打开|关闭"{{if .obj.Day}} checked{{end}}>
            </div>
            <div class="layui-form-mid layui-word-aux">每天</div>
        </div>
        <div class="layui-inline" style="width:70%">
            <label class="layui-form-label" style="width:4%">指定</label>
            <div class="layui-input-inline" style="width:90%">
                <input type="checkbox" name="day1" lay-skin="primary"
                       title="1日" value="on"{{if .obj.Day1 }} checked{{end}}>
                <input type="checkbox" name="day2" lay-skin="primary"
                       title="2日" value="on"{{if .obj.Day2 }} checked{{end}}>
                <input type="checkbox" name="day3" lay-skin="primary"
                       title="3日" value="on"{{if .obj.Day3 }} checked{{end}}>
                <input type="checkbox" name="day4" lay-skin="primary"
                       title="4日" value="on"{{if .obj.Day4 }} checked{{end}}>
                <input type="checkbox" name="day5" lay-skin="primary"
                       title="5日" value="on"{{if .obj.Day5 }} checked{{end}}>
                <input type="checkbox" name="day6" lay-skin="primary"
                       title="6日" value="on"{{if .obj.Day6 }} checked{{end}}>
                <input type="checkbox" name="day7" lay-skin="primary"
                       title="7日" value="on"{{if .obj.Day7 }} checked{{end}}>
                <input type="checkbox" name="day8" lay-skin="primary"
                       title="8日" value="on"{{if .obj.Day8 }} checked{{end}}>
                <input type="checkbox" name="day9" lay-skin="primary"
                       title="9日" value="on"{{if .obj.Day9 }} checked{{end}}>
                <input type="checkbox" name="day10" lay-skin="primary"
                       title="10日" value="on"{{if .obj.Day10 }} checked{{end}}>
                <input type="checkbox" name="day11" lay-skin="primary"
                       title="11日" value="on"{{if .obj.Day11 }} checked{{end}}>
                <input type="checkbox" name="day12" lay-skin="primary"
                       title="12日" value="on"{{if .obj.Day12 }} checked{{end}}>
                <input type="checkbox" name="day13" lay-skin="primary"
                       title="13日" value="on"{{if .obj.Day13 }} checked{{end}}>
                <input type="checkbox" name="day14" lay-skin="primary"
                       title="14日" value="on"{{if .obj.Day14 }} checked{{end}}>
                <input type="checkbox" name="day15" lay-skin="primary"
                       title="15日" value="on"{{if .obj.Day15 }} checked{{end}}>
                <input type="checkbox" name="day16" lay-skin="primary"
                       title="16日" value="on"{{if .obj.Day16 }} checked{{end}}>
                <input type="checkbox" name="day17" lay-skin="primary"
                       title="17日" value="on"{{if .obj.Day17 }} checked{{end}}>
                <input type="checkbox" name="day18" lay-skin="primary"
                       title="18日" value="on"{{if .obj.Day18 }} checked{{end}}>
                <input type="checkbox" name="day19" lay-skin="primary"
                       title="19日" value="on"{{if .obj.Day19 }} checked{{end}}>
                <input type="checkbox" name="day20" lay-skin="primary"
                       title="20日" value="on"{{if .obj.Day20 }} checked{{end}}>
                <input type="checkbox" name="day21" lay-skin="primary"
                       title="21日" value="on"{{if .obj.Day21 }} checked{{end}}>
                <input type="checkbox" name="day22" lay-skin="primary"
                       title="22日" value="on"{{if .obj.Day22 }} checked{{end}}>
                <input type="checkbox" name="day23" lay-skin="primary"
                       title="23日" value="on"{{if .obj.Day23 }} checked{{end}}>
                <input type="checkbox" name="day24" lay-skin="primary"
                       title="24日" value="on"{{if .obj.Day24 }} checked{{end}}>
                <input type="checkbox" name="day25" lay-skin="primary"
                       title="25日" value="on"{{if .obj.Day25 }} checked{{end}}>
                <input type="checkbox" name="day26" lay-skin="primary"
                       title="26日" value="on"{{if .obj.Day26 }} checked{{end}}>
                <input type="checkbox" name="day27" lay-skin="primary"
                       title="27日" value="on"{{if .obj.Day27 }} checked{{end}}>
                <input type="checkbox" name="day28" lay-skin="primary"
                       title="28日" value="on"{{if .obj.Day28 }} checked{{end}}>
                <input type="checkbox" name="day29" lay-skin="primary"
                       title="29日" value="on"{{if .obj.Day29 }} checked{{end}}>
                <input type="checkbox" name="day30" lay-skin="primary"
                       title="30日" value="on"{{if .obj.Day30 }} checked{{end}}>
                <input type="checkbox" name="day31" lay-skin="primary"
                       title="31日" value="on"{{if .obj.Day31 }} checked{{end}}>
            </div>
        </div>
    </div>
    <hr/>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">周</label>
            <div class="layui-input-inline" style="width:65px">
                <input name="week" type="checkbox" lay-skin="switch" value="on"
                       lay-text="打开|关闭"{{if .obj.Week}} checked{{end}}>
            </div>
            <div class="layui-form-mid layui-word-aux">每周</div>
        </div>
        <div class="layui-inline" style="width:70%">
            <label class="layui-form-label" style="width:4%">指定</label>
            <div class="layui-input-inline" style="width:90%">
                <input type="checkbox" name="week1" lay-skin="primary"
                       title="周1" value="on"{{if .obj.Week1 }} checked{{end}}>
                <input type="checkbox" name="week2" lay-skin="primary"
                       title="周2" value="on"{{if .obj.Week2 }} checked{{end}}>
                <input type="checkbox" name="week3" lay-skin="primary"
                       title="周3" value="on"{{if .obj.Week3 }} checked{{end}}>
                <input type="checkbox" name="week4" lay-skin="primary"
                       title="周4" value="on"{{if .obj.Week4 }} checked{{end}}>
                <input type="checkbox" name="week5" lay-skin="primary"
                       title="周5" value="on"{{if .obj.Week5 }} checked{{end}}>
                <input type="checkbox" name="week6" lay-skin="primary"
                       title="周6" value="on"{{if .obj.Week6 }} checked{{end}}>
                <input type="checkbox" name="week0" lay-skin="primary"
                       title="周日" value="on"{{if .obj.Week0 }} checked{{end}}>
            </div>
        </div>
    </div>
    <hr/>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">月</label>
            <div class="layui-input-inline" style="width:65px">
                <input name="month" type="checkbox" lay-skin="switch" value="on"
                       lay-text="打开|关闭"{{if .obj.Month}} checked{{end}}>
            </div>
            <div class="layui-form-mid layui-word-aux">每月</div>
        </div>
        <div class="layui-inline" style="width:70%">
            <label class="layui-form-label" style="width:4%">指定</label>
            <div class="layui-input-inline" style="width:90%">
                <input type="checkbox" name="month1" lay-skin="primary"
                       title="1月" value="on"{{if .obj.Month1 }} checked{{end}}>
                <input type="checkbox" name="month2" lay-skin="primary"
                       title="2月" value="on"{{if .obj.Month2 }} checked{{end}}>
                <input type="checkbox" name="month3" lay-skin="primary"
                       title="3月" value="on"{{if .obj.Month3 }} checked{{end}}>
                <input type="checkbox" name="month4" lay-skin="primary"
                       title="4月" value="on"{{if .obj.Month4 }} checked{{end}}>
                <input type="checkbox" name="month5" lay-skin="primary"
                       title="5月" value="on"{{if .obj.Month5 }} checked{{end}}>
                <input type="checkbox" name="month6" lay-skin="primary"
                       title="6月" value="on"{{if .obj.Month6 }} checked{{end}}>
                <input type="checkbox" name="month7" lay-skin="primary"
                       title="7月" value="on"{{if .obj.Month7 }} checked{{end}}>
                <input type="checkbox" name="month8" lay-skin="primary"
                       title="8月" value="on"{{if .obj.Month8 }} checked{{end}}>
                <input type="checkbox" name="month9" lay-skin="primary"
                       title="9月" value="on"{{if .obj.Month9 }} checked{{end}}>
                <input type="checkbox" name="month10" lay-skin="primary"
                       title="10月" value="on"{{if .obj.Month10 }} checked{{end}}>
                <input type="checkbox" name="month11" lay-skin="primary"
                       title="11月" value="on"{{if .obj.Month11 }} checked{{end}}>
                <input type="checkbox" name="month12" lay-skin="primary"
                       title="12月" value="on"{{if .obj.Month12 }} checked{{end}}>
            </div>
        </div>
    </div>
    <hr/>
    <div class="layui-form-item">
        <label class="layui-form-label">执行命令</label>
        <div class="layui-input-inline">
            {{if .modify -}}
                <input type="text" name="cmd" required lay-verify="required" class="layui-input"
                       value="{{.obj.Cmd}}">
            {{else -}}
                <input type="text" name="cmd" required lay-verify="required" autocomplete="off"
                       class="layui-input" placeholder="输入待执行命令">
            {{end -}}
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" name="id" value="{{.obj.Id}}">
            <input type="hidden" name="status" value="{{.obj.Status}}">
            <button class="layui-hide" lay-submit lay-filter="submit">提交</button>
        </div>
    </div>
    <blockquote class="layui-elem-quote">
        1: 分钟是指任务执行的分钟时间,可以是每隔几分钟执行一次,可以是指定多少分钟时执行一次 <br/>
        2: 小时是指任务执行的小时数,可以每小时执行,也可以指定在哪个小时内执行,也就是时间点. <br/>
        3: 日是指任务执行的日期,一个月31天,可以每天执行,可指定哪些天,也就是几号 <br/>
        4: 月是指任务执行的月份,一年12个月,可以每月执行,也可能指定哪些几个月 <br/>
        5: 周是指一周的七天,每周是指本周里的每天,也可以指定是周几执行 <br/>
        6: 执行程序是指该任务所要执行的程序,使用绝对路径 <br/>
        7: 执行时间有指定后,相应前面的选择则无效 <br/>
        8: 更多的时间设置可通过修改模板灵活定义
    </blockquote>
</div>