[Unit]
Description=botadmin
After=network.target remote-fs.target nss-lookup.target mysql.service

[Service]
Type=forking
User=root
Group=root

ExecStart=/etc/init.d/botadmin start
ExecStop=/etc/init.d/botadmin stop
ExecReload=/etc/init.d/botadmin restart

Restart=no
PrivateTmp=false

[Install]
WantedBy=multi-user.target