.header-1 .ironize {
  line-height: 5;
  height: 1px;
  overflow: hidden;
}
.header-1 .logo {
  float: left;
  margin-top: 2.25em;
}
.header-1 .heade-nav {
  float: right;
}
.header-1 .heade-nav ul li {
  display: inline-block;
  float: left;
}
.header-1 .heade-nav ul li a {
  text-decoration: none;
  color: #777777;
  text-transform: uppercase;
  padding: 1.3em 0.85em;
  float: left;
  font-size: 1.2em;
  font-weight: 400;
}
.header-1 .heade-nav ul li a.active {
  color: #fff;
  padding: 1.3em 0.85em;
}
.header-1 .heade-nav ul li a:hover {
  color: #fff;
}
.header-1 .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  width: 1170px;
  margin-left: auto;
}.bigamy {
  text-align: center;
  padding: 4em 0;
}
.bigamy h3 {
  font-size: 3em;
  text-transform: capitalize;
  color: #fff;
}
.bigamy span, .bigamy em, .bigamy cite, .bigamy font {
  font-weight: 400;
  color: #3FACFA;
}
.bigamy .about-grids {
  margin-top: 3em;
}
.bigamy .about-grid h4 {
  font-size: 1.5em;
  color: #000;
  margin: 0.8em 0 0.5em;
  text-transform: capitalize;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bigamy .about-grid p, .bigamy .about-grid tt,.bigamy .about-grid bdo, .bigamy .about-grid kbd {
  font-size: 1em;
  color: #fff;
  line-height: 1.8em;
}
.bigamy .img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.carlet {
  padding: 4em 0;
}
.carlet h3 {
  font-size: 3em;
  text-transform: capitalize;
  color: #000;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.carlet .team-grids {
  position: relative;
}
.carlet .team-info {
  margin-top: 3em;
}
.carlet .team-grids a {
  overflow: hidden;
  position: relative;
  display: block;
}
.carlet .captn h4 {
  margin: .1em 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.carlet .captn p, .carlet .captn tt, .carlet .captn bdo, .carlet .captn kbd {
  color: #fff;
  font-size: 1em;
  font-weight: 100;
  margin-top: .3em;
}
.carlet .team-grids a .captn {
  display: inline-block;
  height: 100%;
  width: 100%;
  font-weight: 800;
  color: #ffffff;
  position: absolute;
  bottom: -82%;
  right: 0%;
  background-color: rgba(51, 51, 51, 0.68);
  padding: 2% 10%;
  text-align: center;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.carlet .team-grids a:hover .captn {
  width: 100%;
  bottom: 0%;
  padding: 40% 10%;
  right: 0%;
}
.carlet .col-md-3 {
  width: 25%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}.demur .content-welcome {
  padding: 4em 0;
}
.demur .welcome h1 {
  font-size: 3em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.demur .welcome p, .demur .welcome tt, .demur .welcome bdo, .demur .welcome kbd {
  font-size: 1.2em;
  color: #7C7C7C;
  line-height: 1.7em;
}
.demur .welcome h5 {
  font-size: 1.15em;
  text-transform: uppercase;
  color: #000;
  margin: 0.85em 0;
  line-height: 1.7em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.demur .col-md-4 {
  width: 33.33333333%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.demur .col-md-8 {
  width: 66.66666667%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}.grain {
  padding: 4em 0;
  text-align: center;
}
.grain h3 {
  font-size: 3em;
  text-transform: capitalize;
  margin-bottom: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.grain .blog-grid p, .grain .blog-grid tt, .grain .blog-grid bdo, .grain .blog-grid kbd {
  font-size: 1em;
  color: #747474;
  line-height: 1.8em;
  margin: 1em 0 0;
}
.grain .blog-grid h4 a {
  text-decoration: none;
}
.grain .blog-grid h4 {
  font-size: 1.5em;
  margin: 0.5em 0;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.grain p.date, .grain tt.date, .grain bdo.date, .grain kbd.date {
  font-weight: 500;
  font-size: 0.9em;
  color: #aaa;
  margin-top: 1em;
  text-transform: capitalize;
}
.grain .blog-grids {
  margin-top: 3em;
}
.grain .blog1 {
  margin-top: 3em;
}
.grain .blog-grid1 h5 {
  font-size: 1.5em;
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0.5em 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.grain .blog-grid1 p, .grain .blog-grid1 tt,.grain .blog-grid1 bdo, .grain .blog-grid1 kbd {
  font-size: 1em;
  color: #747474;
  line-height: 2em;
}
.orpine {
  padding: 5em 0;
}
.orpine .container {
  width: 1170px;
}
.orpine h6 {
  font-size: 3em;
  text-align: center;
  margin-bottom: .8em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.orpine .view {
  width: 350px;
  height: 234px;
  margin: 10px;
  float: left;
  border: 10px solid #fff;
  overflow: hidden;
  position: relative;
  text-align: center;
  -webkit-box-shadow: 1px 1px 2px #e6e6e6;
  -moz-box-shadow: 1px 1px 2px #e6e6e6;
  box-shadow: 1px 1px 2px #e6e6e6;
  cursor: default;
  background: #fff url(../images/bgimg.jpg)/*tpa=http://www.jiujiuhulian.com/templets/aa691/ys/images/bgimg.jpg*/ no-repeat center center;
}
.orpine .view .mask, .orpine .view .content {
  width: 350px;
  height: 234px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
.orpine .view img {
  display: block;
  position: relative;
}
.orpine .view h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 1.5em;
  padding: 8px;
  background: rgba(0, 0, 0, 0.8);
  margin: 20px 0 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.orpine .view p, .orpine .view tt, .orpine .view bdo, .orpine .view kbd {
  font-family: 'Signika Negative', sans-serif;
  font-style: italic;
  font-size: 12px;
  position: relative;
  color: #fff;
  padding: 10px 20px 20px;
  text-align: center;
}
.orpine .view a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0 1px #000;
  -moz-box-shadow: 0 0 1px #000;
  box-shadow: 0 0 1px #000;
}
.orpine .view a.info:hover {
  -webkit-box-shadow: 0 0 5px #000;
  -moz-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
}
.orpine .view-ninth .mask-1, .orpine .view-ninth .mask-2 {
  height: 393px;
  width: 361px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity: .8;
  -webkit-transition: all 0.3s ease-in-out 0.6s;
  -moz-transition: all 0.3s ease-in-out 0.6s;
  -o-transition: all 0.3s ease-in-out 0.6s;
  transition: all 0.3s ease-in-out 0.6s;
}
.orpine .view-ninth .mask-1 {
  left: auto;
  right: 0;
  -webkit-transform: rotate(56.5deg) translateX(-180px);
  -moz-transform: rotate(56.5deg) translateX(-180px);
  -o-transform: rotate(56.5deg) translateX(-180px);
  -ms-transform: rotate(56.5deg) translateX(-180px);
  transform: rotate(56.5deg) translateX(-180px);
  -webkit-transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  -o-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
}
.orpine .view-ninth .mask-2 {
  top: auto;
  bottom: -2px;
  -webkit-transform: rotate(56.5deg) translateX(180px);
  -moz-transform: rotate(56.5deg) translateX(180px);
  -o-transform: rotate(56.5deg) translateX(180px);
  -ms-transform: rotate(56.5deg) translateX(180px);
  transform: rotate(56.5deg) translateX(180px);
  -webkit-transform-origin: 0% 100%;
  -moz-transform-origin: 0% 100%;
  -o-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}
.orpine .view-ninth .content {
  background: rgba(0, 0, 0, 0.9);
  height: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5;
  width: 361px;
  overflow: hidden;
  -webkit-transform: rotate(-33.5deg) translate(-112px, 166px);
  -moz-transform: rotate(-33.5deg) translate(-112px, 166px);
  -o-transform: rotate(-33.5deg) translate(-112px, 166px);
  -ms-transform: rotate(-33.5deg) translate(-112px, 166px);
  transform: rotate(-33.5deg) translate(-112px, 166px);
  -webkit-transform-origin: 0% 100%;
  -moz-transform-origin: 0% 100%;
  -o-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transition: all 0.4s ease-in-out 0.3s;
  -moz-transition: all 0.4s ease-in-out 0.3s;
  -o-transition: all 0.4s ease-in-out 0.3s;
  transition: all 0.4s ease-in-out 0.3s;
}
.orpine .view-ninth h2 {
  font-family: 'Philosopher', sans-serif;
  background: transparent;
  margin-top: 9px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.orpine .view-ninth a.info {
  display: none;
}
.orpine .view-ninth:hover .content {
  height: 130px;
  width: 330px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  opacity: 0.9;
  top: 40px;
  -webkit-transform: rotate(0deg) translate(0, 0);
  -moz-transform: rotate(0deg) translate(0, 0);
  -o-transform: rotate(0deg) translate(0, 0);
  -ms-transform: rotate(0deg) translate(0, 0);
  transform: rotate(0deg) translate(0, 0);
}
.orpine .view-ninth:hover .mask-1, .orpine .view-ninth:hover .mask-2 {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.orpine .view-ninth:hover .mask-1 {
  -webkit-transform: rotate(56.5deg) translateX(1px);
  -moz-transform: rotate(56.5deg) translateX(1px);
  -o-transform: rotate(56.5deg) translateX(1px);
  -ms-transform: rotate(56.5deg) translateX(1px);
  transform: rotate(56.5deg) translateX(1px);
}
.orpine .view-ninth:hover .mask-2 {
  -webkit-transform: rotate(56.5deg) translateX(-1px);
  -moz-transform: rotate(56.5deg) translateX(-1px);
  -o-transform: rotate(56.5deg) translateX(-1px);
  -ms-transform: rotate(56.5deg) translateX(-1px);
  transform: rotate(56.5deg) translateX(-1px);
}

.bk20 {
  height: 20px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.bk30 {
  height: 30px;
}
.lt {
  float: left
}

.rt {
  float: right
}
.fw {
  width: 1200px;
  margin: 0px auto;
}

.bk {
  clear: both;
  font-size: 1px;
  height: 0;
  line-height: 1px;
}

a {
  text-decoration: none;
  color: #666;
}

.catpos {
  background-color: #fff;
  height: 50px;
  line-height: 50px;
  clear: both;
  padding: 0px 20px;
}

.catpos a {
  padding: 0px 5px;
}

.aboutBox {
  background-color: #fff;
  padding: 0px 20px;
}

.wrapLeft {
  padding-top: 20px;
  width: 250px;
}

.wrapLeft ul {
}

.wrapLeft li {
  width: 250px;
  height: 46px;
  font-size: 14px;
  position: relative;
  overflow: hidden;
}

.wrapLeft li a {
  width: 100%;
  height: 45px;
  line-height: 45px;
  display: block;
  text-indent: 30px;
  border-bottom: 1px solid #e0e0e0;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 9;
}

.wrapLeft a:hover {
  color: #fff;
  border-bottom: 1px solid #f4f4f4;
}

.wrapLeft li span {
  font-size: 12px;
  margin-left: 15px;
}

.wrapLeft li p {
  width: 250px;
  height: 46px;
  background: url(../images/arr2.png)/*tpa=http://www.jiujiuhulian.com/templets/aa691/ys/images/arr2.png*/ 12px 20px #565656 no-repeat;
  position: absolute;
  left: -250px;
  top: 0px;
  transition: all 0.3s linear 0s;
}

.wrapLeft li:hover p {
  left: 0px;
}

.wrapLeft .hover p {
  left: 0px;
}

.wrapLeft .hover a {
  left: 0px;
  color: #fff;
  border-bottom: 1px solid #999;
}

.wrapRight {
  width: 880px;
  border-left: 1px solid #f4f4f4;
}

.wrapRight h1.tit {
  overflow: hidden;
  font-size: 24px;
  height: 45px;
  font-weight: normal;
  color: #666;
  border-bottom: 1px solid #f4f4f4;
  margin: 0px 30px;
  padding-top: 20px;
}

.content {
  padding: 0px 30px;
  font-size: 14px;
}

.content p, .content div {
  padding-top: 15px;
  line-height: 175%;
  color: #666;
  text-indent: 2em;
}

.content h1 {
  font-size: 18px;
  padding-top: 15px;
}

.content h2 {
  font-size: 16px;
  padding-top: 15px;
}

.content h3 {
  font-size: 14px;
  padding-top: 15px;
}

.content p a {
  color: #975;
}

.content a, .content span, .content i, .content strong, .content font {
  font-size: 14px;
}

.content img {
  max-width: 100%;
  height: auto;
  margin-left: -2em;
}

.contBox {
  background-color: #fff;
}

.contLeft {
  width: 820px;
  margin-left: 20px;
  overflow: hidden;
}

.view_id img {
  max-width: 100%;
}

.contLeft .content {
  padding: 0px;
}

.view {
  overflow: hidden;
  padding-top: 30px;
}

.view_t {
  height: 90px;
  text-align: center;
}

.view_t h1 {
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  text-align: center;
  font-size: 24px;
  color: #975;
}

.view_t p {
  line-height: 40px;
  color: #999;
}

.view_t p span, .view_t p a {
  margin: 0px 5px;
  color: #999;
}

.view_t p a:hover {
  color: #975;
}

.view_b {
  height: 60px;
  padding: 15px 0px;
  font-size: 14px;
  border-bottom: 1px dashed #dcdcdc;
  border-top: 1px dashed #dcdcdc;
  overflow: hidden;
}



.view_b li {
  width: 49.99%;
  height: 30px;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
  text-indent: 10px;
}

.contRight {
  border-left: 1px solid #f4f4f4;
  padding-top: 20px;
  width: 340px;
}

.list_c3 {
  width: 100%;
  margin-left: 0px;
}

.list_c3 li {
  float: left;
  width: 45%;
  margin: 0px 2%;
}

.list_c3 .index_news_tit strong, .list_c3 .index_news_tit .line {
  width: 90px;
}

.content_r1 {
  padding: 15px 0px 20px 20px;
  border-bottom: 1px solid #f4f4f4;
}

.content_r1_c {
  width: 298px;
  height: 195px;
  overflow: hidden;
  font-size: 0px;
  line-height: 0px;
  position: relative;
  border: none;
}

.content_r1_c .bd {
  border: none;
}

.content_r1_c .hd {
  width: 45px;
  height: 11px;
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 10px;
  text-align: center;
}

.content_r1_c .hd ul li {
  width: 10px;
  height: 10px;
  margin: 0px 5px;
  background: #646464;
  float: left;
  font-size: 0px;
  line-height: 0px;
  text-align: 10em;
  overflow: hidden;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

.content_r1_c .hd ul .on {
  background: #975;
}

.main1_c_t {
  padding-left: 15px;
  height: 38px;
  line-height: 20px;
  font-size: 20px;
  background: url(../images/icon.png)/*tpa=http://www.jiujiuhulian.com/templets/aa691/ys/images/icon.png*/ -497px -188px no-repeat;
}

.main1_c_t a {
  line-height: 20px;
  margin-top: 5px;
  font-size: 12px;
  color: #d2d2d2;
  float: right;
  margin-right: 20px;
}

.main1_c_t a:hover {
  color: #975;
}


.content_r4_c {
  width: 300px;
}

.content_r4_c img {
  width: 100%;
}

.content_r4 .index_news_box li.last {
  border-bottom: none;
}

.content_r4 {
  padding: 20px 0px 7px 20px;
  border-bottom: 1px solid #f4f4f4;
}


.content_r4_c {
  width: 300px;
}

.content_r4_c img {
  width: 100%;
}

.content_r5 {
  padding: 20px 0px 20px 20px;
}

.main5_r_c div {
  height: 180px;
}

.main5_r_c p {
  line-height: 28px;
  font-size: 16px;
}

.main5_r_c p span {
  font-size: 16px;
}

.list_c1 {
  overflow: hidden;
  padding-bottom: 40px;
}

.list_c1 li {
  overflow: hidden;
  padding-bottom: 15px;
  border-bottom: 1px dashed #d3d3d3;
}
.list_c1 li .img{
  float: left;
  width: 80px;
  height: 80px;
  margin-right: 20px;
  overflow: hidden;
  img{
    display: block;
    width: 80px;
    height: 80px;
  }
}
.list_c1 li h3 {
  font-size: 16px;
  line-height: 40px;
  font-weight: normal;
}

.list_c1 li p {
  line-height: 175%;
  font-size: 12px;
}

.list_c1 li p a {
  padding: 1px 4px 2px 4px;
  color: #975;
  border-radius: 2px;
  -moz-border-radius: 2px;
}

.list_c1 li p a:hover {
  background: #975;
  color: #fff;
}

.list_c1 li span {
  width: 90px;
  display: block;
  text-indent: 10px;
  float: right;
  position: relative;
}

.list_c1 li span a {
  width: 88px;
  height: 25px;
  line-height: 22px;
  display: block;
  border: 1px solid #ccc;
}

.list_c1 li span a:hover {
  background: #ccc;
  color: #fff;
}

.list_c1 li span s {
  width: 15px;
  height: 25px;
  text-indent: 0px;
  display: block;
  position: absolute;
  left: 70px;
  top: 1px;
  text-decoration: none;
}

.pagelist {
  overflow: hidden;
  text-align: center;
}

.pagelist a {
  display: inline-block;
  font-size: 14px;
  height: 28px;
  line-height: 28px;
  padding: 0 12px;
  margin: 0px 5px;
  border: 1px solid #cecece;
}

.pagelist a:hover {
  border: 1px solid #975;
}

.pagelist span {
  line-height: 30px;
  display: inline-block;
  margin: 0 8px;
  font-weight: bold;
  font-size: 14px;
}.footer-1 {
  background: #404d5e;
  color: #E5ECF5;
  text-align: center;
  font-size: 12px;
  padding: 25px 0;
  line-height: 22px;
}

.footer-1 a {
  color: #E5ECF5;
}
