/**
 * Created by wwp9 on 2016-07-18.
 */
/**
 * Created by wwp9 on 2016-06-30.
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'iconfont';
  src: url('../../../at.alicdn.com/t/font_1468902514_2292883.eot')/*tpa=http://www.jiujiuhulian.com/templets/at.alicdn.com/t/font_1468902514_2292883.eot*/; /* IE9*/
  src: url('../../../at.alicdn.com/t/font_1468902514_2292883.eot@#iefix')/*tpa=http://www.jiujiuhulian.com/templets/at.alicdn.com/t/font_1468902514_2292883.eot@#iefix*/ format('embedded-opentype'), /* IE6-IE8 */
  url('../../../at.alicdn.com/t/font_1468902514_2292883.woff')/*tpa=http://www.jiujiuhulian.com/templets/at.alicdn.com/t/font_1468902514_2292883.woff*/ format('woff'), /* chrome、firefox */
  url('../../../at.alicdn.com/t/font_1468902514_2292883.ttf')/*tpa=http://www.jiujiuhulian.com/templets/at.alicdn.com/t/font_1468902514_2292883.ttf*/ format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../../../at.alicdn.com/t/font_1468902514_2292883.svg#iconfont')/*tpa=http://www.jiujiuhulian.com/templets/at.alicdn.com/t/font_1468902514_2292883.svg#iconfont*/ format('svg'); /* iOS 4.1- */
}
                    
address, var, caption, i, p, tt, bdo, kbd, div, ins, code, fieldset {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.fl_left {
  float: left;
}

.fl_right {
  float: right;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}

/**
 * Created by wwp9 on 2016-04-11.
 */
html {
  line-height: 2;
}

body, button, input, textarea, select {
  font-size: 14px;
  font-family: "Microsoft YaHei", Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #222222;
  line-height: 2;
}

i {
  font-family: 'iconfont';
}

a {
  text-decoration: none;
  color: #222222;
}
a:hover {
  text-decoration: none;
}


p, tt, bdo, kbd {
  display: block;
  font-weight: 400;
  font-size: 100%;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

span, em, cite, font {
  font-style: normal;
}

div, ins, code, fieldset {
  display: block;
  font-weight: 400;
  font-size: 100%;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

b, strong, big {
  display: inline;
  font-weight: 400;
  font-size: 100%;
  padding: 0;
  margin: 0;
  font-style: normal;
  text-decoration: none;
}

small, sup, sub, var {
  display: inline;
  font-weight: 400;
  font-size: 90%;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-style: normal;
}

img {
  border: 0;
}
li{
  overflow: hidden;
}
.ad_tl{text-align:center}.header-1 .heade-nav ul li a.active, .header-1 .heade-nav ul li a:hover,.bigamy,.orpine .view-ninth .mask-1, .orpine .view-ninth .mask-2{background:#ff89b0}.carlet .captn h4,.demur .welcome h1,.grain h3, .grain .blog-grid h4 a,.orpine h6{color:#ff0055}.grain .blog-grid p a, .grain .blog-grid tt a, .grain .blog-grid ins a, .grain .blog-grid bdo a, .grain .blog-grid kbd a{color:#f50}
