<div class="foot">
  <!-- 友情链接 -->
  <div class="footop">
	<div class="fmain"> <span class="footleft"><b>咨询热线：</b><font>{dede:global.cfg_dh/}</font></span>
	<div class="footOne">
		<ul class="share">
		<li><a href="tencent://message/?uin=770799177&Menu=yes"  class="list qq" target="blank">在线咨询</a></li>
		<li class="shareDiv"><a href="javascript:void(0)" class="list qq2">分享网站</a>
			<div class="shareList">
			<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
			<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"22"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
								</script>
			</div>
		</li>
		</ul>
	</div>
	<div class="clear"></div>
	</div>
	<div class="clear"></div>
	<div class="fmain">
	<div class="bottomnav"> <a href="/" title="网站首页">网站首页</a> {dede:channel type='top' row='8'} <a href="[field:typeurl/]" title="[field:typename/]">[field:typename/]</a> {/dede:channel} </div>
	</div>
	<div class="fmain">
	<div class="linkleft"> <span>友情链接：</span>
{dede:flink row='24'}<li>[field:link/]</li>{/dede:flink}
	<!--links_start-->
	<!--links_end-->
	</div>
	</div>
	<div class="clear"></div>
	<div class="fmain">
	<div class="bootTxt"> 电话：13922352985&nbsp;&nbsp;&nbsp;&nbsp;地址：{dede:global.cfg_webname/}<br /></div>
	</div>
  </div>
</div>
<div class="side_nav">
  <ul>
	<li class="sub_QR"> <a href="javascript:;"> <span><img src="{dede:global.cfg_templets_skin/}/style/images/code.png" alt="" height="128"/></span> </a> </li>
	<li class="back_top"> <a href="#"> <span>返回顶部</span> </a> </li>
  </ul>
  <div class="c"></div>
</div>
<script language="javascript" type="text/javascript" src="http://js.users.51.la/17468116.js"></script>
