<div class="header">
  <div class="h_mid_c">
	<div class="h_mid">
	<div class="logo"> <a href="/" title="{dede:global.cfg_titlelast/}"> <img src="{dede:global.cfg_templets_skin/}/style/images/logo.png" alt="" /> </a> </div>
	<div class="head_rtel"><span>咨询热线</span><b>{dede:global.cfg_dh/}</b></div>
	</div>
	<div class="c"></div>
  </div>
  <div class="nav_c">
	<div class="nav">
	<ul>
		<li> <a href="/" title="网站首页">网站首页</a> </li>
		{dede:channel type='top' row='8'}
		<li> <a href="[field:typeurl/]" title="[field:typename/]">[field:typename/]</a> </li>
		{/dede:channel}
	</ul>
	</div>
  </div>
</div>
<div class="banner1">
  <div class="banner-box">
	<ul class="banner_pic">
	{dede:arclist row='5' titlelen='36' typeid='1'}
	<li><a><img src="[field:litpic/]" /></a></li>
	{/dede:arclist}
	</ul>
	<div class="btns">
	<div> <a class="prev" href="javascript:void(0)"></a> <a class="next" href="javascript:void(0)"></a> </div>
	</div>
	<div class="num">
	<ul>
	</ul>
	</div>
  </div>
</div>
<div class="noticefra">
  <div class="notice"> <span class="inoimg"><img  src="{dede:global.cfg_templets_skin/}/style/images/notceimg.png" /></span>
	<div class="search">
	<form  name="formsearch" action="{dede:global.cfg_cmsurl/}/plus/search.php">
		<input type="hidden" name="kwtype" value="0" />
		<input type="text" class="text" value="请输入关键词" name="q" id="search-keyword" onFocus="this.value=''" onBlur="if(!value){value=defaultValue}"  />
		<input type="submit" title="搜索" name="" id="" value=" " class="button" />
	</form>
	</div>
	<div class="noticecon">
	<div class="demopage">
		<div class="control"><a href="javascript:void(0);" id="goD"><img src="{dede:global.cfg_templets_skin/}/style/images/indexright.gif" width="5" height="9" /></a></div>
		<div id="marquee2">
		<ul>
			{dede:arclist row='5' titlelen='52' typeid='2'}
			<li><a href="[field:arcurl/]" title="[field:title/]"><span>[field:title/]</span>
			<label> [field:pubdate function='strftime("%Y-%m-%d",@me)'/]</label>
			</a></li>
			{/dede:arclist}
		</ul>
		</div>
		<div class="control"><a href="javascript:void(0);" id="goU"><img src="{dede:global.cfg_templets_skin/}/style/images/top2.jpg" width="11" height="16" /></a></div>
	</div>
	</div>
  </div>
</div>
