<div class="main zerogrid">
			<article id="content2">
				<div class="wrapper row">
<section class="col-1-4">
					<div class="wrap-col">
						<h4>联系我们</h4>
						<ul class="address">
{dede:global.cfg_contactus/}
						</ul>
					</div>
					</section>
					<section class="col-1-4">
					<div class="wrap-col">
						<h4>新闻中心</h4>
						<ul class="list1">
{dede:arclist row=4 titlelen='24'}
<li><a href="[field:arcurl/]" title="[field:fulltitle/]">[field:title/]...</a></li>
{/dede:arclist}
						</ul>
					</div>
					</section>
					<section class="col-1-4">
					<div class="wrap-col">
						<h4>关于我们</h4>
						<ul id="icons">
						</ul>
					</div>
					</section>
					<section class="col-1-4">
					<div class="wrap-col">
						<h4><img src="{dede:global.cfg_templets_skin/}/images/blogo.png"></h4>
					</div>
					</section>
				</div>
			</article>
<!-- content end -->
		</div>
	</div>
		<div class="main zerogrid">
<!-- footer -->
			<footer>
				{dede:global.cfg_titlelast/}
			</footer>
<!-- footer end -->
		</div>
<script type="text/javascript"> Cufon.now(); </script>
