<div class="layui-card">
    <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
            <label class="layui-form-label">配置文件</label>
            <div class="layui-input-inline">
                <div class="layui-form-mid">{{.mycnf_path}}</div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">最大连接数:</label>
            <div class="layui-input-inline">
                <input type="text" name="max_connections" value="{{.obj.max_connections}}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">连接时间:</label>
            <div class="layui-input-inline">
                <input type="text" name="innodb_lock_wait_timeout" value="{{.obj.innodb_lock_wait_timeout}}"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">缓冲:</label>
            <div class="layui-input-inline">
                <input type="text" name="key_buffer_size" value="{{.obj.key_buffer_size}}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">查询缓存:</label>
            <div class="layui-input-inline">
                <input type="text" name="query_cache_size" value="{{.obj.query_cache_size}}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">表缓存:</label>
            <div class="layui-input-inline">
                <input type="text" name="table_open_cache" value="{{.obj.table_open_cache}}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">临时表大小:</label>
            <div class="layui-input-inline">
                <input type="text" name="tmp_table_size" value="{{.obj.tmp_table_size}}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-small" lay-submit lay-filter="submit">提交</button>
                <button type="reset" class="layui-btn layui-btn-small layui-btn-primary"
                        onclick="location.reload();">重置
                </button>
                <button class="layui-btn layui-btn-small layui-btn-normal" id="editMyCnf"
                        data-url="/file/editor?path={{.mycnf_path}}">在线编辑文件
                </button>
                <button class="layui-btn layui-btn-small layui-btn-normal" id="recover">恢复默认
                </button>
            </div>
        </div>
    </div>
    <div class="layui-card-body">
        <blockquote class="layui-elem-quote">
            修改后，需
            <button class="layui-btn layui-btn-mini layui-btn-warm"
                    onclick="act_confirm('确定要重启MySQL吗','/sys/server','act=restart&srv=mysqld');return false;">
                重启MySQL
            </button>
            才会生效
        </blockquote>
    </div>
</div>
<script src="/static/layui/layui.js"></script>
<script>
    layui.config({
        base: '/static/' //静态资源所在路径
    }).extend({
        index: 'lib/index', //主入口模块
        main: 'main'
    }).use(['index', 'form', 'table', 'main'], function () {
        var $ = layui.$,
            form = layui.form,
            main = layui.main,
            url = {{.current_uri}};

        form.render();
        form.on('submit(submit)', function (obj) {
            main.req({
                url: url,
                data: obj.field,
            });
            return false;
        });
        $('#recover').on('click', function () {
            main.req({
                url: url + '/recover',
                ending: function () {
                    location.reload();
                }
            });
        });
        $('#editMyCnf').on('click', function () {
            var fileurl = $('#editMyCnf').attr('data-url');
            $.get(fileurl, {hide: true}, function (html) {
                main.popup({
                    url: "/file/editor",
                    title: '编辑文件',
                    content: html,
                });
            });
        });
    });
</script>