<div class="layui-card">
    <div class="layui-card-body layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">绑定网站:</label>
            <input type="hidden" name="site_id" value="{{.site.Id}}">
            <label class="layui-form-label">{{.site.Vhost}}</label>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户名:</label>
            <div class="layui-input-inline">
                <input type="text" name="username" required lay-verify="required" value="{{.obj.Username}}"
                       class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码:</label>
            <div class="layui-input-inline">
                <input type="text" name="password" value="{{.obj.Password}}" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">留空为8位随机密码</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">数据库名:</label>
            <div class="layui-input-inline">
                <input type="text" name="dbname" value="{{.obj.Dbname}}" class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">数据库编码:</label>
            <div class="layui-input-inline">
                <input type="text" name="charset" value="{{.obj.Charset}}" class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">主机名:</label>
            <div class="layui-input-inline">
                <input type="text" name="host" value="{{.obj.Host}}" class="layui-input" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注:</label>
            <div class="layui-input-block">
                <input type="text" name="note" value="{{.obj.Note}}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-hide">
            <input type="text" name="id" value="{{.obj.Id}}">
            <button type="submit" lay-submit>保存</button>
        </div>
    </div>
</div>
