.utitle {
	background-attachment: scroll;
	background-image: url(../images/utitle_left.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 33px;
	padding-left: 4px;
}
.utitlei {
	background-attachment: scroll;
	background-image: url(../images/utitle_right.gif);
	background-repeat: no-repeat;
	background-position: right;
	height: 33px;
	padding-right: 5px;
}
.title {
	background-attachment: scroll;
	background-image: url(../images/title_background.gif);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	height: 33px;
	line-height: 33px;
}
.title .title_t {
	height: 33px!important;
	height: 23px;
	background-attachment: scroll;
	background-image: url(../images/utitle_i_left.gif);
	background-repeat: no-repeat;
	padding-left: 4px;
	margin-top: 5px;
	margin-left: 10px;
}
.title .title_t .title_t_i {
	background-image: url(../images/u_titlei_right.gif);
	background-repeat: no-repeat;
	background-position: right top;
	padding-right: 6px;
}
.title .title_t h2 {
	background-color: #436193;
	font-size: 14px;
	color: #FFF;
	font-weight: normal;
	height: 22px;
	line-height: 22px;
	padding-left: 2px;
	display: inline;
	padding-top: 3px!important;
	padding-top: 5px;
	padding-bottom: 3px;
}
*+html .title .title_t h2 {padding-top: 5px!important;}/*兼容IE7、IE8*/

.title_t_i h2 a {
	color: #FFF;
}
.ucontent {
	background-image: url(../images/content_right_bg.gif);
	background-repeat: repeat-y;
	background-attachment: scroll;
	background-position: right 0px;
	background-color: #FFFFFF;
	padding-right: 2px;
}
.ucontent1 {width:684px; height:311px;float:left;


}
.ucontent1 ul{
	background-image:url(../images/content_right_bg.gif);
	background-repeat:repeat-y;
	background-attachment:scroll;
	background-position: right 0px;
	background-color: #FFFFFF;
	padding-right:2px;
	height:310px;

}
.ucontent1 ul  li{
	float:left;
	width:150px;
	height:135px;
	margin:8px;
        padding-left:2px;
}
.ucontent1 ul  li img{
border-bottom: 1px solid #D4D4D4;
border-top: 1px solid #D4D4D4;
border-left: 1px solid #D4D4D4;
border-right: 1px solid #D4D4D4;
}
.ucontent1 ul  li span{
	float:left;
	display: block;
	padding: 0px;
	width: 150px;
	overflow: hidden;
	white-space: nowrap;
	margin: 0px;
}


.ucontent .arcbody .hsinfo {
	font-size: 14px;
	margin-top: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCC;
	padding-bottom: 10px;
	line-height: 24px;
	margin-bottom: 10px;
}

.ucontent .index_feature {
	font-size: 12px;
}
.ucontent .index_feature a {
	font-weight: normal;
	color: #0B66A8;
}
.index_light {
	color: #FF6600;
	font-weight: bold;
}
.index_feature th, .index_feature td {
	padding:0 20px 15px;
}
.index_feature img {
	cursor:pointer;
}
.index_feature th, .product_feature th {
	font-weight:normal;
	padding-left:18px;
	text-align:left;
	vertical-align:top;
}
.title_top {
	background-image: url(../images/u_top.gif);
	background-repeat: no-repeat;
	height: 4px;
	background-position: left;
	padding-left: 3px;
	font-size: 0px;
}
.title_top .title_top_i {
	background-attachment: scroll;
	background-image: url(../images/u_top_right.gif);
	background-repeat: no-repeat;
	background-position: right;
	height: 4px;
}
.title_buttom {
	background-image: url(../images/title_buttom_left.gif);
	background-repeat: no-repeat;
	height: 6px;
	background-position: left;
	padding: 0 0 0 3px;
	line-height: 0px;
	font-size: 0px;
}
.title_buttom .title_buttom_i {
	background-attachment: scroll;
	background-image: url(../images/title_buttom_right.gif);
	background-repeat: no-repeat;
	background-position: right;
	height: 6px;
}
.title .iterm {
	padding-right: 10px;
}
.title .iterm ul li {
	float: left;
	padding-right: 5px;
	padding-left: 4px;
	margin-left: 5px;
	height: 33px!important;
	height:24px;
	text-align: center;
}
.title .iterm ul .thisiterm {
	float: left;
	padding-right: 5px;
	padding-left: 4px;
	background-image: url(../images/iterm_left.gif);
	background-repeat: no-repeat;
	background-position: left 6px;
	margin-left: 5px;
	height: 33px!important;
	height:24px;
}
.utitle .utitlei .title .iterm ul a {
	color: #0B66A8;
}
.title .iterm ul .thisiterm a span {
	background-image: url(../images/iterm_bg.gif);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: right;
	height: 27px;
	padding: 3px 10px 10px 7px;
	padding-top/*\**/: 4px \9;
}
.ucontent .list-main {
	padding-top: 10px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 10px!important;
	padding-bottom: 0px;
}
.ucontent .list-main ul li {
	background-attachment: scroll;
	background-image: url(../images/list_ico.gif);
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 24px;
	line-height: 24px;
	clear: both;
}
.ucontent .list-main .date {
	float: right;
	color: #FF7F00;
	padding-left: 12px;
}
.ucontent .list-main .showimg {
	margin-top:/*\**/10px \9;
	margin-top:0px;
	margin-bottom:/*\**/5px \9;
	padding-left: 0px;
	padding-top: 10px!important;
	padding-top:0 px;
	padding-bottom: 10px;
	padding-bottom:/*\**/5px \9;
}
.ucontent .list-main .showimg img {
	float: left;
	margin-right:5px;
}
.ucontent .list-main .showimg .iterm-name {
	font-weight: bold;
	display: block;
	margin-left: 10px;
	float: left;
	width: 200px;
}
.ucontent .list-main .showimg .iterm-oth {
	display: block;
	margin-left: 10px;
	width: 200px;
	float:right;
	float:/*\**/none \9;
	line-height: 22px;
}
.ucontent .list-main .showimg .iterm-name a {
	color: #FF6600;
}
.ucontent .list-main img {
	margin-top: 5px!important;
	margin-top: 10px;
}

.ucontent .list-iterm dl {
	width: 257px;
	overflow: hidden;
	margin-right: 5px;
	margin-left: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F0F0F0;
	padding-bottom:5px;
}
.ucontent .list-iterm dl:hover, .ucontent .list-iterm .thisnav {
	background-attachment: scroll;
	background-image: url(../images/thisnav_bg.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 71px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.ucontent .list-iterm dl img {
	float: left;
	height: 71px;
	width: 56px;
	margin-right: 10px;
	margin-left: 10px;
}
.ucontent .list-iterm dl dt {
	font-weight: bold;
	margin-top: 2px;
	margin-bottom: 5px;
}
.ucontent .partneri a img {
	margin-top: 18px;
	margin-left: 12px;
}
.l_left {
	float: left;
	width: 232px;
}
.l_right {
	float: right;
	width: 722px;
}
.ucontent .literm {
	width:192px;
	padding: 10px;
}
.ucontent .literm ul li {
	line-height: 30px;
	padding-left: 38px;
	background-attachment: scroll;
	background-image: url(../images/literm_ico.gif);
	background-repeat: no-repeat;
	background-position: 21px 12px;
}
.ucontent .literm ul li a {
	color: #0B66A8;
}
.ucontent .literm ul .nowiterm {
	background-attachment: scroll;
	background-image: url(../images/nowiterm_bg.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 30px;
	line-height: 30px;
	list-style-type: none;
	list-style-image: none;
}
.ucontent .literm ul .nowiterm a {
	font-weight: bold;
	color: #FFF;
}
.otitle {
	height: 37px;
	width: 206px;
	background-image: url(../images/otitle_top.gif);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 0px 0px;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	padding-top: 10px;
	padding-left: 25px;
}
.ocontent {
	width: 232px;
	background-image: url(../images/ocontent_bg.gif);
	background-repeat: repeat-y;
}
.ocontent .oliterm {
	padding-left: 15px;
	width: 205px;
}
.ocontent .oliterm .onowiterm {
	background-attachment: scroll;
	background-image: url(../images/oiterm_now_bg.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 32px;
	width: 148px;
	line-height: 32px;
	padding-left: 40px;
}
.ocontent .oliterm ul li {
	background-image: url(../images/literm_ico.gif);
	background-repeat: no-repeat;
	padding-left: 40px;
	line-height: 31px;
	background-attachment: scroll;
	background-position: 22px 11px;
	width: 150px;
}
.ucontent .pfeature {
	padding-top: 10px;
	padding-right: 28px;
	padding-bottom: 10px;
	padding-left: 28px;
	line-height: 22px;
}
.ucontent .pfeature h1 {
	font-size: 14px;
	font-weight: bold;
	color: #0B65A7;
}
.ucontent .pfeature h2 {
	font-size: 12px;
	color: #0B66A8;
	font-weight: bold;
	line-height: 22px;
}
.ucontent .pfeature a {
	color: #0B65A7;
}
.ucontent .pfeature a:hover {
	color: #333;
	text-decoration: underline;
}
.ucontent .pfeature hr {
	color: #FFC7C7;
	margin-top: 20px;
	margin-bottom: 15px;
}
.ucontent .pfeature ul li {
	float: left;
	width: 262px;
	background-attachment: scroll;
	background-image: url(../images/list_down_ico.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-left: 22px;
	margin-left: 15px;
	margin-top: 5px;
}
.ucontent .pfeature ul li a {
	float: left;
	width: 280px;
	color: #0B65A7;
	text-decoration: none;
}
.ucontent .pfeature ul li span {
	float: left;
	width: 280px;
}
.otitle_buttom {
	height: 30px;
	width: 232px;
	background-attachment: scroll;
	background-image: url(../images/obuttom_bg.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.tbox {
	float: left;
	width: 358px;
	margin-bottom:3px;
	margin-right:3px;
}
.ucontent .arc_list {
	padding-right: 30px;
	padding-left: 30px;
	line-height: 24px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.ucontent .arc_list ul {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #E0E0E0;
}
.ucontent .arc_list ul .list_title {
	background-attachment: scroll;
	background-image: url(../images/arclist_ico.gif);
	background-repeat: no-repeat;
	background-position: 0px 8px;
	clear: both;
	padding-left: 15px;
}
.ucontent .arc_list ul .list_title a {
	font-size: 14px;
	font-weight: bold;
	color: #0B65A7;
}
.ucontent .arc_list ul .text a {
	color: #0B65A7;
	text-decoration: none;
}

}
.ucontent .comarc {
	clear: both;
	padding: 10px;
}
.ucontent .comarc ul {
	line-height: 24px;
}
.ucontent .comarc ul li {
	list-style-type: disc;
	list-style-position: inside;
	color: #0B65A7;
}
.ucontent .comarc ul li a {
	color: #0B65A7;
}
.ucontent .tagcloud {
	clear: both;
	padding: 10px;
	line-height: 24px;
}
.ucontent .tagcloud ul li {
	display: inline;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.ucontent .tagcloud ul a {
	color: #0B65A7;
}
.ucontent .tagCloud {
	margin-left:10px;
	line-height: 22px;
}
.ucontent .tagCloud li {
	display:inline;
	padding:0 5px 0 0;
}
.ucontent .tagCloud a {
	line-height:25px;
	padding:3px 2px 1px 3px;
	text-decoration:none !important;
	white-space:nowrap;
}
.ucontent .tagCloud a:hover {
	text-decoration:none !important;
}
li.tag_popularity_1 a, li.tag_popularity_1 a:hover {
	font-size:12px;
	font-weight:normal;
}
li.tag_popularity_2 a, li.tag_popularity_2 a:hover {
	font-size:12px;
	font-weight:bold;
}
li.tag_popularity_3 a, li.tag_popularity_3 a:hover {
	font-size:14px;
	font-weight:bold;
}
li.tag_popularity_4 a, li.tag_popularity_4 a:hover {
	color:#FF0F6F !important;
	font-size:16px;
	font-weight:bold;
}
li.tag_popularity_1 a:hover, li.tag_popularity_2 a:hover, li.tag_popularity_3 a:hover {
	-moz-background-clip:border !important;
	-moz-background-inline-policy:continuous !important;
	-moz-background-origin:padding !important;
	background:#104D6C none repeat scroll 0 0 !important;
	color:#FFFFFF !important;
}
li.tag_popularity_4 a:hover {
	-moz-background-clip:border !important;
	-moz-background-inline-policy:continuous !important;
	-moz-background-origin:padding !important;
	background:#FF0F6F none repeat scroll 0 0 !important;
	color:#FFFFFF !important;
}
.ucontent .addons {
	clear: both;
	line-height: 24px;
	vertical-align: text-bottom;
	padding-top: 15px;
	padding-right: 30px;
	padding-bottom: 15px;
	padding-left: 30px;
}
.ucontent .addons .addlist {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #E0E0E0;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.ucontent .addons a {
	color: #0B65A7;
}
.ucontent .addons .litimg {
	float: left;
	margin-right: 20px;
}
.ucontent .addons .downdes {
	float: left;
}
.ucontent .addons .dtitle a {
	font-size: 14px;
	font-weight: bold;
	color: #0B65A7;
}
.ucontent .addons .downinfo {
	float: right;
	margin-right: 30px;
}
.ucontent .arcbody {
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 15px;
	padding-left: 30px;
}
.ucontent .arcbody h1 {
	color:#363737;
	font-size:22px;
	font-weight:bold;
	margin:0;
	text-align:center;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}
.ucontent .arcbody .times {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #E0E0E0;
}
.ucontent .arcbody .desinfo {
	padding: 10px;
	border: 1px dashed #E0E0E0;
	font-size: 12px;
}
.ucontent .arcbody .content {
	color:#2A2A2A;
	font-size:14px;
	line-height:25px;
	margin:15px 0 35px;
}
.ucontent .pagebreak {
	line-height:25px;
	margin-bottom:10px;
	text-align:center;
	font-weight: normal;
}
.ucontent .pagebreak a {
	border:1px solid #CCCCCC;
	color:#666666;
	margin:5px 2px;
	padding:4px 5px 1px;
}
.ucontent .pagebreak strong {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	border:1px solid #CCCCCC;
	color:#FFF;
	font-weight:normal;
	margin:5px 2px;
	padding:4px 5px 1px;
	background-attachment: scroll;
	background-color: #007cb9;
	background-image: none;
	background-repeat: repeat;
	background-position: 0 0;
}
.ucontent .arcbody .linkes {
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #E0E0E0;
}
.ucontent .arcbody .linkes li {
	float: left;
	width: 50%;
}
.ucontent .likearcs {
	padding: 15px;
	line-height: 22px;
}
.ucontent .likearcs ul li {
	float: left;
	width: 45%;
	list-style-type:none;
	list-style-image: url(../images/list_ico.gif);
	margin-left: 15px;
	list-style-position: inside;
}
.ucontent .likearcs ul li .date {
	float: right;
	color: #FF0000;
}
.ucontent .basetext {
	line-height: 24px;
}
.ucontent .basetext h1 {
	font-size: 14px;
	font-weight: bold;
	color: #0B65A7;
	text-align: left;
}
.ucontent .decmt-box {
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}
.ucontent .decmt-box .decmt-title {
	color:#999999;
	font-family:Tahoma;
	line-height:19px;
	padding-top: 5px;
}
.ucontent .decmt-box .decmt-title .moodico {
	display:inline-block;
	height:18px;
	width:18px;
}
.ucontent .decmt-box .decmt-act {
	clear:both;
	color:#999999;
	float:right;
	margin-top:-18px;
	padding-right:10px;
	position:relative;
}
.ucontent .decmt-box .decmt-content {
	clear:both;
	color:#555555;
	line-height:21px;
	width:99%;
	margin-top: 2px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCC;
}
.ucontent .decmt-box .dcmp-stand {
	margin-top: 20px;
}
.ucontent .decmt-box .dcmp-content .ipt-txt {
	height:60px;
	width:96%;
}
.ucontent .decmt-box .dcmp-mood ul li {
	float:left;
	margin-right:8px;
}
.ucontent .decmt-box .dcmp-post img {
	margin:5px;
	vertical-align:middle;
}
.ucontent .decmt-box button  {
	background-attachment: scroll;
	background-image: url(../images/submit_button.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 25px;
	width: 79px;
	color: #FFF;
}
.ucontent .arcbody .yin {
	position: absolute;
	left: 60%;
	top: 310px;
}
.ucontent .tproduct {
	height: 267px;
	width: 337px;
	background-attachment: scroll;
	background-image: url(../images/tproducts_bg.jpg);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	border: 1px solid #E6E6E6;
	padding: 5px;
}
.ucontent .tproduct h1,.product_i h1 {
	font-size: 14px;
	font-weight: bold;
	color: #0B65A7;
}
.ucontent .tproduct p,.product_i p {
	color: #0B65A7;
}
.ucontent .hostinfo {
	width: 200px;
	line-height: 22px;
}
.ucontent .hostinfo ul li {
	background-attachment: scroll;
	background-image: url(../images/proinfo_ico.gif);
	background-repeat: no-repeat;
	background-position: 0px 6px;
	padding-left: 10px;
}
.ucontent .tproduct .subutton,.product_i .subutton {
	clear: right;
	text-align: right;
	padding: 5px;
	margin-right: 10px;
}
.ucontent .tlistiterm {
	padding: 10px;
}
.ucontent .tlistiterm li {
	clear: both;
	margin-top: 8px;
	margin-bottom: 8px;
	overflow: hidden;
}

.ucontent .tlistiterm li img {
	float: left;
	margin-right: 15px;
}
.ucontent .tlistiterm li div {
	float: left;
}
.ucontent .tlistiterm li h2 {
	font-size: 14px;
	color: #0B65A7;
}
.ucontent .product_i {
	height: 367px;
	width: 220px;
	background-attachment: scroll;
	background-image: url(../images/product_i_bg.jpg);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	border: 1px solid #E6E6E6;
}
.ucontent .product_i .plitimg {
	text-align: center;
}
.ucontent .decmt-box .dcmp-post {
	clear: both;
}
.pagebreak {
	overflow: hidden;
	margin-top: 8px;
	margin-right: auto;
	margin-bottom: 8px;
	margin-left: auto;
}
.pagebreak ul li {
	float: left;
}

.newdigg{
	width:406px;
	height:51px;
	margin:8px auto;
	clear:both;
	overflow:hidden;
	padding-left:8px;
}
.diggbox{
	width:195px;
	height:51px;
	float:left;
	margin-right:8px;
	overflow:hidden;
	cursor:pointer;
}
.diggbox .digg_act{
	font-size:14px;
	float:left;
	line-height:31px;
	text-indent:32px;
	height:29px;
	overflow:hidden;
	font-weight:bold;
}
.diggbox .digg_num{
	float:left;
	line-height:29px;
	text-indent:5px;
}
.diggbox .digg_percent{
	width:180px;
	clear:both;
	padding-left:10px;
	overflow:hidden;
}
.diggbox .digg_percent .digg_percent_bar{
	width:100px;
	height:7px;
	background:#E8E8E8;
	border-right:1px solid #CCC;
	float:left;
	overflow:hidden;
	margin-top:3px;
}
.diggbox .digg_percent .digg_percent_num{
	font-size:10px;
	float:left;
	padding-left:10px;
}
.diggbox .digg_percent .digg_percent_bar span{
	display:block;
	height:5px;
	overflow:hidden;
	background:#000;
}
.newdigg .digg_good{
	background-image: url(../templets/images/newdigg-bg.png);
	background-repeat: no-repeat;
	background-position: left top;
}
.newdigg .digg_bad{
	background-image: url(../templets/images/newdigg-bg.png);
	background-repeat: no-repeat;
	background-position: right top;
}
.newdigg .digg_good .digg_act{
	color:#C30;	
}
.newdigg .digg_good .digg_num{
	color:#C63;
}
.newdigg .digg_bad .digg_act{
	color:#36C;	
}
.newdigg .digg_bad .digg_num{
	color:#39C;
}
.newdigg .digg_good .digg_percent .digg_percent_bar span{
	border:1px solid #E37F24;
	background:#FFC535;
}
.newdigg .digg_bad .digg_percent .digg_percent_bar span{
	border:1px solid #689ACC;
	background:#94C0E4;
}
.handle{
	height:59px;
	padding-top:12px;
	overflow:hidden;
	clear:both;
}
.handle .digg{
	width:59px;
	height:59px;
	float:left;
	margin-right:12px;
	background-image: url(../templets/images/digg-bg.gif);
	background-repeat: no-repeat;
}
.handle .digg .digg_num{
	width:56px;
	height:34px;
	font-size:20px;
	text-align:center;
	line-height:34px;
	overflow:hidden;
	color:#6B9169;
}
.handle .digg .digg_act{
	width:56px;
	height:22px;
	line-height:23px;
	overflow:hidden;
}
.handle .digg .digg_act a{
	margin-left:11px;
	color:#666;
	float:left;
}
.dede_pages{
	margin:0 auto;
}
.dede_pages ul{
	float:left;
	padding:12px 0px 12px 16px;
}
.dede_pages ul li{
	float:left;
	font-family:Tahoma;
	line-height:17px;
	margin-right:6px;
}
.dede_pages ul li a{
	float:left;
	padding:2px 4px 2px;
	color:#555;
	border-bottom:1px solid #EEE;
}


.dede_pages  .pagelist strong {
	border:1px solid #D9D9D9;
	color:#FFF;
	display:inline;
	margin:0 3px;
	padding:2px 5px;
	background-color: #007cb9;
}
.dede_pages .pagelist a:link {
	border:1px solid #D9D9D9;
	color:#001A9F;
	display:inline;
	margin:0 3px;
	padding:2px 5px;
}
.dede_pages  .pagelist a:visited {
	border:1px solid #D9D9D9;
	color:#001A9F;
	display:inline;
	margin:0 3px;
	padding:2px 5px;
}
.dede_pages  .pagelist a:hover {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#E8F3FD none repeat scroll 0 0;
	border:1px solid #8BCCEC;
	color:#000000;
	display:inline;
	margin:0 3px;
	padding:2px 5px;
}
.dede_pages  .pagelist .click {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#FFEBD9 none repeat scroll 0 0;
	border:1px solid #FF831E;
	color:#000000;
	display:inline;
	margin:0 3px;
	padding:2px 5px;
}
