<div class="w1000">
<div id="copyright">
  <div id="footnav">
	<ul>
	{dede:channel  type ='top' row='7'  }
	<li>|<a href='[field:typelink/]'>[field:typename/]</a></li>
	{/dede:channel}
	</ul>
  </div>
  <div id="copy_txt">{dede:global.cfg_webname/}.&nbsp;&nbsp&nbsp;&nbsp; <br>
  </br>
	<div class="link_txt">
	<ul>
		<!--link start--> <!--link end-->
	</ul>
	</div>
  </div>
</div>
<script language="javascript" type="text/javascript" src="http://js.users.51.la/17468116.js"></script>
