<div class="w1000">
  <div id="head">
	<div id="logo"><a href="/" title="{dede:global.cfg_indexname/}"><img src="{dede:global.cfg_templets_skin/}/skin/picture/logo.jpg" alt="{dede:global.cfg_titlelast/}" /></a></div>
	<div id="head_right">
	<div id="favorite">
		<ul>
		<li><a href="/">返回首页</a>|</li>
		<li><a href="javascript:void(0);" onclick="SetHome();">设为首页</a>|</li>
		<li><a href="javascript:void(0);" onclick="AddFavorite();">添加收藏</a></li>
		</ul>
	</div>
	<div class="clear"></div>
	<div id="search">
		<form  class="search" name="formsearch" action="/plus/search.php">
		<input type="hidden" name="kwtype" value="0" />
		<input class="text" type="text" name="q" placeholder="搜索一下">
		<input class="button" value="搜索" type="submit">
		</form>
		</form>
	</div>
	</div>
  </div>
  <div class="clear"></div>
  <div id="navigate">
	<ul>
	<li class='first_menu'><b><a href='/' {dede:field name=typeid runphp="yes"}(@me=="")? @me=" class='current' ":@me="";{/dede:field}>网站首页</a></b></li>
	{dede:channel  type ='top' row='7' currentstyle="
	<li><a class='current' href='~typelink~' ~rel~>~typename~</a></li>
	"}
	<li><a  href='[field:typeurl/]'>[field:typename/]</a></li>
	{/dede:channel}
	</ul>
  </div>
  <div id="flash">
	<div id="myFocus">
	<div class="loading"></div>
	<div class="pic">
		<ul>
		<li><a href="/"><img src="{dede:global.cfg_templets_skin/}/skin/picture/2013618162618355.jpg" alt="广告1" text="广告1" /></a></li>
		<li><a href="/"><img src="{dede:global.cfg_templets_skin/}/skin/picture/2013618162840500.jpg" alt="广告2" text="广告2" /></a></li>
		<li><a href="/"><img src="{dede:global.cfg_templets_skin/}/skin/picture/201361816270116.jpg" alt="广告3" text="广告3" /></a></li>
		</ul>
	</div>
	</div>
  </div>
</div>
<div class="clear"></div>
