<div class="index_box">
        <div class="top_box yahei">
					<div>
        <img src="{dede:global.cfg_templets_skin/}/images/logo.jpg" style="height:90px;width:980px;">
        </div>
          <div class="wz_box right"></div>
        </div>
        <div class="clear"></div>
        <div class="nav_box yahei">
            <ul>
<li><a href="/">首页</a></li>
{dede:channel type='top' row='8'}
 <li><a href='[field:typelink/]'>[field:typename/]</a> </li>
{/dede:channel}
</ul>
</div>
    </div>
