    <div class="friendly">
    <div class="friendlybt">网站推广合作</div>
    <div class="fdcon">
<div id="indexad" style="overflow: hidden; width:885px; height: 80px;">
  <P><h2>合作联系方式：</h2></P>
  <P><h2>QQ1：147306049</h2></P>
  <P><h2>QQ2：997873565</h2></P>
 <P><h2>{dede:global.cfg_indexname/}</h2></P>
  </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="fdbot"></div>
    </div>
    <div class="clear"></div>
  </div>
<div class="footer">
    <p>Copyright@2012   All Right Reserved  版权所有  {dede:global.cfg_webname/}
    </p>
    <a href="/data/sitemap.html" title="网站地图">网站地图</a>
    </div>
