 <div class="header">
	<div class="fl"><a href="/"><img src="{dede:global.cfg_templets_skin/}/style/logo.png" alt="{dede:global.cfg_indexname/}" width="522" height="100"/></a></div>
<ul class="add">
	<li><a style="cursor:hand;" onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('index.htm')">设为首页</a></li>
	<li><a href="javascript:window.external.AddFavorite('index.html','{dede:global.cfg_indexname/}')">加入收藏</a></li>
	<div class="clear"></div>
	</ul>
	<div class="clear"></div>
  </div>
  <div class="mainnav">
	<div class="Navigation">
	<ul>
	<li class="nav1"><a href='{dede:global.cfg_cmsurl/}/'><span>首页</span></a></li>
		{dede:channel type='top' row='10' currentstyle="<li class='nav2'><a href='~typelink~' ~rel~><span>~typename~</span></a></li>"}
		<li class="nav2"> <a href='[field:typeurl/]' [field:rel/]><span>[field:typename/]</span></a></li>
		{/dede:channel}
		<div class="clear"></div>
	</ul>
	<div class="clear"></div>
	</div>
  </div>
