<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="applicable-device" content="pc" />
<meta name="location" content="province={dede:global.cfg_province/};city={dede:global.cfg_city/}" />
<title>{dede:global.cfg_webname/}</title>
<script language="JavaScript" type="text/javascript" src="/js/uadirect.js"></script>
<meta http-equiv="mobile-agent" content="format=html5;url={dede:global.cfg_waphost/}/" />
<meta name="mobile-agent" content="format=xhtml;url={dede:global.cfg_waphost/}" />
<meta name="description" content="{dede:global.cfg_description/}" />
<meta name="keywords" content="{dede:global.cfg_keywords/}" />
<link href="{dede:global.cfg_templets_skin/}/style/style.css" rel="stylesheet" media="screen" type="text/css" />
</head>
<body>
<div class="container">
{dede:include filename="header.htm"/}
  <div class="all">
   {dede:include filename="side.htm"/}
    <div class="right">
    <div class="about">
        <div class="aboutbt over">
        <h4 class="fl">为什么要做网络营销</h4>
        <span class="more"><a href="/"></a></span></div>
        <div class="aboutcon"><img src="{dede:global.cfg_templets_skin/}/style/img_35.jpg" alt="{dede:global.cfg_indexname/}" class="fr"/>
{dede:global.cfg_about/}
        </div>
        <div class="aboutbot"></div>
    </div>
    <div class="hynews pr7">
        <div class="newsbt">
        <h4 class="fl">随机动态</h4>
        <span class="more">更多&gt;&gt;</span></div>
        <div class="newscon">
        <ul>
        {dede:arclist titlelen='32' orderby='rand'  row='3'}
                <li><span class="riqi">[field:pubdate function="MyDate('y-m-d',@me)"/]</span> <a href="[field:arcurl /]">[field:title /]</a></li>
                {/dede:arclist}
        </ul>
        </div>
        <div class="newbot"></div>
    </div>
    <div class="hynews">
        <div class="fgbt">
        <h4 class="fl">行业动态</h4>
        <span class="more">更多&gt;&gt;</span></div>
        <div class="newscon">
        <ul>
    {dede:arclist titlelen='32' flag='c'  row='3'}
                <li><span class="riqi">[field:pubdate function="MyDate('y-m-d',@me)"/]</span> <a href="[field:arcurl /]">[field:title /]</a></li>
                {/dede:arclist}
        </ul>
        </div>
        <div class="newbot"></div>
    </div>
    <div class="clear"></div>
    </div>
    <div class="friendly">
    <div class="friendlybt">网站推广合作</div>
    <div class="fdcon">
{dede:flink row='24'}[field:link/] {/dede:flink}
        </div>
        <div class="clear"></div>
    </div>
    <div class="fdbot"></div>
    </div>
    <div class="clear"></div>
  </div>
<div class="footer">
    <p>Copyright@2012   All Right Reserved  版权所有  {dede:global.cfg_webname/}

    <a href="/data/sitemap.html" title="网站地图">网站地图</a></p>
    </div>
</div>
</div>
</body>
</html>
