    <div class="left">
    <div class="box articleList">
               <div class="aboutbt over">
 <h4 class="fl"> {dede:type typeid='1'}<a href='[field:typelink /]' ><span>[field:typename /]</span></a>{/dede:type}</h4>
     </div>
        <ul>
            {dede:arclist row='6' titlelen='32'typeid='1'}
            <li>[field:textlink/]</li>
            {/dede:arclist}
        </ul>
    </div>
       <div class="box articleList">
               <div class="aboutbt over">
 <h4 class="fl">{dede:type typeid='2'}<a href='[field:typelink /]' ><span>[field:typename /]</span></a>{/dede:type}</h4>
     </div>
        <ul>
            {dede:arclist row='6' titlelen='32' typeid='2'}
            <li>[field:textlink/]</li>
            {/dede:arclist}
        </ul>
    </div>
  <div class="box articleList">
          <div class="aboutbt over">
 <h4 class="fl">{dede:type typeid='3'}<a href='[field:typelink /]' ><span>[field:typename /]</span></a>{/dede:type}</h4>
     </div>
 <ul>
            {dede:arclist row='6' titlelen='32' typeid='3'}
            <li>[field:textlink/]</li>
            {/dede:arclist}
        </ul>
    </div>
   </div>
