<DIV class=header>
	<H1 class=logo><A title="{dede:global.cfg_indexname/}" href="/"><img src="{dede:global.cfg_templets_skin/}/images/logo.png" height="70" /></A> </H1>
	<DIV class=headerR>
		<DIV class=mini_func>
			<A href="{dede:global.cfg_basehost/}" class=homepage  onclick="setHomepage();"><FONT color=#0057c2>设为主页</FONT></A>
			<a href="javascript:AddToFavorite();" class=favicon ><FONT color=#0057c2>加入收藏</FONT></a>
		</DIV>
		<DIV class=clear></DIV>
		<DIV class=search>
		<form action="http://www.baidu.com/s" name="formsearch">
<INPUT name="keyword" id="keyword" type="text">
<input type="hidden" name="kwtype" value="1" />
<INPUT class="searchInput" value="输入关键字" name="keyword" id="keyword" type="text" onblur="if(value=='')value='输入关键字';" onfocus="if(value == '输入关键字')value = ''" > <INPUT class="searchBtn" type="submit" value=""> </FORM>
		</DIV>
	</DIV>
	<DIV class=clear></DIV>
	<DIV class=navigation>
		<UL class=menu id=menu-mainmenu>
			<LI class="menu-item"><a href="/">首页</A> </LI>
			{dede:channel type='top' row='9' }
			<li class="menu-item"><a href="[field:typeurl/]">[field:typename/]</a></li>
			{/dede:channel}
		</UL>
	</DIV>
</DIV>
