<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml">
<HEAD>
<meta name="applicable-device" content="pc">
<TITLE>{dede:field.seotitle/}_{dede:global.cfg_titlelast/}</TITLE>
<META content="{dede:field name='keywords'/}" name=keywords>
<META content="{dede:field name='description' function='html2text(@me)'/}" name=description>
<META http-equiv=Content-Type content="text/html; charset=utf-8">
<LINK media=screen href="{dede:global.cfg_templets_skin/}/css/style.css" type=text/css rel=stylesheet>
</HEAD>
<BODY>
<DIV class=wrapper>
	{dede:include filename="head.htm"/}
	<DIV class=slideshow id=slideshow>
	<img src="{dede:global.cfg_templets_skin/}/images/banner1.png">
	</DIV>
	<DIV class=container>
		<DIV class=containerTop></DIV>
		<DIV class=containerContent>
			<DIV class=content>
				<DIV class=breadcrumb>当前位置:{dede:field name='position'/}</DIV>
				<DIV class=posts>
					<UL class=postlist>
						{dede:list pagesize='15'}
						<LI><H3><a href="[field:arcurl/]" title="[field:title /]"><font>[field:title /]</font></A></H3><SPAN>[field:pubdate function="GetDateMK(@me)"/]</SPAN></LI>
						{/dede:list}
					</UL>
					<DIV class=clear></DIV>
					<DIV class=pageNavi><DIV class=wp-pagenavi><div class="page_list">{dede:pagelist listitem="info,index,end,pre,next,pageno" listsize="5"/}</div></DIV></DIV>
				</DIV>
			</DIV>
			{dede:include filename="left.htm"/}
		</DIV>
	</DIV>
</DIV>
<DIV class=clear></DIV>
{dede:include filename="foot.htm"/}
</BODY>
</HTML>
