.more{ position:absolute; top:18px; right:15px;}
/*info*/
.info{ width:424px; position:relative;}
.info h2{ height:37px; line-height:37px; background:url(../images/wrap.png) no-repeat -242px -37px; text-indent:-9999px; overflow:hidden;}
.infomore{position:absolute; top:15px; right:15px;}
.infoborder{border-left:1px solid #CECECE; border-right:1px solid #CECECE; border-bottom:1px solid #CECECE;}
.infoC{ padding-top:5px; padding-bottom:3px;}
.infoC p{ padding:0 8px; text-align:left; text-indent:24px; font-size:12px; line-height:24px;}

/*newsBox*/
.news{width:315px; position:relative;}
.news h2{ height:37px; line-height:37px; background:url(../images/wrap.png) no-repeat -666px -37px; text-indent:-9999px; overflow:hidden;}
.news ul{ padding:6px 7px 8px 8px;}
.news li{ text-align:left; height:25px; line-height:25px; position:relative; background:url(../images/newsli.jpg) no-repeat left center; text-indent:10px;}
.news li span{ position:absolute; top:0; right:5px;}
.newshot{ width:300px; border-bottom:1px dotted #A3A3A3; padding-top:8px; padding-bottom:5px;}
.newshot img{ float:left; margin-right:7px; border:1px solid #DCDDDD;}
.newshotT{ width:156px; float:right; padding-right:3px;}
.newshotT h3{ height:20px; line-height:20px; font-size:13px; text-align:left;}
.newshotT p{ text-align:left; text-indent:24px; line-height:19px;}

/*product*/
.product{ width:749px; position:relative; background:url(../images/productbottom.png) no-repeat 0 bottom; padding-bottom:5px;}
.product h2{ height:37px; line-height:37px; background:url(../images/wrap.png) no-repeat 0 0; text-indent:-9999px; overflow:hidden;}
.productT{ background:url(../images/productbg.png) repeat-y 0 0; height:279px;}
.productC{ min-height:279px; height:auto!important; height:279px;}
.productC ul{ padding-top:7px; padding-left:20px;}
.productC li{ float:left; margin-left:12px; _display:inline;}
.productC li img{ border:1px solid #E0E0E0; padding:3px;}
.productC li span{ display:block; line-height:20px; text-align:center; padding-top:4px;}

/*footlink*/
#footlink{ margin-top:10px;}
.footlinkleft{ width:27px; height:79px; background:url(../images/wrap.png) no-repeat 0 -74px; text-indent:-9999px; overflow:hidden;}
.footlinkright{ width:972px; min-height:77px; height:auto!important; height:77px; border-bottom:1px solid #CBCBCB; border-right:1px solid #CBCBCB; border-top:1px solid #CBCBCB;}
.footlinkT{ padding-left:10px; text-align:left; padding-top:6px; padding-right:7px;}
.footlinkT a{ line-height:22px;}
