
/*----------*/
html, body, p, dl, dt, dd, ul, ol, li, table, tr, th, td, h1, h2, h3, h4, h5, h6, pre, img, form, fieldset, input, textarea, blockquote {
	margin:0px;
	padding:0px;
}
body {
	font-size:12px;
	text-align:left;
	margin: 0px;
	padding:0px;
	line-height:18px;
	color:#525252;
	font-family:"Microsoft YaHei";
	background-color:#ffffff;
	background-image:url(../images/dbg.jpg);
	background-repeat: repeat-x;
}
body, div {
	margin:0px auto;
	dispaly:inline
}
div, img, ul, ol, form {
	border:0px;
}
ul, li {
	margin:0px;
	padding:0px;
	border:0px;
}
li {
	border:0px;
	list-style-type: none;
	margin:0px;
	padding:0px;
}
a {
	text-decoration:none;
	color:#525252;
}
a:hover {
	text-decoration:none;
	color:#C90000;
}
p {
	text-align:left;
}
em {
	font-style:normal;
}
.pd {
	padding:9px;
}
.fl {
	float:left;
}
.fr {
	float:right;
}
h6 {
	font-size:14px;
	font-family:"Microsoft YaHei";
	line-height:30px;
}
h1 {
	font-size:18px;
	font-weight:bold;
	font-style: normal;
	font-weight:bold;
	line-height:40px;
	text-align:center;
	color:#000000;
	font-family:"Microsoft YaHei";
	margin-bottom:20px;
}
h2 {
	font-size:18px;
	font-weight:bold;
	font-style: normal;
	font-weight:bold;
	line-height:40px;
	color:#000000;
	font-family:"Microsoft YaHei";
	margin-bottom:10px;
	border-bottom:dotted 1px #CCCCCC
}
.input1 {
	border:1px solid #B8B8B8;
	background-color: #FFFFFF;
	font-size:12px;
	line-height:18px;
	color:#048204;
	height:19px;
}
br {
	clear:both
}
.input {
	border:1px solid #B8B8B8;
	background-color: #FFFFFF;
	font-size:12px;
	line-height:30px;
	color:#048204;
	height:30px;
}
.b {
	border:solid 1px #E5E5E5
}
br {
	clear:both
}
/* */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}
/* End hide from IE-mac */

 
/*ҳ*/
.mn {
	width:1000px;
	margin:10px auto
}
.mna {
	width:1000px;
	margin:0px auto;
}
.top {
	width:1000px;
	margin:0px auto;
	height:100px;
}
.topa {
	float:left;
	width:600px;
	padding-top:22px;
}
.topb {
	float:left;
	width:390px;
	padding-right:10px;
}
.topc {
	text-align:right;
	padding-top:10px;
}
.topd {
	text-align:right;
}
.dh {
	height:40px;
}
.dha {
	width:1000px;
	margin:0px auto;
	color:14px;
	color:#FFFFFF;
	line-height:40px;
}
.in1 {
	float:left;
	width:240px;
}
.in1dh {
	height:46px;
	background:url(../images/dhbg.png);
	padding:0px 0px 0px 70px;
	color:#FFFFFF;
	font-size:14px;
	line-height:46px;
}
.in1lxfs {
	height:46px;
	background:url(../images/lxfsbg.png);
	padding:0px 0px 0px 70px;
	color:#FFFFFF;
	font-size:14px;
	line-height:46px;
	margin-top:10px;
}
.in1lxfsb {
	background-color:#ffffff;
	padding:15px;
	line-height:24px;
	border:solid 1px #DDDDDD;
	border-top:none;
	margin:0PX 3PX;
}
.in1a span {
	float:right;
}
.in1b {
	border:solid 1px #F6F6F5;
	border-top:none;
	margin:0PX 3PX;
}
.in1b li {
	line-height:37px;
	background:url(../images/dd.png) no-repeat scroll 19px 17px;
	padding-left:37px;
	margin-bottom:1px;
	background-color:#F4F4F4;
}
.in2 {
	float:left;
	width:380px;
	margin-right:15px;
}
.in2gsjj {
	height:35px;
	background:url(../images/gsjj.png);
	padding:0px 15px 0px 30px;
	color:#000000;
	font-size:14px;
	line-height:35px;
}
.in2gsjj span {
	float:right;
	font-size:12px;
}
.in2gsjj span a {
	color:#000000
}
.in2gsjjb {
	border:solid 1px #EEEEEE;
	padding:10px;
	line-height:23px;
	margin-bottom:10px;
}
.in2gsjjb img {
	float:left;
	margin:0px 15px 10px 0px;
	width:200px;
	height:130px;
}
.in2hyzs {
	height:34px;
	background:url(../images/hyzs.png);
	padding:0px 15px 0px 30px;
	color:#000000;
	font-size:14px;
	line-height:34px;
	border-bottom:none;
}
.in2hyzs span {
	float:right;
	font-size:12px;
}
.in2hyzs span a {
	color:#FFFFFF
}
.in2hyzs img {
	padding-top:5px;
}
.in2hyzsb {
	border:solid 1px #EEEEEE;
	padding:10px 10px;
	border-top:none;
}
.in2hyzsb li {
	line-height:33px;
	padding-left:15px;
	background:url(../images/zx.png) no-repeat scroll 1px 10px;
	border-bottom:dashed 1px #999999
}
.in2hyzsb li span {
	float:right;
}
.in3 {
	float:left;
	width:380px;
}
.in3xw {
	height:46px;
	background:url(../images/news.png);
	padding:0px 15px 0px 70px;
	color:#ffffff;
	font-size:14px;
	line-height:46px;
	border-bottom:none;
	margin-top:10px;
}
.in3xw span {
	float:right;
	font-size:12px;
}
.in3xw span a {
	color:#FFFFFF
}
.in3xw img {
	padding-top:5px;
}
.in3xwb {
	border:solid 1px #EEEEEE;
	padding:8px 10px;
	border-top:none;
	margin:0px 3px;
}
.in3xwb li {
	line-height:30px;
	padding-left:15px;
	background:url(../images/zx.png) no-repeat scroll 1px 10px;
	border-bottom:dashed 1px #999999
}
.in3xwb li span {
	float:right;
}
.in4cp {
	height:34px;
	background:url(../images/cp.png);
	padding:0px 15px 0px 30px;
	color:#000000;
	font-size:14px;
	line-height:34px;
	margin-top:10px;
}
.in4cp span {
	float:right;
	font-size:12px;
}
.in4cpb {
	border:solid 1px #EEEEEE;
	padding:8px 10px;
	margin-bottom:15px;
}
.in5 {
	float:left;
	width:745px;
	margin-left:15px;
}
.neir {
	height:35px;
	background:url(../images/gsjj.png);
	padding:0px 15px 0px 50px;
	color:#000000;
	font-size:14px;
	line-height:35px;
}
.neir span {
	float:right;
	font-size:12px;
	color:#000000
}
.neir span a {
	color:#000000
}
.bt {
	background:url(../images/footBg.png);
	margin-top:20px;
}
.bta {
	width:1000px;
	text-align:center;
	padding:2px 0px 30px 0px;
	line-height:22px;
	color:#ffffff;
	background-image:url(../images/bt2.png)
}
.bta a {
	color:#ffffff
}
.bta p {
	line-height:30px;
	margin-bottom:20px;
	text-align:center
}
.bta p a {
	margin:0px 10px;
}
.yl {
	margin-top:10px;
}
.yl li {
	float:left;
	margin-right:10px;
}
.yl li img {
	vertical-align:middle;
	margin-right:5px;
}
.in02gd {
	overflow:hidden;
	width:750;
	color:#000000
}
.in02gd a {
	color:#000000
}
.in02gd img {
	width:150px;
	height:120px;
	margin:0px 7px 5px 7px;
	border:solid 1px #F0F0F0
}
.list01 {
	background-color:#F9F9F9;
	margin-bottom:15px;
}
.list01 ul {
	padding:0px 15px;
}
.list01 li {
	line-height:40px;
	padding-left:25px;
	padding-right:20px;
	background:url(../images/dian2.png) no-repeat scroll 1px 13px;
	font-size:14px;
	border-bottom:solid 1px #CCCCCC
}
.list01 li a {
	color:#4A4A4A
}
.list01a {
	height:50px;
	background:url(../images/lista.png);
	color:#4A4A4A;
	line-height:50px;
	padding-left:30px;
	font-size:16px;
	font-weight:bold;
	border: solid 1px #DDDDDD;
}
.list02 {
	width:220px;
	float:left;
	margin-right:30px;
}
.list02a {
	height:35px;
	background:url(../images/lianxi1.jpg);
	border:solid 1px #DDDDDD;
	border-bottom:none
}
.list02b {
	border:solid 1px #E9E9E9;
	padding:10px;
	background-color:#FFFFFF;
	margin-bottom:15px;
	line-height:24px;
}
.list03 {
	width:750px;
	float:left
}
.list03a {
	border:solid 1px #E9E9E9;
	border-bottom: dotted 1px #006AA7;
	height:35px;
	line-height:35px;
	padding:0px 19px;
	font-size:16px;
	color:#006AA7
}
.list03a span {
	float:right;
	font-size:12px;
	color:#666666
}
.list03b {
	background-color:#FFFFFF;
	padding:24px;
	line-height:28px;
	border:solid 1px #E9E9E9;
}
.list03c {
	background-color:#FFFFFF;
	padding:24px;
	line-height:28px;
	border:solid 1px #E9E9E9;
}
.list03c li {
	line-height:40px;
	border-bottom:dotted 1px #DCDCDC;
	padding-left:15px;
	background:url(../images/dd.png) no-repeat scroll 1px 16px;
}
.list03c li span {
	float:right;
}
.list03d {
	background-color:#FFFFFF;
	padding:14px;
	line-height:24px;
	border:solid 1px #E9E9E9;
}
.list03d li {
	float:left;
	width:150px;
	margin:15px 13px;
}
.list03d li img {
	width:150px;
	height:100px;
	border:solid 1px #E9E9E9;
	padding:1px;
	margin-bottom:5px;
}
.list03d li span {
	float:right;
}
.list03d p {
	text-align:center
}
.inf01 {
	background-color:#FFFFFF;
	padding:24px;
	line-height:28px;
	border:solid 1px #E9E9E9;
}
.inf01a {
	line-height:30px;
	border-bottom:dotted 1px #CCCCCC;
	border-top:dotted 1px #CCCCCC;
	margin-bottom:20px;
	text-align:center
}
.inf01b {
	line-height:28px;
	font-size:14px;
}
.inf01c {
	margin-top:20px;
	border-top:dotted 1px #AAAAAA;
	padding-top:10px;
	padding-left:40px;
}
.cp01 {
	float:left;
	width:350px;
	margin-right:40px;
}
.cp01 img {
	width:350px;
	height:230px;
}
.cp01a {
	float:left;
	width:300px;
}
.cp01b {
	font-size:12px;
	line-height:24px;
}
.cp01c {
	border-bottom:dotted 1px #AAAAAA;
	line-height:30px;
	margin-top:30px;
	margin-bottom:20px;
	padding-left:20px;
	font-size:14px;
}
.anli {
	text-align:center;
	margin:30px 0px;
}
.anli img {
	width:400px;
	height:280px;
}
/*织梦专用分页*/
.pag {
	margin-top:10px;
	line-height:40px;
	height:30px;
	padding-top:10px;
	margin-bottom:10px;
	line-height:20px;
	font-size:12px;
	font-family:"Microsoft YaHei";
	text-align:center;
	border:solid 1px #E9E9E9;
	background-color:#FFFFFF;
}
.pag a, .pag strong {
	border:1px solid #ddd;
	padding:4px 8px;
}
.pag a.now, .pag a:hover, .pag li.thisclass a {
	background:#999;
	color:#fff;
	cursor:pointer
}
.pag span.disabled {
	cursor:pointer;
	border:1px solid #ddd;
	padding:4px 8px;
}
.pag span.thisclass {
	background:#999;
	color:#fff;
	cursor:pointer;
	border:1px solid #ddd;
	padding:4px 8px;
}
/*留言*/
.contact-xmtj {
	width:690px;
	margin-top:10px;
	background:url(../images/jobbg.png) top right no-repeat
}
.contact-xmtj a:hover {
	color:#F00
}
.name2 {
	width:323px;
	height:21px;
	line-height:21px;
	border:1px #e2e2e2 solid;
}
.con {
	width:583px;
	height:161px;
	border:1px #e2e2e2 solid;
}
.button1 {
	width:64px;
	height:21px;
	text-align:center;
	line-height:21px;
	cOLOR:#FFF;
	background:url(../images/xmtj_11.jpg) no-repeat;
	border:none;
	margin-right:20px;
	float:left;
	cursor:pointer;
}
.button2 {
	width:64px;
	height:21px;
	text-align:center;
	line-height:21px;
	cOLOR:#FFF;
	background:url(../images/xmtj_13.jpg) no-repeat;
	float:left;
	border:none;
	cursor:pointer;
}
/*导航下拉*/
.nav {
	width:1000px;
	margin-bottom: 1px;
	height:40px;
	overflow:hidden;
	background:url(../images/nav_bg.png) repeat-x;
}
.nav ul li {
	float:left;
	height:40px;
}
.nav ul li.home {
	width:127px;
	text-align:center
}
.navli a {
	display:block;
	padding:0 31px;
	font-size:14px;
	color:#fff;
	line-height:40px;
	font-weight:bold;
	font-family:"宋体"
}
.navli a:hover {
	background:url(../images/linea.jpg) repeat-x left top;
}
.navfg {
	background:url(../images/line.jpg) no-repeat;
	width:2px;
	height:40px;
	overflow:hidden;
}
#nav0 {
	background:url(../images/linea.jpg) repeat-x;
	text-align:center
}
/*--- 导航下拉菜单 ---*/
.dropMenu {
	position:absolute;
	top: 0;
	z-index:100;
	padding:10px;
	min-width:101px;
	visibility: hidden;
	margin-top: -1px;
	border:1px solid #CCCCCC;
	border-top:none;
	background:rgba(255, 255, 255, 0.9) none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明*/
	filter:Alpha(opacity=90);
	background:#fff;/*实现IE背景透明*/
}
.dropMenu li {
	display:block;
}
.dropMenu a {
	display: block;
	height:30px;
	line-height:30px;
	text-align:center
}
* html .dropMenu a {
	width: 100%;
	color:#333;
	background-color:#fff;
}
.dropMenu a:hover {
	color:red;
	text-decoration: underline;
	color:#FFFFFF;
	background-color:#333333 !important;
	background:#BA0000;
	text-decoration: none;
}
/*首页幻灯*/
.fullSlide {
	width:100%;
	position:relative;
	height:400px;
	background:#000;
}
.fullSlide .bd {
	margin:0 auto;
	position:relative;
	z-index:0;
	overflow:hidden;
}
.fullSlide .bd ul {
	width:100% !important;
}
.fullSlide .bd li {
	width:100% !important;
	height:400px;
	overflow:hidden;
	text-align:center;
}
.fullSlide .bd li a {
	display:block;
	height:400px;
}
.fullSlide .hd {
	width:100%;
	position:absolute;
	z-index:1;
	bottom:0;
	left:0;
	height:30px;
	line-height:30px;
}
.fullSlide .hd ul {
	text-align:center;
}
.fullSlide .hd ul li {
	cursor:pointer;
	display:inline-block;
 *display:inline;
	zoom:1;
	width:30px;
	height:8px;
	margin:1px;
	overflow:hidden;
	background:#000;
	filter:alpha(opacity=50);
	opacity:0.5;
	line-height:999px;
}
.fullSlide .hd ul .on {
	background:#f00;
}
.fullSlide .prev, .fullSlide .next {
	display:block;
	position:absolute;
	z-index:1;
	top:50%;
	margin-top:-30px;
	left:15%;
	z-index:1;
	width:40px;
	height:60px;
	background:url(../images/slider-arrow.png) -126px -137px #000 no-repeat;
	cursor:pointer;
	filter:alpha(opacity=50);
	opacity:0.5;
	display:none;
}
.fullSlide .next {
	left:auto;
	right:15%;
	background-position:-6px -137px;
}
