    body {
         background-size: cover;
      background-attachment: fixed;
    }

    a:hover,
    .ys3,
    #divCalendar td a,
    .ul-28 li i.iconfont {
      color: #FF0000;
    }

    .pagebar a:hover,
    .pagebar .now-page,
    .tx-comment-box input.button,
    .nav,
    .nav li ul li a:hover,
    .index-search input[type="submit"],
    .index-new .step a:hover,
    .list-two li:after,
    .side-box #divSearchPanel input[type="submit"],
    .info-tag a:hover,
    .search-box .search-con,
    .gotop {
      background-color: #89bc43;
    }

    .search-con button,
    .info-tag a {
      color: #89bc43;
    }

    .tx-title,
    .side-box dt,
    .side-box #divSearchPanel dd form,
    .info-tag a,
    .info-con h2,
    .info-con h3 {
      border-color: #89bc43;
    }

    .nav li>a:hover,
    .nav li.on>a,
    .nav li.hover>a,
    .nav li ul li a {
      background-color: #5d9e03;
    }

    .tx-title .more,
    .ranking li:nth-child(1)>i,
    .ranking li:nth-child(2)>i,
    .ranking li:nth-child(3)>i {
      background-color: #FF0000;
    }

    .img-box1[data-ratio="16:16"] {
      padding-top: 85%;
    }