@charset "utf-8";

html{-webkit-text-size-adjust:none;word-wrap:break-word;word-break:break-all;font-size:10px;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-text-size-adjust: none;text-size-adjust: none;}
body{margin:0;padding:0;color:#333333;font-size: 1.4rem;font-family: "Microsoft YaHei", Verdana, sans-serif;line-height: 1.5;outline: 0;}
a{text-decoration: none;color: #333;transition: all 0.35s ease 0s;}
a:hover{text-decoration: none;outline: 0}
img{max-width:100%; height:auto; width:auto\9; border:0;vertical-align:middle;}
div, h1, h2, h3, h4,h5, p, form, ul, label, input, textarea, img, span, dl, dt, dd,pre{margin:0px;padding:0;outline: 0;-webkit-tap-highlight-color: rgba(0, 0, 0, 0)}h1, h2, h3, h4,h5,h6{font-weight: normal;}input, textarea,button,form{font-size:1.4rem;font-family: "Microsoft YaHei", Verdana, sans-serif;}li{list-style-type: none;}.fl{float:left;}.fr{float:right;}.img-d img,.dp-b{display:block;}

.tx-input{border:1px solid #ddd;border-radius:3px;line-height:38px;height:38px;width:100%;padding:0 10px;}.input-ma{position:relative;}
.input-ma img{position:absolute;right:5px;top:5px;height:30px!important;width:auto!important;}.tx-form{position:relative;line-height: 38px;}.tx-textarea{border:1px solid #ddd;border-radius:3px;padding:10px;width:100%;}
.tx-btn{vertical-align: middle;-webkit-user-select: none;-ms-user-select: none; -moz-user-select: none;}.tx-btn{display: inline-block; height: 38px; line-height: 38px; padding: 0 22px; background-color: #009688; color: #fff; white-space: nowrap; text-align: center; font-size:1.4rem; border: none; border-radius: 2px; cursor: pointer; opacity: .9; filter: alpha(opacity=90)}.tx-btn:hover{opacity: .8; filter: alpha(opacity=80); color: #fff}.tx-btn:active{opacity: 1; filter: alpha(opacity=100)}.tx-btn-big{height: 44px; line-height: 44px; padding: 0 25px; font-size: 1.6rem}.tx-btn-small{height: 30px; line-height: 30px; padding: 0 10px; font-size:1.4rem}.tx-btn-mini{height: 22px; line-height: 22px; padding: 0 5px; font-size: 1.4rem}

.mb5{margin-bottom:5px}.mb10{margin-bottom:10px}.mb15{margin-bottom:15px}.mb20{margin-bottom:20px}.mb30{margin-bottom:30px}.mb40{margin-bottom:40px}.mr10{margin-right:10px}.mr20{margin-right:20px}.ml10{margin-left:10px}

.f-30{font-size:3rem}.f-22{font-size:2.2rem;font-weight: 200;}.f-20{font-size:2rem;font-weight: 200;}.f-18{font-size:1.8rem;font-weight: 200;}.f-16{font-size:1.6rem;font-weight: 200;}.f-14{font-size:1.4rem;}.f-10{font-size:1rem}.f-12{font-size:1.2rem}.f-8{font-size:.75em}.f-bold{font-weight:bold}

.pd3{padding:3px}.pd5{padding:5px}.pd10{padding:10px}.pd10-1{padding:10px 0}.pd10-2{padding:0 10px}.pd10-3{padding:10px 10px 0 10px}.pd10-b{padding-bottom:10px}.pd15{padding:15px}.pd15-1{padding:15px 0}.pd15-2{padding:0 15px}.pd15-3{padding:15px 15px 0 15px}.pd20{padding:20px}.pd20-1{padding:20px 0}.pd20-2{padding:0 20px}.pd40{padding:40px 0}.pd60{padding:60px 0}
.ta-c{text-align: center;}.ta-r{text-align: right;}

.f-wthie{color:#fff}.f-grenn{color:#164a0e}.f-yellow{color:#FF8420}.f-grenn1{color:#093}.f-gray{color:#888}.f-gray1,.f-gray1 a{color:#bbb}.f-wthie1 a{color: #fff;}.f-red{color:#f00}

.bg-gray{background-color:#eee}.bg-white{background-color:#fff}.bg-red{background-color: #FF5722}.bg-orange{background-color: #F7B824}.bg-green{background-color: #009688}.bg-cyan{background-color: #ff8ca7}.bg-blue{background-color: #1E9FFF}.bg-black{background-color: #393D49}

.tx-table table{width: 100%;border-collapse: collapse;}.tx-table table th,.tx-table table td{border: 1px solid #ddd;padding: 10px;overflow: hidden;text-align: center;}.tx-table table th{background: #f1f1f1;}


.border{border:1px solid #ddd;}.border-b{border-bottom:1px solid #ddd;}.border-t{border-top:1px solid #ddd;}
.i60{line-height:20px;height:60px;overflow:hidden}.i40{line-height:20px;height:40px;overflow:hidden}.i22{line-height:22px;height:22px;overflow:hidden}.i18{line-height:18px;height:18px;overflow:hidden}.txt-ov{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

.lh-50{line-height:50px;}.lh-40{line-height:40px;}.lh-30{line-height:30px;}

.wide{width:100%;margin:0 auto;max-width : 1200px;}
.wide::after,.clearfix::after,.row:before, .row:after{display: table;content: " ";clear: both;}.row{margin-left: -6px;margin-right: -6px;}[class*='col-']{float: left;min-height: 1px;padding-left: 6px;padding-right: 6px; width: 10%; position: relative;}
.col-1{width: 4.1666%;}.col-2{width: 8.3332%;}.col-3{width: 12.4998%;}.col-4{width: 16.6664%;}.col-5{width: 20.833%;}.col-6{width: 24.9996%;}.col-7{width: 29.1662%;}.col-8{width: 33.3328%;}.col-9{width: 37.4994%;}.col-10{width: 41.666%;}.col-11{width: 45.8326%;}.col-12{width: 50%;}.col-13{width:54.1658%;}.col-14{width: 58.3324%;}.col-15{width:64.499%;}.col-16{width:66.6656%;}.col-17{width:70.8322%;}.col-18{width:74.9988%;}.col-19{width:79.1654%;}.col-20{width:83.332%;}.col-21{width:87.4986%;}.col-22{width:91.6652%;}.col-23{width:95.8318%;}.col-24{width:100%;}

.ul-36 li{line-height: 36px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}.ul-30 li{line-height: 30px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}.ul-26 li{line-height: 26px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.pagebar{width: 100%;padding:15px 0 12px 0;}
.pagebar a,.pagebar .now-page{padding:0 12px;line-height:30px;display:inline-block;background-color: #eee; margin:0 3px 3px 0;border-radius: 2px;}
.pagebar a:hover,.pagebar .now-page{color: #FFF;}
.msg{border-bottom:1px solid #ddd;padding:15px;}
.tx-comments ul.msg:last-child{border-bottom: 0;}
.msg img.avatar{float:left;margin-right:10px;border-radius:4px;width:45px;height:45px;border-radius:50%;-webkit-transition:.4s;-webkit-transition:-webkit-transform .4s ease-out;transition:transform .4s ease-out;-moz-transition:-moz-transform .4s ease-out;}
li.msgname:hover img.avatar,.commons li:hover img{transform:rotateZ(60deg);-webkit-transform:rotateZ(60deg);-moz-transform:rotateZ(60deg)}
.msg li.msgname p.commentname{line-height:23px;font-size:12px;margin-bottom:3px;}
.msg li.msgname small{color:#aaa;font-size:12px;}
.msg li.msgname small a,.tx-comment label,.tx-comments label{display:none;}
.msg>li.msgname:hover small a{display:inline-block;}
.msg li ul.msg{padding:10px 15px;margin:10px 0 0 0;background-color:rgba(0,0,0,0.02);border-radius:3px;}
.tx-comment input{line-height:30px;height:30px;font-size:14px;font-family: "Microsoft YaHei", Verdana, sans-serif;width:100%;border:0;padding-left:8px;}
.tx-comment textarea{border:0;height:120px;width: 100%; font-size:14px;font-family: "Microsoft YaHei", Verdana, sans-serif;display:block;padding:8px;}
.tx-comment-box{border:1px solid #ddd;border-radius:4px;padding:4px;position:relative;background:#fff;margin-bottom: 8px;}
.tx-comment-ul4{float:left;width:49.5%;}
.tx-comment-ul3{float:left;width:32.66%;}
.tx-comment .tx-comment-ul4:nth-child(2n){float:right;}
.tx-comment .tx-comment-ul3-2{margin:0 1%;}
.tx-comment-box img.tx-code{position:absolute;right:4px;top:4px;height:30px;width:auto;}
.tx-comment-box input.button{border:0;border-radius:0 0 2px 0;line-height:40px;height:40px;width:100px;color:#fff;position:absolute;right:0;bottom:0;}
.tx-comment-textarea{width:100%;clear:both;}
.tx-red{color:#c00;}
.reply-frm{margin-top:15px;}


.main{padding:0 15px;background-color:rgba(255,255,255,0.98);}
.top{line-height: 32px;border-bottom:1px solid #eee;}
.header{padding: 15px 0;}
.logo img,.logo a,.logo h1,.logo h2{height: 100%;width: auto;display:block;line-height:1;}
.logogg{width: 800px;height: 60px;overflow: hidden;}
.logogg img{display: block;width: 100%;height: 60px;}
.ggbox img{display: block;width: 100%;}

@keyframes fade-in { 0% {top:-50px;}100% {top:0;}}  
@-webkit-keyframes fade-in {0% {top:-50px;}100% {top:0;}}
.nav{position: relative;z-index: 99;border-radius:2px;}
.nav li{float: left;position: relative;}
.nav li a{display: block;padding: 0 22px;color: #fff;line-height: 45px;}
.nav li:active{background-color: #c00;}
.nav li>a:hover,.nav li.on>a,.nav li.hover>a{color: #fff;}
.nav li ul{position: absolute;top: 45px;display: none;}
.nav li ul li{width: 100%;}
.nav li ul li a{line-height: 36px;white-space: nowrap;}
.fixednav{border-radius:0;position: fixed;top: 0;left: 0;width: 100%;animation: fade-in; animation-duration:0.5s; -webkit-animation:fade-in 0.5s;}
.nav .wide{position: relative;padding-right: 50px;}
.search-box{position: absolute;right:5px;top: 0;width:45px;height: 45px;}
.search-box>a{display: block;width: 30px;height: 45px;line-height: 45px;color: #fff;text-align: center;border-radius:2px;position:absolute;right:0;top:0;z-index:9;}
.search-box .search-con{position: absolute;right:0;top:5px; width:0;height: 35px;background-color: #fff;border-radius: 3px;padding:3px 30px 3px 3px;z-index:11;opacity: 0;visibility: hidden;transition: all .35s ease 0s;}
.search-box:hover .search-con{opacity: 1;visibility:visible;width:200px;}
.search-con input{width: 100%;padding: 0 10px;line-height: 29px;height: 29px;border: 0;border-radius: 3px 0 0 3px;}
.search-con button{position: absolute;right:3px;top:3px;line-height: 29px;height: 29px;border: 0;text-align: center;background-color:#fff;width: 30px;border-radius: 3px;cursor: pointer;}
.fixednav .search-box{right:0;}

.tx-box{border-radius:2px;box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);}
.tx-title{line-height: 40px;font-weight: bold;font-size: 15px;padding: 0 10px;border-bottom-width:2px;border-bottom-style:solid;}
.tx-title .more{display: inline-block;font-size: 12px;color: #fff;line-height: 20px;padding: 0 10px;margin-top: 10px;font-weight:normal;}

.index-flash .swiper-button-next,.index-flash .swiper-button-prev{background-image: none;background-color:rgba(0,0,0,0.5);line-height: 44px;color: #ffff;text-align: center;opacity: 0;transition: all 0.45s ease 0s;}
.index-flash:hover .swiper-button-next,.index-flash:hover .swiper-button-prev{opacity: 1;}
.index-flash .swiper-slide{
	position: relative;
}
.index-flash .swiper-slide img{width: 100%;height: 297px;-o-object-fit: cover;object-fit: cover;}
.index-flash .swiper-slide .slide-title{
	position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 0px 15px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

.index-search input{display: inline-block;line-height: 30px;border: 0;height: 30px;vertical-align: top;}
.index-search input[type="text"]{width: 260px;border: 1px solid #ddd;box-shadow: inset 0 0 5px rgba(0,0,0,.075);padding: 0 10px;}
.index-search input[type="submit"]{width: 60px;color: #fff;text-align: center;font-size: 12px;}

.ul-28 li{line-height: 28px;height: 28px; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.ul-28 li i.iconfont{font-size: 1.6rem;line-height:1;vertical-align:middle;}
.ul-28 li>span{margin-left:10px;}
.ul-2 li{width: 48%;float: left;}
.ul-2 li:nth-child(2n){float: right;}
.ul-new li{padding:0 10px;}
.list-img-left{height:auto!important;}
.list-img-left>a{display:block;width:108px;margin-right:10px;float:left;}
.list-img-left>section{overflow:hidden;}
.list-img-left>section p{white-space:normal;}
.index-new .tab-bd ul{height: 347px;overflow: hidden;}
.index-new .step a{display: inline-block;line-height: 28px;padding: 0 12px;background-color: #eee;border-radius: 2px;}
.index-new .step a:hover{color: #fff;}
.index-new .step a.prevStop,.index-new .step a.nextStop{background-color: #efefef;color: #999;pointer-events: none;cursor: default;}
.index-new .step>span{display: inline-block;margin: 0 6px;}

.img-roll{overflow: hidden;}
.img-roll li{float: left;margin: 0 3px;width:148px;}
.img-roll li img{width:100%;height:148px;-o-object-fit: cover;object-fit: cover;}

.img-box1{overflow: hidden;display: block;position: relative;width: 100%;height: 0;}
.img-box1[data-ratio="16:9"] { padding-top: 64.5%; }
.img-box1 img{-o-object-fit: cover;object-fit: cover;transition: transform 0.5s; position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
.img-box1:hover img{transform: scale(1.1);  }

.img-box{display: block;position: relative;overflow: hidden;}
.img-box p{position: absolute;bottom: 0;left: 0;width: 100%;background-color:rgba(0,0,0,0.5);padding: 0 8px;color: #fff;text-align: center;}

.ranking{padding:9px 0;}
.ranking li{line-height:27px;height:27px;padding: 0 10px; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.ranking li>i{display: inline-block;width:18px;height: 16px;background-color: #eee;line-height: 16px;text-align: center;border-radius: 2px;margin-right: 10px;font-size: 1.2rem;font-style: normal;}
.ranking li:nth-child(1)>i{color: #fff;}
.ranking li:nth-child(2)>i{color: #fff;opacity: 0.7;}
.ranking li:nth-child(3)>i{color: #fff;opacity: 0.4;}
.ranking li span{margin-left:15px;}


.left-li li{float: left;margin: 0 10px 10px 0;}
.footer{text-align: center;padding:15px 0;border-top:1px solid #eee; }

.list-one li{line-height:32px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding: 0 15px;font-size: 15px;}
.list-one li:nth-child(5n){padding-bottom: 15px;margin-bottom: 15px;border-bottom: 1px solid #ddd;}

.list-two li{padding:15px;border-bottom: 1px solid #ddd;position: relative;}
.list-two li:after{display:block;content: " ";position: absolute;bottom: -1px;left: 0;height: 1px;transition: all 0.55s ease 0s;width:0;}
.list-two li:hover:after{width: 100%;}

.list-three li{position: relative;padding:15px 15px 15px 170px;border-bottom: 1px solid #ddd;}
.list-three li>a>img{position: absolute;left: 15px;top: 15px;width: 140px;height: 95px;-o-object-fit: cover;object-fit: cover;}

.list-four li a{display: block;position: relative;}
.list-four li h2{position: absolute;z-index: 10;background-color:rgba(0,0,0,0.5);padding: 0 10px;left: 0;bottom: 0;width: 100%;color: #fff;line-height: 26px;}


.side-box dl{margin-bottom:10px;clear:both; width:100%; float:left; overflow:hidden;border-radius:2px;box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);}
.side-box dt{font-size:1.1em;font-weight:700;line-height:2.5;padding-left:10px;border-bottom-width:1px;border-bottom-style:solid;}
.side-box dd{padding:8px 12px;}
.right ul{clear:both;  float:left; width:100%;}
.side-box li{line-height:1.5; font-size:1em;padding:7px 0;border-bottom:1px dotted #ddd;}
.side-box>dl>dd>ul>li:last-child{border-bottom: 0;}
.side-box #divSearchPanel dd{padding:2%;}
.side-box #divSearchPanel dd form{ height:30px;border-radius: 2px;border-width:1px;border-style:solid;}
.side-box #divSearchPanel input[type="text"]{line-height: 28px;height: 28px;width:75%;float: left;padding-left:10px;clear: left; border:0px;}
.side-box #divSearchPanel input[type="submit"]{color: #FFFFFF;float: right;height: 28px;line-height: 28px;text-align: center;width: 25%; border:0px;}
#divCalendar .function_t{display:none;}
#divCalendar table{width:100%; table-layout:fixed}
#divCalendar caption{text-align:center;height:24px;margin:0px;padding:0px;font-size:0.875em;font-weight:bold;}
#divCalendar caption a{padding:0px;}
#divCalendar th{color: #FFFFFF;text-transform: uppercase;height:26px;background-color: #CCCCCC;}
#divCalendar td{text-align:center;background:#F0F0F0;border:1px solid #E0E1E2;height:30px;}
#divCalendar td.pad{background:none}
#divCalendar td a{display:block;line-height:30px;}
.side-box #divMisc dd ul li{display: inline-block;width: 50%;}
.side-box #divMisc dd ul li a{padding-left:0; background-image:none;}
.side-box #divCatalog dd ul li,.side-box #divNavBar dd ul li,.side-box #divLinkage dd ul li,.side-box #divFavorites dd ul li{float:left;width:50%; height:36px; line-height:36px;overflow:hidden;padding:0 2%;}
.side-box #divTags dd ul a{display: inline-block; margin:0 15px 10px 0;border-bottom:0;padding:0;}
.side-box #divTags dd ul li a span{color:#999;}


.info-title{text-align: center;padding-bottom: 15px;margin-bottom: 15px;border-bottom: 1px solid #ddd;}
.info-con{line-height: 1.7;margin-bottom:20px; }
.info-con img{max-width:98%}
.info-con p,.info-con h2,.info-con h3,.info-con h4{margin-bottom: 0.8em;}
.info-con ol li{list-style: decimal;}
.info-con h2,.info-con h3{border-left-style: solid;border-left-width: 4px;background-color: rgba(102, 128, 153, 0.05);padding: 8px 15px;font-size:1.8rem;border-radius:2px;}
.info-con img,.info-con iframe{max-width: 90%!important;}
.info-con img{height:auto!important;}
.info-con h3{font-size:1em;}
.info-con blockquote {border-left: 10px solid rgba(102, 128, 153, 0.075);background-color: rgba(102, 128, 153, 0.05);border-radius:0 5px 5px 0;padding: 15px 20px; margin-left:0;margin-right:0;margin-bottom: 0.6em;color:#666;}

.info-tag a{display:inline-block;line-height: 30px;border-radius: 2px;margin:0 6px 6px 0;padding: 0 10px;border-width:1px;border-style:solid;}
.info-tag a:hover{color: #fff;}

.dnwu,.hide{display: none;}
.gotop{position:fixed;bottom:40px;right:20px;width:50px;height:50px;line-height:50px;text-align:center;color:#fff;border-radius: 50%;cursor:pointer;z-index: 1999;display:none;}
.gotop i{font-size:20px;}

@media screen and (max-width: 1198px){
    .wide{width: 100%;padding-left:6px;padding-right:6px;}.row{margin-left: -3px;margin-right: -3px;}[class*='col-']{padding-left:3px;padding-right:3px;}
    .col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12,.col-13,.col-14,.col-15,.col-16,.col-17,.col-18,.col-19,.col-20,.col-21,.col-22,.col-23,.col-24{width: auto;}
    .col-m-1{width: 4.1666%;}.col-m-2{width: 8.3332%;}.col-m-3{width: 12.4998%;}.col-m-4{width: 16.6664%;}.col-m-5{width: 20.833%;}.col-m-6{width: 24.9996%;}.col-m-7{width: 29.1662%;}.col-m-8{width: 33.3328%;}.col-m-9{width: 37.4994%;}.col-m-10{width: 41.666%;}.col-m-11{width: 45.8326%;}.col-m-12{width: 50%;}.col-m-13{width:54.1658%;}.col-m-14{width: 58.3324%;}.col-m-15{width:64.499%;}.col-m-16{width:66.6656%;}.col-m-17{width:70.8322%;}.col-m-18{width:74.9988%;}.col-m-19{width:79.1654%;}.col-m-20{width:83.332%;}.col-m-21{width:87.4986%;}.col-m-22{width:91.6652%;}.col-m-23{width:95.8318%;}.col-m-24{width:100%;}
    .mb10,.side-box dl{
    margin-bottom: 6px;
   }
.i40{
text-overflow:ellipsis; 
overflow:hidden; 
white-space:nowrap; 
height: auto;
}

    .sjwu,.search-box > a{/* display: none; */}.dnwu{display: block;}.pd10{padding: 6px;}.pd10-3{padding: 6px 6px 0 6px;}
    .ul-2 li{width: 100%;}
    .header{background-color: #fff;position: fixed;top: 0;left: 0;width: 100%;padding:3px 6px;z-index: 997;box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);}
    .header-seize{height: 52px;}
    .logo img,.logo a,.logo h1,.logo h2{height: 40px;width: auto;}
    .nav-on{position: absolute;right:0;top:3px;line-height: 40px;font-size: 2rem;width: 40px;text-align: center;display: block;}
    .nav{position: fixed;top: 0;left: 0; height: 100%;width: 100%; border-radius: 0;z-index: 999;background-color:rgba(0,0,0,0.5)!important;display: none;}
    .nav .wide{padding:35px 0 0 0;width: 260px;position: fixed;right:-300px;top: 0;height: 100%;background-color: #fff;z-index: 999;overflow: scroll;}
    .nav li{width: 100%;border-top: 1px solid #eee;}
    .nav li a{color: #333;line-height: 38px;}
    .nav li ul{position: relative;display: block;top: auto;}
    .nav li ul li a{background-color: #fff!important;padding: 0 22px 0 42px;}
    .nav-seize{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color:rgba(0,0,0,0.5);z-index: 998;}
    .search-box{width: 100%;padding: 5px;right:0;}
    .search-box .search-con{width: 100%;padding:3px; right:0;bottom: auto;top:0;border-radius: 0;display: block;opacity:1;visibility:visible;}
    .index-flash .swiper-slide img{height: auto;}
    .step{width: 100%;text-align: center;}
    .pagebar{padding: 6px 0 3px 0;}
    .index-new .tab-bd>ul li:nth-child(13){margin-top: 50px;}
    .info-con img,.info-con iframe{width:auto!important;}
    .index-new .tab-bd ul{height:auto;margin-bottom:10px;}
    .index-new .tab-bd > ul li:nth-child(13){margin-top:0;}
}
@media screen and (max-width: 460px){
    html{font-size:60%;}
    .list-three li{padding: 6px 6px 6px 100px;min-height: 62px;}
    .list-three li > a > img{width:80px;height: 65px;top: 12px;left: 6px;}
    .list-three li p.f-12 span:nth-child(2),.list-three li p.f-12 span:nth-child(4){display: none;}
    .list-three li h2{margin-bottom:10px;}
    .index-flash .swiper-slide img{height:220px;}
    .share,.info-tag{width:100%;float:left;}
}
.item-tag {
	display: inline-block;
	padding: 4px 8px;
	border-radius: 2px;
	margin: 5px;
	font-size: 12px;
	color: #444;
  }

  .item-tag:hover {
	background: #89bc43;
	color: #fff !important;
  }
.pagination{text-align:center;padding-top:16px;padding-bottom:10px; font-size: 14px;}
.pagination ul{display:inline-block;margin-left:0;margin-bottom:0;padding:0}
.pagination ul>li{display:inline}
.pagination ul>li a{color: #666;}
.pagination ul>li {margin:0 5px;float:left;padding:4px 10px;text-decoration:none;color:#666; border-radius: 3px;}
.pagination ul>li.thisclass{background-color:#89bc43;color:#fff!important;}
.pagination ul>li:hover{background-color:#89bc43;color:#fff!important;}
.pagination ul>li:hover a{color:#fff;}
.pagination ul>li select{height: auto;}