@media (min-width: 768px) {
  .col-sm-3, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-12 {
    float: left;

  }

  .col-sm-12 {

    width: 100%;

  }

  .col-sm-7 {

    width: 58.33333333%;

  }

  .col-sm-6 {

    width: 50%;

  }

  .col-sm-5 {

    width: 41.66666667%;

  }

  .col-sm-3 {width: 25%;}

  .btm-fix{ display:none;}



}





/*@media (min-width: 992px) {

  .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-12 {

    float: left;

  }

  .col-md-12 {

    width: 100%;

  }

  .col-md-8 {

    width: 66.66666667%;

  }

  .col-md-7 {

    width: 58.33333333%;

  }

  .col-md-6 {

    width: 50%;

  }

  .col-sm-5 {

    width: 41.66666667%;

  }

  .col-md-4 {

    width: 33.33333333%;

  }

  .col-md-3 {

    width: 25%;

  }

  .col-md-offset-3 {

    margin-left: 25%;

  }

	

	

}
*/


@media (min-width: 1300px) {

	/*首页新闻图片 图片大小*/

	.sy-news .img-center img{ min-height: 307px;}

}





/*Common For Max 960*/

@media only screen and (max-width: 1200px) {

	/*首页*/

	.head-top{height:90px;}

 	.logo{line-height:90px;}

 	.logo img{max-height: 48px;}

 	.head-top .phone{line-height: 90px;}

 	.head-top .phone img{max-height: 43px;}

	.nav li a{font-size: 14px;}

 	.nav li dd a{font-size: 12px;}

 	.head-nav{height:46px;line-height: 40px;}

	#ban .items{height: 380px;}

	

	.cp_class{ margin-top: 40px;}

	.cp_class dd a{ font-size: 12px;}



	

	/*首页*/

	.gbox-left{width: 25%;}

	.g-cont .cont-txt{padding: 10px 20px;}

	

	.logo_js{display: none;}

	

	/*产品展示的参数*/

	.g-list1 li .cppz{ display:none;}

	

	/*案例文字重写*/

	.list-case .tit{ font-size: 12px; height:80px; line-height: 23px; overflow: hidden; padding: 0 5px;}

	.list-case .tit strong{ font-size: 14px;line-height: 30px; height: 30px; overflow: hidden; display: block;}

	

	/*内页案例*/

	.list-caseny .tit{line-height: 25px;height:25px; font-size: 14px;}

	.list-caseny .tit_js{font-size: 12px;}

	

	/*应用范围*/

	.ch-grid div { width: 140px; height: 140px;}

	.list-youshi .con h2 {font-size: 18px;}

	.ch-info p { font-size: 13px;}

	

	/*新闻*/

	.news_txt {padding: 10px 0;}

	.img-center{ display:none;}

	.sy-news li {float:none;width: 100%;}

	.sy-news li:first-child{ width:100%;}

	.list-contact .txt {padding-left: 0; font-size: 14px; height: auto; line-height: 28px;}

	.list-contact .ico{display: none;}

	.list-contact .txt b{ font-size: 14px;padding-right: 10px;}

	

	

	/*底部*/

	.footer-contact{ display: none;}

	



}





/*Common For Max 768*/

@media only screen and (max-width: 959px) {

	/*==========index==============*/

	.topBar{display: none;}

	.head-top .phone{display: none;}
	.hdTop{ display:none;}
	.head .h-right dl{ display:none;}
	.head .h-right .h-tel { color: #393031; font-size:30px; font-weight: bold; padding-left:30px; margin-top: 15px; background-image: url(../images/h-tel-icon.png); background-position: left center; background-repeat: no-repeat; float:right; display:block; }


	.head-top{height:109px;}
	.logo{line-height:109px;float: none;}
	.logo img{height: 36px;}
	
	.container5{ width:80%; margin:0 auto; background:#f3f3f3;}
	.lc-1,.lc-2,.lc-3,.lc-4,.lc-5,.lc-6,.lc-7,.lc-8,.lc-9{ width:31.333%; height:auto; margin: 28px 1% 0 1%; float: left;}	
	.disease a{width:23%; height:auto; margin: 28px 1% 0 1%; float: left;}
	.col-cost{ width:33.333%; padding: 20px 1%;}
	.col-cost img.add{ left:-20px;}
	.sm-add { margin-left: 16.66666667%;}
	.col-cost .cost-t { margin-top:16px;  font-size:16px; }
	.shiguan{ height:700px;}
	.hidden-xs{ display:none;}
	.contact_l{width:100% !important; padding-left:0 !important;}
    .contact_r{width:100% !important; padding-right:0 !important;} 
	.qhd-tgsgzc ul li{	width: 49%; margin:0 0.5%;}

	
	#ban .items{height: 350px;}	

	.m-about .img{width: 300px;height: 230px;}

	.g-btn-more{line-height: 40px;}

	.list-case{padding: 0 30px;}

	.list-youshi .con{padding: 10px;margin: 10px;height: 360px;}

	.list-youshi{margin-left: 0px;}

	.list-news li{width: 50%;}

	.gbox-left{width: 30%;}

	.gbox-right{padding-left: 15px;}

	

	.footer_wp{ display:none;}

	.footer {padding-top: 0px;}

	/*内页banner*/

	/*.inner-banner{height: 190px;}*/

	

	/*标题下文字介绍*/

	.g-txt1{ display: none;}

	

	/*产品名称*/

	.g-list1 li .tit {font-size: 14px;}

	

	/*案例文字重写*/

	.list-case .tit{ font-size: 12px; height:40px;}

	.list-case .tit strong{ font-size: 12px;line-height: 40px; font-weight: normal;}

	.list-case .tit p{ display: none;}

	

	/*应用范围*/

	.list-youshi li {float: left;width: 33.3%; margin-top:0px;}

	.ch-grid div { width: 150px; height: 150px;}

	.list-youshi .con h2 {font-size: 16px;}

	.ch-info{ font-size: 12px;}

	

	/*热门产品*/

	.m-contact{padding: 10px 0;}

	.list-contact li{float: none;width: auto;overflow: hidden;}

	.list-contact .txt{padding-right: 10px;padding-left: 10px;}

	.list-contact .txt a {padding: 0 6px;}

	

	

	/*友情链接*/

	.m-flink h4 { padding-bottom: 5px;font-size: 16px;}

	.m-flink h4 small {font-size: 14px;}
    .m-product{ padding:20px 0 35px 0;}
	.cp_tt{ width:100%; height:auto;}
	.cp_tt p{ padding-top:20px;}
	.cp_tt span{ display:none;}
	.cp_line{ margin:10px auto;}
	.list{ width:100%; padding-left:5%;}
	.product_c a{ width:48%;}
	.new_left{ width:100%;}
	.new01{ width:100%;}
	.new_right{ display:none;}

	

	/*在线留言关闭*/

	.pro_ly{ width:100%; margin-bottom:20px;}

	.slide3 .triggers{ display:none;}

	

	

	/*案例详情页*/

	.case_info_detals_left,.case_info_detals_right{	margin-top:0; margin-bottom: 10px; width: 100%; }

	.case_info_detals_right { padding-left: 0;width: 100%;}

	

	.pro-btn{width: 100%; margin-bottom: 10px;}

	.pro-tel{ display: none;}

	.case_info_configuration_left{width:100%;} 

	.case_info_configuration_right{width:100%; margin-top: 0;min-height:0;}

	.case_info_supplies_info {margin-left: 0; padding-left: 15px; padding-right: 14px;}

	

	.case_info_territory { margin-top: 15px;}

	.case_info_small_img,.case_info_supplies_info,.case_info_territory_info,.case_info_estimate_info{float:left;width:100%;}

	.case_info_small_img{ margin-top:20px;}

	.case_info_rest_info li {width: 100%;}

	

	.case_info_case_list_more a {margin-right: 10px;font-size: 14px;}

	.case_info_rest_info {margin-top: 30px;}

	

	

	.case_info_detals_right h2 {font-size: 22px;}

	.case_info_configuration_right h2 {font-size: 22px;}

	

	.case_info_rest_title h1{font-size: 22px;}

	

	

	/*解决方案砂石设备*/

	.inews_list li { width: 33.3%; font-size: 12px;}

	

}





/*Common For Max 480*/

@media only screen and (max-width: 767px) {

	.wp{width: 94%;} .ww{width:100%;}

	/*index*/

	/*==========index==============*/

	.ind-dial{display: block;}

    .head .h-right { width: 60%; }
	
		.head .h-right dl{ display:none;}
	.head .h-right .h-tel { color: #393031; font-size:24px; font-weight: bold; padding-left:30px; margin-top: 15px; background-image: url(../images/h-tel-icon.png); background-position: left center; background-repeat: no-repeat; float:right; display:block; }


	.head-top{height:109px;}
	.logo{line-height:109px;float:left; width: 40%;} 
	.logo img{height: 36px;}
	.box-title h3 em{ font-size:23px;}
	.lc-1 p.al1, .lc-2 p.al1, .lc-3 p.al1, .lc-4 p.al1, .lc-5 p.al1, .lc-6 p.al1, .lc-7 p.al1, .lc-8 p.al1, .lc-9 p.al1{ width:90px; height:90px;}
	.col-cost img.add{ display:none;}
	.new01{ display:none;}
	.phnav{ display:block !important;}

	.head-nav{height: 0;}

	.menuBtn{display: block;}

	.nav{

	    position:relative; z-index: 999;width:110%; margin-left:-5%; overflow:hidden;

	    background-color: rgba(31,31,31,0.8);

	}

	.nav li{float: none; width:100%;line-height: 36px; text-indent:10%; border-bottom:1px #f1f1f1 solid; text-align:left;}

	.nav li a{display: block;color: #fff; font-size:14px;}

	.nav dl{

/*		display: none!important;*/

	    position: static;width: 100%;

	    transform: translateX(0);

	    -ms-transform: translateX(0);  

	    -webkit-transform: translateX(0); 

	    -o-transform: translateX(0);   

	    -moz-transform: translateX(0);

	}

/*	.nav dd{background: #eea304;}*/

	.nav li.on .v1{background: #045fb2;}

	.nav li dd a{border-bottom: 1px solid #1f1f1f;}

	

	.navban{position: static; height: auto;}

	.head-nav{ position: static;}

	

	.index-banner .slick-dots li { width: 20px;}



	.g-tit1{font-size: 22px;padding: 25px 0 12px 0;}

	.g-tit1 span{font-size: 26px;}

	.color_h{line-height:13px;}

	.color_l{line-height:13px;}



	.m-about .img{width: 180px;height: 150px;margin-right: 30px;margin-bottom: 15px;}

	.m-youshi,.m-about,.m-news{padding-bottom: 20px;}

	.m-product{padding-bottom: 0px;}

	.m-case{padding-bottom: 30px;}

	

	.list-youshi li{width: 50%;}

	.g-list1 li{margin: 10px 0;}

	.g-list1 li .con{margin-left: 10px;padding: 6px;}

	.g-list1{margin-left: -10px;}

	.logo span{-webkit-transform: scale(0.7);

		-moz-transform: scale(0.7); 

		-ms-transform: scale(0.7); 

		-o-transform: scale(0.7); 

		transform: scale(0.7);

		transform-origin: 0 0;	}

	.tab-product-tit li{font-size: 14px;padding: 6px 7px;}

	

	/*手机端切换手机底部信息*/

	.footer-copy { display: none;}

	.wap_footer{ display: block;}

	/*手机端友情链接限制高度*/

	.m-flink { height: 142px;}



	

	/*案例*/

	.list-case{padding: 0;}

	.news-list li{ width:98%; margin:10px 1%; }

	.list-news li{float: none;width: auto;}
	.news-list li div a dt{ width:20%;}
	.list-news li .con{padding: 0;}

	

	/*手机端产品两排*/

	.g-list1 li {width: 50%;}

	

	/*手机端左右分布的标题 居中*/

	.section-title {text-align: center;padding: 30px 0; line-height: 13px; }

	.more-big{ display: none;}

	.section-title strong:after { display: none;}

	.section-title strong {font-size: 26px;}

	.section-title small {font-size: 26px;}



	/*关于我们*/

	.m-about .g-tit1 {font-size: 24px;}

	.m-about .g-tit1 span{font-size: 22px;}

	.m-about .txt {font-size: 14px; line-height: 30px;}

	.ableft{ width:100%; }

	.ableft img{ width:100%;}

	.abrgt{	width:100%;	}

	.abimg a{ width:46%; margin:2%;}

	.jyfwcss li{ width:33.33%; margin-bottom: 5px;}

	.jyfwcss {padding-top:20px;}

	.i_zxmelc1 li{ width:31.33%;}

	.i_zxmelc3d li{ width:48%;}

	.i_zxmelc4d li{ width:98%;}

	

	/*应用领域*/

	.yyly_df{ display: none;}

	

	/*新闻*/

	.xw_l{ width: 100%;}

	.sy-news li a {margin-left: 0;}

	.xw_r { width: 100%;}

	.xw_r .list{ margin-left: 0;}

	.sy-news li .date strong {font-size: 40px;}

	

	

	/*index*/

	

	/*内页边框*/

	.gbox-left,.gbox-right .right-tit{display: none;}

	.gbox-right .g-tit1,	.phone-por-menu{display: block;}

	.gbox-right{padding: 0;}

	.m-inner{padding-top: 0;}

	/*.inner-banner{height: 130px;}*/

	.right-border{padding: 20px 0;}

   /*相关新闻*/

	.m-related dl{float: none;width: auto;padding: 0;border-top: 1px solid #eee;}

	.m-related dl:first-child{padding: 0;border: none;padding-bottom: 10px; padding-top: 10px;}

	.m-related dl:last-child{padding: 15px 0 0;}

/*不共用*/

	.list-case.inner li{width: 50%;}

	

	.fix-show{display: block;}

	#ban{ display: none;}

	.index-banner{display:block!important;}

	

	/*手机端不显示产品分类*/

	.cp_class{ display:none!important;}

	.m-inner { padding-bottom: 20px;}

	

	/*内页案例列表*/

	.list-caseny.inner li {width: 50%;}

	

	/*解决方案导航*/

	.navul li{ WIDTH:25%;}

	.navul li a{ font-size: 12px; height:40px; line-height: 40px;}

	

	footer{ padding-bottom:80px;}

	.btm-fix{ display:block;}

	

	/*留言*/

	.pro_bd_1018{ width: 100%; padding-left: 0;}

	.right_pro {width: 90%; border-right: 0px solid #E5E5E5;padding-right: 0px;}

	.input-text {border: 1px solid #E5E5E5; margin: 0 5px 0 0;padding: 2px 0 2px 5px; font-size: 12px;color: #BDBDBD;width: 100%;background: #FFF;}

	

	.zxzx_ly { padding: 0;}

	

	.g-titcp1{font-size: 22px;padding: 25px 0 12px 0;}

	

	/*产品详细页*/

	.imgbox { margin-bottom: 10px;}

	.c1_slide li img { max-width: 400px;}

	

	.new_product .product_perform_title {margin: 20px 0px 15px 0px;}

	.new_product .product_maintenance_title { margin: 20px 0px 15px 0px;}

	

	.new_product .product_summary { padding: 10px 0px 25px 0px;}

	.new_product .product_application { margin: 22px 0px 15px 0px;}

	

	/*工作原理*/

	.product_zsw_1{width:100%;padding-left:0;}

	.product_zsw_right{width:100%;}

	

	

	/*公司简介*/

	.about-main ul li p { width: 98%;}

	.about-main ul li {width: 48%;}

	.about-main ul li p b {font-size: 36px;}

	.about-txt p, .about-main ul li p span, .inter-txt p, .parts-txt p {font-size: 14px;}

	

	/*新闻热门关键词*/

	.nygjccss{ display: none;}

	

	

	/*2020-05-15解决方案砂石骨料*/

	.ssgl_t { padding: 15px 0;}

	.ssgl_ddbj {padding: 15px 0;}

	.ssgldd_t {width: 100%;font-size: 16px;line-height: 30px;}

	.ssgl_tit {font-size: 22px;}

	.ssgldd_c { width: 100%;font-size: 12px;}

	

	.ssgl_con_al li{ width:100%;}

	.ssgl_con_al li .cons{max-height:none;}

	

	.hxjzl_pic li{width: 50%;}

	.m-txt3 { font-size: 14px;}

	.sjlncss li .cons-txt em {display: none;}

	.hbj {padding-bottom: 20px;}

	

	.wrap-text-b1 {padding-left: 10px; padding-right: 10px;}

	

	

	

	

}



/*Common For Max 320*/

@media only screen and (max-width: 479px) {

	/*index*/

	.logo img{height: 32px;}

	.list-youshi .img{padding: 10px 0;}

	.list-youshi .con{padding: 8px;margin: 6px;}

	.g-tit1{font-size: 20px;line-height: 26px;}

	.g-tit1 span{font-size: 22px;}

	.color_h{line-height:10px;}

	.color_l{line-height:10px;}

	

	.section-title {line-height: 10px; }

	.section-title strong {font-size: 20px;}

	.section-title small {font-size: 22px;}

	

	footer{padding: 15px 0 30px;}

	.ind-dial{display: block;}

	

	/*内页banner*/

	/*.inner-banner{height: 85px;}*/

	

	.nav dl{display: none;}



	/*相关新闻*/

	/*.m-related{display: none;}*/

	

	.g-titcp1{font-size: 20px;}

	





}
