@charset "utf-8";
@import "Style.css"/*tpa=http://www.cangzhouyy.com/images/Style.css*/;
@import "Class.css"/*tpa=http://www.cangzhouyy.com/images/Class.css*/;
#content { width: 990px; margin: 10px auto 0; clear: both; background: #ffffff; padding: 20px; border: 1px solid #E5E5E5; }
#content .box { clear: both; }
#content .left { float: left; width: 680px; overflow: hidden; padding: 15px 0px; }
#content .left .tit { padding: 8px 0 10px 0; text-align: left; background: url(pic20.jpg)/*tpa=http://www.cangzhouyy.com/images/pic20.jpg*/ no-repeat bottom; }
#content .left .tit .dingzhi { float: right; line-height: 20px; }
#content .left .tit .pt10 { padding-top: 10px; }
#content .left .tit .dingzhi a { color: #999; text-decoration: underline; background: #FFF; padding: 2px; }
#content .left .tit .dingzhi a:hover { color: #333; text-decoration: none; background: #ccc; }
#content .left .tit h1 { font-size: 20px; text-align: left; color: #333; background: #FFF; width: 550px; font-weight: bold; }
#content .left .tit .info { color: #999; height: 25px; line-height: 25px; margin-top: 6px; text-shadow: 0 1px 1px #FFF; background: #FFF; width: 550px; }
#content .left .tit .key { color: #999; line-height: 25px; }
#content .left .tit .key a { color: #0b78ff; line-height: 25px; text-decoration: underline; }
#content .left .tit .info em a { color: #0b78ff; text-decoration: underline; }
#content .left .intro { background: #f5f5f5; border: #ddd 1px solid; padding: 10px; line-height: 24px; border-top: none; color: #777; display: none; }
#content .left .content { line-height: 220%; font-size: 12px; padding-top: 20px; min-height: 620px; color: #444; width: 680px; word-break: break-all; }
#content .left .content p { color: #444; padding: 0 0 1em 0; line-height: 220%; text-align: justify; text-justify: distribute; font-size: 12px; width: 680px; }
#content .left .content strong { color: #222; font-size: 14px; }
#content .left .content a.innerlink { color: #555; border-bottom: #ccc 1px dotted; font-weight: 900; }
#content .left .content .about { margin-top : 5px; border: 1px dashed #dddddd; margin-top: 25px; padding: 15px; background: #F9F9F9; text-align: left; }
#content .left .content .about a { color: #007cc7; }
#content .left .newsRel { line-height: 24px; margin: 20px 0px 10px; color: #666; border-top: #ccc 1px dashed; clear: both; padding-top: 10px; }
#content .left .newsRel a { color: #0b78ff; font-weight: normal; }
#content .left .content dl { }
#content .left .content dl dt { padding-bottom: 10px; text-transform: uppercase; padding-left: 0px; padding-right: 0px; color: #c1c1c1; font-size: 14px; padding-top: 18px; }
#content .left .content dl dt em { color: #222; font-size: 14px; background: #dedede; padding: 4px 5px; }
#content .left .content dl dd { padding-bottom: 8px; line-height: 210%; background: url(ico_08.gif)/*tpa=http://www.cangzhouyy.com/images/ico_08.gif*/ repeat-x left bottom; color: #767676; font-size: 12px; }
#content .left .content dl dd a { color: #7f7f7f; border-bottom: #ccc 1px dotted; }
#content .left .content dl dd a:hover { text-decoration: none; }
#content .left .content dl dd strong { color: #000; }
#content .left .content dl dd.ld { background: none transparent scroll repeat 0% 0%; padding-top: 25px; }
#content .right { float: right; width: 260px; overflow: hidden; position: relative; }
#content .right .serv { padding: 10px 0 10px 10px; background: #d4d4d4; overflow: hidden; clear: both; }
#content .right .serv h3 { font-size: 14px; padding-top: 5px; color: #333; font-weight: bold; height: 30px; }
#content .right .serv h3 span { margin: 0px 12px 0 0; float: right; }
#content .right .serv h3 span a { background: url(pic04.png)/*tpa=http://www.cangzhouyy.com/images/pic04.png*/ no-repeat right 0; width: 23px; height: 20px; margin: 0; padding: 0; position: relative; display: block; }
#content .right .serv ul { background: url(pic10.png)/*tpa=http://www.cangzhouyy.com/images/pic10.png*/ no-repeat; width: 240px; }
#content .right .serv ul li { width: 75px; height: 41px; float: left; padding-top: 15px; padding-left: 43px; }
#content .right .serv ul li a { font-size: 12px; text-shadow: 0 1px 1px #FFF; }
#content .right .kehu { padding: 10px 0 10px 10px; background: #d4d4d4; overflow: hidden; border-top: 5px #FFFFFF solid; border-bottom: 5px #FFFFFF solid; clear: both; }
#content .right .kehu h3 { font-size: 14px; padding-top: 5px; color: #333; font-weight: bold; height: 30px; }
#content .right .kehu h3 span { margin: 0px 12px 0 0; float: right; }
#content .right .kehu h3 span a { background: url(pic04.png)/*tpa=http://www.cangzhouyy.com/images/pic04.png*/ no-repeat right 0; width: 23px; height: 20px; margin: 0; padding: 0; position: relative; display: block; }
#content .right .kehu ul li { padding: 0px 7px 7px 0; float: left; }
#content .right .kehu ul li a { width: 120px; height: 120px; padding: 0; border: 0; }
#content .right .kehu ul li a img { width: 75px; height: 75px; padding: 0; border: 0; display: block; }
#content .right .kehu ul li a img { filter: gray; -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); filter: grayscale(100%); filter: gray; }
#content .right .kehu ul li a:hover img { filter:; -webkit-filter: grayscale(0); -moz-filter: grayscale(0); -ms-filter: grayscale(0); -o-filter: grayscale(0); filter: grayscale(0); }
#content .right .pic { border-bottom: 5px #FFFFFF solid; }
#content .right .newlist { padding: 10px 0 10px 10px; background: #d4d4d4; overflow: hidden; border-bottom: 5px #FFFFFF solid; clear: both; }
#content .right .newlist h3 { font-size: 14px; padding-top: 5px; color: #333; font-weight: bold; height: 30px; }
#content .right .newlist h3 span { margin: 0px 12px 0 0; float: right; }
#content .right .newlist h3 span a { background: url(pic04.png)/*tpa=http://www.cangzhouyy.com/images/pic04.png*/ no-repeat right 0; width: 23px; height: 20px; margin: 0; padding: 0; position: relative; display: block; }
#content .right .newlist ul { padding-right: 10px; }
#content .right .newlist ul li { line-height: 24px; height: 24px; border-bottom: #ddd 1px dotted; }
#content .right .newlist ul li span { float: right; color: #666; font-size: 10px; }
.annex { width: 600px; margin : 15px 15px 15px 0; border : 1px dashed #999; background : #f9f9f9; line-height : normal; }
.annex td { padding: 10px; }
