@charset "utf-8";
@import "Style.css"/*tpa=http://www.cangzhouyy.com/images/Style.css*/;
.f-times { font-family: times new roman; font-size: 15px; font-weight: bold; }
#banner { width: 100%; height: 400px; overflow: hidden; position: relative; background: #FFFFFF; }
#banner .top-shadow { position: absolute; background: url(pic03.png)/*tpa=http://www.cangzhouyy.com/images/pic03.png*/ repeat-x scroll 0 0; height: 4px; width: 100%; z-index: 100; opacity: 0.5; }
#banner .fullSlide { min-width: 1032px; position: relative; height: 400px; overflow: hidden; }
#banner .fullSlide .bd { position: relative; z-index: 0; }
#banner .fullSlide .bd ul { width: 100% !important; }
#banner .fullSlide .bd li { width: 100% !important; height: 400px; }
#banner .fullSlide .bd li .siteWidth { width: 1032px; position: relative; margin: 0 auto; height: 400px; }
#banner .fullSlide .bd li a { height: 400px; display: block; }
#banner .fullSlide .hd { width: 100%; position: absolute; z-index: 1; bottom: 0; left: 0; height: 30px; line-height: 30px; text-align: center; }
#banner .fullSlide .hd ul li { cursor: pointer; display: inline-block; *display:inline;
zoom: 1; width: 42px; height: 10px; margin: 1px; overflow: hidden; background: #000; filter: alpha(opacity=50); opacity: 0.5; line-height: 999px; }
#banner .fullSlide .hd ul .on { background: #C30D23; }
#banner .fullSlide .prev, #banner .fullSlide .next { display: none; position: absolute; z-index: 1; top: 50%; margin-top: -30px; left: 15%; z-index: 1; width: 40px; height: 60px; background: url(slider-arrow.png)/*tpa=http://www.cangzhouyy.com/images/slider-arrow.png*/ -126px -137px #000 no-repeat; cursor: pointer; filter: alpha(opacity=50); opacity: 0.5; display: none; }
#banner .fullSlide .next { left: auto; right: 15%; background-position: -6px -137px; }
#banner li { background: url(loading.gif)/*tpa=http://www.cangzhouyy.com/images/loading.gif*/ no-repeat center #DED5A1; }
#main { margin: 20px auto 0; width: 990px; clear: both; background: #ffffff; padding: 20px; border: 1px solid #E5E5E5; position: relative; }
#main .main_left { width: 210px; float: left; }
#main .main_left li { text-align: center; width: 100%; margin-top: 10px; display: block; height: 123px; overflow: hidden; }
#main .main_left li img { }
#main .main_left .pic001 { background: #4b4b4b; clear: both; height: 123px; overflow: hidden; }
#main .main_left .pic002 { background: #ffcc00; clear: both; height: 123px; overflow: hidden; }
#main .main_left .pic003 { background: #2D2D2D; clear: both; margin-bottom: 0px; height: 123px; overflow: hidden; }
#main .main_left .lxfs { padding-left: 0px; width: 100%; padding-right: 0px; padding-top: 5px; clear: both; }
#main .main_left .lxfs p.tit { font-size: 11px; font-weight: bold; padding-bottom: 5px; }
#main .main_left .lxfs a.message { float: left; }
#main .main_left .lxfs a.weibo { float: right; }
#main .main_left .lxfs dl { padding-bottom: 9px; padding-left: 6px; padding-right: 6px; background: #dfe0e0; float: left; padding-top: 10px; }
#main .main_left .lxfs dl dt { text-align: right; width: 77px; float: left; color: #4b4b4b; text-shadow: 0 1px 1px #fff; font-size: 11px; font-weight: bold; }
#main .main_left .lxfs dl dd { text-align: center; width: 120px; font: 12px/18px Arial; float: left; text-shadow: 0 1px 1px #fff; }
#main .main_left .lxfs dl dd a { color: #4b4b4b; font-weight: bold; }
#main .main_left .lxfs dl dd a:hover { text-decoration: underline; }
h2.htitle { font-size: 20px; display: inline-block; zoom: 1; width: 990px; }
h2.htitle p { display: inline-block; zoom: 1; color: #999; margin-left: 10px; font-size: 10px; line-height: 15px; }
h2.htitle strong { font-size: 24px; font-weight: bold; margin-right: 6px; vertical-align: middle; float: left; }
h2.htitle strong em { font-size: 25px; font-weight: bold; color: #999; margin-left: 6px; vertical-align: middle; font-family: "MS Serif", "New York", serif; }
h2.htitle span { float: right; font-size: 22px; color: #F0F0F0; font-weight: normal; text-align: right; }
#main .main_right { width: 745px; float: right; position: relative; }
#main .main_right .services { width: 745px; float: left; padding-top: 2px; height: 294px; overflow: hidden; }
#main .main_right .services h2 { padding-bottom: 23px; height: 35px; _padding-bottom: 24px; width: 745px; }
#main .main_right .services h2 span { padding-top: 10px; }
#main .main_right .services h2 span a { font-size: 12px; background: #ddd; padding: 2px 6px 2px; margin-left: 5px; color: #666; font-style: normal; text-decoration: none; }
#main .main_right .services h2 span a:hover { background: #c30d23; color: #ffffff; font-style: normal; }
#main .main_right .services .servi_list { height: 235px; overflow: hidden; zoom: 1; }
#main .main_right .services .servi_list .info { width: 160px; float: left; margin-right: 35px; display: inline; height: 235px; overflow: hidden; }
#main .main_right .services .servi_list .info img { width: 160px; height: 90px; }
#main .main_right .services .servi_list .info h3 { padding-left: 0px; width: 160px; padding-right: 2px; padding-top: 12px; height: 25px; }
#main .main_right .services .servi_list .info h3 a { color: #333; font-weight: normal; font-size: 15px; }
#main .main_right .services .servi_list .info h3 a:hover { width: 160px; display: block; background: #4b4b4b; color: #fff; text-decoration: none; }
#main .main_right .services .servi_list .info h3 em { padding-bottom: 0px; padding-left: 0px; padding-right: 0px; font-family: arial; font-size: 18px; padding-top: 0px; }
#main .main_right .services .servi_list .info p { width: 160px; color: #767676; font-size: 12px; line-height: 21px; cursor: default; }
#main .main_right .services .servi_list .info p a { cursor: pointer; color: #ccc; display: block; background: url(pic26.gif)/*tpa=http://www.cangzhouyy.com/images/pic26.gif*/ 0 5px no-repeat; padding-left: 18px; }
#main .main_right .services .servi_list .info p em { width: 12px; font-family: simsun; height: 13px; font-size: 12px; }
#main .main_right .client { width: 745px; float: left; padding-top: 7px; _padding-top: 16px; overflow: hidden; }
#main .main_right .client h2 { padding-bottom: 3px; height: 30px; _padding-bottom: 4px; width: 745px; }
#main .main_right .client .client_list { overflow: hidden; zoom: 1; height: 180px; overflow: hidden; }
#main .main_right .client .client_list .info { width: 355px; float: left; margin-right: 35px; overflow: hidden; display: inline; }
#main .main_right .client .client_list .info .info_l { display: block; margin: 20px 0 0; }
#main .main_right .client .client_list .info .info_l img { width: 60px; float: left; height: 60px; margin-top: 4px; padding-right: 15px; }
#main .main_right .client .client_list .info .info_l h3 { padding-bottom: 3px; font-size: 14px; padding-left: 15px; font-weight: normal; }
#main .main_right .client .client_list .info .info_l h3 a:hover { color: #c30d23; cursor: pointer; }
#main .main_right .client .client_list .info .info_l p { line-height: 21px; color: #767676; padding-top: 5px; }
#yitihua { margin: 20px auto 0; width: 990px; clear: both; background: #ffffff; padding: 20px; border: 1px solid #E5E5E5; }
#yitihua h2 { padding-bottom: 6px; height: 30px; border-bottom: 20px; }

#youshi { margin: 30px auto 0; width: 990px; clear: both; background: #ffffff; padding: 20px; border: 1px solid #E5E5E5; }
#youshi h2 { padding-bottom: 6px; height: 30px; border-bottom: 20px; }
#youshi .content { overflow: hidden; }
#youshi .content ul.item { padding-bottom: 0px; list-style-type: none; float: left;line-height: 30px; color: #767676; margin: 5px 0 0;  height: 200px; }
#youshi .content ul.news {width: 460px;color:black; padding-left:30px;}
#youshi .content ul.news .time { float: right; color: #666; font-size: 12px; padding: 2px 8px 0 0; }
#youshi .content ul.news li{ border-bottom: 1px dashed #dfdfdf; clear: both; line-height: 26px; }
#youshi .content ul.about {width: 500px;}

#clients { margin: 20px auto 0; width: 990px; clear: both; background: #ffffff; padding: 20px; border: 1px solid #E5E5E5; }
#clients h2 { padding-bottom: 6px; height: 30px; font-weight: normal; _padding-bottom: 4px; }
#clients .clients_like { position: relative; width: 990px; float: left; padding-top: 10px; }
#clients .clients_like ul { float: left; }
#clients .clients_like li { margin-left: 21px; margin-top: 15px; float: left; display: inline; }
#clients .clients_like li.no { margin-left: 0px; margin-right: 3px; }
#clients .clients_like li img { width: 135px; height: 50px; padding: 5px; border: #ccc 1px dotted; display: block; }
#clients .clients_like li a img { filter: gray; -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); filter: grayscale(100%); filter: gray; }
#clients .clients_like li a:hover img {
filter:; -webkit-filter: grayscale(0); -moz-filter: grayscale(0); -ms-filter: grayscale(0); -o-filter: grayscale(0); filter: grayscale(0); }
#clients .clients_like li img { filter: gray; -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); filter: grayscale(100%); filter: gray; }
#newsbox { width: 1032px; line-height: 21px; clear: both; margin: 20px auto 10px; }
#newsbox a { color: #767676; height: 21px; }
#newsbox a span { font-family: georgia, "times new roman", times, serif; color: #bbb; padding-right: 32px; padding-left: 10px; font-size: 10px; }
#newsbox a:hover { color: #d70c19; text-decoration: none; }
.btn1 { width: 31px; position: absolute; right: -51px; top: 59px; }
.btn2 { width: 31px; position: absolute; right: -51px; top: 387px; }
.btnQh a { display: block; width: 31px; height: 31px; cursor: pointer; margin-top: 1px; }
.btnQh a.prev { background: #686868 url(pic12.png)/*tpa=http://www.cangzhouyy.com/images/pic12.png*/ no-repeat center top; }
.btnQh a.prev:hover { background: #c30d23 url(pic12.png)/*tpa=http://www.cangzhouyy.com/images/pic12.png*/ no-repeat center top; }
.btnQh a.next { background: #686868 url(pic12.png)/*tpa=http://www.cangzhouyy.com/images/pic12.png*/ no-repeat center -31px; }
.btnQh a.next:hover { background: #c30d23 url(pic12.png)/*tpa=http://www.cangzhouyy.com/images/pic12.png*/ no-repeat center -31px; }
.btnQh a.prevStop { background: #999 url(pic12.png)/*tpa=http://www.cangzhouyy.com/images/pic12.png*/ no-repeat center top; }
.btnQh a.nextStop { background: #999 url(pic12.png)/*tpa=http://www.cangzhouyy.com/images/pic12.png*/ no-repeat center -31px; }
#weixin { position: fixed; width: 106px; height: 139px; bottom: 10px; right: auto; left: 10px; top: auto; _position: absolute; z-index: 1000; }
