
html, body { -webkit-text-size-adjust: none; }
body { font-family: "microsoft yahei", "Microsoft YaHei", 微软雅黑, arial; font-size: 12px; color: #222; background: #EEEEEE; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, p, th, img fieldset { padding: 0; margin: 0; }
img { border: 0pt; }
ol, ul, li { list-style-type: none; }
h1, h2, h3, h4, h5, h6 { font-size: 12px; font-weight: normal; }
.clear { line-height: 0; display: block; height: 0px; clear: both; font-size: 0px; overflow: hidden; }
.clear5 { line-height: 0; display: block; height: 5px; clear: both; font-size: 0px; overflow: hidden; }
.clear10 { line-height: 0; display: block; height: 10px; clear: both; font-size: 0px; overflow: hidden; }
.clear20 { line-height: 0; display: block; height: 20px; clear: both; font-size: 0px; overflow: hidden; }
.clearfix:after { display: block; height: 0px; visibility: hidden; clear: both; content: "."; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
a { color: #222; text-decoration: none; }
a:link { }
a:active { }
a:visited { }
a:hover { color: #c30d23; text-decoration: underline; }
a.red { color: #ff0066; }
del { font-family: arial; color: #666; }
input:focus { outline: none; }
ins { display: none; }
em { font-style: normal; font-weight: normal; }
.warp { width: 1032px; margin: 0 auto; }
.inlineblock { display: inline-block; display: -moz-inline-stack; *display: inline; zoom: 1; vertical-align: middle; position: relative; }
.colororg { color: #ff0066 !important; }
.seoh1 h1 { line-height: 0px; height: 0px; margin-left: -1000px; font-size: 0px; overflow: hidden; }
.f_fix { position: fixed; top: 1px; }
#header { width: 100%; background: #fff; height: 110px; border-top: #c30d23 6px solid; background: #fff; overflow: hidden; }
#header .header_top { margin: 0px auto; width: 1032px; }
#header .header_top .logo { width: 400px; float: left; height: 46px; padding-top: 32px; position: relative; }
#header .header_top .time { position: absolute; left: 217px; top: 45px; color: #fff; font-size: 10px; }
#header .header_top .menu { float: right; height: 85px; }
#header .header_top .menu li { text-align: center; width: 70px; float: left; margin-left: 10px; cursor: pointer; }
#header .header_top .menu li.current { text-align: center; width: 70px; background: #c30d23; float: left; color: #fff; background: url(pic19.jpg)/*tpa=http://www.cangzhouyy.com/images/pic19.jpg*/; }
#header .header_top .menu li em { font-style: normal; width: 70px; display: block; float: left; height: 12px; font-size: 10px; FONT-FAMILY: Verdana; color: #868686; }
#header .header_top .menu li a { display: block; height: 40px; padding-top: 45px; cursor: pointer; font-size: 14px; }
#header .header_top .menu li a:hover { display: block; background: #ccc; color: #fff; text-decoration: none; padding-top: 45px; }
#header .header_top .menu li.current a { color: #fff; }
#header .header_top .menu li a:hover em { color: #fff; }
#header .header_top .menu li.current em { color: #fff; }
#header .header_top .menu li a { -webkit-transition: background-color 0.2s linear; -moz-transition: background-color 0.2s linear; -ms-transition: background-color 0.2s linear; -o-transition: background-color 0.2s linear; transition: background-color 0.2s linear; }
#header .header_top .menu li a:hover { -webkit-transition: background-color 0s linear; -moz-transition: background-color 0s linear; -ms-transition: background-color 0s linear; -o-transition: background-color 0s linear; transition: background-color 0s linear; }
#extendedcontent { padding-bottom: 30px; padding-left: 0px; padding-right: 0px; background: #181718; padding-top: 20px; width: 100%; }
#extendedcontent .wrapper { position: relative; margin: 0px auto; width: 1032px; }
#extendedcontent .widget { width: 138px; float: left; margin-right: 28px; display: inline; }
#extendedcontent .nomr { margin-right: 0px; margin-left: 0px; }
#extendedcontent .widget h2 { padding-bottom: 0px; margin: 0px 0px 15px; padding-left: 0px; padding-right: 0px; font-size: 14px; padding-top: 0px; }
#extendedcontent .widget h2 a { color: #999; font-weight: bold; }
#extendedcontent .xoxo li { height: 22px; line-height: 22px; border-bottom: 1px solid #1f1f1f; overflow: hidden; }
#extendedcontent .xoxo li a { font-size: 12px; color: #4d4d4d; }
#extendedcontent .xoxo li a:hover { color: #c30d23; }
#extendedcontent .footse { width: 240px; float: left; color: #cccccc; line-height: 20px; padding-top: 2px; }
#extendedcontent .footse span { color: #a6a6a6; float: left; }
#extendedcontent .footse a { padding-bottom: 0px; padding-right: 8px; display: inline-table; float: left; color: #7f7f7f; padding-top: 0px; white-space: nowrap; }
#extendedcontent .footse a:hover { color: #c30d23; }
#extendedcontent .logobottom { border-left: #e5e5e5 1px solid; padding-left: 54px; height: 104px; padding-top: 35px; width: 170px; float: right; }
#extendedcontent .bdshare_b { position: absolute; right: 98px; bottom: 0px; z-index: 999; }
#copyright { line-height: 22px; margin: 0px auto; padding-left: 0px; width: 100%; padding-right: 0px; font-size: 11px; padding-top: 8px; background: #181718; }
#copyright .warp { background: url(pic29.gif)/*tpa=http://www.cangzhouyy.com/images/pic29.gif*/ repeat-x; padding-top: 20px; padding-bottom: 20px; }
#copyright .left { float: left; color: #666; }
#copyright .left a.bei { color: #666; }
#copyright .left em { font-size: 13px; }
#copyright .right { float: right; color: #666; }
#copyright .right a { margin: 0 3px; }
#copyright .right a.top { margin: 0 0 0 3px!important; }
#copyright .right em { font-size: 10px; color: #333; }
#copyright a { color: #666; }
#copyright a:hover { color: #c30d23; text-decoration: underline; }
#copyright .key { clear: both; color: #ffffff; }
#kefu { position: fixed; width: 184px; height: auto; top: 105px; right: 0px; left: auto; _position: absolute; z-index: 1000; }
#kefu .im_top { width: 100%; display: block; background: url(pic05.png)/*tpa=http://www.cangzhouyy.com/images/pic05.png*/ no-repeat right 50%; height: 20px; }
#kefu .im_bottom { width: 100%; display: block; background: url(pic07.png)/*tpa=http://www.cangzhouyy.com/images/pic07.png*/ no-repeat right 50%; height: 20px; }
#kefu .im_center { width: 100%; display: block; background: url(pic06.png)/*tpa=http://www.cangzhouyy.com/images/pic06.png*/ repeat-y right 50%; height: auto; }
#kefu .im_btn { width: 35px; float: left; height: 110px; overflow: hidden; }
#kefu .im_btn img { cursor: pointer; }
#kefu .im_main { width: 100px; display: inline; float: left; margin-left: 15px; }
#kefu .im_main h3 { border-bottom: #aaa 1px dotted; text-align: left; height: 23px; color: #888; font-size: 12px; font-weight: bold; }
#kefu .im_main ul { text-align: left; margin-top: 5px; width: 100%; height: auto; }
#kefu .im_main ul li { margin-top: 10px; padding-left: 5px; width: auto; height: auto; color: #6f6f6f; }
#kefu .im_main ul li img { margin-top: 2px; }
.imout { position: fixed; width: 35px; height: 110px; top: 125px; right: 0px; left: auto; _position: absolute; cursor: pointer; z-index: 999; }
#kefu .c { padding-bottom: 0px; line-height: 0; padding-left: 0px; padding-right: 0px; height: 0px; visibility: hidden; clear: both; font-size: 0px; padding-top: 0px; }
#kefu .imout img { cursor: pointer; }
#linker { padding: 15px 0 20px; line-height: 22px; margin: 0px auto; width: 100%; background: #181718; }
#linker span { background: #c30d23; color: #ffffff; padding: 2px 2px 0px 2px; }
#linker a { margin-right: 5px; font-size: 12px; color: #4d4d4d; }
#linker a:hover { color: #c30d23; }
#linker .key, #linker .key a { color: #4d4d4d; }
#key { margin: 0px auto; width: 100%; background: #181718; clear: both; color: #181718; }
#key a { color: #181718; }
.totop { margin-right: -565px; position: fixed; bottom: 40px; right: 50%; z-index: 999; width: 43px; height: 43px; cursor: pointer; display: none; }
.totop a { display: block; width: 43px; height: 43px; overflow: hidden; background: url(back.png)/*tpa=http://www.cangzhouyy.com/images/back.png*/ no-repeat 0 0; }
.totop a.cur { background-position: 0 -43px; }
.sb { width: 100%; border: 1px solid #ccc; margin-top: 10px; border-collapse: collapse; }
.sb th { font-weight: 700; color: #eb891c; text-align: center; background-color: #f9f9f9; font-size: 14px; font-family: microsoft yahei; }
.sb td { font-size: 12px; padding: 5px; }
.sb th, .sb td { height: 25px; border: 1px solid #ccc; }
.sb th, .sb td u { color: #CC0000; }
.sb .center { text-align: center; }
