html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, input, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: none; outline: 0; font-size: 100%; font-weight: 400; vertical-align: baseline; background: transparent; }
html { width: 100%; margin: 0 auto; background: #f6f6f6; _background: url(about:black) no-repeat fixed; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { width: 100%; margin: 0 auto; font-family: 'Microsoft YaHei', 'Verdana', 'arial', 'sans-serif'; font-size: 14px; font-weight: 400; color: #222; background: #f6f6f6; word-wrap: break-word; text-rendering: optimizeLegibility; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
* { margin: 0; padding: 0; }
.clearfix:after { display: block; height: 0; overflow: hidden; visibility: hidden; clear: both; content: "."; }
.clearfix { zoom:1; }
ol, ul { list-style: none; }
i, em { font-style: normal; }
img { -ms-interpolation-mode: bicubic; }
a { text-decoration: none; color: #222; cursor: pointer; }
a:link { color: #222; }
a:visited { color: #222; }
a:hover { text-decoration: none; color: #209e85; }
.keylink { border-bottom: 1px dotted #209e85; }
.keylink:hover { text-decoration: none; color: #209e85; }
.keylink:visited { border-bottom: 1px dotted #209e85; }

/* 全局 */
.mobile { display: none !important; }
.main { width: 1200px; overflow: hidden; margin: 0 auto; }
.sideLeft { float: left; width: 800px; overflow: hidden; }
.sideRight { float: right; width: 380px; overflow: hidden; }
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }
.mb30 { margin-bottom: 30px; }
.listTit { float: left; width: 760px; height: 50px; overflow: hidden; padding: 0 20px; border-bottom: 1px solid #f5f5f5; font-size: 18px; line-height: 50px; font-weight: 700; }
.listTit span { float: left; width: 5px; height: 19px; overflow: hidden; margin: 17px 10px 14px 0; border-radius: 5px; background: #209e85; }
.rightTit { float: left; width: 340px; height: 50px; overflow: hidden; padding: 0 20px; border-bottom: 1px solid #f5f5f5; font-size: 16px; line-height: 50px; font-weight: 700; }
.rightTit span { float: left; width: 5px; height: 18px; overflow: hidden; margin: 16px 10px 16px 0; border-radius: 5px; background: #209e85; }
.crumbs { float: left; width: 100%; height: 50px; overflow: hidden; margin-top: 20px; padding: 0 20px; border-bottom: 1px solid #f5f5f5; font-size: 14px; line-height: 50px; background: #fff; }
.emptyShow { float: left; height: 50px; overflow: hidden; padding: 20px; font-size: 15px; line-height: 50px; }

@media only screen and (max-width: 759px) {
html { min-width: 300px; }
body { min-width: 300px; }
.main { width: 10rem; }
.sideLeft { width: 10rem; }
.sideRight { float: left; width: 10rem; }
.mt20 { margin-top: 0.4rem; }
.mt30 { margin-top: 0.4rem; }
.mb30 { margin-bottom: 0.4rem; }
.listTit { width: 9.2rem; height: 1.2rem; padding: 0 0.4rem; border-bottom: 0.03rem solid #f5f5f5; font-size: 0.4rem; line-height: 1.2rem; }
.listTit span { width: 0.1rem; height: 0.4rem; margin: 0.4rem 0.3rem 0.4rem 0; }
.rightTit { width: 9.2rem; height: 1.2rem; padding: 0 0.4rem; border-bottom: 0.03rem solid #f5f5f5; font-size: 0.4rem; line-height: 1.2rem; }
.rightTit span { width: 0.1rem; height: 0.4rem; margin: 0.4rem 0.3rem 0.4rem 0; }
.crumbs { height: 1.2rem; margin-top: 0.4rem; padding: 0 0.4rem; border-bottom: 0.03rem solid #f5f5f5; font-size: 0.4rem; line-height: 1.2rem; color: #999; }
.crumbs a { color: #999; }
.crumbs:after { margin-right: 0.15rem; font-size: 0.4rem; }
}

/* 顶部 */
.header { width: 100%; height: 80px; overflow: hidden; background: #209e85; }
.header .area { width: 1200px; overflow: hidden; margin: 0 auto; }
.header .area .logo { float: left; width: 400px; height: 80px; overflow: hidden; color: #fff; }
.header .area .logo a { color: #fff; }
.header .area .logo .left { float: left; width: 190px; height: 80px; overflow: hidden; }
.header .area .logo .left img { float: left; width: 190px; height: 80px; overflow: hidden; }
.header .area .logo .line { float: left; width: 1px; height: 36px; overflow: hidden; margin: 23px 18px 21px 0; background: #fff; }
.header .area .logo .right { float: left; width: 190px; height: 45px; overflow: hidden; margin-top: 17px; }
.header .area .logo .right p { float: left; width: 190px; height: 25px; overflow: hidden; font-size: 16px; line-height: 25px; }
.header .area .logo .right span { float: left; width: 190px; height: 20px; overflow: hidden; font-size: 13px; line-height: 20px; }
.header .area .navClick { display: none; }
.header .area .navBox { float: right; width: 800px; height: 40px; overflow: hidden; margin: 20px 0; }
.header .area .navBox .nav { float: left; width: 800px; height: 40px; overflow: hidden; font-size: 16px; line-height: 40px; text-align: right; }
.header .area .navBox .nav a { margin-left: 50px; color: #fff; }
.headerSpace { float: left; width: 100%; height: 0; overflow: hidden; }

.headerBtn { float: left; width: 100%; height: 52px; overflow: hidden; background: #fff; }
.headerBtn .area { width: 1200px; height: 52px; overflow: hidden; margin: 0 auto; }
.headerBtn .area .subNav { float: left; }
.headerBtn .area .subNav .left { float: left; height: 52px; overflow: hidden; font-size: 14px; line-height: 52px; font-weight: 600; }
.headerBtn .area .subNav .right { float: left; height: 52px; overflow: hidden; font-size: 14px; line-height: 52px; }
.headerBtn .area .subNav .right a { margin-right: 12px; margin-left: 6px; }
.headerBtn .area .searchBox { float: right; }
.headerBtn .area .searchBox .search { float: left; width: 260px; height: 36px; overflow: hidden; margin-top: 8px; border-radius: 5px; box-shadow: 0 0 2px #dbdbdb inset; }
.headerBtn .area .searchBox .search .searchInp { float: left; width: 210px; height: 36px; overflow: hidden; }
.headerBtn .area .searchBox .search .searchInp input { float: left; width: 180px; height: 36px; padding: 0 15px; border: none; font-size: 14px; line-height: 36px; }
.headerBtn .area .searchBox .search .searchBtn { float: right; width: 50px; height: 36px; overflow: hidden; -webkit-appearance: none; border: none; text-indent: -9999px; background: url(../images/new/search.png) no-repeat center center; cursor: pointer; }

@media only screen and (max-width: 759px) {
.header { position: absolute; right: 0; left: 0; z-index: 999; width: 10rem; height: 1.3rem; overflow: visible; margin: 0 auto; }
.header .area { position: relative; width: 10rem; height: 1.3rem; overflow: visible; }
.header .area .logo { position: relative; width: 10rem; height: 1.3rem; }
.header .area .logo .left { position: absolute; top: 0.25rem; left: 0.4rem; width: 0.89rem; height: 0.8rem; background: url(../images/new/home.png) no-repeat; -moz-background-size: 0.89rem 0.8rem; -webkit-background-size: 0.89rem 0.8rem; -o-background-size: 0.89rem 0.8rem; background-size: 0.89rem 0.8rem; }
.header .area .logo .left a { float: left; width: 0.89rem; height: 0.8rem; overflow: hidden; }
.header .area .logo .left img { display: none; }
.header .area .logo .line { display: none; }
.header .area .logo .right { width: 10rem; height: 1.3rem; margin-top: 0; }
.header .area .logo .right p { width: 10rem; height: 1.3rem; font-size: 0.53rem; line-height: 1.3rem; text-align: center; }
.header .area .logo .right span { display: none; }
.header .area .navClick { display: block; position: absolute; top: 0.4rem; right: 0.4rem; width: 0.75rem; height: 0.5rem; overflow: hidden; }
.header .area .navClick a { float: left; width: 0.75rem; height: 0.5rem; background: url(../images/new/nav.png) no-repeat; -moz-background-size: 0.75rem 0.5rem; -webkit-background-size: 0.75rem 0.5rem; -o-background-size: 0.75rem 0.5rem; background-size: 0.75rem 0.5rem; }
.header .area .navBox { display: none; float: left; width: 10rem; height: auto; z-index: 999; margin: 0 auto; background: #fff; box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); }
.header .area .navBox .nav { width: 10rem; height: auto; font-size: 0.4rem; line-height: 1.3rem; text-align: left; }
.header .area .navBox .nav a { float: left; width: 9rem; height: 1.3rem; overflow: hidden; margin-left: 0; padding: 0 0.5rem; border-bottom: 1px solid #f5f5f5; font-size: 0.4rem; line-height: 1.3rem; color: #222; }
.headerSpace { height: 1.3rem; }
.headerBtn { display: none; }
}

/* 首页 */
.flash { float: left; width: 800px; height: 420px; overflow: hidden; margin-top: 20px; }
.flash .swiper-container { float: left; position: relative; z-index: 1; width: 800px; height: 420px; overflow: hidden; }
.flash .swiper-container .swiper-wrapper .swiper-slide { float: left; position: relative; width: 100%; height: 100%; -webkit-flex-shrink: 0; -ms-flex-negative: 0; flex-shrink: 0; -webkit-transition-property: -webkit-transform; transition-property: -webkit-transform; -o-transition-property: transform; transition-property: transform; transition-property: transform, -webkit-transform; }
.flash .swiper-container .swiper-wrapper .swiper-slide a { float: left; position: relative; width: 100%; height: 100%; overflow: hidden; color: #fff; }
.flash .swiper-container .swiper-wrapper .swiper-slide a img { float: left; width: 800px; height: 420px; overflow: hidden; }
.flash .swiper-container .swiper-wrapper .swiper-slide a p { float: left; position: absolute; bottom: 0; left: 0; width: 800px; height: 130px; overflow: hidden; font-size: 20px; line-height: 40px; text-align: center; background: url(../images/new/slideShadow.png) repeat-x left top; }
.flash .swiper-container .swiper-pagination { position: absolute; z-index: 10; text-align: center; }
.flash .swiper-container .swiper-pagination-bullets { bottom: 30px; left: 0; width: 100%; }
.flash .swiper-container .swiper-pagination-bullet { width: 25px; height: 1px; border-radius: 2px; background: #fff; opacity: 1; }
.flash .swiper-container .swiper-pagination-bullet-active { background: #209e85; }
.flash .swiper-container .swiper-button-prev, .flash .swiper-container .swiper-button-next { position: absolute; top: 50%; z-index: 9; width: 25px; height: 47px; margin-top: -24px; background: url(../images/new/flashBtn.png) no-repeat; filter: alpha(opacity=0); opacity: 0; background-size: 50px 47px; cursor: pointer; transition: 0.8s; -moz-transition: 0.8s; -webkit-transition: 0.8s; -o-transition: 0.8s; }
.flash .swiper-container .swiper-button-prev { left: 30px; }
.flash .swiper-container .swiper-button-next { right: 30px; background-position: -25px 0; }
.flash .swiper-container:hover .swiper-button-prev, .flash .swiper-container:hover .swiper-button-next { filter: alpha(opacity=100); opacity: 1.0; transition: 0.8s; -moz-transition: 0.8s; -webkit-transition: 0.8s; -o-transition: 0.8s; }
.indexCont { float: left; width: 800px; overflow: hidden; margin-top: 20px; background: #fff; }
.indexCont .tit { float: left; width: 760px; height: 48px; overflow: hidden; padding: 0 20px; border-radius: 3px 3px 0 0; font-size: 16px; line-height: 48px; font-weight: 700; color: #fff; background: #209e85; }
.indexCont .tit span { float: left; width: 4px; height: 18px; overflow: hidden; margin: 15px 10px 15px 0; border-radius: 5px; background: #fff; }
.indexCont .txt { float: left; width: 760px; overflow: hidden; padding: 15px 20px 20px; font-size: 15px; line-height: 34px; }

@media only screen and (max-width: 759px) {
.flash { width: 10rem; height: 5.5rem; margin-top: 0; }
.flash .swiper-container { width: 10rem; height: 5.5rem; }
.flash .swiper-container .swiper-wrapper .swiper-slide a img { width: 10.48rem; height: 5.5rem; margin-left: -0.24rem; }
.flash .swiper-container .swiper-wrapper .swiper-slide a p { width: 8rem; height: 2.2rem; padding: 0 1rem; font-size: 0.4rem; line-height: 0.8rem; }
.flash .swiper-container .swiper-pagination-bullets { bottom: 0.4rem; }
.flash .swiper-container .swiper-pagination-bullet { width: 0.55rem; height: 0.03rem; }
.flash .swiper-container .swiper-button-prev, .flash .swiper-container .swiper-button-next { display: none; }
.indexCont { width: 10rem; margin-top: 0.4rem; }
.indexCont .tit { width: 9.2rem; height: 1.2rem; padding: 0 0.4rem; border-radius: 0; font-size: 0.4rem; line-height: 1.2rem; }
.indexCont .tit span { width: 0.1rem; height: 0.4rem; margin: 0.4rem 0.3rem 0.4rem 0; }
.indexCont .txt { width: 9.2rem; padding: 0.3rem 0.4rem 0.4rem; font-size: 0.4rem; line-height: 0.8rem; }
}

.friendLink { float: left; width: 380px; overflow: hidden; margin-top: 20px; background: #fff; }
.friendLink .txt { float: left; width: 340px; overflow: hidden; padding: 20px; font-size: 15px; line-height: 32px; }
.friendLink .txt a { margin-right: 15px; }

@media only screen and (max-width: 759px) {
.friendLink { display: none; }
}

/* 列表 */
.list { float: left; width: 800px; overflow: hidden; background: #fff; }
.list dl { float: left; width: 760px; height: 150px; overflow: hidden; margin: 0 20px; padding: 20px 0; border-bottom: 1px solid #f5f5f5; }
.list dl dt { float: left; width: 230px; overflow: hidden; }
.list dl dt a img { width: 230px; height: 150px; overflow: hidden; }
.list dl dd { float: right; width: 510px; overflow: hidden; }
.list dl dd .tit { float: left; width: 510px; height: 40px; overflow: hidden; margin-top: 5px; font-size: 18px; line-height: 40px; font-weight: 600; }
.list dl dd .keyBox { display: inline-block; float: left; width: 510px; height: 36px; overflow: hidden; font-size: 14px; line-height: 36px; color: #999; }
.list dl dd .keyBox .time { float: left; margin-right: 35px; }
.list dl dd .keyBox .key { float: left; }
.list dl dd .keyBox .key:after { float: left; margin-right: 8px; font-family: "iconfont"; content: "\e620"; font-size: 16px; }
.list dl dd .keyBox .key a { color: #999; }
.list dl dd .keyBox .key a:hover { color: #209e85; }
.list dl dd .des { float: left; width: 510px; overflow: hidden; font-size: 14px; line-height: 30px; color: #999; }

@media only screen and (max-width: 759px) {
.list { width: 10rem; }
.list dl { width: 9.2rem; height: 2rem; margin: 0 0.4rem; padding: 0.4rem 0; border-bottom: 0.03rem solid #f5f5f5; }
.list dl dt { width: 3rem; }
.list dl dt a img { width: 3rem; height: 2rem; }
.list dl dd { width: 5.9rem; }
.list dl dd .tit { width: 5.9rem; height: auto; max-height: 1.3rem; margin-top: 0; font-size: 0.5rem; line-height: 0.65rem; font-weight: 400; }
.list dl dd .keyBox { width: 5.9rem; height: 0.7rem; font-size: 0.36rem; line-height: 0.7rem; }
.list dl dd .keyBox .time { margin-right: 0; }
.list dl dd .keyBox .time:after { margin-right: 0.15rem; font-size: 0.4rem; }
.list dl dd .keyBox .key { display: none; }
.list dl dd .des { display: none; }
}

/* 水果大全 */
.class { float: left; width: 800px; overflow: hidden; background: #fff; }
.class ul { float: left; margin-top: 5px; margin-bottom: 20px; }
.class ul li { float: left; width: 136px; height: 170px; overflow: hidden; margin-top: 15px; margin-left: 20px; }
.class ul li a img { float: left; width: 136px; height: 136px; overflow: hidden; }
.class ul li a p { float: left; width: 136px; height: 34px; overflow: hidden; font-size: 15px; line-height: 34px; text-align: center; }

@media only screen and (max-width: 759px) {
.class { width: 10rem; }
.class ul { margin-top: 0; margin-bottom: 0.35rem; }
.class ul li { width: 2.8666rem; height: 3.8666rem; margin-top: 0.35rem; margin-left: 0.35rem; }
.class ul li a img { width: 2.8666rem; height: 2.8666rem; }
.class ul li a p { width: 2.8666rem; height: 1rem; font-size: 0.4rem; line-height: 1rem; }
}

/* 内容 */
.show { float: left; width: 800px; overflow: hidden; padding-bottom: 30px; background: #fff; }
.show h1 { float: left; width: 760px; height: 70px; overflow: hidden; margin: 20px 20px 0; font-size: 24px; line-height: 70px; font-weight: 700; text-align: center; }
.show .copyfrom { float: left; width: 760px; height: 40px; overflow: hidden; margin: 0 20px; font-size: 15px; line-height: 40px; text-align: center; color: #999; }
.show .copyfrom p { display: inline-block; margin: 0 15px; }
.show .copyfrom a { color: #999; }
.show .description { float: left; width: 720px; overflow: hidden; margin: 10px 20px 0; padding: 15px 20px; border-radius: 3px; font-size: 15px; line-height: 32px; background: #f5f5f5; }
.show .content { float: left; width: 760px; overflow: hidden; margin: 10px 20px 0; font-size: 16px; line-height: 32px; }
.show .content p { margin-top: 10px; }
.show .content p img { margin-top: 15px; margin-bottom: 5px; }
.keywords { float: left; width: 760px; height: 40px; overflow: hidden; margin-top: 20px; }
.keywords a { float: left; height: 38px; overflow: hidden; margin-left: 20px; padding: 0 20px; border: 1px solid #ddd; border-radius: 3px; font-size: 16px; line-height: 38px; }
.nearby { float: left; width: 760px; overflow: hidden; padding: 15px 20px; border-top: 1px solid #f5f5f5; background: #fff; }
.nearby p { float: left; width: 760px; height: 38px; overflow: hidden; font-size: 16px; line-height: 38px; }
.nearby p span { float: left; font-size: 16px; }

@media only screen and (max-width: 759px) {
.show { width: 10rem; padding-bottom: 0.4rem; }
.show h1 { width: 9rem; height: auto; margin: 0.5rem 0 0 0.5rem; font-size: 0.5rem; line-height: 0.9rem; }
.show .copyfrom { width: 9.2rem; height: 1rem; margin: 0 0 0 0.4rem; font-size: 0.37rem; line-height: 1rem; }
.show .copyfrom p { margin: 0 0.3rem; }
.show .description { width: 9.2rem; margin: 0.2rem 0 0; padding: 0.3rem 0.4rem; font-size: 0.4rem; line-height: 0.8rem; }
.show .content { width: 9.2rem; margin: 0.3rem 0 0 0.4rem; line-height: 0.8rem; }
.show .content p { margin-top: 0.13rem; }
.show .content p img { float: left; width: 9.2rem !important; height: auto !important; overflow: hidden; margin-top: 0.3rem; margin-bottom: 0.43rem; }
.keywords { float: left; width: 9.2rem; height: auto; overflow: hidden; margin-top: 0.3rem; margin-left: 0.4rem; }
.keywords a { float: left; height: 0.9rem; overflow: hidden; margin-right: 0.3rem; margin-left: 0; padding: 0 0.4rem; border: 0.03rem solid #ddd; border-radius: 3px; font-size: 0.4rem; line-height: 0.9rem; }
.nearby { width: 9.2rem; padding: 0.4rem; border-top: 0.03rem solid #f5f5f5; }
.nearby p { width: 9.2rem; height: 0.8rem; font-size: 0.4rem; line-height: 0.8rem; }
.nearby p span { font-size: 0.4rem; }
}

/* 右侧 */
.rightCont { float: left; width: 380px; overflow: hidden; margin-top: 20px; background: #fff; }
.rightCont .txt { float: left; width: 340px; overflow: hidden; padding: 15px 20px; font-size: 15px; line-height: 32px; }
.rightCont .txt .chat { float: left; width: 340px; overflow: hidden; margin-top: 10px; padding-top: 10px; border-top: 1px solid #f5f5f5; font-size: 15px; line-height: 32px; }
.rightNews { float: left; width: 380px; overflow: hidden; margin-top: 20px; background: #fff; }
.rightNewsList { float: left; width: 340px; overflow: hidden; margin: 20px 20px 0; }
.rightNewsList dl { float: left; width: 340px; height: 80px; overflow: hidden; margin-bottom: 20px; }
.rightNewsList dl dt { float: left; width: 130px; height: 80px; overflow: hidden; }
.rightNewsList dl dt a img { width: 130px; height: 80px; overflow: hidden; }
.rightNewsList dl dd { float: right; width: 195px; height: 80px; overflow: hidden; }
.rightNewsList dl dd .tit { float: left; width: 195px; height: auto; max-height: 52px; overflow: hidden; font-size: 15px; line-height: 26px; }
.rightNewsList dl dd .time { float: left; width: 195px; height: 28px; overflow: hidden; font-size: 13px; line-height: 28px; color: #999; }
.rightNewsList dl dd .hits { float: left; width: 195px; height: 28px; overflow: hidden; font-size: 13px; line-height: 28px; color: #999; }
.rightNewsList dl dd .hits:after { float: left; margin-right: 8px; font-family: "iconfont"; content: "\e73d"; font-size: 16px; }
.rightClass { float: left; width: 380px; overflow: hidden; margin-top: 20px; background: #fff; }
.rightClass .txt { float: left; width: 360px; overflow: hidden; margin: 4px 0 20px 20px; }
.rightClass .txt a { float: left; width: 78px; height: 36px; overflow: hidden; margin: 15px 20px 0 0; padding: 0 10px; border: 1px solid #dbdbdb; border-radius: 2px; font-size: 15px; line-height: 36px; text-align: center; }

@media only screen and (max-width: 759px) {
.rightCont { width: 10rem; margin-top: 0.4rem; }
.rightCont .txt { width: 9.2rem; padding: 0.3rem 0.4rem 0.4rem; font-size: 0.4rem; line-height: 0.8rem; }
.rightCont .txt .chat { width: 9.2rem; margin-top: 0.3rem; padding-top: 0.3rem; font-size: 0.4rem; line-height: 0.8rem; }
.rightNews { width: 10rem; margin-top: 0.4rem; }
.rightNewsList { width: 9.2rem; margin: 0.4rem 0.4rem 0; }
.rightNewsList dl { width: 9.2rem; height: 2rem; margin-bottom: 0.4rem; }
.rightNewsList dl dt { width: 3rem; height: 2rem; }
.rightNewsList dl dt a img { width: 3rem; height: 2rem; }
.rightNewsList dl dd { width: 5.9rem; height: 2rem; }
.rightNewsList dl dd .tit { width: 5.9rem; max-height: 1.3rem; font-size: 0.5rem; line-height: 0.65rem; }
.rightNewsList dl dd .time { width: 5.9rem; height: 0.7rem; font-size: 0.36rem; line-height: 0.7rem; }
.rightNewsList dl dd .time:after { margin-right: 0.15rem; font-size: 0.4rem; }
.rightNewsList dl dd .hits { display: none; }
.rightClass { width: 10rem; margin-top: 0.4rem; }
.rightClass .txt { width: 10rem; margin: 0 0 0.4rem; }
.rightClass .txt a { width: 2.34rem; height: 1rem; margin: 0.4rem 0 0 0.4rem; padding: 0 0.2rem; border: 0.03rem solid #f5f5f5; font-size: 0.4rem; line-height: 1rem; }
}

/* 底部 */
.footer { float: left; width: 100%; overflow: hidden; margin-top: 20px; padding: 20px 0; font-size: 14px; line-height: 34px; text-align: center; color: rgba(255, 255, 255, 0.8); background: #209e85; }
.footer span { margin-right: 15px; }
.footer a { color: rgba(255, 255, 255, 0.8); }
.footer a:hover { color: #fff; }

@media only screen and (max-width: 759px) {
.footer { margin-top: 0.4rem; padding: 0.4rem 0; font-size: 0.4rem; line-height: 0.8rem; }
}

/* 其他 */
.tags { float: left; width: 800px; overflow: hidden; padding-bottom: 20px; background: #fff; }
.tags a { float: left; width: 78px; height: 36px; overflow: hidden; margin: 20px 0 0 20px; padding: 0 15px; border: 1px solid #dbdbdb; border-radius: 3px; font-size: 15px; line-height: 36px; text-align: center; }

.sitemap { float: left; width: 800px; overflow: hidden; margin-top: 20px; background: #fff; }
.sitemap .tit { float: left; width: 760px; height: 50px; overflow: hidden; padding: 0 20px; border-bottom: 1px solid #f5f5f5; font-size: 16px; line-height: 50px; font-weight: 700; }
.sitemap .tit span { float: left; width: 5px; height: 18px; overflow: hidden; margin: 16px 10px 16px 0; border-radius: 5px; background: #209e85; }
.sitemap .txt { float: left; width: 760px; overflow: hidden; padding: 10px 20px; font-size: 15px; line-height: 40px; }
.sitemap .txt a { margin-right: 15px; }

@media only screen and (max-width: 759px) {
.tags { width: 10rem; padding-bottom: 0.4rem; }
.tags a { width: 2.34rem; height: 1rem; margin: 0.4rem 0 0 0.4rem; padding: 0 0.2rem; border: 0.03rem solid #f5f5f5; font-size: 0.4rem; line-height: 1rem; }

.sitemap { width: 10rem; margin-top: 0.4rem; }
.sitemap .tit { width: 9.2rem; height: 1.2rem; padding: 0 0.4rem; border-bottom: 0.03rem solid #f5f5f5; font-size: 0.4rem; line-height: 1.2rem; }
.sitemap .tit span { width: 0.1rem; height: 0.4rem; margin: 0.4rem 0.3rem 0.4rem 0; }
.sitemap .txt { width: 9.2rem; padding: 0.3rem 0.4rem; font-size: 0.4rem; line-height: 1rem; }
.sitemap .txt a { margin-right: 0.4rem; }
}

/* 分页 */
#pages { float: left; width: 100%; overflow: hidden; font-size: 14px; text-align: center; }
#pages a { display: inline-block; width: 40px; height: 45px; border-radius: 2px; line-height: 45px; text-align: center; color: #333; background: #f5f5f5; }
#pages a.a1 { width: 80px; height: 45px; border-radius: 2px; background: #f5f5f5; }
#pages a.pageNum { display: none; }
#pages a:hover { text-decoration: none; color: #000; }
#pages span { display: inline-block; width: 40px; height: 45px; border-radius: 2px; font-size: 14px; line-height: 45px; text-align: center; color: #fff; background: #209e85; }

@media only screen and (max-width: 759px) {
#pages { font-size: 0.36rem; }
#pages a { width: auto; height: 1rem; padding: 0 0.15rem; line-height: 1rem; }
#pages a.a1 { width: 1.6rem; height: 1rem; }
#pages span { width: auto; height: 1rem; padding: 0 0.15rem; font-size: 0.36rem; line-height: 1rem; }
}


@media only screen and (max-width: 800px) {
html { min-width: 300px; }
body { min-width: 300px; }
.main { width: 10rem; }
.sideLeft { width: 10rem; }
.sideRight { float: left; width: 10rem; }
.mt20 { margin-top: 0.4rem; }
.mt30 { margin-top: 0.4rem; }
.mb30 { margin-bottom: 0.4rem; }
.listTit { width: 9.2rem; height: 1.2rem; padding: 0 0.4rem; border-bottom: 0.03rem solid #f5f5f5; font-size: 0.4rem; line-height: 1.2rem; }
.listTit span { width: 0.1rem; height: 0.4rem; margin: 0.4rem 0.3rem 0.4rem 0; }
.rightTit { width: 9.2rem; height: 1.2rem; padding: 0 0.4rem; border-bottom: 0.03rem solid #f5f5f5; font-size: 0.4rem; line-height: 1.2rem; }
.rightTit span { width: 0.1rem; height: 0.4rem; margin: 0.4rem 0.3rem 0.4rem 0; }
.crumbs { height: 1.2rem; margin-top: 0.4rem; padding: 0 0.4rem; border-bottom: 0.03rem solid #f5f5f5; font-size: 0.4rem; line-height: 1.2rem; color: #999; }
.crumbs a { color: #999; }
.crumbs:after { margin-right: 0.15rem; font-size: 0.4rem; }

.header { position: absolute; right: 0; left: 0; z-index: 999; width: 10rem; height: 1.3rem; overflow: visible; margin: 0 auto; }
.header .area { position: relative; width: 10rem; height: 1.3rem; overflow: visible; }
.header .area .logo { position: relative; width: 10rem; height: 1.3rem; }
.header .area .logo .left { position: absolute; top: 0.25rem; left: 0.4rem; width: 0.89rem; height: 0.8rem; background: url(../images/home.png) no-repeat; -moz-background-size: 0.89rem 0.8rem; -webkit-background-size: 0.89rem 0.8rem; -o-background-size: 0.89rem 0.8rem; background-size: 0.89rem 0.8rem; }
.header .area .logo .left a { float: left; width: 0.89rem; height: 0.8rem; overflow: hidden; }
.header .area .logo .left img { display: none; }
.header .area .logo .line { display: none; }
.header .area .logo .right { width: 10rem; height: 1.3rem; margin-top: 0; }
.header .area .logo .right p { width: 10rem; height: 1.3rem; font-size: 0.53rem; line-height: 1.3rem; text-align: center; }
.header .area .logo .right span { display: none; }
.header .area .navClick { display: block; position: absolute; top: 0.4rem; right: 0.4rem; width: 0.75rem; height: 0.5rem; overflow: hidden; }
.header .area .navClick a { float: left; width: 0.75rem; height: 0.5rem; background: url(../images/nav.png) no-repeat; -moz-background-size: 0.75rem 0.5rem; -webkit-background-size: 0.75rem 0.5rem; -o-background-size: 0.75rem 0.5rem; background-size: 0.75rem 0.5rem; }
.header .area .navBox { display: none; float: left; width: 10rem; height: auto; z-index: 999; margin: 0 auto; background: #fff; box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); }
.header .area .navBox .nav { width: 10rem; height: auto; font-size: 0.4rem; line-height: 1.3rem; text-align: left; }
.header .area .navBox .nav a { float: left; width: 9rem; height: 1.3rem; overflow: hidden; margin-left: 0; padding: 0 0.5rem; border-bottom: 1px solid #f5f5f5; font-size: 0.4rem; line-height: 1.3rem; color: #222; }
.headerSpace { height: 1.3rem; }
.headerBtn { display: none; }

.list { width: 10rem; }
.list dl { width: 9.2rem; height: 2rem; margin: 0 0.4rem; padding: 0.4rem 0; border-bottom: 0.03rem solid #f5f5f5; }
.list dl dt { width: 3rem; }
.list dl dt a img { width: 3rem; height: 2rem; }
.list dl dd { width: 5.9rem; }
.list dl dd .tit { width: 5.9rem; height: auto; max-height: 1.3rem; margin-top: 0; font-size: 0.5rem; line-height: 0.65rem; font-weight: 400; }
.list dl dd .keyBox { width: 5.9rem; height: 0.7rem; font-size: 0.36rem; line-height: 0.7rem; }
.list dl dd .keyBox .time { margin-right: 0; }
.list dl dd .keyBox .time:after { margin-right: 0.15rem; font-size: 0.4rem; }
.list dl dd .keyBox .key { display: none; }
.list dl dd .des { display: none; }

.class { width: 10rem; }
.class ul { margin-top: 0; margin-bottom: 0.35rem; }
.class ul li { width: 2.8666rem; height: 3.8666rem; margin-top: 0.35rem; margin-left: 0.35rem; }
.class ul li a img { width: 2.8666rem; height: 2.8666rem; }
.class ul li a p { width: 2.8666rem; height: 1rem; font-size: 0.4rem; line-height: 1rem; }

.show { width: 10rem; padding-bottom: 0.4rem; }
.show h1 { width: 9rem; height: auto; margin: 0.5rem 0 0 0.5rem; font-size: 0.5rem; line-height: 0.9rem; }
.show .copyfrom { width: 9.2rem; height: 1rem; margin: 0 0 0 0.4rem; font-size: 0.37rem; line-height: 1rem; }
.show .copyfrom p { margin: 0 0.3rem; }
.show .description { width: 9.2rem; margin: 0.2rem 0 0; padding: 0.3rem 0.4rem; font-size: 0.4rem; line-height: 0.8rem; }
.show .content { width: 9.2rem; margin: 0.3rem 0 0 0.4rem; line-height: 0.8rem; }
.show .content p { margin-top: 0.13rem; }
.show .content p img { float: left; width: 9.2rem !important; height: auto !important; overflow: hidden; margin-top: 0.3rem; margin-bottom: 0.43rem; }
.keywords { float: left; width: 9.2rem; height: auto; overflow: hidden; margin-top: 0.3rem; margin-left: 0.4rem; }
.keywords a { float: left; height: 0.9rem; overflow: hidden; margin-right: 0.3rem; margin-left: 0; padding: 0 0.4rem; border: 0.03rem solid #ddd; border-radius: 3px; font-size: 0.4rem; line-height: 0.9rem; }
.nearby { width: 9.2rem; padding: 0.4rem; border-top: 0.03rem solid #f5f5f5; }
.nearby p { width: 9.2rem; height: 0.8rem; font-size: 0.4rem; line-height: 0.8rem; }
.nearby p span { font-size: 0.4rem; }

.rightCont { width: 10rem; margin-top: 0.4rem; }
.rightCont .txt { width: 9.2rem; padding: 0.3rem 0.4rem 0.4rem; font-size: 0.4rem; line-height: 0.8rem; }
.rightCont .txt .chat { width: 9.2rem; margin-top: 0.3rem; padding-top: 0.3rem; font-size: 0.4rem; line-height: 0.8rem; }
.rightNews { width: 10rem; margin-top: 0.4rem; }
.rightNewsList { width: 9.2rem; margin: 0.4rem 0.4rem 0; }
.rightNewsList dl { width: 9.2rem; height: 2rem; margin-bottom: 0.4rem; }
.rightNewsList dl dt { width: 3rem; height: 2rem; }
.rightNewsList dl dt a img { width: 3rem; height: 2rem; }
.rightNewsList dl dd { width: 5.9rem; height: 2rem; }
.rightNewsList dl dd .tit { width: 5.9rem; max-height: 1.3rem; font-size: 0.5rem; line-height: 0.65rem; }
.rightNewsList dl dd .time { width: 5.9rem; height: 0.7rem; font-size: 0.36rem; line-height: 0.7rem; }
.rightNewsList dl dd .time:after { margin-right: 0.15rem; font-size: 0.4rem; }
.rightNewsList dl dd .hits { display: none; }
.rightClass { width: 10rem; margin-top: 0.4rem; }
.rightClass .txt { width: 10rem; margin: 0 0 0.4rem; }
.rightClass .txt a { width: 2.34rem; height: 1rem; margin: 0.4rem 0 0 0.4rem; padding: 0 0.2rem; border: 0.03rem solid #f5f5f5; font-size: 0.4rem; line-height: 1rem; }

}