/***
 *	DedeCMS v5.7 Style (Default Style)
 *	dedecmsv.com  Author Networker  2010.02.05
 **/
 
/*---------- import ---------*/



/*---------- base ---------*/
*{
	padding:0px;
	margin:0px;
}
html{
	background:#e9e9e9;
}

body{
	font:12px Verdana,Arial,Tahoma;background:url(../images/bg.gif) repeat-x;
	
}

img{
	border:none;
}

a{
	color:#000000;
	text-decoration:none;
}
a:hover{
	color:#ff0000;
	text-decoration:underline;
}
ul{
	list-style:none;
}
input,select,button{
	font:12px Verdana,Arial,Tahoma;
	vertical-align:middle;
}
/*---------- stock ---------*/
.center{
	margin:0px auto;
}
.w960{
	width:960px;
	
}
.toop{background:url(../images/toop.jpg) repeat-x;height:92px;}

/* 导航*/
.main{width:960px;  margin:0px auto;
}   
.main .main_logo{   
float:left;
width:220px;   
margin-top:10px;
 
}  

.main_logo span{  
width:220px;  
 font-size:13px;
text-align:center;
margin-top:5px;
float:left;
color:#999a9e;
font-family:"微软雅黑";
letter-spacing : 2pt;
}  

.clear-float{clear:both}/* 清除有float的元素。 */  

.main .menu_nav{width:740px;height:55px;margin-top:20px;background:url(../images/nav_bg.gif) repeat-x top;float:left;}
.menu_nav .nav_content{padding-left:4px;background:url(../images/nav_l_bg.gif) no-repeat left top;float:left;}
.menu_nav .nav_content li{width:90px;height:55px;padding-left:0px;padding-right:5px;background:url(../images/nav_li_right.gif) no-repeat right top;float:left;line-height:55px;text-align:center;font-size:14px;font-weight:bold;}
.menu_nav .nav_content li a{color:#fff;width:90px;height:55px;display:block;}
.menu_nav .nav_content li.hover{line-height:55px;}
.menu_nav .nav_content li.hover a,.menu_nav .nav_content li a:hover{width:90px;height:55px;background:url(../images/nav_li_current.gif) no-repeat bottom;display:block;color:#000;}
.menu_nav_right{padding-right:20px;background:url(../images/nav_r_bg.gif) no-repeat right top;float:right;margin-left:20px;padding-top:13px;height:23px;padding-bottom:12px;}

/* 幻灯*/


.js {
	POSITION: relative; WIDTH: 960px; HEIGHT: 300px;
	margin:0 auto;
}
.jsNav {
	BACKGROUND: url(../images/jsNav.png) no-repeat
}
.prevBtn {
	BACKGROUND: url(../images/jsNav.png) no-repeat
}
.nextBtn {
	BACKGROUND: url(../images/jsNav.png) no-repeat
}
.imgSelected {
	BACKGROUND: url(../images/jsNav.png) no-repeat
}
.jsNav {
	POSITION: absolute; WIDTH: 155px; BOTTOM: 20px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 30px; RIGHT: 10px; FONT-WEIGHT: bold
}
.jsNav A {
	TEXT-ALIGN: center; LINE-HEIGHT: 30px; WIDTH: 25px; FLOAT: left; VERTICAL-ALIGN: middle
}
.prevBtn {
	DISPLAY: block; BACKGROUND-POSITION: 0px -30px; HEIGHT: 30px
}
.nextBtn {
	DISPLAY: block; BACKGROUND-POSITION: -100px -30px; HEIGHT: 30px
}
.imgSelected {
	BACKGROUND-POSITION: 1px -60px; COLOR: #000
}


.comom{width:960px;  margin:0px auto; background:#fff;padding-bottom:10px;
}   


.comom .comom_left{   
margin-top:5px;
float:left;  
width:195px;
overflow:hidden;  
}

/* ============产品图片列表============== */

.title_top{
width:195px;
height:55px;
background:url(../images/title_top.jpg) no-repeat;
}

.title_li{
width:195px;
background:url(../images/title_li.jpg) repeat-y;
}

.title_bottom{
width:195px;
height:15px;
background:url(../images/title_bottom.jpg) no-repeat;
}


div.productlist_title{
margin:0px;
padding:0px 31px 2px;
text-align:center;
}

div.productlist_title div.title{
text-align:center;
overflow: hidden;
white-space:nowrap;
background:url(../images/arrow.jpg) 0px 3px no-repeat;
height:26px;
text-align:left;
padding-left:23px;
}

div.productlist_title a:link,div.productlist_title a:visited,div.productlist_title a:active{
color:#333;
font:12px/28px arial,simsun;
text-decoration: none;
}

div.productlist_title a:hover{
color:#e10000;
text-decoration: underline;
font:12px/28px arial,simsun;
}

.comom .comom_right{  
margin-top:5px; 
float:right;
width:740px;   
 
} 


.pdv_border{padding-top:10px;padding-bottom:10px;}

.shop{
	width:740px;
	height:30px;
	overflow:hidden;
	float:left;
	clear:both;
	overflow:hidden;
	background:url(../images/shop_h3.gif) no-repeat;
}
.shop h3{
margin-top:8px; 
	overflow:hidden;
	float:left;
	clear:both;
	overflow:hidden;font-size :14px;
	padding-left:20px;
}

.listbox{
	width:740px;
	overflow:hidden;
	float:left;
	clear:both;
	overflow:hidden;
}

.e8{/*图集列表专用大图列表*/
	width:100%;
	overflow:hidden;
	clear:both;
	margin-left:12px;
	margin-top:16px;
}
.e8 li{
	width:168px;
	height:184px;
	float:left;
	display:block;
	overflow:hidden;
	margin-right:8px;
	text-align:center;
}
.e8 li .pic{
	width:160px;
	height:120px;
	display:block;
	background:url(../images/picbox-listbg.gif) no-repeat;
	text-align:left;
	overflow:hidden;
}
.e8 li .pic img{
	width:152px;
	height:112px;
	display:block;
	margin-left:3px;
	margin-top:3px;
	border:none;
}
.e8 li .title{
	height:31px;
	display:block;
	line-height:31px;

	overflow:hidden;
}
.e8 li .date{
	color:#666;
}
.e8 li .date small{
	line-height:17px;
	font-size:12px;
	color:#999;
}

.dede_pages{
}
.dede_pages ul{
	float:left;
	padding:12px 0px 12px 16px;
}
.dede_pages ul li{
	float:left;
	font-family:Tahoma;
	line-height:17px;
	margin-right:6px;
	border:1px solid #E9E9E9;
}
.dede_pages ul li a{
	float:left;
	padding:2px 4px 2px;
	color:#555;
	display:block;
}
.dede_pages ul li a:hover{
	color:#690;
	text-decoration:none;
	padding:2px 4px 2px;
}
.dede_pages ul li.thisclass,
.dede_pages ul li.thisclass a,.pagebox ul li.thisclass a:hover{
	background-color:#F8F8F8;
	padding:2px 4px 2px;
	font-weight:bold;
}
.dede_pages .pageinfo{
	line-height:21px;
	padding:12px 10px 12px 16px;
	color:#999;
}
.dede_pages .pageinfo strong{
	color:#555;
	font-weight:normal;
	margin:0px 2px;
}
  
.place{
	height:30px;
	line-height:30px;
	text-indent:18px;
	color:#000;
	overflow:hidden;
	font-family:宋体;
	margin-bottom:6px;
	text-align:left;
}
.place strong{
	color:#3000;
	font-weight:normal;
	letter-spacing:1px;
}
.place a{
	color:#000;
	margin:0px 2px;
}
.place a:hover{
	color:#FF3366
	margin:0px 2px;
	TEXT-DECORATION: underline;
}
  

.e2{width:720px;



} 

.e2 li{
line-height:25px;
border-bottom : 1px solid #e3e3e3; 

padding:10px;
} 

  
.nesw_title{
	height:56px;
	line-height:56px;
	text-align:center;
	overflow:hidden;
	padding-top:10px;
}
.nesw_title h2{
	font-size:24px;
	color:#2b2b2b;
}
.info{
	height:24px;
	line-height:17px;
	text-align:center;
	overflow:hidden;
	color:#666;
}
.info small{
	margin-left:8px;
	margin-right:3px;
	color:#999;
	font-size:12px;
}
.info a{
	color:#690;
}
  
  
/* 联系我们 */    
 
.lianxi_top{
margin-top:10px; 
width:195px;
height:37px;
background:url(../images/lianxi_top.jpg) no-repeat;
}
.lianxi_top h3{
margin-left:10px; 
float:left;  
font-size:16px;
margin-top:10px; 

}


.lianxi_li{
width:195px;
background:url(../images/lianxi_li.jpg) repeat-y;
}

.lianxi_bottom{
width:195px;
height:1px;
background:url(../images/lianxi_bottom.jpg) no-repeat;
}

.dizhi{padding:15px;}
  
  
.dizhi p{line-height:20px;}
  
  
  
  
.shop_com{width:740px;/* 总的宽度 */   

}   
.shop_com .com_left{   
float:left;  
margin:10px;
width:200px;  
}   
.shop_com .com_right{   
float:left; 
margin-left:5px; 
width:450px;  

}   

.content{
	font-size:14px;
	padding:12px 16px;
	line-height:25px;
	color:#333;
}
  
.shop_title{
	font-size:14px;
	padding:12px 16px;
	line-height:20px;
	color:#333;
}

.shop_title h2{
	font-size:16px;
	color:#333;
}
  
  
.foody{width:960px;/* 总的宽度 */   
margin:0px auto;color:#fff;background:#177dc0;
}   
.foody .col-1{   
float:left;  
margin-left:5px;
width:700px;
}   
.foody .col-2{   
float:left;
width:240px; 
} 
.foot_a{     
margin-left:20px;
margin-top:10px;
line-height:30px;
}
.foot_a a{     
color:#fff;
}

.foot_a a:hover{     
color:#fff;
}

.foot_b{     
margin-left:20px;
height:20px;
}  
.foot_c{     
margin-left:20px;
}  

.foot_right{     
margin-top:20px;
margin-left:20px;
}  
.clear-float{clear:both}/* 清除col1和col2的float,否则main的高度会出错 没有包住它里面的有float的元素。 */   

.foot_booy{width:960px;  margin:0px auto;height:12px; background:url(../images/foot_booy.gif) no-repeat;
}  
