<!DOCTYPE html>
<html lang="en">
<head>
<meta name="applicable-device" content="pc">
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title>{dede:field.title/}-{dede:global.cfg_titlelast/}</title>
<meta name="keywords" content="{dede:field.keywords/}"/>
<meta name="description" content="{dede:field.description function='Html2Text(@me)'/}"/>
{dede:include filename="ys.htm"/}
</head>
<body>
{dede:include filename="head.htm"/}
<ins class="wrap"><ins class="fw">
	<ins class="bk20"></ins>
	<ins class="catpos">您现在的位置{dede:field.position/}</ins>
	<ins class="bk20"></ins>
	<ins class="contBox">
		<ins class="lt contLeft">
			<ins class="view">
				<ins class="view_t">
					<h1>{dede:field.title/}</h1>
					<bdo>时间：<font >{dede:field.pubdate  function="MyDate('Y-m-d',@me)"/} </font>来源：[{dede:field.source/}]</bdo>
				</ins>
			</ins>
			<ins class="content">
				<ins class="contBox">
			{dede:field.body/}
文章《{dede:field.title/}》原创来自：<a href="{dede:global.cfg_basehost/}">{dede:global.cfg_indexname/}</a>
<p></p><p>与《{dede:field.title/}》相关文章：</p>{dede:likearticle row='5' titlelen='70'}<p>➟<a href="[field:arcurl/]">[field:title/]></p>{/dede:likearticle}
				</ins>
				<ins class="bk30"></ins>
			</ins>
			<ins class="view_b">
				<ul>
					<li> {dede:prenext get='pre'/}	</li>
					<li>   {dede:prenext get='next'/}  </li>
				</ul>
			</ins>
			<ins class="bk30"></ins>
		</ins>
	{dede:include filename="left.htm"/}
		<ins class="bk"></ins>
	</ins>
	<ins class="bk30"></ins>
</ins></ins>
 {dede:include filename="footer.htm"/}
</body>
</html>
