  <div class="rt contRight">
	<div class="content_r4">
		<div class="main1_c_t">{dede:field.typename/}</div>
		<div class="index_news_box">
			<ul class="hover">
			{dede:channel type='top' row='5'}
				<li style='line-height:57px'><a href="[field:typeurl/]">[field:typename/]</a></li>
			{/dede:channel}
			</ul>
		</div>
	</div>
	<div class="content_r4">
		<div class="main1_c_t">新闻资讯</div>
		<div class="index_news_box">
			<ul class="hover">
			{dede:arclist type='all' row='5' titlelen='100' orderby='rand'}
				<li style='line-height:50px'><a href="[field:arcurl/]" title="[field:title/]">[field:title/]</a></li>
			{/dede:arclist}
			</ul>
		</div>
	</div>
</div>
