<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="applicable-device" content="pc" />
<meta name="location" content="province={dede:global.cfg_province/};city={dede:global.cfg_city/}" />
<title>{dede:global.cfg_webname/}</title>
<script language="JavaScript" type="text/javascript" src="/js/uadirect.js"></script>
<meta http-equiv="mobile-agent" content="format=html5;url={dede:global.cfg_waphost/}/" />
<meta name="mobile-agent" content="format=xhtml;url={dede:global.cfg_waphost/}" />
<meta name="description" content="{dede:global.cfg_description/}" />
<meta name="keywords" content="{dede:global.cfg_keywords/}" />
<script language="javascript" src="{dede:global.cfg_templets_skin/}/daxibei/js/MSClass.js"></script>
<link href="{dede:global.cfg_templets_skin/}/daxibei/css/style.css" rel="stylesheet" type="text/css" />
<link rel="canonical" href="{dede:global.cfg_basehost/}">
</head>
<body>
<div id="main">
{dede:include filename="head.htm"/}
<div id="content">
<div class="news left">
<h2><span class="more right"><img src="{dede:global.cfg_templets_skin/}/daxibei/images/morepic.jpg" width="48" height="12" /></span>新闻资讯<span class="english">NEWS</span></h2>
<ul>
    {dede:arclist titlelen='30' row='5'}
    <li><span>[[field:pubdate function="MyDate('m-d',@me)"/]]</span><a href="[field:arcurl /]">[field:title /]</a></li>
    {/dede:arclist}
</ul>
</div>
<div class="aboutus left">
<h2><span class="more right"><img src="{dede:global.cfg_templets_skin/}/daxibei/images/morepic.jpg" width="48" height="12" /></span>{dede:global.cfg_indexname/}公司简介<span class="english">ABOUT US</span></h2>
{dede:global.cfg_about/}
</div>
<div class="contactus right">
<h2><span class="more right"><img src="{dede:global.cfg_templets_skin/}/daxibei/images/morepic.jpg" width="48" height="12" /></span>联系我们<span class="english">CONTACT US</span></h2>
<ul>
<li class="name">{dede:global.cfg_webname/}</li>
<li>地址：武昌区中北路267号世纪彩城世纪大厦1605室 {dede:global.cfg_indexname/}</li>
<li>电话：027-87797083</li>
</ul>
</div>
<div class="clear"></div>
<div class="proshow">
<h2><span class="more right"><img src="{dede:global.cfg_templets_skin/}/daxibei/images/morepic.jpg" width="48" height="12" /></span>产品展示<span class="english">PRODUCTS</span></h2>
<ul>
        {dede:arclist row=10  type='image.' imgwidth='170' imgheight='112' titlelen=14}
<li><a href="[field:arcurl/]">[field:image/]</a><p>[field:title/]</p></li>
        {/dede:arclist}
</ul>
<div class="clear"></div>
</div>
<div class="friendlink">
<h2 class="left">友情链接：</h2>
<p class="right">
{dede:flink row='24'}[field:link/] {/dede:flink}
</p>
<div class="clear"></div>
</div>
</div>
<div class="clear"></div>
{dede:include filename="footer.htm"/}
</div>
</body>
</html>
