<div id="right">
<div id="MODBLK_488" class="mod_block mb_n2TQmDNi_block">
<h3 class="blk_t">公司新闻</h3>
<div class="list_main">
	<div class="list_con">
	<ul class="titlelist">

{dede:arclist row=8 titlelen=30 orderby='pubdate' }

<LI><a href='[field:arcurl/]'>[field:title/]</a></LI>

{/dede:arclist}

	</ul>
    <div class="list_more"><a href="/"><img src="{dede:global.cfg_templets_skin/}/image/more_370.jpg" width="32" height="9" border="0" /></a></div>

	</div>
	<div class="list_bot"></div>
</div>
<div class="blankbar"></div>
</div>
<div id="MODBLK_349" class="mod_block mb_sXmQi2b1_block">
<h3 class="blk_t">友情链接</h3>
<div class="list_main">
				<div class="list_con">
					<ul class="flink_index">
{dede:flink row='24'}<li>[field:link/]</li>{/dede:flink}

</ul><div class="blankbar1"></div>
				</div>
	<div class="list_bot"></div>
</div>
<div class="blankbar"></div>

</div>
		</div>
