<body class="body1">
<div id="getValues" value="index" style="display:none;"></div>
<div id="getParams" value='a:0:{}' style="display:none;"></div>
<div id="main_div1">
<div id="main_div">
<div id="top">
<div id="header">
		<div id="logo"><div id="MODBLK_222" class="mod_block media_image mb_logo_block">
<div class="flash_image">
<img src="{dede:global.cfg_templets_skin/}/image/ZcpHqbMB.png" alt="" />
</div>
</div>
			</div>
 <!-- 站点语言模块Start -->
<div class="switch_langbar">
</div>
<!-- 站点语言模块End -->
			</div>
</div>
<div id="nav1">
		<div id="nav">
	<div id="MODBLK_225" class="mod_block mb_56YrvV58_block">
	<div class="nav_l"></div>
			<ul id="nav_U8Tcko" class="navigation">
				<li>
		<a href="{dede:global.cfg_cmsurl/}/">
	首页</a>
		</li>
	{dede:channel type='top' row=5}
<LI><a href='[field:typelink/]'>[field:typename/]</a> </LI>
{/dede:channel}
				</ul>
			<div class="nav_r"></div>
<script type="text/javascript">
//$(".navigation li:first").css("background-image","none");
var topMenuNum = 0;
$("#nav_U8Tcko li span").hover(
	function(){
		topMenuNum++;
		$(this).attr("id","kindMenuHover"+topMenuNum);
		$("#kindMenuHover" + topMenuNum + " > ul").show();
		$(this).parent().addClass("hover");
	},
	function(){
		$("#"+$(this).attr("id")+" > ul").hide();
		$(this).attr("id","");
		$(this).parent().removeClass("hover");
	}
);
</script>
</div>
 </div>
 </div>
<div class="web_bg">
<div id="mainmain">
	<div id="banner">
	<div id="MODBLK_223" class="mod_block media_image mb_banner_block">
<div class="flash_image">
<img src="{dede:global.cfg_templets_skin/}/image/jiadian_.jpg" alt="" />
</div>
</div>
	</div>
