<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="applicable-device" content="pc" />
<meta name="location" content="province={dede:global.cfg_province/};city={dede:global.cfg_city/}" />
<title>{dede:global.cfg_webname/}</title>
<script language="JavaScript" type="text/javascript" src="/js/uadirect.js"></script>
<meta http-equiv="mobile-agent" content="format=html5;url={dede:global.cfg_waphost/}/" />
<meta name="mobile-agent" content="format=xhtml;url={dede:global.cfg_waphost/}" />
<meta name="description" content="{dede:global.cfg_description/}" />
<meta name="keywords" content="{dede:global.cfg_keywords/}" />
<link rel="stylesheet" type="text/css" href="{dede:global.cfg_templets_skin/}/css/style000.css" />
<link rel="canonical" href="{dede:global.cfg_basehost/}">
</head>
<!--  页面头部【end】 -->
{dede:include filename="head.htm"/}
	<div id="main_con">
			<div id="left">
		<div id="MODBLK_490" class="mod_block mb_uGcae4rV_block">
<h3 class="blk_t">公司介绍</h3>
<div class="list_con company_intro">
{dede:global.cfg_about /}<div class="list_more"><a href="/"><img src="{dede:global.cfg_templets_skin/}/image/more_370.jpg" width="32" height="9" border="0" /></a></div>
</div><div class="list_bot"></div>
</div>
<div id="MODBLK_484" class="mod_block mb_XIEJdgSg_block">
<h3 class="blk_t">最新产品</h3>
		<div class="newprod">
				<div class="newprod_top"></div>
				<div class="newprod_con">
<div class="pro_over">
	<table class="media_grid" cellspacing="4" width="100%">
		<tr>
		{dede:arclist row=8 titlelen=22 orderby='pubdate' }
					<div class="prod_list_list">
				<div class="prod_list_pic"><a href="[field:arcurl/]" title="[field:title/]">
			<img src='[field:litpic/]' alt='[field:title function='html2text(@me)'/]' border="0" /></a></div>
				<div class="prod_list_name"><a href="[field:arcurl/]" title="[field:title/]">[field:title/]</a></div>
			<div class="newprod_intr">分类：[[field:typelink/]]</div>
			</div>
			{/dede:arclist}
		</tr>	</table>
</div>
			</div>
				<div class="list_bot"></div>
			</div>
			<div class="blankbar"></div>
</div>
		</div>
 		{dede:include filename="cebian.htm"/}
		<div class="blankbar"></div>
	</div>
  </div>
<!-- 页脚【start】 -->
{dede:include filename="footer.htm"/}
</body>
</html>
