<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="applicable-device" content="pc">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{dede:field.title/}_{dede:global.cfg_webname/}</title>
<meta name="keywords" content="{dede:field name='keywords'/}" />
<meta name="description" content="{dede:field name='description' function='html2text(@me)'/}" />
<link rel="stylesheet" type="text/css" href="{dede:global.cfg_templets_skin/}/css/style000.css" />
<script type="text/javascript" language="javascript" src="{dede:global.cfg_templets_skin/}/js/jquery-1.js"></script>
<script type="text/javascript" language="javascript" src="{dede:global.cfg_templets_skin/}/js/droppy00.js"></script>
<script type="text/javascript" language="javascript" src="{dede:global.cfg_templets_skin/}/js/thickbox.js"></script>
<script type="text/javascript" language="javascript" src="{dede:global.cfg_templets_skin/}/js/helper00.js"></script>
<script type="text/javascript" language="javascript" src="{dede:global.cfg_templets_skin/}/js/png00000.js"></script>
</head>
<!--  页面头部【end】 -->

{dede:include filename="head.htm"/}
	<div id="main_con">
    <div id="left">



<div class="art_list1" >

	<div class="art_list_title">客户留言</div>
	<span id="messfrm_stat" class="status" style="display:none;"></span>
<form name="messform" id="messform" onsubmit="javascript:return check_mess_info(this);" action="/index.php" method="post">
<input type="hidden" name="_m" id="_m" value="mod_message"  /><input type="hidden" name="_a" id="_a" value="messInsert"  /><input type="hidden" name="_r" id="_r" value="_ajax"  /><!--mess_main-->
<div id="mess_main">
<div class="mess_list">
	<div class="mess_title">昵称</div><div class="mess_input"><input type="text" name="mess[username]" id="mess_username_" value=""  /></div>
 </div>
 <div class="mess_list">
	<div class="mess_title">电子邮件</div><div class="mess_input"><input type="text" name="mess[email]" id="mess_email_" value=""  /></div>
</div>
<div class="mess_list">
	<div class="mess_title">电话</div><div class="mess_input"><input type="text" name="mess[tele]" id="mess_tele_" value=""  /></div>
</div>
<div class="mess_list">
	<div class="mess_title">正文</div><div class="mess_textarea"><textarea name="mess[message]" id="mess_message_" rows="6" cols="36"></textarea></div>
</div>
<div class="mess_list">
<div class="mess_submit"><input name="sub" type="submit" class="subd" value="提交" /></div>
</div>
<div class="message_bg"></div>
</div>
<!--mess_main end-->
<div class="list_bot"></div>

</form></div>

		</div>

		{dede:include filename="cebian.htm"/}


        <div class="blankbar"></div>

	</div>
  </div>


<!-- 页脚【start】 -->
{dede:include filename="footer.htm"/}
</body>
</html>
