 <div class="clear"></div>
   <div  class="copy_line">
{dede:channel type='top' row='10'}
<a href="[field:typeurl/]">[field:typename/]</a> |
{/dede:channel}
<a href="/data/sitemap.html">网站地图</a> | <a href="/data/rssmap.html">rss订阅</a>
</div>
    <div  class="copy_txt">版权所有{dede:global.cfg_titlelast/}  电话：13286139678
    </br>
Q  Q：329435595  邮箱：329435595@qq.com  网址：{dede:global.cfg_basename/}</br>地址：{dede:global.cfg_provnice/}省{dede:global.cfg_city/}市蒙阴县沂蒙商城
                        </div>
    </div>
        </div>
    <div>
    </div>
    </div>
</body>
</html>
