<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="applicable-device" content="pc" />
<meta name="location" content="province={dede:global.cfg_province/};city={dede:global.cfg_city/}" />
<title>{dede:global.cfg_webname/}</title>
<script language="JavaScript" type="text/javascript" src="/js/uadirect.js"></script>
<meta http-equiv="mobile-agent" content="format=html5;url={dede:global.cfg_waphost/}/" />
<meta name="mobile-agent" content="format=xhtml;url={dede:global.cfg_waphost/}" />
<meta name="description" content="{dede:global.cfg_description/}" />
<meta name="keywords" content="{dede:global.cfg_keywords/}" />
<link href="{dede:global.cfg_templets_skin/}/css/css.1.1.css" rel="stylesheet" type="text/css">
<link rel="canonical" href="{dede:global.cfg_basehost/}">
</head>
<body>
{dede:include filename="head.htm"/}
<div class="about mt20">
  <div class="w">
    <div class="aimg l">
    <p><img src="{dede:global.cfg_templets_skin/}/images/about.jpg"></p>
    </div>
    <div class="about_i r rte">
    <div class="titile_i">
        <h2>{dede:global.cfg_indexname/}介绍<span>About us</span></h2>
    </div>
{dede:global.cfg_about/}
    {dede:type typeid='1'}<a class="atxt ale" href="[field:typelink /]">MORE</a>{/dede:type}</div>
  </div>
</div>
<div class="w tit_h" style="padding-bottom:5px;">
  <h2>资讯中心</h2>
  <p>News</p>
</div>
<div class="w">
  <div class="news l" style="margin-left:0;">
    <div class="news_tit">
    {dede:type typeid='1'}
    <a title="[field:typename /]" href="[field:typelink /]" class="more">>> MORE</a>
    <h2>[field:typename /]</h2>
    {/dede:type}
    </div>
    <ul class="mt15">
    {dede:arclist row='12'  typeid='1'  titlelen='58'}
    <li><a href="[field:arcurl/]" title="[field:title/]">[field:title/]..</a> </li>
    {/dede:arclist}
    </ul>
  </div>
  <div class="news l">
    <div class="news_tit">
    {dede:type typeid='2'}
    <a title="[field:typename /]" href="[field:typelink /]" class="more">>> MORE</a>
    <h2>[field:typename /]</h2>
    {/dede:type}
    </div>
    <ul class="mt15">
    {dede:arclist row='12'  typeid='2'  titlelen='58'}
    <li><a href="[field:arcurl/]" title="[field:title/]">[field:title/]..</a> </li>
    {/dede:arclist}
    </ul>
  </div>
  <div class="fqa l">
    <div class="news_tit">
    {dede:type typeid='3'}
    <a title="[field:typename /]" href="[field:typelink /]" class="more">>> MORE</a>
    <h2>[field:typename /]</h2>
    {/dede:type}
    </div>
    <div class="txtMarquee-top">
    <div class="bd mt20">
        <div class="tempWrap" style="overflow:hidden; position:relative; height:342px">
        <ul class="infoList" style="height: 1368px; position: relative; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; top: -168px; ">
            {dede:arclist row='20'  typeid='3'  titlelen='58'}
            <li style="height: 114px; "><a title="[field:title/]" href="[field:arcurl/]">[field:title/]</a>
            <p>[field:description function='cn_substr(@me,110)'/]</p>
            </li>
            {/dede:arclist}
        </ul>
        </div>
    </div>
    </div>
    <script type="text/javascript">
            jQuery(".txtMarquee-top").slide({mainCell:".bd ul",autoPlay:true,effect:"topMarquee",vis:3,interTime:50});
        </script>
  </div>
</div>
<div class="w">
  <div class="w tit_h">
    <h2>客户案例</h2>
    <p style="margin-bottom:10px;">Case</p>
    <p>客户对我们的肯定是我们前进的动力及方向，以客为本竭尽全力满足客户多样化的需求，我们在不断努力...</p>
  </div>
</div>
<div class="case_i">
  <div class="prtlist_i">
    <div class="hd"> <a title="上一个" class="prev"></a> <a class="next" title="下一个"></a></div>
    <div class="bd">
    <div class="tempWrap">
        <div class="tempWrap" style="overflow:hidden; position:relative; width:1050px">
        <ul style="width: 1050px; position: relative; overflow-x: hidden; overflow-y: hidden; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; left: 0px; ">
            {dede:arclist row='20' type='image.' titlelen='58'}
            <li style="float: left; width: 150px; ">
            <div class="casepic">
                <div class="middle-in"><a title="[field:title/]" href="[field:arcurl/]"><img title="[field:title/]" alt="[field:title/]" src="[field:litpic/]"></a></div>
            </div>
            <div class="casetxt"><a title="[field:title/]" href="[field:arcurl/]" style="color:#">[field:title/]</a></div>
            </li>
            {/dede:arclist}
        </ul>
        </div>
    </div>
    </div>
  </div>
  <script type="text/javascript">
        jQuery(".prtlist_i").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"left",autoPlay:true,vis:6,delayTime:500,interTime:3000,trigger:"click"});
        </script></div>
<div class="h0"></div>
<script type="text/javascript" src="<>"></script>
<div class="h20"></div>
<div class="h20"></div>
<div class="footer">
  <div class="footnav">
    <div class="w"><b>友情链接：</b>{dede:flink row='24'}[field:link/] {/dede:flink}</div>
  </div>
  <div class="foot">
    <div class="copyright"> {dede:global.cfg_webname/}<br>
</div>
  </div>
</div>
</div>
</body>
</html>
