.grey{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%)
}

.layui-colla-item > .layui-colla-title{
	background-color: white;
	border: none
}

[data-event], [lay-event], [data-reboot]{
	cursor: pointer
}

.layui-layer, .layui-layer-content{
	border-radius: 12px !important
}

.table-search{
	left: 200px;
	position: absolute;
	top: 22px;
	z-index: 999;
}

.table-search input{
	height: 30px;
	margin-top: 0;
}


textarea.layui-textarea{
	background-color: black;
	color: white;
	line-height: 1.3rem;
}

.slider-inline{
	margin-top: 18px
}

.slider-block{
	padding-top: 18px
}

.slider-block .layui-slider-input{
	top: 2px;
}

.layui-slider-input-txt{
	height: 96%
}

.layui-textarea{
	min-height: auto
}

div.parse-method > div:nth-child(4){
	width: 80px
}

div.parse-method > div:nth-child(2){
	width: 40%
}

.width100{
	width: 100px
}

.width120{
	width: 120px
}

.botadmin-nav{
	border-radius: 2px;
	display: inline-block;
	height: 30px;
	margin-left: 1px;
	top: -5px;
}

.botadmin-nav, .botadmin-nav > .layui-nav-item, .botadmin-nav .layui-nav-child{
	padding: 0
}

.botadmin-nav .layui-nav-child dd > .layui-btn{
	margin-bottom: 0;
}

.botadmin-nav > .layui-nav-item{
	line-height: 30px
}

.botadmin-nav > .layui-nav-item .layui-nav-child{
	line-height: 30px;
	top: 30px;
}

.layui-input, .layui-textarea{
	display: inline-block
}

.layui-elem-field{
	padding: revert !important
}

.layui-transfer-box{
	overflow: hidden !important
}

i[lay-event=del], i[data-event=del]{
	color: red
}

.layui-layer-loading{
	z-index: 2147483001 !important;
}

textarea::placeholder{
	color: rgb(255, 255, 255, 0.28) !important;
}

textarea::-webkit-input-placeholder{
	color: rgb(255, 255, 255, 0.28) !important;
}

textarea::-moz-placeholder{ /* Mozilla Firefox 19+ */
	color: rgb(255, 255, 255, 0.28) !important;
}

textarea:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
	color: rgb(255, 255, 255, 0.28) !important;
}

textarea:-ms-input-placeholder{ /* Internet Explorer 10-11 */
	color: rgb(255, 255, 255, 0.28) !important;
}

input + span{
	position: relative;
}

input + span::before{
	position: absolute;
	right: -20px;
	top: 2px;
}

input:invalid{
	border: 2px solid red;
}

input:invalid + span::before{
	color: red;
	content: "✖";
}

input:valid + span::before{
	color: green;
	content: "✓";
}

.insert-var{
	display: inline-block;
	float: left;
	margin: -5px 20px 0 20px;
}

.insert-var > label{
	color: coral;
	padding: 5px 15px;
}

pre.popup-code{
	border-radius: 6px;
	height: calc(100% - 20px);
	width: 100%;
}

.layer-status{
	_display: none;
	background-color: #ffffff;
	border-radius: 8px 8px 0;
	color: #226A62;
	font-size: 16px;
	font-weight: bolder;
	height: 22px;
	left: 20px;
	padding: 4px;
	position: absolute;
	right: -28px;
	text-align: center;
	top: -20px;
	width: 80px;
	z-index: 29821027;
}