.layui-layer-btn a {
    border-radius: 8px;
}

.lay-step {
    font-size: 0;
    margin: 6px auto;
    overflow: visible;
    white-space: nowrap;
    float: right;
    width: 90%;
}

.step-item {
    display: inline-block;
    line-height: 26px;
    position: relative;
    font-size: 14px;
}

.step-item-tail {
    width: 100%;
    padding: 0 10px;
    position: absolute;
    left: 0;
    top: 13px
}

.step-item-tail i {
    display: inline-block;
    width: 100%;
    height: 1px;
    vertical-align: top;
    background: #c2c2c2;
    position: relative
}

.step-item-tail .step-item-tail-done {
    background: #009688
}

.step-item-head {
    position: relative;
    display: inline-block;
    height: 26px;
    width: 26px;
    text-align: center;
    vertical-align: top;
    color: #009688;
    border: 1px solid #009688;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

.step-item-head.step-item-head-active {
    background: #009688;
    color: #fff
}

.step-item-main {
    display: block;
    position: relative;
    margin-left: -50%;
    margin-right: 50%;
    padding-left: 26px;
    text-align: center
}

.step-item-main-title {
    font-weight: bolder;
    color: #555
}

.step-item-main-desc {
    color: #eee
}

.lay-step + [carousel-item]:before {
    display: none
}

.lay-step + [carousel-item] > * {
    background-color: transparent
}

.step-content {
    padding-top: 80px;
    width: 90%;
    margin: 0 auto;
}

.step-content > div {
    padding: 0;
    display: none;
}

.step-content > div > .layui-tab {
    margin-top: -28px;
}


.step-content > div > i {
    position: relative;
    cursor: pointer;
    z-index: 1;
    display: inline-block;
    width: 28px;
    height: 28px;
    font-size: 28px;
    line-height: 28px;
    box-shadow: 1px 1px #888;
    border-radius: 14px;
    background-color: #F2F2F2;
    color: #0a6e85;
    top: -8px;
    left: -22px;
}

.step-content > div > i:hover {
    box-shadow: 2px 2px #eee;
    color: #0a6e85;
}


.step-content .layui-colla-item, .step-content .layui-tab-content {
    padding: 0;
    margin: 0;
}

#add-rule, #add-detail {
    cursor: pointer;
    display: inline-block;
    font-size: 22px;
    padding-right: 6px;
    color: #0a6e85;
}

.step-content .layui-tab-item .layui-collapse {
    border-top-width: 0 !important;
}

.step-content [lay-filter="step-detail"] .layui-tab-item {
    border: 1px solid #eee;
    padding: 18px;
    border-top-width: 0;
}