<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="applicable-device" content="pc" />
<meta name="location" content="province={dede:global.cfg_province/};city={dede:global.cfg_city/}" />
<title>{dede:global.cfg_webname/}</title>
<script language="JavaScript" type="text/javascript" src="/js/uadirect.js"></script>
<meta http-equiv="mobile-agent" content="format=html5;url={dede:global.cfg_waphost/}/" />
<meta name="mobile-agent" content="format=xhtml;url={dede:global.cfg_waphost/}" />
<meta name="keywords" content="{dede:global.cfg_keywords/}"/>
<meta name="description" content="{dede:global.cfg_description/}"/>
<link href="{dede:global.cfg_templets_skin/}/style/base.css" rel="stylesheet" type="text/css" media="all" />
<link href="{dede:global.cfg_templets_skin/}/style/meiya.css" rel="stylesheet" type="text/css" media="all" />
<script src="{dede:global.cfg_templets_skin/}/style/jquery-1.4.4.min.js" type="text/javascript"></script>
<script src="{dede:global.cfg_templets_skin/}/style/j_commonNews.js"  type="text/javascript"></script>
<script src="{dede:global.cfg_templets_skin/}/style/photo-slide.js" type="text/javascript"></script>
<link rel="canonical" href="{dede:global.cfg_basehost/}">
</head>
<body>
{dede:include filename="head.htm"/}
        <div class="focus">
                    <div id="focus">
        <div id="slide">
        <a id="p1" href="#" target="_blank"><img src="{dede:global.cfg_templets_skin/}/images/focusimg1.jpg" width="995" height="315" alt="" /></a>
        </div>
        <!-- end wrap -->
        <div id="buttons">
        <div id="b1"></div>
        </div>
    <!-- end buttons -->
        </div>
        </div>
        <div class="main clearfix" style="background:none; min-height:900px;">
            <div class="meya_t clearfix">
            <div class="gs_news fl">
                <div class="gs_news_ti" data-tabs=".com_j,.tab_con,hover">最新动态</div>
                <div class="gs_news_con tab_con clearfix">
                    <ul>    {dede:arclist row='4' orderby ='pubdate'}
                        <li>
                            <div style="width: 170px; padding-right: 18px; float: left;"><img src="[field:litpic/]" style="border:1px solid #ccc;" width="170" height="119" alt="" /></div>
                                    <div class="title1"><a href="[field:arcurl/] ">[field:title/]</a></div>
                                    <div class="biaoti">[field:pubdate function="MyDate('Y-m-d',@me)"/]</div>
                                    <div>
                                        <a title=">> 更多" href="[field:arcurl/]" class="lianjie">[field:info/] </a>
                                        <a title=">> 更多" href="[field:arcurl/]" class="letter1">
                                            更多 <img src="../images/sanjiao.jpg" width="4" height="7">                                     </a>                                    </div>
                        </li>
                        {/dede:arclist}
                    </ul>
                </div>
                <div class="gs_news_con tab_con clearfix">
                    <ul>    {dede:arclist   row='3' typeid='25' orderby ='pubdate'      }
                        <li>
                            <div style="width: 170px; padding-right: 18px; float: left;"><img src="[field:litpic/]" style="border:1px solid #ccc;" width="170" height="119" alt="" /></div>
                                    <div class="title1"><a href="[field:arcurl/] ">[field:title/]</a></div>
                                    <div class="biaoti">[field:pubdate function="MyDate('Y-m-d',@me)"/]</div>
                                    <div>
                                        <a title=">> 更多" href="[field:arcurl/]" class="lianjie">[field:info/] </a>
                                        <a title=">> 更多" href="[field:arcurl/]" class="letter1">
                                            更多 <img src="../images/sanjiao.jpg" width="4" height="7">                                     </a>                                    </div>
                        </li>
                        {/dede:arclist}
                    </ul>
                </div>
            </div>
            <div class="wngxb fr">
                <div class="gs_news_ti wngxb_ti">{dede:global.cfg_indexname/}</div>
                <div class="wngxb_con">
                <div style="margin-bottom:20px;"><img src="{dede:global.cfg_templets_skin/}/images/ccir1.jpg" width="471" height="112" alt="" /></div>
                {dede:global.cfg_about/}
                </div>
            </div>
            </div>
            <!--相关资质-->
            <div class="xgzz">
            <div class="gs_news_ti wngxb_ti" style="margin-top:20px;">协会掠影</div>
                <div class="xgzz_con clearfix">
                    <ul>
                        <li><img src="{dede:global.cfg_templets_skin/}/images/ccirpic1.jpg" width="231" height="164" alt="" /></a></li>
                        <li><img src="{dede:global.cfg_templets_skin/}/images/ccirpic2.jpg" width="231" height="164" alt="" /></li>
                        <li><img src="{dede:global.cfg_templets_skin/}/images/ccirpic3.jpg" width="231" height="164" alt="" /></li>
                        <li><img src="{dede:global.cfg_templets_skin/}/images/ccirpic4.jpg" width="231" height="164" alt="" /></li>
                        <li><img src="{dede:global.cfg_templets_skin/}/images/ccirpic5.jpg" width="231" height="156" alt="" /></li>
                        <li><img src="{dede:global.cfg_templets_skin/}/images/ccirpic6.jpg" width="231" height="164" alt="" /></li>
                        <li><img src="{dede:global.cfg_templets_skin/}/images/ccirpic7.jpg" width="231" height="164" alt="" /></li>
                        <li><img src="{dede:global.cfg_templets_skin/}/images/ccirpic8.jpg" width="231" height="164" alt="" /></li>
                    </ul>
                </div>
            </div>
<div style="width:90%; margin-right:auto; margin-left:auto; margin-bottom: 20px;"><b>友情链接：</b>
{dede:flink row='24'}[field:link/]  {/dede:flink}
</div>
</div>
</body>
</html>
