@charset "utf-8";
html {
	font-size: 12px
}
body, p, h1, ul, li, input, img, figure, h3, h1, h2, dl, dd, dt {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
body {
	font-size: 0.1rem;
}
ul, ol, li, dl, dt, dd {
	list-style: none;
}
a {
	text-decoration: none;
	outline: 0px;
}
fieldset, img {
	border: 0;
}
img {
	display: block;
	max-width: 100%
}
.clear {
	clear: both;
	width: 100%;
}
.c {
	clear: both;
	width: 100%;
}
;
/*header*/


.header {
	width: 100%;
	height: 0.691rem!important;
	background: #1d1d1d;
	position: relative;
	z-index: 9999;
}
.head {
	text-align: left;
	position: fixed;
	width: 100%;
	height: 0.691rem;
	top: 0;
	right: 0;
	background: #fff;
	box-shadow: 0 4px 4px rgba(9,2,4,.55);
	line-height: 0.9rem;
	z-index: 99;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
/* .head:before{content:"";position:fixed;width:100%;height:0.041rem;background:#1d1d1d;top:0;left:0} */


.logo {
	display: block;
	width: 62.8125%;
	height: auto;
	    line-height: 0.691rem;
    color: #fff;
    font-size: 20px;margin-left: 10px;
}
.logo img {
	display: inline-block;
}
/* .nav-btn{width:14.0625%;right:0!important;top:-1px;position:absolute;height:0.691rem;background:#d82741;font-size:0.4rem;line-height:0.82rem;color:#fff;text-align:center;overflow:hidden;} */


.top-nav {
	position: absolute;
	right: 1.09375%;
	top: 100%;
	width: 14.0625%;
}
.search_hl {
	width: 14.0625%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	font-size: 0.38rem;
	line-height: 0.8rem;
	color: #ffffff;
	text-align: center;
	overflow: hidden;
}
.nav-btn {
	right: 0;
	color: #272636;
}
.nav-btn {
	right: 0;
	color: #272636;
}
.class-btn {
	position: absolute;
	right: 16%;
	top: 0%;
	width: 14.0625%;
	font-size: 0.24rem;
	line-height: 0.82rem;
	color: #085b51;
	text-align: center;
	overflow: hidden;
}
.top-home {
	position: absolute;
	left: 1.09375%;
	top: 0;
	width: 14.0625%;
	font-size: 0.4rem;
	line-height: 0.82rem;
	color: #fff;
	text-align: center;
	overflow: hidden;
}
.top-title {
	width: 70%;
	position: absolute;
	left: 15%;
	top: 0;
	font-size: 0.3rem;
	line-height: 0.82rem;
	text-align: center;
	color: #fff;
	overflow: hidden;
}
.content, .sub_page {
	min-height: 6rem;
	overflow: hidden;
	font-size: 0.16rem
}
.sub_page center {
	padding: 0.4rem 0;
	font-size: 0.2rem
}
.sub_page center a {
	color: red
}
.content {
	width: 100%;
}
/* nav */


body {
	position: relative;
	width: 100%;
	background: #f2f2f2;
	height: 100%;
}
.allpage {
	position: relative;
	z-index: 10;
	background: #e6e6e6;
	height: auto;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	right: 0;
	min-height: 6rem;
}
.clicked {
	right: 220px;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	left: auto;
}
.nav {
	width: 220px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 2;
}
.fixed {
	width: 220px;
	height: 100%;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 999;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch
}
.nav li {
	width: 220px;
	margin: 0 auto;
	border-bottom: 1px solid #f992a2;
	text-align: center;
}
.nav li a {
	display: block;
	width: 100%;
	font: 700 16px/50px '微软雅黑';
	color: #fff;
}
.nav li a span {
	margin-right: 3%
}
.nav li p {
	text-indent: 70px;
}
.nav li:last-child {
	margin-bottom: 20%;
}
#allmap {
	width: 100%;
	height: 6rem;
	font-size: 0.18rem
}
.share {
	width: 160px;
	margin: 0.5rem auto;
}
.black-fixed {
	position: fixed;
	z-index: 99999!important;
	right: 0;
	width: 0;
	top: 0;
	height: 100%;
	background: rgba(0,0,0,0.9);
	text-align: right;
	font-size: 0.4rem;
	color: #fff;
	line-height: 2;
	right: 0;
	overflow: hidden
}
.black-clicked {
	width: 100%;
	padding-right: 2%;
	right: 220px;
}
/*font*/


@font-face {
	font-family: "iconfont";
	src: url('../other/iconfont.woff') format('woff'), url('../other/iconfont.ttf') format('truetype');
}
@font-face {
	font-family: "iconfont2";
	src: url('../other/iconfont2.woff') format('woff'), url('../other/iconfont2.ttf') format('truetype');
}
@font-face {
	font-family: "iconfont_s";
	src: url('../other/iconfont_s.woff') format('woff'), url('../other/iconfont_s.ttf') format('truetype');
}
.iconfont {
	font-family: "iconfont" !important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
.iconfont_s {
	font-family: "iconfont_s" !important;
	font-style: normal;
	color: #333333;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
	border-radius: 50%;
	display: inline-block;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
.iconfont2 {
	font-family: "iconfont2" !important;
	font-size: 0.54rem;
	font-style: normal;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
	border-radius: 50%;
	display: inline-block;
	width: 1rem;
	height: 1rem;
	line-height: 1rem;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
.iconfont2_ys {
	background-color: #ff506a;
}
.iconfont2_yys {
	background-color: #ff7e48;
}
.iconfont2_jz {
	background-color: #ffa848;
}
.iconfont2_yl {
	background-color: #ffce48;
}
.iconfont2_cs {
	background-color: #b3d931;
}
.iconfont2_yy {
	background-color: #5dd03b;
}
.iconfont2_zd {
	background-color: #3dd9c7;
}
.iconfont2_cr {
	background-color: #3b96d3;
}
/* banner */


.big-pic {
	width: 100%;
	position: relative;
	z-index: 2;
	margin: 0 auto;
}
.big-pic-in {
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}
.pic-list {
	position: relative;
	height: auto;
	-webkit-transform: translate3d(0, 0, 0);
	z-index: 0;
}
.pic-list img {
	float: left;
	height: auto;
	width: 100%;
	display: block;
}
.big-pic2 .pic-list {
	width: 200%;
}
.big-pic2 .pic-list img {
	width: 50%;
}
.big-pic3 .pic-list {
	width: 300%;
}
.big-pic3 .pic-list img {
	width: 33.333334%;
}
.big-pic4 .pic-list {
	width: 400%;
}
.big-pic4 .pic-list img {
	width: 25%;
}
.slide-dot {
	width: 100%;
	text-align: center;
	height: 16px;
	padding-top: 4px;
	overflow: hidden;
	position: absolute;
	bottom: 5px;
	display: none
}
.slide-dot span {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	vertical-align: top;
	z-index: 10;
	margin: 0 7px;
	background: #fff
}
.slide-dot span.slide-dot-cur {
	z-index: 10;
	vertical-align: top;
	background: #6b1b55
}
.transition {
	-moz-transition: -moz-transform 0.3s ease-out;
	-webkit-transition: -webkit-transform 0.3s ease-out;
	-o-transition: -o-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
}
/* index */


.title {
	width: 35.9375%;
	margin: 0 auto;
	background: #1d1d1d;
	border-radius: 0 0 0.1rem 0.1rem;
	text-align: center;
	padding-bottom: 2%
}
.title span {
	font: 0.18rem/1.2 "microsoft yahei";
	color: #c1c0c0;
}
.title p {
	font: 0.16rem/1.2 "microsoft yahei";
	color: #828282;
	text-transform: uppercase
}
.title-border1 {
	width: 100%;
	height: 0.15rem;
	background: #1d1d1d;
}
.inav {
	width: 97.5%;
	margin: 2% auto;
	overflow: hidden;
}
.inav li {
	width: 33.3%;
	float: left;
	height: auto;
	overflow: hidden
}
.inav li a {
	display: block;
	width: 75%;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
	font: 0.18rem/2 "microsoft yahei";
	color: #1d1d1d
}
.inav li a img {
	display: block;
	width: 83.97%;
	margin: 0 auto;
	border: 1px solid #d3d3d3;
	background: #fff;
	padding: 0.09rem;
	border-radius: 50%;
}
.title1 {
	width: 100%;
	height: 0.75rem;
	background: url(../images/titlebg1.jpg) 0 bottom no-repeat #fff;
	background-size: 100% auto;
}
.title1-name {
	float: left;
	overflow: hidden;
	margin-left: 4.6875%;
}
.title1-name h3 {
	float: left;
	font: 0.44rem/0.75rem "microsoft yahei";
	color: #bb2f30;
}
.title1-name p {
	float: left;
	font: 0.18rem/0.2rem "microsoft yahei";
	color: #232323
}
.title1-name p span {
	font: 700 0.18rem/0.2rem "microsoft yahei";
	color: #232323;
	display: block;
	margin-top: 0.2rem
}
.title1 a {
	float: right;
	font: 0.18rem/0.75rem "microsoft yahei";
	color: #7d7d7d;
	margin-right: 4.6875%
}
.inews {
	width: 100%;
	height: auto;
	overflow: hidden;
	background: url(../images/newsbg.jpg) right bottom no-repeat #fff;
	background-size: 32.8125% auto;
	padding: 5% 0
}
.news-img {
	display: block;
	float: left;
	width: 25%;
	margin: 0 3.75% 0 4.6875%;
}
.inews p {
	float: left;
	width: 42.8125%;
	margin-left: 3.75%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font: 0.16rem/2 "microsoft yahei";
	color: #686868;
}
.inews h3 {
	float: left;
	width: 42.8125%;
	margin-left: 3.75%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font: 0.18rem/1.2 "microsoft yahei";
	color: #232323;
}
.inews h3 a {
	display: block;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color: #232323;
}
.inews div {
	float: left;
	width: 42.8125%;
	font: 0.16rem/0.24rem "microsoft yahei";
	color: #1d1d1d;
	overflow: hidden;
	height: 0.48rem;
	margin-left: 3.75%;
}
.title2 {
	width: 55.9375%;
	margin: 2% auto;
	position: relative;
	text-align: center;
	color: #fff;
	background: url(../images/titlebg2.jpg) 0 0 no-repeat;
	background-size: 100% 100%;
	padding: 2% 0;
}
.title2 span {
	font: 0.18rem/1 "microsoft yahei";
}
.title2 p {
	font: 0.16rem/1 "microsoft yahei";
}
.ipro {
	width: 97.5%;
	margin: 2% auto;
	overflow: hidden;
}
.ipro li {
	width: 50%;
	float: left;
	height: auto;
	overflow: hidden;
	padding-bottom: 4%;
}
.ipro li a {
	display: block;
	width: 86.85%;
	background: #fff;
	border: 1px solid #fff;
	overflow: hidden;
	margin: 0 auto
}
.ipro li a span {
	display: block;
	width: 100%;
	font: 0.18rem/2.4 "microsoft yahei";
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color: #1d1d1d;
	text-align: center;
}
.ipro li a img {
	width: 100%
}
.imore {
	display: block;
	width: 34.6875%;
	margin: 2% auto;
	overflow: hidden;
	background: #1d1d1d;
	text-align: center;
	font: 0.18rem/0.4rem "microsoft yahei";
	color: #ababab;
	border-radius: 0.4rem;
}
.icase {
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 2% 0;
	background: #fff;
}
.icase-top, .icase-bottom {
	width: 92.5%;
	margin: 2% auto;
	overflow: hidden;
}
.icase-top a:nth-child(1) {
	display: block;
	float: left;
	width: 29.56%;
}
.icase-top a:nth-child(2) {
	display: block;
	float: left;
	width: 31.08%;
	margin: 0 1.68%;
}
.icase-top a:nth-child(3) {
	display: block;
	float: left;
	width: 35.64%;
}
.icase-top a img {
	display: block;
	width: 100%;
}
.icase-bottom a:nth-child(1) {
	display: block;
	float: left;
	width: 24.15%;
}
.icase-bottom a:nth-child(2) {
	display: block;
	float: right;
	width: 73.98%;
}
.support {
	width: 100%;
	font: 0.18rem/2.4 "microsoft yahei";
	color: #bb2f30;
	text-align: center;
	background: #fff;
}
.support a {
	color: #bb2f30;
}
/* top class */


.class {
	width: 100%;
	top: 8.33em;
	position: fixed;
	background: #232323;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	height: 3rem;
	padding: 0.1rem 0;
	display: none
}
.class li {
	width: 90%;
	background: #fff;
	font: 0.2rem/0.46rem "microsoft yahei";
	margin: 2% auto;
	overflow: hidden;
	position: relative;
}
.class li a {
	display: block;
	float: left;
	width: 60%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding: 0 4%;
	color: #666
}
.class li span.iconfont {
	font-size: 0.3rem;
	line-height: 0.46rem;
	display: block;
	width: 16%;
	text-align: center;
	color: #666;
	position: absolute;
	top: 0;
	right: 0;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
	-moz-transition: -moz-transform 0.3s ease-out;
	-webkit-transition: -webkit-transform 0.3s ease-out;
	-o-transition: -o-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
}
.class li span.iconfont.class-up {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
	-moz-transition: -moz-transform 0.3s ease-out;
	-webkit-transition: -webkit-transform 0.3s ease-out;
	-o-transition: -o-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
}
.class li dl {
	float: left;
	border-top: 2px solid #232323;
	width: 100%;
	display: none
}
.class li dl dd {
	overflow: hidden
}
.class li dl dd a {
	width: 100%
}
/* subpage */


.about, .view {
	width: 92.5%;
	margin: 2% auto;
	font: 0.2rem/2.4 "microsoft yahei";
	color: #1d1d1d;
}
.about img {
	display: inline-block;
	height: auto !important
}
.view h1, .about h1 {
	width: 100%;
	text-align: center;
	font: 0.3rem/0.5rem "microsoft yahei";
	color: #393939;
}
.view img {
	max-width: 100%;
	display: inline
}
.page {
	display: block;
	width: 100%;
	height: 0.38rem;
	font: 0.2rem/0.38rem "microsoft yahei";
	color: #777;
	background: #ddd;
	border-radius: 0.38rem;
	margin: 2% auto;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-indent: 0.1rem;
}
.back {
	display: block;
	width: 33.57%;
	margin: 2% auto;
	height: 0.4rem;
	border-radius: 0.4rem;
	font: 0.2rem/0.4rem "microsoft yahei";
	color: #393939;
	text-align: center;
}
/* product */


.product-top {
	width: 91.25%;
	margin: 2% auto;
	border-bottom: 1px solid #c9c9c9;
	height: 0.5833rem;
	font: 0.2rem/0.5833rem "microsoft yahei";
	color: #7b7b7b;
}
.product-top p {
	float: left;
}
.product-top p span {
	color: #c5132d
}
.product-top-right {
	float: right;
	color: #7b7b7b
}
.product-top-right a {
	font-size: 0.3rem;
	color: #272727;
	vertical-align: middle
}
.product-top-right a.show {
	color: #c5132d
}
/* news */


.news {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 2% auto;
}
.news li {
	width: 100%;
	height: 0.691rem;
	overflow: hidden
}
.news li a {
	display: block;
	width: 100%;
	height: 0.691rem;
	overflow: hidden;
	font: 0.2rem/0.691rem "microsoft yahei"
}
.news li span:nth-child(1) {
	display: block;
	float: left;
	width: 60%;
	margin-left: 4%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color: #1d1d1d
}
.news li span:nth-child(2) {
	display: block;
	float: right;
	margin-right: 4%;
	color: #9f9f9f
}
.news li:nth-child(even) {
	background: #fff;
}
/* case */


.case {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 2% auto
}
.case li {
	width: 100%;
	height: auto;
	padding: 2% 0;
	border-bottom: 1px solid #ccc;
	overflow: hidden
}
.case li>a {
	display: block;
	width: 35.46875%;
	float: left;
	margin: 0 3.75% 0 4.6875%;
	border: 1px solid #fff;
}
.case li>a img {
	display: block;
	width: 100%
}
.case li h1 {
	float: left;
	width: 51.875%;
	height: 0.35rem;
	font: 0.2rem/0.35rem "microsoft yahei";
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.case li h1 a {
	color: #232323
}
.case li div {
	float: left;
	width: 51.75%;
	height: 1.1rem;
	overflow: hidden;
	font: 0.18rem/0.28rem "microsoft yahei";
	color: #1d1d1d
}
/* for white */


.white-bg {
	background: #fff;
}
/* mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm */





.nav_new {
	width: 93.75%;
	padding: 0 3.125% 2% 3.125%;
	background-color: #eeeeee;
}
.son {
	float: left;
	display: block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 25%;
	padding-top: 0.13rem;
}
.nav_new .son p {
	display: block;
	background-color: #ffffff;
	text-align: center;
	color: #ffffff;
	width: 1.1rem;
	height: 1.1rem;
	border-radius: 10%;
	margin: 0 auto;
	font-size: 0.21rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	line-height: 0.35rem;
	border: 1px solid #cdcdcd;
	background: url(../images/menu_bg.png) bottom left no-repeat;
	background-size: contain;
}
.nav_new .son p .iconfont_s {
	display: block;
	color: #333333;
	font-size: 0.5rem;
	line-height: 0.7rem;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.nav_new .son:nth-of-type(8n+2) p .iconfont_s {
	color: #830606;
}
.nav_new .son:nth-of-type(8n+2) p {
	background: url(../images/menu_bg2.png) bottom left no-repeat;
	background-size: contain;
}
/* banner */


.banner {
	width: 100%;
	position: relative;
}
.swiper-pagination {
	width: 22%!important;
	text-align: right!important;
	bottom: 0.1rem!important;
}
.swiper-pagination-bullet {
	width: 0.30rem!important;
	height: 0.03rem!important;
	background-color: #0d0d0d!important;
	opacity: 1!important;
}
.swiper-pagination-bullet-active {
	background-color: #6d0e0a!important;
}
.swiper-container-horizontal>.swiper-pagination .swiper-pagination-bullet {
	margin: 0 1px!important;
}
input {
	outline: none;
}
.search {
	width: 96%;
	height: 0.691rem;
	padding: 0 2%;
	position: absolute;
	top: -120%;
	left: 0;
	background-color: #000000;
	font-family: "microsoft yahei";
}
.search-input {
	width: 75%;
	border: 1px solid #0a5b52;
	border-radius: 15px 0 0 15px;
	float: left;
	border-right: none;
	height: 0.461rem;
	font-size: 0.18rem;
	font-family: "microsoft yahei";
	text-indent: 5%;
	margin-top: 2%;
}
.search-btn {
	width: 15%;
	float: left;
	background-color: #fff;
	border-radius: 0 15px 15px 0;
	border: 1px solid #0a5b52;
	border-left: none;
	height: 0.48rem;
	font-size: 0.25rem;
	margin-top: 2%;
}
.search a {
	display: inline-block;
	width: 9%;
	float: left;
	color: #fff;
	text-align: center;
	height: 0.7rem;
	line-height: 0.808rem;
}
.index_text {
	font-size: 14px;
	width: 100%;
	height: 0.5rem;
	background: #fff url(../images/search_bg_05.png) no-repeat 95% center;
	-webkit-background-size: 7%;
	background-size: 7%;
	border: none;
	font-family: "microsoft yahei";
	text-indent: 3%;
}
.icon_nav {
	padding: 0 4%;
	background-color: #fff;
}
.icon_nav ul li {
	width: 17%;
	text-align: center;
	float: left;
	margin: 0 4%;
	margin-top: 4%;
	margin-bottom: 2%;
}
.icon_nav ul li a span {
	display: inline-block;
	color: #333;
	font-size: 0.2rem;
	margin-top: 14%;
	width: 100%;
	height: 0.3rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.search_new {
	padding: 0 2%;
	text-align: center;
	margin-top: 3%;
}
.search_new input {
	width: 98%;
	background: url(../images/fdj_09.png) no-repeat 97% center;
	-webkit-background-size: 7%;
	background-size: 7%;
	text-indent: 3%;
	padding: 2% 0;
}
.common_title {
	text-align: center;
	background: #eeeeee url(../images/common_tl_bg.png) center 50% no-repeat;
	position: relative;
	margin: 0 3.125%;
	background-size: contain;
	padding-top: 2%;
	padding-bottom: 2%;
}
.common_title h2 i {
	position: relative;
	font-size: 0.159rem;
	padding: 0;
	color: #7d0000;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
	white-space: nowrap;
	padding: 0 1.5%;
}
.common_title h2 {
	position: relative;
	display: inline-block;
	color: #7d0000;
	font-size: 0.23rem;
	text-align: center;
	font-weight: normal;
	z-index: 3;
	line-height: 0.22rem;
	background-size: contain;
}
.cs2 {
	background-color: #ffffff;
}
.cs2 h2 {
	background-color: #ffffff;
}
.cs2 .title_more {
	background-color: #ffffff;
}
.more_i {
	font-size: 0.12rem;
	margin-top: 3%;
	margin-bottom: 1.5%;
	min-width: 25%;
	width: auto;
	width: 25%;
	background-color: #ffffff;
	margin-left: 37%;
	text-align: center;
	height: 0.35rem;
	white-space: nowrap;
	border-radius: 0.05rem;
	border: 1px solid #d9d9d9;
	color: #4971b6;
	line-height: 0.35rem;
}
.more_i2 {
	margin-top: 0;
}
.more_i a {
	padding: 1% 0;
	color: #5d5d5d;
	font-size: 0.21rem;
	line-height: 0.35rem;
}
.about_i_c img {
	width: 35%;
	float: left;
	border: 2px solid #d4dde3;
	display: block;
	margin-right: 3%;
	margin-bottom: 3%;
	vertical-align: top;
}
.about_i_c {
	line-height: 0.35rem;
	margin: 0 3.125% 4% 3.125%;
	font-size: 0.21rem;
	padding: 1%;
	color: #515151;
	vertical-align: top;
}
.new_i {
	width: 93.75%;
	margin: 0 3.125%;
}
.new_i li {
	width: 48%;
	position: relative;
}
.new_i li span {
	display: block;
	width: 0.1rem;
	height: 0.1rem;
	position: absolute;
	border-radius: 100%;
	border: 0.02rem solid #ffffff;
}
.new_i li a h3 {
	color: #2d2d2d;
	font-weight: normal;
	overflow: hidden;
	width: 100%;
	text-overflow: ellipsis;
	font-size: 0.23rem;
	height: 0.3rem;
	white-space: nowrap;
	line-height: 0.3rem;
}
.new_i li a p {
	width: 100%;
	color: #7d7d7d;
	font-size: 0.21rem;
	line-height: 0.3rem;
	overflow: hidden;
	height: 0.6rem;
	text-overflow: ellipsis;
	margin-bottom: 5%;
}
.new_i li:nth-of-type(2n) {
	float: left;
	margin-right: 50%;
	border-right: 1px solid #d3d6d9;
	padding-right: 2%;
}
.new_i li:nth-of-type(2n) span {
	right: -0.08rem;
	top: 0.08rem;
	background-color: #555555;
}
.new_i li:nth-of-type(2n+1) {
	float: right;
	margin-left: 50%;
	border-left: 1px solid #d3d6d9;
	padding-left: 2%;
}
.new_i li:nth-of-type(2n+1) span {
	left: -0.08rem;
	top: 0.08rem;
	background-color: #a00505;
}
.hotline {
	background-color: #da231b;
	color: #fff;
	text-align: center;
	width: 100%;
	white-space: nowrap;
	vertical-align: middle;
	height: 1.6rem;
	padding-top: 0.3rem;
	position: relative;
}
.hotline a {
	width: 100%;
	color: #ffffff;
	text-align: left;
	white-space: nowrap;
	vertical-align: middle;
	font-size: 0.365rem;
}
.hotline p {
	color: #202020;
	width: 36%;
	margin: 0 auto;
	background: #fff500;
	font-size: 0.185rem;
	border-radius: 0.05rem;
	line-height: 0.3rem;
}
.hotline .icon_h {
	position: absolute;
	top: -0.35rem;
	left: 44%;
	height: 0.6rem;
	width: 0.6rem;
	border-radius: 50%;
	background: #fff500;
}
.hotline .icon_h a {
	color: #da231b;
}
.beian {
	color: #353535;
	text-align: center;
	height: 0.5rem;
	line-height: 0.45rem;
	font-size: 0.21rem;
}
.beian a {
	color: #353535;
}
.common_bg {
	background-color: #ffffff;
}
 @media all and (min-width:640px) {
.content {
	width: 640px;
	margin: 0 auto;
	position: relative;
}
}
.cbtn-top {
	display: none;
	position: fixed;
	right: 2%;
	bottom: 10%;
	border-radius: 50%;
	width: 3.25em;
	height: 3.25em;
	padding: 0.3125em;
	color: #ffffff;
	font-size: 1.2em;
	text-align: center;
	cursor: pointer;
	z-index: 99999;
}
.index_product {
	width: 93.75%;
	margin: 1% 3.125%;
}
.index_product li {
	width: 48.5%;
	margin-right: 3%;
	float: left;
	background-color: #ffffff;
	text-align: center;
	box-sizing: border-box;
	border-radius: 0.05rem;
}
.index_product li span {
	display: block;
	font-size: 0.23rem;
	line-height: 0.4rem;
	height: 0.4rem;
	color: #282828;
	padding-left: 0.1rem;
	overflow: hidden;
}
.index_product li img {
	width: 100%;
	box-sizing: border-box;
	border-radius: 0.05rem 0.05rem 0 0;
}
.index_product li:nth-of-type(2n+2) {
	margin-right: 0;
}
.index_product li:nth-of-type(4n+1) {
	margin-bottom: 3%;
}
.index_product li:nth-of-type(4n+2) {
	margin-right: 3%;
	margin-right: 0;
}
.blank_c {
	position: relative;
	height: 0.8rem;
}
.blank_f {
	position: relative;
	height: 0.8rem;
}
.blank_f2 {
	position: relative;
	height: 0.1rem;
}
.about_i_zc {
	line-height: 0.25rem;
	text-align: left;
	width: 93.75%;
	margin: 1.5% 3.125% 1.5% 3.125%;
}
.about_i_zc a {
	color: #4a4a4a;
	font-size: 0.16rem;
}
.about_i_zc .a_i_c {
	width: 48.5%;
	margin-right: 3%;
	float: left;
	background-color: #ffffff;
	text-align: center;
	box-sizing: border-box;
	border-radius: 0.05rem;
	position: relative;
}
.about_i_zc .a_i_c img {
	width: 100%;
	box-sizing: border-box;
	border-radius: 0.05rem 0.05rem 0 0;
}
.about_i_zc .a_i_c span {
	display: block;
	font-size: 0.23rem;
	line-height: 0.4rem;
	height: 0.4rem;
	color: #282828;
	padding-left: 0.1rem;
	overflow: hidden;
}
.about_i_zc .about_r {
	display: block;
	float: left;
	width: 48.5%;
}
.about_i_zc h3 {
	color: #282828;
	font-style: normal;
	font-weight: normal;
	font-size: 0.23rem;
	line-height: 0.35rem;
	width: 100%;
	height: 0.3rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.about_i_zc .red_but {
	color: #a00505;
}
.about_i_zc .pri_but {
	width: auto;
	height: 0.35rem;
	display: inline-block;
	margin-right: auto;
	padding: 0 0.05rem;
	border: 1px solid #d9d9d9;
	border-radius: 0.05rem;
	font-size: 0.21rem;
	white-space: nowrap;
	margin: 0.05rem 0;
	text-align: center;
	line-height: 0.35rem;
	color: #282828;
}
.about_i_zc .dg_but {
	padding-left: 0.23rem;
	width: 1.23rem;
	height: 0.35rem;
	margin-left: 0;
	margin-right: auto;
	border: 1px solid #d9d9d9;
	border-radius: 0.05rem;
	font-size: 0.21rem;
	background: #ffffff url(../images/dg_but_bg.png) 0.05rem top no-repeat;
	margin: 0.05rem 0;
	text-align: center;
	line-height: 0.35rem;
	color: #282828;
	background-size: contain;
}
.about_i_zc p {
	line-height: 0.29rem;
	overflow: hidden;
	font-size: 0.21rem;
}
.pages {
	padding: 30px 0 30px;
	text-align: center
}
.pages li {
	display: inline;
	margin: 0 2px;
	font-size: 12px
}
.pages li.thisclass, .pages a:hover {
	color: #fff;
	text-decoration: none
}
.pages a {
	padding: 3px 8px;
	border: 1px solid #CCC;
	background: #fff;
	color: #A4A4A4;
	line-height: 18px;
	font-size: 12px
}
