     <div  class="footer">
      <div  class="footer-lf">
        <div  class="copyright">
          <p  align="center"> 总部：{dede:global.cfg_address/}　全国统一销售服务热线：{dede:global.cfg_tel/} </p>
          <p  align="center"> 版权所有：{dede:global.cfg_webname/} </p>
        </div>
      </div>
      <div  class="footer-ewm"> <span  class="tit">扫描二维码快捷登陆网站</span>
        <div  class="pic"><img  src="{dede:global.cfg_templets_skin/}/img/er.png"   style="width: 72px; height: 72px; padding: 0px;"></div>
      </div>
    </div>
    <script  type="text/javascript">
      $(function(){
      $("#J_online2-openBtn").kfonline2({
      bdClass:"kf-online2-bd",
      closeBtnId:"J_online2-closeBtn"
      })
      })
      </script>
    <div  class="kf-online2-wrap">
    <div  class="kf-online2-box"> <span  class="kf-online2-openBtn"  id="J_online2-openBtn"></span>
      <div  class="kf-online2-bd">
        <div  class="hd"></div>
        <div  class="kf-online2-itemWrap">
          <div  class="kf-online2-item"> <span  class="tit">在线客服</span>
            <ul  class="kf-online2-list">
              <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={dede:global.cfg_qqone/}&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:{dede:global.cfg_qqone/}:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></li>
              <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={dede:global.cfg_qqtwo/}&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:{dede:global.cfg_qqtwo/}:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></li>
            </ul>
          </div>
          <div  class="hx-shadow2"><img  src="{dede:global.cfg_templets_skin/}/img/hx_shadow.png"></div>
        </div>
        <a  href="javascript:void(0);"  class="kf-online2-closeBtn"  id="J_online2-closeBtn"></a> </div>
    </div>
  </div>

<script>
$('.sidebar-navlist li.line:last').hide();

</script>

