<link  type="text/css"  rel="stylesheet"  href="{dede:global.cfg_templets_skin/}/css/global.css">
<link  type="text/css"  rel="stylesheet"  href="{dede:global.cfg_templets_skin/}/css/index.css">
<link  type="text/css"  rel="stylesheet"  href="{dede:global.cfg_templets_skin/}/css/probuy.css">
<link  type="text/css"  rel="stylesheet"  href="{dede:global.cfg_templets_skin/}/css/subpage.css">
<link  type="text/css"  rel="stylesheet"  href="{dede:global.cfg_templets_skin/}/css/easyDialog.css">
<script  type="text/javascript"  src="{dede:global.cfg_templets_skin/}/js/jquery-1.8.3.min.js"></script>
<script  type="text/javascript"  src="{dede:global.cfg_templets_skin/}/js/template-global.js"></script>
<script  type="text/javascript"  src="{dede:global.cfg_templets_skin/}/js/ShoppingCart.js"></script>
</head>
<body  id="body">
<div  id="Layout_447"  class="">
  <script  type="text/javascript"  src="{dede:global.cfg_templets_skin/}/js/base.js"></script>
  <div  class="container-box">
    <div  class="header-bar-wrap">
      <div  class="header-bar clearfix">
        <div  class="item"> </div>
        <div  class="item">

          
        </div>
        <div  class="item">
          <div  class="loginhand">{dede:global.cfg_gonggao/} </div>
        </div>
      </div>
    </div>
    <div  class="header-logo">
      <div  class="logo"><a href="/"><img id="logo"  src="{dede:global.cfg_templets_skin/}/img/6352306871317773188282.png"  alt="{dede:global.cfg_webname/}"></a></div>
      <span  class="phone">
      <div  class="h-contactIntrobox"><span  style="color:#525252;font-family:Tahoma, Arial, 宋体, sans-serif;font-size:12px;font-style:normal;font-weight:normal;line-height:21px;">全国免费服务热线 {dede:global.cfg_tel/}</span></div>
      </span> </div>
    <div  class="nav-wrapbox clearfix">
      <div  class="nav-wrap"  id="J_nav-wrap"  style="z-index: 30;">
        <div  class="nav">
          <ul  class="nav-list"  id="J_navlist">
            <li> <a  href="/">首页</a>
            </li>
            
       {dede:channelartlist typeid='top' currentstyle='oncurr'}      
            <li class='{dede:field.currentstyle/}'><a href="{dede:field name='typeurl'/}">{dede:field name='typename'/}</a>
              <ul  class="nav-sub clearfix center">
                {dede:channel type='son' noself='yes'}<li><a href="[field:typelink/]">[field:typename/]</a></li>{/dede:channel}
              </ul>
            </li>
       {/dede:channelartlist}
          </ul>
          <script  type="text/javascript">
      $(function(){
      $("#J_navlist").CSMenu({maxWidth:950,navWrapId:"J_nav-wrap",arrowW:15,pushMenuDownBy:39,align:"left"});
      })
      </script>
        </div>
