<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="applicable-device" content="pc">
<meta http-equiv="Content-Type" content="text/html; charset={dede:global.cfg_soft_lang/}" />
<title>{dede:field.title/}_{dede:global.cfg_webname/}</title>
<meta name="keywords" content="{dede:field name='keywords'/}" />
<meta name="description" content="{dede:field name='description' function='html2text(@me)'/}" />

{dede:include filename="head.htm"/}
        
      </div>
    </div>
    <div  class="sub-mainContainer clearfix">
      <div  class="sub-main-wrap">
      <div  class="sub-mainbox">
      <div  id="Panel_14"  class=""  style="clear:both;overflow:hidden;">
      <div  class="sub-breadNavbar"> <span  class="sub-colname">{dede:field name='typename'/}</span>
      <div  class="sub-breadnav">您当前的位置：{dede:field name='position'/}</div>
      </div>
      <div class="diff-pageContainer">
      
      <div class="product-listbox">
      <ul class="product-list clearfix" id="J_product-list">
      {dede:list pagesize='9' titlelen='50'}
      <li class="">
      <a href="[field:arcurl/]">
      <div class="pic">
      <img src='[field:litpic/]' alt='[field:title function='html2text(@me)'/]' style="width: 190px; height: 190px; padding: 19px 0px;"/>
      <div class="shade-wrap">
      <div class="shade" style="position: absolute; left: 0px; top: 80px;">
      [field:title/]
      </div>
      </div>
      </div>
      <div class="txt">
      <h3>[field:title/]...</h3>
      <p>[field:typename/]<span class="jt"></span></p>
      </div>
      </a>
      </li>
      {/dede:list}  
      
      </ul>
      
      <div class="pagination-wrap clearfix">
      <div class="pagination-inner">
      <div class="pagination-box">
      
      {dede:pagelist listitem="info,index,end,pre,next,pageno" listsize="5"/}
      
      </div>
      </div>
      </div>
    

      </div>
      <script type="text/javascript">
      $(function(){
      $("#J_product-list").proShade({width:190,height:229});
      $("#J_product-list").find("img.front-zoom").each(function(){$(this).load(function(){frontLoadImage(this,230,229)})});
      });
      </script>
    
      </div>
      </div>
      </div>
      </div>
      
      
      <div  class="sidebar-wrap">
        <div  id="Panel_294"  class="sidebar-nav"  style="clear:both;overflow:hidden;">
          <div  class="hd">{dede:field name='typename'/}</div>
          <ul  class="sidebar-navlist">
              {dede:channel type='son' currentstyle="<li class=oncurr><a href='~typelink~'>~typename~</a></li><li class=line></li>"}
               <li><a href='[field:typeurl/]'>[field:typename/]</a></li>
               <li class="line"></li>
              {/dede:channel}
          </ul>
        </div>
        <div  id="Panel_176"  class="panel-box1"  style="margin-top:30px;clear:both;overflow:hidden;">
          <div  class="sidebar-hd1"> <span  class="tit">最新动态</span> </div>
          <div  class="panel-bdContainer">
            <div  class="cl-bdbox">
              {dede:arclist typeid=14 limit='0,1' titlelen=46 orderby='pubdate' infolen='100' }
              <div  class="cl-list-pic"> 
                  <a href='[field:arcurl/]'>
                  <img src='[field:litpic/]' alt='[field:title function='html2text(@me)'/]' style="width: 200px; height: 200px;">
                  <div  class="shade"> <span class="">[field:title/]</span> </div>
                  </a> 
             </div>
             {/dede:arclist}   
              <ul  class="cl-list">
                {dede:arclist typeid=14 limit='1,3' titlelen=46 orderby='pubdate' }<li><a href='[field:arcurl/]'>[field:title/]</a></li>{/dede:arclist}
              </ul>
            </div>
          </div>
        </div>
        <div  id="Panel_811"  class="panel-box1"  style="margin-top:30px;clear:both;overflow:hidden;">
          <div  class="sidebar-contactBox">
            <h6>联系我们</h6>
            <ul  class="contactPara">
              <div  class="h-contactIntrobox">
                <ul  class="contactPara"  style="color:#000000;font-family:Tahoma, Arial, 宋体, sans-serif;font-size:12px;font-style:normal;font-weight:normal;text-align:start;text-indent:0px;">
                  <li  style="color:#FFFFFF;">
                    <ul  class="contactPara">
                      <li  style="color:#FFFFFF;"> 地 址：{dede:global.cfg_address/} </li>
                      <li  style="color:#FFFFFF;"> 电 话：{dede:global.cfg_tel/} </li>
                      <li  style="color:#FFFFFF;"> 邮 箱：{dede:global.cfg_email/}</li>
                    </ul>
                  </li>
                </ul>
               
              </div>
            </ul>
            <span  class="jt"></span> </div>
        </div>
      </div>
    </div>
    {dede:include filename="footer.htm"/}
  </div>
  
</div>



</body>
</html>
