<div class="header">
			<div class="top-menu">
				<ul>
					<li><img src="{dede:global.cfg_templets_skin/}/images/home.gif">设为首页</li>
					<li><img src="{dede:global.cfg_templets_skin/}/images/bookmark.gif">加入收藏</li>
					<li><img src="{dede:global.cfg_templets_skin/}/images/mail.gif">联系我们</li>
				</ul>
			</div>
			<div class="logo">
				<h1><a></a></h1>
			</div>
			<div class="top-img">
			</div>
			<div class="menu">
				<ul>
					<li><a href="{dede:global.cfg_cmsurl/}/">网站首页</a></li>
					{dede:channel type='top' row=5}
					<li><a href='[field:typelink/]'>[field:typename/]</a></li>
					{/dede:channel}
				</ul>
			</div>
			<div class="search">
				<form id="searchform" action="" method="get">
					<input id="button" class="imgbutton" type="image" src="{dede:global.cfg_templets_skin/}/images/searchr.gif" name="imageField">
					<input id="searchform_key" class="input" type="text" value="" name="key">
				</form>
			</div>
			<div class="mainflash">
				<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="100%" height="100%">
 				<param name="movie" value="{dede:global.cfg_templets_skin/}/images/1269482650.swf" />
 				<param name="quality" value="high" />
 				<param name="wmode" value="transparent" />
 				<embed src="{dede:global.cfg_templets_skin/}/images/1269482650.swf" wmode="transparent" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="990" height="224"></embed>
				</object>
			</div>
</div>
