<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="applicable-device" content="pc" />
<meta name="location" content="province={dede:global.cfg_province/};city={dede:global.cfg_city/}" />
<title>{dede:global.cfg_webname/}</title>
<script language="JavaScript" type="text/javascript" src="/js/uadirect.js"></script>
<meta http-equiv="mobile-agent" content="format=html5;url={dede:global.cfg_waphost/}/" />
<meta name="mobile-agent" content="format=xhtml;url={dede:global.cfg_waphost/}" />
<link type="text/css" rel="stylesheet" href="{dede:global.cfg_templets_skin/}/style.css">
<meta name="keywords" content="{dede:global.cfg_keywords/}" />
<meta name="description" content="{dede:global.cfg_description/}" />
<link rel="canonical" href="{dede:global.cfg_basehost/}">
</head>
<body>
{dede:include filename="head.htm"/}
        <div class="main">
            <div class="clear"></div>
            <div class="leftside">
                <div class="categories">
                        <div class="titleimg"></div><div class="title"><strong>产品导航</strong></div>
                        <ul>
                        {dede:channel type='top' row=7}
                    <li><a href='[field:typelink/]'>[field:typename/]</a></li>
                    {/dede:channel}
                        </ul>
                        <div class="proimg"></div><div class="profoot"></div>
                    </div>
                    <div class="contact">
                        <div class="ctimg"></div><div class="title"><strong>联系我们</strong></div>
                        <div class="tbox">
                            地 址：郑州东大街59号
                                                        <br>
                                                        联系人：潘晓强(经理)
                            <br>
                            电 话：0371-69079008
                            <br>
                            手 机：13633712258
                            <br>
                            传真：0371-66530852
                            <br>
                            邮 箱：yushengpack@126.com
                            <br>
                            Q Q：548308000
                        </div>
                        <div class="conimg"></div><div class="confoot"></div>
                </div>
            </div>
            <div class="rightside">
                    <div class="cmore"><a href="{dede:global.cfg_cmsurl/}/"><img src="{dede:global.cfg_templets_skin/}/images/more.gif" alt="更多"></a></div><div class="ctitle"><strong>{dede:global.cfg_indexname/}公司简介</strong></div>
                    <div class="company"><img src="{dede:global.cfg_templets_skin/}/images/company.gif" alt="{dede:global.cfg_indexname/}">{dede:global.cfg_about /}
                    </div>
                    <div class="news">
                        <div class="nmore"><a href="{dede:global.cfg_cmsurl/}/news/"><img src="{dede:global.cfg_templets_skin/}/images/more.gif" alt="更多"></a></div><div class="ntitle"><strong>新闻公告</strong></div>
                        <ul>
                            {dede:arclist titlelen='58' row='5'}
                            <li><span>[field:pubdate function="MyDate('m-d',@me)"/]</span><a href="[field:arcurl /]" title="[field:fulltitle/]">[field:title /]</a></li>
                            {/dede:arclist}
                        </ul>
                    </div>
                    <div class="service">
                        <div class="feedback"><a></a></div>
                        <div class="job"><a></a></div>
                    </div>
                    <div class="product">
                        <div class="protitle">产品展示</div>
                        <ul class="proimage">
                            {dede:arclist row=4 type='image.' titlelen='30' }
                                <li><a href='[field:arcurl/]' title="[field:fulltitle/]"><span><img src="[field:litpic/]" alt="[field:title/]"></span>[field:title/]</a></li>
                            {/dede:arclist}
                        </ul>
                    </div>
            </div>
            <div class="clear"></div>
        </div>
<div class="footer">
        <p class="footdh">
            <a>友情链接</a>
            {dede:flink row='24'}[field:link/]{/dede:flink}
        </p>
        <p>
            版权所有 Copyright(C)2011-2012 {dede:global.cfg_webname/}所有 - 豫盛网络部提供技术支持
        </p>
</div>
</body>
</html>
