<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="applicable-device" content="pc">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{dede:global.cfg_webname/}</title>
<meta name="keywords" content="{dede:field.keywords/}" />
<meta name="description" content="{dede:field.description function='html2text(@me)'/}" />
<link type="text/css" rel="stylesheet" href="{dede:global.cfg_templets_skin/}/style.css">
</head>
<body>
{dede:include filename="head.htm"/}
        <div class="main">
		      <div class="clear"></div>
		      <div class="leftside">
			       <div class="categories">
				        <div class="titleimg"></div><div class="title"><strong>产品导航</strong></div>
						 <ul>
							<li>收缩机</li>
                                                        <li>包装机</li>
                                                        <li>自动包装机</li>
                                                        <li>灌装机</li>
                                                        <li>打包机</li>
                                                        <li>封口机</li>
                                                        <li>旋盖机</li>


						 </ul>
						 <div class="proimg"></div><div class="profoot"></div>
				    </div>
				   	<div class="psearch">
			            <div class="pstimg"></div><div class="pstitle"><strong>产品推荐</strong></div>
                         <ul>
						     {dede:arclist titlelen=58 row=8}
						     <li><a href='[field:arcurl/]' title="[field:fulltitle/]">[field:title/]</a></li>
                             {/dede:arclist}
						 </ul>
						 <div class="nsimg"></div><div class="nsfoot"></div>
			       </div>
			  </div>
			  <div class="rightside">
                   <div class="lm"><div class="lmspan">产品展示</div><div class="Position"><img src="{dede:global.cfg_templets_skin/}/images/position.gif" alt="所在位置">您现在的位置：{dede:field name='position'/}</div></div>
				   <ul class="productslist">
                       {dede:list row=12 orderby='hot' titlelen='26' type='image.' imgwidth='150' imgheight='110'}
                        <li><a href='[field:arcurl/]' title="[field:fulltitle/]"><span><img src="[field:litpic/]" alt="[field:title/]"></span>[field:title/]</a></li>
                       {/dede:list}
				   </ul>
				   <ul class="listno">{dede:pagelist listitem="info,index,end,pre,next,pageno" listsize="5"/}</ul>
			  </div>
			  <div class="clear"></div>
		</div>
{dede:include filename="foot.htm"/}
</body>
</html>
