<aside id="primary" class="side" role="complementary">
<ul class="xoxo">
    <ul>


    <li id="advancedrandomposts" class="widget-container widget_advancedrandomposts"><h3 class="widget-title">最新代孕新闻</h3>
        <ul class="advanced-random-posts">
            {dede:arclist   typeid='top'   row='5'   orderby ='pubdate'}
            <li><a href="[field:arcurl/]" title="[field:title/]" target="_blank">[field:title/]</a></li>
            {/dede:arclist}
        </ul>
    </li>




    <li id="advancedrandomposts" class="widget-container widget_advancedrandomposts"><h3 class="widget-title">热门代孕资讯</h3>
        <ul class="advanced-random-posts">
            {dede:arclist   typeid='top'   row='5'  orderby ='click'}
            <li>
            <a href="[field:arcurl/]" title="[field:title/]" target="_blank">[field:title/]</a>
            </li>
            {/dede:arclist}
        </ul>
    </li>



    <li id="gsort" class="widget-container widget_links"><h3 class="widget-title">文章分类</h3>
        <ul class="xoxo blogroll">
    {dede:channel type ='top' row='10'}
        <li class="line-b-r"><a href="[field:typelink/]" >[field:typename/]</a></li>
    {/dede:channel}
        </ul>
    </li>


    <li id="linkcat" class="widget-container widget_links"><h3 class="widget-title">友情链接</h3>
        <ul class='xoxo blogroll'>
        {dede:flink row='24'}
            <li>[field:link /] </li>
        {/dede:flink}
        </ul>
    </li>


    </ul>
    </li>
    <li id="text-5" class="widget-container widget_text" ><div class="textwidget"></div></li></ul>
</aside>
