<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="applicable-device" content="pc">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{dede:field.title/}_{dede:global.cfg_titlelast/}</title>
<meta name="keywords" content="有机肥设备,复合肥设备,复混肥设备" />
<meta name="description" content="潍坊市鑫福复合肥设备有限公司专业生产1-20万吨有机肥设备，生物有机肥设备，生物有机肥生产设备，有机肥生产线，有机肥加工设备，有机肥设备，复合肥设备，复混肥设备，有机肥造粒设备等成套生产线设备,13583683797" />

{dede:include filename="head.htm"/}
<div class="con"> {dede:include filename="list_left.htm"/}
  <div class="fr">
    <div class="title">{dede:field.typename/}<span>当前位置：{dede:field name='position'/}</span></div>
    <div class="nr">
      <div class="news-body">
        <div class="newsdetail">{dede:field.content/}</div>
      </div>
    </div>
  </div>
</div>
{dede:include filename="footer.htm"/}
</body></html>
