<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="applicable-device" content="pc">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{dede:field.title/}_{dede:global.cfg_titlelast/}</title>
<meta name="keywords" content="{dede:field.keywords/}" />
<meta name="description" content="{dede:field.description function='html2text(@me)'/}" />
<link href="{dede:global.cfg_templets_skin/}/skin/css/css.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{dede:global.cfg_templets_skin/}/skin/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="{dede:global.cfg_templets_skin/}/skin/js/jquery.jslides.js"></script>
<!-- sdftjx.cn Baidu tongji analytics -->
</head>
<body class="articleview">
{dede:include filename="head.htm"/}
<!-- /header -->
<div class="mid incp">
  <div class="incpfl fl">
	<div class="inctptitle">产品中心</div>
	<ul class="incpli">
	{dede:channelartlist typeid=1 row=104}
	<li class="dali"><a href="{dede:field name='typeurl'/}">{dede:field name='typename'/}</a></li>
	{dede:sql sql='Select * from dede_arctype where reid=~id~ ORDER BY id limit 0,117'}
	<li><a href='[field:typedir function="cn_substr(@me,200,9)"/]'>[field:typename/]</a></li>
	{/dede:sql}
	{/dede:channelartlist}
	</ul>
	<div class="inctptitle2">联系方式</div>
	<div class="in2">{dede:field.title/}<br />
	地　址：{dede:global.cfg_webname/}<br />
	联系人：陈经理<br />
	手　机：18936435977<br />
	电　话：18932695977<br />
	传　真：0632-6989888<br />
	</div>
	<div class="t2"></div>
  </div>
  <div class="incpfr fr">
	<div class="incpfrtit"><span class="datt">{dede:field name='typename'/}</span><span class="more">当前位置: {dede:field name='position'/}</span></div>
	<div class="viewbox">
	<div class="title">
		<h2>{dede:field.title/}</h2>
	</div>
	<!-- /title -->
	<div class="info"> 时间:{dede:field.pubdate function="MyDate('Y-m-d H:i',@me)"/}&nbsp;&nbsp; 作者:{dede:field.writer/} 点击:
		<script src="{dede:field name='phpurl'/}/count.php?view=yes&aid={dede:field name='id'/}&mid={dede:field name='mid'/}" type='text/javascript' language="javascript"></script>
		次</div>
	<!-- /info -->
	<div class="content"> {dede:field.body/}
文章《{dede:field.title/}》原创来自：<a href="{dede:global.cfg_basehost/}">{dede:global.cfg_indexname/}</a>
<p></p><p>与《{dede:field.title/}》相关文章：</p>{dede:likearticle row='5' titlelen='70'}<p>➟<a href="[field:arcurl/]">[field:title/]></p>{/dede:likearticle}
		{dede:field.vote/} </div>
	<!-- /content -->
	<div class="dede_pages">
		<ul class="pagelist">
		{dede:pagebreak/}
		</ul>
	</div>
	<div class="boxoff"></div>
	<div class="handle">
		<div class="context">
		<ul>
			<li>{dede:prenext get='pre'/}</li>
			<li>{dede:prenext get='next'/}</li>
		</ul>
		</div>
		<!-- /context -->
		<!-- /actbox -->
	</div>
	<!-- /handle -->
	</div>
	<div class="cmt1">
	<dt class="cpbttl"><strong>推荐内容</strong></dt>
	<dd>
		<ul class="cpcpshow">
		{dede:arclist row=3}
		<li> <a href="[field:arcurl/]" class="preview"><img src="[field:litpic/]" alt="[field:title function='html2text(@me)'/]" width="231" height="257" /></a> <span class="intro"><a href="[field:arcurl/]" class="title">[field:title/]</a> </span> </li>
		{/dede:arclist}
		</ul>
	</dd>
	<div class="clear"></div>
	</div>
	<div class="clear"></div>
  </div>
</div>
{dede:include filename="footer.htm"/}
<!-- /footer -->
</body>
</html>
