<div class="top">
  <div class="mid">欢迎光临{dede:global.cfg_webname/}官方网站！ <span class="fr"><a href=""onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('{dede:global.cfg_basehost/}');">设为首页</a> | <a href="javascript:window.external.AddFavorite('{dede:global.cfg_basehost/}','{dede:global.cfg_titlelast/}')">加入收藏</a></span></div>
</div>
<div class="mid header">
  <div class="logo"></div>
  <div class="tel"> </div>
</div>
<div class="menu">
  <ul class="mid nav">
	<li><a href="/">网站首页</a></li>
	{dede:channelartlist typeid='top'}
<li><a href="{dede:field name='typelink'/}">{dede:field name='typename'/}</a></li>
	{/dede:channelartlist}
  </ul>
</div>
<div class="mid sousuo">
  <div class="ssl"><strong>他们都在搜索:</strong> <a href="#">{dede:global.cfg_indexname/}&nbsp; </a> <a href="#">代孕</a> </div>
  <div class="ssk">
	<form  name="formsearch" action="/plus/search.php">
	<input type="hidden" name="kwtype" value="0" />
	<input type="hidden" name="searchtype"  id="search-option" value="title">
	<input type="hidden"  name='typeid' value="4" />
	<input type="text" class="itx"  name="q" id="search-keyword" value="在这里搜索..." onfocus="if(this.value=='在这里搜索...'){this.value='';}"  onblur="if(this.value==''){this.value='在这里搜索...';}" />
	<input name="" class="sbt" type="image" src="{dede:global.cfg_templets_skin/}/skin/images/sss.jpg" />
	</form>
  </div>
</div>
<div id="full-screen-slider">
  <ul id="slides">
	<li style="background-image: url({dede:global.cfg_templets_skin/}/skin/images/banner01.jpg); background-color: rgb(255, 255, 255); z-index: 900; display: block;background-position: 50% 0%; background-repeat: no-repeat no-repeat;"> </li>
	<li style="background-image: url({dede:global.cfg_templets_skin/}/skin/images/banner02.jpg); background-color: rgb(255, 255, 255); z-index: 800; display: none; background-position: 50% 0%; background-repeat: no-repeat no-repeat;"> </li>
	<li style="background-image: url({dede:global.cfg_templets_skin/}/skin/images/banner03.jpg); background-color: rgb(255, 255, 255); z-index: 900; display: none; background-position: 50% 0%; background-repeat: no-repeat no-repeat;"> </li>
  </ul>
</div>
