{{define "common" -}}
    <!--翻译列表-->
    <script type="text/template" id="trans-item">
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <input type="checkbox" name="trans.enabled.{num}" lay-skin="switch"
                       lay-text="启用|关闭">
            </div>
            <div class="layui-inline">
                <label class="layui-form-label-col">引擎:</label>
            </div>
            <div class="layui-inline">
                <select name="trans.engine.{num}" lay-filter="trans.engine.{num}">
                    {{range $k,$v:=.adapters}}
                        <option value="{{$k}}">{{$v.Alias}}</option>
                    {{end}}
                </select>
            </div>
            <div class="layui-inline">
                <select name="trans.source.{num}" lay-search></select>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label-col" style="color: #009688;">
                    <i class="layui-icon layui-icon-spread-left"></i>
                </label>
            </div>
            <div class="layui-inline">
                <select name="trans.target.{num}" lay-search></select>
            </div>
            <div class="layui-inline" lay-tips="删除该项">
                <button class="layui-btn layui-btn-primary" style="border:none;color: red" lay-event="del-trans">
                    <i class="layui-icon layui-icon-delete"></i>
                </button>
            </div>
        </div>
    </script>
    <!--列表解析HTML-->
    <script type="text/template" id="step-list-item">
        <div class="layui-tab-item layui-show">
            <div class="layui-collapse" lay-accordion>
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">列表采集</h2>
                    <div class="layui-colla-content layui-show">
                        <fieldset class="layui-elem-field layui-field-title">
                            <legend>获取</legend>
                        </fieldset>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label-col">指定范围:</label>
                            </div>
                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <input type="text" name="list.limit.{id}" value="" class="layui-input"
                                           autocomplete="off" placeholder="&lt;html[^&gt;]*&gt;([\s\S]*?)&lt;/html&gt;">
                                </div>
                                <div class="layui-form-mid layui-word-aux">指定获取范围 为空则不指定 &lt;html[^&gt;]*&gt;([\s\S]*?)&lt;/html&gt;
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="parse-method">
                                <div class="layui-inline">
                                    <label class="layui-form-label-col" lay-tips="一行一条规则，逐行匹配到则终止匹配">DOM解析:</label>
                                </div>
                                <div class="layui-inline">
                                    <textarea class="layui-textarea" name="list.dom.{id}"></textarea>
                                </div>
                                <div class="layui-inline" lay-tips="选择dom取值方法">
                                    <div class="layui-input-inline" style="width: 80px">
                                        <select name="list.method.{id}">
                                            <option value="attr">Attr</option>
                                            <option value="text">Text</option>
                                            <option value="html">Html</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-inline" lay-tips="属性名称 默认为 href">
                                    <input type="text" name="list.attr_name.{id}" value="href" class="layui-input">
                                </div>
                                <div class="layui-inline">
                                    <button class="layui-btn layui-btn-radius" parse-method>转为正则解析</button>
                                </div>
                            </div>
                            <div class="parse-method layui-hide">
                                <div class="layui-inline">
                                    <label class="layui-form-label-col">正则解析:</label>
                                </div>
                                <div class="layui-inline" style="width: 55%" lay-tips="一行一条规则，逐行匹配到则终止匹配">
                                    <textarea class="layui-textarea" name="list.reg.{id}"></textarea>
                                </div>
                                <div class="layui-inline">
                                    <button class="layui-btn layui-btn-radius" parse-method>转为DOM解析</button>
                                </div>
                            </div>
                        </div>
                        <fieldset class="layui-elem-field layui-field-title">
                            <legend>过滤</legend>
                        </fieldset>
                        <div class="layui-form-item">
                            <label class="layui-form-label"
                                   lay-tips="例如:只匹配以/index.html结尾的数据 /index\.html$">正则匹配:</label>
                            <div class="layui-input-block">
                                <input type="text" name="list.match.{id}" value="" class="layui-input"
                                       autocomplete="off" placeholder="/\d+\.html$">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <div class="layui-form-mid layui-word-aux">原词 一行一条</div>
                                <textarea name="list.olds.{id}" class="layui-textarea"></textarea>
                            </div>
                            <div class="layui-inline">
                                <div class="layui-form-mid layui-word-aux">替换成 对应原词一行一条</div>
                                <textarea name="list.news.{id}" class="layui-textarea"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <input type="checkbox" name="list.trim_html.{id}" title="过滤html标签">
                            </div>
                            <div class="layui-inline">
                                <input type="checkbox" name="list.reg_enabled.{id}" title="启用正则过滤">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">分页采集</h2>
                    <div class="layui-colla-content">
                        <div class="layui-form-item">
                            <label class="layui-form-label">开启分页:</label>
                            <div class="layui-input-inline">
                                <input type="checkbox" name="list.page.enabled.{id}" lay-skin="switch"
                                       lay-text="开启|关闭">
                            </div>
                        </div>
                        <fieldset class="layui-elem-field layui-field-title">
                            <legend>获取</legend>
                        </fieldset>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label-col">指定范围:</label>
                            </div>
                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <input type="text" name="list.page.limit.{id}" value=""
                                           class="layui-input"
                                           autocomplete="off"
                                           placeholder="&lt;html[^&gt;]*&gt;([\s\S]*?)&lt;/html&gt;">
                                </div>
                                <div class="layui-form-mid layui-word-aux">指定获取范围 为空则不指定 &lt;html[^&gt;]*&gt;([\s\S]*?)&lt;/html&gt;
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="parse-method">
                                <div class="layui-inline">
                                    <label class="layui-form-label-col">DOM解析:</label>
                                </div>
                                <div class="layui-inline" lay-tips="一行一条规则，逐行匹配到则终止匹配">
                                    <textarea class="layui-textarea" name="list.page.dom.{id}"></textarea>
                                </div>
                                <div class="layui-inline" lay-tips="选择dom取值方法">
                                    <div class="layui-input-inline" style="width: 80px">
                                        <select name="list.page.method.{id}">
                                            <option value="attr">Attr</option>
                                            <option value="text">Text</option>
                                            <option value="html">Html</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-inline" lay-tips="属性名称 默认为 href">
                                    <input type="text" name="list.page.attr_name.{id}" value="href" class="layui-input">
                                </div>
                                <div class="layui-inline">
                                    <button class="layui-btn layui-btn-radius" parse-method>转为正则解析</button>
                                </div>
                            </div>
                            <div class="parse-method layui-hide">
                                <div class="layui-inline">
                                    <label class="layui-form-label-col">正则解析:</label>
                                </div>
                                <div class="layui-inline" style="width: 55%" lay-tips="一行一条规则，逐行匹配到则终止匹配">
                                    <textarea class="layui-textarea" name="list.page.reg.{id}"></textarea>
                                </div>
                                <div class="layui-inline">
                                    <button class="layui-btn layui-btn-radius" parse-method>转为DOM解析</button>
                                </div>
                            </div>
                        </div>
                        <fieldset class="layui-elem-field layui-field-title">
                            <legend>过滤</legend>
                        </fieldset>
                        <div class="layui-form-item">
                            <label class="layui-form-label"
                                   lay-tips="例如:只匹配以/index.html结尾的数据 /index\.html$">正则匹配:</label>
                            <div class="layui-input-block">
                                <input type="text" name="list.page.match.{id}" value="" class="layui-input"
                                       autocomplete="off" placeholder="/\d+\.html$">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <div class="layui-form-mid layui-word-aux">原词 一行一条</div>
                                <textarea name="list.page.olds.{id}" class="layui-textarea"></textarea>
                            </div>
                            <div class="layui-inline">
                                <div class="layui-form-mid layui-word-aux">替换成 对应原词一行一条</div>
                                <textarea name="list.page.news.{id}" class="layui-textarea"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <input type="checkbox" name="list.page.trim_html.{id}" title="过滤html标签">
                            </div>
                            <div class="layui-inline">
                                <input type="checkbox" name="list.page.reg_enabled.{id}" title="启用正则过滤">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <!--详情解析 HTML-->
    <script type="text/template" id="step-detail-item">
        <div class="layui-tab-item layui-show">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label-col">指定范围:</label>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" name="detail.limit.{id}" value="" class="layui-input"
                               autocomplete="off"
                               placeholder="&lt;html[^&gt;]*&gt;([\s\S]*?)&lt;/html&gt;">
                    </div>
                    <div class="layui-form-mid layui-word-aux">指定获取范围 为空则不指定 &lt;html[^&gt;]*&gt;([\s\S]*?)&lt;/html&gt;
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="parse-method">
                    <div class="layui-inline">
                        <label class="layui-form-label-col" lay-tips="一行一条规则，逐行匹配到则终止匹配">DOM解析:</label>
                    </div>
                    <div class="layui-inline">
                        <textarea class="layui-textarea" name="detail.dom.{id}"></textarea>
                    </div>
                    <div class="layui-inline" lay-tips="选择dom取值方法">
                        <div class="layui-input-inline" style="width: 80px">
                            <select name="detail.method.{id}">
                                <option value="attr">Attr</option>
                                <option value="text">Text</option>
                                <option value="html">Html</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline" lay-tips="属性名称 默认为 href">
                        <input type="text" name="detail.attr_name.{id}" value="" class="layui-input">
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layui-btn-radius" parse-method>转为正则解析</button>
                    </div>
                </div>
                <div class="parse-method layui-hide">
                    <div class="layui-inline">
                        <label class="layui-form-label-col" lay-tips="一行一条规则，逐行匹配到则终止匹配">正则解析:</label>
                    </div>
                    <div class="layui-inline" style="width: 55%">
                        <textarea class="layui-textarea" name="detail.reg.{id}"></textarea>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layui-btn-radius" parse-method>转为DOM解析</button>
                    </div>
                </div>
            </div>
            <fieldset class="layui-elem-field layui-field-title">
                <legend>过滤</legend>
            </fieldset>
            <div class="layui-form-item">
                <label class="layui-form-label" lay-tips="例如:只匹配以/index.html结尾的数据 /index\.html$">正则匹配:</label>
                <div class="layui-input-block">
                    <input type="text" name="detail.match.{id}" value="" class="layui-input"
                           autocomplete="off" placeholder="/\d+\.html$">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <div class="layui-form-mid layui-word-aux">原词 一行一条</div>
                    <textarea name="detail.olds.{id}" class="layui-textarea"></textarea>
                </div>
                <div class="layui-inline">
                    <div class="layui-form-mid layui-word-aux">替换成 对应原词一行一条</div>
                    <textarea name="detail.news.{id}" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <input type="checkbox" name="detail.trim_html.{id}" title="过滤html标签" checked>
                </div>
                <div class="layui-inline">
                    <input type="checkbox" name="detail.reg_enabled.{id}" title="启用正则过滤">
                </div>
            </div>
            <div class="layui-form-item layui-hide">
                <input type="hidden" name="detail.alias.{id}" value="{alias}">
                <input type="hidden" name="detail.name.{id}" value="{name}">
            </div>
        </div>
    </script>
    <!--自定义-->
    <script>
        layui.use(['step', 'element', 'main'], function () {
            var $ = layui.$,
                step = layui.step,
                element = layui.element,
                main = layui.main,
                form = layui.form,
                currentIndex = $('.step-content').closest('[times]').attr('times'), //先得到当前iframe层的索引;
                currentId = $('input[name=id][type=hidden]').val() || 0,
                seeds = Array(), //种子列表
                classes = {}, //栏目HTML
                utils = {
                    /*总渲染*/
                    render: function () {
                        //添加列表规则
                        $('[lay-event=addListRule]').click(function () {
                            var listTabTitleThis = $('[lay-filter=step-list]>ul.layui-tab-title'),
                                isEmpty = listTabTitleThis.children().length === 0;
                            if (isEmpty) {
                                listTabTitleThis.html('<li lay-id="0" class="layui-this">Rule-1</li>');
                            }
                            var options = new utils.buildListItem('step-list-item'),
                                tabAdd = element.tabAdd('step-list', {
                                    title: 'Rule-' + (options.id + 1),
                                    content: options.content,
                                    id: options.id
                                });
                            if (isEmpty) {
                                listTabTitleThis.html('<li lay-id="0" class="layui-this">Rule-1</li>');
                                tabAdd.tabChange('step-list', 0);
                            } else {
                                tabAdd.tabChange('step-list', options.id);
                            }
                            element.render();
                            form.render();
                            utils.renderMethod();
                        });
                        //添加详情规则
                        $('[lay-event=addDetailRule]').click(function () {
                            var existsHtml = $('[lay-filter=step-detail]').html();
                            layer.prompt({
                                formType: 0,
                                value: 'author',
                                title: '输入标识 由字母下划线或数字组成 字母开头'
                            }, function (name, index, elem) {
                                if (!/^[a-zA-Z][a-zA-Z0-9_]+/.test(name)) {
                                    layer.alert('您输入的标识不合法!');
                                    return false;
                                }
                                if (existsHtml.indexOf('value="' + name + '"') != -1) {
                                    layer.alert('您输入的标识"' + name + '"已经存在');
                                    return false;
                                }
                                layer.prompt({
                                    formType: 0,
                                    value: name.substring(0, 1).toUpperCase() + name.substring(1),
                                    title: '请输入别名 例如:标题'
                                }, function (alias, index, elem) {
                                    if (existsHtml.indexOf('value="' + alias + '"') != -1) {
                                        layer.alert('您输入的别名"' + alias + '"已经存在');
                                        return false;
                                    }
                                    var opts = new utils.buildDetailItem($('#step-detail-item').html(), {
                                        name: name,
                                        alias: alias
                                    });
                                    if (!opts.content) {
                                        layer.alert('添加内容为空');
                                        return false;
                                    }
                                    element.tabAdd('step-detail', {
                                        title: alias,
                                        content: opts.content,
                                        id: opts.id
                                    }).tabChange('step-detail', opts.id);
                                    layer.close(index);
                                    element.render();
                                    form.render();
                                    utils.renderMethod();
                                });
                                layer.close(index);
                            });
                        });
                        //监控选择网站ID
                        form.on('select(site_id)', function (obj) {
                            utils.bindClass(obj.value);
                        });
                        /*测试列表页*/
                        $('button[data-event=testList]').click(function () {
                            $('.step-content').addClass('layui-form');
                            $('button[lay-filter=testList]').click();
                        });
                        form.on('submit(testList)', function (obj) {
                            $('.step-content').removeClass('layui-form');
                            main.req({
                                url: '/spider/test/list',
                                data: obj.field,
                                tips: function (res) {
                                    layer.alert(res.msg, {area: ['500px', '450px']});
                                },
                                success: function (res) {
                                    if (res.code === 0) {
                                        seeds = res.data;
                                    }
                                }
                            });
                        });
                        /*测试详情页*/
                        $('button[data-event=testDetail]').click(function () {
                            $('.step-content').addClass('layui-form');
                            $('button[lay-filter=testDetail]').click();
                        });
                        form.on('submit(testDetail)', function (obj) {
                            $('.step-content').removeClass('layui-form');
                            if (seeds.length === 0) {
                                seeds = obj.field.seeds.split("\n")
                            }
                            layer.prompt({
                                formType: 0,
                                value: seeds[0],
                                title: '请输入完整的URL地址 http 开头'
                            }, function (value, index, elem) {
                                obj.field.detail_url = value;
                                main.req({
                                    url: '/spider/test/detail',
                                    data: obj.field,
                                    index: index,
                                    tips: function (res) {
                                        layer.alert(res.msg, {area: ['500px', '450px']});
                                    }
                                });
                            });
                        });
                        //验证提交
                        form.on('submit(stepSubmit)', function (obj) {
                            if (typeof currentIndex === 'undefined') {
                                currentIndex = function () {
                                    layer.closeAll();
                                }
                            }
                            main.req({
                                url: currentId > 0 ? '/spider/modify' : '/spider/add',
                                data: obj.field,
                                index: currentIndex,
                                ending: function () {
                                    location.reload("/spider");
                                }
                            });
                        });
                        element.render();
                        utils.renderMethod();
                        form.render();
                    },
                    /*绑定栏目*/
                    bindClass: function (id, classId) {
                        if (isNaN(parseInt(id))) {
                            return false
                        }
                        if (typeof classes[id] === 'string' && classes[id].length > 10) {
                            $('[lay-filter=class_id]').html(classes[id]);
                            form.render();
                            return false;
                        }
                        $.get('/site/class', {id: id, class_id: classId}, function (res) {
                            if (res.code === 0) {
                                classes[id] = res.data;
                                $('[lay-filter=class_id]').html(res.data);
                                form.render();
                            }
                        });
                    },
                    /*获取lay-id*/
                    getLayId: function (elem) {
                        var ids = Array(), id = 0;
                        $(elem).each(function () {
                            var layid = parseInt($(this).attr('lay-id'));
                            if (!isNaN(layid)) {
                                ids.push(layid);
                            }
                        });
                        if (ids.length > 0) {
                            id = Math.max.apply(null, ids) + 1;
                        }
                        return {id: id, ids: ids}
                    },
                    /*构建 详情 item*/
                    buildDetailItem: function (content, field, id) {
                        if (typeof content !== 'string' || content.length == 0 || Object.prototype.toString.call(field) !== '[object Object]' || typeof field.name !== 'string') {
                            return false;
                        }
                        if (typeof field.alias !== 'string' || field.alias.length < 1) {
                            field.alias = field.name.substring(0, 1).toUpperCase() + field.name.substring(1);
                        }
                        var layId = {};
                        if (id) {
                            layId = {id: id, ids: [id]};
                        } else {
                            layId = utils.getLayId('[lay-filter=step-detail]>.layui-tab-title>li[lay-id]');
                        }
                        switch (field.name) {
                            case 'title':
                                content = content.replace(/name="detail\.dom\.\{id\}">/, 'name="detail.dom.{id}">h1')
                                    .replace(/option\s+value="text"/, 'option value="text" selected');
                                break;
                            case 'tags':
                                content = content.replace(/name="detail\.dom\.\{id\}">/, 'name="detail.dom.{id}">.tags')
                                    .replace(/option\s+value="text"/, 'option value="text" selected');
                                break;
                            case 'content':
                                content = content.replace(/name="detail\.dom\.\{id\}">/, 'name="detail.dom.{id}">body')
                                    .replace(/option\s+value="html"/, 'option value="html" selected');
                                break;
                            case 'keywords':
                                content = content.replace(/name="detail\.dom\.\{id\}">/, 'name="detail.dom.{id}">meta[name=keywords]')
                                    .replace(/name="detail\.attr_name\.\{id\}"\s+value=""/, 'name="detail.attr_name.{id}" value="content"');
                                break;
                            case 'description':
                                content = content.replace(/name="detail\.dom\.\{id\}">/, 'name="detail.dom.{id}">meta[name=description]')
                                    .replace(/name="detail\.attr_name\.\{id\}"\s+value=""/, 'name="detail.attr_name.{id}" value="content"');
                                break;
                        }
                        this.content = content.replace(/\{id\}/g, layId.id)
                            .replace(/\{name\}/g, field.name)
                            .replace(/\{alias\}/, field.alias);
                        this.id = layId.id;
                        this.ids = layId.ids;
                    },
                    /*构建 列表 item*/
                    buildListItem: function (elem, id) {
                        if (typeof elem !== 'string') {
                            return false;
                        }
                        if (elem.substring(0, 1) === '#') {
                            elem = elem.substring(1);
                        }
                        var content = $('#' + elem).html(),
                            ids = Array(),
                            layId = {id: parseInt(id), ids: Array()};
                        if (!content) {
                            return false;
                        }
                        if (isNaN(layId.id)) {
                            layId = utils.getLayId('[lay-filter=step-list]>.layui-tab-title>li[lay-id]');
                        }
                        this.content = content.replace(/\{id\}/g, layId.id);
                        this.id = layId.id;
                        this.ids = layId.ids;
                    },
                    /*转换解析方法*/
                    renderMethod: function () {
                        $('button[parse-method]').click(function () {
                            var othis = $(this),
                                parent = othis.closest('div.parse-method');
                            parent.addClass('layui-hide');
                            parent.siblings().removeClass('layui-hide');
                        });
                    },
                    /*初始化详情步骤*/
                    initDetail: function () {
                        var fields = [
                                {name: 'title', alias: '标题'},
                                {name: 'content', alias: '内容'},
                                {name: 'description', alias: '描述'},
                                {name: 'keywords', alias: '关键词'},
                                {name: 'tags', alias: 'Tags'},
                            ],
                            tabTitleElem = $('[lay-filter=step-detail]>ul.layui-tab-title'),
                            tabContentElem = $('[lay-filter=step-detail]>div.layui-tab-content'),
                            titleHtml = '',
                            contentHtml = '',
                            detailContent = $('#step-detail-item').html();
                        $.each(fields, function (i, v) {
                            var opts = new utils.buildDetailItem(detailContent, v, i);
                            if (!opts.content) {
                                opts.content = `<div class="layui-tab-item layui-show"></div>`;
                            }
                            if (i === 0) {
                                titleHtml += '<li class="layui-this" lay-id="0">' + v.alias + '</li>';
                            } else {
                                titleHtml += '<li lay-id="' + i + '">' + v.alias + '</li>';
                                opts.content = opts.content.replace(/ layui-show/, '');
                            }
                            contentHtml += opts.content;
                        });
                        tabTitleElem.html(titleHtml);
                        tabContentElem.html(contentHtml);
                    },
                    /*初始化列表步骤*/
                    initList: function () {
                        var tabTitleElem = $('[lay-filter=step-list]>ul.layui-tab-title'),
                            tabContentElem = $('[lay-filter=step-list]>div.layui-tab-content'),
                            opts = new utils.buildListItem('step-list-item', 0);
                        tabTitleElem.html('<li class="layui-this" lay-id="0">Rule-1</li>');
                        if (!opts.content) {
                            opts.content = `<div class="layui-tab-item  layui-show"></div>`;
                        }
                        tabContentElem.html(opts.content);
                    }
                };
            /*渲染步骤*/
            step.render({
                position: 0,
                contentW: '90%',
                data: [{title: '基本设置'}, {title: '列表规则'},
                    {title: '详情页'}, {title: '定时采集'}]
            });
            if (currentId > 0) {
                utils.bindClass($('select[name=site_id]').val(), $('select[name=class_id]').val());
            } else {
                /*初始化默认列表规则*/
                utils.initList();
                /*初始化默认详情规则*/
                utils.initDetail();
            }
            /*小工具渲染*/
            utils.render();
        });
    </script>
{{end -}}