<div class="top">
  <div class="logo">
	<div class="logo_a"><img src="{dede:global.cfg_templets_skin/}/images/logo.jpg" height="28" width="459" alt="郑州市金水区某某达搬家" /></div>
	<div class="logo_b">
	<div class="left remen"><img src="{dede:global.cfg_templets_skin/}/images/remen.jpg" height="19" width="76" /></div>
	<div class="right gj">郑州搬家,郑州搬家哪家好,郑州搬家电话</div>
	</div>
  </div>
</div>
<div class="gonggao">
  <div class="gonggao_a">
	<ul>
	<li><a href="/">网站首页</a></li>
	{dede:channel type='top' row='7'}
	<li>|</li>
	<li><a href="[field:typeurl/]">[field:typename/]</a></li>
	{/dede:channel}
	</ul>
  </div>
</div>
