<html>
<head>
<meta name="applicable-device" content="pc">
<title>{dede:field.title/}_{dede:global.cfg_titlelast/}</title>
<meta name="keywords" content="{dede:field.keywords/}" />
<meta name="description" content="{dede:field.description function='html2text(@me)'/}" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="{dede:global.cfg_templets_skin/}/style/css.css" rel="stylesheet" type="text/css">
</head>
<body>

{dede:include filename="head.htm"/}

<div class="banner_bj">
  <div class="ny_banner"><img src="{dede:global.cfg_templets_skin/}/images/bb.jpg" height="200" width="1024"></div>
</div>
<div class="main" style="margin-top:15px;">
  {dede:include filename="left.htm"/}
  <div class="main_right">
    <div class="ny_nav">您当前位置：{dede:field name='position'/} </div>
    <div class="ny_main">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="2%" height="344" valign="top">&nbsp;</td>
          <td width="96%" valign="top">
			<script language="javascript">
function check_email(Email)
{

　　var pattern = /\w+@((\w+[.]?)+)/;
　　flag = pattern.test(Email);
　　if(!flag)
　　{
　　　　return false;
　　}
　　else
　　return true;
}

function check_shouji(year)
{

　　var pattern = /^((\(\d{2,3}\))|(\d{3}\-))?1\d{11}$/;
　　flag = pattern.test(year);
　　if(!flag)
　　{
　　　　return false;
　　}
　　else
　　return true;
}

function check_telephone(year)
{

　　var pattern = /^\d{3,4}((\(\d{2,3}\))|(\d{3}\-))?(\(0\d{2,3}\)|0\d{2,3}-)?[1-9]\d{6,7}(\-\d{1,4})?$/;
　　flag = pattern.test(year);
　　if(!flag)
　　{
　　　　return false;
　　}
　　else
　　return true;
}

function check()
{
if(document.addmessage.Name.value=="")
{ alert('你没有填写你的大名请检查');
 document.addmessage.Name.focus();
 return false;
}
if(document.addmessage.Phone.value=="")
{ alert('你没有填写你的电话请检查');
 document.addmessage.Phone.focus();
 return false;
}

 if ((!check_telephone(document.addmessage.Phone.value))&&(!check_shouji(document.addmessage.Phone.value))) {
		alert("请正确输入你的联系方式！");
		document.addmessage.Phone.focus();
		    return (false);
  }


if(document.addmessage.Email.value=="")
{ alert('请填写你的邮箱');
 document.addmessage.Email.focus();
 return false;
}

 if (!check_email(document.addmessage.Email.value)) {
		alert("请正确输入电子信箱！");
		document.addmessage.Email.focus();
		    return (false);
  }

if(document.addmessage.Content.value=="")
{ alert('你没有填写你的留言内容');
 document.addmessage.Content.focus();
 return false;
}

if(document.addmessage.s.value=="")
{ alert('请填写验证码');
 document.addmessage.s.focus();
 return false;
}
return true;

}




</script>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><TABLE WIDTH="100%" HEIGHT="210"
BORDER="0" ALIGN="center" CELLPADDING="0" CELLSPACING="1">


                          <FORM name="addmessage" METHOD="post" ACTION="messagewrite.asp" onSubmit="return check();">
                            <TR>
                              <TD WIDTH="13%" HEIGHT="20" ALIGN="right" nowrap>姓名：                              </TD>
                              <TD WIDTH="64%" HEIGHT="25"> <FONT>
                                <INPUT TYPE="text" NAME="Name" MAXLENGTH="36" VALUE="">
                              </FONT> </TD>
                              <TD WIDTH="23%" HEIGHT="25">&nbsp;</TD>
                            </TR>
                            <TR>
                              <TD WIDTH="13%" HEIGHT="20" ALIGN="right">性别：</TD>
                              <TD WIDTH="64%" HEIGHT="25"> <INPUT type=radio value="1" name=sex  onClick="change2(2);" checked="checked">
                                先生&nbsp; <INPUT type=radio value="0" name=sex  onClick="change2(1);" on>
                              女士</TD>

                            </TR>
                            <TR>
                              <TD HEIGHT="20" ALIGN="right">联系电话：</TD>
                              <TD WIDTH="64%" HEIGHT="25"> <INPUT NAME="Phone" TYPE="text" value="" SIZE="24" MAXLENGTH="36">(必须是11位数字电话或者手机都可以)
                              </TD>
                            </TR>
                            <TR>
                              <TD HEIGHT="20" ALIGN="right">E-mail：</TD>
                              <TD HEIGHT="25" colspan="2"> <INPUT NAME="Email" TYPE="text" value="" SIZE="15" MAXLENGTH="36" >
                                <span class="red">(必须填写)</span> </TD>
                            </TR>
                            <TR>
                              <TD HEIGHT="20" ALIGN="right">问题类别：</TD>
                              <TD HEIGHT="12" colspan="2"> <select name="sort">
                                   <option value="普通留言">普通留言</option>
                                                <option value="对网站的意见">对网站的意见</option>
                                                <option value="投诉或建议">投诉或建议</option>
                                                <option value="其他内容">其他内容</option>
                                </select> <input name="title" type="hidden" size="30" maxlength="50" >
                          <input type="hidden" name="bm" value="0" > </TD>
                            </TR>
                           <!-- <TR>
                              <TD HEIGHT="20" ALIGN="right">保密否：</TD>

                        <TD WIDTH="83%" HEIGHT="12" colspan="2"> 公开</TD>
                            </TR>
                            <TR> -->
                              <TD WIDTH="13%" HEIGHT="19" ALIGN="right" VALIGN="top">您的问题：                              </TD>
                              <TD HEIGHT="0" colspan="2" VALIGN="top"><TEXTAREA ROWS="10" NAME="Content" COLS="45" ></TEXTAREA>

                              </TD>
                            </TR>
                            <TR>
                              <TD WIDTH="13%" HEIGHT="20" VALIGN="top"> </TD>
                              <TD HEIGHT="0" colspan="2" VALIGN="top">
                              <INPUT TYPE="submit" VALUE="提交留言"
NAME="cmdOk"> <INPUT TYPE="reset" VALUE="重写" NAME="cmdReset"> </TD>
                            </TR>
                          </form>
                        </TABLE></td>
                <td>&nbsp;</td>
              </tr>
            </table>
                        </td>
          <td width="2%" valign="top">&nbsp;</td>
        </tr>
      </table>    </div>
  </div>
</div>

{dede:include filename="footer.htm"/}

</div>
</body>
</html>
