/*
Theme ID: ecms237
Author: 墨鱼移植
Author QQ：48444431
Author Email：48444431@qq.com
Author URL: http://www.moyublog.com/
*/

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
footer,
header,
section {
  display: block;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

button,
input,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  outline: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #888;
  background-color: #F2F6FC;
  margin: 0;
  padding: 0;
}

ul,
li,
dl,
dd,
dt,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #333;
  text-decoration: none;
}

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

img {
  vertical-align: middle;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 768px) {
  .container {
    width: 730px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 950px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1280px;
  }
}

.row {
  margin-left: -10px;
  margin-right: -10px;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-pull-11 {
  right: 91.66666667%;
}

.col-xs-pull-10 {
  right: 83.33333333%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-8 {
  right: 66.66666667%;
}

.col-xs-pull-7 {
  right: 58.33333333%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-5 {
  right: 41.66666667%;
}

.col-xs-pull-4 {
  right: 33.33333333%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-2 {
  right: 16.66666667%;
}

.col-xs-pull-1 {
  right: 8.33333333%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-push-11 {
  left: 91.66666667%;
}

.col-xs-push-10 {
  left: 83.33333333%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-8 {
  left: 66.66666667%;
}

.col-xs-push-7 {
  left: 58.33333333%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-5 {
  left: 41.66666667%;
}

.col-xs-push-4 {
  left: 33.33333333%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-2 {
  left: 16.66666667%;
}

.col-xs-push-1 {
  left: 8.33333333%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-0 {
  margin-left: 0%;
}

@media (min-width: 992px) {

  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-11 {
    width: 91.66666667%;
  }

  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-7 {
    width: 58.33333333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-1 {
    width: 8.33333333%;
  }

  .col-md-pull-12 {
    right: 100%;
  }

  .col-md-pull-11 {
    right: 91.66666667%;
  }

  .col-md-pull-10 {
    right: 83.33333333%;
  }

  .col-md-pull-9 {
    right: 75%;
  }

  .col-md-pull-8 {
    right: 66.66666667%;
  }

  .col-md-pull-7 {
    right: 58.33333333%;
  }

  .col-md-pull-6 {
    right: 50%;
  }

  .col-md-pull-5 {
    right: 41.66666667%;
  }

  .col-md-pull-4 {
    right: 33.33333333%;
  }

  .col-md-pull-3 {
    right: 25%;
  }

  .col-md-pull-2 {
    right: 16.66666667%;
  }

  .col-md-pull-1 {
    right: 8.33333333%;
  }

  .col-md-pull-0 {
    right: auto;
  }

  .col-md-push-12 {
    left: 100%;
  }

  .col-md-push-11 {
    left: 91.66666667%;
  }

  .col-md-push-10 {
    left: 83.33333333%;
  }

  .col-md-push-9 {
    left: 75%;
  }

  .col-md-push-8 {
    left: 66.66666667%;
  }

  .col-md-push-7 {
    left: 58.33333333%;
  }

  .col-md-push-6 {
    left: 50%;
  }

  .col-md-push-5 {
    left: 41.66666667%;
  }

  .col-md-push-4 {
    left: 33.33333333%;
  }

  .col-md-push-3 {
    left: 25%;
  }

  .col-md-push-2 {
    left: 16.66666667%;
  }

  .col-md-push-1 {
    left: 8.33333333%;
  }

  .col-md-push-0 {
    left: auto;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-md-offset-0 {
    margin-left: 0%;
  }
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none !important;
}

/* banner start */
.swiper-container1 {
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.thbn-title {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  opacity: 0.5;
  height: 44px;
  line-height: 44px;
  box-sizing: border-box;
  padding: 0 10px;
}

.thbn-title span {
  display: block;
  width: 85%;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: 0.3s ease-out;
  overflow: hidden;
  text-align: left;
}

.thbanner-img-height {
  height: 358px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  opacity: 0.5;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #f2f5f7;
  opacity: 1;

}

/* banner end */

.th_header {
  height: 60px;
  width: 100%;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.08);
  z-index: 100;
  top: 0;
  opacity: 1;
  position: fixed;
  top: 0;
}

.th_padding {
  padding-left: 0;
  padding-right: 0;
}

.th_img {
  width: 100%;
  object-fit: cover;
}

.logo{
  width: 200px;
}
.logo a{
  display: block;
  width: 100%;
  height: 100%;
}
.logo a img{
  display: block;
  width: 100%;
  height: 100%;
}


.th_header_c1 {
  background: #1dac64;
}

.th_header_c2 {
  background: #303133;
}

.th_header_c3 {
  background: #1c79c1;
}

.th_header_c4 {
  background: #da1f2e;
}

.th_nav li {
  float: left;
  position: relative;
}

.th_nav li a {
  color: #fff;
  display: inline-block;
  padding: 0 15px;
  font-size: 15px;
  position: relative;
  z-index: 2;
  min-width: 68px;
  height: 59px;
  line-height: 59px;
  text-align: center;
  transition: 0.4s ease-out;
}

.th_nav li:hover ul{
  display: block;
}
.th_nav li ul{
display: none;
overflow: hidden;
background: #da1f2e;
}
.th_nav li ul li{
  float: none;
}

.th_nav_c1 li a.on {
  background-color: #158e51;
}

.th_nav_c2 li a.on {
  background-color: #212223;
}

.th_nav_c3 li a.on {
  background-color: #00468c;
}

.th_nav_c4 li a.on {
  background-color: #c21b29;
}

.th_nav_c1 li a:hover {
  background-color: #158e51;
}

.th_nav_c2 li a:hover {
  background-color: #212223;
}

.th_nav_c3 li a:hover {
  background-color: #00468c;
}

.th_nav_c4 li a:hover {
  background-color: #c21b29;
}

.th_cl1 {
  color: #1dac64;
  font-weight: bold;
}

.th_cl2 {
  color: #000;
  font-weight: bold;
}

.th_cl3 {
  color: #1c79c1;
  font-weight: bold;
}

.th_cl4 {
  color: #da1f2e;
  font-weight: bold;
}

.th_bg1 {
  background-color: #67C23A;
  transition: 0.3s ease-out;
}

.th_bg2 {
  background-color: #303133;
  transition: 0.3s ease-out;
}

.th_bg3 {
  background-color: #409EFF;
  transition: 0.3s ease-out;
}

.th_bg4 {
  background-color: #da1f2e;
  transition: 0.3s ease-out;
}

.th_bg1:hover {
  background-color: #1dac64;
}

.th_bg2:hover {
  background-color: #000;
}

.th_bg3:hover {
  background-color: #00468c;
}

.th_bg4:hover {
  background-color: #c21b29;
}

.th_tag1 a:hover {
  background-color: #1dac64;
}

.th_tag2 a:hover {
  background-color: #212223;
}

.th_tag3 a:hover {
  background-color: #409EFF;
}

.th_tag4 a:hover {
  background-color: #da1f2e;
}

.th_nav_con {
  background-color: #fff;
  height: 40px;
  border: 1px solid #eee;
  box-sizing: border-box;
  border-top: none;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.08);
}

.th_nav_con ul li {
  float: left;
  line-height: 40px;
  margin-left: 15px;
  color: #333;
}

.th_search {
  position: absolute;
  top: 15px;
  right: 15px;
}

.th_search i {
  color: #fff;
  font-size: 22px;
}


.th_top {
  margin-top: 20px;
}

.th_banner {
  height: 360px;
}

.banner_height {
  height: 360px;
}


.aaa {
  background-color: #fff;
  height: 709px;
  border: 1px solid #eee;
  box-sizing: border-box;
}

.thleftcon {
  width: 100%;
  background: #fff;
  box-sizing: border-box;overflow: hidden;
}

.thwenzhang {
  border-top: 1px solid #f0f0f0;
  background-color: #f8f8f8;
}

.thleftbt {
  height: 50px;
  line-height: 50px;
  background: #fff;
  position: relative;
  box-sizing: border-box;
  font-size: 18px;
}

.thleftbt span {
  margin-left: 15px;
  font-weight: bold;
}

.thleftbt::before {
  content: "";
  display: block;
  position: absolute;
  left: -2px;
  top: 35%;
  width: 4px;
  height: 30%;
  border-radius: 5px;
}

.listMore {
  position: absolute;
  top: 0px;
  right: 10px;
}

.th-5 {
  padding: 10px 0px;
  background: #fff;
}

.th-5 li {
  line-height: 36px;
  height: 36px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px 10px;
}

.th_toutiao_li li:nth-child(6) {
  border-bottom: 1px dashed #eee;
  margin-bottom: 10px;
}

.bottom1 {
  width: 30%;
  float: left;
  position: relative;
}



.bottom2 {
  width: 68%;
  float: right;
}

.bottom2 a {
  font-weight: normal;
  display: block;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  transition: 0.3s ease-out;
  text-align: left;
  text-overflow: ellipsis;
  font: 700 15px 'Microsoft Yahei', 'Hei', Tahoma, 'SimHei', sans-serif;
}

.bottom2_info {
  height: 66px;
  line-height: 22px;
  overflow: hidden;
  font-size: 12px;
  color: #999;
  margin-top: 5px;
  white-space: normal;
}

.banner_bottom {
  height: 100px;
}

.th-5 li.th_li {
  height: 100px;
  /* margin-bottom: 15px; */
}

.th-5 li.th_cat {
  height: 150px;
}

.cart_img_height {
  height: 150px;
}



.th-5 .date {
  float: right;
  color: #bbb;
}

.th-5 li i {
  display: inline-block;
  margin-right: 5px;
  opacity: 0.5;
}



.thsec1::before {
  background-color: #1dac64;
}

.thsec2::before {
  background-color: #303133;
}

.thsec3::before {
  background-color: #409EFF;
}

.thsec4::before {
  background-color: #F56C6C;
}

.listMore a {
  font-size: 14px;
  color: #999;
  transition: 0.3s ease-out;
}

.listMore span {
  font-weight: 400;
  font-size: 14px;
  color: #999;
  transition: 0.3s ease-out;
}

.th_hover_a1:hover {
  color: #1dac64;
}

.th_hover_a2:hover {
  color: #999;
}

.th_hover_a3:hover {
  color: #409EFF;
}

.th_hover_a4:hover {
  color: #da1f2e;
}

.thhotnews_con {
  padding: 0px 10px;
}

.thhotnews_con dl:nth-child(1) {
  margin-bottom: 10px;
}

.thhotnews_con dl {
  border-bottom: 1px dashed #eee;
  padding-bottom: 10px;
}

.thhotnews_con dl dt a {
  font-weight: normal;
  display: block;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  transition: 0.3s ease-out;
  text-align: center;
  text-overflow: ellipsis;
  font: 700 16px 'Microsoft Yahei', 'Hei', Tahoma, 'SimHei', sans-serif;
}

.thhotnews_con dl dd {
  height: 44px;
  line-height: 22px;
  overflow: hidden;
  font-size: 12px;
  color: #999;
  margin-top: 5px;
}

.icon_yin {
  opacity: 0.5;
}

.th_ad3 {
overflow: hidden;
}
.th_ad3 img{
  width: 100%;
  height: auto;
}


/*=====æ¸å˜æ‰«å…‰=====*/
.gradient {
  background-image: -webkit-linear-gradient(-30deg, #539FF1, #f00 30%, #002DBF 70%, #539FF1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-background-size: 200% 100%;
  -webkit-animation: text-background-animation 2s infinite linear;
}

@-webkit-keyframes text-background-animation {
  0% {
    background-position: 20% 0
  }

  100% {
    background-position: -120% 0
  }
}

@keyframes text-background-animation {
  0% {
    background-position: 20% 0
  }

  100% {
    background-position: -120% 0
  }
}

.th_login {
  background-color: #fff;
  padding: 0px 10px;
  box-sizing: border-box;
  border: 1px solid #fff;
  overflow: hidden;
  padding-bottom: 15px;
}

.th_login_info {
  margin-top: 15px;
  overflow: hidden;
}

.jsimg-toux {
  height: 60px;
  width: 60px;
  border: 5px solid #f2f5f7;
  border-radius: 40px;
}

.th_login_dec {
  margin-left: 10px;
  margin-top: 10px;
}

.th_login_btn {
  margin-top: 10px;
}

.th_login_btn a {
  border-radius: 2px;
  box-shadow: 0 1px 1px #DDDDDD;
  color: #FFFFFF;
  display: block;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  text-align: center;
  width: 45%;
}

.thliorder1 {
  padding-bottom: 15px;
  /* border: 1px solid #f0f0f0; */
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  margin: 5px;
  padding: 10px;
  border-radius: 1px;
  transition: 0.3s ease-out;
  overflow: hidden;
  background-color: #fff;
}

.thliorder1:hover {
  background-color: #f2f5f7;
}


.thliorder1_title {
  overflow: hidden;
  height: 22px;
  margin-top: 5px;
}

.thliorder1_title span {
  float: left;
}

.thtime {
  float: right;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
  color: #999;
}

.thliorder1_title span a {
  display: inline-block;
  color: #fff;
  width: 70px;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
}

.daodu {
  margin-top: 10px;
}

.daodu a {
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.3s ease-out;
  color: #464646;
  font-weight: bold;
  font: 700 14px 'Microsoft Yahei', 'Hei', Tahoma, 'SimHei', sans-serif;
}

.gundong-img-height {
  height: 165px;
}

.daoducon {
  color: #999;
  height: 44px;
  line-height: 22px;
  overflow: hidden;
  font-size: 12px;
  margin-top: 6px;
}

.thinfo {
  color: #999;
  height: 22px;
  line-height: 22px;
  overflow: hidden;
  font-size: 12px;
  margin-top: 6px;
}

.th_list {
  background-color: #fff;
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 10px;
}

.tupian {
  overflow: hidden;
}

.tupian_a {
  position: relative;
  display: block;
}


.tupian_top {
  margin-top: 20px;
}

.tupian1 {
  height: 480px;
}

.tupian2 {
  height: 230px;
}

.tupian2_1,
.tupian2_2 {
  width: 48%;
  height: 230px;
}

.tupian_info {
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #000;
  opacity: 0.7;
  color: #fff;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  padding: 0px 5px;
}

.gundongimg {
  border: 1px solid #fff;
  box-sizing: border-box;
  overflow: hidden;
}

.gundongimg a img {
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;

}

.gundongimg a:hover img {
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
}

.th-8 {
  background: #fff;
  overflow: hidden;
  padding: 15px 15px 10px 15px;
}

.th-8 li {
  float: left;
  margin-right: 15px;
  line-height: 25px;
}

.th-8 li a {
  color: #999;
  transition: 0.3s ease-out;
}

.th-8 li a:hover {
  color: #333;
}

.footer1 {
  width: 100%;
  background: #333;
  padding-top: 30px;
  padding-bottom: 20px;
  color: #ccc;
  font-size: 12px;
  margin-top: 15px;
}

.footcon1 dt {
  font-size: 14px;
  margin-bottom: 15px;
  color: #f2f5f7;
}

.footcon1 dd {
  line-height: 20px;
  color: #8a8a8a;
  height: 103px;
  overflow: hidden;
}

.footcon1 dd.footlianx {
  height: 25px;
  line-height: 25px;
}

.footcon1 dd.footlianx span {
  color: #3297fc;
  font-size: 14px;
}

.footcon1 dd i {
  margin-right: 10px;
}

.footcon2 dt {
  font-size: 14px;
  margin-bottom: 15px;
  color: #f2f5f7;
  text-align: center;
}

.footcon2 dd {
  line-height: 20px;
  height: 20px;
  color: #8a8a8a;
  overflow: hidden;
  text-align: center;
}

.footcon2 dd a {
  line-height: 20px;
  height: 20px;
  color: #8a8a8a;
  transition: 0.3s ease-out;
}

.footcon2 dd a:hover {
  color: #f2f5f7;
}

.footewm {
  width: 103px;
  height: 103px;
  border: 1px solid #585858;
  margin: 0 auto;
  margin-top: 10px;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 5px;
}

.footer2 {
  background: #292929;
  padding: 10px 0;
  text-align: center;
  overflow: hidden;
  color: #9c9c9c;
  font-size: 12px;
}
.footer2 a{color:#9c9c9c}
.pheaderpad {
  height: 60px;
}

/* fixed top */
.thgotop {
  position: fixed;
  left: 50%;
  margin-left: 640px;
  bottom: 100px;
  z-index: 99;
}

.thgotop ul li {
  width: 40px;
  height: 40px;
  background: #fff;
  margin-top: 10px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.08);
  border: 1px solid #fff;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
}

.ditop {
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  transition: 0.3s ease-out;
  position: relative;
}

.ditop:hover {
  border: 1px solid #fff;
  color: #fff;
}

.ditop i {
  display: inline-block;
  margin-top: 5px;
  font-size: 20px;
  color: #000;
}

.ditop span {
  display: none;
  font-size: 12px;
  width: 30px;
  margin: 0 auto;
  margin-top: 3px;
}



.ditop:hover i {
  display: none;
}

.ditop:hover span {
  display: block;
}

.ditopcon {
  position: absolute;
  width: 160px;
  bottom: -50px;
  left: -163px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.08);
  border: 1px solid #fff;
  border-radius: 4px;
  box-sizing: border-box;
  transition: 0.3s ease-out;
  display: none;
  padding: 10px;
  background-color: #fff;
}

.ditop-top {
  margin-top: 10px;
}

.ditop-qq-img {
  width: 35px;
  height: 35px;
  margin: 0 auto;
}

.ditop-qq-btn {
  overflow: hidden;
  margin: 10px 0px 0px 0px;
}

.ditop-qq-btn img {
  margin-bottom: 8px;
}

.ditop-qq-height {
  height: 35px;
}

.ditop-time {
  color: #999;
  font-size: 12px;
  line-height: 25px;
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 10px;
}

.ditop-tel {
  color: #3297fc;
  font-size: 18px;
  line-height: 30px;
}

.ditop-email {
  color: #FF5151;
  font-size: 12px;
  line-height: 25px;
}

.isnight .yewan {
  display: none;
}

.isnight .baitian {
  display: block;
}

.style-night {
  background-color: #444;
}

.baitian {
  display: none;
}

.ditop:hover .ditopcon {
  display: block;
  color: #999;
  font-size: 14px;
}

.topthewm {
  width: 100px;
  height: 100px;
  border: 1px solid #f0f0f0;
  margin: 0 auto;
  margin-top: 10px;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 5px;
}

.thtu3,
.thtu4 {
  margin-top: 17px;
}

.tab_title {
line-height: 35px;
background: #fff;
margin: 15px 0px 0px 0px;
padding-left: 10px;
}

.th_category {
  position: relative;
}

.th_category_info {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  background-color: #000;
  opacity: 0.7;
  padding: 10px 10px;
}

.th_category_info a,
.cat_pt a {
  color: #fff;
}

.cat_pt {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.7;
  line-height: 20px;
  padding: 5px;
}

.th-7 {
  background: #fff;
  overflow: hidden;
  padding: 15px 15px 10px 15px;
}

.th-7 li {
  float: left;
  margin-right: 6px;
  width: 30%;
  text-align: center;
}

.th-7 li a {
  display: inline-block;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 0px 5px;
  overflow: hidden;
  border: 1px solid #f0f0f0;
  background-color: #f2f5f7;
  font-size: 12px;
  color: #999;
  transition: 0.3s ease-out;
}

.th-7 li a:hover {
  color: #fff;
}

/* page 配置 */
.th_page {
  background-color: #fff;
  text-align: center;
  line-height: 40px;
}

.th_page .page{
  margin: 0 2px;
}

.th_page a {
  background-color: #999;
  color: #fff;
  padding: 5px 10px;
  transition: 0.3s ease-out;
}

.th_page span.now-page {
  padding: 5px 10px;
  color: #fff;
}

.th_page_color1 a:hover {
  background-color: #1dac64;
}

.th_page_color2 a:hover {
  background-color: #000;
}

.th_page_color3 a:hover {
  background-color: #409EFF;
}

.th_page_color4 a:hover {
  background-color: #F56C6C;
}

.th_page_color1 span.now-page {
  background-color: #1dac64;
}

.th_page_color2 span.now-page {
  background-color: #000;
}

.th_page_color3 span.now-page {
  background-color: #409EFF;
}

.th_page_color4 span.now-page {
  background-color: #F56C6C;
}

/* page 配置 */

.thjingxuan_sec {
  overflow: hidden;
  background-color: #fff;
  padding: 20px;
}

.detail-title {
  color: #333;
  font: 700 18px 'Microsoft Yahei', 'Hei', Tahoma, 'SimHei', sans-serif;
}

.detail-icon {
  margin-top: 20px;
  font-size: 14px;
}

.detail-icon p span {
  margin-right: 10px;
}

.detail-con {
  font-size: 16px;
  margin-top: 20px;
  color: #333;
  line-height: 30px;
}
.detail-con img{max-width:100%;height:auto!important}
.detail-con p {
  color: #333;
  margin-bottom: 15px; 
}

.umCopyright {
  line-height: 22px;
  display: inline-block;
  padding: 10px 15px;
  font-size: 12px;
  color: #9ca0ad;
  background: #f6f7fa;
  border: 1px dashed #e3e5ec;
  width: 100%;
  margin: 25px 0 0;
}

.detail-arr {
  margin-top: 20px;
}

.detail-arr-left,
.detail-arr-right {
  color: #bbb;
  line-height: 30px;
}

.detail-arr-left a,
.detail-arr-right a,
.detail-tags a {
  transition: 0.3s ease-out;
}

.detail-tags {
  margin-top: 20px;
}

/* 评论 */

ul.msg {
  width: 100%;
  margin: 10px 0 20px 0;
  padding: 5px 0px;
  text-align: left;
  list-style-position: outside;
  table-layout: fixed;
  word-wrap: break-word;
}

.tbname {
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  background: #f6f7fa;
  padding-left: 20px;
  border-left: 4px solid #080808
}

li.msgname {
  padding: 0 0 10px 0px;
  font-size: 14px;
  vertical-align: middle;
  color: #9ca0ad;
  height: 45px;
}

li.msgname a {
  color: #9ca0ad;
}


li.msgurl {
  text-align: right;
  padding: 2px 10px 2px 10px;
  margin: 0;
  font-size: 1em;
}

.commentname {
  float: left;
}


.th-mp1,
.th-mp2 {
  margin: 0px;
}

.th-mp1 {
  height: 40px;
  line-height: 40px;
}

.th-mp2 {
  font-size: 14px;
  color: #777;
}

li.msggravatar {
  display: block;
  float: left;
  margin-right: 5px;
}

li.msgarticle {
  list-style-position: outside;
  padding: 10px;
  margin: 0;
  border-bottom: 1px solid #eaeaea;
}

li.msgtime {
  padding: 5px 0 0 0;
  font-weight: normal;
  font-size: 0.8em;
}

img.avatar {
  float: left;
  margin-right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .1);
  border: 2px solid #fff;
}

ul.msg ul.msg {
  padding: 10px 0 0 0;
  margin: 20px 0 0 0;
  border-top: 1px solid #eaeaea;
  border-bottom: none;
}

ul.msg ul.msg li.msgarticle {
  padding-bottom: 0px;
  border-bottom: 0px solid #eaeaea;
}

ul.msg ul.msg li.msgname {
  padding: 0px;
}

#txaArticle {
  position: relative;
  z-index: 1;
  padding: 5px;
  height: 100px;
  min-height: 14px;
  margin: 0;
  resize: none;
  outline: 0;
  width: 100%;
  min-width: 100%;
  border: 1px solid rgba(227, 229, 236, .4);
  background: #f8f8fc;
  border-radius: 0rem;
  font-size: 14px;
  line-height: 1.6;
}

.th-ulmsg {
  overflow: hidden;
  margin-bottom: 10px;
  ;
}

.th-ulmsg li {
  margin-top: 10px;
}

input.text {
  border-radius: 0;
  transition: all .35s ease 0s;
  line-height: 38px;
  height: 38px;
  width: 100%;
  padding: 0 10px;
  border: 1px solid rgba(227, 229, 236, .4);
  background: #f8f8fc;
}

input.text:focus,
#txaArticle:focus {
  border: 1px solid #7cbeff;
}

.button {
  display: inline-block;
  height: 38px;
  line-height: 38px;
  padding: 0 20px;
  background-color: #67C23A;
  transition: 0.3s ease-out;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  font-size: 14px;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  opacity: .9;
  filter: alpha(opacity=90);
  vertical-align: middle;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}

.comment {
  font-size: 16px;
  line-height: 25px;
  color: #333;
}
.th_search input:nth-child(1){
  font-size: 14px;
  background: #fcfcfc;
  height: 30px;
  line-height: 30px;
  text-indent: 10px;
  border: 0;
  border: 1px solid #ddd;
  border-radius: 2px;
  transition: all .35s ease 0s;
  width:160px;
}

.th_search input:nth-child(2){
  height: 30px;
  line-height: 28px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #c1c1c1;
  color: #333;
  padding: 0px 8px;
  border-radius: 2px;
  cursor: pointer;
}

/* wap menu start */


.th_icon {
  display: none;
  position: absolute;
  top: 15px;
  right: 10px;
  box-sizing: border-box;
  width: 2em;
  height: 2em;
  background-color: #fff;
  border-radius: .3em;
}

.th_icon:before {
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 1.2em;
  height: .15em;
  background-color: #000;
}

.th_icon:after {
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 1.2em;
  height: .9em;
  border-width: .15em;
  border-style: solid none;
  border-color: #000;
}

/* wap menu end */
.wap_none{

}

@media only screen and (min-width: 320px) and (max-width: 992px) {

  .wap_top,
  .thtu1,
  .thtu2 {
    margin-top: 20px;
  }

  .wap_none,
  .th_search {
    display: none;
  }

  .logo_height {
    width: 50%;
  }

  .th_icon {
    display: block;
  }

  .wap_con {
   padding-left: 0px;
   margin-top: -60px;
  }

  .wap_nav  {
    background: #23262E;
    position: fixed;
    z-index: 1111;
    width: 0px;
    transition: width 1s;
    -webkit-transition: width 1s;
    /* Safari */
    float: left;
    height: 100%;
    overflow: hidden;
  }

  .wap_nav li {
    float: none;
    line-height: 25px;
    font-size: 14px;
    color: rgba(255, 255, 255, .7);
    background: #393e48;
    padding: 10px;
    border-bottom: 1px solid #4c515d;
    text-align: left;
  }
  .wap_nav li a{
      padding: 0;
      height:25px;
      line-height:25px;
      text-align: left;
      color: rgba(255, 255, 255, .7);
  }
.wap_nav li a:hover{
  
}

  .wap_nav li ul{}
  .wap_nav li ul li{}

  .th_nav_c4 li a.on{
    background-color:#393e48;
    width:100% ;
  }


  .mouk {
    width: 100%;
    height: 100%;
    background: #000;
    position: fixed;
    z-index: 111;
    top: 0px;
    left: 0px;
    opacity: 0.5;
    display: none;
  }


}
.showpage {
    background-color: #fff;
    margin-top: 20px;
    padding: 10px;
}
.pcd_ad{display:block;}

.mbd_ad{ display:none}
@media(max-width:1200px) {
  .th-5 li.th_cat {
    height: 120px;
}
}
@media(max-width:768px) {

.pcd_ad{display:none !important;}

.mbd_ad{display:block !important;}
.th-5 li.th_cat {
    height: 100px;
}
}

.video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}
.video iframe, .video object, .video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.meihua_1 {
	display: block;
	margin-top: 10px;
	padding: 5px 10px;
	background-color: #ea4c89;
	color: #FFF;
	font-weight: bold;
	font-size: 18px;
	font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.meihua_2 {
	background-color: #fff;
	margin-bottom: 20px;
	box-shadow: 0 1px 2px rgba(15,39,65,0.1);
	font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.meihua_2 .meihua_2_1 {
	height: auto;
	overflow: hidden;
	background-color: #FFF;
	border: 1px solid #DDDDDD;
	border-width: 1px 1px 1px 1px;
	padding: 20px;
}
.meihua_2 .meihua_2_1 p {
	margin: 5px auto!important;
}
.meihua_2 .meihua_2_1 .meihua_btn {
	float: left;
	border: 1px solid #8a8a8a;
	font-size: 14px;
	height: 36px;
	line-height: 36px;
	padding-left: 40px;
	margin: 10px 10px 0 0;
	overflow: hidden;
	border-radius: 2px;
	background: url(../images/30.png) no-repeat 5px 3px #4abd96;
	border: 1px solid #4abd96;
	color: #FFF;
	text-decoration: none;
	padding-right: 10px;
}
.meihua_2 .meihua_2_1 .meihua_btn i {
	margin-right: 5px
}
.meihua_2 .meihua_2_1 .meihua_btn:hover {
	background-color: #3169b0
}
.short-btn {
	float: left;
	border: 1px solid #8a8a8a;
	font-size: 14px;
	height: 36px;
	line-height: 36px;
	padding-left: 40px;
	margin: 10px 10px 0 0;
	overflow: hidden;
	border-radius: 2px;
	background: url(../images/10.png) no-repeat 5px 3px #4abd96;
	border: 1px solid #4abd96;
	text-decoration: none;
	color: #FFF!important;
	padding-right: 10px;
	text-decoration: none;
}
.short-btn:hover {
	background-color: #3169b0
}