.ser-text{
	border: #20a53a 1px solid;
	height: 30px;
	margin-top: 8px;
	padding: 0 8px;
	width: 250px;
}

.ser-sub{
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAxAAAAMQBz4pYTAAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAE2SURBVDiNndJBS1VRFMXx9UzNQUQD0caFk6YhEUFCOPETiJQfIygQbNQgCCeOGjYLGjRJkPoKoSGIRKADs1nQoEIEfw3cry6v+3oPN2z2ufuu8z/7nruC9ORNvMRXHOIFbrTogjQfOniKX87iR2P9HSv/A1zA+xK/wRwmMYV5vKt3r/sBnpTgcb9R8aw0D3sB1/GzTum3uZsfSnupCVgr8vwQgKXSLnR7I0nuJJFkN4PjY9WZbmMkyXGtx4YAjFY9aQI2knSS3B4CMFd1508HV3CE3QHfP17G2sdo7298UJfzChMtmy9jszTLbT4InpfgCx6Vme5hFd/8jW1cbQME93Hg39jDYmOKT5hGOmi7rNkk15KcJvmcZKv6E0k2k9xNsp1keZBx2vIi3tYkG+cBxJmV13HrN6Szg7ZCfX3NAAAAAElFTkSuQmCC") no-repeat center #20a53a;
	border: 0;
	cursor: pointer;
	height: 30px;
	margin-right: 2px;
	margin-top: 8px;
	width: 38px;
}

#current-path{
	cursor: pointer;
}

#current-path > span{
	padding-left: 3px;
}

#current-path > span:hover{
	color: #0a5b52;
	font-size: 0.9rem;
}

.file-toolbar input, #current-path{
	background-color: #fff;
	border: 1px solid #d2d2d2;
	border-radius: 5px;
	height: 30px;
	line-height: 30px;
	min-width: 556px;
	overflow: hidden;
	white-space: nowrap;
}

.file-toolbar input:hover, #current-path:hover{
	border: 1px solid #009688 !important;
}

.ace-catalogue-drag-icon > .fold-icon-container{
	background: #222;
	border: 1px solid #525252;
	border-bottom-right-radius: 17px;
	border-left: none;
	border-top-right-radius: 17px;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-style: normal;
	font-weight: 400;
	height: 50px;
	left: -1px;
	line-height: 50px;
	margin-left: 0;
	padding-left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 16px;
	z-index: 999;
}

/*以下是编辑器样式*/
#ace-container{
	background: #444;
	height: 100%;
	overflow: hidden;
}

.aceEditors > .layui-layer-content{
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}

.aceEditors .layui-layer-content{
	overflow-y: hidden !important;
}

.aceEditors .cd-accordion-menu{
	overflow-x: hidden !important;
}

.ace-header{
	background: #565656;
	height: 35px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: top 500ms;
}

.ace-header > span{
	border-right: 1px solid #4c4c4c;
	color: #fff;
	cursor: pointer;
	float: left;
	font-size: 13px;
	height: 35px;
	line-height: 35px;
	padding: 0 15px;
	text-align: center;
}

.ace-header > span i{
	margin-right: 5px;
	vertical-align: middle;
}

.ace-header > span:hover{
	background: #2f2f2f;
}

.ace-header .pull-down{
	background: #292929;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	height: 35px;
	line-height: 35px;
	padding: 0 14px;
	position: absolute;
	right: 0;
	z-index: 999;
}

.ace-overall{
	background: #777;
	bottom: 0;
	display: inline-block;
	position: absolute;
	transition: top 500ms;
	width: 100%;
}

.ace-overall.active .ace_editor_main{
	margin-left: 0 !important;
}

.ace-catalogue-drag-icon{
	bottom: 0;
	cursor: col-resize;
	height: 100%;
	left: 265px;
	position: absolute;
	top: 0;
	width: 1px;
}

.ace-catalogue-drag-icon .drag-icon-container{
	height: 100%;
	width: 1px;
}

.ace-catalogue{
	background: #292929;
	float: left;
	font-size: 12px;
	height: 100%;
	max-width: 450px;
	min-width: 265px;
	position: absolute;
	transition: all 500ms;
	width: 265px;
	z-index: 99;
}

.ace-catalogue-title{
	background: #383838;
	border-right: 1px solid #2e2e2e;
	color: #fff;
	cursor: pointer;
	height: 40px;
	left: 0;
	line-height: 40px;
	overflow: hidden;
	padding: 0 15px;
	position: absolute;
	right: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/*目录工具栏开始*/
.ace-dir-tools{
	background: #444;
	height: 30px;
	left: 0;
	position: absolute;
	right: 0;
	top: 40px;
	z-index: 999;
}

.ace-dir-tools > div > span{
	font-size: 12px;
}

.ace-dir-tools > div{
	box-sizing: border-box;
	color: #ccc;
	cursor: pointer;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding: 0 8px;
	position: relative;
}

.ace-dir-tools > span{
	bottom: -5px;
	left: 0;
}

.ace-dir-tools > div:hover{
	background: #333;
}

.ace-dir-tools .iconfont, .ace-dir-tools .layui-icon{
	font-size: 12px;
}

.ace-dir-tools > div i{
	margin: 0 3px;
}

.search-file-box{
	display: none;
	height: 110px;
}

.search-file-box .search-input-view{
	height: auto;
	padding: 10px 15px 0 15px;
	width: 100%;
}

.search-file-box .search-input-view:hover,
.search-file-box .search-input-title:hover{
	background: #444 !important;
}

.search-file-box .search-input-view form{
	overflow: hidden;
	position: relative;
}

.search-file-box .search-input-view input{
	margin-top: 0;
	width: 200px;
}

.search-file-box .search-input-view button{
	margin-top: 0;
	outline: none;
	position: absolute;
	right: -2px;
	top: 1px;
}

.search-file-box .search-input-view button:hover{
	background-color: #138c2b;
}

.search-file-box .search-input-title{
	cursor: default;
	padding-left: 15px;
}

.search-file-box .search-close{
	color: red;
	float: right;
}

.search-file-box .search-input-view .search-box{
	height: 20px;
	line-height: 20px;
	margin-top: 5px;
}

.search-file-box .search-input-view .search-box{
	height: 20px;
	line-height: 20px;
	margin-top: 5px;
}

.search-file-box .search-input-view .search-box input{
	border-radius: 5px;
	height: 20px;
	width: 20px;
}

.search-file-box .search-input-view .search-box label{
	height: 20px;
	margin: 0;
}

.search-file-box .search-input-view .search-box span{
	margin-right: 5px;
	vertical-align: super;
}

/*目录工具栏结束*/
.ace-catalogue-list{
	background: #222;
	bottom: 0;
	height: auto;
	left: 0;
	overflow-x: auto;
	padding: 5px;
	position: absolute;
	right: 1px;
	top: 70px;
}

.ace-catalogue-list::-webkit-scrollbar{
	/*滚动条整体样式*/
	height: 1px;
	width: 9px; /*高宽分别对应横竖滚动条的尺寸*/
}

.ace-catalogue-list::-webkit-scrollbar-thumb{
	/*滚动条里面小方块*/
	background: rgba(78, 86, 102, 0.6);
	border-radius: 0;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.ace-catalogue-list::-webkit-scrollbar-track{
	/*滚动条里面轨道*/
	background: #333;
	border-radius: 0;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

/* 文件侧边栏 */
.cd-accordion-menu{
	overflow-y: hidden;
}

.cd-accordion-menu .has-children{
	line-height: 28px;
	min-height: 28px;
	position: relative;
}

.cd-accordion-menu .has-children ul{
	display: none;
	position: relative;
}

.cd-accordion-menu .has-children .file-fold.active{
	color: rgb(204, 167, 0);
}

.cd-accordion-menu .has-children .file-fold.bg{
	background: #2f2f2f;
}

.cd-accordion-menu .has-children .file-fold.bg:hover{
	background: #2f2f2f;
}

.cd-accordion-menu .has-children .file-fold:hover{
	background-color: #272727;
}

.cd-accordion-menu .has-children .file-fold{
	color: #cccccc;
	cursor: pointer;
	font-size: 13px;
	height: 28px;
	margin-bottom: 0;
	overflow: hidden;
	padding-left: 10px;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

.cd-accordion-menu .has-children .file-fold > .iconfont{
	font-size: 12px;
	height: 27px;
	left: 10px;
	line-height: 27px;
	position: absolute;
	top: 0;
}

.cd-accordion-menu .has-children .file-title{
	display: inline-block;
	font-weight: 500;
	height: 27px;
	left: 20px;
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 85%;
}

.cd-accordion-menu .has-children .file-input{
	display: inline-block;
	font-weight: 500;
	height: 28px;
	left: 20px;
	position: relative;
	width: 100%;
}

.cd-accordion-menu .has-children .file-input i,
.cd-accordion-menu .has-children .file-title i{
	color: rgb(214, 171, 52);
	display: inline-block;
	font-size: 16px;
	font-style: normal;
	height: 28px;
	margin-right: 8px;
	vertical-align: bottom;
	width: 15px;
}

.cd-accordion-menu .has-children .folder-icon{
	font-size: 14px;
	font-style: normal;
	margin-right: 7px;
	vertical-align: bottom;
}

.cd-accordion-menu .has-children .file-title b{
	color: red;
}

.ace-catalogue-menu .folder-icon:before,
.cd-accordion-menu .has-children .folder-icon:before{
	color: #d6ab34;
	content: "\f016";
	display: inline-block;
	font-family: octicons, serif;
}

.has-children-separator{
	background: #333;
	bottom: 0;
	left: 15px;
	position: absolute;
	top: 29px;
	width: 1px;
}

/*编辑文件名称*/
.newly-file-input{
	background: #555;
	border: 1px solid #528bff;
	height: 24px;
	outline: none;
	padding-left: 5px;
}

.file-input .icon-ok:before, .file-input .icon-del:before{
	color: #20a53a;
	display: inline-block;
	height: 26px;
	line-height: 26px;
	text-align: center;
}

.file-input .icon-del:before{
	color: #f34a4a;
}

.ace-catalogue-menu{
	background: #fff;
	border: 1px solid #ececec;
	border-radius: 2px;
	display: none;
	padding: 5px 0;
	position: fixed;
	width: 150px;
	z-index: 9999;
}

.ace-catalogue-menu li{
	box-sizing: border-box;
	color: #555;
	font-size: 13px;
	height: 30px;
	left: -1px;
	line-height: 30px;
	list-style-type: none;
	margin: 0;
	padding: 0 0 0 35px;
	position: relative;
	width: 150px;
}

.ace-catalogue-menu li:hover{
	background: #efefef;
	cursor: pointer;
}

.ace-catalogue-menu li .iconfont{
	color: #999;
	left: 9px;
}

.ace-catalogue-menu li .iconfont:before{
	font-size: 18px;
	line-height: 30px;
}

.ace-catalogue-menu li .glyphicon-folder-open:before{
	color: rgb(204, 167, 0);
	font-size: 13px;
}

.ace-catalogue-menu li i{
	font-style: normal;
	left: 10px;
	position: absolute;
}

.ace-catalogue-menu li i:before{
	font-size: 17px;
}

.ace-catalogue-menu .rename-icon{
	background-position: 0 -64px;
}

.ace-catalogue-menu .down-icon{
	background-position: -16px -48px;
}

.ace-catalogue-menu .del-icon{
	background-position: 0 -80px;
}

.ace-catalogue-menu .img-icon{
	background-image: url("./images/file_menu_icon.png");
	background-repeat: no-repeat;
	background-size: auto !important;
	display: inline-block;
	font-style: normal;
	height: 16px;
	margin-top: -8.5px;
	position: absolute;
	top: 50%;
	width: 16px;
}

.folder-down-up{
	background: #fff;
	border: 1px solid #ececec;
	border-radius: 2px;
	display: none;
	left: 0;
	padding: 5px 0;
	position: absolute;
	width: 150px;
	z-index: 9999;
}

.folder-down-up i.folder-icon:before{
	color: #d6ab34;
	content: "\f016";
	display: inline-block;
	font-family: octicons, serif;
	font-size: 15px;
}

.folder-down-up i{
	font-style: normal;
	left: 10px;
	position: absolute;
}

.folder-down-up li:hover{
	background: #efefef;
	cursor: pointer;
}

.folder-down-up li{
	box-sizing: border-box;
	color: #555;
	font-size: 13px;
	font-style: normal;
	height: 30px;
	left: -1px;
	line-height: 30px;
	list-style-type: none;
	margin: 0;
	padding: 0 0 0 35px;
	position: relative;
	width: 150px;
}

#search-val{
	color: #333;
	outline: none;
	padding-right: 45px;
	width: 100%;
}

.ace-editor-main{
	background: #444;
	height: 100%;
	position: relative;
	transition: margin 500ms;
}

.ace-editor-main-storey{
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0));
	display: inline-block;
	height: 5px;
	position: absolute;
	width: 100%;
	z-index: 999;
}

.ace-container-editor{
	background: #333;
	padding-bottom: 35px;
	transition: height 100ms;
}

.ace-container-toolbar{
	background: #444;
	bottom: 0;
	font-size: 0;
	height: 35px;
	left: 0;
	line-height: 35px;
	overflow: hidden;
	padding-right: 15px;
	position: absolute;
	right: 0;
	transition: all 500ms;
}

.ace-container-toolbar .pull-left{
	max-width: 50%;
	text-align: left;
}

.pull-right{
	float: right !important;
}

.ace-container-toolbar .pull-left,
.ace-container-toolbar .pull-right{
	height: 35px;
}

.ace-container-toolbar .pull-left span,
.ace-container-toolbar .pull-right span{
	border-right: 1px solid #505050;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	padding: 0 15px;
	transition: all 500ms;
}

.ace-container-toolbar .pull-left span{
	border-right: 0;
	cursor: default;
}

.ace-container-toolbar .pull-left span i,
.ace-container-toolbar .pull-right span i{
	font-style: normal;
}

.ace-container-toolbar .pull-right span:hover{
	background: #717171;
}

.ace-editors{
	bottom: 35px;
	font-size: 13px;
	left: 0;
	overflow-y: auto;
	position: absolute;
	right: 0;
	top: 40px;
	z-index: -1;
}

.ace-editors.active{
	z-index: 50;
}

.ace-toolbar-menu{
	background: #444444;
	box-shadow: 0 0 2px 0 #000;
	left: 50%;
	margin-left: -200px;
	padding: 15px 0;
	position: absolute;
	top: 40px;
	width: 400px;
	z-index: 9999;
}

.ace-toolbar-menu .menu-container{
	margin: 0 15px 15px;
	position: relative;
}

.ace-toolbar-menu .menu-container .fa{
	color: #fff;
	cursor: pointer;
	display: none;
	font-size: 18px;
	position: absolute;
	right: 10px;
	top: 7px;
}

.ace-toolbar-menu input{
	background: #444;
	border: 1px solid #7d7d7d;
	color: #fff;
	height: 35px;
	outline: none;
	padding: 0 10px;
	width: 100%;
}

.ace-toolbar-menu input:focus{
	border: 1px solid #fff;
}

.ace-toolbar-menu .menu-item ul{
	max-height: 300px;
	overflow: auto;
}

.ace-toolbar-menu .menu-item li{
	color: #fff;
	cursor: pointer;
	height: 35px;
	line-height: 35px;
	padding: 0 20px;
	position: relative;
	transition: all 500ms;
}

.ace-toolbar-menu .menu-item li.active,
.ace-toolbar-menu .menu-item li.active:hover{
	background: #333;
}

.editor-menu li.active{
	background: #444 !important;
}

.ace-toolbar-menu .menu-item li:hover{
	background: #505050;
}

.ace-toolbar-menu .icon-link{
	color: #20a53a;
	margin-left: 15px;
}

.ace-toolbar-menu .menu-item .icon{
	position: absolute;
	right: 25px;
}

.ace-toolbar-menu .menu-title{
	border-bottom: 1px solid #666666;
	color: #9e9e9e;
	padding: 0 0 10px 20px;
}

.menu-setUp .menu-container{
	padding-top: 15px;
}

.setUp{
	position: relative;
}

.red-point{
	background-color: red;
	border-radius: 50%;
	height: 7px;
	position: absolute;
	right: 9%;
	top: 20%;
	width: 7px;
}

.editor-menu{
	position: relative;
}

.red-history{
	background-color: red;
	border-radius: 50%;
	height: 7px;
	position: absolute;
	right: 6.5%;
	top: 73%;
	width: 7px;
}

.ace-toolbar-menu .menu-titles{
	color: #ccc;
	display: inline-block;
	font-size: 13px;
	padding: 10px 0 10px 25px;
}

.ace-toolbar-menu .menu-content{
	color: #444;
	display: inline-block;
	margin-left: 5px;
	vertical-align: middle;
}

.ace-item-box{
	border-right: 1px solid #222;
	color: #ececec;
	cursor: pointer;
	font-size: 15px;
	height: 40px;
	overflow: hidden;
	padding: 0 35px 0 10px;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@keyframes myMove{
	0%{
		transform: rotate(0deg);
		-ms-transform: rotate(0deg); /* IE 9 */
		-moz-transform: rotate(0deg); /* Firefox */
		-webkit-transform: rotate(0deg); /* Safari 和 Chrome */
		-o-transform: rotate(0deg); /* Opera */
	}
	100%{
		transform: rotate(360deg);
		-ms-transform: rotate(360deg); /* IE 9 */
		-moz-transform: rotate(360deg); /* Firefox */
		-webkit-transform: rotate(360deg); /* Safari 和 Chrome */
		-o-transform: rotate(360deg); /* Opera */
	}
}

.ace-item-box .waiting{
	-webkit-animation: mymove .8s ease infinite; /* Safari 和 Chrome */
	animation: myMove .8s ease infinite;
	color: #d6ad00;
	display: inline-block;
	font-size: 14px;
}

/* 文字省略 */
.size-ellipsis{
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ace-container-tips{
	background: #d29232;
	bottom: -1px;
	display: none;
	height: 50px;
	position: absolute;
	width: 100%;
	z-index: 99999;
}

.ace-container-tips .tips{
	color: #fff;
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	height: 100%;
	line-height: 50px;
	padding-left: 15px;
	transition: all 500ms;
	vertical-align: top;
}

/* 关闭视图-开始 */
.ace-clear-form{
	padding-top: 25px;
}

.ace-clear-form .line{
	margin-left: 20px;
}

.clear-title{
	color: #333;
	font-size: 15px;
}

.clear-tips{
	color: #666;
	font-size: 13px;
}

.clear-tips,
.clear-title{
	padding-left: 80px;
}

.clear-icon{
	background-image: url(./images/icon.png);
	background-position: 0 0;
	height: 30px;
	left: 30px;
	position: absolute;
	top: 28px;
	width: 30px;
}

/* 取消按钮组 */
.ace-clear-btn{
	bottom: 0;
	padding: 8px 20px 15px;
	position: absolute;
	text-align: right;
	width: 100%;
}

.ace-clear-btn .btn-default:hover{
	background-color: #d9534f;
	border-color: #d43f3a;
	color: #fff;
}

/* 关闭视图-结束 */
.ace-catalogue-sidebar{
	background: #444;
	cursor: col-resize;
	display: none;
	height: 100%;
	left: 240px;
	position: absolute;
	top: 90px;
	width: 10px;
}

.ace-catalogue-sidebar img{
	margin-top: -20px;
	position: absolute;
	top: 50%;
	width: 10px;
}

.ace-container-menu{
	background: #292929;
	height: 40px;
	overflow: auto;
	position: relative;
}

.ace_editor{
	font-size: 15px;
}


.ace_scrollbar::-webkit-scrollbar{
	/*滚动条整体样式*/
	height: 10px;
	width: 15px; /*高宽分别对应横竖滚动条的尺寸*/
}

.ace_scrollbar::-webkit-scrollbar-thumb{
	/*滚动条里面小方块*/
	background: #777;
	border-radius: 0;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.ace_scrollbar::-webkit-scrollbar-track{
	/*滚动条里面轨道*/
	background: #333;
	border-radius: 0;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.keys-item{
	height: 45px;
	line-height: 45px;
	padding: 5px 0;
}

.keys-item .keys-btn{
	border: 1px solid #ececec;
	height: 45px;
	text-align: center;
	width: 45px;
}

.keys-item .keys_symbol{
	font-weight: 500;
	padding: 0 15px;
}

.keys-item .keys-tips{
	padding-left: 15px;
}

.ace-container-menu > li{
	display: block;
	float: left;
	height: 40px;
	max-width: 300px;
	position: relative;
}

/* 文件标签右键菜单 */
.file-tag-box{
	background: #fff;
	border: 1px solid #ececec;
	border-radius: 2px;
	padding: 5px 0;
	position: fixed;
	width: 150px;
	z-index: 100000;
}

.file-tag-box li{
	box-sizing: border-box;
	color: #555;
	cursor: pointer;
	font-size: 13px;
	height: 30px;
	left: -1px;
	line-height: 30px;
	list-style-type: none;
	margin: 0;
	padding: 0 0 0 35px;
	position: relative;
	width: 150px;
}

.file-tag-box li:hover{
	background: #d4d6db;
	cursor: pointer;
}

/*滚动条样式*/
.ace-container-menu::-webkit-scrollbar{
	width: 4px;
}

.ace-container-menu::-webkit-scrollbar-thumb{
	background: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.ace-container-menu::-webkit-scrollbar-track{
	background: rgba(255, 255, 255, 0.2);
	border-radius: 0;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.ace-container-menu .item:hover{
	background: #313131;
}

.ace-container-menu .item:hover .icon-tool{
	display: block;
}

.ace-container-menu .item.active{
	background: #222;
	color: #fff;
}

.ace-container-menu .active.item:before{
	background: #20a53a;
	bottom: 0;
	content: "";
	display: inline-block;
	height: 2px;
	position: absolute;
	width: 100%;
}

.ace-container-menu .item.active .icon-tool{
	display: block;
}

.ace-container-menu .item span{
	height: 40px;
	line-height: 40px;
	padding: 0 5px;
	vertical-align: top;
}

.ace-container-menu .item span i{
	font-style: normal;
}

.ace-container-menu .item .icon_file{
	color: #ff9800;
	font-weight: 500;
	min-width: 8px;
}

.ace-container-menu .item .icon_file > img{
	width: 13px;
}

.ace-container-menu .item .icon-warning{
	color: rgb(204, 167, 0);
	display: inline !important;
	font-size: 15px;
}

.ace-container-menu .item .icon-tool.fa-circle{
	display: block;
}

.ace-container-menu .item .icon-tool{
	display: none;
	position: absolute;
	right: 15px;
	top: 13px;
	transition: all 1000ms;
}

.ace-editor-add{
	color: #ddd;
	cursor: pointer;
	float: left;
	font-size: 17px;
	height: 40px;
	padding: 9px 15px;
	transition: all 500ms;
}

.ace-editor-add:hover{
	background-color: #505050
}


.set-font-size,
.set-jump-line{
	margin-top: 20px;
	position: relative;
}

.set-font-size input{
	width: 230px;
}

.set-jump-line input{
	width: 350px;
}

.set-font-size .btn-save,
.set-jump-line .btn-save{
	background: #20a53a;
	border: none;
	color: #fff;
	height: 35px;
	margin-left: 15px;
	outline: none;
	transition: all 500ms;
	width: 80px;
}

.set-font-size .btn-save:hover,
.set-jump-line .btn-save:hover{
	background: #23963a;
}

.chrome .set-font-size .tips{
	color: #c7c7c7;

}

.set-font-size .tips{
	color: #888;
	position: absolute;
	right: 150px;
	top: 10px;
}

.jump-tips{
	color: #fff !important;
	font-size: 14px;
	margin-top: 10px;
}


.keysUp_left{
	float: left;
	padding: 30px 50px;
	width: 42%;
}

.keysUp_right{
	float: left;
	padding: 30px 0;
	width: 42%;
}

.keysUp-row{
	color: #eee;
	margin-bottom: 30px;
}

.keysUp-title{
	border-left: 4px solid #20a53a;
	font-size: 16px;
	margin-bottom: 15px;
	padding: 5px 0 5px 10px;
}

.keysUp-content{
	padding-left: 10px;
}

.keysUp-item{
	color: #333;
	font-size: 0;
	line-height: 25px;
	margin-bottom: 5px;
}

.keysUp-item img{
	width: 14px;
}

.keysUp-item .keysUp-btn{
	border: 1px solid #ccc;
	border-radius: 2px;
	color: #ccc;
	display: inline-block;
	font-size: 12px;
	font-weight: 600;
	height: 25px;
	padding: 0 10px;
	text-align: center;
}

.keysUp-item .keysUp-btn i{
	font-size: 13px;
}

.keysUp-item .keysUp-symbol{
	color: #ccc;
	font-size: 15px;
	font-weight: 600;
	padding: 0 5px;
}

.keysUp-item .keysUp-symbols{
	color: #ccc;
	font-size: 12px;
	font-weight: 600;
	padding: 0 2px;
}

.keysUp-item .keysUp-tips{
	color: #ccc;
	font-size: 13px;
	padding-left: 25px;
}

.layui-layer-close{
	z-index: 99821027;
}

[data-value]{
	cursor: pointer;
}

[data-value]:hover{
	border: 1px solid #22849b;
	color: #22849b;
}