<div class="top">
    <span class="logo"><img src="{dede:global.cfg_templets_skin/}/images/logo.jpg"/></span>
	<span class="rlink"><a href='' onclick="var strHref=window.location.href;this.style.behavior='url(#default#homepage)';this.setHomePage('{dede:global.cfg_basehost/}');"

            style="CURSOR: hand">设为首页</a>&nbsp;|&nbsp;<a href='' onclick="window.external.addFavorite('{dede:global.cfg_basehost/}','{dede:global.cfg_indexname/}')"

            style="CURSOR: hand">加入收藏</a></span>
  </div>
  <div class="nav">
    <div class="navmain">
	  <img src="{dede:global.cfg_templets_skin/}/images/navleft.jpg"/ style=" width:3px; height:39px; float:left;">
<!-------------------js-------------------------------->
	  <div class="navmmain">
	    <ul class="nav_column" id="apDiv2">
<li class="nav_a" id="nav1" onmouseover="javascript:NavShow(1);" style="cursor: pointer;"><a href="/">网站首页</a></li><li class="dot"><img src="{dede:global.cfg_templets_skin/}/images/navline.jpg"/></li>

{dede:channel type='top' row='10'}
      	<li class="nav_a" id="nav[field:global name=autoindex runphp="yes"]@me=@me+2;[/field:global]" onmouseover="javascript:NavShow([field:global name=autoindex runphp="yes"]@me=@me+2;[/field:global] );" style="cursor: pointer;"><a href='[field:typeurl/]' [field:rel/]><span>[field:typename/]</span></a></li><li class="dot"><img src="[field:global.cfg_templets_skin/]/images/navline.jpg"/></li>
      	{/dede:channel}
	    </ul>
	  </div>

	  <img src="{dede:global.cfg_templets_skin/}/images/navright.jpg" style=" width:3px; height:39px; float:left;"/>

	</div>
  </div>
  <div class="bomnav" id="new1" style="">
   欢迎您来到{dede:global.cfg_webname/}！ 销售热线：0558-4898836
  </div>
