<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="applicable-device" content="pc">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{dede:field.title/}_{dede:global.cfg_titlelast/}</title>
<meta name="keywords" content="{dede:field.keywords/}" />
<meta name="description" content="{dede:field.description function='html2text(@me)'/}" />
<link rel="stylesheet" href="{dede:global.cfg_templets_skin/}/images/index.css"/>
</head>
<body>
{dede:include filename="header.htm" /}
  <!--#modules file="head.html"-->
  <div class="mainbody">
   <div class="mainleft">
	<div class="mainproduct">
	<div><img src="{dede:global.cfg_templets_skin/}/images/mainpro_top.jpg" / style=" float:left;"></div>
	<div class="mainprolist">
		<img src="{dede:global.cfg_templets_skin/}/images/mainprotit.jpg"/ style=" margin-left:10px; margin-top:8px;">
		<ul class="mplist">
			{dede:channelartlist typeid='4'}
				<li><a href="[field:typeurl/]">[field:typename/]</a></li>
			{/dede:channelartlist}
		</ul>
	</div>
	<div><img src="{dede:global.cfg_templets_skin/}/images/mainprobom.jpg"/ style=" float:left;"></div>
	</div>
	<div class="maincontact">
	<div><img src="{dede:global.cfg_templets_skin/}/images/maincontit.jpg"/></div>
	<div class="mconlist">
	</div>
	</div>
   </div>
	<div class="mainright">
	<div class="mrtit"><span class="mrtitleft">{dede:field name='typename'/}</span><span class="mrtitright">您现在的位置:{dede:field name='position'/} </span></div>
		<ul class="mnlt_list">
		{dede:list pagesize='20'}
		<li><span class="bbs_title"><a href="[field:arcurl/]">[field:title/]</a></span><span class="bbs_time">[field:pubdate function="GetDateTimeMK(@me)"/]</span></li>
		{/dede:list}
		</ul>
		<div class="dede_pages">
				{dede:pagelist listitem="info,index,end,pre,next,pageno" listsize="9"/}
		</div>
	</div>
 <!--#modules file="footer.html"-->
  {dede:include filename="footer.htm" /}
  </div>
</body>
</html>
