@charset "utf-8";
/*
BotAdmin-站掌门 AI智能站群系统
www.botadmin.cn
QQ:38050123
*/
body{font-size:14px;font-family:"Microsoft Yahei";color:#333;}
*{margin:0;padding:0;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
*:focus{outline:none;}
input[type="button"], input[type="submit"], input[type="reset"]{-webkit-appearance:none;}
textarea{-webkit-appearance:none;}
img{border:none;vertical-align: middle;}
em,i{font-style:normal;}
ul,li,ol,li{list-style-type:none}
a{text-decoration:none;color: #333}
a:visited{color:#a7a7a5;}
a:hover{text-decoration:underline;color: #cb0000;}
.clear{zoom:1;}
.clear:after{content:'';clear:both;display:block;}
.clearfix:after,.clearfix:before{content:"";display:block;height:0;clear:both;visibility:hidden}
*html .clearfix{height:1%;zoom:1}
*+html .clearfix{height:1%}
.blk{height:10px;display:block;}
.blk2{height:20px;display: block;}
.container{margin:0 auto;width:1000px;}
@media screen and (max-width:767px){
	.container{margin:0 auto;width:100%;}
}

/*top*/
.mip-nav-wrapper{background:#cb0000;height:40px}
.mip-nav-wrapper.show{opacity:1!important}
.mip-nav-wrapper .hr-xs{display:none}
mip-nav-slidedown #bs-navbar{margin-bottom:0;margin-right:0;margin-left:1px;float:left;}
@media screen and (max-width:767px){mip-nav-slidedown #bs-navbar{margin-left:0px;}}
mip-nav-slidedown #bs-navbar .navbar-nav li.gd{background:#d63636;}
mip-nav-slidedown #bs-navbar .navbar-nav li.user-01{position:absolute;right:60px;background:#d63636;}
mip-nav-slidedown #bs-navbar .navbar-nav li.user-02{position:absolute;right:0px;}
@media screen and (max-width:767px){
	mip-nav-slidedown #bs-navbar .navbar-nav li.gd{background:#f1f1f1;
}
mip-nav-slidedown #bs-navbar .navbar-nav li.user-01{position:relative;right:0px;background:#d63636;}
mip-nav-slidedown #bs-navbar .navbar-nav li.user-02{position:relative;right:0px;}}
mip-nav-slidedown #bs-navbar a,mip-nav-slidedown #bs-navbar mip-link,mip-nav-slidedown #bs-navbar span{white-space:nowrap;margin:0 0;padding:10px 10px;color:#fff}
mip-nav-slidedown #bs-navbar a:focus,mip-nav-slidedown #bs-navbar a:hover,mip-nav-slidedown #bs-navbar mip-link:focus,mip-nav-slidedown #bs-navbar mip-link:hover,mip-nav-slidedown #bs-navbar span:focus,mip-nav-slidedown #bs-navbar span:hover{text-decoration:none;background:#d63636;color:#f1f1f1}
mip-nav-slidedown #bs-navbar .navbar-nav{display:-webkit-box;display:-ms-flexbox;display:flex;margin-top:0px;/*10px*/margin-right:0px;/*-25px*/}
mip-nav-slidedown #bs-navbar .navbar-nav li{list-style:none;line-height:40px}
mip-nav-slidedown #bs-navbar .navbar-nav li.active a,mip-nav-slidedown #bs-navbar .navbar-nav li.active mip-link,mip-nav-slidedown #bs-navbar .navbar-nav li.active span{color:#fff;font-weight:700;background:#ccc;}
mip-nav-slidedown .navbar-wise-close{display:none}
mip-nav-slidedown .navbar-brand{float:none;display:inline-block;margin:0px 0 10px;height:40px;line-height:40px;padding:0 15px 0 30px;background:#d63636 url(../images/ico_home.png) no-repeat 15px center;/*background-size:100% auto;*/position:relative;font-size:14px;color:#fff;}
mip-nav-slidedown .navbar-brand:active,mip-nav-slidedown .navbar-brand:hover{color:hsla(0,0%,100%,.85);text-decoration:none;}
mip-nav-slidedown .navbar-header{float:left}
mip-nav-slidedown .navbar-toggle{display:none}
@media screen and (max-width:767px){.mip-nav-wrapper{height:40px}
.mip-nav-wrapper .navbar-static-top a{margin:0}
.mip-nav-wrapper #bs-navbar{height:0;-webkit-transition:height .3s;transition:height .3s;width:100%;left:0;overflow-y:scroll;-webkit-overflow-scrolling:touch;z-index:1000;border:0;top:40px;left:0;right:0;float:none;position:absolute;background-color:#fff}
.mip-nav-wrapper #bs-navbar .navbar-nav{margin:0;min-height:283px;height:100%;display:block}
.mip-nav-wrapper #bs-navbar .navbar-nav li{padding:5px 0}
@media screen and (max-width:767px){
	.mip-nav-wrapper #bs-navbar .navbar-nav li{background:#f8f8f8;border-bottom:1px solid #eee;}}
.mip-nav-wrapper #bs-navbar .navbar-nav a,.mip-nav-wrapper #bs-navbar .navbar-nav mip-link,.mip-nav-wrapper #bs-navbar .navbar-nav span{text-align:center;color:#333;font-size:18px;padding:0;margin:0 auto;display:block}
.mip-nav-wrapper .navbar-header{float:none;overflow:hidden}
.mip-nav-wrapper .container>.navbar-collapse{padding:0;background-color:#fff}
.mip-nav-wrapper .navbar-brand{margin:0 0 0;height:40px;font-size:15px}
.mip-nav-wrapper .navbar-static-top .navbar-brand{left:50%;margin-left:-30px}
.mip-nav-wrapper .navbar-toggle{display:block;margin:8px 5px;padding:5px;border:0;background:transparent;float:right}
.mip-nav-wrapper .navbar-toggle .icon-bar{height:2px;width:23px;background:#f1f1f1;display:block}
.mip-nav-wrapper .navbar-toggle .icon-bar+.icon-bar{margin-top:6px}
.mip-nav-wrapper .hr-xs{display:block!important;border-color:#eee;margin:0 10px;border-top:0}
.mip-nav-wrapper .navbar-wise-close{display:block;text-align:center;margin:0px 0}
.mip-nav-wrapper #navbar-wise-close-btn{width:40px;height:40px;border-radius:50%;border:1px solid #d4d4d4;display:inline-block;position:relative}
.mip-nav-wrapper #navbar-wise-close-btn:before{-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
.mip-nav-wrapper #navbar-wise-close-btn:after,.mip-nav-wrapper #navbar-wise-close-btn:before{content:"";width:1px;height:25px;display:inline-block;position:absolute;background:#d4d4d4;top:7px}
.mip-nav-wrapper #navbar-wise-close-btn:after{-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg)}
.mip-nav-wrapper #navbar-wise-close-btn.down{background:#f3f3f3}
.mip-nav-wrapper .sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}}@media screen and (min-width:768px){mip-nav-slidedown #bs-navbar li .navbar-more:after{content:"";position:relative;display:inline-block;top:1px;border:4px solid transparent;border-top-color:#fff;left:3px;}
mip-nav-slidedown #bs-navbar li:hover .navbar-more:after{border-color:transparent transparent #fff;top:-3px}
mip-nav-slidedown #bs-navbar li{position:relative;}
mip-nav-slidedown #bs-navbar li>ul{display:none;list-style:none;position:absolute;background:#fff;right:0;background: #fbfbfb;overflow: hidden;padding: 12px 18px;position: absolute;right: 0;top: 39px;width: 288px;zoom: 1;z-index: 9999;border: #989898 1px solid;border-top: #1c1c1c 1px solid;box-shadow: 0px 5px 8px -2px rgba(0, 0, 0, 0.5);border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;}
mip-nav-slidedown #bs-navbar li:hover>ul{display:inherit;z-index:10}
mip-nav-slidedown #bs-navbar li>ul a{color:#333;padding:5px 5px;font-size:12px;}
mip-nav-slidedown #bs-navbar li>ul a:hover{background:#eee;color:#333;}
mip-nav-slidedown #bs-navbar li>ul li{display:inline-block;}
}
@media screen and (max-width:767px){
	mip-nav-slidedown #bs-navbar li>ul li{display:block;background:#fff;border-bottom:0px solid #ddd;border-top:1px solid #eee;font-size:12px;}
	.navbar-more{display:none!important;}
}

/*channel nav*/
.channel{overflow: hidden;border-bottom: 1px solid #d5d5d5;}
.channel .channel-logo{float: left;height: 50px;margin: 12px 0;background-size:100%;width:284px;text-indent:-9999em;overflow:hidden;display:block;}
.channel .crumbs{float: left;margin: 40px 0 0 40px;color:#a7a7a5;}
.channel .crumbs a{color:#707070;}
.channel .crumbs i{display: inline-block;height: 20px;width: 18px;background-image: url(../images/icon.png);background-repeat: no-repeat;background-position: -181px -23px;vertical-align: middle;}
.channel .channel-menu{float: right;margin-top: 40px;}
.channel .channel-menu em{color: #dbdbdb;margin: 0 5px;}
.channel .channel-menu strong{color: #cb0000;}
.channel strong{font-weight: normal;}
@media screen and (max-width:767px){
.channel .channel-logo{float: left;height: 30px;margin: 12px 0 12px 10px;width:171px;text-indent:-9999em;overflow:hidden;display:block;}
.channel .crumbs{float: right;margin: 25px 10px 0 15px;color:#a7a7a5;font-size:13px;}
.channel .channel-menu{display:none;}
}

/*left*/
.left-main{float:left;width:660px;}
@media screen and (max-width:767px){
.left-main{float:none;padding:0 15px;width:auto;}
}
h1{font-size: 30px;line-height: 60px;padding-bottom:10px;}
.content{line-height: 26px;line-height: 36px;font-size: 16px;padding: 30px 0;overflow: hidden;}
.content p{line-height: 36px;font-size: 16px;padding-bottom:15px;}
.content p img{max-width: 100%;margin: 40px 0;}
.article .info a,.article .info a:hover{color: #8c8c8c;text-decoration: none;}
.article .info .time,.article .info .befrom,.article .info .writer{background-image: url(../images/ico_a_1.png);background-repeat: no-repeat;}
.article .info .time{background-position: -8px 0;}
.article .info .befrom{background-position: -8px -40px;}
.article .info .befrom:hover{background-position: -8px -200px;}
.article .info .writer{background-position: -8px -80px;}
.article .info{border-top: 1px solid #d5d5d5;border-bottom: 1px solid #d5d5d5;height: 40px;line-height: 40px;font-size: 12px;color: #8c8c8c;}
.article .info .time,.article .info .befrom,.article .info .writer{display: inline-block;vertical-align: middle;height: 40px;margin-right: 30px;padding-left: 26px;}
.article .info .writer{position: relative;}
.article .info .writer .author{display: block;overflow: hidden;position: relative;padding-right: 15px;cursor: pointer;}
.article .info .writer .author:after{content: '';position: absolute;bottom: 10px;right: 0;width: 5px;height: 5px;background-image: url(../images/ico_a_2.jpg);background-repeat: no-repeat;}
.article .info .writer .writer_drop{position: absolute;top: 40px;width: 140px;left: 0;background: #fff;border-top: 2px solid #d5d5d5;line-height: 28px;display: none;}
.article .info .writer .writer_drop span{margin: 0 3px;cursor: pointer;}
.article .info .writer:hover{background-position: -8px -240px}
.article .info .writer:hover .writer_drop{display: block;}
.article .info .writer:hover .author:after{background-position: 0 -10px}
/*share*/
.article .share{overflow: hidden;margin-top: 30px;line-height: 30px;}
.article .share .share_right{float: right;padding-left: 26px;background-position: -8px -124px;}
.article .share .share_left{float: left;}
.article .share .share_left span{float: left;line-height: 35px;height: 35px;}
.article .share .bdsharebuttonbox{float: left;line-height: 35px;height: 35px;}
/*comment*/
.article .comment{float: right;}
.article .comment a:hover{text-decoration: none;}
.article .comment .comment_1,.article .comment .comment_2{float: left;height: 32px;line-height: 32px;margin-top: 4px;}
.article .comment .comment_1{padding: 0 10px;background: #f5f5f5;border-radius: 2px 0 0 2px;}
.article .comment .comment_1 a{color: #2b9ebe;}
.article .comment .comment_2{padding: 0 10px;border-radius: 2px;background: #cb0000;color: #fff;position: relative;}
.article .comment .comment_2:after{content: '';position: absolute;bottom: -10px;left: 50%;margin-left: -5px;border: 5px solid transparent;border-top-color: #cb0000;}

.article .tips{margin-top: 20px;line-height: 30px;}

.article .tips p{padding-left: 26px;background: url(../images/ico_copy.png) no-repeat 0 7px;}

mip-share .c-share-list{padding:0 0;}
mip-share .c-share-list .c-share-btn .c-img{border:0;}

@media screen and (max-width:767px){
h1{padding-top:10px;font-size:20px;line-height:30px;}
.content p img,.content p mip-img{max-width: 100%;margin: 10px 0;}
}

/*rel*/
.rel-news,.la_xiangguan_special{margin-top: 30px;}
.rel-news .la_xiangguan_hd,.la_xiangguan_special .la_xiangguan_hd{font-size: 18px;font-weight: normal;line-height: 36px;height: 36px;}
.rel-news li{line-height: 34px;overflow: hidden;color: #8c8c8c;}
.rel-news li a,.rel-news li em{float: left;font-style: normal;font-size: 14px;}
.rel-news li a{margin-right: 20px;padding-left: 15px;position: relative;color: #333;}
.rel-news li a:after{content: '';position: absolute;top: 16px;left: 0;width: 4px;height: 4px;background-color: #3f3f3f;}
.rel-news li a:hover{color: #cb0000;}
@media screen and (max-width:767px){
.rel-news li em{display:none;}
}

/*rec*/
.recommend .title{height: 32px;line-height: 32px;border-left: 5px solid #cb0000;padding-left: 15px;}
.recommend .title strong{font-size: 24px;font-style: normal;}
@media screen and (max-width:767px){
.recommend .title{height: 26px;line-height: 26px;padding-left: 10px;}
.recommend .title strong{font-size: 18px;}
}

/*list*/
.list .item{padding:20px 0;border-bottom:1px solid #ccc;height:130px;width:100%;}
.list .item .titlepic{float: left;width: 200px;height: 130px;overflow: hidden;margin-right: 15px;}
.list .item .text{overflow: hidden;height: 130px;position: relative;}
.list .item h3{float:left;overflow: hidden;font-size: 18px;line-height: 36px;max-height: 72px;overflow: hidden;font-weight: bold;}
.list .item .text_info{position: absolute;left: 0;right: 0;bottom: 0;color: #8c8c8c;font-size: 14px;height:18px;line-height:18px;}
.list .item .text_info span.name{float: left;}
.list .item .text_info span.time{float: right;}
@media screen and (max-width:767px){
.list .item{padding:10px 0;height:100px;}
.list .item .titlepic{width: 150px;height: 100px;margin-right: 10px;}
.list .item .text{height: 100px;}
.list .item h3{font-size: 15px;line-height: 26px;max-height: 52px;}
}

/*btn*/
.btn { display: block; margin: 25px auto; border-radius: 2px; width: 140px; height: 40px; text-align: center; line-height: 40px; border: 1px solid #cb0000; color: #cb0000 }
.btn:hover,.btn:visited { color: #cb0000; }
.btn-gray,.btn-gray:hover,.btn-gray:visited { color: #999; border-color: transparent;  text-decoration: none;}

/*right*/
.right-bar{float:right;padding-top:20px;width:300px;}
@media screen and (max-width:767px){
.right-bar{display:none;}
}

/*title more*/
.title1 { position: relative; line-height: 40px; height: 40px;}
.title1 strong { font-size: 18px; color: #cb0000; font-weight: normal; }
.title1 .more { position: absolute; right: 0; bottom: 0; font-size: 12px; color: #000; padding-right: 18px; background: url(../images/ico_more_s.png) right 55% no-repeat;}
.title1 .more:hover { text-decoration: none; }
.title1 .more { background: url(../images/ico_more_b.png) right 55% no-repeat; background-size: 14px auto; }

/*txt list*/
.txt-list li { line-height: 30px; padding-left: 14px; background: url(../images/ico_dot.png) left center no-repeat; }
.txt-list li a { display: block; height: 30px; overflow: hidden; /*text-overflow: ellipsis; white-space: nowrap;*/ }
.txt-list li.first { font-weight: bold; background: no-repeat; padding-left: 0;}

/*pic list*/
.pic-list { margin-left: -16px; font-size: 14px; overflow: hidden;}
.pic-list li { float: left; width: 142px; margin-left: 16px; margin-bottom: 10px; }
.pic-list .pic { width: 142px; height: 92px; overflow: hidden; }
.pic-list .pic img { width: 100%; min-height: 100%; }
.pic-list .tt { height: 36px; line-height: 36px; overflow: hidden; /*text-overflow: ellipsis; white-space: nowrap;*/ }

/*page*/
.page { text-align:center; margin:30px 0; }
.page span { display:inline-block; padding:0 7px; font-weight:bold;}
.page a { background:#f0f4f6; border:#d9e4ec 1px solid; padding:0 6px; font-size:12px; margin:0 2px; display:inline-block; height:22px; line-height:22px;}
.page .a1 { padding:4px 7px 0\9; height:18px\9; line-height:18px\9;}
.page a:hover ,.page a.curent { background:#afc9dc; border:#567185 1px solid; text-decoration:none; color:#fff;}
.pageLeft { text-align:left !important;}

/*sitemap*/
.sitepage { background:#fff;display:block; height:85px; margin:0px 0 0;position:relative;z-index:0;}
.sitepage-box { display:block; width:970px; height:85px; margin:0 auto; position:relative;}
.sitepage-box .logo { display:block; width:196px; height:56px; text-indent:-500px; overflow:hidden; position:absolute; left:0px; top:17px;}
.sitepage-box .logo a { display:block; width:196px; height:56px; background:url(../images/logo.jpg) no-repeat;background-size:190px 56px;}
.sitepage-box .rank{display:block; height:56px; line-height:56px; overflow:hidden; position:absolute; left:196px; top:17px;}
.sitepage-box .rank span{ display:block; height:56px;}
.sitepage-box .rank span.map{ font-size:30px; color:#91110f; border-left:1px solid #91110f; padding-left:10px;}

.sitemap{position:relative;}
.sitemap{padding-bottom:5px;position:relative;zoom:1;}
.sitemap div{padding:15px 0 10px 0;border-bottom:1px solid #eaeaea;}

.sitemap .tit{float:left;width:100px;font:100 18px/24px 'Arial','Microsoft Yahei','微软雅黑','Simhei','黑体';color:#000;margin-top:3px;_display:inline;_width:77px;}
.sitemap .tit a:link,.sitemap .tit a:visited{color:#000;}
.sitemap .tit a:hover{color:#ff8600;}
.sitemap .list-item{overflow:hidden;zoom:1;font:100 16px/30px 'Arial','Microsoft Yahei','微软雅黑','Simhei','黑体';}
.sitemap .list-item li{float:left; margin-right:20px; display:ineline; white-space:nowrap;}
.sitemap .list-item a:link,.sitemap .list-item a:visited{color:#4b5053;}
.sitemap .list-item a:hover{color:#ff8600;text-decoration:underline;}

.pagecontent{background:#fff;line-height: 26px;line-height: 36px;font-size: 16px;padding: 30px 25px;overflow: hidden;}
.pagecontent p{line-height: 36px;font-size: 16px;padding-bottom:15px;}
.pagecontent p img{max-width: 100%;margin: 40px 0;}
@media screen and (max-width:767px){
.sitemap{margin:0 15px;}
.sitepage { background:#fff;display:block; height:65px; margin:0px 10px 0;position:relative;z-index:0;}
.sitepage-box { display:block; padding:0 15px; width:auto; height:45px; margin:0 auto; position:relative;}
.sitepage-box .logo { width:103px; height:40px; top:17px;}
.sitepage-box .logo a { width:103px; height:40px; background-size:103px 40px;}
.sitepage-box .rank{ height:30px; line-height:30px; left:103px; top:23px;}
.sitepage-box .rank span{ display:block; height:30px;}
.sitepage-box .rank span.map{ font-size:24px; color:#91110f; padding-left:10px;}
.pagecontent{margin:0 10px;padding: 20px 15px;}
.pagecontent p img,.pagecontent p mip-img{max-width: 100%;margin: 10px 0;}
}

/*footer*/
.footer{padding:80px 0 25px;text-align:center;}
.footer .links a { color: #666; margin:0 10px; text-indent:0; display:inline-block; height:25px; line-height:25px; color:#5e5e5e; padding:0; }
.footer .links a:hover { color: #cb0000; }
.footer .links a:visited { color: #a7a7a5; }
@media screen and (max-width:767px){
.footer{padding:30px 0 25px;}
}
mip-fixed[type=gototop]{right:10px!important;}