@charset "utf-8";
/*
BotAdmin-站掌门 AI智能站群系统
www.botadmin.cn
QQ:38050123
*/
body{font-size:14px;font-family:"Microsoft Yahei";color:#333;}
*{margin:0;padding:0;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
*:focus{outline:none;}
input[type="button"], input[type="submit"], input[type="reset"]{-webkit-appearance:none;}
textarea{-webkit-appearance:none;}
img{border:none;vertical-align: middle;}
em,i{font-style:normal;}
ul,li,ol,li{list-style-type:none}
a{text-decoration:none;color: #333}
a:visited{color:#a7a7a5;}
a:hover{text-decoration:underline;color: #cb0000;}
.clear{zoom:1;}
.clear:after{content:'';clear:both;display:block;}
.clearfix:after,.clearfix:before{content:"";display:block;height:0;clear:both;visibility:hidden}
*html .clearfix{height:1%;zoom:1}
*+html .clearfix{height:1%}
.blk{height:10px;display:block;}
.blk2{height:20px;display: block;}
.blk3{height:30px;display: block;}
.blk4{height:40px;display: block;}
@font-face { font-family:'fzzhjn'; src:url('../font/fzzhjn.TTF'); src:url('../font/fzzhjn.eot') format('embedded-opentype'), url('../font/fzzhjn.woff') format('woff'), url('../font/fzzhjn.TTF') format('truetype'), url('../font/fzzhjn.svg') format('svg'); font-style:normal;}
.container{margin:0 auto;width:1200px;}
@media screen and (max-width:767px){
	.container{margin:0 auto;width:100%;}
}

/*top*/
.logo{}
.logo a{display:block;background:url(../images/logo.jpg) no-repeat 0 0;width:175px;height:68px;background-size:175px 68px;overflow:hidden;text-indent:-9999em;}

.top-user { height:60px; float:right;}
.top-user-link { float:left; margin-top:20px;color: #f3f0e9;margin-left: 24px}
.top-user-link .btn-reg ,.top-user-link .btn-log { display:inline-block; font-size:12px; height:26px; line-height:26px; margin: 0 3px; color:#baac7b;}
.top-user-link .btn-log { width:40px; padding-left:38px; border:1px solid #d4d4d4; color:#baac7b; border-radius:15px; background-image:url(../images/ico_index.png);background-repeat: no-repeat; background-position:0 -286px; margin:0;}
.top-user-link .btn-log:hover { border:1px solid #cb0000; background-color:#cb0000; background-position:-40px -286px; color:#fff; text-decoration:none;}
.top-user-link .ava { width:34px; height:34px; float:left; position:relative; top:-4px; margin-right:9px;border-radius: 50%;}

.top-user-we { width:112px; height:36px; padding-top:16px; float:left; position:relative;}
.top-user-we .weibo { float:left; margin-right:14px; width:36px; height:36px; background-image:url(../images/ico_index.png); background-repeat: no-repeat; background-position:-120px -286px; position:relative;}
.top-user-we .weibo:hover { background-position:-156px -286px;}
.top-user-we .weixin { float:left; margin-right:14px; width:36px; height:36px; background-image:url(../images/ico_index.png);background-repeat: no-repeat;  background-position:-192px -286px; position:relative;}
.top-user-we .weixin:hover { background-position:-228px -286px;}
.top-user-we .top-line { width:2px; height:20px; background:#f3f0e9; overflow:hidden; position:absolute; right:0; top:25px;}
.weixin-code{width:260px;margin:10% auto 0;}

@media screen and (max-width:767px){
.logo a{margin-left:10px;width:103px;height:40px;background-size:103px 40px;}
.top-user{height:40px;}
.top-user-link { margin-top:5px;margin-left: 24px}
.top-user-we { padding-top:0px; width:112px; }
.top-user-we .top-line { top:10px;}
}

.mip-nav-wrapper{background:#cb0000;height:40px}
.mip-nav-wrapper.show{opacity:1!important}
.mip-nav-wrapper .hr-xs{display:none}
mip-nav-slidedown #bs-navbar{margin-bottom:0;margin-right:0;margin-left:1px;float:left;}
@media screen and (max-width:767px){mip-nav-slidedown #bs-navbar{margin-left:0px;}}
mip-nav-slidedown #bs-navbar .navbar-nav li.gd{background:#d63636;}
mip-nav-slidedown #bs-navbar .navbar-nav li.user-01{position:absolute;right:60px;background:#d63636;}
mip-nav-slidedown #bs-navbar .navbar-nav li.user-02{position:absolute;right:0px;}
@media screen and (max-width:767px){
	mip-nav-slidedown #bs-navbar .navbar-nav li.gd{background:#f1f1f1;
}
mip-nav-slidedown #bs-navbar .navbar-nav li.user-01{position:relative;right:0px;background:#d63636;}
mip-nav-slidedown #bs-navbar .navbar-nav li.user-02{position:relative;right:0px;}}
mip-nav-slidedown #bs-navbar a,mip-nav-slidedown #bs-navbar mip-link,mip-nav-slidedown #bs-navbar span{white-space:nowrap;margin:0 0;padding:10px 10px;color:#fff}
mip-nav-slidedown #bs-navbar a:focus,mip-nav-slidedown #bs-navbar a:hover,mip-nav-slidedown #bs-navbar mip-link:focus,mip-nav-slidedown #bs-navbar mip-link:hover,mip-nav-slidedown #bs-navbar span:focus,mip-nav-slidedown #bs-navbar span:hover{text-decoration:none;background:#d63636;color:#f1f1f1}
mip-nav-slidedown #bs-navbar .navbar-nav{display:-webkit-box;display:-ms-flexbox;display:flex;margin-top:0px;/*10px*/margin-right:0px;/*-25px*/}
mip-nav-slidedown #bs-navbar .navbar-nav li{list-style:none;line-height:40px}
mip-nav-slidedown #bs-navbar .navbar-nav li.active a,mip-nav-slidedown #bs-navbar .navbar-nav li.active mip-link,mip-nav-slidedown #bs-navbar .navbar-nav li.active span{color:#fff;font-weight:700;background:#ccc;}
mip-nav-slidedown .navbar-wise-close{display:none}
mip-nav-slidedown .navbar-brand{float:none;display:inline-block;margin:0px 0 10px;height:40px;line-height:40px;padding:0 15px 0 30px;background:#d63636 url(../images/ico_home.png) no-repeat 15px center;/*background-size:100% auto;*/position:relative;font-size:14px;color:#fff;}
mip-nav-slidedown .navbar-brand:active,mip-nav-slidedown .navbar-brand:hover{color:hsla(0,0%,100%,.85);text-decoration:none;}
mip-nav-slidedown .navbar-header{float:left;display:none;}
mip-nav-slidedown .navbar-toggle{display:none}
@media screen and (max-width:767px){.mip-nav-wrapper{height:40px}
mip-nav-slidedown .navbar-header{display:block;}
.mip-nav-wrapper .navbar-static-top a{margin:0}
.mip-nav-wrapper #bs-navbar{height:0;-webkit-transition:height .3s;transition:height .3s;width:100%;left:0;overflow-y:scroll;-webkit-overflow-scrolling:touch;z-index:1000;border:0;top:40px;left:0;right:0;float:none;position:absolute;background-color:#fff}
.mip-nav-wrapper #bs-navbar .navbar-nav{margin:0;min-height:283px;height:100%;display:block}
.mip-nav-wrapper #bs-navbar .navbar-nav li{padding:5px 0}
@media screen and (max-width:767px){
	.mip-nav-wrapper #bs-navbar .navbar-nav li{background:#f8f8f8;border-bottom:1px solid #eee;}}
.mip-nav-wrapper #bs-navbar .navbar-nav a,.mip-nav-wrapper #bs-navbar .navbar-nav mip-link,.mip-nav-wrapper #bs-navbar .navbar-nav span{text-align:center;color:#333;font-size:18px;padding:0;margin:0 auto;display:block}
.mip-nav-wrapper .navbar-header{float:none;overflow:hidden}
.mip-nav-wrapper .container>.navbar-collapse{padding:0;background-color:#fff}
.mip-nav-wrapper .navbar-brand{margin:0 0 0;height:40px;font-size:15px}
.mip-nav-wrapper .navbar-static-top .navbar-brand{left:50%;margin-left:-30px;zoom:1;}
.mip-nav-wrapper .navbar-toggle{display:block;margin:8px 5px;padding:5px;border:0;background:transparent;float:right}
.mip-nav-wrapper .navbar-toggle .icon-bar{height:2px;width:23px;background:#f1f1f1;display:block}
.mip-nav-wrapper .navbar-toggle .icon-bar+.icon-bar{margin-top:6px}
.mip-nav-wrapper .hr-xs{display:block!important;border-color:#eee;margin:0 10px;border-top:0}
.mip-nav-wrapper .navbar-wise-close{display:block;text-align:center;margin:0px 0}
.mip-nav-wrapper #navbar-wise-close-btn{width:40px;height:40px;border-radius:50%;border:1px solid #d4d4d4;display:inline-block;position:relative}
.mip-nav-wrapper #navbar-wise-close-btn:before{-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
.mip-nav-wrapper #navbar-wise-close-btn:after,.mip-nav-wrapper #navbar-wise-close-btn:before{content:"";width:1px;height:25px;display:inline-block;position:absolute;background:#d4d4d4;top:7px}
.mip-nav-wrapper #navbar-wise-close-btn:after{-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg)}
.mip-nav-wrapper #navbar-wise-close-btn.down{background:#f3f3f3}
.mip-nav-wrapper .sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}}@media screen and (min-width:768px){mip-nav-slidedown #bs-navbar li .navbar-more:after{content:"";position:relative;display:inline-block;top:1px;border:4px solid transparent;border-top-color:#fff;left:3px;}
mip-nav-slidedown #bs-navbar li:hover .navbar-more:after{border-color:transparent transparent #fff;top:-3px}
mip-nav-slidedown #bs-navbar li{position:relative;}
mip-nav-slidedown #bs-navbar li>ul{display:none;list-style:none;position:absolute;background:#fff;right:0;background: #fbfbfb;overflow: hidden;padding: 12px 18px;position: absolute;right: 0;top: 39px;width: 288px;zoom: 1;z-index: 9999;border: #989898 1px solid;border-top: #1c1c1c 1px solid;box-shadow: 0px 5px 8px -2px rgba(0, 0, 0, 0.5);border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;}
mip-nav-slidedown #bs-navbar li:hover>ul{display:inherit;z-index:10}
mip-nav-slidedown #bs-navbar li>ul a{color:#333;padding:5px 5px;font-size:12px;}
mip-nav-slidedown #bs-navbar li>ul a:hover{background:#eee;color:#333;}
mip-nav-slidedown #bs-navbar li>ul li{display:inline-block;}
}
@media screen and (max-width:767px){
	mip-nav-slidedown #bs-navbar li>ul li{display:block;background:#fff;border-bottom:0px solid #ddd;border-top:1px solid #eee;font-size:12px;}
	.navbar-more{display:none!important;}
}

/*focus*/
.ft-box{margin-top:30px;}
.focus{float:left;width:720px;}
.mip-carousle-subtitle{background:url(../images/ico_foucs_bg.png) repeat-x 0 0;bottom:0px;font-size:22px;height:60px;line-height:60px;overflow:hidden;}
@media screen and (max-width:767px){
.focus{float:none;width:100%;}
.ft-box{margin-top:0px;}
}
/*top3*/
.top3 { width:440px; float:right; overflow:hidden;}
.top3 dl{padding-bottom:19px;}
.top3 dt { height:36px; line-height:36px; font-size:24px; font-weight:bold; overflow:hidden;}
.top3 dt a { color:#595855;}
.top3 dd { height:30px; line-height:30px; font-size:16px; overflow:hidden;}
.top3 dd a { color:#595855;}
.top3 dt a:hover, .top3 dd a:hover { color:#cb0000;}
.top3 dd a:visited { color: #a7a7a5; }

@media screen and (max-width:767px){
.top3 { padding:10px 15px;width:auto; float:none; }
.top3 dt { height:32px; line-height:32px; font-size:20px; }
}


/*mip two*/
.mip-two{margin-top:20px;}
.mip-two-left{float:left;padding-right:25px;border-right:1px solid #e6e6e6;width:330px;}
.mip-two-mid{float:left;margin-left:25px;width:340px;}
.mip-two-right{float:right;width:440px;}
@media screen and (max-width:767px){
.mip-two-left{float:none;padding-right:0px;padding:0 15px;border-right:0px solid #e6e6e6;width:auto;}
.mip-two-mid{float:none;margin-left:0px;width:auto;padding:0 15px;}
.mip-two-right{float:none;width:auto;padding:0 15px;}
}
/*mip title*/
.mip-tit-1 { height:40px; line-height:40px; position:relative;}
.mip-tit-1 strong { font-size:22px; color:#cd0001; float:left; font-family:'fzzhjn'; font-weight:normal;}
.mip-tit-1 a { color:#af825e; font-size:14px; padding-left:6px; background-image:url(../images/ico_index.png);background-repeat:no-repeat; background-position:0 -136px; margin-left:5px; float:left;}
.mip-tit-1 a:hover { color:#cb0000;}
.mip-tit-1 span { width:50px; height:3px; background:#e6e6e6; overflow:hidden; position:absolute; left:0; bottom:-3px; border-radius:2px;}
.mip-tit-1 span.udline1 { width:66px;}
.mip-tit-1 span.udline2 { width:90px;}
.mip-tit-1 span.udline3 { width:110px;}

.mip-tit-2 { height:72px; line-height:72px; position:relative;}
.mip-tit-2 strong { font-size:34px; color:#cd0001; float:left; font-family:'fzzhjn'; font-weight:normal;}
.mip-tit-2 a { color:#ad815e; font-size:14px; padding-left:9px; background-image:url(../images/ico_index.png);background-repeat:no-repeat; background-position:0 -119px; margin-left:9px; float:left;}
.mip-tit-2 a:hover { color:#cb0000;}
.mip-tit-2 span { width:68px; height:3px; background:#e6e6e6; overflow:hidden; position:absolute; left:0; bottom:-3px; border-radius:2px;}
.mip-tit-2 span.udline { width:148px;}
.mip-tit-2 i { width:6px; height:6px; display:inline-block; background:#cb0000; border-radius:5px; overflow:hidden; position:relative; top:-8px; margin:0 4px;}
@media screen and (max-width:767px){
.mip-tit-2{margin:0 15px;}
}

/*mip p*/
.tab{border-bottom:1px solid #e6e6e6;}
.mip-tabs .mip-tabs-label-wrap>div[data-v-1094517f]{background:#cc0001;color:#fff;}
.mip-tabs .mip-tabs-label-wrap .mip-tabs-label[data-v-1094517f]{color:#fff;}
.mip-tabs .mip-tabs-label-wrap .optionColor[data-v-1094517f], .mip-tabs .mip-tabs-label-wrap .optionColor span[data-v-1094517f]{background:#bd0102;color:#fff;}
.mip-tabs .mip-tabs-label-wrap .mip-tabs-line[data-v-1094517f]{background-color:transparent;background:url(../images/ico_tab-arr.png) no-repeat center 0;height:5px;width:8px;}
.mip-tabs[data-v-1094517f]{padding-bottom:0px;}
.mip-tabs .mip-tabs-content-wrap[data-v-1094517f] mip-tabs-item{padding-left:0;}

/*mip china*/
.mip-china { padding:12px 0;}
.mip-china h4 { height:28px; line-height:28px; font-size:16px; overflow:hidden; padding:0 24px 0 26px; background-image:url(../images/ico_index.png);background-repeat:no-repeat; background-position:0 -184px;}
.mip-china h4 a { color:#585856;}
.mip-china h4 a:hover { color:#cb0000;}
.mip-china h4 a:visited { color:#a7a7a5;}
.mip-china h5 { padding:0 24px 0 26px; height:44px; line-height:22px; font-size:12px; overflow:hidden; font-weight:normal;}
.mip-china h5 a { color:#91908a;}
.mip-china h5 a:hover { color:#cb0000;}
.mip-china h5 a:visited { color:#a7a7a5;}

.mip-china li { padding-right:24px; height:36px; line-height:36px; font-size:16px; overflow:hidden;}
.mip-china li a { color:#4e4c57;}
.mip-china li a:hover { color:#cb0000;}
.mip-china li a:visited { color:#a7a7a5;}
.mip-china li strong { color:#af825e; font-weight:normal;}
.mip-china li span { color:#e6e6e6; padding:0 11px;}

/*mip list*/
.mip-text-list{margin-bottom:15px;}
.mip-text-list li{/*text-overflow:ellipsis;white-space:nowrap;*/overflow:hidden;height: 38px;line-height: 38px;font-size: 16px;padding-left: 15px;background-image: url(../images/ico_index.png);background-repeat: no-repeat;background-position: 0 -99px;}
.mip-text-list li.first{padding-left:0;background:transparent;height: 36px; line-height: 36px; font-size: 20px; font-weight: bold; overflow: hidden;}
.mip-text-list li.first2{
padding: 16px 0 0 24px;
    height: 48px;
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 6px;
    overflow: hidden;
    background-image: url(../images/ico_index.png);
    background-repeat: no-repeat;
    background-position: 0 -172px;
    font-weight: bold;
}

/*vd list*/
.mip-block{border-bottom:1px solid #e6e6e6;}
.mip-vd-list{margin-left: -4px;font-size: 14px;overflow: hidden;}
.mip-vd-list li{position:relative;float: left;width: 168px;margin-left: 4px;margin-bottom: 10px;}
.mip-vd-list .pic{margin:0 auto;width: 168px;height: 112px;overflow: hidden;}
.mip-vd-list .pic mip-img{width: 100%;min-height: 100%;}
.mip-vd-list .tt{height: 36px;line-height: 36px;overflow: hidden;/*text-overflow: ellipsis;white-space: nowrap;*/}
.mip-vd-list a span{width: 40px;height: 40px;background-image: url(../images/ico_index.png);background-repeat: no-repeat;background-position: -40px -312px;position: absolute;left: 50%;top: 50%;margin-left: -20px;margin-top: -34px;}
.mip-vd-list a:hover span{background-position:0 -312px;}
@media screen and (max-width:767px){
.mip-vd-list li{margin-left:0;width:50%;text-align:center;}
}

/*vd txt list*/
.mip-vd-txt-list{padding: 11px 0 25px 0;}
.mip-vd-txt-list li{height: 38px;line-height: 38px;font-size: 16px;overflow: hidden;background-image: url(../images/ico_index.png);background-repeat: no-repeat;background-position: 0 -352px;padding-left: 22px;}

/*zt*/
.mip-sp-block{padding-top:11px;}
.mip-sp-list{padding: 11px 0 25px 0;}
.mip-sp-list li{height: 38px;line-height: 38px;font-size: 16px;overflow: hidden;}

/*mip one*/
.mip-one{margin-top:40px;}
.mip-one-left{float:left;padding-right:15px;width:340px;}
.mip-one-mid{float:left;margin-left:25px;margin-top:10px;width:420px;}
.mip-one-right{float:right;width:340px;}
@media screen and (max-width:767px){
.mip-one{margin-top:20px;}
.mip-one-left{float:none;padding-right:0px;padding:0 15px;border-right:0px solid #e6e6e6;width:auto;}
.mip-one-mid{float:none;margin-left:0px;width:auto;padding:0 15px;}
.mip-one-right{float:none;width:auto;padding:0 15px;}
}

.mip-one-focus{margin-top:20px;}

/*mip one pic list*/
.mip-one-pic-list { padding-top:12px; margin-left: -4px;font-size: 14px;overflow: hidden;}
.mip-one-pic-list li{position:relative;float: left;width: 168px;margin-left: 4px;margin-bottom: 10px;}
.mip-one-pic-list .pic{margin:0 auto;width: 168px;height: 112px;overflow: hidden;}
.mip-one-pic-list .pic mip-img{width: 100%;min-height: 100%;}
.mip-one-pic-list .tt{padding:6px 10px 0 0; height:40px; line-height:20px;overflow: hidden;/*text-overflow: ellipsis;white-space: nowrap;*/}
.mip-one-pic-list a span{width: 40px;height: 40px;background-image: url(../images/ico_index.png);background-repeat: no-repeat;background-position: -40px -312px;position: absolute;left: 50%;top: 50%;margin-left: -20px;margin-top: -34px;}
.mip-one-pic-list a:hover span{background-position:0 -312px;}
@media screen and (max-width:767px){
.mip-one-pic-list li{margin-left:0;width:50%;text-align:center;}
}

.mip-ly-pic p{ color:#595855; height:28px; line-height:28px; font-size:16px; overflow:hidden; border-bottom:1px dashed #e1591d;}
.mip-ly-pic p a { color:#595855;}

/*ad*/
.ad-340{width:340px;height:250px;}
@media screen and (max-width:767px){
.ad-340{width:auto;height:auto;}
}

/*footer*/
.footer{padding:80px 0 25px;text-align:center;}
.footer em{font-style:italic;color:#ccc;}
.footer .links a { color: #666; margin:0 10px; text-indent:0; display:inline-block; height:25px; line-height:25px; color:#5e5e5e; padding:0; }
.footer .links a:hover { color: #cb0000; }
.footer .links a:visited { color: #a7a7a5; }

.copycert { width:1000px; margin:0 auto; color:#365071; line-height:25px; overflow:hidden;}
.copycert li { padding:22px 0; width:1050px; clear:both; text-align: center;}
.copycert dt { float:left; text-align:left; color:#365071; width:390px; display:inline;}
.copycert dd { width:415px; text-align:left; float:left; margin:0;}
.copycert .las { width:195px; margin:0;}
.copycert a { color:#666; display:inline-block; white-space: nowrap;}
.copycert a:hover { color:#1c1c1c; text-decoration:underline;}

.copycontact { display:block; background:#f2f2f2; margin:0 auto; margin-top:10px; text-align:center; color:#5e5e5e; height:30px; line-height:30px;}
.copycontact em { display:inline-block; margin:0 15px; color:#d9d9d9; font-family:Arial; font-size:12px;}
.copycontact span a { color:#5f789e;}

.other-ico a { margin:0 20px 0 0;display:inline-block;white-space:nowrap;}
.other-ico-1 ,.other-ico-2 ,.other-ico-3 ,.other-ico-4 ,.other-ico-5,.other-ico-6{ width:122px; height:52px; background:url(/static/images/other-ico.png) no-repeat;}
.other-ico-2 { background:url(/static/images/other-ico-jb.png)  no-repeat; width:130px;}
.other-ico-3 { background-position:-268px 0;}
.other-ico-4 { background-position:-401px 0; width:117px;}
.other-ico-5 { background-position:-522px 0; width:117px;}
.other-ico-6 { background-position:-644px 0; width:117px;}

@media screen and (max-width:767px){
.footer{padding:30px 0 25px;}
.copycert { display:none; }
.copycontact{padding:10px 0;height:auto;width:100%;}
.copycontact span{display:block;}
.copycontact em{display:none;}
}

mip-fixed[type=gototop]{right:10px!important;}