/*
BotAdmin-站掌门 AI智能站群系统
www.botadmin.cn
QQ:38050123
*/
body{background:#f5f5f5;font-size:14px;font-family:"Microsoft Yahei";color:#333;}
*{margin:0;padding:0;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
*:focus{outline:none;}
input[type="button"], input[type="submit"], input[type="reset"]{-webkit-appearance:none;}
textarea{-webkit-appearance:none;}
img{border:none;vertical-align: middle;}
em,i{font-style:normal;}
ul,li,ol,li{list-style-type:none}
a{text-decoration:none;color: #333}
a:visited{color:#a7a7a5;}
a:hover{text-decoration:underline;color: #cb0000;}
.clear{zoom:1;}
.clear:after{content:'';clear:both;display:block;}
.clearfix:after,.clearfix:before{content:"";display:block;height:0;clear:both;visibility:hidden}
*html .clearfix{height:1%;zoom:1}
*+html .clearfix{height:1%}
.blk{height:10px;display:block;}
.blk2{height:20px;display: block;}
.blk3{height:30px;display: block;}
.blk4{height:40px;display: block;}
.container{margin:0 auto;width:960px;}
@media screen and (max-width:767px){
	.container{margin:0 auto;width:100%;}
}

/*top*/
.top-bar{position:relative;z-index:1;}
.top-bar .mip-nav-wrapper{background:#434343;height:40px}
.top-bar .mip-nav-wrapper.show{opacity:1!important}
.top-bar .mip-nav-wrapper .hr-xs{display:none}
.top-bar mip-nav-slidedown #bs-navbar{margin-bottom:0;margin-right:0;margin-left:0px;float:left;}
@media screen and (max-width:767px){mip-nav-slidedown #bs-navbar{margin-left:0px;}}
.top-bar mip-nav-slidedown #bs-navbar .navbar-nav li.gd{position:absolute;right:0px;background:#4e4e4e url(../images/logo_white.png) no-repeat 10px center;width:95px;text-align:right;}
.top-bar mip-nav-slidedown #bs-navbar .navbar-nav li.user-01{position:absolute;right:160px;background:#917347;height:42px;}
.top-bar mip-nav-slidedown #bs-navbar .navbar-nav li.user-02{position:absolute;right:100px;}
@media screen and (max-width:767px){
	.top-bar mip-nav-slidedown #bs-navbar .navbar-nav li.gd{left:0;right:0;background:#f1f1f1;width:100%;
}
.top-bar mip-nav-slidedown #bs-navbar .navbar-nav li.user-01{position:relative;right:0px;background:#917347;}
.top-bar mip-nav-slidedown #bs-navbar .navbar-nav li.user-02{position:relative;right:0px;}
}
.top-bar mip-nav-slidedown #bs-navbar a,.top-bar mip-nav-slidedown #bs-navbar mip-link,.top-bar mip-nav-slidedown #bs-navbar span{white-space:nowrap;margin:0 0;padding:10px 10px;color:#fff}

.top-bar mip-nav-slidedown #bs-navbar a:focus,.top-bar mip-nav-slidedown #bs-navbar a:hover,.top-bar mip-nav-slidedown #bs-navbar mip-link:focus,.top-bar mip-nav-slidedown #bs-navbar mip-link:hover,.top-bar mip-nav-slidedown #bs-navbar span:focus,.top-bar mip-nav-slidedown #bs-navbar span:hover{text-decoration:none;background:#c00;color:#f1f1f1}

.top-bar mip-nav-slidedown #bs-navbar .navbar-nav li.user-01 a:focus,.top-bar mip-nav-slidedown #bs-navbar .navbar-nav li.user-01 a:hover{text-decoration:none;background:#917347!important;color:#f1f1f1}

.top-bar mip-nav-slidedown #bs-navbar .navbar-nav li.user-02 a:focus,.top-bar mip-nav-slidedown #bs-navbar .navbar-nav li.user-02 a:hover{text-decoration:none;background:#676767!important;color:#f1f1f1}

.top-bar mip-nav-slidedown #bs-navbar .navbar-nav li.gd span:focus,.top-bar mip-nav-slidedown #bs-navbar .navbar-nav li.gd span:hover{text-decoration:none;background:#676767!important;color:#f1f1f1}

.top-bar mip-nav-slidedown #bs-navbar .navbar-nav{display:-webkit-box;display:-ms-flexbox;display:flex;margin-top:0px;/*10px*/margin-right:0px;/*-25px*/}
.top-bar mip-nav-slidedown #bs-navbar .navbar-nav li{list-style:none;line-height:40px}
.top-bar mip-nav-slidedown #bs-navbar .navbar-nav li.active a,.top-bar mip-nav-slidedown #bs-navbar .navbar-nav li.active mip-link,.top-bar mip-nav-slidedown #bs-navbar .navbar-nav li.active span{color:#fff;font-weight:700;background:#ccc;}
.top-bar mip-nav-slidedown .navbar-wise-close{display:none}
.top-bar mip-nav-slidedown .navbar-brand{float:none;display:inline-block;margin:0px 0 10px;height:95px;line-height:95px;padding:0 0px 0 0px;background:transparent url(../images/logo_12.png) no-repeat 0 0;/*background-size:100% auto;*/position:relative;font-size:14px;color:#fff;text-indent:-9999em;width:155px;}
.top-bar mip-nav-slidedown .navbar-brand:active,mip-nav-slidedown .navbar-brand:hover{color:hsla(0,0%,100%,.85);text-decoration:none;}
.top-bar mip-nav-slidedown .navbar-header{float:left}
.top-bar mip-nav-slidedown .navbar-toggle{display:none}
@media screen and (max-width:767px){
.top-bar .mip-nav-wrapper{height:40px}
.top-bar .mip-nav-wrapper .navbar-static-top a{margin:0}
.top-bar .mip-nav-wrapper #bs-navbar{height:0;-webkit-transition:height .3s;transition:height .3s;width:100%;left:0;overflow-y:scroll;-webkit-overflow-scrolling:touch;z-index:1000;border:0;top:40px;left:0;right:0;float:none;position:absolute;background-color:#fff}
.top-bar .mip-nav-wrapper #bs-navbar .navbar-nav{margin:0;min-height:283px;height:100%;display:block}
.top-bar .mip-nav-wrapper #bs-navbar .navbar-nav li{padding:5px 0}
@media screen and (max-width:767px){
.top-bar mip-nav-slidedown .navbar-brand{float:none;display:inline-block;margin:0px 0 10px;height:40px;line-height:40px;padding:0 15px 0 30px;background:url(../images/logo_white.png) no-repeat 15px center;/*background-size:100% auto;*/position:relative;font-size:14px;color:#fff;text-indent:-9999em;width:100px;}	
.top-bar .mip-nav-wrapper #bs-navbar .navbar-nav li{background:#f8f8f8;border-bottom:1px solid #eee;}}
.top-bar .mip-nav-wrapper #bs-navbar .navbar-nav a,.top-bar .mip-nav-wrapper #bs-navbar .navbar-nav mip-link,.top-bar .mip-nav-wrapper #bs-navbar .navbar-nav span{text-align:center;color:#333;font-size:18px;padding:0;margin:0 auto;display:block}
.top-bar .mip-nav-wrapper .navbar-header{float:none;overflow:hidden}
.top-bar .mip-nav-wrapper .container>.navbar-collapse{padding:0;background-color:#fff}
.top-bar .mip-nav-wrapper .navbar-brand{margin:0 0 0;height:40px;font-size:15px}
.top-bar .mip-nav-wrapper .navbar-static-top .navbar-brand{left:50%;margin-left:-30px}
.top-bar .mip-nav-wrapper .navbar-toggle{display:block;margin:8px 5px;padding:5px;border:0;background:transparent;float:right}
.top-bar .mip-nav-wrapper .navbar-toggle .icon-bar{height:2px;width:23px;background:#f1f1f1;display:block}
.top-bar .mip-nav-wrapper .navbar-toggle .icon-bar+.icon-bar{margin-top:6px}
.top-bar .mip-nav-wrapper .hr-xs{display:block!important;border-color:#eee;margin:0 10px;border-top:0}
.top-bar .mip-nav-wrapper .navbar-wise-close{display:none;text-align:center;margin:0px 0}
.top-bar .mip-nav-wrapper #navbar-wise-close-btn{width:40px;height:40px;border-radius:50%;border:1px solid #d4d4d4;display:inline-block;position:relative}
.top-bar .mip-nav-wrapper #navbar-wise-close-btn:before{-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
.top-bar .mip-nav-wrapper #navbar-wise-close-btn:after,.top-bar .mip-nav-wrapper #navbar-wise-close-btn:before{content:"";width:1px;height:25px;display:inline-block;position:absolute;background:#d4d4d4;top:7px}
.top-bar .mip-nav-wrapper #navbar-wise-close-btn:after{-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg)}
.top-bar .mip-nav-wrapper #navbar-wise-close-btn.down{background:#f3f3f3}
.top-bar .mip-nav-wrapper .sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}
}
@media screen and (min-width:768px){
.top-bar mip-nav-slidedown #bs-navbar li .navbar-more:after{content:"";position:relative;display:inline-block;top:1px;border:4px solid transparent;border-top-color:#fff;left:3px;
}
.top-bar mip-nav-slidedown #bs-navbar li:hover .navbar-more:after{border-color:transparent transparent #fff;top:-3px}
.top-bar mip-nav-slidedown #bs-navbar li{position:relative;}
.top-bar mip-nav-slidedown #bs-navbar li>ul{display:none;list-style:none;position:absolute;background:#fff;right:0;background: #9a9a9a;overflow: hidden;padding: 12px 18px;position: absolute;right: 0;top: 39px;width: 80px;zoom: 1;z-index: 9999;border: #989898 1px solid;border-top: #1c1c1c 1px solid;box-shadow: 0px 5px 8px -2px rgba(0, 0, 0, 0.5);border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;}
.top-bar mip-nav-slidedown #bs-navbar li:hover>ul{display:inherit;z-index:10}
.top-bar mip-nav-slidedown #bs-navbar li>ul a{color:#fff;padding:5px 5px;font-size:12px;}
.top-bar mip-nav-slidedown #bs-navbar li>ul a:hover{background:#8c8c8c;color:#fff;}
.top-bar mip-nav-slidedown #bs-navbar li>ul li{display:inline-block;}
}
@media screen and (max-width:767px){
.top-bar mip-nav-slidedown #bs-navbar li>ul{width:100%;}
.top-bar mip-nav-slidedown #bs-navbar li>ul li{display:block;background:#fff;border-bottom:0px solid #ddd;border-top:1px solid #eee;font-size:12px;}
.top-bar .navbar-more{display:none!important;}
.top-bar mip-nav-slidedown #bs-navbar .navbar-nav li.user-01,.top-bar mip-nav-slidedown #bs-navbar .navbar-nav li.user-02{display:none;}
}

/*nav*/
.nav-btm{position:absolute;left:0;right:0;top:40px;z-index:0;background:url(../images/nav_bg.png.png) no-repeat center 0;height:70px;width:100%;vertical-align:middle;}
.nav-btm ul{margin-left:175px;}
.nav-btm li{float:left;padding:20px 0;height:30px;line-height:30px;}
.nav-btm li a{display:block;border-radius:5px;padding:0 10px;height:30px;line-height:30px;color:#333;}
.nav-btm li a:hover{color:#1e7eae;text-decoration:none;}
.nav-btm li.cur{background:url(../images/ico_nav_arr.png) no-repeat center 100%;}
.nav-btm li.cur a{box-shadow:0 2px 2px #ccc;background:#1e7eae;color:#fff;}
.search{float:right;margin-top:20px;box-shadow:0px 2px 2px #ccc;background:#fff;border-radius:5px;width:194px}
.search .input{float:left;padding:0 3px;background:transparent;border:none;height:28px;line-height:28px;color:#f1f1f1;width:160px}
.search .submit{overflow:hidden;float:left;background:transparent url(../images/ico_.png) no-repeat center center;background-size:16px;border:none;color:#fff;text-align:center;height:28px;line-height:28px;width:34px;cursor:pointer;border-radius:0;}
@media screen and (max-width:767px){
.nav-btm{display:none;}
}

/*focus*/
.ft-box{margin-top:40px;}
.focus{float:left;width:600px;}
.mip-carousle-subtitle{background:url(../images/ico_foucs_bg.png) repeat-x 0 0;bottom:0px;font-size:22px;height:60px;line-height:60px;overflow:hidden;}
@media screen and (max-width:767px){
.focus{float:none;width:100%;}
.ft-box{margin-top:0px;}
}
/*top3*/
.top3 { float:right; border-top: #e6e6e6 3px solid; width:360px; height:400px; overflow:hidden;}
.top3 .tt{ border-top-width:2px; margin:0; height:40px;}
.top3 h2 { font-size:14px; position:relative; text-indent:0; margin:0;}
.top3 h2 strong { display:block; background:#e6e6e6; width:70px; height:28px; line-height:28px; text-align:center; font-size:14px; font-weight:normal; color:#2b2b2b; position:absolute; left:30px; top:0;}
.top3 h3 { margin:10px 0 6px; font-family:Microsoft YaHei,SimHei; font-weight:normal; line-height:25px; height:53px;overflow:hidden; display:block;}
.top3 h3 a { font-size:22px; color:#2b2b2b !important;}
.top3 h3 a:hover { color:#820C0C !important;}
.top3 p { display:block; font-size:14px; color:#666; height:40px; line-height:20px; text-align:justify; overflow:hidden;}
.top3 p a { display:inline-block; margin-right:5px;}
.top3 ul { margin:0 25px 0 30px;}
.top3 li { margin:0 0 10px; background: url(../images/ico_dot_line.png) top repeat-x; overflow: hidden;}
.top3 li:first-child { background:none;}
@media screen and (max-width:767px){
.top3 { float:right; border-top: #e6e6e6 3px solid; width:100%; height:auto; overflow:hidden;}
.top3 h3 a { font-size:18px; color:#2b2b2b !important;}
.top3 ul { margin:0 15px 0 15px;}
}

/*class*/
.class-main{width:960px;overflow:hidden;}
.class-box{width:1090px;display:block;}
.class-item{margin-top:30px;margin-right:40px;width:460px;float:left;}
.class-item h2{position:relative;border-top: #2ca9e1 3px solid;height:45px;}
.class-item h2 strong{background: url(../images/ico_title.png) no-repeat;background-position:0 -165px;color:#fff;color: #2b2b2b;width: 120px;height: 40px;line-height: 40px;font-size: 16px;font-weight: normal;position: absolute;left: 30px;top: -2px;text-indent: 0;text-align: center;color:#fff;}
.class-item h2 em{font-style:normal;position:absolute;right:12px;top:1px;display:block;width:110px;text-align:right;}
.class-item h2 em a{font-family:SimSun;font-size:12px;font-weight:normal;}
.class-item li{background: url(../images/ico_dot_1.png) no-repeat;background-position:0 -68px;height:30px;line-height:30px;text-indent:12px;white-space:nowrap;overflow:hidden;position:relative;}
.class-item li em{background: url(../images/ico_a_2.png) no-repeat;background-position:0 -71px;width:40px;float:right;padding:0 0 0 20px;margin:5px 0 0;text-align:left;cursor:pointer;}
.class-item li em:hover{background-position:0 -141px;}
@media screen and (max-width:767px){
.class-main{width:100%;overflow:hidden;}
.class-box{width:100%;display:block;}
.class-item{margin-top:30px;margin-right:0px;width:100%;float:none;}
.class-item h2 strong{left:15px;}
.class-item ul{padding-left:15px;}
}

/*pic*/
.class-pic{margin-top:30px;}
.class-pic h2 { display:block; background:#ccc url(../images/ico_title.png) no-repeat center -315px; height:40px; position:relative;text-indent:-9999em;overflow:hidden;}
.class-pic { display:block; width:960px; overflow:hidden;}
.class-pic ul { width:980px; margin:0 -10px;}
.class-pic li { width:225px; height:150px; overflow:hidden; float:left; margin:20px 10px 0; position:relative;}
.class-pic li img { width:225px; height:150px;}
@media screen and (max-width:767px){
.class-pic {width:100%; }
.class-pic ul { width:auto; padding:0 10px; margin:0 auto;}
.class-pic li { width:48%; height:auto;margin:20px 1% 0; }
.class-pic li img { width:100%; height:150px;}
}

.crumbs{display:none;margin: 30px 15px 0 0;color:#a7a7a5;}
.crumbs a{color:#707070;}
@media screen and (max-width:767px){
.crumbs{display:block;margin: 20px 15px 0 15px;color:#a7a7a5;}
.crumbs a{color:#707070;}
}
/*list*/
.article-list { margin-top:30px; background:#fff; width:620px; float:left; overflow:hidden; border-top:#2ca9e1 3px solid;}
.article-list .article-hd{padding:0 15px;border-bottom:1px solid #eee;line-height:40px;}
.article-list ul { width:560px; margin:0 auto;}
.article-list li { border-bottom:#eee 1px solid; padding:0 0 20px;}
.article-list .cur { background:#f2f6f7;}
.article-list .cur h3 { color:#820c0c;}
.article-list dl { overflow:hidden;}
.article-list dt { display:block; line-height:30px; padding:30px 0 15px; position:relative;}
.article-list dt h3 { font-size:20px; font-family:Microsoft YaHei,SimHei; font-weight:normal; width:500px; overflow:hidden; color:#2b2b2b!important; text-overflow:ellipsis; white-space:nowrap;}
.article-list dt i { font-family:SimSun; font-size:12px; color:#666; font-style:normal; display:block; width:60px; height:22px; text-align:right; overflow:hidden; position:absolute; right:0; top:30px;}
.article-list dd { color:#666; line-height:24px; font-size:14px;}
.article-list dd .pic { display:inline-block; float:right; border:#ebebeb 1px solid; margin:0 0 10px 15px;width:150px;height:102px;}
.article-list dd span { display:block; width:640px; overflow:hidden; margin:4px -10px 8px -2px;}
.article-list dd span img { margin:0 17px 0 0; float:left; width:175px;}
.article-list dd strong { display:inline-block; margin-right:5px;}
.article-list dd em { font-style:normal; color:#93090f; display:inline-block; margin:0 5px;}
.article-list dd em i { font-style:normal; color:#93090f; margin:0 2px;}
.article-list dd em i:hover { text-decoration:underline;}
.article-list a.list:hover { text-decoration:none; cursor:pointer;}
.article-list .listImg { width:640px; display:block;}
.article-list .listImg td { text-align:left; vertical-align:top;}
.article-list .listImg img { width:175px; height:auto; margin:0 17px 0 0; float:none;}
.article-list .listImg .t1 { width:160px;}
.article-list .listImg .t2 { width:160px;}
.article-list .listImg .t3 { width:150px;}

@media screen and (max-width:767px){
.article-list { margin-top:15px; background:#fff; width:100%; float:none; overflow:hidden; border-top:#2ca9e1 3px solid;}
.article-list ul { width:auto; padding:0 15px; margin:0 auto;}
.article-list dt i{display:none;}
.article-list dt h3{width:auto;}
.article-info{display:none;}
}


.article-info .tag,.pl,.click {background-image:url(../images/ico_a_2.png);background-repeat:no-repeat;}

.article-info .tag { display:inline-block; width:20px; height:20px; float:left; margin-right:10px;}
.article-info { display:block; width:480px; height:20px; overflow:hidden; padding-top:20px;}
.article-info li { border:none; padding:0; color:#9d9d9d; height:20px; line-height:20px; width:345px; float:left; position:relative;}
.article-info a { color:#aeaeae;}
.article-info a:hover { color:#d70000;}
.article-info i { font-style:normal; margin:0 3px;}
.article-info .flr { float:right; position:relative; width:130px;}
.article-info .flr i { float:left; font-style:normal; margin:0; position:absolute; left:32px; top:0; background:#fff; width:80px; text-indent:0 !important;}
.article-info .pl,.click{ float:right; display:block; color:#9d9d9d; height:20px; line-height:20px; overflow:hidden; padding-left:22px; font-family:Arial; font-size:12px;}
.article-info .pl{ background-position:0 -36px; margin-right:10px;}
.article-info .click { background-position:0 -71px; margin-right:5px;}
.article-info .pl:hover ,.article-info .click:hover{ color:#d70000 !important; text-decoration:none;}
.article-info .pl:hover { background-position:0 -106px;}
.article-info .click:hover { background-position:0 -141px;}
@media screen and (max-width:767px){
.article-info{display:none;}
}

.top10{margin-top:10px;padding-bottom:15px;background:#fff;}
.top10 h2{position:relative;padding:0 15px;border-bottom:1px solid #eee;border-top: #2ca9e1 3px solid;height:40px;line-height:40px;}
.top10 h2 em{font-style:normal;position:absolute;right:12px;top:1px;display:block;width:110px;text-align:right;}
.top10 h2 a{font-family:SimSun;font-size:16px;font-weight:normal;color:    color: #2b2b2b;}
.top10 h2 em a{font-size:14px;}
.top10 ul{padding:0 15px;}

.top10 li{height:30px;line-height:30px;white-space:nowrap;overflow:hidden;position:relative;}

.mip-tabs .mip-tabs-content-wrap[data-v-1094517f] mip-tabs-item{padding-left:0;}
.mip-tabs[data-v-1094517f]{padding-bottom:0;}
.tab-box{background:#fff;}
.tab-rank { padding:15px;}
.tab-rank li { height:30px;*height:27px; overflow:hidden; margin:0 0 5px;}
.tab-rank em { display:inline-block; width:30px; height:30px; line-height:30px; color:#fff; float:left; background:#d9d9d9; text-align:center; font-family:Verdana; font-size:14px; margin:0 6px 0 0; _margin:0 3px 0 0; font-style:italic;}
.tab-rank i { font-style:normal; white-space:nowrap; overflow:hidden; width:255px; display:inline-block; font-size:12px;}
.tab-rank li a { float:left; display:inline-block; height:30px; line-height:30px; white-space:nowrap; width:320px; overflow:hidden; padding:0;-webkit-transition:all .3s;-moz-transition:all .3s;-o-transition:all .3s;transition:all .3s; color:#2b2b2b;}
.tab-rank li a:visited { color:#06346f;}
.tab-rank li a:hover { background:#f5f5f5; text-decoration:none; color:#2b2b2b; cursor:pointer;}
.tab-rank .bg-1 { background:#e6a357;}
.tab-rank .bg-2 { background:#e6b783;}
.tab-rank .bg-3 { background:#e6ccae;}




/*left*/
.left-main{float:left;width:620px;}
@media screen and (max-width:767px){
.left-main{float:none;padding:0 15px;width:auto;}
}

/*rec*/
.recommend .title{height: 32px;line-height: 32px;border-left: 5px solid #cb0000;padding-left: 15px;}
.recommend .title strong{font-size: 24px;font-style: normal;}
@media screen and (max-width:767px){
.recommend .title{height: 26px;line-height: 26px;padding-left: 10px;}
.recommend .title strong{font-size: 18px;}
}

/*list*/
.list .item{padding:20px 0;border-bottom:1px solid #ccc;height:130px;width:100%;}
.list .item .titlepic{float: left;width: 200px;height: 130px;overflow: hidden;margin-right: 15px;}
.list .item .text{overflow: hidden;height: 130px;position: relative;}
.list .item h3{float:left;overflow: hidden;font-size: 18px;line-height: 36px;max-height: 72px;overflow: hidden;font-weight: bold;}
.list .item .text_info{position: absolute;left: 0;right: 0;bottom: 0;color: #8c8c8c;font-size: 14px;height:18px;line-height:18px;}
.list .item .text_info span.name{float: left;}
.list .item .text_info span.time{float: right;}
@media screen and (max-width:767px){
.list .item{padding:10px 0;height:100px;}
.list .item .titlepic{width: 150px;height: 100px;margin-right: 10px;}
.list .item .text{height: 100px;}
.list .item h3{font-size: 15px;line-height: 26px;max-height: 52px;}
}

/*btn*/
.btn { display: block; margin: 25px auto; border-radius: 2px; width: 140px; height: 40px; text-align: center; line-height: 40px; border: 1px solid #cb0000; color: #cb0000 }
.btn:hover,.btn:visited { color: #cb0000; }
.btn-gray,.btn-gray:hover,.btn-gray:visited { color: #999; border-color: transparent;  text-decoration: none;}

/*right*/
.right-bar{float:right;padding-top:20px;width:300px;}
@media screen and (max-width:767px){
.right-bar{display:none;}
}





/*title more*/
.title1 { position: relative; line-height: 40px; height: 40px;}
.title1 strong { font-size: 18px; color: #cb0000; font-weight: normal; }
.title1 .more { position: absolute; right: 0; bottom: 0; font-size: 12px; color: #000; padding-right: 18px; background: url(../images/ico_more_s.png) right 55% no-repeat;}
.title1 .more:hover { text-decoration: none; }
.title1 .more { background: url(../images/ico_more_b.png) right 55% no-repeat; background-size: 14px auto; }

/*txt list*/
.txt-list li { line-height: 30px; padding-left: 14px; background: url(../images/ico_dot.png) left center no-repeat; }
.txt-list li a { display: block; height: 30px; overflow: hidden; /*text-overflow: ellipsis; white-space: nowrap;*/ }
.txt-list li.first { font-weight: bold; background: no-repeat; padding-left: 0;}

/*pic list*/
.pic-list { margin-left: -16px; font-size: 14px; overflow: hidden;}
.pic-list li { float: left; width: 142px; margin-left: 16px; margin-bottom: 10px; }
.pic-list .pic { width: 142px; height: 92px; overflow: hidden; }
.pic-list .pic img { width: 100%; min-height: 100%; }
.pic-list .tt { height: 36px; line-height: 36px; overflow: hidden; /*text-overflow: ellipsis; white-space: nowrap;*/ }

/*page*/
.page { text-align:center; clear:both; margin:30px 0; }
.page span { display:inline-block; padding:0 7px; font-weight:bold;}
.page a { background:#f0f4f6; border:#d9e4ec 1px solid; padding:0 6px; font-size:12px; margin:0 2px; display:inline-block; height:22px; line-height:22px;}
.page .a1 { padding:4px 7px 0\9; height:18px\9; line-height:18px\9;}
.page a:hover ,.page a.curent { background:#afc9dc; border:#567185 1px solid; text-decoration:none; color:#fff;}
.pageLeft { text-align:left !important;}

/*footer*/
.footer{padding:80px 0 25px;text-align:center;}
.footer em{font-style:italic;color:#ccc;}
.footer .links a { color: #666; margin:0 10px; text-indent:0; display:inline-block; height:25px; line-height:25px; color:#5e5e5e; padding:0; }
.footer .links a:hover { color: #cb0000; }
.footer .links a:visited { color: #a7a7a5; }
@media screen and (max-width:767px){
.footer{padding:30px 0 25px;}
}
mip-fixed[type=gototop]{right:10px!important;}