<footer>
  <div class="width center">
    <div class="foot-nav"> {dede:channel type='top' row='4'} <a href='[field:typeurl/]'  title='[field:typename/]'>[field:typename/]</a><span>　|　</span> {/dede:channel}  </div>
    <div class="foot-text">
    <p>{dede:global.cfg_webname/} <script src="{dede:global.cfg_templets_skin/}/skin/js/metinfo.js"></script>
    </p>
    <p>地址:{dede:global.cfg_province/}省{dede:global.cfg_city/}市龙华区国贸 电话:0898-66889888 E-mail:dedecms@163.com
    <div id="metinfo_91mb_Powered"></div>
    </p>
    </div>
  </div>
</footer>
<script src="{dede:global.cfg_templets_skin/}/skin/js/fun.inc.js" type="text/javascript"></script>
