<herder>
  <div class="HER--top">
	<div class="HER--top-nav center width">
	<div class="SEO">
		<p> 欢迎致电植物油生产公司：0898-66889888</p>
	</div>
	<div class="lang"><a href='#' onclick='SetHome(this,window.location,"非IE浏览器不支持此功能，请手动设置！");' style='cursor:pointer;' title='设为首页'  >设为首页</a><span></span><a href='#' onclick='addFavorite("非IE浏览器不支持此功能，请手动设置！");' style='cursor:pointer;' title='收藏本站'  >收藏本站</a></div>
	<div class="clear"></div>
	</div>
  </div>
  <div class="HER--cen position">
	<div class="HER--cen-con width center position">
	<div class="logo fl"> <a href="/" title="{dede:global.cfg_titlelast/}" id="web_logo" target='_self'> <img src="{dede:global.cfg_templets_skin/}/skin/images/logo.png" alt="{dede:global.cfg_titlelast/}" title="{dede:global.cfg_titlelast/}" style="margin:20px 0px 0px 0px;" /> </a> </div>
	<div class="HER--search">
		<form  name="formsearch" action="{dede:global.cfg_cmsurl/}/plus/search.php">
		<input type="hidden" name="kwtype" value="0" />
		<span class='navsearch_input'>
		<input type="text" name="q" size='20'/>
		</span>&nbsp;
		<input type='submit' name='submit' value='搜索' class="searchgo" />
		</form>
	</div>
	<div class="clear"></div>
	</div>
  </div>
  <div class="HER--bot">
	<nav class="width center">
	<ul class="list-none">
		<li id="nav_10001" style='width:134px;' ><a href='/' title='{dede:global.cfg_titlelast/}' class='nav'><span>植物油首页</span></a></li>
		{dede:channelartlist typeid='top'}
		<li class="nav-line"></li>
		<li id='nav_[field:global name=autoindex runphp="yes"]@me=@me+1;[/field:global]' style='width:134px;' ><a href='{dede:field name='typeurl'/}' 0 title='{dede:field name='typename'/}' class='hover-none nav'><span>{dede:field name='typename'/}</span></a>
		<dl>
			{dede:channel type='son' row='4' currentstyle="
			<dd><a href='~typelink~' ~rel~><span>~typename~</span></a></dd>
			"}
			<dd><a href='[field:typeurl/]' title='[field:typename/]' >[field:typename/]</a></dd>
			{/dede:channel}
		</dl>
		</li>
		{/dede:channelartlist}
		<li class="nav-line"></li>
		{dede:type typeid='5'}
		<li id='nav_10' style='width:133px;' ><a href='[field:typelink/]'  title='[field:typename/]' class='hover-none nav'><span>[field:typename/]</span></a></li>
		{/dede:type}
	</ul>
	</nav>
  </div>
  <div class="HER--ban center position">
	<div class="HER-ban-TOP"></div>
	<div class="HER-banner center">
	<div class="flash"> <img src='{dede:global.cfg_templets_skin/}/skin/images/1387873873.jpg' width='990' alt='' height='240'></div>
	</div>
  </div>
  <div class="HER-ban-BOT center"></div>
</herder>
