<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="applicable-device" content="pc" />
<meta name="location" content="province={dede:global.cfg_province/};city={dede:global.cfg_city/}" />
<title>{dede:global.cfg_webname/}</title>
<script language="JavaScript" type="text/javascript" src="/js/uadirect.js"></script>
<meta http-equiv="mobile-agent" content="format=html5;url={dede:global.cfg_waphost/}/" />
<meta name="mobile-agent" content="format=xhtml;url={dede:global.cfg_waphost/}" />
<meta name="description" content="{dede:global.cfg_description/}" />
<meta name="keywords" content="{dede:global.cfg_keywords/}" />
<link rel="stylesheet" type="text/css" href="{dede:global.cfg_templets_skin/}/skin/css/metinfo_ui.css" id="metuimodule" data-module ="10001" />
<link rel="stylesheet" type="text/css" href="{dede:global.cfg_templets_skin/}/skin/css/metinfo.css" />
<!--[if IE]>
<script src="{dede:global.cfg_templets_skin/}/skin/js/html5.js" type="text/javascript"></script>
<![endif]-->
<link rel="canonical" href="{dede:global.cfg_basehost/}">
</head>
<body>
<script src="{dede:global.cfg_templets_skin/}/skin/js/jquery1.7.2.js" type="text/javascript"></script>
<script src="{dede:global.cfg_templets_skin/}/skin/js/metinfo_ui.js" type="text/javascript"></script>
<herder>
  <div class="HER--top">
    <div class="HER--top-nav center width">
    <div class="SEO">
        <p> 欢迎{dede:global.cfg_webname/}：13922352985</p>
    </div>
    <div class="lang"><span></span><a href='#' onclick='SetHome(this,window.location,"非IE浏览器不支持此功能，请手动设置！");' style='cursor:pointer;' title='设为首页'  >设为首页</a><span></span><a href='#' onclick='addFavorite("非IE浏览器不支持此功能，请手动设置！");' style='cursor:pointer;' title='收藏本站'  >收藏本站</a></div>
    <div class="clear"></div>
    </div>
  </div>
  <div class="HER--cen position">
    <div class="HER--cen-con width center position">
    <div class="logo fl"> <a href="/" title="{dede:global.cfg_titlelast/}" id="web_logo" target='_self'> <img src="{dede:global.cfg_templets_skin/}/skin/images/logo.png" alt="{dede:global.cfg_titlelast/}" title="{dede:global.cfg_titlelast/}" style="margin:20px 0px 0px 0px;" /> </a> </div>
    <div class="HER--search">
        <form  name="formsearch" action="{dede:global.cfg_cmsurl/}/plus/search.php">
        <input type="hidden" name="kwtype" value="0" />
        <span class='navsearch_input'>
        <input type="text" name="q" size='20'/>
        </span>&nbsp;
        <input type='submit' name='submit' value='搜索' class="searchgo" />
        </form>
    </div>
    <div class="clear"></div>
    </div>
  </div>
  <div class="HER--bot">
    <nav class="width center">
    <ul class="list-none">
        <li id="nav_10001" style='width:134px;' class='navdown'><a href='/' title='{dede:global.cfg_titlelast/}' class='nav'><span>首页</span></a></li>
        <li class="nav-line"></li>
        {dede:channelartlist typeid='top'}
        <li id='nav_[field:global name=autoindex runphp="yes"]@me=@me+1;[/field:global]' style='width:134px;' ><a href='{dede:field name='typeurl'/}' 0 title='{dede:field name='typename'/}' class='hover-none nav'><span>{dede:field name='typename'/}</span></a>
        <dl>
            {dede:channel type='son' row='4' currentstyle="
            <dd><a href='~typelink~' ~rel~><span>~typename~</span></a></dd>
            "}
            <dd><a href='[field:typeurl/]' title='[field:typename/]' >[field:typename/]</a></dd>
            {/dede:channel}
        </dl>
        </li>
        {/dede:channelartlist}
        <li class="nav-line"></li>
        {dede:type typeid='1,2,3'}
        <li id='nav_10' style='width:133px;' ><a href='[field:typelink/]'  title='[field:typename/]' class='hover-none nav'><span>[field:typename/]</span></a></li>
        {/dede:type}
    </ul>
    </nav>
  </div>
  <div class="HER--ban center position">
    <div class="HER-ban-TOP"></div>
    <div class="HER-banner center">
    <link rel='stylesheet' href='{dede:global.cfg_templets_skin/}/skin/css/flexslider.css' type='text/css'>
    <script src='{dede:global.cfg_templets_skin/}/skin/js/jquery.flexslider-min.js'></script>
    <div class='flash'>
        <div class='flexslider flexslider_flash flashfld'>
        <ul class='slides list-none'>
            <li><a> <img src='{dede:global.cfg_templets_skin/}/skin/images/1387873852.jpg' alt='' width='990' height='360'></a></li>
            <li><a> <img src='{dede:global.cfg_templets_skin/}/skin/images/1387873325.jpg' alt='' width='990' height='360'></a></li>
            <li><a> <img src='{dede:global.cfg_templets_skin/}/skin/images/1387873924.jpg' alt='' width='990' height='360'></a></li>
            <li><a> <img src='{dede:global.cfg_templets_skin/}/skin/images/1387873457.jpg' alt='' width='990' height='360'></a></li>
            <li><a> <img src='{dede:global.cfg_templets_skin/}/skin/images/1387874042.jpg' alt='' width='990' height='360'></a></li>
        </ul>
        </div>
    </div>
    <script type='text/javascript'>$(document).ready(function(){ $('.flashfld').flexslider({ animation: 'slide',controlNav:false});});</script></div>
  </div>
  <div class="HER-ban-BOT center"></div>
</herder>
<div class="CON--top width center">
  <div class="CON--top-l fl" >
    <h3 class="CON--title position"> <span class="tubiao1"></span>关于{dede:global.cfg_indexname/} <a class="CON--title-more" title="关于{dede:global.cfg_indexname/}"  target='_self'>更多>></a> </h3>
    <div class="editor clear CON--top-pd"><img alt="{dede:global.cfg_indexname/}" src="{dede:global.cfg_templets_skin/}/skin/images/20131224_162433.jpg" style="width: 100px; height: 100px; margin: 5px 9px; float: left;" />{dede:global.cfg_about/}
    <div class="clear"></div>
    </div>
  </div>
  <div class="CON--top-r fr" >
    <h3 class="CON--title position"> <span class="tubiao2"></span>{dede:global.cfg_indexname/}新闻 <a class="CON--title-more" title="植物油新闻"  target='_self'>更多>></a> </h3>
    <div class="CON--top-rnr CON--top-pd" >
    <ul class="list-none">
        {dede:arclist infolen='100' typeid='2'}
        <li class="CON--top-rs" style="width:310px;">
        <dt class="fl" style="width:120px;"> <a href="[field:arcurl/]" title="[field:title/]"> <img src="[field:picname/]" alt="[field:title/]" title="[field:title/]" width="120" height="80"/></a> </dt>
        <dd class="fr" style="width:175px;">
            <h2 style="width:175px;"><a href="[field:arcurl/]" title="[field:title/]">[field:title/]</a></h2>
            <p style="height:45px;">[field:info/]...</p>
        </dd>
        <div class="clear"></div>
        </li>
        {/dede:arclist}
        {dede:arclist row=2 typeid='3'  titlelen='60'}
        <li class="CON--top-rx"><a href="[field:arcurl/]" title="[field:title/]">[field:title/]</a></li>
        {/dede:arclist}
    </ul>
    <div class="clear"></div>
    </div>
  </div>
</div>
<div class="clear"></div>
<div class="CON--bot width center position">
  <div class="CON--bot-top"></div>
  <h3 class="CON--title position">
    <div class="fl"><span class="tubiao3"></span>产品展示</div>
    <a class="CON--title-more" title="植物油产品"  target='_self'>更多>></a> </h3>
  <div class="flip">
    <p id="trigger"></p>
    <a class="prev" id="car_prev" href="javascript:void(0);"></a> <a class="next" id="car_next" href="javascript:void(0);"></a> </div>
  <div class="CON--cen-pd3 position clear">
    <div class="profld position" id="indexcar" data-listnum="4">
    <ol class='list-none metlist'>
        {dede:arclist row=8 typeid='4'}
        <li class='list'><a href='[field:arcurl/]' title='[field:title/]' target='_self' class='img'><img src='[field:picname/]' alt='[field:title/]' title='[field:title/]' width='203' height='150' /></a>
        <h3 style='width:203px;'><a href='[field:arcurl/]' title='[field:title/]' target='_self'>[field:title/]</a></h3>
        </li>
        {/dede:arclist}
    </ol>
    </div>
  </div>
  <div class="CON--bot-pot"></div>
</div>
<div class="clear"></div>
<footer>
  <div class="width center">
    <div class="foot-nav"> {dede:channel type='top' row='4'} <a href='[field:typeurl/]'  title='[field:typename/]'>[field:typename/]</a><span>　|　</span> {/dede:channel}  </div>
    <div class="foot-text">
    <p>{dede:global.cfg_webname/} <script src="{dede:global.cfg_templets_skin/}/skin/js/metinfo.js"></script>
    </p>
    <p>地址:{dede:global.cfg_province/}省{dede:global.cfg_city/}市龙华区国贸 电话:0898-66889888 E-mail:dedecms@163.com
    <div id="metinfo_91mb_Powered"></div>
    <b>友情链接：</b>{dede:flink row='24'}[field:link/] {/dede:flink}
    </p>
    </div>
  </div>
</footer>
<script src="{dede:global.cfg_templets_skin/}/skin/js/fun.inc.js" type="text/javascript"></script>

</body></html>
