<!DOCTYPE HTML>
<html>
<head>
<meta name="applicable-device" content="pc">
<meta name="renderer" content="webkit">
<meta charset="utf-8" />
<title>搜索页_{dede:global.cfg_titlelast/}</title>
<meta name="keywords" content="{dede:field name='keywords'/}" />
<meta name="description" content="{dede:field name='description' function='html2text(@me)'/}" />
<link rel="stylesheet" type="text/css" href="{dede:global.cfg_templets_skin/}/skin/css/metinfo_ui.css" id="metuimodule" data-module ="8" />
<link rel="stylesheet" type="text/css" href="{dede:global.cfg_templets_skin/}/skin/css/metinfo.css" />
<script src="{dede:global.cfg_templets_skin/}/skin/js/jquery1.7.2.js" type="text/javascript"></script>
<script src="{dede:global.cfg_templets_skin/}/skin/js/metinfo_ui.js" type="text/javascript"></script>
<!--[if IE]>
<script src="{dede:global.cfg_templets_skin/}/skin/js/html5.js" type="text/javascript"></script>
<![endif]-->
</head>

{dede:include filename="head.htm"/}
<div class="sidebar width center">
  <div class="sb_nav fl">
    <div class="sb_us-top"></div>
    <div class="sb_us-cen">
      <div class="sb_us-wb editor"><span style="line-height: 2;"><strong>地址：</strong>海南省海口市龙华区国贸</span>
        <div> <strong>电话：</strong>0898-66889888</div>
        <div> <strong>手机：</strong>13946589985</div>
        <div> <strong>网站：</strong>www.dedecms.com<br />
          <strong>邮箱：</strong>dedecms@163.com</div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="sb_us-pot"></div>
  </div>
  <div class="sb_box fr" >
    <div class="sb_box-box position">
      <h3 class="sb_box-title">
        <div class="sb_box-wz fr position">当前位置：<a href="/" title="植物油首页" target='_self'>植物油首页</a> &gt; 搜索 <strong class="fc_03c">{dede:global name='keyword' function='RemoveXSS(@me)'/}</strong> 的结果</div>
        <span></span> </h3>
    </div>
    <div class="clear"></div>
    <div class="active" id="searchlist">
      <ul>
        {dede:list perpage='20'}
        <li><span class='search_title'><a href='[field:arcurl/]' target='_blank'><em style="font-style:normal;">[field:title/]</a></span><span class='search_content'> [field:description/]...</span><span class='search_updatetime'>[field:pubdate function="MyDate('Y-m-d',@me)"/]</span></li>
        {/dede:list}
      </ul>
      <div id="flip">
        <div class='digg4 metpager_8'>{dede:pagelist listitem="info,index,end,pre,next,pageno,option" listsize="5"/}</div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
{dede:include filename="footer.htm"/}
</body></html>
