<div id="header">
	<div class="logo"><a href="/"><img src="{dede:global.cfg_templets_skin/}/images/201111041143532611.png" alt="" /></a></div>

	<div id="mnuMain" class="menu">
		<a id="lnk0" href="/" class="current none"><p><span>首  页</span></p></a>
{dede:channel type='top' row='10'}
<li class="mainlevel"><a href='[field:typeurl/]' [field:rel/]><p><span>[field:typename/]<p><span></a></li>
{/dede:channel}
	</div>
	<div class="banner"><img src="{dede:global.cfg_templets_skin/}/images/2011122817095673024.jpg" alt="{dede:global.cfg_webname/}" width='955' /></div>
</div>
