<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="applicable-device" content="pc" />
<meta name="location" content="province={dede:global.cfg_province/};city={dede:global.cfg_city/}" />
<title>{dede:global.cfg_webname/}</title>
<script language="JavaScript" type="text/javascript" src="/js/uadirect.js"></script>
<meta http-equiv="mobile-agent" content="format=html5;url={dede:global.cfg_waphost/}/" />
<meta name="mobile-agent" content="format=xhtml;url={dede:global.cfg_waphost/}" />
<meta name="description" content="{dede:global.cfg_description/}" />
<meta name="keywords" content="{dede:global.cfg_keywords/}" />
<link rel="stylesheet" type="text/css" href="{dede:global.cfg_templets_skin/}/images/style.css" />
<link rel="canonical" href="{dede:global.cfg_basehost/}">
</head>
<body>
<div id="wrapper">
{dede:include filename="head.htm"/}
<div id="main">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td id="ileft">
    <div class="title">产品分类<span>List</span></div>
    <div class="iproduct">
        <ul>
        {dede:channel type="top"}
        <li class=""><a href="[field:typeurl/]" title="[field:typename/]">[field:typename/]</a></li>
        {/dede:channel}
        </ul>
    </div>

    <div class="title">联系我们<span>Contact Us</span></div>
    <div class="icontact">
        <p>电　话: 0769-83979690</p>
        <p>传　真: 0769-83823890</p>
        <p>地　址: {dede:global.cfg_city/}市常平镇岗梓大埔工业区</p>
        <p>联系人: 黄先生  朱先生</p>
        <p>手　机：13826951468   13322619539</p>
        <p>网　站: {dede:global.cfg_basehost/}</p>
        <p>名　称: {dede:global.cfg_webname/} </p>
    </div>

    </td>
    <td id="iright">

    <div class="icompany">
    <div class="title5">{dede:global.cfg_indexname/}简介<span>Company</span></div>
    <div class="icompany_detail">
        <img src="{dede:global.cfg_templets_skin/}/images/2011122620575321401.jpg" alt="" id="imgAboutHome" width="200" height="150" onload="DrawImage(this,200,150)" />
{dede:global.cfg_about/}

        <h6 class="clear"></h6>
    </div>
    </div>

    <div class="title5">产品中心<span>Product</span></div>
        <div class="prob_list">
            <div class="prob_list">
             {dede:arclist row=10 orderby=pubdate type='image.' }
             <div class="cn"><h2><a href="[field:arcurl/]"><img src="[field:litpic/]" width="100" height="100" border="0" onload="DrawImage(this,100,100)"></a></h2><p><a href="[field:arcurl/]" title="[field:title/]">[field:title/]</a></p></div>
             {/dede:arclist}
            </div>
        </div>

        <div class="clear" style="line-height:1px; height:1px;"></div>



    <div class="inews">

    <div class="title4">公司新闻<span></span></div>

    <div class="inews_list">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        {dede:arclist row='5' orderby='pubdate'}
            <tr>
                <td><a href="[field:arcurl/]" title="[field:title/]">[field:title/]</a></td>
            </tr>
        {/dede:arclist}
    </table>
    </div>
    </div>
    <div class="inews1">
        <div class="title4"><a href="#">行业资讯</a><span></span></div>

        <div class="inews_list">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            {dede:arclist row='5' orderby='rand'}
            <tr>
                <td><a href="[field:arcurl/]" title="[field:title/]">[field:title/]</a></td>
            </tr>
            {/dede:arclist}
        </table>
        </div>
    </div>
    </td>
  </tr>
</table>
</div>


    <div class="clr"></div>
    <div class="ilink-title"><h2>友情链接 <span>Links</span></h2></div>
    <div class="ilink">
{dede:flink row='24'}[field:link/] {/dede:flink}
    </div>

<div class="clr"></div>
{dede:include filename="foot.htm"/}
</div>
</body>
</html>
