<div class="header layout">
<h2 class="logo"><a href="{dede:global.cfg_cmsurl/}/"><img src="{dede:global.cfg_templets_skin/}/images/logo.png" alt="{dede:global.cfg_titlelast/}"></a></h2>
<div class="addfav"><a id="addfavo" target="_self" href="javascript:window.external.AddFavorite('{dede:global.cfg_cmsurl/}/', 'comdark')">加入收藏</a><a href="http://wpa.qq.com/msgrd?v=3&uin=770799177&site=qq&menu=yes" target="_blank">在线咨询</a><a href="#">联系我们</a></div>
<div class="search_box">
	<form onSubmit="return checkSearchForm()" method="post" class="search_form" name="searchform" action="#">
	<input type="hidden" value="title" name="show">
	<input type="hidden" value="1" name="tempid">
	<input type="hidden" value="good" name="tbname">
	<label class="soicon"></label>
	<input type="text" name="keyboard" class="sinput" placeholder="输入产品关键词搜索" autofocus x-webkit-speech>
	<input type="submit" value="搜索" class="sbtn">
	<input name="mid" value="1" type="hidden">
	<input name="dopost" value="search" type="hidden">
	</form>
  </div>
</div>
<div class="nav">
  <div class="layout">
	<ul class="navul">
<li><a href="{dede:global.cfg_cmsurl/}/" class="hover">网站首页</a></li>
{dede:channel type='top' row='6'}
<li><a href="[field:typeurl/]" [field:rel/]>[field:typename/]</a></li>
{/dede:channel}
</ul>
</div>
</div>
