<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="applicable-device" content="pc" />
<meta name="location" content="province={dede:global.cfg_province/};city={dede:global.cfg_city/}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0,minimum-scale=1.0,maximum-scale=1.5">
<title>{dede:global.cfg_webname/}</title>
<script language="JavaScript" type="text/javascript" src="/js/uadirect.js"></script>
<meta http-equiv="mobile-agent" content="format=html5;url={dede:global.cfg_waphost/}/" />
<meta name="mobile-agent" content="format=xhtml;url={dede:global.cfg_waphost/}" />
<meta name="keywords" content="{dede:global.cfg_keywords/}" />
<meta name="description" content="{dede:global.cfg_description/}" />
<link rel="stylesheet" type="text/css" href="{dede:global.cfg_templets_skin/}/style/style.css">
<link rel="canonical" href="{dede:global.cfg_basehost/}">
</head>
<body>
{dede:include filename="head.htm"/}
<div class="focuswrap">
  <div class="focus">
    <div class="focuscon">
    <ul class="bigpic">
<li><a href="#"><img src="{dede:global.cfg_templets_skin/}/images/ban1.jpg" alt="焦点图说明文字，显示于图片的alt标签"></a> </li>
<li><a href="#"><img src="{dede:global.cfg_templets_skin/}/images/ban2.jpg" alt="焦点图二说明"></a> </li>
<li><a href="#"><img src="{dede:global.cfg_templets_skin/}/images/ban3.jpg" alt="焦点图说明文字，显示于图片的alt标签"></a> </li>
<li><a href="#"><img src="{dede:global.cfg_templets_skin/}/images/ban1.jpg" alt="焦点图二说明"></a> </li>
<li><a href="#"><img src="{dede:global.cfg_templets_skin/}/images/ban2.jpg" alt="焦点图三说明"></a> </li>   </ul>
    </div>
  </div>
</div>
<div class="layout main">
  <div class="mod cateul">
    <div class="modtit">
    <h3><a href="goods/index.htm">产品分类</a></h3></div>
    <div class="modcon">
    <ul class="modcate">
{dede:channel type='top' row='6'}
<li><a href="[field:typeurl/]" rel="nofollow">[field:typename/]</a></li>
{/dede:channel}
        </ul>
    </div>
  </div>
  <div class="mod about">
    <div class="modtit">
    <h3>{dede:global.cfg_indexname/}企业简介</h3>
    <span></span> </div>
    <div class="modcon"><p><a href="about/index.htm"><img alt="comdark" src="{dede:global.cfg_templets_skin/}/images/aboutindex.jpg" /></a></p>
<p><br />
<span style="font-family: Tahoma, Arial, 宋体, sans-serif; line-height: 24px; text-align: justify; text-indent: 24px;">{dede:global.cfg_about/}</span></p></div>
  </div>
  <div class="mod newslist">
    <div class="modtit">
    <h3>{dede:global.cfg_indexname/}新闻动态</h3>
    <span></span></div>
    <div class="modcon">
    <ul class="newsul">
 {dede:arclist row='8' orderby='pubdate'}
<li><a href="[field:arcurl/]">[field:title/]</a><span>[field:pubdate function="MyDate('m-d',@me)"/]</span></li>
{/dede:arclist}
    </ul>
    </div>
  </div>
  <div class="clear"></div>
  <div class="modtit">
    <h3>{dede:global.cfg_indexname/}产品展示</h3>
    <span></span> </div>
  <div class="anli">
    <ul class="anlicon">
{dede:arclist row='5' orderby='rand' type='image.'}
<li><div class="anlipic"><a href="[field:arcurl/]"><img src="[field:litpic/]" alt="[field:title/]"></a></div>
<p><a href="[field:arcurl/]" title="[field:title/]">[field:title/]</a></p></li>
{/dede:arclist}
</ul>
</div>
</div>
<div id="side">
        <ul class="ks-clear">
<li> <a href="tel:13922352985"><i class="iconfont iconfont1">&#xf0031;</i><span>拨打电话</span></a></li>
<li> <a href="sms:13922352985"><i class="iconfont iconfont1">&#x3569;</i><span>发送短信</span></a></li>
        </ul>
        </div>
<div class="layout"><p class="links">友情链接：
{dede:flink row='24'}[field:link/] {/dede:flink}
</p></div>
{dede:include filename="footer.htm"/}
</body>
</html>
