<!DOCTYPE html>
<html>
<head>
<meta name="applicable-device" content="pc">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0,minimum-scale=1.0,maximum-scale=1.5">
<title>{dede:field.title/}-{dede:global.cfg_titlelast/}</title>
<meta name="description" content="{dede:field name='description'  function='html2text(@me)'/}" />
<meta name="keywords" content="{dede:field name='keywords'/}"/>
<link href="{dede:global.cfg_templets_skin/}/style/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
{dede:include filename="head.htm"/}
<div class="adcen"><div class="adcen"><img src="{dede:global.cfg_templets_skin/}/images/global_top.jpg" border=0 width="980" height="203" alt="{dede:global.cfg_titlelast/}"></a></div></div>
<div class="layout main">
  <div class="listr">
    <div class="location"> 位置：{dede:field name='position'/}</div>
    <div class="newslist fnewslist">
    <ul class="newsul">
    {dede:list pagesize='20'}
<li><a href="[field:arcurl/]">[field:title/]</a><span>[field:pubdate function="GetDateTimeMK(@me)"/]</span></li>
{/dede:list}
    </ul>
    </div>
    <div class="page">{dede:pagelist listitem="info,index,end,pre,next,pageno,option" listsize="5"/}</div>
  </div>
  <div class="listl">
    <div class="mod cateul">
    <div class="modtit">
        <h3><a href="#">产品分类</a></h3></div>
    <div class="modcon">
        <ul class="modcate">
        {dede:channel type='top' row='6'}
<li><a href="[field:typeurl/]" rel="nofollow">[field:typename/]</a></li>
{/dede:channel}
</ul>
    </div>
    </div>
    <div class="mod callus">
    <div class="modtit">
        <h3><a href="#">联系我们</a></h3>
    </div>
    <div class="modcon">
    <p>联系人：王勤<br />
Q Q：123456789<br />
名称：{dede:field.seotitle /}<br />
邮箱：&nbsp;jjdsh@pub2.qz.fj.cn<br />
地址：广东 佛山 南海区狮山南海科技工业园A区</p> </div>
    </div>
  </div>
</div>
{dede:include filename="footer.htm"/}
</body>
</html>
