/*素材58（sucai58.com）找建站素材就上素材58*/
.FocusImg{position:relative;width:282px;height:198px;}445 264
.FocusImg img{border:none;}
.FocusImg .BigPic{text-align:center;float:left;width:282px;height:178px;}
.FocusImg .BigPic img{width:282px;height:178px;display:block;margin:0 auto;}
.FocusImg .TitleBg{width:282px;height:30px;position:absolute;top:178px;left:0;background:#d7d7d7;}
.FocusImg .TitleBox{width:282px;height:30px;position:absolute;top:178px;left:0;font: bold 14px/30px "宋体";color:#000;text-align:center;z-index:20;}
.FocusImg a:link,.FocusImg a:visited{color:#000;text-decoration:none;}
.FocusImg a:hover{color:;text-decoration:underline;}

/*小图片样式*/
/*.FocusImg .SmallPics{float:left;overflow:hidden;zoom:1;width:94px; height:264px; margin-left:11px;}
.FocusImg .SmallPics span{height:54px; display:block}
.FocusImg .SmallPics span img{width:94px;height:49px;filter:Alpha(Opacity=50);opacity:.5;}
.FocusImg .SmallPics span.selected img{filter:Alpha(Opacity=100);opacity:.5;}*/

/*小图片替换成数字的样式*/
.FocusImg .SmallPics{width:100px; height:16px; left:182px; top:159px;overflow:hidden;position:absolute;}
.FocusImg .SmallPics span{ width:15px;height:14px; margin-left:2px; display:block;float:left;background-color:#000;z-index:20; border:#000000 solid 1px;filter:Alpha(Opacity=60);opacity:.5;}
.FocusImg .SmallPics span a{font:bold 10px/14px "Helvetica";color:#fff;}
.FocusImg .SmallPics span.selected { width:15px;height:14px; margin-left:2px; display:block;float:left;background-color:#000;border:#0066FF solid 1px;}
.FocusImg .SmallPics span.selected a{font: bold 10px/14px "Helvetica";color:#fff;}
