<div class="dQmenu">
{dede:channelartlist typeid="7,7"}
{dede:channel type='son' noself='yes'}
<a href="[field:typelink/]" target="_blank" class="a1" title="[field:typename/]">[field:typename/]</a>
{/dede:channel}
{/dede:channelartlist}
<ul class="clear">
<li>{dede:arclist typeid='8' row='4' orderby='pubdate'}<a href="[field:arcurl /]" title="[field:title /]" rel="nofollow" target="_blank">[field:title /]</a>{/dede:arclist}</li>
<li>{dede:arclist typeid='9' row='4' orderby='pubdate'}<a href="[field:arcurl /]" title="[field:title /]" rel="nofollow" target="_blank">[field:title /]</a>{/dede:arclist}</li>
<li>{dede:arclist typeid='10' row='4' orderby='pubdate'}<a href="[field:arcurl /]" title="[field:title /]" rel="nofollow" target="_blank">[field:title /]</a>{/dede:arclist}</li>
<li>{dede:arclist typeid='11' row='4' orderby='pubdate'}<a href="[field:arcurl /]" title="[field:title /]" rel="nofollow" target="_blank">[field:title /]</a>{/dede:arclist}</li>
<li>{dede:arclist typeid='12' row='4' orderby='pubdate'}<a href="[field:arcurl /]" title="[field:title /]" rel="nofollow" target="_blank">[field:title /]</a>{/dede:arclist}</li>
<li>{dede:arclist typeid='13' row='4' orderby='pubdate'}<a href="[field:arcurl /]" title="[field:title /]" rel="nofollow" target="_blank">[field:title /]</a>{/dede:arclist}</li>
<li>{dede:arclist typeid='14' row='4' orderby='pubdate'}<a href="[field:arcurl /]" title="[field:title /]" rel="nofollow" target="_blank">[field:title /]</a>{/dede:arclist}</li>
<li>{dede:arclist typeid='15' row='4' orderby='pubdate'}<a href="[field:arcurl /]" title="[field:title /]" rel="nofollow" target="_blank">[field:title /]</a>{/dede:arclist}</li>
</ul>
</div>
