<div id="top"></div>
<div id="logomenu"><a href="{dede:global.cfg_basehost/}/" target="_blank" id="logo" title="{dede:global.cfg_indexname/}">{dede:global.cfg_indexname/}</a>
<div id="search">
<form action="http://www.baidu.com/s" name="formsearch" target="_blank">
<input type="text" class="inpTxts" value="广州代孕" name="wd" id="wd" />
<input type="hidden" name="si" value="{dede:global.cfg_basehost/}" />
<input type="hidden" name="tn" value="myie2" />
<input type="submit" class="inpButs" value="搜索" />
<span class="sTxt">热门：<a href="/data/sitemap.htm" target="_blank">map</a> {dede:arclist orderby='hot' row='1'}<a href="[field:arcurl /]" target="_blank">[field:title /]</a> {/dede:arclist}</span>
</form>
</div>
<div id="menu">
<a href="{dede:global.cfg_cmsurl/}/" title="{dede:global.cfg_indexname/}">首页</a> | {dede:channelartlist typeid='top'}<a href="{dede:field name='typeurl'/}" title="{dede:field name='typename'/}">{dede:field name='typename'/}</a> | {/dede:channelartlist}
</div>
</div>
