@charset "utf-8";

/* CSS Document */

html,
body {
    margin: 0px;
    padding: 0px;
    font-family: "宋体", arial;
    font-size: 12px;
    line-height: 24px;
    background: url(body_bg.jpg)/*tpa=http://www.itviv.com/duola/body_bg.jpg*/ repeat-x top #f6e2ff;
    color: #6b6b6b;
}

textarea {
    font-size: 12px;
}

ul,
ol,
form,
li,
dl,
dt,
dd,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

ul {
    list-style: none;
}


/*命名：大的范围，不准使用关键字，如 .title .box .page */

.fclear {
    clear: both;
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}

.left {
    float: left;
}

.right {
    float: right;
}

.blank2 {
    clear: both;
    height: 2px;
    overflow: hidden;
}

.blank3 {
    clear: both;
    height: 3px;
    overflow: hidden;
}

.blank4 {
    clear: both;
    height: 4px;
    overflow: hidden;
}

.blank5 {
    clear: both;
    height: 5px;
    overflow: hidden;
}

.blank6 {
    clear: both;
    height: 6px;
    overflow: hidden;
}

.blank7 {
    clear: both;
    height: 7px;
    overflow: hidden;
}

.blank8 {
    clear: both;
    height: 8px;
    overflow: hidden;
}

.blank10 {
    clear: both;
    height: 10px;
    overflow: hidden;
}

.blank12 {
    clear: both;
    height: 12px;
    overflow: hidden;
}

.blank15 {
    clear: both;
    height: 15px;
    overflow: hidden;
}

.blank20 {
    clear: both;
    height: 20px;
    overflow: hidden;
}

.blank30 {
    clear: both;
    height: 30px;
    overflow: hidden;
}

.tac {
    text-align: center;
}

.tal {
    text-align: left;
}

.tar {
    text-align: right;
}

.fs14 {
    font-size: 14px;
}

.fs16 {
    font-size: 16px;
}

.fs18 {
    font-size: 18px;
}

.fs22 {
    font-size: 22px;
}

.fs24 {
    font-size: 24px;
}

.fs30 {
    font-size: 30px;
}

.fwb {
    font-weight: bold;
}

.pr {
    position: relative;
}

.pa {
    position: absolute;
}

.heiti {
    font-family: "黑体";
}

.yahei {
    font-family: "Microsoft Yahei";
}

.lineheight26 {
    line-height: 26px;
}

.lineheight28 {
    line-height: 28px;
}

.blue {
    color: #7e379d;
}

.green {
    color: #00bbb4;
}

.white {
    color: #fff;
}

.huise {
    color: #333;
}


/*-------------------------------------------链接----------------------------------------*/

a {
    text-decoration: none;
    color: #6b6b6b;
}

a:hover {
    text-decoration: none;
    color: #7e379d;
}

a.white_font:link,
a.white_font:visited {
    color: #fff;
}

a.white_font:hover,
a.white_font:active {
    color: #fff;
}


/*-------------------------------------------主要结构----------------------------------------*/

.index_box {
    width: 980px;
    margin: 0px auto;
}

.content_left {
    width: 240px;
}

.top_box {
    height: 90px;
}

.top_box h1 {
    font-weight: normal;
    line-height: 90px;
    float: left;
    font-size: 24px;
    height: 90px;
}

.top_box a {
    color: #fff;
    overflow: hidden;
}

.top_box .wz_box {
    width: 340px;
    color: #fff;
}

.top_box .wz_box p {
    text-align: right;
    font-size: 16px;
    line-height: 34px;
}

.top_box .wz_box p span.tel {
    font-size: 20px;
}

.top_box .wz_box p.wz_1 {
    margin-top: 0px;
    font-size: 12px;
}

.nav_box {
    width: 100%;
    height: 45px;
    line-height: 45px;
    background: #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.nav_box ul {
    padding-left: 5px;
    padding-top: 5px;
}

.nav_box ul li {
    float: left;
    font-size: 16px;
}

.nav_box ul li a {
    color: #333;
    display: inline-block;
    padding: 5px 22px;
    line-height: 35px;
}

.nav_box ul li a:hover {
    background: url(hover.jpg)/*tpa=http://www.itviv.com/duola/hover.jpg*/ repeat-x;
    color: #6d2b73;
    line-height: 35px;
}

.nav_box ul li.currclass a {
    background: url(hover.jpg)/*tpa=http://www.itviv.com/duola/hover.jpg*/ repeat-x;
    color: #6d2b73;
    line-height: 35px;
}

.banner {
    width: 980px;
    background: #fff;
    border-radius: 5px;
}

.banner img {
    width: 100%;
}

.mainbody {
    width: 980px;
    background: #fff;
    padding: 10px 0;
    margin: 0 auto;
}

.newul {
    width: 317px;
    float: left;
    display: inline;
    border: 1px solid #ccc;
    height: 248px;
    margin-top: 10px;
    margin-left: 10px;
}

.newul h1 {
    background: url(h1bg.jpg)/*tpa=http://www.itviv.com/duola/h1bg.jpg*/ repeat-x;
    height: 36px;
    line-height: 36px;
    color: #333;
    font-size: 14px;
}

.newul h1 span {
    margin-left: 10px;
}

.newul ul li {
    height: 26px;
    line-height: 26px;
    width: 260px;
    overflow: hidden;
    padding-left: 10px;
    margin-left: 10px;
}

.indexcon_box {
    border: 1px solid #ddd;
    background: #fff;
    width: 314px;
    margin: 0 5px;
    float: left;
}

.indexcon_box .title {
    line-height: 39px;
    background: url(title_bg.jpg)/*tpa=http://www.itviv.com/duola/title_bg.jpg*/ repeat-x;
    padding: 0px 9px;
    color: #7e379d;
}

.indexcon_box .title a {
    color: #fff;
}

.indexcon_box .about_box {
    padding: 10px;
}

.indexcon_box .about_box p {
    margin-top: 5px;
    margin-left: 194px;
    font-size: 14px;
    line-height: 26px;
}

.indexcon_box .news_list {
    padding: 4px 13px;
}

.indexcon_box .news_list li {
    line-height: 32px;
    background: url(ic_1.png)/*tpa=http://www.itviv.com/duola/ic_1.png*/ no-repeat left;
    padding-left: 14px;
    border-bottom: 1px dashed #ddd;
}

.con_box2 {
    border: 1px solid #ddd;
    background: #fff;
    float: right;
    margin-right: 10px;
}

.con_box2 .title {
    line-height: 39px;
    background: url(title_bg.jpg)/*tpa=http://www.itviv.com/duola/title_bg.jpg*/ repeat-x;
    padding: 0px 9px;
    color: #7e379d;
}

.con_box2 .title a {
    color: #fff;
}

.con_box2 .about_box {
    padding: 10px;
}

.con_box2 .about_box p {
    margin-top: 5px;
    margin-left: 194px;
    font-size: 14px;
    line-height: 26px;
}

.con_box2 .news_list {
    padding: 4px 13px;
}

.con_box2 .news_list li {
    line-height: 32px;
    background: url(ic_1.png)/*tpa=http://www.itviv.com/duola/ic_1.png*/ no-repeat left;
    padding-left: 14px;
    border-bottom: 1px dashed #ddd;
}

.con_box {
    border: 1px solid #ddd;
    background: #fff;
}

.con_box .title {
    line-height: 39px;
    background: url(title_bg.jpg)/*tpa=http://www.itviv.com/duola/title_bg.jpg*/ repeat-x;
    padding: 0px 9px;
    color: #7e379d;
}

.con_box .title a {
    color: #fff;
}

.con_box .about_box {
    padding: 10px;
}

.con_box .about_box p {
    margin-top: 5px;
    margin-left: 194px;
    font-size: 14px;
    line-height: 26px;
}

.con_box .news_list {
    padding: 4px 13px;
}

.con_box .news_list li {
    line-height: 32px;
    background: url(ic_1.png)/*tpa=http://www.itviv.com/duola/ic_1.png*/ no-repeat left;
    padding-left: 14px;
    border-bottom: 1px dashed #ddd;
}

.con_boxjg {
    border: 1px solid #ddd;
    background: #fff;
    width: 314px;
    margin: 0 5px;
    float: left;
}

.con_boxjg .title {
    line-height: 39px;
    background: url(title_bg.jpg)/*tpa=http://www.itviv.com/duola/title_bg.jpg*/ repeat-x;
    padding: 0px 9px;
    color: #7e379d;
}

.con_boxjg .title a {
    color: #fff;
}

.con_boxjg .contact_box {
    padding: 8px 10px;
    line-height: 24px;
}

.con_boxjg .contact_box li {
    line-height: 27px;
    background: url(blue_arrow.gif)/*tpa=http://www.itviv.com/duola/blue_arrow.gif*/ no-repeat left;
    padding-left: 14px;
    border-bottom: 1px dashed #ddd;
    list-style: none;
}

.indexcon_box .contact_box {
    padding: 8px 10px;
    line-height: 24px;
}

.indexcon_box .product_list dl {
    width: 168px;
    float: left;
    margin: 14px 13px;
    display: inline;
}

.indexcon_box .product_list dl dt {
    width: 160px;
    padding: 3px;
    border: 1px solid #D4D4D4;
    margin-bottom: 3px;
}

.indexcon_box .product_list dl dt img {
    vertical-align: middle;
    overflow: hidden;
    line-height: 0px;
}

.indexcon_box .product_list dl dd {
    width: 168px;
    float: left;
    text-align: center;
}

.con_box .contact_box {
    padding: 8px 10px;
    line-height: 24px;
}

.con_box .product_list dl {
    width: 168px;
    float: left;
    margin: 14px 13px;
    display: inline;
}

.con_box .product_list dl dt {
    width: 160px;
    padding: 3px;
    border: 1px solid #D4D4D4;
    margin-bottom: 3px;
}

.con_box .product_list dl dt img {
    vertical-align: middle;
    overflow: hidden;
    line-height: 0px;
}

.con_box .product_list dl dd {
    width: 168px;
    float: left;
    text-align: center;
}

.indexw_1 {
    width: 235px;
}

.indexw_2 {
    width: 720px;
}

.w_1 {
    width: 244px;
}

.w_2 {
    width: 720px;
}

.w_3 {
    width: 978px;
}

.w_4 {
    width: 228px;
}

.indexcon_box .b_bg {
    color: #fff;
    background: url(ic_title.jpg)/*tpa=http://www.itviv.com/duola/ic_title.jpg*/ no-repeat 8px 14px #7e379d;
    padding-left: 25px;
}

.con_box .b_bg {
    color: #fff;
    background: url(ic_title.jpg)/*tpa=http://www.itviv.com/duola/ic_title.jpg*/ no-repeat 8px 14px #7e379d;
    padding-left: 25px;
}


/*二级页面*/

.con_box .news_1 {
    padding: 7px 13px;
}

.con_box .news_1 li {
    line-height: 32px;
    background: url(ic_1.png)/*tpa=http://www.itviv.com/duola/ic_1.png*/ no-repeat left;
    padding-left: 14px;
    border-bottom: 1px dashed #ddd;
    height: 32px;
    overflow: hidden;
}

.content_box {
    width: 700px;
    background: #fff;
    padding: 10px;
}

.content_box .title {
    border-bottom: 2px solid #7e379d;
    line-height: 32px;
    padding: 0px 10px;
    padding-bottom: 6px;
}

.content_box .news_box {
    padding: 8px 0px;
}

.content_box .news_box li {
    line-height: 38px;
    border-bottom: 1px dashed #ddd;
    padding: 0px 6px;
}

.content_box .product_list {
    padding: 15px 0px;
}

.content_box .product_list dl {
    width: 168px;
    float: left;
    margin: 7px 3px;
    display: inline;
}

.content_box .product_list dl dt {
    width: 160px;
    padding: 3px;
    border: 1px solid #D4D4D4;
    margin-bottom: 3px;
}

.content_box .product_list dl dt img {
    vertical-align: middle;
    overflow: hidden;
    line-height: 0px;
}

.content_box .product_list dl dd {
    width: 168px;
    float: left;
    text-align: center;
}

.content_box .about_con {
    padding-top: 20px;
}

.content_box .about_con p {
    text-indent: 2em;
    margin: 15px 0px;
}

.content_box .contact_con {
    padding: 15px;
    font-size: 16px;
    line-height: 34px;
}

.con_list_box {
    padding: 15px 0px;
}

.news_detail {
    padding: 6px 10px;
}

.news_detail h2 {
    text-align: center;
    font-family: "Microsoft Yahei";
    font-size: 20px;
}

.news_detail .mx {
    border: 1px solid #e8e8e8;
    background: #f7f7f7;
    margin: 10px 0px;
    padding: 4px 10px;
}

.news_detail .con p {
    margin: 10px 0px;
    text-indent: 2em;
}

.news_more {
    border-top: 1px solid #cfcfcf;
    padding-top: 4px;
}

.news_more .news_m {
    width: 340px;
}

.news_more .news_m .fs16 {
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 5px;
    margin-bottom: 6px;
}

.news_more .news_m ul li {
    line-height: 28px;
}

.fx {
    height: 25px;
    padding-left: 240px;
    padding-top: 10px;
}

.page {
    margin: 5px 0px 10px 0px;
}

.page a {
    margin: 0px 2px;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 0px 10px;
}

.page a:hover {
    border: 1px solid #7e379d;
    background: #7e379d;
    color: #fff;
}

.page a.current {
    border: 1px solid #7e379d;
    background: #7e379d;
    color: #fff;
}


/*bottom*/

.links {
    line-height: 39px;
    height: 39px;
}

.linktitle {
    line-height: 39px;
    height: 39px;
    background: url(title_bg.jpg)/*tpa=http://www.itviv.com/duola/title_bg.jpg*/ repeat-x;
    border: 1px solid #ddd;
    margin: 0 5px;
}

.links span.name {
    color: #7e379d;
    display: inline-block;
    padding: 0px 10px;
    float: left;
}

.links .l_a {
    width: 880px;
    height: 39px;
    overflow: hidden;
}

.links a {
    margin: 0px 4px;
}

.footer {
    padding: 15px 0px;
    background: #7e379d;
    color: #fff;
}

.footer a {
    color: #fff;
    margin: 0px 4px;
}

.youshi {
    width: 980px;
    margin: 10px auto;
    color: #722e79;
    line-height: 22px;
}

.youshi .title {
    background: url(youshi.jpg)/*tpa=http://www.itviv.com/duola/youshi.jpg*/ no-repeat;
    height: 40px;
    line-height: 40px;
}

.youshi ul li {
    background: url(youbg.jpg)/*tpa=http://www.itviv.com/duola/youbg.jpg*/ no-repeat;
    width: 198px;
    height: 166px;
    padding: 10px;
    float: left;
    display: inline;
    margin: 10px 13px;
}

.youshi ul li img {
    width: 195px;
    height: 68px;
}

.youshi .yh1 {
    font-size: 16px;
    height: 32px;
    line-height: 32px;
    color: #722e79;
    font-weight: bold;
}

.news2 {}

.news2 li {
    width: 100%;
    overflow: hidden;
    clear: both;
    padding: 12px 0px;
    border-bottom: 1px solid #EEE;
    color: #aaa;
}

.news2 li b a {
    color: #555;
}

.news2 li a.preview {
    width: 84px;
    float: left;
    margin-right: 7px;
    margin-bottom: 3px;
    margin-left: 10px;
    display: inline;
}

.news2 li a.preview img {
    width: 80px;
    /*height:60px;*/
    display: block;
    padding: 1px;
    border: 1px solid #EEE;
}

.news2 li a.preview:hover img {
    border: 1px solid #AAA;
}

.news2 li a.title {
    overflow: hidden;
    line-height: 25px;
    font-weight: bold;
    font-size: 14px;
    border-bottom: 0px solid #7e379d;
    padding-left: 10px;
}

.news2 span.info {
    display: block;
    line-height: 23px;
    color: #555;
    padding-right: 12px;
    float: right;
}

.news2 span.info small {
    color: #AAA;
    font-size: 12px;
    margin-left: 3px;
}

.news2 span.info a {
    color: #690;
}

.news2 p.intro {
    color: #776955;
    line-height: 20px;
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.news6 {
    width: 100%;
    overflow: hidden;
    padding-bottom: 6px;
    clear: both;
    display: inherit;
}

.news6 li {
    float: left;
    margin: 5px 0 1px 20px;
    display: inline;
}

.news6 li a {
    width: 190px;
    padding-left: 20px;
    height: 32px;
    line-height: 32px;
    display: block;
    background: url(green_skin.png)/*tpa=http://www.itviv.com/duola/green_skin.png*/ -42px -217px no-repeat;
    color: #333333;
}

.news6 li a:hover {
    text-decoration: none;
    color: #6d2b73;
}

.news6 li a.thisclass {
    background: url(green_skin.png)/*tpa=http://www.itviv.com/duola/green_skin.png*/ -42px -248px no-repeat;
}

.news6 li.currclass a {
    background: url(green_skin.png)/*tpa=http://www.itviv.com/duola/green_skin.png*/ -42px -248px no-repeat;
    color: #6d2b73;
}

.content_box .content {
    font-size: 14px;
    padding: 12px 16px;
    line-height: 25px;
    color: #333;
}


/*---------- viewbox ---------*/

.viewbox {
    width: 712px;
    overflow: hidden;
    padding-bottom: 8px;
}

.viewbox .title {
    height: 56px;
    line-height: 56px;
    text-align: center;
    overflow: hidden;
    padding-top: 10px;
    border-bottom: 0px solid #7e379d;
}

.viewbox .title h2 {
    font-size: 24px;
    color: #2b2b2b;
}

.viewbox .info {
    height: 24px;
    line-height: 17px;
    text-align: center;
    overflow: hidden;
    color: #666;
}

.viewbox .info small {
    margin-left: 8px;
    margin-right: 3px;
    color: #999;
    font-size: 12px;
}

.viewbox .info a {
    color: #690;
}

.viewbox .intro {
    width: 90%;
    padding: 8px 16px;
    line-height: 24px;
    background: #f5fcee;
    border: 1px solid #DCDDDD;
    font-size: 14px;
    color: #706A6A;
    margin: 8px auto 0 auto;
}

.viewbox .infolist {
    width: 368px;
    float: left;
}

.viewbox .infolist small {
    width: 100px;
    text-align: right;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 31px;
    color: #999;
    clear: left;
    height: 31px;
    overflow: hidden;
}

.viewbox .infolist span {
    width: 200px;
    line-height: 30px;
    float: left;
    height: 31px;
    overflow: hidden;
}

.viewbox .picview {
    width: 320px;
    float: right;
    padding-right: 24px;
    padding-top: 16px;
}

.viewbox .labeltitle {
    height: 23px;
    background: url(view-labeltitle-bg.gif)/*tpa=http://www.itviv.com/duola/view-labeltitle-bg.gif*/ left 10px repeat-x;
    clear: both;
    overflow: hidden;
    margin: 0px auto 0px;
    padding-top: 10px;
}

.viewbox .labeltitle strong {
    width: 80px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    color: #FFF;
    letter-spacing: 1px;
    display: block;
    float: left;
    background: url(view-labeltitle-bg.gif)/*tpa=http://www.itviv.com/duola/view-labeltitle-bg.gif*/ left -44px no-repeat;
    overflow: hidden;
}

.viewbox .content {
    font-size: 14px;
    padding: 12px 16px;
    line-height: 25px;
    color: #333;
}

.viewbox .dede_pages {
    width: 712px;
    float: none;
    overflow: hidden;
    text-align: center;
}

.viewbox .dede_pages ul {
    margin: 0px auto;
    float: none;
    clear: both;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
}

.viewbox .dede_pages ul li,
.viewbox .dede_pages ul li a {
    float: none;
    display: inline;
}

.viewbox .boxoff {
    height: 10px;
    overflow: hidden;
    clear: both;
    background: url(boxoff.gif)/*tpa=http://www.itviv.com/duola/boxoff.gif*/ left 15px repeat-x;
    margin: 4px auto;
    padding-top: 10px;
}

.viewbox .boxoff strong {
    display: block;
    width: 8px;
    height: 10px;
    overflow: hidden;
    font-size: 0px;
    line-height: 100px;
    background: url(boxoff.gif)/*tpa=http://www.itviv.com/duola/boxoff.gif*/ right -10px no-repeat;
    float: left;
}

.viewbox .newdigg {
    width: 406px;
    height: 51px;
    margin: 8px auto;
    clear: both;
    overflow: hidden;
    padding-left: 8px;
}

.viewbox .diggbox {
    width: 195px;
    height: 51px;
    float: left;
    margin-right: 8px;
    overflow: hidden;
    cursor: pointer;
}

.viewbox .diggbox .digg_act {
    font-size: 14px;
    float: left;
    line-height: 31px;
    text-indent: 32px;
    height: 29px;
    overflow: hidden;
    font-weight: bold;
}

.viewbox .diggbox .digg_num {
    float: left;
    line-height: 29px;
    text-indent: 5px;
}

.viewbox .diggbox .digg_percent {
    width: 180px;
    clear: both;
    padding-left: 10px;
    overflow: hidden;
}

.viewbox .diggbox .digg_percent .digg_percent_bar {
    width: 100px;
    height: 7px;
    background: #E8E8E8;
    border-right: 1px solid #CCC;
    float: left;
    overflow: hidden;
    margin-top: 3px;
}

.viewbox .diggbox .digg_percent .digg_percent_num {
    font-size: 10px;
    float: left;
    padding-left: 10px;
}

.viewbox .diggbox .digg_percent .digg_percent_bar span {
    display: block;
    height: 5px;
    overflow: hidden;
    background: #000;
}

.viewbox .newdigg .digg_good {
    background: url(newdigg-bg.png)/*tpa=http://www.itviv.com/duola/newdigg-bg.png*/ left top no-repeat;
}

.viewbox .newdigg .digg_bad {
    background: url(newdigg-bg.png)/*tpa=http://www.itviv.com/duola/newdigg-bg.png*/ right top no-repeat;
}

.viewbox .newdigg .digg_good .digg_act {
    color: #C30;
}

.viewbox .newdigg .digg_good .digg_num {
    color: #C63;
}

.viewbox .newdigg .digg_bad .digg_act {
    color: #36C;
}

.viewbox .newdigg .digg_bad .digg_num {
    color: #39C;
}

.viewbox .newdigg .digg_good .digg_percent .digg_percent_bar span {
    border: 1px solid #E37F24;
    background: #FFC535;
}

.viewbox .newdigg .digg_bad .digg_percent .digg_percent_bar span {
    border: 1px solid #689ACC;
    background: #94C0E4;
}

.viewbox .handle {
    height: 59px;
    padding-top: 12px;
    overflow: hidden;
    clear: both;
}

.viewbox .handle .digg {
    width: 59px;
    height: 59px;
    float: left;
    background: url(digg-bg.gif)/*tpa=http://www.itviv.com/duola/digg-bg.gif*/ no-repeat;
    margin-right: 12px;
}

.viewbox .handle .digg .digg_num {
    width: 56px;
    height: 34px;
    font-size: 20px;
    text-align: center;
    line-height: 34px;
    overflow: hidden;
    color: #6B9169;
}

.viewbox .handle .digg .digg_act {
    width: 56px;
    height: 22px;
    line-height: 23px;
    overflow: hidden;
}

.viewbox .handle .digg .digg_act a {
    margin-left: 11px;
    color: #666;
    float: left;
}

.viewbox .handle .context {
    float: left;
}

.viewbox .handle .context ul li {
    line-height: 29px;
    color: #888;
}

.viewbox .actbox {
    width: 260px;
    text-align: center;
    float: right;
    padding-top: 20px;
    padding-right: 10px;
}

.viewbox .actbox ul li {
    display: inline;
    padding-left: 22px;
    background-image: url(actbox-ico.gif)/*tpa=http://www.itviv.com/duola/actbox-ico.gif*/;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.viewbox .actbox ul li a {
    color: #666;
}

.viewbox .actbox ul li#act-fav {
    background-position: 4px 0px;
}

.viewbox .actbox ul li#act-err {
    background-position: 4px -37px;
}

.viewbox .actbox ul li#act-pus {
    background-position: 4px -73px;
}

.viewbox .actbox ul li#act-pnt {
    background-position: 4px -109px;
}

.viewbox .downurllist {
    width: 100%;
    clear: both;
    overflow: hidden;
}

.viewbox .downurllist li {
    height: 27px;
    background: url(downurl-bg.gif)/*tpa=http://www.itviv.com/duola/downurl-bg.gif*/ right top no-repeat;
    padding-right: 4px;
    float: left;
    margin-right: 10px;
    overflow: hidden;
    margin-top: 10px;
}

.viewbox .downurllist li a {
    height: 27px;
    background: url(downurl-bg.gif)/*tpa=http://www.itviv.com/duola/downurl-bg.gif*/ left top no-repeat;
    display: block;
    font-size: 12px;
    color: #555;
    text-indent: 30px;
    line-height: 27px;
    float: left;
    padding-right: 5px;
}

.viewbox .downurllist li a:hover {
    color: #F63;
    text-decoration: none;
}

.viewbox .picbox {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
    line-height: 31px;
    overflow: hidden;
}

.viewbox .picbox img {
    display: block;
    margin: 16px auto 6px;
}

.viewbox .picbox ul.e8 {
    font-size: 12px;
    line-height: normal;
}

.viewbox .picbox ul.e8 li .pic {
    background: none;
    border: 1px solid #EEE;
    overflow: hidden;
}

.viewbox .picbox ul.e8 img {
    margin: 3px;
    border: none;
}

.viewbox .picbox ul.e8 li .title {
    padding-top: 0px;
}


/*文章分页样式*/

#fenye {
    clear: both;
    margin: 10px 20px 0 0;
}

#fenye a {
    text-decoration: none;
    display: inline;
    border-radius: 3px;
    line-height: 25px;
}

#fenye .prev,
#fenye .next {
    width: 52px;
    text-align: center;
    line-height: 25px;
}

#fenye a.curr {
    width: 22px;
    background: #7e379d;
    border: 1px solid #7e379d;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

#fenye a.curr:visited {
    color: #fff;
}

#fenye a {
    color: #333333;
    background: #fff;
    margin: 0px 5px;
    border: 1px solid #dcdddd;
    float: left;
    text-align: center;
    height: 22px;
    line-height: 22px
}

#fenye a.num {
    width: 22px;
}

#fenye a:visited {
    color: #1f3a87;
}

#fenye a:hover {
    float: left;
    background: #7e379d;
    color: #fff;
}

#fenye span {
    line-height: 30px;
    font-size: 13px;
    height: 30px;
}
