<div class="mt">
  <div class="mt_l"><img src="{dede:global.cfg_templets_skin/}/skin/images/logo.jpg" alt="{dede:global.cfg_webname/}"></div>
  <div class="mt_r">
	<div class="mt_rt"><img src="{dede:global.cfg_templets_skin/}/skin/images/inner.jpg"> <a onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('/');"
			href="javascript:void(0)">设为首页</a> <img src="{dede:global.cfg_templets_skin/}/skin/images/inner.jpg"> <A href="javascript:window.external.AddFavorite('/', '{dede:global.cfg_webname/}')">加入收藏</a></div>
	<div class="mt_rm"><img src="{dede:global.cfg_templets_skin/}/skin/images/phone.jpg" alt="联系电话"></div>
  </div>
  <div class="clear"></div>
</div>
<div class="nav">
  <div class="menu">
	<ul>
	<li><a href="/" style="background:url({dede:global.cfg_templets_skin/}/skin/images/hover.gif) repeat-x; color:#fff;">网站首页</a></li>
	{dede:channel type ='top' currentstyle="
	<li><a href='~typelink~' class='thisclass'>~typename~</a> </li>
	"}
	<li><a href="[field:typeurl/]">[field:typename/]</a></li>
	{/dede:channel}
	</ul>
  </div>
</div>
<!-- banner代码 开始 -->
<div id="full-screen-slider">
  <ul id="slides">
	<li style="background:url({dede:global.cfg_templets_skin/}/skin/images/20131227030805_64349.jpg) no-repeat center top"></li>
	<li style="background:url({dede:global.cfg_templets_skin/}/skin/images/20131227022520_36858.jpg) no-repeat center top"></li>
  </ul>
</div>
<!--banner代码 结束 -->
