<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="applicable-device" content="pc" />
<meta name="location" content="province={dede:global.cfg_province/};city={dede:global.cfg_city/}" />
<title>{dede:global.cfg_webname/}</title>
<script language="JavaScript" type="text/javascript" src="/js/uadirect.js"></script>
<meta http-equiv="mobile-agent" content="format=html5;url={dede:global.cfg_waphost/}/" />
<meta name="mobile-agent" content="format=xhtml;url={dede:global.cfg_waphost/}" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<meta name="keywords" content="{dede:global.cfg_keywords/}">
<meta name="description" content="{dede:global.cfg_description/}">
<link href="{dede:global.cfg_templets_skin/}/css/fengyuan.css" rel="stylesheet" type="text/css" />
<link href="{dede:global.cfg_templets_skin/}/SpryAssets/SpryMenuBarHorizontal.css" rel="stylesheet" type="text/css" />
<link href="{dede:global.cfg_templets_skin/}/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<link rel="canonical" href="{dede:global.cfg_basehost/}">
</head>

<body>
<div class="sun"></div>
<div class="banner">
<div class="top">
   <div class="logo"><img src="{dede:global.cfg_templets_skin/}/images/logo.png" alt="{dede:global name='cfg_webname'/}" width="250" height="120" /></div>
    {dede:include filename="head.htm"/}
    </div><!--top结束-->
</div><!--banner结束-->

<div class="w1000">
    <div class="news">
        <div class="TabbedPanels">
            <ul class="TabbedPanelsTabGroup">
                <li class="TabbedPanelsTab">最新动态</li>
            </ul>
        <div class="TabbedPanelsContentGroup">
            <div class="TabbedPanelsContent">
            {dede:arclist titlelen='60' row='12'}
                <li><a href="[field:arcurl /]">[field:title /]</a><span>[[field:pubdate function='strftime("%Y-%m-%d",@me)'/]]</span></li>
            {/dede:arclist}
            </div>
            </div>
        </div>
    </div>
    <div class="about">
    <div class="title"><b>{dede:global.cfg_indexname/}简介</b><em>ABOUT US</em><img src="{dede:global.cfg_templets_skin/}/images/icon_more.png" border="0" /></div>
<p><img style="float:left; margin-right: 10px;"  src="{dede:global.cfg_templets_skin/}/images/about.jpg" border="0" width="300" height="219" /></p>
{dede:global.cfg_about/}
    </div>
</div>

<div class="footer">
    <div class="foot">
<table width="100%" border="0">
  <tr>
    <td valign="middle">
<p><b>友情链接：</b>{dede:flink row='24'}[field:link/]{/dede:flink}</p>
<h6>{dede:global name='cfg_webname'/} </h6>
<span>版权所有：{dede:global name='cfg_beian'/} |  全国免费电话：13922352985 地址：{dede:global.cfg_basehost/}</span>    </td>
  </tr>
</table>
    </div>
</div>
</body>
</html>
