<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{dede:field.title/}_{dede:global.cfg_titlelast/}</title>
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<meta name="keywords" content="{dede:field name='keywords'/}">
<meta name="description" content="{dede:field name='description' function='html2text(@me)'/}">
<link href="{dede:global.cfg_templets_skin/}/css/fengyuan.css" rel="stylesheet" type="text/css" />
<link href="{dede:global.cfg_templets_skin/}/SpryAssets/SpryMenuBarHorizontal.css" rel="stylesheet" type="text/css" />
<link href="{dede:global.cfg_templets_skin/}/SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<link rel="canonical" href="{dede:type typeid='0' row=1}[field:typelink /]{/dede:type}">
</head>

<body>
<div class="sunlist"></div>
<div class="bannerlist">
<div class="top">
   <div class="logo"><img src="{dede:global.cfg_templets_skin/}/images/logo.png" alt="{dede:global name='cfg_webname'/}" width="250" height="120" /></div>
	{dede:include filename="head.htm"/}
  </div><!--top结束-->
</div><!--banner结束-->

<div class="w1000list">
    <table width="100%" border="0">
      <tr>
        <td valign="top"><div class="left">
        	<ul class="leftnav">
            	<dt class="ttop">{dede:field name='typename'/}</dt>
                {dede:channel type='top'}
                    <li><a href="[field:typelink/]">[field:typename/]<span>[field:description/]</span></a></li>
                {/dede:channel}
            </ul>
        </div></td>
        <td valign="top"><div class="right">
        	<div class="position"><ul class="tpname">{dede:field name='typename'/}<span>{dede:field.seotitle /}</span></ul>
            <ul class="posi">所在位置：{dede:field name='position'/}</ul></div>

            <div class="list_article">
            {dede:list pagesize='20'}
                <li><a href="[field:arcurl /]">[field:title /]</a><span>[[field:pubdate function="GetDateTimeMK(@me)"/]]</span></li>
            {/dede:list}
            </div>

        <div class="pages">{dede:pagelist listsize='4' listitem='index pre pageno next end '/}</div>
        </div></td>
      </tr>
    </table>
</div>
{dede:include filename="footer.htm"/}
</body>
</html>
