@charset "utf-8";
/*@font-face {
font-family: 'jlxt';
src: url('../font/jlxt.eot');
src:
url('../font/jlxt.eot'),
url('../font/jlxt.otf'),
url('../font/jlxt.svg') format('svg');
font-weight: normal;
font-style: normal;
}*/
.theFootNav a i.ii3 {
    background: url('../upload/images/2020/10/19cae9790cdc8880.png') no-repeat center;
    background-size: 20px;
}
.menu li ul{
  display:none !important;
}
/*body a {transition: 0.4s all; -webkit-transition: 0.4s all; -moz-transition: 0.4s all; -o-transition: 0.4s all; -ms-transition: 0.4s all;}*/
/*去掉自带样式*/
input,input[type="button"], input[type="submit"], input[type="reset"] { -webkit-appearance: none;appearance: none;}
textarea {-webkit-appearance: none;appearance: none;}
/*手机时，图片不可下载*/
img {pointer-event:none;-webkit-user-select:none;-moz-user-select:none;user-select:none;}
/*图片去色*/
img.grayscale{
  filter:url(data:image/svg+xml;utf8;base64,PHN2ZyB4bWxucz1cJ2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnXCc+PGZpbHRlciBpZD1cJ2dyYXlzY2FsZVwnPjxmZUNvbG9yTWF0cml4IHR5cGU9XCdtYXRyaXhcJyB2YWx1ZXM9XCcwLjMzMzMgMC4zMzMzIDAuMzMzMyAwIDAgMC4zMzMzIDAuMzMzMyAwLjMzMzMgMCAwIDAuMzMzMyAwLjMzMzMgMC4zMzMzIDAgMCAwIDAgMCAxIDBcJy8+PC9maWx0ZXI+PC9zdmc+I2dyYXlzY2FsZQ==);
  filter:gray;-webkit-filter:grayscale(100%);-webkit-transition:all .6s ease;-webkit-backface-visibility:hidden}
/*修正win8系统IE连接灰色背景*/
a{text-decoration: none;  outline: none; blr: expression(this.onFocus=this.blur());}

/* CSS Document */
body{ margin:0; padding:0;font-family:'pingfang sc','microsoft yahei',Arial,'宋体';text-align:center; background:#fff; color:#333;}
ul,li,p,img,a img,dl,dd,dt{margin:0; padding:0; border:none;}
*{margin:0; padding:0; border:none;}
html,body{font-size:62.5%;line-height: 0.96;}
a:link,a:visited{color: #333;}
a:hover,a:active{color: #000;}
li{ list-style:none;}
i{font-style: normal;}
input,textarea{outline:none;}


/* Cy */
.clear_b{ clear:both;  height:0;height:none; line-height:0;line-height:none;}
.float_l{ float:left;}
.float_r{ float:right;}
.autoImg span,.autoImg{display: block;width: 100%;background-size: 100% 100%;background-size: cover;background-repeat:no-repeat;background-position: center;}
.autoImg img{display: block;width: 100%;visibility: hidden;}
.display_flex{display:flex; align-items:center;/*水平居中*/ justify-content: center;/*垂直居中*/}

/*统一重点class*/
.mediaWidth{width:100%;max-width:1200px;min-width:320px; margin:0 auto;text-align: left;}
.bigColumn_T img{width: 100%;display: block;}

/*返回顶部*/
.return_top{position:fixed;right:10px;bottom:66px;z-index:990;display:none;width:40px;height:40px;background: #3fa4b1 url(../images/layout/Arrow_ico.png) no-repeat center;background-size:30px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;}



/*==================================================*/
.top_txt{height: 30px;line-height: 30px;font-size: 14px;color: #999;letter-spacing: 1px;}
.head_w{border-top: 1px #eee solid;}
.headBox{}
.headBox .logo{float: left;padding-top:18px;}
.headBox .logo img{height: 66px;}
/*导航*/
.menu{float: right;}
.menu li{float: left;text-align: center;padding: 0 10px;position: relative;z-index: 2;}
.menu li a{width: 82px;padding:36px 0 30px;font-size: 16px;color:#333;display: block;}
.menu li i{height:11px;font-size: 12px;color:#999;letter-spacing:-0.4px;padding-top:6px;font-family:Arial;text-transform:uppercase;display: block;}
.menu li.cur a,.menu li.on a,.menu li a:hover{color: #fff;background:#3fa4b1;}
.menu li.cur i,.menu li.on i,.menu li a:hover i{color: #fff;}
.menu li ul{position: absolute;left:0;display: none;padding-top: 20px;background: url("../images/menu_jt.png") no-repeat center 12px;}
.menu li ul a{padding: 10px 0;background:#3fa4b1;color: #fff;margin-top: 1px;font-size: 14px;}

/*---------头部 search_lang----------------*/
.headBox  .search_lang{width:84px;padding-left:16px;position: relative;    margin-top: -3px;}
.headBox  .search_lang .ib_1{position:absolute;left:0;bottom:2px;display:block;height:18px;border-left:1px solid #dddcdd;}
.headBox  .search_lang .se_l{float:left;width:30px;height:24px;margin-right:10px;position: relative;}
.headBox  .search_lang .se_l:last-child{margin-right:0;}
.headBox  .search_lang .se_l>a{display:block;text-align:center;color:#fff;height:24px;line-height:24px;font-size:16px;transition:0s ease-out;-webkit-transition:0s ease-out;-moz-transition:0s ease-out;-o-transition:0s ease-out;}
.headBox  .search_lang .se_l .btn_search span{display:block;line-height:24px;}
.headBox  .search_lang .se_l .btn_search{background:url(../images/search_lang/top_search_ico.png) no-repeat center;}
.headBox  .search_lang .se_l .btn_lang{background:url(../images/search_lang/top_lang_ico.png) no-repeat center;background-size: 19px 19px;}
.headBox  .search_lang .se_l .btn_lang{font-weight:bold;line-height:26px;}
.headBox  .search_lang .se_l .btn_login.active{width:40px;height:40px;position:relative;top:-10px;}
.headBox  .search_lang .se_l .btn_login.active .sp_tx{border:2px solid #dedede;display:block;width:100%;overflow:hidden;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;-o-border-radius:50%;}
.headBox  .search_lang .se_l .btn_login.active .sp_tx em{display:block;width:100%;padding-bottom:100%;position:relative;overflow:hidden;}
.headBox  .search_lang .se_l .btn_login.active .sp_tx em img{position:absolute;left:50%;top:50%;width:100%;height:100%;display:block;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);}
.headBox  .search_lang .se_l .search_form{position:absolute;right: -90px; top: 44px;display:none;background:#fff;width:240px;padding:14px 10px;border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px;box-shadow:0 0 10px 1px rgba(0,0,0,0.16);-webkit-box-shadow:0 0 10px 1px rgba(0,0,0,0.16);-moz-box-shadow:0 0 10px 1px rgba(0,0,0,0.16);-o-box-shadow:0 0 10px 1px rgba(0,0,0,0.16);z-index: 2;}
.headBox  .search_lang .se_l .search_form .search_input{width:190px;padding:10px 40px 10px 8px;font-size:14px;color:#555;font-weight:'Microsoft Yahei','微软雅黑';border-bottom:1px solid #f1f1f1;}

.headBox .se_l .search_form .i1 { position: absolute; left: 50%; top: -8px; display: block; width: 0; height: 0; border: 8px solid #fff; margin-left: 20px; transform: rotate(45deg); -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); box-shadow: 0 -1px 10px rgba(0,0,0,0.16); -webkit-box-shadow: 0 -1px 10px rgba(0,0,0,0.16); -moz-box-shadow: 0 -1px 10px rgba(0,0,0,0.16); -o-box-shadow: 0 -1px 10px rgba(0,0,0,0.16); }
.headBox .se_l .search_form .i2 { position: absolute; left: 50%; top: 0; display: block; height: 14px; width: 30px; background: #fff; margin-left: 10px; z-index: 1; }
.headBox .se_l .lang_ul .i1 { position: absolute; left: 50%; top: -8px; display: block; width: 0; height: 0; border: 8px solid #fff; margin-left: 20px; transform: rotate(45deg); -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); box-shadow: 0 -1px 10px rgba(0,0,0,0.16); -webkit-box-shadow: 0 -1px 10px rgba(0,0,0,0.16); -moz-box-shadow: 0 -1px 10px rgba(0,0,0,0.16); -o-box-shadow: 0 -1px 10px rgba(0,0,0,0.16); }
.headBox .se_l .lang_ul .i2 { position: absolute; left: 50%; top: 0; display: block; height: 14px; width: 30px; background: #fff; margin-left: 14px; z-index: 1; }

.headBox .search_form .search_btn {cursor:pointer;position: absolute; right: 10px; top: 25px; width:50px; font-size: 15px; color: #888; background: none; overflow: hidden; transition: 0.4s ease-out; -webkit-transition: 0.4s ease-out; -moz-transition: 0.4s ease-out; -o-transition: 0.4s ease-out; }
.headBox .se_l .lang_ul_w{display: none;position: absolute; width: 140px;left: -82px;top:24px; z-index:89;padding-top: 20px;}
.headBox .se_l .lang_ul {position:relative;background: #fff; border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; -o-border-radius: 6px; box-shadow: 0 0 10px 1px rgba(0,0,0,0.16); -webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,0.16); -moz-box-shadow: 0 0 10px 1px rgba(0,0,0,0.16); -o-box-shadow: 0 0 10px 1px rgba(0,0,0,0.16);}
.headBox .se_l .lang_ul li a { display: block; color: #666; padding: 8px 10px 8px 60px; position: relative; font-size: 14px; text-align: left; position: relative; z-index: 10; }
.headBox .se_l .lang_ul li a.a1 { background: url(../images/search_lang/lang_a1.png) no-repeat 24px center; background-size: 25px 16px; }
.headBox .se_l .lang_ul li a.a2 { background: url(../images/search_lang/lang_a2.png) no-repeat 24px center; background-size: 25px 16px; }
.headBox .se_l .lang_ul li a.a3 { background: url(../images/search_lang/lang_a3.png) no-repeat 24px center; background-size: 25px 16px; }



/*---头部wap---*/
.header_wap{width:100%;z-index:880;height:60px;background:#fff !important;box-shadow:0 1px 6px rgba(0,0,0,0.1);-webkit-box-shadow:0 1px 6px rgba(0,0,0,0.1);-moz-box-shadow:0 1px 6px rgba(0,0,0,0.1);-ms-box-shadow:0 1px 6px rgba(0,0,0,0.1);-o-box-shadow:0 1px 6px rgba(0,0,0,0.1);z-index: 887 !important; position:static !important}
#header_wap{z-index: 888 !important;position:fixed;left:0;top:0; position:fixed !important}
/**/
.header_wap .logo_a {height:60px;display: block;padding:0 60px;background-image: url(../images/logo2.png);background-repeat:no-repeat;background-position:center;background-size: auto 76%;}
/*菜单按钮*/
.menu_open{width:36px;height:24px;position:fixed;right:10px;top:18px;cursor: pointer;z-index:999;}
.menu_open i{position: absolute;display:block;width:100%;height:3px;margin: 0 auto;background: #3fa4b1;transition: 0.4s ease;}
.menu_open .i1{left: 0;top: 0}
.menu_open .i2{left: 0;top: 50%;margin-top: -1.5px;}
.menu_open .i3{left: 0;bottom:0}
/*菜单*/
.menu_wap{position:fixed;left:0;top:0;width:100%;height:100%;background:#444;z-index:998;opacity:0;filter:alpha(opacity=0);transform:translateX(-100%);transition:0.4s ease-out;-webkit-transition:0.4s ease-out;-moz-transition:0.4s ease-out;-ms-transition:0.4s ease-out;-o-transition:0.4s ease-out;padding-bottom: 10px;}
.menu_wap_n{height:100%;padding: 60px 50px 20px 50px;position: relative; overflow: hidden;webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;text-align: left;}
.menu_wap .menu_tit{width:100%;height:60px;line-height:60px;border-bottom: 1px solid #535353;position: absolute;left: 0;top: 0;}
.menu_wap .menu_tit P{padding-left:60px;}
.menu_wap .menu_tit P span{font-size: 16px;color: #ccc;padding-right:12px; margin-left:12px; border-right:1px #999 dotted;}
.menu_wap .menu_tit P span a{color: #ccc;}
.menu_wap .menu_tit P span:last-child{ border:none;}
.menu_wap .menu_tit P span:first-child{ margin-left:0}
.menu_wap .menu_tit P span.on a{color:#fff!important;}
.menu_wap .menu_list{height:100%;overflow: hidden;overflow-y: scroll;padding-right: 8px;}
.menu_wap .menu_list li{border-bottom: 1px dashed #999;}
.menu_wap .menu_list li ul{background:#4e4e4e;}
.menu_wap .menu_list a{color: #fff!important;display: block;padding:10px;font-size: 16px;position: relative;}
/*菜单显示*/
.menu_wap_show{opacity:1;filter:alpha(opacity=100);transform:translateX(0);-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);-o-transform:translateX(0);}
.menu_open_show i{background: #fff;}
.menu_open_show i.i2{display: none}
.menu_open_show i.i1{transform:translateY(10px) rotate(45deg);-webkit-transform:translateY(10px) rotate(45deg);-moz-transform:translateY(10px) rotate(45deg);-ms-transform:translateY(10px) rotate(45deg);-o-transform:translateY(10px) rotate(45deg);}
.menu_open_show i.i3{transform:translateY(-10px) rotate(-45deg);-webkit-transform:translateY(-10px) rotate(-45deg);-moz-transform:translateY(-10px) rotate(-45deg);-ms-transform:translateY(-10px) rotate(-45deg);-o-transform:translateY(-10px) rotate(-45deg);}
/*子类*/
.menu_wap .menu_list li a{position: relative;}
.menu_wap .menu_list>li i{position:absolute;right:8px;top:50%;display:block;width:20px;height:20px;background:url(../images/layout/Arrow_r.png) no-repeat center;background-size:16px;margin-top:-10px;transition:0.4s ease;-webkit-transition:0.4s ease;-moz-transition:0.4s ease;-ms-transition:0.4s ease;-o-transition:0.4s ease;}
.menu_wap .menu_list>li.li_on>a i{transform:rotate(90deg);-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-o-transform:rotate(90deg);}
.menu_wap .menu_list>li .tow_ul{padding:8px 0;background:#4e4e4e;display:none;}
.menu_wap .menu_list>li .tow_ul li{border-bottom: none;}
.menu_wap .menu_list>li .tow_ul li a{color:#fff;display:block;padding:8px 10px;font-size:14px;}
.menu_wap .menu_list>li .tow_ul ul{padding-left:24px;}

.head_w{display: inherit;}
.header_wap,.menu_open,.menu_wap{display:none;}


@keyframes translateY{ from { -webkit-transform:translateY(-22px);transform:translateY(-22px) } to { -webkit-transform:translateY(0px);transform:translateY(0px) } }
@keyframes translateY2{ from { -webkit-transform:translateY(10px);transform:translateY(10px)} to { -webkit-transform:translateY(0px);transform:translateY(0px) } }
.head_w.fixed_head{animation: translateY 0.2s ease-out forwards 1;}


.pageContainer{overflow: hidden;}
/*===============   底部 ===============  */
.footer{padding:53px 0 20px;background: url("../images/footerBg.jpg") no-repeat center;background-size: cover;}
.footer_logo{width: 264px;}
.footer a{font-weight: 300}
.footer a:hover{opacity: 1;}
.footer_con2{border-top: 1px #575a60 solid;padding-top: 18px;margin-top:20px;}
.footer_con2 .links{}
.footer_con2 .links a{margin-bottom: 14px;margin-right:22px;display: inline-block;}
.footer_con2 .links span{font-size: 16px;color: #3ea2b1;padding-left: 20px;background: url("../images/footer_jt.png") no-repeat left center;}
.footer_con2,.footer_con2 a{font-size: 14px;color: #c6c5c5;}
.footer_con2 a:hover{color: #fff;}

.footer_con1 .float_l{width: 265px;font-weight: 300}
.footer_con1 .ico{padding:26px 0 16px;}
.footer_con1 .ico a{display:inline-block}
.footer_con1 .ico img{margin-right: 10px;}
.footer_con1 .tel{font-size: 30px;color: #3ea2b1;}
.footer_con1 .mail,.footer_con1 .add{font-size: 15px;color: #3ea2b1;padding-left: 31px;margin-top: 20px;line-height:18px;}
.footer_con1 .mail{background: url("../images/footer_mail.png") no-repeat left center;}
.footer_con1 .add{background: url("../images/footer_add.png") no-repeat left top;min-height: 25px;}

.footer_menu{overflow: hidden; margin-bottom: 30px;}
.footer_menu dl{width: 144px;padding-left:30px;float: left;}
.footer_menu dl:first-child,.footer_menu dl.dl_1{padding-left: 0;width: 100px;}
.footer_menu dl:last-child{width:80px;}
.footer_menu dt{margin-bottom: 24px;}
.footer_menu dt a{font-size: 18px;color: #fff;}
.footer_menu dd a{font-size: 14px;color:#fff;opacity: .6;display: block;line-height: 24px;}
.footer .weixinImg{text-align: right;color: #fff;font-size: 15px;}
.footer .weixinImg p{display: inline-block;width: 134px;text-align: center;margin-right: 640px;}
.footer .weixinImg .footer_weixin{width: 134px;display: block;margin-bottom: 10px;}
#footer_wx_img{width:100px;height: 100px;display: none;position: absolute;right:-110px;top:-30px;}

/*底部悬浮导航*/
.theFootNav#theFootNav{position:fixed;left:0;bottom:0;z-index:880;width:100%;height:40px;padding:6px 0 8px;background:#3fa4b1 ;display:-webkit-box;display:-moz-box;display:-ms-box;display:-o-box;}
.theFootNav{height:54px;}
.theFootNav,.theFootNav#theFootNav{display: none;}
.theFootNav a{display:block;text-align:center;border-right:1px solid #55c4d3 ;color:#fff;font-weight:300;font-size:14px;padding:1px 0;text-decoration:none !important;-webkit-box-flex:1;-moz-box-flex:1;-ms-box-flex:1;-o-box-flex:1;}
.theFootNav a:last-child{border-right:none;}
.theFootNav a i{display:block;width:30px;height:20px;margin:0 auto;margin-bottom:5px;}
.theFootNav a i.i1{background:url(../images/the_foot/tb1.png) no-repeat center;background-size:20px;}
.theFootNav a i.i2{background:url(../images/the_foot/tb2.png) no-repeat center;background-size:20px;}
.theFootNav a i.i3{background:url(../images/the_foot/tb2.png) no-repeat center;background-size:20px;}
.theFootNav a i.i4{background:url(../images/the_foot/tb2.png) no-repeat center;background-size:20px;}
.theFootNav a em{font-size:12px;display:block;text-align:center;font-style:normal;}



@media screen and (max-width:1200px) {
  .header_wap .logo_a{margin-left:-220px}
.head_w,.top_txt{display: none;}
.header_wap,.menu_open,.menu_wap,.theFootNav{display:inherit;}
.theFootNav#theFootNav{display:-webkit-box;display:-moz-box;display:-ms-box;display:-o-box;}
.headBox,.menu{display: none;}
.mediaWidth{padding-left:10px;padding-right: 10px;box-sizing: border-box;}

.footer_logo{width: 200px;display: none;}
.footer_con1 .ico img{width: 30px;height: 30px;}
.footer { padding:30px 0 20px;}
.footer_con1 .float_l{width: 100%;margin-bottom: 20px;}
.footer_con1 .float_r,.footer_weixin{float: none;}
.footer_menu {display: none;}
.footer_con2 .links{margin-bottom:10px;display: none;}
.footer_con2 .links span{font-size: 14px;}
.footer_con2, .footer_con2 a{font-size: 12px;}
.footer_con2 .links a { margin-bottom:6px; margin-right:10px; }
.footer_con2, .footer_con2 P{line-height: 1.4}

.footer .weixinImg{text-align: left;}


}

@media screen and (max-width:640px) {
  
}



/*flash*/
#ProcessTxt{display:none;position:absolute;z-index:4;background: #fff;width: 190px;border-radius: 10px;padding: 10px;font-size: 14px;line-height: 1.3;text-align: left;}
#ProcessImg{ display: block; width: 100%;position: relative;z-index:3;opacity: 0}
.ProcessBox.flash{position: relative;margin: 0 auto;width: 1200px;max-width:100%;overflow: hidden;}
.ProcessBox.flash embed ,.ProcessBox.flash video,.ProcessBox.flash source{width:100%; height: 100%;position: absolute;left: 0;top: 0;pointer-events: none;}
.ProcessBox.flash embed{z-index:1;}
.ProcessBox.flash video {object-fit: fill;mix-blend-mode:screen;z-index:2;}
.ProcessBox.flash video{left: -70px;width:1340px;}

.ProcessBox{display:inherit;}
.ProcessBox2{display: none;color: #fff;line-height: 1.4;padding:40px 0  6px ;text-align: left;overflow: hidden;margin:0 6px;}
.ProcessBox2 ol{padding:0 4px}
.ProcessBox2 ol li{/*list-style-type:decimal-leading-zero;*/font-size: 12px;float: left;width: 33%;padding-bottom:30px;text-align: center;border-top: 1px #fff dashed;}
.ProcessBox2 ol li b{font-weight: 400;display: block;}
.ProcessBox2 ol li p{font-size: 12px;}
.ProcessBox2 ol li:nth-child(1) i,.ProcessBox2 ol li:last-child i{background: #fffbc6;}
.ProcessBox2 ol li:nth-child(3),.ProcessBox2 ol li:nth-child(9){border-right: 1px #fff dashed;}
.ProcessBox2 ol li:nth-child(4),.ProcessBox2 ol li:nth-child(10){border-left: 1px #fff dashed;}

.ProcessBox2 ol span{width:20px;height: 20px;line-height:20px;border-radius:20px;position: relative;display:inline-block;margin:-11px 10px 10px  10px;}
.ProcessBox2 ol i{position:absolute;width:100%;height:100%;background:#eee;color: #21555c;text-align: center;z-index:2;border-radius: 50%;left: 0;top:0;font-weight: bold;border: 1px #fff solid;margin-left: -1px;margin-top: -1px;}
.ProcessBox2 ol span:after,.ProcessBox2 ol span:before{content: '';position: absolute;width:50%;height: 50%;border-radius:50%;z-index:1;left:0;top:0;}
.ProcessBox2 li span:after{background: #e5f0f8;padding:6px;margin-top:-1px;margin-left:-1px;}
.ProcessBox2 li span:before{background: #cee3f2;padding:10px;margin-top:-5px;margin-left:-5px;}
/*动画*/
.ProcessBox2 li span:after,.ProcessBox2 li span:before{webkit-animation:sonarEffect 1.4s  linear infinite;animation:sonarEffect 1.4s  linear infinite}
.ProcessBox2 li span:after{animation-delay:.1s;animation-duration:1.8s; }
.ProcessBox2 li span:before{animation-delay:.3s;animation-duration:1.4s; }
@-webkit-keyframes sonarEffect { 0% {opacity:1} 40% {opacity:.6;} 100% {transform:scale(1.3); -webkit-transform:scale(1.3); opacity:0 } }
@-webkit-keyframes sonarEffect2 { 0% {opacity:1} 40% {opacity:.6;} 100% {transform:scale(1.4); -webkit-transform:scale(1.4); opacity:0 } }





@media screen and (max-width:1200px) {
  .ProcessBox{display: none;}
.ProcessBox2{display:inherit;}

}