*{padding:0px; margin:0px; font-size:12px; line-height:22px; }

/*****！！页面通用css样式定义开始******/
/* body的css定义:这里定义页面上下左右边距，页面背景颜色，滚动条颜色样式 */
body{ margin:0px; padding:0px;
	font-family: "微软雅黑","宋体",Arial, Tahoma;   /*文字字体定义 */
	font-size: 12px;    /*文字大小定义 */
	color:#333333;    /*文字颜色定义 */
}

ul, li { margin:0; padding:0; list-style-type:none; }
dl, dt, dd { margin:0; padding:0; }
img{border:none;}
.clr { clear:both; height:0; font-size: 1px; line-height: 0px;}
.clr:after{content: "."; display: block; height: 0; clear: both; visibility: hidden; }/*清除浮动*/

.top8 { margin-top:8px }

/************************************/


/* 网站超链接css通用设置 */
a{text-decoration: none;}/* 链接无下划线,有为underline */
a:link {color: #CC3300;} /* 未访问的链接 */
a:visited {color: #CC3300;} /* 已访问的链接 */
a:hover{color: #333333;	text-decoration: none;} /* 鼠标在链接上*/
a:active {color: #CC3300;} /* 点击激活链接 */

h1,h2,h3,h4,h5,h6{font-size:12px;}
.clear{clear:both;}/*清除浮动*/
.clear:after{content: "."; display: block; height: 0; clear: both; visibility: hidden; }/*清除浮动*/
/*表格样式定义 */
table{}
checkbox{border: 0px;}/*选择框样式定义 */
/*文字按钮样式定义 */
.button{border: 0px;}





#wrapper{ width:955px; margin:0 auto;}
#container{}
#main{}
#header{}
#ileft{ width:239px; vertical-align:top;padding:14px 3px 0 3px;}
#left{ vertical-align:top; background:url(left_bj1.jpg) repeat-x left 52px; width:211px;}
#left_in{background:url(left_bj.jpg) no-repeat left top;padding:55px 0 15px 13px;width:198px;}
#right{width:704px;padding:14px 20px 15px 20px;background:#fff url(right_bj.gif) repeat-y left top;vertical-align:top;}
#iright{ width:680px; vertical-align:top;padding:14px 15px 0 15px;background:#fff url(right_bj.gif) repeat-y left top;}
#footer{padding:1px 0 10px 0; text-align:center; background:#dadbdd;}


.logo{ padding:8px 0; font-size:60px; vertical-align:middle;   }

.menu{ background:url(menu_bj.gif) repeat-x left top; height:29px;padding:3px 0 9px 12px;}
.menu a{color:#b41a1c;font-weight:bold;line-height:29px; display:block; float:left; font-size:14px; background:url(cion01.gif) no-repeat left 5px; padding-left:2px; margin-left:1px;}
.menu a p{ padding-right:1px; line-height:29px;}
.menu a p span{display:block; background:url(cion02.gif) no-repeat right 4px;padding:0 19px;line-height:29px;}
.menu a:visited{color:#b41a1c;}
.menu a:hover{color:#ffffff;}
.menu a:hover p{background:url(a_bj.gif) repeat-x left top;color:#ffffff;}
.menu a:hover span{ background:url(cion03.gif) no-repeat right 4px;color:#ffffff;}
.menu .current{color:#ffffff;}
.menu .current p{background:url(a_bj.gif) repeat-x left top;color:#ffffff;}
.menu .current span{ background:url(cion03.gif) no-repeat right 4px;color:#ffffff;}
.menu .none{background:none;}

.submenu{padding:0 0px 15px 0px;}
.submenu dl{list-style:none;}
.submenu dt{ line-height:23px; height:23px;margin:10px 0 10px 0;}
.submenu dt a{background:url(a1.jpg) no-repeat left top;padding:2px 0 0 17px; line-height:21px;color:#222222;display:block;font-weight:bold; height:21px;}
.submenu dt a:visited{color:#222222;}
.submenu dt a:hover{color:#b41a1c;font-weight:bold;background:url(a1hover.jpg) no-repeat left top;}
.submenu #current{color:#b41a1c;font-weight:bold;background:url(a1hover.jpg) no-repeat left top;}
.submenu dd a{padding-left:18px;color:#5c5c5c; line-height:22px;}
.submenu dd a:visited{color:#5c5c5c;}
.submenu dd a:hover{color:#000;}

.banner{ width:955px; }

.footnav{ line-height:30px;color:#ffffff;background:#831d1d; height:30px;}
.footnav a{line-height:30px;color:#ffffff;padding:0 3px 0 9px;}
.footnav a,.footnav a:visited,.footnav a:hover{color:#ffffff;}

.copyright{color:#5c5c5c; line-height:24px;padding:8px 0 0px 0px;}
.copyright a,.copyright a:visited,.copyright a:hover{color:#5c5c5c;}

.ihotpro{padding:0 12px 0 10px;}
.ihotpro .cn{ text-align:center;}
.ihotpro .cn h1{ width:200px; height:200px; margin:0 auto;border:1px solid #cccccc; padding:1px; background:#fff;}
.ihotpro .cn h1 a{ width:200px; height:200px;display:table-cell;vertical-align:middle;text-align:center;*display:block;*font-size:174px;*font-family:Arial;}
.ihotpro .cn h1 img{vertical-align:middle;}
.ihotpro .cn p{color:#27282c; line-height:24px;}
.ihotpro .cn p a,.ihotpro .cn p a:hover,.ihotpro .cn p a:visited{color:#27282c;}

.hotpro{padding:0 0 8px 0;}
.hotpro .cn1{ text-align:center;}
.hotpro .cn1 h1{ width:175px; height:175px; margin:0 auto;border:1px solid #cccccc; padding:1px; background:#fff;}
.hotpro .cn1 h1 a{ width:175px; height:175px;display:table-cell;vertical-align:middle;text-align:center;*display:block;*font-size:152px;*font-family:Arial;}
.hotpro .cn1 h1 img{vertical-align:middle;}
.hotpro .cn1 p{color:#27282c; line-height:24px;}
.hotpro .cn1 p a,.ihotpro .cn p a:hover,.ihotpro .cn p a:visited{color:#27282c;}


.icompany{ margin-bottom:15px;}
.icompany_detail{ width:660px;padding:0px 7px 0 13px;}
.icompany_detail img{margin:2px 15px 0 0; float:left;}
.icompany_detail p{ text-indent:2em;}
.icompany_detail a{ color:#5c5c5c;}
.icompany_detail a:visited{ color:#5c5c5c;}
.icompany_detail a:hover{ text-decoration:underline;}

.inews{width:335px; float:left; padding-right:10px;}
.inews1{width:335px; float:right; }
.inews_list{padding:0 5px 15px 10px;}
.inews_list table{}
.inews_list td{ line-height:16px;padding:6px 0; background:url(cion05.gif) repeat-x left bottom;}
.inews_list td a{color:#5c5c5c;background:url(cion04.gif) no-repeat 2px 4px!important;>background:url(cion04.gif) no-repeat 2px 3px!important;background:url(cion04.gif) no-repeat 2px 3px;padding:0 0 0 21px;line-height:16px; display:block;}
.inews_list td a:visited{ color:#5c5c5c;}
.inews_list td a:hover{ color:#000000; }
.inews_list td strong{line-height:16px;}

.iproduct{ padding:0 0 8px 4px;}
.iproduct a{ display:block; line-height:24px; padding-left:37px;color:#fff; font-weight:bold; margin-bottom:4px; background:url(a_bj.jpg) no-repeat left top;}
.iproduct a:visited{color:#fff;}
.iproduct a:hover{color:#982222;}

.icontact{padding:0px 15px 5px 10px;}
.icontact p{  word-break:break-all; line-height:24px; }
.icontact strong{color:#e60000;}
.icontact a{ text-decoration:underline;}

.ipro{ margin-bottom:8px;}
.ipro .cn{padding:4px 10px 6px 15px;float:left; width:310px;}
.ipro .cn h2{ width:100px; height:100px;float:left; margin-right:15px;}
.ipro .cn h2 a{ width:100px; height:100px;border:1px solid #cccccc; padding:1px;display:table-cell;vertical-align:middle;text-align:center;*display:block;*font-size:87px;*font-family:Arial; background:#fff;}
.ipro .cn h2 img{vertical-align:middle;}
.ipro .cn h3{}
.ipro .cn h3 a{ background:url(cion04.gif) no-repeat left 1px;color:#982222; line-height:22px; padding:0 0 0 15px;}
.ipro .cn span{color:#5c5c5c; line-height:20px; font-weight:normal;}


.title{ background:url(title_bj.jpg) no-repeat left top; color:#fff; font-size:14px; font-weight:bold; padding:1px 0 0 29px; line-height:28px; margin-bottom:12px;}
.title span{color:#cfa5a7; font-size:11px;padding-left:6px;}
.title1{background:url(title.gif) no-repeat left top; color:#fff; font-size:14px; font-weight:bold; padding:1px 0 0 29px; line-height:28px; margin-bottom:15px; height:28px;}
.title1 span{color:#cfa5a7; font-size:10px;padding-left:8px;}
.title1 p{float:right; padding-right:12px; color:#982222;line-height:28px; font-weight:normal;}
.title1 p a,.title1 p a:visited,.title1 p a:hover{color:#982222;line-height:28px;}

.title4{background:url(title.gif) no-repeat left top; color:#fff; font-size:14px; font-weight:bold; padding:1px 0 0 29px; line-height:28px; margin-bottom:15px; height:28px;}
.title4 span{color:#cfa5a7; font-size:11px;padding-left:6px;}
.title4 a{ line-height:28px;color:#fff;}
.title4 a:visited{ color:#fff;}
.title4 a:hover{ text-decoration:underline;}

.title5{background:url(title_bj2.jpg) no-repeat left top; color:#fff; font-size:14px; font-weight:bold; padding:1px 0 0 29px; line-height:28px; margin-bottom:15px; height:28px;}
.title5 span{color:#cfa5a7; font-size:11px;padding-left:8px;}
.title5 a{ float:right; padding:0 130px 0 0; line-height:28px;color:#fff; font-size:12px; font-weight:normal;}
.title5 a:visited{ color:#fff;}
.title5 a:hover{ text-decoration:underline;}

.place{ float:right;color:#000; font-weight:normal; font-size:12px; padding-right:10px;}
.place a{padding:0 3px 0 9px;color:#000; line-height:28px;}
.place a:visited{color:#000;}
.place a:hover{color:#000; text-decoration:underline;}

.title2{color:#b41a1c; font-weight:bold; margin-bottom:8px; line-height:24px; font-size:14px;}
.title2 span{ padding-left:7px; font-size:12px;}
.title3{ background:url(title_bj1.jpg) no-repeat right top; padding-left:20px;font-size:14px; color:#fff; margin-bottom:10px; line-height:23px; font-weight:bold;}
.title3 strong{ line-height:23px;}
.title3 p{float:right; padding-right:20px;color:#fff;line-height:23px;}
.title3 p a,.title3 p a:visited,.title3 p a:hover{color:#fff;line-height:23px;}
.container{padding:0 13px 0 11px;}
.detail{ padding:0px 15px 12px 20px; width:645px; overflow:hidden;}
.detailList{}
.brief{border:10px solid #e9e9e9; color:#5c5c5c; padding:12px 15px; margin-bottom:15px;}
.brief a,.brief a:visited,.brief a:hover{color:#982222;}
.content{text-align:left; font-size:14px;}
.content h1{ background:url(cion04.gif) no-repeat 3px 6px;padding-left:22px; line-height:22px;}
.content h3{color:#c30000; text-align:center; font-size:26px; font-weight:800;}

.content h2{ background:url(title_bj1.jpg) no-repeat right top; text-indent:1.6em; font-size:14px; color:#fff; line-height:23px;}
.content h2 a,content h2 a:visited,content h2 a:hover{line-height:23px;color:#fff;}


.content h4{ background:url(cion07.gif) no-repeat left 6px;padding-left:22px; line-height:22px; color:#982222;}
.content h5{ background:url(cion05.gif) repeat-x left bottom; text-align:center;}
.content h6{color:#8a8a8a; text-align:center; font-weight:normal; line-height:24px;}

.content p{margin: 13px auto 0px;}
.content li{margin-left:3.5em;}
.content strong{color:#e60000;}
.content a{ text-decoration:underline;}

.content table{border-collapse:collapse;font-size:12px;}
.content table td{padding:0px 5px;}

.tableboder table{ border:1px solid #b7b7b7;background:#fff;}
.tableboder th{background:#910100;color:#ffffff;line-height:27px; text-align:center; border:1px solid #b7b7b7;}
.tableboder td{ border:1px solid #b7b7b7; color:#5c5c5c;}

.agent{padding:0px 0 5px 0;text-align:center;margin:0 0px 20px 0px;}

.tools{color:#982222; line-height:24px; text-align:right; margin:10px 0; font-weight:bold; font-size:14px;}
.tools a,.page a:visited{color:#982222;}
.tools a:hover{color:#982222; text-decoration:underline;}

.page{color:#982222; line-height:24px; text-align:right; margin:15px 0; font-weight:bold; font-size:14px;}
.page a,.page a:visited{color:#982222;}
.page a:hover{color:#982222; text-decoration:underline;}

.news_list{}
.news_list table.tablelist {}
.news_list table.tablelist td{ background:url(cion05.gif) repeat-x left bottom;line-height:20px;color:#5c5c5c; font-size:12px;padding:7px 0;}
.news_list table.tablelist td a{color:#5c5c5c;background:url(cion06.gif) no-repeat 11px 3px;padding:0 0 0 33px;line-height:20px;}
.news_list table.tablelist td a:visited{ color:#5c5c5c;}
.news_list table.tablelist td a:hover{ color:#982222;}
.news_list table.tablelist td strong{line-height:20px;}

.comment_list{padding:0 10px 15px 10px;}
.comment_list table{}
.comment_list td{background:url(cion05.gif) repeat-x left bottom;line-height:28px;color:#5c5c5c; font-size:14px;}
.comment_list td a{color:#5c5c5c;background:url(cion06.gif) no-repeat 11px 8px;padding:0 0 0 33px;line-height:28px; display:block;}
.comment_list td a:visited{ color:#5c5c5c;}
.comment_list td a:hover{ color:#982222;}
.comment_list td strong{line-height:28px;}

.comment{padding:0 0 10px 12px;}
.comment table{}
.comment table td{padding:5px;color:#575757;}
.comment table input{ border:1px solid #bdbdbd; width:172px; height:20px; line-height:18px;}
.comment table textarea{ width:400px; height:90px; border:1px solid #bdbdbd;}
.comment table .but{width:82px; height:25px;margin-right:10px; color:#ffffff; line-height:25px; background:url(but_bj.gif) no-repeat left top;text-align:center; border:none;}

.choice{margin-bottom:5px; }
.choice a{ background:url(choice.gif) no-repeat left top;display:block;float:left; margin-right:12px;color:#fff; line-height:23px; width:138px;height:23px; padding:1px 0 1px 0px!important;>padding:2px 0 0px 0px!important;padding:2px 0 0px 0px; text-align:center; font-weight:bold;}
.choice a:visited{color:#fff;}
.choice a:hover{color:#ffffff;background:url(choicehover.gif) no-repeat left top;}
.choice #current{color:#ffffff;background:url(choicehover.gif) no-repeat left top;}


.pro{padding-top:5px;}
.pro_c{margin-bottom:8px; padding-bottom:8px; border-bottom:1px solid #dadada;}
.pro_c table{ border-collapse:collapse;}
.pro_c td{ padding:0 9px; color:#5c5c5c; vertical-align:top;}
.pro_c td img{ vertical-align:middle;border:1px solid #dadada;}
.pro_c th{color:#982222; font-weight:normal; padding:0 0 0 18px; text-align:left; vertical-align:top;}
.pro_c h2{ margin:10px 0 5px 0;color:#982222; line-height:20px; display:block; padding-left:13px;}
.pro_c h2 a,.pro_c h2 a:visited,.pro_c h2 a:hover{color:#982222; line-height:20px;}
.pro_c .p{color:#982222; padding:0 0 5px 5px; background:url(cion02.gif) no-repeat 23px 7px; line-height:26px;}
.pro_c .p a{ color:#982222; text-decoration:underline;}
.pro_c .p a:visited{ color:#982222; text-decoration:underline;}
.pro_c .p a:hover{ color:#982222; text-decoration:none;}

.prob_list{}
.prob_list .cn{ overflow:hidden; float:left; text-align:center; width:114px; height:150px; margin:5px 8px 5px 14px!important;>margin:0px 3px 10px 19px!important; margin:5px 10px 5px 10px;}
.prob_list .cn h2{ margin:0 auto 3px auto; height:100px; width:100px;}
.prob_list .cn h2 a{ width:100px; height:100px;display:table-cell;vertical-align:middle;text-align:center;*display:block;*font-size:87px;*font-family:Arial;border:1px solid #c0c0c0; background:#fff; padding:1px;}
.prob_list .cn h2 a:visited{border:1px solid #c0c0c0;}
.prob_list .cn h2 a:hover{border:1px solid #5bb9e5;}
.prob_list h2 img{ vertical-align:middle;}
.prob_list .cn p{ color:#5c5c5c; line-height:18px; padding-top:2px;}
.prob_list .cn p a,.iproduct .cn p a:visited,.iproduct .cn p a:hover{color:#575757; line-height:18px;}
.prob_list .cn p strong{line-height:18px;}

.detail_brief{padding:0 0 10px 10px;}
.detail_brief .b{ padding:5px 7px 10px 15px;}
.detail_brief dl{margin:5px 0 0 5px;}
.detail_brief dt{ background:url(cion04.gif) no-repeat 15px 6px;padding:0 0 0 30px;}
.detail_brief dt a,.detail_brief dt a:visited{color:#5c5c5c;}
.detail_brief dt a:hover{ text-decoration:underline;color:#575757;}
.proct_bg1{color:#575757; margin:10px; }
.proct_bg1 table{ border:1px solid #dadada; border-collapse:collapse;}
.proct_bg1 td{padding:2px 3px;color:#5c5c5c;border:1px solid #dadada;}
.proct_bg1 th{color:#982222; font-weight:normal;border:1px solid #dadada;padding:0 3px;}

.case{ margin:0 0 9px 0; font-size:14px; width:638px; overflow:hidden;}
.case ul{ list-style-type:none;margin:0 17px 0 18px;}
.case li{background:url(cion07.gif) no-repeat left 6px; width:29%!important;>width:30%!important; width:30%; float:left; padding-left:20px; line-height:24px;color:#5c5c5c; margin-bottom:5px;}


.public_list{}
.public_list table{ margin-top:10px; background:url(cion05.gif) repeat-x left bottom;}
.public_list th{line-height:30px;background:url(cion07.gif) no-repeat 20px 11px;padding:0 0 0 44px; text-align:left; font-weight:normal;}
.public_list td a{color:#5c5c5c;line-height:30px;}
.public_list td a:visited{ color:#5c5c5c;}
.public_list td a:hover{ color:#982222; }

.sitemap{ padding:5px 0px;}
.sitemap dl{padding:5px 20px 5px 10px;}
.sitemap dl font{ color:#982222; font-weight:normal; text-align:left; display:block;font-size:12px; padding-left:8px;}
.sitemap dl font a{ color:#982222; padding:0 5px;}
.sitemap dl font a:visited{ color:#982222;}
.sitemap dl font a:hover{  color:#982222; font-weight:bold; text-decoration:underline; }

.contactus{}
.contactus p{margin:0;}
.contactus .list1{ width:333px; float:left; margin:5px 0px 0 0px;}
.contactus .list1 div{padding:5px 0 15px 20px; font-weight:normal; display:block;}
.contactus .list2{ width:333px; float:left; margin:5px 0 0 14px;}
.contactus .list2 div{padding:5px 0 15px 20px; font-weight:normal; display:block;}

.board{margin:0;}
.board_h3{border-top:#e3e3e3 solid 1px;border-bottom:#e3e3e3 solid 1px;border-right:#e3e3e3 solid 1px;font-weight:bold;  border-left:#e3e3e3 solid 3px;padding:0 0 0 10px;}
.board_h4{color:#982222; font-weight:bold; font-size:14px; text-align:center;}
.board_h4 a{color:#982222;}
.board_h4 a:visited{color:#982222;}
.board_h4 a:hover{color:#982222;}
.board_h5{text-align:center; font-weight:normal; border-bottom:#EAEAEA dotted 1px;margin:0 0 10px;}
.btn{height:25px; width:70px;margin-right:0px; color:#fff; line-height:25px; background:url(cion08.gif) repeat-x left top;text-align:center; border:none;}

.board_border2 textarea{border:#ccc solid 1px;}
.board_border{padding:0 10px 12px 0px;}

.board_border ul{margin:10px 0 0;}
.board_border li{margin-left:2em;color:#5c5c5c;}
.board_border2{padding:0 10px 12px 0px;}
.board_border2 td{ border:none;}
.board_border2 .select{line-height:24px; width:90px;}
.board_border2 .border{width:110px;}
.board_border2 .border_input{width:110px;border:#ccc solid 1px;height:18px;line-height:18px;color:#5c5c5c;}
.board_border2 textarea{width:150px;height:80px;margin-left:15px;color:#982222;}
.form td{padding:4px 0 2px 5px;color:#5c5c5c;}
.form span{ color:#5c5c5c;}
.sitemsg{margin:0;}
.sitemsg td{border-bottom:#ccc dotted 1px; padding:3px 0 2px 8px;}
.sitemsg .msgtitle{color:#5c5c5c;}
.sitemsg b{color:#982222;}



/*在线订单*/
textarea{color:#000; background:none;border:#ccc solid 1px;}
.table { font-size:12px; margin:0 auto; border-collapse:collapse;}
.table td{padding:3px 0 2px 5px;}
.input_txt{height:20px; line-height:20px;color:#000; background:none;border:#ccc solid 1px;}
.input_cmd{ width:50px; height:22px; line-height:22px;color:#000; background:none;border:#ccc solid 1px;margin:0 10px 0 0;}
.table span{color:#f00; padding:0 0 0 5px;}


.ilink-title{ background:url(cion01-.gif) repeat-x left top; height:28px; border-bottom:1px solid #eaeaea; }
.ilink-title h2{background:url(cion02.gif) no-repeat 12px 13px; margin:0; padding:3px 0 0 26px;color:#000000; font-size:14px; line-height:25px;}
.ilink{ padding:0 8px; word-break:break-all; color:#fe5b22; }


/*********************************************/

#slideshow{position:relative;height:200px;width:955px;}
	#slideshow div{position:absolute;top:0;left:0;z-index:3;opacity:0.0;height:200px;overflow:hidden;}
	#slideshow div.current{z-index:5;}
	#slideshow div.prev{z-index:4;}
	#slideshow div img { display:block;border:0; width:955px; height:200px; }


#imgAbout { float:left; width:200px; height:150px; margin:0 10px 5px 0; border:5px solid #ededed; }
#imgAboutHome { float:left; margin:0 15px 5px 0; border:5px solid #ededed; }/**/




dl.artlist { clear:both; overflow:hidden; margin:0 0 20px 0; padding-bottom:10px; border-bottom:1px dashed #999; font-size:12px; }
	.artlist dt { margin:5px 0; padding-left:15px; background:url(dot_black_b.gif) 0 center no-repeat; }
	.artlist h2 { margin:0; padding:0; /*font-family:"黑体","宋体"; font-weight:normal;*/ }
	.artlist span { float:right; color:#999 }
	.artlist dd { padding:0 15px; line-height:25px; }

ul.artlist2 { clear:both; overflow:hidden; margin:0 0 20px 0; padding-bottom:10px; }
	ul.artlist2 li { float:left; width:44%; _width:43.5%;  margin:5px 10px; padding-left:20px; background:url(cion06.gif) 6px center no-repeat; border-bottom:1px dashed #999; }
	ul.artlist2 h2 { margin:0; padding:0; /*font-family:"黑体","宋体"; font-weight:normal;*/ font-size:12px; }
	ul.artlist2 span { float:right; color:#999 }
	ul.artlist2 dd { padding:0 15px; line-height:25px; }

.artlisthome { clear:both; overflow:hidden; margin:0 0 20px 0; font-size:14px; }
	.artlisthome li { padding-left:15px; line-height:25px; background:url(cion02.gif) 5px 11px no-repeat; }



ul.prolist { }
	ul.prolist li { float:left; width:203px; height:140px; text-align:center;  }
	ul.prolist li .pro-img { overflow:hidden; width:203px; height:100px; margin:0 auto; /*background:url(picbox.jpg) center 0 no-repeat; border:1px solid #ff0000;*/ font-size:90px; display:table-cell; vertical-align:middle; }
	ul.prolist li img { vertical-align:middle; /* width:140px; height:85px;padding:6px; border:1px solid #FF0000;*/ }
	/*ul.prolist li A:hover img { background:#efefef; }*/
	ul.prolist li strong { display:block; font-weight:normal; padding:0 10px;
					width:183px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }

ul.prolistnew { }
	ul.prolistnew li { float:left; width:180px; height:130px; text-align:center;  }
	ul.prolistnew li .pro-img { overflow:hidden; width:180px; height:100px; margin:0 auto; /*background:url(picbox.jpg) center 0 no-repeat; border:1px solid #ff0000;*/ font-size:90px; display:table-cell; vertical-align:middle; }
	ul.prolistnew li img { vertical-align:middle; /* width:140px; height:85px;padding:6px; border:1px solid #FF0000;*/ }
	/*ul.prolist li A:hover img { background:#efefef; }*/
	ul.prolistnew li a { color:#828282 }
	ul.prolistnew li strong { display:block; font-weight:normal;
					width:180px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }

ul.prolisthome { clear:both;  }
	ul.prolisthome li { float:left; width:124px; height:130px; text-align:center;  }
	ul.prolisthome li .pro-img { overflow:hidden; width:124px; height:100px; margin:0 auto; /*background:url(picbox.jpg) center 0 no-repeat; border:1px solid #ff0000;*/ font-size:90px; display:table-cell; vertical-align:middle; }
	ul.prolisthome li img { vertical-align:middle; /* width:140px; height:85px;padding:6px; border:1px solid #FF0000;*/ }
	/*ul.prolist li A:hover img { background:#efefef; }*/
	ul.prolisthome li a { color:#828282 }
	ul.prolisthome li strong { display:block; margin-left:10px; font-weight:normal;
					width:114px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }

ul.prolist2 { margin:5px;  }
	ul.prolist2 li { float:left; width:150px; height:140px; text-align:center; }
	ul.prolist2 li .pro-img { width:150px; height:100px; margin:0 auto; /*background:url(picbox.jpg) center 0 no-repeat; border:1px solid #ff0000;*/ font-size:90px; display:table-cell; vertical-align:middle; }
	ul.prolist2 li img { vertical-align:middle; /* width:140px; height:85px;padding:6px; border:1px solid #FF0000;*/ }
	/*ul.prolist li A:hover img { background:#efefef; }*/
	ul.prolist2 li strong { display:block; font-weight:normal;
					width:150px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }


dl.dltags { overflow:hidden; clear:both; margin:40px 8px; }
	dl.dltags dt { float:left; width:130px;  }
	dl.dltags dd { float:left; width:530px; }

#fenye, .fenye { overflow:hidden; clear:both; height:25px; margin-top:10px; }
#fenye a, .fenye a { padding:0 5px; }
#fenye li{padding:0 5px;float:left;}


#unionpro { width:940px; }
