<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="applicable-device" content="pc">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{dede:field.title/} - {dede:global.cfg_titlelast/}</title>
<meta name="keywords" content="{dede:global.cfg_keywords/}" />
<meta name="description" content="{dede:global.cfg_description/}" />
<link href="{dede:global.cfg_templets_skin/}/style/cms.css?4.1.0_0" rel="stylesheet" type="text/css" />
<link href="{dede:global.cfg_templets_skin/}/style/style.css" rel="stylesheet" type="text/css" />
<!--[if lt IE 7]>
        <script type="text/javascript" src="/template/j007/lib/unitpngfix.js"></script>
<![endif]-->
<style type="text/css">
#memoryticker{
  width:184px;
  height:218px;
}
</style>
</head>
<body>
<div id="wrapper">
<div id="header" style="background:url({dede:global.cfg_templets_skin/}/images/bgimg0101.jpg) no-repeat left top; position:relative;">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="top">
  <tr>
    <td class="logo"><img src="{dede:global.cfg_templets_skin/}/images/20141013040104.png" alt="东光县盛强机电设备有限公司"/></td>
    <td class="topnav">
    <a href="/data/sitemap.html" title="网站地图">网站地图</a>|
    <a href="/data/rss.xml" title="RSS订阅">RSS订阅</a>
    <br />
    </td>
  </tr>
</table>
<div style="padding-top:81px;">
<div class="menu">
<a href="/"><span>首  页</span></a>
{dede:channel   type ='top'             }
<a href="[field:typelink/]"><span>[field:typename/]</span></a>
{/dede:channel}
<h6 class="clear"></h6>
</div>
</div>
</div>
<div id="imain">
<div id="left">
<div class="con2">
<div class="title1"><div class="place">您现在的位置:{dede:field name='position'/} > 详细内容
</div><h2>{dede:field name='typename'/}<span>News</span></h2></div>
<div class="container">
<div class="content">
    <div class="brief"><div class="brief_b"><div class="brief_t">
    <h3>{dede:field.title/}</h3>
    <h6>来源：{dede:field.source/} 发布时间：{dede:field.pubdate function="MyDate('Y-m-d H:i',@me)"/}  </h6>
    </div></div></div>
    <div class="detail" id="zoom">{dede:field.body/}<div>
文章《{dede:field.title/}》原创来自：<a href="{dede:global.cfg_basehost/}">{dede:global.cfg_indexname/}</a>
<p></p><p>与《{dede:field.title/}》相关文章：</p>{dede:likearticle row='5' titlelen='70'}<p>➟<a href="[field:arcurl/]">[field:title/]></p>{/dede:likearticle}
{dede:prenext get='pre'/}</div>
<div>
{dede:prenext get='next'/}</div>
</p></div>
    </div>
    <div class="title2"><h2>相关信息<span>Information</span></h2></div>
    <div class="comment_list">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
        {dede:likearticle mytypeid='3'  row='4'}
        <tr>
            <td><a href="[field:arcurl/]">[field:title/]</a></td>
        </tr>
        {/dede:likearticle}
        </table>
    </div>
    <div class="title2"><h2>相关产品<span>Related Products</span></h2></div>
    <div class="c_product_b">
        {dede:likearticle mytypeid='2'  row='4'}
            <div>
            <h2><a href="[field:arcurl/]"><img src="[field:picname/]" alt="[field:title/]" /></a></h2>
            <h3><a href="[field:arcurl/]">[field:title/]</a></h3>
            </div>
        {/dede:likearticle}
    </div>
</div>
</div>
</div>
<div id="right">
<div class="con1">
<div class="title"><h2>产品列表<span>Products</span></h2></div>
<div class="submenu">
<dl>
 {dede:channel  type ='son' typeid ='2'         }
        <dt><a href="[field:typelink/]" target="" title="[field:typename/]">[field:typename/]</a></dt>
{/dede:channel}
</dl>
</div>
</div>
<div class="con4" style="background:#ffffff url(/template/j007/images/contact.gif) no-repeat 25px bottom;">
<div class="title"><h2>联系我们<span>Contact Us</span></h2></div>
<div class="icontact"><p>联系人:穆经理</p>
<p>手机: 13833981717<br>
    &#160; &#160; &#160; &#160; 15231767418<br>
    &#160; &#160; &#160; &#160; 13833976920</p>
    <p>电话: 0317-7819686</p>
    <p>传真: 0317-7819686</p>
    <p>邮箱: <a href="mailto:dgshengqiang@126.com">dgshengqiang@126.com</a></p>
    <p>网址：www.dgshengqiang.com</p>
    <p>地址: 河北省东光县于桥派出所西</p>
</div>
</div>
</div>
<h6 class="clear"></h6>
</div>
<div id="footer">
<div class="footnav">
<div class="copyright"><div> Copyright{dede:global.cfg_webname/}
    <br>
    </div></div>
</div>
</body>
</html>
