<div class="layui-card">
    <div class="layui-card-body layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="username" required lay-verify="required"
                       placeholder="6-15个字符，由字母、数字、下划线组成" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="password" name="password" required lay-verify="required"
                       placeholder="6-15个字符，由字母、数字、下划线组成" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-inline">
                <input type="password" name="password2" required placeholder="请确认新密码"
                       lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">电话</label>
            <div class="layui-input-inline">
                <input type="text" name="phone" placeholder="可选" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">角色</label>
            <div class="layui-input-block">
                <input type="radio" name="role" value="管理员" title="管理员" checked>
                <input type="radio" name="role" value="VIP" title="VIP">
                <input type="radio" name="role" value="封禁" title="封禁">
            </div>
        </div>
        <button class="layui-hide" lay-submit lay-filter="submit">提交</button>
    </div>
</div>