body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li,pre,code,fieldset, lengend, button, input, textarea, th, td { margin: 0;padding: 0;}
ol, ul {list-style: none;}
a { text-decoration: none; outline:none }
a:hover { text-decoration: underline; }
fieldset, img { border: none; } 
table {border-collapse: collapse;border-spacing: 0;}
h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight: normal;}
button, input, select, textarea {font-size: 100%;}
address, caption, cite, code, dfn,em, strong, th, var, optgroup {font-style: normal;}
q:before, q:after { content: ''; }
:focus {outline:none;}  
body{ font:12px/1.5 Tahoma,Arial,"宋体",sans-serif}
#body{background:url("../images/body_bg.jpg") no-repeat top center fixed;}
   
.clearfix:after { content: "."; display: block; height: 0; clear: both;visibility: hidden; }
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;} 
.clearfix {display: block;} 
.fl{ float:left}
.fr{float:right}

.clear{ clear:both}

a:hover{ text-decoration:none}


.site-norecord{ color:#6A6A6A; text-align:center; font-size:12px;font-family:\5FAE\8F6F\96C5\9ED1; padding:30px 0}
.search-norecord{color: #595959;font-size: 14px;line-height: 27px; padding:50px 0 30px; text-align:center}
.search-norecord .txt{ color:#790103; font-weight:bold; padding:0 5px;}




　　

     
.form-customParaBox{ color:#616161}
.form-customParaBox .forminput{border: 1px solid #d6d6d6;color: #42474B;height: 17px;line-height: 17px;padding: 4px 2px 5px 5px;vertical-align: middle;}
.form-customParaBox .pr10{ padding-right:10px}
.form-customParaBox .formarea{border:1px solid #cecece; padding:3px 0 0 5px; color:#42474B}
.form-customParaBox .formselect{border:1px solid #cecece; padding:4px 3px 5px 3px;color:#42474B; *font-family:"Microsoft YaHei", Helvetica, Verdana, Arial, Tahoma; *font-size:14px; *line-height:1.5}
.form-customParaBox .valigntop{vertical-align: top;}
.form-customParaBox .valignmid{vertical-align:middle;}
.form-customParaBox .KjEditAddBlk span{ color:#616161}


a{ color:#6a6a6a}
a:hover{ color:#ff4889}
.w950{ width:950px; margin:0 auto; overflow:hidden}
.container-box{width:950px; margin:0 auto; padding:28px 10px 10px; overflow:hidden; background:url("../images/container_box_bg.png") repeat;border-left:1px solid #dbd9d6;border-right:1px solid #dbd9d6; box-shadow:0 0 8px #3d3d3d; position:relative;min-height:560px;
height:auto !important;height:560px;overflow:visible;}

.header-bar-wrap{ background:#f2f2f2; height:28px; position:absolute; left:0; top:0; padding:0 10px;z-index:40;}
.header-bar{color:#777777; width:950px; margin:0 auto;}
.header-bar .item{ float:right;}
.header-bar a{ color:#777777}
.header-bar a:hover{ color:#ff6206}
.loginhand,.header-ewm,.languages,.header-carthd{height:29px; line-height:29px}
.loginhand{text-align:right}
.loginhand .logout{ padding-left:5px;}
.loginhand .loginName{ text-decoration:underline}

.header-cart{ position:relative; z-index:40}
.header-carthd{ padding:0px 13px; margin-left:10px;overflow:hidden; z-index:40; position:relative;width:90px; }
.header-carthd a{ padding:0 0px 0 20px;background:url("../images/cartIcon.png") no-repeat left center;}
.header-carthd em{ color:#F00;padding:0 3px; font-weight:bold}
.header-cartbd{ background:#fff; position:absolute; right:0; top:28px; width:330px; padding:15px 5px 15px 20px; border:1px solid #d7d7d7; display:none}
.cartSp-listWrap{overflow-y:scroll;max-height:365px;height:auto !important;height:365px;}
.cartSp-list .pic{ width:51px; height:51px; border:1px solid #dadada; overflow:hidden; float:left;}
.cartSp-list .name{ float:left; width:175px; overflow:hidden; padding-left:10px}
.cartSp-list .name:hover{ color:#c10000; text-decoration:underline}
.cartSp-list .hand{ float:left; width:75px; text-align:center}
.cartSp-list .price{ display:block; color:#c10000; font-family:"微软雅黑"}
.cartSp-list .del{ color:#3366cc; text-decoration:underline}
.cartSp-list .del:hover{ color:#c10000; text-decoration:underline}
.cartSp-list li{ padding:10px 0}
.header-cartHover .header-carthd{ background:#fff; border-left:1px solid #d7d7d7;border-right:1px solid #d7d7d7;padding:0 12px;}
.header-cartHover .header-cartbd{ display:block}
.goto-count{ text-align:right; padding:0px 10px 0 0;}
.goto-count a{background: none repeat scroll 0 0 #E4393C;border-radius: 5px 5px 5px 5px;color: #FFFFFF;display: inline-block;font-weight: 700;height: 30px;line-height: 30px; margin-top: 6px; text-align: center;width: 100px;}
.goto-count a:hover{ text-decoration:underline; color:#fff}
.cart-amountCount{ text-align:right; padding:10px}
.cart-amountCount b {color: #E4393C;margin: 0 5px;}
.cart-amountCount strong {color: #E4393C;font-size: 18px; font-family:\5FAE\8F6F\96C5\9ED1; font-weight:normal;}
.cart-notgoods{ text-align:center; color:#808080}
.cartSp-buyDw{border-top:1px solid #eee;}
.cartSp-buyDw .cart-amountCount{ float:left}
.cartSp-buyDw .goto-count{ float:right}

.languages{ margin-left:3px;width:75px}
.header-ewm{ padding-left:6px; position:relative; z-index:40; margin-left:12px; width:70px}
.header-ewm .oncurr{ color:#a5a5a5}
.ewm-hd{width:80px}
.ewm-hd em{  background:url("../images/ewm_icon.png") no-repeat left center; padding-left:20px;cursor:pointer;}
.ewm-hd em b{background:url("../images/ewm_jt_icon.png") no-repeat right center; padding-right:10px; font-weight:normal}
.ewm-hd em:hover{ color:#a5a5a5; }
.ewm-bd{ position:absolute; right:0; top:29px; display:none}
.ewm-detail{ background:#fff; padding:20px 20px 10px; border:1px solid #dcdcdc; border-top:none}
.ewm-detail .pic{ width:129px; height:129px; overflow:hidden}
.ewm-detail .txt{ height:25px; line-height:25px; text-align:center; color:#7e7e7e; text-align:center; width:129px;}





.header-logo{ height:71px; overflow:hidden;}
.header-logo .logo{float:left}
.header-logo .phone{ float:right; background:url("../images/phone.png") no-repeat left center; padding-left:30px; height:21px; line-height:21px; margin-top:25px; color:#525252}

.nav-wrapbox{width:950px; margin:0 auto; position:relative;*z-index:10}

.nav-wrap{ position:relative;float:left; width:950px;}
.nav-list li{float:left;display:inline;width:104px; margin-right:1px;}
.nav-list li a{display:block; width:104px; height:36px; overflow:hidden;line-height:36px;text-align:center;font-family:\5FAE\8F6F\96C5\9ED1; font-size:14px; color:#595959; padding-top:3px;background:#ff4889;color:#fff}
.nav-list li a:hover{color:#fff; background:#3d446e}
.nav-list li.oncurr a{background:#3d446e;color:#fff;}
.nav-list li.onHover a{background:#eb2269; color:#fff}
.nav-list li ul{position:absolute; height:0; overflow:hidden; left:0;}
.nav-list li ul li{ float:none; width:auto;}
.nav-list li ul li a{ display:block;white-space:nowrap; width:auto;_display:inline-block; padding:0 10px;overflow:visible;}
.floatMenuWrap{ background:url("../images/nav_sub_bg.png") repeat}
.floatMenuWrap .floatContentBox{background:url("http://site77.cs3.chunsuns.com/Templates/Template3/css/images/nav/float_bg.png") repeat; }
.floatMenuWrap .nav-subSingle li{ float:none; display:block}
.floatMenuWrap .nav-subSingle li a{ width:100%;_padding:0; display:inline}
.floatMenuWrap .nav-sub li{ border-left:none; height:32px; line-height:32px; border-bottom:1px solid #e83c79; float:left; display:inline; width:100%}
.floatMenuWrap .nav-sub li a{font-family:\5FAE\8F6F\96C5\9ED1; font-size:14px; color:#fff;display:block; height:32px; overflow:hidden; padding:0 10px;}
.floatMenuWrap .nav-sub li a:hover{ color:#fef7c4; }
.floatMenuWrap ul.center li{ text-align:center}
.floatMenuWrap ul.left li{ text-align:left}
.floatMenuWrap ul.right li{ text-align:right}
.floatArrow{left:0; top:0px; position:absolute;}




.friendlink{ clear:both; margin-top:23px; float:left; width:100%}
.friendlink .tit{font-family:\5FAE\8F6F\96C5\9ED1; font-size:16px; border-bottom:2px solid #3d446e; display:block; line-height:28px;height:28px;}
.friendlink-list{ padding:8px 0 10px}
.friendlink-list a{ display:block; float:left; line-height:23px; line-height:23px; padding:0 20px}

.footer{ border:1px solid #e4e2e1; background:#f2f2f2;margin-top:10px; padding:0 10px; clear:both; min-height:97px;
     height:auto !important;
     height:97px; }
.footer-lf{ float:left; margin-top:25px; width:735px;}
.footer-nav{ color:#c1babf}
.footer-nav a{ padding:0 10px 0 9px; background:url("../images/friendlink_bg.png") no-repeat right 3px}
.footer-nav a.last{ background:none}
.copyright{ color:#727272; line-height:25px; margin-top:6px; padding-left:10px}

.footer-ewm{ float:right; height:77px; margin-top:10px}
.footer-ewm .tit{ float:left; width:73px; color:#727272; line-height:23px; margin-top:15px; padding:0 10px}
.footer-ewm .pic{ float:left; width:72px; height:72px; overflow:hidden; padding:5px; background:#fff}




*html{_background-image:url(about:blank); _background-attachment:fixed; zoom:1;}
.kf-online2-wrap{position:fixed; right:0;top:120px;color:#FFF; _position:absolute; _top:expression(document.documentElement.scrollTop+(parseInt(this.currentStyle.marginTop,10)||120)); z-index:20}
.kf-online2-box{position:relative;overflow:hidden;padding-top:21px}
.kf-online2-openBtn{ width:33px; height:117px; background:url("../images/kf-online2.png") no-repeat 0 -60px; float:left; margin-top:63px; cursor:pointer}
.kf-online2-bd{ float:left; background:#f15f5f; border-radius:5px; padding-bottom:5px; width:130px; overflow:hidden; position:relative; display:none}
.kf-online2-bd .hd{ background:url("../images/kf-online2.png") no-repeat 0 0; height:60px; width:130px;}
.kf-online2-itemWrap{ background:#fff; width:120px; margin:0 auto;min-height:130px;height:auto !important;height:130px;overflow:visible;}
.kf-online2-item{ padding:5px 10px 12px}
.hx-shadow2{ text-align:left; padding:3px 0}
.kf-online2-list{ padding:0 8px; text-align:center}
.kf-online2-item .tit{color:#7a7a7a; font-size:12px; height:31px; line-height:31px;}
.kf-online2-closeBtn{ width:12px; height:12px; background:url("../images/kf-online2.png") no-repeat -130px 0; position:absolute; right:5px; top:5px}




.CSadvert-listWrap .advert-numlist { bottom:0px;text-align: center; width: 100%; z-index: 30;background-color:rgba(0, 0, 0, 0.7); filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000); padding:10px}
.CSadvert-listWrap .advert-numlist li { width: 8px; height: 8px; border-radius: 50%; background: #ff4889; margin: 0 3px; display: inline-block; *display:inline;
*zoom:1;cursor:pointer; overflow:hidden;}
.CSadvert-listWrap .advert-numlist li span{ text-indent:-9999px; display:inline-block}
.CSadvert-listWrap .advert-numlist li.oncurr { background: #fff }


.friendlink-list li{ display:inline; margin-right:0px; list-style:none}
.friendlink-list a{ padding-left:0px;}
.pagination-box li{ display:inline; line-height:30px;}
.pagination-box li a{ line-height:20px;}
.pagination-box li.thisclass{text-decoration:none; background:#ff4889;color:#fff;padding:9px 12px 10px;}

