.banner{ height:355px; overflow:hidden; width:950px;}
.banner-box{margin-top:12px; width:950px; overflow:hidden}

.bs-prev,.bs-next{width:18px; height:31px; background:url("../images/banner_icon.png") no-repeat; z-index:15; position:absolute; top:162px}
.bs-prev{ background-position:0 0; left:10px}
.bs-next{ background-position:-18px 0; right:10px}
.bs-numlist{ position:absolute; bottom:7px; text-align:center; width:100%; z-index:30}
.bs-numlist li{ width:12px; height:12px; border-radius:50%; background:#ff4889;margin:0 3px; display:inline-block;*display:inline;
*zoom:1; cursor:pointer}
.bs-numlist li.oncurr{ background:#fff}
.panel-hd1{ height:41px; line-height:41px; border-top:2px solid #3d446e;}
.panel-hd1 .tit { float:left; font-size:16px; color:#000;font-family:\5FAE\8F6F\96C5\9ED1}
.panel-hd1 .more { float:right; background:url("../images/moreIcon4X7.png") no-repeat right center; padding-right:10PX; font-family:Arial; font-size:10px; color:#808080}
.panel-hd1 .more:hover{ color:#ff4889}

.h-contactIntrobox{color:#4c4c4c; line-height:21pxcolor:#4c4c4c; line-height:21px}
.h-contactIntrobox a{color:#ff4889;}
.h-contactIntrobox a:hover{text-decoration:underline}
.news-bd .pic{ width:98px; height:65px; overflow:hidden; margin-right:10px; float:left}
.news-bd .txt { color:#4c4c4c; line-height:18px; color:#808080;}
.news-bd .txt a{color:#333333; font-size:14px; display:block}
.news-bd .txt a:hover{ text-decoration:underline; color:#ff4889}
.news-bd .txt p{ margin-top:8px}
.news-bdlist{ padding-top:15px}
.news-bdlist li{ height:23px; line-height:23px; background:url("../images/news_bdlist_li.png") no-repeat left center; padding-left:10px}
.news-bdlist li a{}
.news-bdlist li span{ float:right; color:#808080}

.proshow-list{ margin-left:-9px; height:316px; overflow:hidden;_margin-left:-7px; position:relative}
.proshow-list li { width:230px; overflow:hidden; float:left; margin-left:9px; height:316px; display:inline; _margin-left:7px}
.proshow-list li a{ display:block}
.proshow-list li a .pic {position:relative; width:230px; height:229px; overflow:hidden}
.proshow-list li a .shade-wrap{position:absolute; left:0; top:0; height:229px; width:230px;visibility:hidden;background-color:rgba(0, 0, 0, 0.7); filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);}
.proshow-list li a .shade{color:#fff; line-height:23px; font-weight:bold; padding:0 10px; position:absolute}
.proshow-list li a .txt { height:87px; background:#3d446e; padding:0 10px; color:#fff}
.proshow-list li a .txt h3{font-family:\5FAE\8F6F\96C5\9ED1; font-size:16px; padding:10px 0 0; height:24px; overflow:hidden;}
.proshow-list li a .txt p{ margin-top:15px; line-height:18px; height:36px;}
.proshow-list li a .txt .jt{ display:inline-block; width:14px; height:13px; overflow:hidden; background:url("../images/proshow_list_jt.png") no-repeat left top; vertical-align:middle; margin-left:8px}
.proshow-list li.oncurr a .shade-wrap{ visibility:visible}
.proshow-list li.oncurr a .txt{ background:#ff4889}
.proshow-list li.oncurr a .txt .jt{ background-position:0 -13px}


.h-profloatbox{background:#ffffff;}
.h-profloathd{ height:45px; line-height:45px; background:#ff4889; padding:0 9px; color:#ffffff}
.h-profloathd .tit { float:left; font-size:18px;font-family:\5FAE\8F6F\96C5\9ED1; }
.h-profloathd .more{ float:right; color:#fff;padding-right:8px; font-size:12px; font-family:Arial; font-size:10PX}
.h-profloathd .more:hover{ text-decoration:underline}
.h-profloatbox .panel-hd1{ padding:0 10px}
.h-profloatlist{ padding:0 10px}
.h-profloatlist li{ height:35px; line-height:35px; border-bottom:1px dotted #c4c7cc; padding:0 15px 0 8px; overflow:hidden}
.h-profloatlist li a{ color:#5c5f65; padding-left:14px;background:url("../images/h-profloatlist_jt.png") no-repeat left center;font-family:\5FAE\8F6F\96C5\9ED1; font-size:14px;}
.h-profloatlist li a:hover{ text-decoration:underline; color:#ef5344}


  .newslist-type3 li{padding:5px 0 5px 10px;border-bottom:1px dotted #abaeb3;font-family:\5FAE\8F6F\96C5\9ED1;background:url("../images/newslist-type3_bg.png") no-repeat left center;}
  	.newslist-type3 li a{color:#5c5f65;font-size:14px;}
	.newslist-type3 li a:hover{color:#ff4889;}
	.newslist-type3 li span{float:right;color:#b3b3b3;font-size:12px;}

.newslist-type2 li{margin:12px 0;}
.newslist-type2 li .pic{float:left;margin-right:10px;display:inline;}
.newslist-type2 li .pic a{display:block;border:2px solid #d9d9d9;width:85px;height:70px;overflow:hidden;}
.newslist-type2 li .pic a:hover{ border-color:#cb0309}
.newslist-type2 li .txt{color:#a6a6a6;line-height:20px;}
.newslist-type2 li .txt h2 a{color:#636466;font-size:14px;font-family:\5FAE\8F6F\96C5\9ED1;line-height:20px;}
.newslist-type2 li .txt h2 a:hover{color:#ff4889;}
.newslist-type2 li .txt .intro{color:#a6a6a6;line-height:20px;}
.newslist-type2 li .time{color:#b5b4b4;font-size:12px;}


.proshow-list-scrollbox{ position:relative; width:950px; overflow:hidden; overflow:hidden;}
.proshow-list-scrollbox .proshow-list-box{ width:9999px;}
.proshow-list-scrollbox .proshow-list{ float:left;}







































