
<div class="topbg"></div>
  <div id="top">
	<div class="floatl">
	<a href="/" title="#"><img src="{dede:global.cfg_templets_skin/}/images/logo.png" width="237px" height="86px" alt="{dede:global.cfg_indexname/}" style="margin-top:12px; margin-left:10px;" /></a>
	</div>
	<div class="sidebar floatr">
	<ul class="list-style">
	<li><a href='#' onclick='SetHome(this,window.location);' style='cursor:pointer;' title='设为首页'>设为首页</a></li>
	<li><a href='#' onclick='addFavorite();' style='cursor:pointer;' title='收藏本站'>收藏本站</a></li>
	<li class="lang">繁体中文</li>
	<li><a href='/' title='English'>English</a></li>
	</ul>
	<div class="seo"><b>{dede:global.cfg_webname/}欢迎您，{dede:global.cfg_description/}</b></div>
	</div>
	<div class="clear"></div>
  </div>
  <div id="nav" class="top-nav">
	<div class="top-nav">
	<ul class="top-nav list-style">
		<li id="nav_10001"><a href="/" title="首页"><span>首页</span></a></li>
		<li class="line top-nav"></li>
{dede:channel type='top' row='10'}
<li id="nav_1"><a href='[field:typeurl/]' [field:rel/]><span>[field:typename/]</span></a></li><li class="line top-nav"></li>
{/dede:channel}
	</ul>
	</div>
  </div>
