	<div id="top">
		<div class="logo"><a href="{dede:global.cfg_basehost/}"><img src="{dede:global.cfg_templets_skin/}/images/logo.gif" alt="{dede:global.cfg_titlelast/}" /></a></div>
		<div class="tel"><span><a href="#" rel="nofollow">联系我们</a> | <a href="javascript:window.external.AddFavorite('{dede:global.cfg_basehost/}','{dede:global.cfg_titlelast/}')" rel="nofollow">加入收藏</a></span></div>
		<div class="menu">
			<ul class="main">
				<li class="home"><a href='/' title="{dede:global.cfg_indexname/}">网站首页</a></li>
				{dede:channel type='top' currentstyle="<li><a href='~typelink~' ~rel~>~typename~</a></li>"}
				<li><a href="[field:typeurl/]" title="[field:typename/]">[field:typename/]</a></li>
				{/dede:channel}
			</ul>
		</div>
	</div>
