<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="applicable-device" content="pc">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{dede:field.title/}-{dede:global.cfg_titlelast/}</title>
<meta http-equiv="x-ua-compatible" content="ie=7" />
<meta name="keywords" content="{dede:field.keywords/}" />
<meta name="description" content="{dede:field.description function='html2text(@me)'/}" />
<link href="{dede:global.cfg_templets_skin/}/css/style.css" rel="stylesheet" media="screen" type="text/css" />
<link rel="stylesheet" type="text/css" href="{dede:global.cfg_templets_skin/}/css/page.css">
</head>
<body>
<div id="wrap">
{dede:include filename="head.htm"/}
<div class="banner"><img src="{dede:global.cfg_templets_skin/}/images/banner_news.jpg" alt="{dede:type}[field:typename /]{/dede:type}" /></div>
<div id="mainbody">
	<div id="right">
		<div class="place">当前位置: <a href="{dede:global.cfg_basehost/}/">首页</a> > {dede:type}<a href="[field:typeurl /]">[field:typename /]</a>{/dede:type}  > </div>
		<div id="content">
			<div class="newlist">
				<ul>
				{dede:list pagesize='20'}
						<li [field:global runphp='yes' name=autoindex]
		$a="id='a'";
		$b="id='b'";
		if ((@me%2)==0) @me=$a;
		else @me=$b;
		[/field:global] >
				<span class="date">[[field:pubdate function="MyDate('y-m-d',@me)"/]]</span><a href="[field:arcurl/]">[field:title/]</a></li>
				{/dede:list}
					</ul>
			</div>
					<div class="dede_pages">
						{dede:pagelist listitem="info,index,end,pre,next,pageno" listsize="5"/}
					</div>
		</div>
	</div>
	<div id="left">
		<div class="cat">
			<div class="t">栏目导航</div>
			<div class="c">
				<ul>
					{dede:channel type='top'}
					<li><a class="" title="[field:typename /]" href="[field:typeurl /]">[field:typename /]</a></li>
					{/dede:channel}
				</ul>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
</div>
<div class="cb"></div>
{dede:include filename="footer.htm"/}
</body>
</html>
