.jcarousel * {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.jcarousel DIV {
	FLOAT: left
}
.jcarousel UL {
	Z-INDEX: 1; POSITION: absolute; LIST-STYLE-TYPE: none; BOTTOM: 5px; DISPLAY: block; RIGHT: 5px; LIST-STYLE-IMAGE: none
}
.jcarousel UL LI {
	TEXT-ALIGN: center; FILTER: alpha(opacity=80); LINE-HEIGHT: 15px; MARGIN: 3px; WIDTH: 15px; FONT-FAMILY: Arial; BACKGROUND: #fff; FLOAT: left; HEIGHT: 15px; COLOR: #990000; FONT-SIZE: 12px; opacity: 0.8; _display: inline
}
.jcarousel A IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.jcarousel UL LI.lihover {
	BACKGROUND: #ff6600; COLOR: #fff;
}
