/*
BotAdmin-站掌门 AI智能站群系统
www.botadmin.cn
QQ:38050123
*/﻿
@charset "utf-8";
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;outline:0;border:0;background:transparent;vertical-align:baseline;font-size:100%;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
html{font-size:10px;-webkit-tap-highlight-color:rgba(0,0,0,0)}
body{    background: #f5f5f5;color: #666;font-family:"Microsoft Yahei",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
nav ul{list-style:none;}
nav ul{list-style:none;}
li{list-style: none;}

#wap_ad{display:none}

#wap_ad>a>img{width:100%}

@media screen and (max-width:959px){
    #pc_ad{display:none}
    #wap_ad{display:block}
}


blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:none;}
a{margin:0;padding:0;background:0 0;color:#666;vertical-align:baseline;text-decoration:none;font-size:100%;-webkit-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
a:hover,a:focus{color:#e94c3d;text-decoration:none;cursor:pointer;}
img{margin: 0;padding:0;max-width: 100%;height: auto;}
/*----------- container -----------*/
.container{margin:0 auto;max-width:1200px;padding:0 20px}
.containe{position:relative;max-width:1160px;margin:0 auto;color:#fff;padding:40px 130px 38px 154px}
/*----------- header -----------*/
.header{width:100%;height:214px;display:block;background:#262627 url(../images/banner.jpg) no-repeat center top;background-size:100% 100%}
.logo{position:absolute;left:0;top:40px;width:132px;height:132px;border-radius:100%;border:6px solid #f3f5f9;overflow:hidden;background:#f3f5f9;transition:transform .4s ease-out}
.logo:hover{box-shadow:0 0 10px #fff;-webkit-box-shadow:0 0 10px #fff;transform:rotateZ(360deg);-webkit-transform:rotateZ(360deg);-moz-transform:rotateZ(360deg)}
.logo img{width:100%;height:100%}
.blog-info{padding-top:18px;color:#5c5c5c}
.blog-name{margin-bottom:15px;color:#fff;font-size:26px;font-weight:800;line-height:26px}
.blog-v{display:inline-block;background-image:url(../images/blog-v.png);background-repeat:no-repeat;background-size:15px;width:15px;height:15px;margin-left:12px}
.blog-text{font-size:14px;margin-bottom:10px;color:#ccc}
.blog-data{color:#ccc}
.blog-data .blog-num{margin-right:26px;font-size:14px;line-height:42px}
.blog-data .blog-num b,.blog-data .blog-view b{margin-left:15px;font-size:26px;color:#e94c3d}
.blog-data .blog-view{font-size:14px;line-height:42px;margin-left:30px}
.blog-login{display:block;position:absolute;right:0;top:87px}
.blog-login .btn{background:#e94c3d;border-radius:20px;height:40px;line-height:40px;color:#fff;font-size:16px;display:inline-block;padding:0 30px}
.blog-login .btn i{padding-right:5px}
.header-nav{position:relative;width:100%;float:left;background-color:#e94c3d;}
.fixed {position: fixed;top: 0;left: 0;right: 0;width: 100%;z-index: 99999;opacity: 0.9;}
.navbar{clear:both;position:relative;z-index:1}
.navbar li{float:left;display:block;text-align:center;position:relative}
.navbar li a{display:block;padding:15px;color:#ffffff;font-size:16px;font-weight:500}
.navbar li.active,.navbar li.on{background-color: rgba(0,0,0,0.1)}
.header .moble-bars{display:none}
.title_n{display: none;}
.header menu>div>ul>li:hover>ul{display:block}
.header menu>div>ul>li>ul{position:absolute;width:140%;top:100%;right:-20%;text-align:center;background-color:#fff;display:none;transition:.3s all;border-top:2px solid #eee;padding:10px 0}
.header menu>div>ul>li>ul>li a{float:none;display:block;padding:5px 20px 4px;color:#333}
.header menu>div>ul>li>ul>li,.header menu>ul>li>ul>li>a{width:100%;line-height:30px;padding:0;margin:0;font-size:14px;color:#686967!important}
.header menu>div>ul>li>ul>.on{background-color:#eee;color:#fff!important}
.header menu>div>ul>li>ul>.on a{color:rgba(0,0,0,0.1)!important}
.navbar li a:hover{background-color:rgba(0,0,0,0.1)}

/*----------- search-top -----------*/
.pull-right{float:right;margin-top:5px;position:relative}
.pull-right form input{width:130px;border-radius:25px;border:1px solid #efefef;font-size:14px;padding:5px 35px 5px 25px;transition:width .3s linear;background:#fff;height:42px;outline:0}
.pull-right form input:focus{width:180px}
.pull-right form button{position:absolute;right:15px;top:10px;color:#ddd;background:0 0;border:none;padding:0;margin:0;line-height:normal;font-size:17px;font-weight:300;outline:0;cursor:pointer}
/*----------- breadcrumb -----------*/
.breadcrumb{max-width: 1200px; margin: 0 auto; height: 35px; line-height: 35px; padding: 0 20px;    clear: both;overflow: hidden;}
.fa-angle-right,.fa-bullhorn{font-size: 16px; margin: 0 4px;}
/*----------- slider -----------*/
.slider{margin: 0 auto;max-width: 1200px;overflow:hidden}
.slider .slideBox{width:100%;height:100%;margin-bottom:20px;border: 1px solid #eee;position:relative}
.slider .slideBox .bd{position:relative;height:100%;z-index:0}
.slideBox .bd ul li,.slider .slideBox .bd ul{width:100%!important}
.slider .slideBox .bd img{width:100%;height:500px;display:block}
.slideBox .next,.slideBox .prev{width:60px;height:90px;margin:-60px 0 0;display:none;background:url(../images/ad_ctr.png) no-repeat 0 0;position:absolute;top:50%;z-index:10;cursor:pointer;text-indent:-9999px;filter:alpha(opacity=20);opacity:.2}
.slideBox .prev{left:0}
.slideBox .next{background-position:0 -90px;right:0}
.slideBox .next:hover,.slideBox.prev:hover{filter:alpha(opacity=50)!important;opacity:.5!important}
.slideBox .hd{width:100%;position:absolute;z-index:1;bottom:0;left:0;height:30px;line-height:30px;text-align:center}
.slideBox .hd ul li{cursor:pointer;display:inline-block;zoom:1;width:11px;height:11px;margin:4px;background:url(../images/dot-black.png) 0 0;overflow:hidden;line-height:9999px;filter:alpha(opacity=40);opacity:.4}
.slideBox .hd ul .on{filter:alpha(opacity=100);opacity:1}
/*----------- article  -----------*/
.content-wrap{width:100%;float:left}
.article{min-height:600px;margin-right:370px}
.archive-head{margin-bottom:20px;padding:15px 20px;overflow:hidden;background-color:#fff;border-top:1px solid #eee;position:relative}
.archive-head h1{margin-bottom:10px;font-size:20px}
.archive-list p{line-height:22px}
.post{margin-bottom:20px;padding:20px;overflow:hidden;background-color:#fff;border:1px solid #eee;border-radius:2px;-webkit-transition:all .4s ease;transition:all .4s ease;position:relative}
.post h2 a:hover{color:#e94c3d}
.post:hover{box-shadow:0 0 8px rgba(46,143,237,.3)}
.istop{padding:15px 30px}
.post header{position:relative}
.post header h2{padding-bottom:10px;font-size:18px;line-height:24px}
/*----------- post -----------*/
.istop .post-title{font-size:18px}
.post-img{float:left;margin-right:2.8169014084507%;margin-left:0;max-width:330px;width:30%;height:auto;position:relative}
.post-img .mask-tags{position:absolute;top:0;left:0;color:#fff;padding:2px 10px;font-size:12px;display:block;background:#f45170;z-index:50}
.post-text{font-size:14px;line-height:24px;display:block}
.post footer{color:#999;height:auto;margin:8px 0 0}
.post footer span{font-size:13px;color:#999;margin-right:10px;display:inline-block}
.post footer span a{color:#999;}
.post footer span .fa{width:13px;display:inline-block;margin-right:4px;font-size:13px}
/*----------- lazy -----------*/
.loading {
	background: #EEE url(../images/lay.gif) center center no-repeat;
	min-height: 130px
}
.b-lazy {
	-webkit-transition: opacity 500ms ease-in-out;
	-moz-transition: opacity 500ms ease-in-out;
	-o-transition: opacity 500ms ease-in-out;
	transition: opacity 500ms ease-in-out;
	max-width: 100%;
	opacity: 0
}

.b-lazy.b-loaded {
	opacity: 1;
	vertical-align: middle
}
/*----------- pagination -----------*/
.pagination{margin:20px 0 20px;text-align:center;display:block}
.pagination a{text-align:center;display:inline-block;color:#fff;background:#e94c3d;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px}
.pagination a i{width:36px;height:36px;line-height:36px}
.pagination a:hover{background:#505050;text-decoration:none;color:#fff}
.pagination .page-number{background:#e94c3d;color:#fff;margin:0 3px;display:inline-block;line-height:36px;padding:0 14px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px}
/*----------- sidebar -----------*/
.sidebar{float:left;margin-left:-360px;width:360px;position:relative}
.widget{background-color:#fff;border:1px solid #eee;overflow:hidden;padding:15px 20px 10px 20px;margin-bottom:20px}
.widget-tie h3{padding-bottom:10px;margin-bottom:21px;border-bottom:1px solid #ebebeb;font-size:15px;position:relative}
.widget-tie h3:after{content:"";width:70px;height:1px;background:#e94c3d;position:absolute;left:0;bottom:-1px}
.widget ul{margin:0;list-style:none}
.following{width:360px;}.following2{position:fixed;_position:absolute;top:65px;z-index:999;}
/*divPrevious*/
.divPrevious li{position:relative;margin-top:20px;overflow:hidden}
.divPrevious li.previous-1{margin-bottom:0}
.divPrevious li.previous-1 .previous-recent-title{position:absolute;bottom:0;left:0;right:0;background:rgba(0,0,0,.5);padding:5px 15px;margin-left:0}
.divPrevious li.previous-1 .previous-one-img{float:none;width:auto;height:auto;max-height:initial;position:relative;margin-top:0}
.divPrevious li.previous-1 .previous-one-img img{width:320px;height:180px;vertical-align:middle}
.divPrevious li.previous-1 .previous-recent-title h4{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.divPrevious li.previous-1 .previous-recent-title h4 a{color:#E4E4E4}
.divPrevious li.previous-1 .previous-recent-title span{color:#CCC}
.divPrevious li .previous-one-img{float:left;width:75px;height:auto;max-height:75px;position:relative;margin-top:3px}
.divPrevious li .previous-one-img img{width:75px;height:auto}
.divPrevious li .previous-recent-title{margin-left:85px}
.divPrevious li .previous-recent-title h4{font-size:13px;font-weight:400;line-height:1.6;margin-bottom:0}
.divPrevious li .previous-recent-title span{font-size:12px;color:#9A9A9A}
/*social*/
.social ul{text-align:center;margin-bottom:15px}
.social p.title{padding:0;border-bottom:solid 1px #EAEAEA;position:relative;text-align:center;margin:0 10px;margin-bottom:35px;font-size:15px;color:#666;overflow:initial}
.social p.title span{position:relative;bottom:-12px;padding:0 10px;background:#FFF}
.social a.social_a{background:#222;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;color:#fff;font-size:16px;display:inline-block;width:40px;height:40px;line-height:40px;text-align:center}
.social a.social_weibo{background:#F52C71}
.social a.social_tencent{background:#00A2FF}
.social a.social_qq{background:#00C5FF}
.social a.social_email{background:#FF6B00}
.social a.social_weixin{background:#01C271}
.social a.social_qun{background:#8A3BFF}
.social a.social_weixin:hover .weixin{display:block}
.social a.social_weixin .weixin{display:none;position:absolute;top:120px;left:145px;width:200px;height:200px;padding:5px;background:#01C271;z-index:999}
/*----------- widget-thumb -----------*/
.widget-thumb{margin: 10px 0; min-height: 55px; height: auto;}
.widget-thumb .post-thumbnail{float:left;margin:0 10px 0 0;}
.widget-thumb .post-thumbnail img{padding:4px;width: 55px;height: 55px;border:1px solid #eee;-webkit-border-radius:27px;-moz-border-radius:27px;border-radius:27px;background:#fff;-webkit-box-shadow:inset 0 -1px 0 #3333sf;box-shadow:inset 0 -1px 0 #3333sf;-webkit-transition:0.4s;-webkit-transition:-webkit-transform 0.4s ease-out;-moz-transition:-moz-transform 0.4s ease-out;transition:transform 0.4s ease-out;}
.widget-thumb .post-thumbnail:hover img{border:1px solid #ccc;-webkit-box-shadow:0 0 10px #fff;box-shadow:0 0 10px #fff;-webkit-transform:rotateZ(360deg);-moz-transform:rotateZ(360deg);transform:rotateZ(360deg);rgba(255,255,255,.6),inset 0 0 20px rgba(255,255,255,1);-webkit-rgba(255,255,255,.6),inset 0 0 20px rgba(255,255,255,1);-}
.widget-thumb a{line-height: 24px;}
.widget-thumb span.date{margin: 5px 0 0 10px; color: #AAA; font-size: 85%;}
/*----------- divComments -----------*/
.divComments li .author-info{margin-top:20px;height:29px;line-height:29px;font-size:12px;padding:0}
.divComments li .author-info .avatar{float:left;width:29px;height:29px;border-radius:50%;margin-right:15px}
.divComments li .author-info i{font-style:normal;color:#333;float:left;text-indent:5px;font-size:16px}
.divComments li .author-info span{color:#bbb;float:right}
.divComments li .comment-inner p{font-size:14px;color:#333;line-height:22px;margin:5px 0 5px 48px}
.divComments li .comment-refer{position:relative;height:43px;line-height:43px;padding-left:48px}
.divComments li .comment-refer .fa-quote-left{width:21px;height:15px;font-size:18px;position:absolute;left:10px;top:5px;color:#38A3DB}
.divComments li .comment-refer .t{font-size:12px;color:#999;height:21px;line-height:21px;overflow:hidden;display:inline-block}
.divComments li .comment-refer .t a{color:#999;font-style:normal;margin-left:5px}
.divContorPanel ul{text-align:center}
.cp-hello{line-height:35px;font-size:14px;color:#666}
.cp-login{line-height:35px;font-size:14px;color:#666}
.cp-vrs{line-height:35px;font-size:14px}
.divArchives li,.divAuthors li,.divCatalog li,.divFavorites li,.divLinkage li,.divNavBar li,.divStatistics li{padding-bottom:5px;margin-bottom:5px}
.divArchives li a,.divAuthors li a,.divCatalog li a,.divFavorites li a,.divLinkage li a,.divMisc li a,.divNavBar li a,.divStatistics li{color:#555;font-size:14px;margin-right:24px;-o-transition:.3s;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s}
.divArchives li:hover a,.divAuthors li:hover a,.divCatalog li:hover a,.divFavorites li:hover a,.divLinkage li:hover a,.divNavBar li:hover a,.divStatistics li:hover{padding-left:20px;-o-transition:.3s;-ms-transition:.3s;-moz-transition:.3s;-webkit-transition:.3s}
.divMisc li{float:left;width:43%;margin-right:10px;padding-top:18px;padding-bottom:18px}
.divTags li{float:left;padding:12px 0 15px}
.divTags li{font-size:12px;color:#fff;background-color:#428BCA;display:inline-block;margin:0 5px 5px 0;padding:2px 6px;line-height:20px;font-weight:400}
.divTags li:nth-child(9n){background-color:#4A4A4A}
.divTags li:nth-child(9n+1){background-color:#428BCA}
.divTags li:nth-child(9n+2){background-color:#5CB85C}
.divTags li:nth-child(9n+3){background-color:#D9534F}
.divTags li:nth-child(9n+4){background-color:#567E95}
.divTags li:nth-child(9n+5){background-color:#B433FF}
.divTags li:nth-child(9n+6){background-color:#00ABA9}
.divTags li:nth-child(9n+7){background-color:#B37333}
.divTags li:nth-child(9n+8){background-color:#F60}
.divTags li:hover{opacity:.8;filter:alpha(opacity=80);color:#fff!important}
.divTags li a{color:#FFF}
.divCalendar table{width:100%;margin-top:10px;font-size:13px;table-layout:fixed}
.divCalendar caption{text-align:center;height:35px;font-weight:700;font-size:13px;line-height:35px;background-color:#fbfbfb;border:1px solid #e0e1e2}
.divCalendar caption a{color:#555}
.divCalendar th{background-color:#fbfbfb;color:#555;text-transform:uppercase;border:1px solid #e0e1e2;height:26px}
.divCalendar td{text-align:center;color:#666;border:1px solid #e0e1e2;line-height:30px}
.divCalendar td a{display:block;line-height:30px;background:#DC6460;color:#fff}
.divSearchPanel input[type=text]{width:70%;height:34px;margin-left:5px;padding-left:10px;outline:0;vertical-align:bottom;background:#fff;border:1px solid #E8E9E7}
.divSearchPanel input[type=submit]{font-size:16px;font-weight:700;color:#fff;line-height:28px;padding-left:15px;padding-right:15px;border:2px solid #e94c3d;background:#e94c3d;outline:0;cursor:pointer}
/*----------- article-container panel -----------*/
.article-container{padding: 0 20px 20px 20px; margin-bottom: 20px;background: #fff;border: 1px solid #eee;}
.article-header{padding: 20px 0 20px; border-bottom: 1px solid #e3e3e3;}
.article-padding{padding: 20px 0 0;}
.article-title{margin-top: 0; margin-bottom: 18px; font-size: 30px;line-height:36px}
@media (max-width: 768px){.article-title{margin-top: 0; margin-bottom: 18px; font-size: 20px;line-height:26px}}
.article-meta span{font-size: 13px; color: #999; margin-right: 10px; display: inline-block;}
.article-meta span a{font-size: 13px; color: #999;display: inline-block;}
.article-meta span .fa{width: 13px; display: inline-block; margin-right: 4px; font-size: 13px;}
.article-content{font-size:16px;line-height:26px; padding: 18px 0;word-wrap:break-word;}
.article-content strong{font-size:17px;line-height:26px;font-weight:bold !important}
.article-content img{margin: 5px 0;max-width:100%;height:auto}
.article-content h2, .article-content h3, .article-content h4, .article-content h5{padding:0;margin:25px 0;color: #555;font-weight:bold;}
.article-content h2{font-size:18px;line-height: 20px;font-weight:bold;border-left: 5px solid #e94c3d;padding: 0 0 0 10px;}
.article-content h3{font-size:16px;}
.article-content h4{font-size:15px;}
.article-content h5{font-size:14px;}
.article-content ul, .article-content ol{margin:0 0 18px 46px}
.article-content ul{list-style: disc;}
.article-content ol{list-style: decimal;}
.article-content li{margin-bottom: 6px;}
.article-content p{margin-bottom:26px;word-wrap:break-word}
.article-content pre{word-wrap:break-word}
.article-content table{border-top:solid 1px #ddd;border-left:solid 1px #ddd;width:100%;margin-bottom:18px}
.article-content table th{background-color:#f9f9f9;text-align:center}
.article-content table td,.article-content table th{border-bottom:solid 1px #ddd;border-right:solid 1px #ddd;padding:5px 10px}
.article-content a{color: #e94c3d;}
.article-content a:hover{color: #e94c3d;}
.article-content pre,.comment pre{margin:20px 0;font:13px/20px 'courier new';background:#272822;padding:10px 15px;color:#F8F8D4;border:none}
.article-content blockquote{margin: 30px 30px;padding: 15px 20px 1px;font-size: 16px;color: #999;border-left: 5px solid #EEE;}
.article-content blockquote p{margin:0;padding:0;margin-bottom: 10px;}
.post-copyright{margin-top: 40px; background-color: #eee; padding-right: 30px; font-size: 12px; padding: 5px 0; color: #aaa; text-align: center;}
.article-content embed{display: block;margin-left: auto;max-width: 100%;
margin-right: auto;}
.post-copyright a, .post-copyright a:hover{color: #aaa; text-decoration: none;}
.page-post .action-share{padding: 0 0 30px 0; margin-bottom: 20px; height: 50px;}
.entry-meta .social-share {text-align: center;padding-bottom: 10px;}
/*----------- content-index -----------*/
.content-index{padding:10px;border:1px solid #ddd;background:#f8f8f8;line-height:160%;max-width:30%;font-size:12px;position:relative}
.content-index-title{margin:0 0 3px 0;padding:0;font-size:130%;font-weight:700}
.content-index-toctoggle{font-size:9pt}
.content-index ul{padding:0!important;margin:0!important;list-style:none;font-size:100%}
.content-index ul li{margin-bottom:0;list-style:inside}
.content-index li a em{font-size:68%;font-style:normal;font-weight:700;padding-right:5px}
.content-index ul.children{padding-left:0;list-style:none}
/* Tooltip */
.tooltip-trigger{position:relative;text-indent: 0}
.tooltip {position: absolute;z-index: 99;display: block;visibility: visible;font-size: 12px;line-height: 20px;opacity: 0;filter: alpha(opacity=0);white-space:pre;}
.tin .tooltip-inner{background:#e94c3d;color:#fff;}
.tin .tooltip.top .tooltip-arrow{border-top-color:#e94c3d}
.tooltip.in {opacity: 0.8;filter: alpha(opacity=80);}
.tooltip.top {margin-top: -3px;padding: 5px 0;}
.tooltip.right {margin-left: 3px;padding: 0 5px;}
.tooltip.bottom {margin-top: 3px;padding: 5px 0;}
.tooltip.left {margin-left: -3px;padding: 0 5px;}
.tooltip-inner {max-width: 200px;padding: 5px 8px;color: #ffffff;text-align: center;text-decoration: none;background-color: #000000;border-radius: 4px;}
.tooltip-arrow {position: absolute;width: 0;height: 0;border-color: transparent;border-style: solid;}
.tooltip.top .tooltip-arrow {bottom: 1px;left: 50%;margin-left: -5px;border-width: 5px 5px 0;border-top-color: #000000;}
.tooltip.top-left .tooltip-arrow {bottom: 0;left: 5px;border-width: 5px 5px 0;border-top-color: #000000;}
.tooltip.top-right .tooltip-arrow {bottom: 0;right: 5px;border-width: 5px 5px 0;border-top-color: #000000;}
.tooltip.right .tooltip-arrow {top: 50%;left: 0;margin-top: -5px;border-width: 5px 5px 5px 0;border-right-color: #000000;}
.tooltip.left .tooltip-arrow {top: 50%;right: 0;margin-top: -5px;border-width: 5px 0 5px 5px;border-left-color: #000000;}
.tooltip.bottom .tooltip-arrow {top: 0;left: 50%;margin-left: -5px;border-width: 0 5px 5px;border-bottom-color: #000000;}
.tooltip.bottom-left .tooltip-arrow {top: 0;left: 5px;border-width: 0 5px 5px;border-bottom-color: #000000;}
.tooltip.bottom-right .tooltip-arrow {top: 0;right: 5px;border-width: 0 5px 5px;border-bottom-color: #000000;}
/*----------- post-tag -----------*/
.post-tag{text-align:center;    padding-bottom: 20px;}
.post-tag a{padding:4px 10px;background-color:#38A3DB;color:#fff;font-size:14px;line-height:16px;font-weight:400;margin:0 5px 5px 0;border-radius:2px;display:inline-block}
.post-tag a:nth-child(5n){background-color:#4a4a4a}
.post-tag a:nth-child(5n+1){background-color:#ff5e5c}
.post-tag a:nth-child(5n+2){background-color:#ffbb50}
.post-tag a:nth-child(5n+3){background-color:#1ac756}
.post-tag a:nth-child(5n+4){background-color:#19b5fe}
.post-tag a:hover{background-color:#1b1b1b}
/*----------- Post Navigation -----------*/
.post-navigation{ background-color: #fff;    border: 1px solid #eee;padding: 20px;margin: 0 0 20px;clear: both;overflow: hidden;}
.post-navigation div{position:relative;display:block;width:42%;color:#999;font-size:14px;}
.post-previous{float:left;padding-left:40px;}
.post-next{float:right;padding-right:40px;text-align:right;}
.post-navigation div span{display:block;color:#999;font-size:80%;}
.post-navigation div a:after{position:absolute;top:34%;margin-top:-11px;height:22px;color:#EDEDED;font-size:56px;line-height:22px;line-}
.post-previous a:after{left:0;content:'«';}
.post-next a:after{right:0;content:'»';}
/*----------- Author Widget -----------*/
#author-box {margin:20px 0;border: 1px solid #eee;background: #FCFCFC;clear: both;overflow: hidden; }
#author-box h3{padding: 10px 20px;border-bottom: 1px solid #eee; background: #fff;}
#author-box h3 span{ float: right;min-width: 160px;width: 50%;text-align: right;font-weight: normal;}
.author-info{clear: both;overflow: hidden;padding: 10px;}
.author-avatar img{float:left;margin:10px;padding:4px;width:64px;height:64px;border: 1px solid #eee;-webkit-border-radius:37px;-moz-border-radius:37px; border-radius:37px; background: #fff;-webkit-box-shadow:inset 0 -1px 0 #3333sf;box-shadow:inset 0 -1px 0 #3333sf;-webkit-transition:0.4s;-webkit-transition:-webkit-transform 0.4s ease-out;-moz-transition:-moz-transform 0.4s ease-out;transition:transform 0.4s ease-out;}
.author-avatar img:hover{border: 1px solid #ccc;-webkit-box-shadow:0 0 10px #fff; box-shadow:0 0 10px #fff;-webkit-transform:rotateZ(360deg);-moz-transform:rotateZ(360deg);transform:rotateZ(360deg);rgba(255,255,255,.6),inset 0 0 20px rgba(255,255,255,1);rgba(255,255,255,.6),inset 0 0 20px rgba(255,255,255,1);}
.author-description{padding:10px 10px 0 5px;font-size:14px;line-height:22px;}
#author-name{display: none;}
.nb{padding:12px 0;border-bottom:none;}
#archive-head .follows{width: auto;}
#archive-head .follows li {float: left;margin: 0; padding:0;width:28px;height:30px;background:none;}
.widget .nb li{padding:0;width:28px;height:30px;background:none;}
.widget .nb li.archive,.widget .nb li.donate{width:80px;}
.widget .nb li.archive a{width:78px;height:24px;background:url(../images/archive.png) no-repeat;}
.widget .nb li.donate a{width:78px;height:24px;background:url(../images/donate.png) no-repeat;}
/*----------- follows -----------*/
.follows{padding:16px 13px 16px 10px;}
.follows ul li{background: none;}
.follows li a{display:block;margin-left:4px;width:24px;height:24px;background:url(../images/social24.png) no-repeat;text-indent:-9999px;opacity:0.7;}
.follows li a:hover{opacity:1;}
.follows li.website a{background-position:0 0;}
.follows li.sina_weibo a{background-position:0 -68px;}
.follows li.qq_weibo a{background-position:0 -102px;}
.follows li.rss a{background-position:0 -238px;}
.follows li.email a{background-position:0 -170px;}
.follows li.qq a{background-position:0 -34px;}
.follows li.twitter a{background-position:0 -204px;}
.follows li.google_plus a{background-position:0 -136px;}
.follows li.archive a{width:78px;height:24px;background:url(../images/archive.png) no-repeat;}
.follows li.donate a{width:78px;height:24px;background:url(../images/donate.png) no-repeat;}
.follows li{display:inline;float:left;margin-right:4px;height:24px;text-align:center;line-height:190%;}
/*----------- relates -----------*/
.relates{padding:20px;margin-bottom:20px;background:#fff;border:1px solid #eee}
.title{margin-bottom:10px;overflow:hidden}
.title h3{font-size:15px;font-weight:500;margin:0;float:left}
.relates ul{list-style:disc;margin-left:20px;color:#999}
.relates li{margin-top:15px;list-style:inherit}
.relates time{font-size:12px;margin-left:20px;color:#bbb}
.widget-box{position:relative;clear:both;margin-bottom:20px;background:none repeat scroll 0 0 #fff}
.user-center{overflow:hidden;width:100%;border:1px solid #eee}
#user-left{float:left;padding-bottom:10px;width:17.9%}
#user-left .user-avatar{padding:15px;text-align:center}
#user-left .user-avatar img{padding:5px;max-width:100px;max-height:100px;width:98%;height:auto;border:1px solid #eee;-webkit-border-radius:100px;-moz-border-radius:100px;border-radius:100px;-webkit-box-shadow:inset 0 -1px 0 #3333sf;box-shadow:inset 0 -1px 0 #3333sf;-webkit-transition:.4s;-webkit-transition:-webkit-transform .4s ease-out;-moz-transition:-moz-transform .4s ease-out;transition:transform .4s ease-out}
#user-left .user-avatar img:hover{border:1px solid #ccc;-webkit-box-shadow:0 0 10px #fff;box-shadow:0 0 10px #fff;-webkit-transform:rotateZ(360deg);-moz-transform:rotateZ(360deg);transform:rotateZ(360deg)}
#user-menu li{padding:12px 10px;text-align:center}
#user-menu li.current-menu-item{margin:0 -1px;border-left:5px solid #e94c3d;background:#EEE}
#user-menu li.current-menu-item a{margin-left:-5px;color:#e94c3d}
#user-menu li i{margin-right:5px}
#user-right{float:left;overflow:hidden;margin:0;padding:10px 1.333333%;min-height:600px;width:82%;border-bottom:none;border-left:1px solid #E1E1E1;background:#fff}
.widget-content{position:relative;z-index:1;padding:10px 15px;border-bottom:1px solid #E1E1E1}
#user-right #archive-head{margin:0 -15px;padding:10px 15px;border-bottom:1px solid #E1E1E1;background:#fff}
#archive-head h1{margin-bottom:10px;font-size:20px}
#archive-head .rss-cat-icon i{color:#F74D4D}
#user-right .post-count{padding:15px 10px;border-bottom:1px solid #eee;font-weight:700}
.archive-simple{padding:10px 0;border-bottom:1px solid #eee}
#user-right .archive-simple h2{font-size:14px;padding-left:5px;line-height:40px}
.archive-simple h2{display:inline-block;overflow:hidden;margin:0;width:60%;text-overflow:ellipsis;white-space:nowrap;font-weight:400;font-size:16px;line-height:28px}
.archive-simple h2 a i{margin-right:5px}
.archive-simple p.post-meta{float:right;width:36%}
.post-meta{margin:10px 0;line-height:20px}
.archive-simple span{margin-right:5px}
.post-meta span{margin-right:10px;color:#999}
.post-meta span i{margin-right:3px}
/*----------- commentlist -----------*/
.mkcomments{padding: 20px;margin-bottom: 20px;    background: #fff;    border: 1px solid #eee;}
.commentlist .msg{padding-top:10px}
ul.msg{width:100%;margin-bottom:5px}
ul.msg li{width:100%;overflow:hidden;clear:both;margin:0;padding:0;list-style:none}
.msgarticle{padding:10px 2px}
.avatar{float:left;box-shadow:0 1px 1px rgba(255,255,255,.75);position:relative;-webkit-border-radius:3px;border-radius:3px;background-color:#fff;margin-right:15px}
.avatar img{width:50px;height:50px;border-radius:27px;-webkit-border-radius:27px;-moz-border-radius:27px;box-shadow:inset 0 -1px 0 #3333sf;-webkit-box-shadow:inset 0 -1px 0 #3333sf;-webkit-transition:.4s;-webkit-transition:-webkit-transform .4s ease-out;transition:transform .4s ease-out;-moz-transition:-moz-transform .4s ease-out}
.avatar img:hover{box-shadow:0 0 10px #fff;-webkit-box-shadow:0 0 10px #fff;transform:rotateZ(360deg);-webkit-transform:rotateZ(360deg);-moz-transform:rotateZ(360deg)}
.comment-body{position:relative;margin-left:62px;border:1px solid #ddd;padding:0 10px 10px!important;border-radius:2px}
.comment-body:before{border-right-color:#dedede!important;z-index:1}
.comment-body:after{border-right-color:#f8f8f8!important;margin-left:1px;z-index:2}
.comment-body:after,.comment-body:before{position:absolute;top:8px;left:-8px;right:100%;width:0;height:0;display:block;content:" ";border-color:transparent;border-style:solid solid dotted;border-width:8px 8px 8px 0;pointer-events:none}
.comment-header{background-color:#f8f8f8;padding:10px;margin-left:-10px;margin-right:-10px;border-bottom:1px solid #eee;font-weight:500;margin-bottom:10px;font-size:14px}
.comment-header a{color:#999;font-size:13px;margin-right:8px}
.comment-body p{font-size:13px;color:#000;line-height:2em;margin:.5em 0;word-wrap:break-word}
.comment-footer{margin-top:15px;font-size:13px;line-height:1.5em}
.comment-time{font-size:12px;margin-right:8px;color:#999}
.post-reply{font-size:12px;color:#999}
ul.children,.msgname .msgname{margin-left:38px}
ul.children .avatar,ul.children .avatar img,.msgname .msgname .avatar,.msgname .msgname .avatar img{width:30px;height:30px;margin-left: 8px;}
#divCommentPost p.posttop{position:relative;z-index:5;font-size:12px;padding:8px 0;width:100%;clear:both;overflow:hidden}
#divCommentPost p a{float:right;line-height:1.5em;margin-right:6px;cursor:pointer;text-decoration:none;color:#777}
#divCommentPost p.posttop small{float:right;position:relative;font-size:12px;cursor:pointer;text-align:right;line-height:18px;padding-bottom:3px;width:75px}
.pinglun{width:auto;font-size:12px;z-index:3;margin:8px 0;padding:0 0 0 60px;position:relative;clear:both;padding:0;margin:0;vertical-align:baseline;font:inherit;line-height:inherit;background:0 0;width:auto;float:none;transition:none;overflow: hidden;}
.textarea-wrapper{border: 1px solid #ddd;background: none;border-radius: 3px;}
.rounded-top{-webkit-border-top-right-radius:3px;-webkit-border-top-left-radius:3px;border-top-right-radius:3px;border-top-left-radius:3px}
#txaArticle{position:relative;z-index:1;border:0;border-bottom:none;padding-right:24px;overflow:hidden;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;box-shadow:none;-webkit-appearance:none;overflow:auto;padding:10px;height:140px;min-height:140px;margin:0;resize:none;outline:0;/*color:#B3B3B3;*/width:100%;min-width:100%;font-family:"STHeiti Light",华文细黑,"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",STHeiti,MingLiu}
.post-toolbar{margin-top: 10px;overflow: hidden;float: right;}
input.button{float:right;height:32px;width:100px;text-align:center;font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;text-shadow:none;font-weight:700;border:none;color:#FFF;background-color:#e94c3d;    border-radius: 2px;background-image:none;box-shadow:none;cursor:pointer}
input.button:hover{background:#8463A9;}
.post-terinfo{padding:20px 0 0;color:#777}
.post-terinfo ul li{margin-bottom:5px;text-align:center}
input.text{margin-right:10px;position:relative;border:none;    border: 1px solid #ddd;border-radius:2px;height:35px;padding:3px 5px;outline:0;color:#B3B3B3;width:220px;box-shadow:none}
.post-terinfo ul li label{color:#B3B3B3}
#inpVerify{width: 126px;margin-right: 0px;}
/*CommentPost-navigation*/
.navigation{text-align:right;padding:10px;clear:both;line-height:1em}
.navigation nav a,.navigation nav>span{cursor:pointer;text-decoration:none;color:#777;font-size:12px;margin:0 3px;padding:2px 5px;border:1px solid transparent;-webkit-border-radius:3px;border-radius:3px;background-color:rgba(0,0,0,.03)}
.navigation nav>span{font-weight:700;color:#00B5EE}
.navigation ul{display:inline-block;margin-left:0;margin-bottom:0}
#infscr-loading,#infscr-loading div{position:absolute;bottom:10px;width:100%;text-align:center;font-size:1.5em;font-weight:700;color:#3498db}
/*----------- search -----------*/
.archive-search h1{font-size:20px}
.archive-search,.post-search p{margin-bottom:20px;padding:20px;overflow:hidden;background-color:#fff;border:1px solid #eee;border-radius:2px;-webkit-transition:all .4s ease;transition:all .4s ease;position:relative}
.post-search p:hover{box-shadow:0 0 8px rgba(46,143,237,.3)}
.post-search p a:first-child{font-size:18px;line-height:30px}
.post-search p a:hover{color:#e94c3d}
.post-search p strong{color:#e94c3d}
/*----------- gotop -----------*/
#gotop{position:fixed;right:30px;bottom:50px;z-index:1000}
#gotop span{cursor:pointer;background:rgba(0,0,0,.2);width:36px;height:36px;color:#fff;display:block;position:relative;margin:5px 0}
#gotop span i{text-align:center;color:#fff;width:36px;height:36px;font-size:20px;font-style:inherit;line-height:36px;position:absolute;top:50%;left:50%;margin-top:-18px;margin-left:-18px}
#gotop a{color:#fff;display:block;cursor:pointer}
#gotop span:hover{background:#777}
/*browsehappy*/
#browsehappy{padding:.9em 0;border-bottom:1px solid #ddd;background:#FFF7D3;color:#aa6800;text-align:center;font-family:arial,sans-serif;font-size:14px}
#browsehappy a{padding:4px;color:#008DFD}
#browsehappy a:hover{text-decoration:underline}
/*----------- ADS -----------*/
.ads{background-color: #fff;border: 1px solid #eee;padding: 15px;margin-bottom: 20px;overflow: hidden;}
/*----------- footer -----------*/
.footer{margin-top:25px;padding:15px 0;width:100%;background:#333;color:rgba(204,204,204,1);clear:both}
.footer a{color:rgba(204,204,204,1)}
.footer-ju{max-width:1160px;margin:0 auto;background:#333;color:rgba(204,204,204,1);position:relative;overflow:hidden}
.footer-ju p{text-align:center}
.link{max-width:1160px;margin:0 auto;margin-top:10px;margin-bottom:20px}
.link span{float:left;font-size:14px}
.link ul li{display:inline;padding:0 5px}
/*----------- media -----------*/








@media screen and (max-width:980px){
.title_n{ display: block; font-size: 18px;color: #FFF; background-color: #000; width: 100%; height: 46px; text-align: center; padding-top:10px;}
.header{height:auto;background:0 0}
.fixed {position: inherit;}
.containe{display:none}
.header-nav{background:#e94c3d}
.header .moble-bars{display:block;line-height:28px;font-size:14px;color:#fff;padding:10px;border-bottom:0}
.header .moble-bars i{font-size:22px;padding-top:5px}
.navbar{display:none;width:150px;position:absolute;top:50px;left:20px;border-top:3px solid #e94c3d;overflow:inherit!important;z-index:99999}
.navbar li{width:100%;height:30px;line-height:30px;background:#4c4c4c;float:none;border-bottom:1px solid #353535;border-top:1px solid #5F5F5F;text-align:center}
.navbar li a{display:inline-block;width:100%;background:#4c4c4c;height:auto;color:#fff;font-size:14px;padding:0}
.navbar li a:hover{background-color:#575757}
.navbar li>ul{top:-1px;border-top:none;right:100%}
.header menu>div>ul>li>ul{position:relative;width:100%;top:-145%;right:-100%;text-align:center;display:none}
.header menu>div>ul>li>ul>li a{color:#fff}
.pull-right{margin-top:-42px}
.pull-right form input{height:32px}
.pull-right form button{top:6px}
.sidebar{display:none}
.article{margin-right:0}
.footer-ju,.link{padding:0 20px 0 20px}
#user-left,#user-right{float:none;width:100%}
}
@media screen and (max-width:640px){.post-text{display:none}
.post-img{width:160px;height:97px}
.loading{min-height:97px}
.post-navigation div{width:100%}
#user-right .archive-simple p{display:none}
}
@media screen and (max-width:480px){.pull-right{margin-top:-42px;padding-right:10px}
.breadcrumb{padding:0 10px}
.pull-right form button{right:20px}
.navbar{left:10px}
.container{padding:0}
.slider .slideBox{margin-bottom:0;background:#fff;padding:10px;border:0;border-bottom:1px solid #eee}
.slideBox .hd{bottom:10px}
.slideBox .next,.slideBox .prev{display:none!important}
.archive-head {margin-bottom: 0;padding: 10px;border-bottom: 1px solid #eee;}
.post{margin-bottom:0;padding:10px;border:0;border-bottom:1px solid #eee;position:relative}
.post:hover{box-shadow:0}
.post-img,.post-img img{width:100px;height:68px}
.loading{min-height:68px}
.post header h2{padding-bottom: 0px;font-size:16px}
.post footer {margin: 5px 0 0;}
.post footer .time i,.post footer span,.post-img .mask-tags{display:none}
.post footer .time{display:block;font-size:12px}
.article-container{padding:0 10px;margin-bottom:10px}
.post-navigation{padding:10px;margin:0 0 10px}
#author-box{margin:10px 0}
#author-box h3{padding:10px}
.author-info{padding:0 0 10px 0}
.relates{padding:10px;margin-bottom:10px}
.mkcomments{padding:10px;margin-bottom:10px}
.ads{display:none}
.footer-ju,.link{padding:0 10px 0 10px}
}
/*-- Copyright --*/

.copyright{
	background: #E94C3D;
	color: #fff;
	padding: 15px 0;
	position: relative;
	z-index: 1;
	font-weight: 500;
	font-size: 13px;
}
.copyright a{
	color: #fff;
}

.footer-menu{
	float: right;
}

.footer-menu ul li{
	display: inline-block;
	line-height: 12px;
	padding-left: 12px;
}

.footer-menu ul.nav li a{
	background: none;
	color: #fff;
	padding: 0;
}

.content {
	font-size: 14px;
}
.content p {
	margin-bottom: 20px;
	text-indent: 36px;
}
.content img {
	margin: 0 auto;
	max-width: 100%;  display: block;

}
.link_tb li {float: left;	width: auto;argin: auto 10px;}
/** 内容 **/
.post-con blockquote{position:relative;margin:0px;background-color:rgba(0,0,0,0.05);padding:25px;padding-left:56px;margin-bottom:30px}
.post-con blockquote:before{content:'“';position:absolute;top:-9px;left:16px;font-family:"Arial";font-size:80px;color:rgba(0,0,0,0.15)}
.post-con blockquote p:last-child{margin-bottom:0px}
.post-con{line-height:1.8;font-size:17px !important;position:relative;color:#333;color:rgba(0,0,0,0.8) !important;font-style:normal !important}
.post-con strong{font-weight:bold !important}
.post-con p,.post-con span{font-size:16px !important;color:#333;color:rgba(0,0,0,0.6) !important;font-style:normal !important}
.post-con em,.post-con i{font-style:normal !important}
.post-con a{color:#dd5f0d !important;border-bottom:1px dotted #dd5f0d}
.post-con a>*{color:#dd5f0d !important}.post-con a:hover{border-style:solid}
.post-con h2{border-left:6px solid rgba(0,0,0,0.8);padding-left:12px;font-size:18px !important;font-weight:bold;line-height:normal;margin-bottom:30px}
.post-con h3{font-size:18px;font-weight:bold;margin-bottom:30px}
.post-con ul{padding-left:50px}
.post-con ul li{position:relative}
.post-con ul li:before{content:'';position:absolute;width:20px;height:20px;background-image:url(../images/controller-play.png);background-repeat:no-repeat;left:-28px;top:2px;display:inline-block;background-size:70%;background-position:center}
.post-con ol{padding-left:50px}.post-con ol li{list-style-type:decimal}
.post-con iframe,.post-con video,.post-con embed{width:100%;height:498px}
.post-con p{margin-bottom:20px}
/*.post-con img{width:100%}*/
@media (max-width: 768px){.single-footer{display:block}.post-con .post-footer-wx{margin:50px 0 !important}.post-con .post-footer-wx img{width:80px !important}.post-con .post-footer-wx .qr-des{left:125px}}@media (max-width: 480px){.post-con .post-footer-wx .qr-des span:first-child{display:block;}}
@media (max-width: 480px){.post-con img{width:100% !important}.post-con ul,.post-con ol{padding-left:20px}}
@media (max-width: 767px){.hidden-xs{display:none !important}.btns{opacity:1 !important}}
@media (max-width: 767px){.head-left img{width:160px;height:auto}}
@media(max-width:767px){.hidden-xs{display:none !important}}
@media(min-width:768px){.page-ajax{display:none !important}}

.post-tags{text-align:left}.post-tags a{background-color:rgba(0,0,0,0.05);border-radius:3px;padding:4px 12px;margin-right:10px;margin-bottom:10px;font-size:13px;color:rgba(0,0,0,0.42);display:inline-block;border:1px solid rgba(0,0,0,0.03)}.post-tags a:hover{background-color:rgba(0,0,0,0.1);color:rgba(0,0,0,0.5)}

/** 百度地图调用样式 **/
#dituContent .bottom{ background-image: none; border:0 ;}
#dituContent img { max-width:inherit; }
#dituContent .pop .bottom { padding:0;}
#dituContent .iw_poi_title { color:#cc5522; font-size:16px; font-weight:bold; overflow:hidden; padding-right:13px; white-space:nowrap; }
#dituContent .iw_poi_content { font-size:13px; overflow:visible; padding-top:4px; white-space:-moz-pre-wrap; word-wrap:break-word; }

/** 分页 **/
#pages { padding:14px 0 10px; margin-top:20px;text-align:center }
#pages a { display:inline-block; height:38px; line-height:38px; background:#fff; border:1px solid #e3e3e3; text-align:center; color:#333; padding:0 15px}
#pages a.a1 { background:url(../images/pages.png) no-repeat 0 0; width:56px; padding:0 }
#pages a:hover { background:#f1f1f1; color:#000; text-decoration:none }
#pages span { display:inline-block; height:38px; line-height:38px; background:#E94C3D; border:1px solid #E94C3D; color:#fff; text-align:center;padding:0 15px}
#pages{
    display: block;
}
.page .noPage { display:inline-block; width:56px; height:38px; line-height:38px; background:url(../images/titlebg.png) repeat-x 0 -55px ; border:1px solid #e3e3e3; text-align:center; color:#a4a4a4; }

.panel-footer-index{padding:10px 15px;background-color:#ffcaca;border-top:1px solid #ddd;border-bottom-right-radius:3px;border-bottom-left-radius:3px;margin-bottom:20px;margin-right:370px}
.panel-footer{padding:10px 15px;background-color:#ffcaca;border-top:1px solid #ddd;border-bottom-right-radius:3px;border-bottom-left-radius:3px;margin-bottom:20px;}
@media(max-width:767px){.panel-footer{padding:10px 15px;background-color:#ffcaca;border-top:1px solid #ddd;border-bottom-right-radius:3px;border-bottom-left-radius:3px;margin-bottom:20px;margin-top:20px;text-align:center;max-width:100%;}}

@media(max-width:767px){.copyright{margin:0 auto;width:100%;text-align:center;}}
.img_wrapper{text-align:center}
.img_wrapper img{display: block; margin: 0 auto; max-width: 640px;}
.img_descr{line-height:20px;padding:6px 0;font-size:12px;margin:5px auto;display:inline-block;display:-moz-inline-stack;zoom:1;text-align:left}
.wt_article_link{color:#4996C7;}
.entry-copyright {margin-top: 30px;padding: 15px;font-size: 12px;line-height: 1.6;color: #999;border: 1px solid #efefef;background: #fbfbfb;border-radius: 2px;}